<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <div class="back-btn-wrapper">
                                    <back-button :text="'Back'" :route="'index'"></back-button>
                                </div>
                            </div>
                        </div>                     
                        <div class="row mt-4 p-2 m-0">
                            <data-table
                                :columns="data.columns"
                                :showPagination="false"
                                :showSearch="false"
                                :userFriendlyMode="false"
                                :showFilter="false"                              
                                >
                                <tbody>
                                    <tr>
                                        <template v-for="(testResult, index) in testResults">
                                            <td  :key="index" >
                                                <div v-if="testResult.examinees.length">
                                                    <div v-for="(examinee, i) in testResult.examinees" :key="i">
                                                        <span class="name">{{ makeSurnameInitial(examinee.fullname) }}<i v-if="examinee.percent_score == 100" class="perfect la la-star la-spin"></i><span class="score">{{ examinee.percent_score }}</span></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </template> 
                                    </tr>
                                </tbody>
                            </data-table> 
                        </div>                                            
                    </div>
                </div>
            </div>
        </page-content>        
    </div>
</template>

<script>
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import DataTable from '@components/datatable.vue'

    import { mapActions, mapGetters } from 'vuex'

    import DataTableMixin from '@common/mixin/DataTableMixin';
    export default {
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Certification Leaderboard',
                testResults: [],
                data: {
                    columns:[]
                }
            }
        },
        components: {
            BackButton,
            PageContent,
            PageHeader,
            DataTable            
        },
        mixins: [
            DataTableMixin
        ],
        async created() {
            this.initialize();            
        },
        computed: {
            ...mapGetters({
               hackerRankTestResults:'hackerRankTestResult/data',
			   meta:'hackerRankTestResult/meta',
            })
        },
        methods: {
            ...mapActions({
                getTestResults: 'hackerRankTestResult/getTestResults'
            }),
            async initialize() {

                await this.getTestResults({ query:{ take: 999999 ,orderBy: 'percent_score|desc'} });
                this.testResults = this.hackerRankTestResults;

                if (this.testResults) {
                    this.testResults = this.testResults.filter((testResult) => {
                        return testResult.percent_score >= 50 && testResult.skill_name != '';
                    });

                    this.testResults = _.groupBy(this.testResults,'skill_name');

                    this.testResults = _.map(this.testResults, (testResult, i) => (
                        { 
                            skill_name: i,
                            link: _.head(testResult).test_url,
                            examinees: _.map(testResult, ({ ...examinee, fullname, percent_score }) => ({  fullname:fullname, percent_score }))
                        }
                    ));
                    
                    let columns = [];                    
                    this.testResults.forEach((testResult, i) => {
                        // Set table columns                        
                        let _label = testResult.link != '' ? '<a target="_blank" href="'+testResult.link +'" title="Take the '+ testResult.skill_name +' certification exam" class="test_url"><p>'+testResult.skill_name+'</p><span>'+ testResult.examinees.length + ' Certification Passers</span></a>' 
                            : '<p>' + testResult.skill_name + '</p><span>'+ testResult.examinees.length + ' Certification Passers</span>';
                            
                        columns.push({ key: `test-result` + i, label: _label, width: '40px' });
                        
                        // If person having more than one test result of specific skill, remove other exams then retain the highest score. 
                        let noDuplicate = [];

                        testResult.examinees.forEach((examinee) => { 
                            if (!_.find(noDuplicate, {fullname: examinee.fullname})) {
                                noDuplicate.push(examinee);                                    
                            } else {
                                noDuplicate.forEach((item) => {             
                                    if (item.percent_score >= examinee.percent_score) {
                                        item.percent_score = item.percent_score;
                                    } else if (item.percent_score < examinee.percent_score) {
                                        item.percent_score = examinee.percent_score;
                                    }
                                });
                            }
                        })

                        testResult.examinees = noDuplicate;                        
                    });

                    this.data.columns = columns;
                }
            },
            makeSurnameInitial(fullname) {
                let n = fullname.split(" ");
                let surnameInitial = n[n.length - 1].charAt(0) + ".";
                    n = n.splice(0, n.length - 1);
                    n = n.join(" ");
                return n + " " + surnameInitial;
            }
        }
    }
</script>

<style lang="scss">
    .filter-wrapper {
        display: none !important;
    }
    .name {
        position: relative;
        padding: 6px;
        background: #50ae55;
        margin: 11px 5px;
        display: block;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        white-space: nowrap;
    }
    .score {
        color: rgba(255,255,255,0.1);
        position: absolute;
        top: -8px;
        right: 6px;
        font-size: 34px;
    }
    .perfect {
        color: #f8f80d;
        position: absolute;
        top: -11px;
        right: -8px;
        font-size: 30px;
        text-shadow: 0px 1px 3px #585d5b;
    }
    table.dataTable.table-bordered th {
        padding: 0px;
    }
    thead tr:first-child th {
        color: #708aa2;
        font-size: 17px;
        background: #e8e8e8;
        p {
            margin: 10px 0 0 0;
        }
        span {
            font-size: 12px;
            font-weight: normal;
            color: #495057;
            width: 100%;
            display: inline-block;
        }
    }
    tr {
        text-align: center;
    }
    .test_url p{
        text-decoration: underline;
    }
    .test_url:hover p{
        color:  #32c239 !important;
    }
</style>
