<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" :closeButtonText="closeBtnTxt" @close="closeModal">
		<template slot="button">
            <button class="btn btn-info color-info" @click.prevent="setStatus('approved')">Approve</button>
            <button class="btn btn-warning color-warning" @click.prevent="setStatus('declined')">Decline</button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">Name</label>
                        <div class="col-sm-12">
                            <strong>{{responseData.primary_name}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">Company</label>
                        <div class="col-sm-12">
                            <strong>{{responseData.company}}</strong>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">Email</label>
                        <div class="col-sm-12">
                            <strong>{{responseData.primary_email}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">Project Needed</label>
                        <div class="col-sm-12">
                            <strong>{{responseData.needed_at}}</strong>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">Are you the primary POC for this project?</label>
                        <div class="col-sm-12">
                            <strong v-if="responseData.detailsLen <= 1">Yes</strong>
                            <strong v-else>No</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="responseData.detailsLen == 2" class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">POC Name</label>
                        <div class="col-sm-12">
                            <strong>{{responseData.secondary_name}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">POC Email</label>
                        <div class="col-sm-12">
                            <strong>{{responseData.secondary_email}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">What kind of project?</label>
                        <div class="col-sm-12">
                            <strong>{{responseData.project}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">Where is this going?</label>
                        <div class="col-sm-12">
                            <strong>{{responseData.purpose}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="responseData.files" class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label">Uploaded Files</label>
                        <div class="col-sm-12">
                            <ul>
                                <li v-for="(fileNew, fileNewIndex) in responseData.files" :key="fileNewIndex">
                                    <a href="#" @click.prevent="getResponseDetailFile(path+fileNew.file)" title="Click to download this file.">
                                    <i class="la la-file"> {{fileNew.file}}</i>
                                    </a>
                                </li>
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="col-sm-12"><p>Overview of the project.</p></div>
                        <div class="col-sm-12 font-weight-bold" v-html="responseData.overview"></div>
                    </div>
                </div>
            </div>
            
        </template>
    </modal-dialog>
</template>

<style scoped>
.file-container ul {
    margin:0;
    padding:0;
}
.file-container ul li{
  list-style: none;
}
</style>

<script>
    import _ from 'lodash';
    import ModalDialog from '@components/modal-dialog.vue';
    // Mixins
    import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
    import AlertMixin from '@common/mixin/AlertMixin';
    import AssetMixin from "@common/mixin/AssetMixin";
    import DownloadMixin from "@common/mixin/DownloadMixin";
    // Getters/Mappers
    import { mapActions, mapGetters } from 'vuex';
    //Models
    import { Asset } from '@common/model/Asset';

	export default {
		props: {
            info: { type: Object, required: true},
            responseData: { type: Object, required:false},
            option: { type: Object, required: false}
		},
		data() {
			return {
               results: {},
               loading: false,
               closeBtnTxt: 'Close',
               forms:{},
               path: 'storage/creative-services/'
            }
        },
        watch: {
             responseData: function(val) {
                return val;
             }
        },
        computed: {
			...mapGetters({
                creativeServiceApplicants: 'creativeServiceApplicants/data',
                loggedInUser: 'auth/data'
			})
		},
        methods : {
            ...mapActions({
                getCreativeServiceApplicants: 'creativeServiceApplicants/getCreativeServiceApplicants',
                saveCreativeRequestStatus: 'creativeServices/saveCreativeService',
            }),
            async setStatus(status) {
                let project = this.responseData.project;
                let project_array = project.split(",");
                let purpose = this.responseData.purpose;
                let purpose_array = purpose.split(",");
                    project = JSON.stringify(project_array);
                    purpose = JSON.stringify(purpose_array);
                let toSaveData = {
                    id: this.responseData.id,
                    company: this.responseData.company,
                    overview: this.responseData.overview,
                    project: project,
                    purpose: purpose,
                    needed_at: this.responseData.needed_at,
                    status: status
                };

                await this.saveCreativeRequestStatus(toSaveData).then((res) => {
                    this.$emit('success');
					setTimeout(() => {
						this.closeModal();
			    		this.loading = false;
						this.notifyDialog('success', 'Successfully saved!');
					},150);
                });

            },
            getResponseDetailFiles(id) {
                return new Promise(async (resolve) => {
                    let dataResult = await Asset.get({assetable_id: id});
                    resolve(dataResult);
                });
            },
            getResponseDetailFile(path) {
                this.downloadFile(path, path);
            },
            capitalizeFirstLetter(string) {
                let re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(re.test(string)) {
                    return string;
                }
                return string.replace(/^./, string[0].toUpperCase());
            }
        },
        components: {
            ModalDialog
	    },
        mixins: [
			DataTableMixin,
	        ModalDialogMixin,
			StringHelperMixin,
            AlertMixin,
            AssetMixin,
            DownloadMixin
	    ]
	}
</script>
