<template>
	<modal-dialog v-show="openModal" :options="option" :closeButtonText="'Close'" :title="info.name" @close="closeModal">
        <template slot="body">
            <div class="row">
				<div class="col-md-12">
                    <div class="form-group">
						<div class="row">
							<label class="col-md-2 font-weight-bold">Reporter: </label>
							<div class="col-md-10">
								{{ info.report.reporter}}
							</div>
						</div>
                	</div>
				</div>
                <div class="col-md-12">
                    <div class="form-group">
						<div class="row">
							<label class="col-md-2 font-weight-bold">Report Date: </label>
							<div class="col-md-10">{{ formatDate(info.report.date, "MMM DD, YYYY") }}</div>
						</div>
                	</div>
				</div>
                <div class="col-md-12">
                    <div class="form-group">
						<div class="row">
							<label class="col-md-2 font-weight-bold">Client: </label>
							<div class="col-md-10">{{ info.report.client }}</div>
						</div>
                	</div>
				</div>
                <div class="col-md-12">
                    <div class="form-group">
						<label class="font-weight-bold">Content:</label>
						<div class="row">
							<div class="col-md-12" style="white-space:pre-line;">
								<ul>
								<template v-for="(question, i) in info.questions">
									<li v-if="question.parent_id == 0" :key="i" class="font-weight-bold">{{question.weekly_floor_question}}</li>
									<span v-else :key="i" class="font-weight-bold">{{question.weekly_floor_question}}</span>
									<p v-if="question.is_red == 1 && question.red_answer.toUpperCase() == getAnswersByQuestionId(question.id).toUpperCase()" class="red-label">{{getAnswersByQuestionId(question.id)}}</p>
									<p v-else >{{getAnswersByQuestionId(question.id)}}</p>
								</template>
								</ul>
							</div>
						</div>
                	</div>
				</div>
            </div>
        </template>
    </modal-dialog>
</template>
<style scoped>
	ul.attach-listing {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul.attach-listing li {
		display: block;
	}
	.red-label {
		color:#FF0000;
	}
</style>
<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';

	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import DateMixin from '@common/mixin/DateMixin';
	import DownloadMixin from "@common/mixin/DownloadMixin";

	//Models
    import { EmployeeReportsFile } from '@common/model/EmployeeReportsFile';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		props: {
			info: { type: Object, required: true }
		},
		data() {
			return {
				option: { width: '700px' },
                button: { class: 'btn btn-primary',type: 'button' },
			}
        },
        computed: {
		},
		async created() {
		},
		methods: {
			getAnswersByQuestionId(id){
				let answer = _.find(this.info.answer,['weekly_floor_question_id',id]);
				return _.isEmpty(answer.weekly_floor_answer) || answer.weekly_floor_answer == " " ? "N/A" : answer.weekly_floor_answer;
			},
		},
		components: {
	        SaveButton,
			ModalDialog
	    },
	    mixins: [
	        ModalDialogMixin,
			StringHelperMixin,
			DateMixin,
			DownloadMixin
	    ]
	}
</script>