<template>
    <div v-if="!data.is_hidden">
        <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            description=""
            label-for="input-horizontal"
            :label="data.label"             
        >
            <b-input-group class="mb-2">
                <b-input-group-prepend is-text>
                    <span class="checkbox-label">Senior</span>
                    <b-form-checkbox class="mr-n2">
                        <span class="sr-only">Checkbox for following text input</span>
                    </b-form-checkbox>
                </b-input-group-prepend>
                <b-form-input aria-label="Text input with checkbox"></b-form-input>
            </b-input-group>
        </b-form-group>
        <!-- <b-form-group
        id="fieldset-horizontal"
        label-cols-sm="4"
        label-cols-lg="3"
        description=""
        label-for="input-horizontal"
        :label="data.label"             
        >
            <b-form-input v-model="value" :placeholder="placeholder" :id="`text-${data.id}`" :name="`text-${data.id}`" @input="updateValue"></b-form-input>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                {{data.label}} is required.
            </b-form-invalid-feedback>
        </b-form-group> -->
    </div>
</template>

<style lang="scss" scoped>
    .checkbox-label {
        margin-right: 5px;
        font-size: 12px;
    }
    .custom-control.custom-checkbox, .custom-select {
        font-size: 12px;
    }
</style>

<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null              
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            },
        },
        computed: {
            placeholder: function() {
                return `Enter ${this.data.label}`;
            },
            validation() {
                this.isValid = this.value != '';
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            }
        },        
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
