<template>
    <div v-if="!data.is_hidden">
        <span v-if="!data.is_hidden && data.label && data.label != ''" class="field-label"><label :for="`radio-${data.id}`"  v-html="data.label"></label><span v-if="showAsterisk" class="required">*</span></span> 
        <b-form-group
            :description="data.description"
        >
            <b-form-checkbox-group
                v-model="value"
                :options="data.options"
                :name="name"             
                @input="updateValue"
            ></b-form-checkbox-group>
            <b-form-invalid-feedback v-if="validation">
                Checkbox is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>
<style lang="scss">
    .checkbox-card {
        div > fieldset > div > div[role=group] {
            border: 1px solid #dedede;
            min-height: 90px;
            padding: 10px;
            text-align: left;
            div.custom-checkbox {
                margin: 6px;
            }
        }
    }
    .checkbox-card.card-header-bg-gray {
        div > fieldset > legend.col-form-label {
            width: 100%;
            padding: 4px !important;
            background: #898989;
            color: #fff;
        }
    }
    .checkbox-card.card-header-bg-green {
        div > fieldset > legend.col-form-label {
            width: 100%;
            padding: 4px !important;
            background: #4cb050;
            color: #fff;
        }
    }     
</style>

<script>
    export default {
        data() {
            return {
                value: [],
                isValid: false,
                isRequiredField: null,
                showAsterisk: null
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        methods: {
            updateValue() {
                this.validation();
                this.$emit('update', this.data.id, this.value);
            },
            validation() {
                this.isValid = this.value.length > 0; 
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            }
        },
        computed: {
            name: function() {
                return `form-select-${this.data.name}`;
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
            this.showAsterisk = this.data.show_asterisk;
        },
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
