<template>
    <div v-if="!data.is_hidden" class="checkbox-select-field multiple row">  <span class="main-label" v-html="data.label"></span>      
        <b-form-group
            v-for="(element, index) in data.group_setting" :key="index"
            label-for="input-horizontal"
            class="fieldset-horizontal"
            :description="element.description"            
            :label="element.label"
            :class="element.class"            
        >           
            <b-input-group>
                <b-input-group-prepend is-text>                   
                    <b-form-checkbox 
                        class="mr-n2" 
                        v-model="checkboxValue[index]"                         
                        :name="`checkboxfield-${data.id}-${element.id}`"
                        @input="updateValue('checkbox',  index, element.id)"
                    >
                        <span class="sr-only">Checkbox for following text input</span>
                    </b-form-checkbox>
                    <span class="checkbox-label" v-html="element.checkbox_label"></span>
                </b-input-group-prepend>
                <b-form-select
                    class="mb-3"                    
                    v-model="selectValue[index]"
                    :options="element.options"
                    :name="`selectfield-${data.id}-${element.id}`" 
                    @change="updateValue('select',  index, element.id)"                    
                >
                </b-form-select>                
            </b-input-group>
        </b-form-group>
        <b-form-invalid-feedback v-if="showErrorMsg" :state="isValidated">
            {{ errorMsg }}
        </b-form-invalid-feedback>
        
    </div>
</template>

<style lang="scss" scoped>
    .checkbox-select-field {
        .checkbox-label {
            margin-right: 5px;
            font-size: 12px;
        }
        .custom-control.custom-checkbox, .custom-select {
            font-size: 12px;
            margin-right: 0px !important;
        }
        .input-group, .custom-select {
            min-height: 38px;
        }
        .input-group-text {
            height: 38px;
            position: relative;
        }
        ::placeholder {
            color: #ccc;
        }
        .invalid-feedback {
            position: absolute;
            bottom: 6px;
            left: 20px;
        }
    }
</style>

<style lang="scss">
    .checkbox-select-field.multiple {
        background: #f2f3f5;
        padding: 20px 5px 5px;
        border-radius: 3px;
        margin: 26px 0 20px 0;
        position: relative;
        small.form-text {
            margin-top: -10px;
        }
        .main-label {
            position: absolute;
            top: -28px;
            left: 0;
        }
    }
</style>

<script>
    import _ from 'lodash';

    export default {
        data() {
            
            return {
                value: [],
                isValid: false,
                errorMsg: null,
                showErrorMsg: false,
                checkboxValue: [],
                selectValue: [],
                groupElements: [],
                defaultOptionLabel: '',
                isValidated: false,
                selectedFields: [],
                isSetDefaultOptions: false
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            },
        },
        computed: {
            placeholder: function() {
                return `Enter ${this.data.label}`;
            },
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        methods: {
            validation(index) { 
                let checkLen = null;
                
                let count = _.filter(this.value, val => { if (val.select !== null) { return val;} }).length;
                let valueLen = this.value.length;
                
                // If set as requiered  
                if (this.isRequiredField) {
                    this.showErrorMsg = true;

                    if (valueLen == 0) {
                        this.errorMsg = ' Field is required';
                        this.$set(this.data, 'is_validated', false); 
                        this.showErrorMsg = true;                        
                    } else if (count < valueLen) {
                         this.$set(this.data, 'is_validated', false); 
                        this.errorMsg = 'Checked box needs a selection';
                        this.showErrorMsg = true;                        
                    } else if (count == valueLen) {
                        this.$set(this.data, 'is_validated', true);
                        this.showErrorMsg = false;                        
                    }
                    
                } else {  
                    if (count < valueLen) {
                         this.$set(this.data, 'is_validated', true); 
                        this.errorMsg = 'Checked box needs a selection';
                        this.showErrorMsg = true;                        
                    } else if (count == valueLen) { 
                        this.$set(this.data, 'is_validated', false);
                        this.showErrorMsg = false;                        
                    }
                }
            },
            updateValue(field, index, elementId) {
                if (field == 'checkbox') {
                    if (this.checkboxValue[index] == true) {
                        this.selectedFields.push({ index: index, id: elementId, checkbox: this.checkboxValue[index], select: this.selectValue[index] });
                    } else if (this.checkboxValue[index] == false) {
                       // Remove item from array of selected items 
                        _.remove(this.selectedFields, function(field) {
                            return field.id === elementId;
                        });
                    }
                }

                if (field == 'select') {
                    this.selectedFields.forEach(item => {
                        if (item.id == elementId && item.index == index) { 
                            this.$set(item, 'select', this.selectValue[index]);
                        }
                    })
                }

                this.value = this.selectedFields;
                this.validation(index);
                this.$emit('update', this.data.id, this.value);
            },
            setDefaultOptions() {
                // Set null as the default value of all select options for each dropdown select
                this.data.group_setting.forEach(val => { 
                    val.options.forEach(option => {    
                    this.selectValue.push(null);
                    })

                    this.isSetDefaultOptions = true;
                })
            }
        },        
        mounted() {
            this.value = this.selectedFields = this.data.value;
            this.setDefaultOptions(); 
            
            this.value.forEach(val => {
                this.checkboxValue[val.index]= val.checkbox;
                this.selectValue[val.index]= val.select;
            })

            this.validation(0);
        },
        updated() {
            if (!this.isSetDefaultOptions) {
                this.setDefaultOptions()
            }
        }
    }
</script>
