<template>
    <div v-if="!data.is_hidden">
        <label>{{data.label}}</label>
        <b-form-input 
            type="color" 
            v-model="value" 
            :placeholder="placeholder" 
            @input="updateValue"
        ></b-form-input>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                value: null
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
            placeholder: function() {
                return `Enter ${this.data.label}`;
            }
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            }
        },
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
