<template>
    <div v-if="!data.is_hidden">
        <b-form-group
            id="fieldset-horizontal"
            description=""
            label-for="input-horizontal"
            :label="data.label"
        >
            <b-form-input 
                type="date" 
                v-model="value"
                :max="data.maxDate"
                :min="data.minDate"
                :placeholder="placeholder" 
                @input="updateValue"
            >
            </b-form-input>
           
            <span class="error help-block form-error" v-if="externalError">
               {{data.external_error_msg}}
            </span>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                Date is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>

<style lang="scss" scoped>
    ::placeholder {
        color: #ccc;
    }
    input {
        color: #ccc;
    }
</style>

<script>
    export default {
        data() {
            return {
                value: '',
                isRequiredField: null,
                isValid: false,
                minDate: '',
                maxDate: '9999-12-31' // limit year in 4-digit since date element allows 6 digits.
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
            placeholder: function() {
                return `Enter ${this.data.label}`;
            },
            validation() {
                this.isValid = this.value != '';

                this.$set(this.data, 'is_validated', (this.isValid == true)); 
                return this.isValid;
            },
            externalError() {
                if (this.data.external_error_msg != '') {
                    return true;
                }
                return false;
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        methods: {
            updateValue() {
                this.data.external_error_msg = '';
                this.$emit('update', this.data.id, this.value);
            }
        },
        mounted() {
            this.value = this.data.value;
            this.minDate = this.data.minDate && this.data.minDate != '' ? this.data.minDate : '';
            this.maxDate = this.data.maxDate && this.data.maxDate != '' ? this.data.maxDate : this.maxDate;
        }
    }
</script>
