<template>
    <div v-if="!data.is_hidden">
        <b-form-group
        id="fieldset-horizontal"
        description=""
        label-for="input-horizontal"
        :label="data.label"             
        >
            <div v-html="text"  class="display-box" :id="`display-box-${data.id}`" :name="`display-box-${data.id}`" @input="updateValue"></div>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                {{data.label}} is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null              
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            },
        },
        computed: {
            placeholder: function() {
                return `Enter ${this.data.label}`;
            },
            validation() {
                this.isValid = this.value != '';
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            },
            text: function(){
                return this.data.value;
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            }
        },        
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
<style lang="scss" scoped>
    .display-box {
        border: 1px solid #ced4da;
        padding: 9px;
        border-radius: 4px;
        min-height: 38px;
        height: auto;
    }
</style>