<template>
    <div v-if="!data.is_hidden">
        <b-form-group
        description=""
        :label="data.label"             
        >
            <div v-if="filenames.length <= 0" class="dropzone-wrapper col-md-12">
                <vue-dropzone 
                    ref="fileVueDropzone" 
                    id="dropzone"
                    :duplicateCheck="true" 
                    :options="dropzoneOptions"
                    v-model="files"
                    v-on:vdropzone-files-added="updateValue"
                    :state="Boolean(files)"
                    @input="updateValue"
                    v-on:vdropzone-removed-file="vremoved"
                    :destroyDropzone="false"
                    @vdropzone-error="vdropzoneError"                       
                >
                <div class="dropzone-custom-content">
                    <h3 class="dropzone-custom-title">Choose a file or drop it here...</h3>
                    <div class="subtitle">Drop file here...</div>
                </div>
                </vue-dropzone>
            </div>
            <div v-else class="col-lg-12 p-0">
                <div class="files-container">
                    <div class="row list-wrapper">
                        <div class="col-md-12 my-4"><h5 class="text-secondary" v-text="filenames.length > 1 ? data.label : 'File Uploaded'"></h5></div>
                        <div class="text-left mb-2 col-md-6" v-for="(filename, index) in filenames"
                            :key="index">                            
                            <span><a href="#" @click.prevent="removeFromFiles(index)" title="Remove this file." class="remove-file-btn text-danger"><i class="la la-close"></i></a></span>    
                            <span class="uploaded-filename">{{filename.name}}</span>
                        </div>
                    </div>                
                </div>  
            </div>            
        </b-form-group>     
        <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
            File upload is required.
        </b-form-invalid-feedback>
    </div>
</template>
<style lang="scss">
    .dragdrop-card {
        div {            
            fieldset {              
                border: 1px solid #dedede; 
                position: relative; 
                legend {
                    background: #4cb050 !important;
                    width: 100%;
                    color: #fff !important;
                    padding: 4px 10px !important;
                    position: absolute;
                    z-index: 2;
                }
                div[role=group] {
                    margin-top: 28px;
                }
            }        
        }
    }
    .vue-dropzone.dropzone.dz-clickable {
        background: #fafafa;
    }
    .dragdrop-card.text-left div fieldset legend {                   
        text-align: left;
    }
    .dragdrop-card.text-center div fieldset legend {                   
        text-align: center;
    }
    .dragdrop-card.text-right div fieldset legend {                   
        text-align: right;
    }
    .dropzone-wrapper {
        padding: 0;
        .dropzone {
            border: 0 !important;
        }
    } 
    .dropzone-custom-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .dropzone-custom-title {
        margin-top: 0 !important;
        color: #00b782 !important;
    }
    .dropzone {
        .dz-preview {
            .dz-error-message {
                opacity: 1;
            }
        }
    }
    .subtitle {
        color: #314b5f;
    }
    .files-container {
        background:#f1eded;
        padding:8px;
        border:1px dotted #cccccc;
        overflow-x: hidden;
    }
    .files-container h3 {
        padding:0;
        margin:0;
        margin-top:0;
        color: #6c757d;
    }
    .uploaded-filename {
        color: #5c9cd0
    }
    .remove-file-btn {
        display: inline-block;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #d7dceb;
    }    
</style>
<script>
    import vue2Dropzone from 'vue2-dropzone'
	import AlertMixin from '@common/mixin/AlertMixin';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    
    export default {
        data() {
            return {
                files: [],
                filenames: [],
                isValid: false,
                isRequiredField: null,
                dropzoneOptions: {
                    url: 'api/creative-services/',
                    thumbnailWidth: 150,
                    maxFilesize: 10,
                    maxFiles: 10,
                    uploadMultiple: true,
                    clickable: true,
                    acceptedFiles: 'image/*,application/pdf,.psd',
                    addRemoveLinks: true,
                    headers: { "My-Awesome-Header": "header value" }
                },
                vdropzoneErrors: []
            }
        },
        components: {
            vueDropzone: vue2Dropzone
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        methods: {
            async updateValue(files) {
                let count = files.length;
                let selected = [];
                let errorFlag = false;

                for (let i = 0; i < count; i++) {
                    const encoded = await this.encodeFile(files[i]); 
                    if (files[i].status == 'error') {
                        errorFlag = true;
                    } else {
                        selected.push({
                            name: files[i].name,
                            status: files[i].status,
                            encoded
                        });
                    }
                }
                
                if (errorFlag) {
                    let title = 'File Error!';
                    let msg = 'File that has an error will be removed.';

                    this.alertDialog(title, msg, 'Ok', 'am')
                        .then(({ok}) => {
                        files.forEach((itmfile) => {
                            if (itmfile.status == 'error') {
                                this.$refs.fileVueDropzone.removeFile(itmfile);
                            }
                        });
                    });
                }

                this.files = files;
                this.$emit('update', this.data.id, selected);
            },
            encodeFile(file) {
                return new Promise((resolve) => {
                    let reader = new FileReader();

                    reader.onload = (event) => {
                        resolve(event.target.result);
                    };

                    reader.readAsDataURL(file);
                });
            },
            removeFromFiles(index) {
               this.filenames.splice(index, 1);
               this.$emit('update', this.data.id, this.filenames);
            },
            vremoved(file, error, xhr) {
                let tempFiles = [];
                let selected = [];
                let ctr = 0;

                this.files.forEach((itemFile) => {
                    if (file.name != itemFile.name) {
                        tempFiles.push(itemFile);
                        selected.push({
                            name: itemFile.name,
                            status: itemFile.status,
                            encoded: itemFile.dataURL
                        });
                    }
                })
                
                this.vdropzoneErrors.forEach((errorItem) => {
                    if (file.name == errorItem.name) {
                        this.isValid = true;
                        this.vdropzoneErrors.splice(ctr, 1);
                    }
                    ctr++;
                })

                this.files = tempFiles;
                this.$emit('update', this.data.id, selected);
            },
            vdropzoneError(file, error, xhr) {
                let item = {
                    name: file.name,
                    error: error
                }
                this.vdropzoneErrors.push(item);
            },
            vdropzoneErrorsFlag() {
                return this.vdropzoneErrors.length > 0 ? true : false;
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        computed: {
            validation() {
                this.isValid = this.data.value.length > 0 && ! this.vdropzoneErrorsFlag();
                this.$set(this.data, 'is_validated', this.isValid);
                return this.isValid;
            }
        },
        mounted() {
            let fileObjects = this.data.value;
            let tempFiles = [];

            if (fileObjects.length > 0) {
                fileObjects.forEach((item) => {
                     if (item.status != 'error') {
                        tempFiles.push(item);
                        this.filenames.push(item);
                    }
                });

                this.files = tempFiles;
            }
        },
        mixins: [
            AlertMixin
	    ]
    }
</script>
