<template>
    <div v-if="!data.is_hidden">
        <b-form-group
            id="fieldset-horizontal"
            description=""
            :label="data.label"
            label-for="input-horizontal"     
        >
            <b-form-input 
                type="email" 
                v-model="value" 
                :placeholder="data.placeholder" 
                @input="updateValue"
                @keyup="validateOnEvent"
            ></b-form-input>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                {{ errorText }} 
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>

<style lang="scss" scoped>
    ::placeholder {
        color: #aaa !important;
        font-style: italic;
    }
    input.form-control {
        border: 1px solid #ccc;
    }
</style>

<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null,
                errorText: ''
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
            validation() {
                if (this.value.trim() == '') {
                    this.errorText = 'Field is required';
                }
                this.isValid = this.value.trim() != '' && this.isValidEmail(this.value);
                this.$set(this.data, 'is_validated', (this.isValid == true)); 
                return this.isValid;
            }
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            },
            isValidEmail(email) {
                let validate =  /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
                if (validate) {
                    return true;
                } else {
                    this.errorText = 'Invalid email';
                    return false;
                }
            },
            validateOnEvent() {
                this.isRequiredField = this.data.is_required;
            }
        },
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
