<template>
    <div v-if="!data.is_hidden" class="field-wrapper">
        <b-form-group
        id="fieldset-horizontal"
        description=""
        label-for="input-horizontal"
        :label="data.label"
        >
            <div v-if="!value.length">
                <b-form-file
                    v-model="value"
                    placeholder="Choose or drop file here..."
                    drop-placeholder="Drop file here..."
                    @input="updateValue"
                    :accept="data.filetype_accepted ? data.filetype_accepted : ''"
                ></b-form-file>
             </div>
            <div v-else>
                <div class="files-container">
                        <div v-for="(val, index) in value"
                            :key="index"
                            class="selected-filename"
                        >
                            <span>{{ val.name }}</span>
                            <span><a href="#" @click.prevent="removeFromFiles(index)" title="Remove this file." class="remove-file-btn">x</a></span>
                        </div>
                </div>
            </div>
            <b-form-invalid-feedback :state="data.is_required ? validation : true">
            <span v-if="data.max_size">File upload is required (Up to: {{ data.max_size }}MB)</span>
            <span v-else>File upload is required.</span>
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>
<style lang="scss" scoped>
    .files-container {
        background: transparent;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 3px;
        height: 38px;
        .selected-filename {
            background: #f0f1f2;
            padding: 0 4px 3px 12px;
            border-radius: 24px;
            width: auto;
            display: inline-block;
            margin-top: 1px;
            font-size: 12px;
            span {
                font-weight: bold;
            }
            .remove-file-btn {
                background: #f2f3f5;
                margin: 0 6px;
                color: #efa150;
                font-size: 16px;
                padding: 0 4px; 
            }
            .remove-file-btn:hover {
                cursor: pointer;
                color: red;
            }
        }
        h3 {
            padding: 0;
            margin: 0;
            margin-top: 0;
        }
        h5 {
            font-size: 12px;
            padding: 3px 3px 3px 8px;
            color: #fff;
        }
        .invalid-feedback {
            margin-top: 12px;
        }       
    }      
</style>
<style lang="scss">
    .field-wrapper {
        .custom-file {
            .custom-file-label {
                min-height: 38px !important;
                border-radius: 3px !important;
                padding: 8px;
            }
            .custom-file-label::after {
                padding: 8px;
                height: 100%;
            }
            .was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
                border-color: #ccc !important;
            }
        }
    }
    ::placeholder, input {
        color: #ccc;
    }
</style>
<script>
    export default {
        data() {
            return {
                value: [],
                filenames: '',
                selected:'',
                filesize: 0,
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
            validation() {
                this.isValid = this.value != null && this.value.length > 0;
                if (this.is_max_sized()) {
                    this.isValid = false;
                }

                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            }
        },
        methods: {
            async updateValue(files) {
                const encoded = await this.encodeFile(files);
                this.filesize = files.size
                this.value= [{
                    name: files.name,
                    encoded
                }];
                this.$emit('update', this.data.id, this.value);
            },
            is_max_sized() {
                let maxSizeBytes = (this.data.max_size * 1000) * 1000;
                if (this.filesize > maxSizeBytes) {
                    return true;
                }
                return false;
            },
            encodeFile(file) {
                return new Promise((resolve) => {
                    let reader = new FileReader();
                    reader.onload = (event) => {
                        resolve(event.target.result);
                    };
                    reader.readAsDataURL(file);
                });
            },
            removeFromFiles(index) {
               let tempFiles = [];
               let selected = [];
               this.value.splice(index, 1);
               this.value.forEach((itemFile) => {
                    let fileFlag = 0;
                    if (fileFlag == 1) {
                        tempFiles.push(itemFile);
                        selected.push({
                            name: itemFile.name,
                            status: itemFile.status,
                            encoded: itemFile.dataURL
                        });
                    }
                })
               this.$emit('update', this.data.id, selected);
            }
        },
        mounted() {
            this.value =  this.data.value;
        }
    }
</script>