<template>
    <div v-if="!data.is_hidden">
        <b-form-group
        id="fieldset-horizontal"
        description=""
        label-for="input-horizontal"
                    label-cols-sm="4"
            label-cols-lg="3"     
        >
            <b-button class="button" @click="buttonClick" variant="success">{{ data.label }}</b-button>
        </b-form-group>
    </div>
</template>

<style lang="scss" scoped>
    ::placeholder {
        color: #ccc;
    }
</style>

<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null              
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            },
        },
        computed: {
            validation() {
                this.isValid = this.value != '';
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            }
        },
       
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            },
            buttonClick() {
                this.$emit('form-button-clicked');
            }
        },        
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
