<template>
    <div>
        <a :href="data.link" class="button"> {{ data.label}}</a>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        created() {

        }
    }
</script>
