<template>
    <div v-if="!data.is_hidden">
        <h2 :class="data.element_class" variant="success">{{ data.label}}</h2>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
            placeholder: function() {
                return `Enter ${this.data.label}`;
            }
        },
        methods: {
            updateField(id, value) {
                this.$emit('update', id, value);
            }
        },
        created() {

        }
    }
</script>
