<template>
        <br>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        created() {

        }
    }
</script>
