<template>
    <div v-if="!data.is_hidden">
        <b-form-group
        id="fieldset-horizontal"
        :description="data.description"
        label-for="input-horizontal"
        :label="data.label"             
        >
            <VuePhoneNumberInput v-if="data.countryAbbr" v-model="value" 
                :default-country-code="data.countryAbbr" 
                :placeholder="placeholder" 
                :id="`text-${data.id}`" 
                :name="`text-${data.id}`" 
                @update="updateValue" 
                @phone-number-blur="validateOnBlur" 
            />
            <VuePhoneNumberInput v-else 
                v-model="value" 
                :fetch-country="true" 
                :placeholder="placeholder" 
                :id="`text-${data.id}`" 
                :name="`text-${data.id}`" 
                @update="updateValue" 
                @phone-number-blur="validateOnBlur" 
            />
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                Field is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>

<style lang="scss" scoped>
    ::placeholder {
        color: #aaa !important;
    }
</style>

<script>
    import VuePhoneNumberInput from 'vue-phone-number-input';
    import 'vue-phone-number-input/dist/vue-phone-number-input.css';

    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null              
            }
        },
        components: {
            VuePhoneNumberInput: VuePhoneNumberInput
        },
        props: {
            data: {
                type: Object,
                required: true
            },
        },
        computed: {
            placeholder: function() {
                return `Enter ${this.data.label}`;
            },
            validation() {
                this.isValid = this.value.trim() != '';
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            }
        },
        methods: {
            updateValue(payload) {
                this.$set(this.data, 'countryAbbr', payload.countryCode);
                this.$set(this.data, 'countryCode', payload.countryCallingCode);
                this.$emit('update', this.data.id, this.value);
            },
            validateOnBlur() {
                this.isRequiredField = this.data.is_required;
            }
        },        
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
