<template>
    <div v-if="!data.is_hidden">
        <span v-if="!data.is_hidden && data.label && data.label != ''" class="field-label"><label :for="`radio-${data.id}`"  v-html="data.label"></label><span v-if="showAsterisk" class="required">*</span></span>
        <b-form-group>
            <b-form-radio-group
                :id="`radio-${data.id}`"
                :name="`radio-${data.id}`"
                v-model="value"
                :options="data.options"
                @input="updateValue"
            >
                <b-form-invalid-feedback v-if="validation">
                    Option is required.
                </b-form-invalid-feedback>
            </b-form-radio-group>
        </b-form-group>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null,
                showAsterisk: null
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
            // validation() {
            //     this.isValid = this.value != '';
            //     this.$set(this.data, 'is_validated', (this.isValid == true));
            //     return this.isValid;
            // }
        },
        created() {
           this.isRequiredField = this.data.is_required;
           this.showAsterisk = this.data.show_asterisk;
        },
        methods: {
            updateValue() {
                this.validation();
                this.$emit('update', this.data.id, this.value);
            },
            validation() {
                this.isValid = this.value != '';
                if (this.data.is_required) {
                    this.$set(this.data, 'is_validated', (this.isValid == true));
                }
                return this.isValid;
            }
        },
        mounted() {
            this.value = this.data.value;
        }
    }
</script>

