<template>
    <div v-if="!data.is_hidden">
        <b-form-group 
            :label="data.label"
        >
            <multiselect 
                v-model="value" 
                :options="options" 
                :multiple="true" 
                :close-on-select="data.max == 1 ? true : isCloseOnSelect" 
                :clear-on-select="false" 
                :preserve-search="false"
                :preselect-first="false"
                :hide-selected="true"
                :max="data.max"        
                :limit="data.max"        
                :loading="!isOptionsLoaded"
                :internal-search="true"
                @input="updateValue"
                @change="updateValue"
                placeholder="" 
                label="name" 
                track-by="name"
                :name="`select-multi-${data.id}`"
                open-direction="bottom"
            >
                <template slot="maxElements">Limit Reached!</template>
                <template slot="selection" slot-scope="{ values, search, isOpen }">
                    <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                        <span v-for="(selected, index) in values" :key="index">{{ selected.name }}</span>
                    </span>
                </template>
            </multiselect>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                Field is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
    
  
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style> 
<style lang="scss" scoped>
    .bv--select {
        .invalid-feedback {
            margin-top: -12px;
        }
    }
    .multiselect__single {
        span {
            background-color: #f0f1f2;
            font-size: 12px;
            padding: 3px 12px;
            border-radius: 10px;
            line-height: 10px;
            margin-right: 6px;
            font-weight: bold;
            white-space: nowrap;
            float: left;
            margin-bottom: 4px;
            padding: 6px 12px;
        }
    }    
</style>

<style lang="scss">
    .multiselect__content {
        li:nth-last-child(-n+2) {
            display: none;
        }
    }   
    .multiselect__option {
        font-size: 13px;
    }
    .multiselect__content-wrapper {
        max-height: 200px !important;
        margin-bottom: 8px;
    }
</style>

<script>
    import Multiselect from 'vue-multiselect'; //https://vue-multiselect.js.org/#sub-multiple-select
    import _ from 'lodash';

    export default {
        data() {
            return {
                value: [],
                opt: [],
                isValid: false,
                isRequiredField: null,
                isOptionsLoaded: false,
                isMultiple: true,
                isCloseOnSelect: false,
                isInitialized: false
            }
        },
        components: {
            Multiselect
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        methods: { 
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            }
        },
        computed: {
            name: function() {
                return `form-select-${this.data.value}`;
            },
            validation() {
                this.isValid = this.value.length > 0; 
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            },
            options() {
                this.opt = _.map(this.data.options, item => ({
                    value: item.value,
                    name: item.text
                }));
                
               return _.sortBy(this.opt, 'name');
            }
        },
        mounted() {
            this.data.value = _.map(this.data.value, item => ({
                                  value: item.value,
                                  name: item.text
            }));
            this.value = this.data.value;
            this.isOptionsLoaded = true;
            this.isMultiple = this.data.multiple ? this.data.multiple : true;
            this.isCloseOnSelect = !this.isMultiple;
        }
    }
</script>
