<template>
    <div v-if="!data.is_hidden">
        <b-form-group 
            :label="data.label"
            :description="data.description"
        >
            <b-form-select v-model="value"  @change="updateValue" :name="`select-${data.id}`" :id="`select-${data.id}`" class="mb-3">
                <template v-slot:first>
                    <option value="" selected>-- Please select an option --</option>
                </template>           
                <option v-for="option in data.options" :key="option.value" :value="option.value">{{ option.text }}</option>
            </b-form-select>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                Field is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>

<style lang="scss" scoped>
    .custom-select {
        font-size: 12px;
        min-height: 38px;
        border-radius: 3px;
    }
    ::placeholder {
        color: #ccc;
    } 
    .invalid-feedback {
        margin-top: -14px;
    }   
</style>

<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            }
                      
        },
        computed: {
            validation() {
                this.isValid = this.value != '';
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            }
        },
        mounted() {
            this.value = this.data.value; 
        }
    }
</script>
<style lang="scss" scoped>
    .bv--select {
        .invalid-feedback {
            margin-top: -12px;
        }
    }
</style>