<template>
    <div v-if="!data.is_hidden">
        <b-form-group
        id="fieldset-horizontal"
        :description="data.description"
        label-for="input-horizontal"
    >
            <label for="tags-separators" v-html="data.label"><span v-if="isRequiredField" class="error">*</span></label>
            <b-form-tags 
                input-id="tags-basic" 
                v-model="value"
                remove-on-delete
                separator=",;"
                class="mb-2"
                :placeholder="data.placeholder"
                @input="updateValue"
                @keyup="validateOnEvent"
            ></b-form-tags>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                Field is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>

<style lang="scss">    
    .b-form-tags.form-control {
        padding: 5px 15px;
        min-height: 38px;
        background: #fff;
        input.b-form-tags-input {
            min-height: 26px;
        }
        .badge {
            padding: 0;
            position: relative;
            background: transparent;
            height: auto;
            min-height: 26px;
            span {
                color: #000;
                background: #f0f1f2;
                width: auto;
                height: 20px;
                line-height: 20px;
                padding: 0 22px 0 10px;
                font-size: 12px;
                text-transform: initial;
                position: relative;
                border-radius: 10px;
                font-weight: 700;
                margin-top: 4px;
            }
            button {
                position: absolute;
                right: 5px;
                z-index: 2;
                top: 2px;
                color: #5dc282;
                opacity: 1;
            }
        }
        small.text-muted {
            color: red !important;
        }
        button.b-form-tags-button {
            display: none;
        }
    }
    ::placeholder {
        color: #aaa !important;
        font-style: italic;
    }
    input.form-control {
        border: 1px solid #ccc;
    }
</style>

<script>

    export default {
        data() {
            return {
                value: [],
                isValid: false,
                isRequiredField: null              
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            },
        },
        computed: {
            validation() {
                this.isValid = this.value.length != 0;
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            }
        },
        methods: { 
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            },
            validateOnEvent() {
                this.isRequiredField = this.data.is_required;
            }
        },        
        mounted() {
            this.value = this.data.value;
        },
        updated() {
            if (this.data.value.length == 0) {
                this.value = this.data.value;
            }
        }
    }
</script>
