<template>
    <div v-if="!data.is_hidden">        
        <b-form-group
            :description="data.description"
        >
            <span v-if="!data.is_hidden && data.label && data.label != ''" class="field-label"><label :for="`radio-${data.id}`"  v-html="data.label"></label><span v-if="showAsterisk" class="required">*</span></span> 
            <b-form-input 
                v-model="value" 
                :placeholder="data.placeholder" 
                :id="`text-${data.id}`" 
                :name="`text-${data.id}`"
                @input="updateValue" 
                @keyup="validateOnEvent"
                @blur="validateOnEvent"
            ></b-form-input>
            <b-form-invalid-feedback v-if="isRequiredField || checkDuplicate" :state="validation">
                {{errMsg}}
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>

<style lang="scss" scoped>
    ::placeholder {
        color: #aaa !important;
        font-style: italic;
    }
    input.form-control {
        border: 1px solid #ccc;
    }
</style>

<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null,
                checkDuplicate: null,
                errMsg: 'Field is required.',
                showAsterisk: null,              
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            },
        },
        created() {
            this.showAsterisk = this.data.is_required;
        },
        computed: {
            validation() {
                let hasError = false;
                if (this.isRequiredField) {
                    this.isValid = this.value.trim() != '';
                    hasError = true;
                }
                if(this.checkDuplicate) {
                    if(this.data.existing_records) {
                        let records = this.data.existing_records;
                        records.forEach((item) => {
                            if(this.value.trim() != '') {
                                if(item.trim() == this.value.trim()) {
                                    this.errMsg = item + ' already exists.';
                                    this.isValid = false;
                                    hasError = true;
                                }
                            }
                        });
                    }
                }
                if (hasError) {
                    this.$set(this.data, 'is_validated', (this.isValid == true));
                    return this.isValid;
                } 
            }
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            },
            validateOnEvent() {
                this.isRequiredField = this.data.is_required;
                this.checkDuplicate = this.data.check_duplicate;
            }
        },        
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
