<template>
    <div v-if="!data.is_hidden">
        <b-form-group
        description=""
        :label="data.label"
        >
            <b-form-textarea
                    :id="`textarea-${data.id}`"
                    v-model="value"
                    :placeholder="data.placeholder"
                    rows="3"
                    max-rows="6"
                    @input="updateValue"
            ></b-form-textarea>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                Field is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>
<style lang="scss">
    .textarea-card {
        div {
            fieldset.form-group {
                legend {
                    background: #4cb050 !important;
                    width: 100%;
                    color: #fff !important;
                    padding: 4px 10px !important;
                }
                div {
                     textarea {
                        border: 1px solid #dedede;
                        overflow-y: auto !important;
                        min-height: 200px;
                    }
                }
            }


        }
    }
    .textarea-card.text-left div fieldset legend {
        text-align: left;
    }
    .textarea-card.text-center div fieldset legend {
        text-align: center;
    }
    .textarea-card.text-right div fieldset legend {
        text-align: right;
    }
    textarea {
        overflow-y: auto !important;
    }
    ::placeholder {
        color: #aaa !important;
        font-style: italic;
    }
    textarea.form-control {
        border: 1px solid #ccc;
    }
</style>
<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
             validation() {
                this.isValid = this.value.trim() != '';
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            }
        },
        mounted() {
            this.value = this.data.value;
        }
    }
</script>
