<template>
    <div v-if="!data.is_hidden">
        <b-form-group
        description=""
        :label="data.label"
        >
            <div class="editor" ref="editor">
                <editor-floating-menu :editor="editor" @hide="hideLinkMenu" v-slot="{ commands, isActive, getMarkAttrs, menu }">
                <div
                    class="editor__floating-menu"
                    :class="{ 'is-active': menu.isActive }"
                    :style="`top: ${menu.top}px`"
                >
                    <form class="menububble__form" v-if="linkMenuIsActive" @submit.prevent="setLinkUrl(commands.link, linkUrl)">
                        <input class="menububble__input" type="text" v-model="linkUrl" placeholder="https://" ref="linkInput" @keydown.esc="hideLinkMenu"/>
                        <button class="menububble__button" @click="setLinkUrl(commands.link, linkUrl)" type="button">
                             <i class="la la-check"></i>
                        </button>
                    </form>

                    <button
                        title="Bold"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.bold() }"
                        @click="commands.bold"
                    >
                        <i class="la la-bold"></i>
                    </button>
                    <button
                        title="Italic"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.italic() }"
                        @click="commands.italic"
                    >
                        <i class="la la-italic"></i>
                    </button>
                    <button
                        title="Bullet List"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.bullet_list() }"
                        @click="commands.bullet_list"
                    >
                        <i class="la la-list"></i>
                    </button>

                    <button
                        title="Ordered List"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.ordered_list() }"
                        @click="commands.ordered_list"
                    >
                        <i class="la la-list-ol"></i>
                    </button>

                    <button
                        title="Ordered List"
                        class="menubar__button"
                        :class="{ 'is-active': isActive.link() }"

                        @click="showLinkMenu(getMarkAttrs('link'))"
                    >
                        <i class="la la-link"></i>
                    </button>
                    <span
                        title="Remove Formatting"
                        class="remove-format"
                        @click="removeFormatting"
                    >
                       Remove Format
                    </span>
                </div>
                </editor-floating-menu>

                <editor-content class="editor__content" :editor="editor" />

            </div>
            <b-form-invalid-feedback v-if="isRequiredField" :state="validation">
                Field is required.
            </b-form-invalid-feedback>
            <span class="error" v-if="externalErrorMsg">{{externalErrorMsg}}</span>
        </b-form-group>
    </div>
</template>
<style lang="scss">
    .editor {
        position: relative;
        border: 1px solid #ccc;
        min-height: 138px;
        height: auto;
        padding-top: 60px;

        .editor__floating-menu {
            position: absolute;
            top: 0 !important;
            background: #f2f3f5;
            padding: 0 4px;
            width: 100%;
            border-bottom: 1px solid #ccc;
            button {
                border: 1px solid #aaa;
                padding: 3px;
                height: 28px;
                margin: 4px 0 4px;
                &.is-active {
                    background: #c7e6ff;
                }
                i {
                    font-size: 23px;
                    font-weight: normal;
                    color: #6c757d
                }
            }
            .remove-format {
                display: inline-block;
                border: 1px solid #aaa;
                position: relative;
                top: -4px;
                padding: 4px;
                cursor: pointer;
            }
            .menububble__form {
                display: block;
                margin-top: 0em;
                position: absolute;
                top: 38px;
                z-index: 2;
                background: rgba(66, 165, 245, 0.3);
                padding: 5px;
                width: 100%;
                left: 0;
                height: 38px;
                .menububble__input{
                    position: relative;
                    color: #333;
                    width: 50%;
                    top: -9px;
                    height: 30px;
                    padding: 4px;
                }
                .menububble__button {
                    position: relative;
                    top: -5px;
                    height: 29px;
                }
            }
        }
        .editor__content {
            height: 96px;
            top: 40px;
            position: absolute;
            width: 100%;
            overflow-y: auto;
            padding: 8px 8px 8px 24px;
            .ProseMirror {
                ul, ol {
                    padding-left: 0 !important;
                }
                li {
                    margin-top: 6px !important;
                }
                p {
                    margin-bottom: 0px !important;
                }
            }
            .ProseMirror-focused > * {
               border-color: red !important;
            }

        }
        :focus {
            outline: none;
            height: 100%;
        }
        p.is-editor-empty:first-child::before {
            content: attr(data-empty-text);
            float: left;
            color: #aaa;
            pointer-events: none;
            height: 0;
            font-style: italic;
        }
    }
</style>
<script>
    import $ from 'jquery';
    import { Editor, EditorContent, EditorFloatingMenu } from 'tiptap';
    import {
    Blockquote,
    BulletList,
    CodeBlock,
    HardBreak,
    Heading,
    ListItem,
    OrderedList,
    TodoItem,
    TodoList,
    Bold,
    Code,
    Italic,
    Link,
    History,
    Placeholder,
    } from 'tiptap-extensions';

    export default {
        components: {
            EditorContent,
            EditorFloatingMenu,
        },
        props: {
            data: {
                type: Object,
                required: true,
                html: ''
            }
        },
        data() {
            return {
                value: '',
                isValid: false,
                isRequiredField: null,

                editor: new Editor({
                    onUpdate: ( { state, getHTML, getJSON, transaction } ) => {

                        this.value = getHTML();
                        if ((this.value===null) || (this.value==='')) {
                            return false;
                        } else {
                            this.updateValue();
                        }
                    },
                    onInit: () => {
                        this.editorContent = this.value;

                    },
                    extensions: [
                    new Blockquote(),
                    new BulletList(),
                    new CodeBlock(),
                    new HardBreak(),
                    new Heading({ levels: [1, 2, 3] }),
                    new ListItem(),
                    new OrderedList(),
                    new TodoItem(),
                    new TodoList(),
                    new Link(),
                    new Bold(),
                    new Code(),
                    new Italic(),
                    new History(),
                    new Placeholder({
                        emptyEditorClass: 'is-editor-empty',
                        emptyNodeClass: 'is-empty',
                        emptyNodeText: this.data.placeholder || 'Write something …',
                        showOnlyWhenEditable: true,
                        showOnlyCurrent: true,
                    }),
                    ],
                    content: this.editorContent
                }),
                linkUrl: null,
                linkMenuIsActive: false
            }
        },
        computed: {
            placeholder: function() {
                return ``;
            },
            validation() {
                this.isValid = this.value.replace(/(<([^>]+)>)/ig, '') != '';
                this.$set(this.data, 'is_validated', (this.isValid == true));
                return this.isValid;
            },
            externalErrorMsg: function() {
                return this.data.external_error_msg || '';
            }
        },
        created() {
            this.isRequiredField = this.data.is_required;
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            },
            showLinkMenu(attrs) {
                this.linkUrl = attrs.href
                this.linkMenuIsActive = true
                this.$nextTick(() => {
                    this.$refs.linkInput.focus()
                })
            },
            hideLinkMenu() {
                this.linkUrl = null
                this.linkMenuIsActive = false
            },
            setLinkUrl(command, url) {
                command({ href: url })
                this.hideLinkMenu()
            },
            removeFormatting() {
                if (this.value !== null) {
                    this.value = this.value.replace(/(<h([^>]+)>)|(<s([^>]+)>)|(<e([^>]+)>)/ig, '');
                    this.editor.setContent(this.value);
                    this.updateValue();
                }
            }
        },
        mounted() {
            this.value = this.data.value;
            this.editor.setContent(this.value);

            $('.editor__content').on('click', function(){
                $(this).find('.ProseMirror').focus();
            })
        }
    }
</script>
