<template>
    <div v-if="!data.is_hidden">
        <b-form-group :label="data.label">    
            <wysiwyg
                :id="''"
                :name="''"
                v-model="value"
                @change="updateValue"
                :options="editorOptions"
                :placeholder="placeholder"            
            />

            <b-form-invalid-feedback :state="data.is_required ? validation : true">
                {{data.label}} is required.
            </b-form-invalid-feedback>
        </b-form-group>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                value: '',
                isValid: false
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        computed: {
            placeholder: function() {
                return `Enter ${this.data.label}`;
            },
            name: function() {
                return `form-wysiwyg-${this.data.id}`;
            },
           validation() {
                this.isValid = this.value.trim() != '';
                this.data.is_validated = (this.isValid == true);    // set is_validated to TRUE or FALSE
                return this.isValid;                                //  Show/Hide required text
            },
            editorOptions: function() {
                return { hideModules: {forcePlainTextOnPaste: true, image:true, code:true, link:true, removeFormat:true, table: true} };
            }
        },
        methods: {
            updateValue() {
                this.$emit('update', this.data.id, this.value);
            }
        },
    }
</script>
