<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="back-btn-wrapper mb-4">
                            <back-button :text="'Back'" :route="'index'"></back-button>
                        </div>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div v-if="globalLoader" class="profile-loader-indicator">
                                    <img src="/assets/img/loaders/svg-loaders/three-dots.svg" />
                                </div>
                            <fs-form-step-wizard
                                v-if="formStepWizardSettings != null"
                                :settings="formStepWizardSettings"
                                @submit="submitForm"                            
                                @navigate-pages="getCurrentPage" :key="componentKey"
                            >
                                <div v-if="!submitted && page == 1" class="row p-4">
                                    <field-component v-for="element in formStepWizardSettings.pages[0].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                </div>
                                <div v-if="!submitted && page == 2" class="row p-4">                                  
                                    <field-component v-for="element in formStepWizardSettings.pages[1].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                </div>
                                <div v-if="!submitted && page == 3" class="row p-4">
                                    <field-component v-for="element in formStepWizardSettings.pages[2].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                </div>
                                <div v-if="!submitted && page == 4" class="row p-4">
                                    <field-component v-for="element in formStepWizardSettings.pages[3].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                </div>
                                <div v-if="!submitted && page == 5" class="row p-4">
                                    <field-component v-for="element in formStepWizardSettings.pages[4].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                </div>
                                <div v-if="submitted" class="row p-4">
                                    <h2 class="col-md-12 thank-you text-center">Thank You!</h2>
                                    <p class="col-md-12 text-center my-4 text-secondary h6 display-inline">We have received the details of your report and will review it shortly.</p>
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-primary my-3" v-on:click="refresh">Start New Report</button>
                                    </div>
                                </div>
                            </fs-form-step-wizard>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
        </div>
</template>

<script>
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import FsFormStepWizard from '@components/form/fs-form-step-wizard.vue';
    import FieldComponent from '@components/form/field-component.vue';
    import SaveButton from '@components/form/button';
    import _ from 'lodash';

    //Modals
    import ModalDialog from '@components/modal-dialog.vue';

    import { mapActions, mapGetters } from 'vuex';

    // Mixins
    import DateMixin from '@common/mixin/DateMixin';
    import DataTableMixin from '@common/mixin/DataTableMixin';

    export default {
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Weekly Floor Report',
                formStepWizardSettings: null,
                page: null,
                pages: '',
                loading: false,
                submitted: false,
                hideShowChildQuestion: true,
                globalLoader: false,
                pageList: [],
                clientsList: [],
                questionList: [],
                componentKey: 0,               
            }
        },
        components: {
            BackButton,
            PageContent,
            PageHeader,
            FsFormStepWizard,
            FieldComponent,
            SaveButton,
            ModalDialog
        },
        mixins: [
            DateMixin,
            DataTableMixin
        ],
        async created() {
            this.globalLoader = true;
            await this.getClients({query:  {} });   // It's okay not passing the take:9999, it's already set in backend.
            await this.getQuestion({query: {orderBy: 'sequence_no'} });

            this.clientsList = this.formatClients();
            this.questionList = this.questions;

            this.initialize();
            this.globalLoader = false;
        },
        computed: {
            ...mapGetters({
                loggedInUser: 'auth/data',
                questions: 'weeklyFloorQuestion/getQuestionslist',
                clients: 'clients/data',
            }),
        },
        methods: {
            ...mapActions({
                getQuestion: 'weeklyFloorQuestion/getQuestions',
                getClients: 'clients/getClients',
                saveReport: 'weeklyFloorReport/saveWeeklyFloorReport',
            }),
            updateElementField(id, value) {
                if (value == null) { 
                    value = 'no';
                } 

                if(id === 1) {         // id of question: Is the team making progress ?
                    this.hideShowChildQuestion =  value.toLowerCase() == 'no' ? false : true;
                }
                if(id === 6) {         // id of question: Are the objectives clear ?
                    this.hideShowChildQuestion = value.toLowerCase() == 'no' ? false : true;
                }
                if(id === 11) {         // id of question: Does anything need clarification ?
                    this.hideShowChildQuestion = value.toLowerCase() == 'yes' ? false : true;
                }
                if(id === 15) {         // id of question: Do you have goals or deadlines ?
                    this.hideShowChildQuestion = value.toLowerCase() == 'no' ? false : true;
                }
                if(id === 18) {         // id of question: Are we ahead or behind ?
                    this.hideShowChildQuestion = value.toLowerCase() == 'ahead' ? true : false;      
                }
                if(id === 23) {         // id of question: Have you voiced concerns to the client ?
                    this.hideShowChildQuestion = value.toLowerCase() == 'no' ? true : false;      
                }
                if(id === 29) {         // id of question: Does the project need more resources ?
                    this.hideShowChildQuestion = value.toLowerCase() == 'yes' ? false : true;
                }

                this.formStepWizardSettings.pages.forEach((page) => {
                    page.formElements.forEach((el, index) => { 
                        // Find what id of elements to show/hide based from parend_id
                        if(el.parent_id == id) {    // parent_id is set during questionList mapping
                            el.is_hidden = this.hideShowChildQuestion;
                            if(el.id == 28){
                                el.is_hidden = !this.hideShowChildQuestion;
                            }
                        }

                        // Update field value
                        if(el.id === id) { 
                            el.value = value;                            
                        }
                    });
                });
            },  
            async submitForm(){
                await this.doSubmit();
                this.submitted = true;
            },
            getCurrentPage(pageNumber) {
                this.page = pageNumber;
            }, 
            async initialize() {
                await this.formatPages(this.questionList);

                this.formStepWizardSettings = {
                    form_id: 'weekly_floor_report',
                    form_title: 'Weekly Floor Report Wizard',
                    pages: this.pageList,
                } 
            },
            formatClients(){
                this.clientsList = _.map(this.clients, (client) => ({ value: client.id, text: client.company}));
                this.clientsList = _.sortBy(this.clientsList, ['text'],['asc']);    // Sort clientsList ascending
                return this.clientsList;
            },
            formatPages(questions){
                let questionList = [];

                let count = 0;
                this.pages = 2;

                this.pageList.push({
                    page_id: 1, 
                    page_name: 'Choose a Client', 
                    page_stepIcon:'',
                    formElements: [
                        {
                            type: "select",
                            id: 'client_id',
                            label: 'Client',
                            value: '',
                            class: 'col-md-12',                                            
                            is_required: true,
                            is_hidden: false,
                            options:  this.clientsList
                        }
                    ]
                });

                questions.forEach((question)=> {
                    //page handlers
                    if(question.answer_element_type == "radio" && count % 2 != 0 ){                     
                        this.pageList.push({
                            page_id: this.pages++, 
                            page_name: 'Project Progress', 
                            page_stepIcon:'',
                            formElements: questionList,
                        });
                        questionList = [];
                    }

                    if (question.answer_element_type == 'radio') {
                            questionList.push({
                                type: question.answer_element_type,
                                id: question.id,
                                label: question.weekly_floor_question,
                                value: '',
                                class: 'col-md-12',                                            
                                is_required: question.answer_element_type == "radio" ? true : false,
                                is_hidden: false,
                                options: JSON.parse(question.weekly_floor_question_options),
                            });
                    }

                    if (question.answer_element_type == 'textarea') { 
                        questionList.push({
                            type: question.answer_element_type,
                            id: question.id,
                            parent_id: question.parent_id,  // Added parent_id prop, used to check in updateElementField() method
                            label: question.weekly_floor_question,
                            value: '',
                            class: 'col-md-12',                                            
                            is_required: true,
                            is_hidden: true,
                        });
                    }

                    if(question.answer_element_type == "radio"){
                        count++;
                    }
                });

                if(questionList != [] ){
                    this.pageList.push({
                        page_id: this.pages, 
                        page_name: 'Finish', 
                        page_stepIcon:'la la-paper-plane',
                        formElements: questionList,
                    });
                }
            },
            doSubmit(){
                let infoDetailToSaveTemp = [];
                _.each(this.formStepWizardSettings.pages, (page) => { 
                    page.formElements.forEach((el) => {
                        infoDetailToSaveTemp[""+el.id] = el.value;
                    });                    
                });
                infoDetailToSaveTemp['created_by']=this.loggedInUser.data.id;
                this.saveReport(infoDetailToSaveTemp);
            },
            resetForm(){
                _.each(this.formStepWizardSettings.pages, (page) => { 
                    page.formElements.forEach((el) => {
                        el.value = "";
                    });                    
                });
            },
            refresh: function(event){
                this.componentKey +=1;
                this.getCurrentPage(1);
                this.resetForm();
                this.submitted = false;

            },
        }
    }
</script>

<style lang="scss" scoped>
    .back-btn-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
    .action-button {
        font-size: 20px;
    }
    .profile-loader-indicator{
        width: 100%;
        position: relative;
        height: 500px;
    }
    .profile-loader-indicator img{
        position:absolute;
        top:50%;
        right:50%;
    }

</style>
<style>
    #autosuggest__input {
        border: 1px solid #dee0e1 !important;
        margin-left: 24px;
    }
</style>
