<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-responsive">
                        <div class="row mb-4">
                            <div class="back-btn-wrapper ml-3">
                                <back-button :text="'Go to main'" :route="'/'"></back-button>
                            </div>
                        </div>                                                
                        <div class="row mb-5">
                            <div class="col-md-6 p-0"><h4 class="text-muted">Development Floor Manager Dashboard</h4></div>
                            <div class="col-md-6 p-0 text-right"><h5 class="text-muted">{{currentDate}}</h5></div>
                            <div class="col-md-12 mt-3 px-0 py-3 admin-referral-summary">
                                <div class="row">
                                    <template v-for="(status, i) in statusCount">
                                        <div :key="i" class="summary-box col-md mt-1 mb-1" :class="status.class" @click="filterCandidate(status.value)">
                                            <span class="total">{{ status.total }}</span>
                                            <span class="label">{{ status.label }}</span>
                                        </div>
                                    </template>
                                </div>    
                            </div>
                        </div>
                        <div class="row mt-5">
                            <fs-table
                                v-if="fsTableSetting != null"
                                :width="'100%'"
                                :className="''"
                                :theme="'green'"
                                :settings="fsTableSetting"
                                :filterItems="['search']"
                                @search="triggerSearch"
                            >   
                                <div slot="filters">
                                    <div class="buttons-wrapper">
                                        <label>Filters:</label>
                                        <template v-for="(filterButton, i) in filterButtons">
                                            <button                                                 
                                                class="btn filter-button"
                                                :class="filterButton.class" 
                                                :key="i"
                                                @click="filterCandidate(filterButton.value)"
                                            >
                                                <span>{{ filterButton.label }}</span>
                                            </button>
                                        </template>
                                    </div>                                    
                                </div>
                                <div slot="tbody">
                                    <div v-if="fsTableSetting.tableData == null">dfdf</div>
                                    <div v-else v-for="(row, index) in fsTableSetting.tableData" :key="row.id" class="tr">
                                        <template  v-for="(td, propertyName, i) in row"> 
                                            <template>
                                            <div v-if="i != 0" :key="i" :name="`fs-table-data-`+propertyName+`-`+index" class="column" :style="css(fsTableSetting.tableColumns[i].width)">
                                                <div v-html="fsTableSetting.tableColumns[i].label"  class="th d-sm-block d-md-none"></div>
                                                <div v-if="propertyName == 'status'" class="td">
                                                    <button-dropdown-menu                                                    
                                                        :options="availableStatuses"
                                                        :selected="[{ id: index, text: row.status }]"
                                                        :width="'90%'"  
                                                        @on-select="getSelectedVal"
                                                    >
                                                    </button-dropdown-menu>                                               
                                                </div>
                                                <div v-else-if="propertyName == 'action'" class="td">
                                                    <a href="#" class="button" 
                                                        @click.prevent="showEditCandidateModal(
                                                            {
                                                                key: 'preview-report', 
                                                                name: 'Preview Report', 
                                                                report: row,
                                                            })"
                                                    >Preview</a>                                        
                                                </div>
                                                <div v-else-if="propertyName == 'name'" v-html="td.last_name +', '+ td.first_name" class="td" ></div>
                                                <div v-else-if="propertyName == 'position'" v-html="levelDescription[td.level] +' '+ td.position_name" class="td" ></div>
                                                <div v-else v-html="td" class="td" ></div>
                                            </div>
                                            </template>		
                                        </template>
                                    </div>
                                </div>
                            </fs-table>
                        </div>
                    </div>
                </div>
                <preview-report v-if="form.key=='preview-report' && open" :openModal="open" @close="closeModal" :info="form"></preview-report>
            </div>
        </page-content>
    </div>
</template>
<style lang="scss">
    $referralsColor: #ed7d31;
    $referralsLighterColor: #f9dbd2;
    $newColor: #9ad647;
    $newLighterColor: #ecf4d6;
    $contactedColor: #2ba0f6;
    $contactedLighterColor: #d1f0fb;
    $interviewedColor: #ffc000;
    $interviewedLighterColor: #ffead0;
    $hiredColor: #5b9bd5;
    $hiredLighterColor: #d6e1f1;
    $startedColor: #70ad47;
    $startedLighterColor: #d9e6d4;
    $startedColor: #70ad47;
    $startedLighterColor: #d9e6d4;
    $declinedColor: #eb5333;
    $declinedLighterColor: #f8d2d2;
    $activeFileColor: #a5a5a5;
    $activeFileLighterColor: #e4e4e4;

    .summary-box {
        width: 90px;
        height: 96px;
        border-radius: 3px;
        overflow: hidden;
        float: left;
        margin-right: 6px;
        .total, .label {
            display: inline-block;
            width: 100%;  
            text-align: center;
        }
        .total {
            height: 56px;
            line-height: 56px;
            font-size: 22px;
            color: #fff;
        }
        .label {
            color: #2f2f2f;
            height: 40px;
            line-height: 40px;
        }
        &.referrals-total {
            .total { background: $referralsColor; }
            .label { background: $referralsLighterColor; }
        }
        &.new {
            .total { background: $newColor; }
            .label { background: $newLighterColor; }
        }
        &.contacted {
            .total { background: $contactedColor; }
            .label { background: $contactedLighterColor; }
        }
        &.interviewed {
            .total { background: $interviewedColor; }
            .label { background: $interviewedLighterColor; }
        }
        &.hired {
            .total { background: $hiredColor; }
            .label { background: $hiredLighterColor; }
        }
        &.started {
            .total { background: $startedColor; }
            .label { background: $startedLighterColor; }
        }
        &.declined {
            .total { background: $declinedColor; }
            .label { background: $declinedLighterColor; }
        }
        &.active-file {
            .total { background: $activeFileColor; }
            .label { background: $activeFileLighterColor; }
        }
        &.date-filter {
            background: #fff;
            border: 1px solid #25628f;
            color: #25628f;
            &:hover {
                background: #25628f;
                color: #fff;
            }
        }     
    }
    .admin-referral-summary {
        border-top: 1px solid #bebebe;
    }
    .button-dropdown-menu {
        width: 90%;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .external-filters {
        margin-top: 10px;
        .buttons-wrapper {
            text-indent: -22px;
            margin-left: 63px;
            width: 100%;
            .filter-button {
                min-height: 38px;
                margin-right: 4px;
                margin-bottom: 4px;
                background: $referralsColor;
                padding: 9px;
                color: #fff;
                border-radius: 3px;
                min-width: 90px;
                &.referrals-total {
                    background: $referralsColor;
                }
                &.new {
                    background: $newColor;
                }
                &.contacted {
                    background: $contactedColor;
                }
                &.interviewed {
                    background: $interviewedColor; 
                }
                &.hired {
                    background: $hiredColor;
                }
                &.started {
                    background: $startedColor;
                }
                &.declined {
                    background: $declinedColor;
                }
                &.active-file {
                    background: $activeFileColor;
                }

                span {                        
                    border-radius: 3px;
                    display: inline;
                    text-align: center;
                    white-space: nowrap;
                }
            }
            .filter-button:hover {
                color: #ccc;
            }
        }
    }
    .btn-create {
        float: right;
    }
    @media (max-width: 767px) {
        .external-filters {
            width: 100% !important;
        }
    }
</style>

<script>
    // Mixins
    import AlertMixin from '@common/mixin/AlertMixin';

    // Components
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import ButtonDropdownMenu from "@components/button-dropdown-menu";
    //import EditCandidate from '@views/pages/referral/_modals/edit-candidate.vue';
    import PreviewReport from '@views/pages/weekly-floor-report/_modals/weekly-floor-report-preview.vue';
    
    import { mapGetters, mapActions } from 'vuex';
    import FsTable from "@components/fs-table";

    // libraries
    import _ from 'lodash';

    export default {
        mixins: [
            AlertMixin
        ],
        components: {
            PageHeader,
            PageContent,
            BackButton,
            FsTable,
            ButtonDropdownMenu,
            PreviewReport,
        },
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Floor Report',
                isLoading: false,
                currentDate: '',
                columns: [],
                tableData: [],
                fsTableData: [],
                selected: [],
                searchOptions: [],
                fsTableSetting: null,
                isAdminAccess: null, 
                statusCount: [],
                filterButtons: [],
                floorReports: [],
                floorManagers: [],
                open: false,
                form: [],
                include: ['answers', 'client'],
            }
        },
        async created() {
            this.floorManagers = [
                { id: 143, first_name: 'Kerr Jason', last_name: 'Quevedo'},
                { id: 82, first_name: 'Retchel' , last_name: 'Tapayan'},
                { id: 101, first_name: 'Ryan Kristoffer', last_name: 'Taboada'},
                { id: 241, first_name: 'Jhoanna Marie', last_name: 'Alvarez'},
                { id: 250, first_name: 'Elson', last_name: 'Ocaba'},
                { id: 299, first_name: 'Christian Ceazar', last_name: 'Cabang'},
                { id: 221, first_name: 'Rodolfo', last_name:'Nacu'},
            ];

            await this.getAllWeeklyFloorReports();
            this.currentDate = moment().format('ddd, MMM DD, hh:mm A');

            this.statusCount = [
                { total: this.recordCounter('143'), label: 'Kerr', class: 'referrals-total', value:'Kerr Jason' },
                { total: this.recordCounter('82'), label: 'Retchel', class: 'new', value:'Retchel'},
                { total: this.recordCounter('101'), label: 'Ryan', class: 'contacted', value:'Ryan Kristoffer' },
                { total: this.recordCounter('241'), label: 'Jhoanna', class: 'interviewed', value:'Jhoanna Marie' },
                { total: this.recordCounter('250'), label: 'Elson', class: 'hired', value:'Elson' },
                { total: this.recordCounter('299'), label: 'Christian', class: 'started', value:'Christian Ceazar' },
                { total: this.recordCounter('221'), label: 'Nax', class: 'declined', value:'Rodolfo' },
                { total: this.recordCounter('all'), label: 'All', class: 'active-file', value:'All' },
            ]

            this.filterButtons = [
                { label: 'Kerr', class: 'referrals-total', value:'Kerr Jason'},
                { label: 'Retchel', class: 'new', value:'Retchel'},
                { label: 'Ryan', class: 'contacted', value:'Ryan Kristoffer' },
                { label: 'Jhoanna', class: 'interviewed', value:'Jhoanna Marie' },
                { label: 'Elson', class: 'hired', value:'Elson' },
                { label: 'Christian', class: 'started', value:'Christian Ceazar' },
                { label: 'Nax', class: 'declined', value:'Rodolfo' },
                { label: 'All', class: 'active-file', value:'All' },
                { label: 'Last 7 Days', class: 'date-filter', value:'7days'},
                { label: 'Last Month', class: 'date-filter', value:'previous-month'},
                { label: 'This Month', class: 'date-filter', value:'current-month'},
            ]
        },
        computed: {
            ...mapGetters({ 
                currentUser: 'auth/data',               
                reports: 'weeklyFloorReport/reports',
                questions: 'weeklyFloorQuestion/getQuestionslist',
            }),
        },
        methods: {
            ...mapActions({
                getWeeklyFloorReports: 'weeklyFloorReport/getReports',
                getQuestion: 'weeklyFloorQuestion/getQuestions',
            }),
            setTable() {                
                let _tableData = [];

                this.floorReports.forEach((report)=>{
                    let formattedDate = new Date(report.created_at.replace('-', ','));
                        formattedDate = moment(formattedDate).format('MMM DD, YYYY');
                    let reporter = this.getReporter(['id',report.created_by]);

                    _tableData.push(
                        {
                            id: report.id,
                            date: formattedDate,
                            reporter: _.isEmpty(reporter) ? "N/A" : reporter.last_name+", "+reporter.first_name ,
                            client: _.isEmpty(report.client) ? "N/A" : report.client.company,
                            action: ''
                        }
                    )
                })

                this.fsTableSetting = {
                    tableColumns: [     
                        { label: '', width: '', key: '', sortable: false , alignment: 'left'},                
                        { label: 'Date', width: '20%', key: 'date', sortable: true , alignment: 'left'},                
                        { label: 'Reporter', width: '30%', key: 'reporter', sortable: true, alignment: 'left' },
                        { label: 'Client', width: '35%', key: 'client', sortable: true, alignment: 'left' },   
                        { label: 'Action', width: '15%', key: 'action', sortable: false, alignment: 'left' },
                    ],
                    tableData: _tableData
                }     
                
            },
            async getAllWeeklyFloorReports() {
                await this.getWeeklyFloorReports({query: {include: this.include.join(',')} });
                this.floorReports = this.reports;
                this.getQuestion({query: '' });
                this.setTable();
            },
            async triggerSearch(value) {
                if (value != '') {
                    await this.getWeeklyFloorReports({query: {search: value, include: this.include.join(',')} });
                } else {
                    await this.getWeeklyFloorReports({query: {include: this.include.join(',')} });
                }
                this.floorReports = this.reports;
                this.setTable();
            },
            async filterCandidate(label) {
                switch(label) {
                    case "All":
                        await this.getWeeklyFloorReports({query: {include: this.include.join(',')} });
                        break;
                    case "7days":
                    case "current-month":
                    case "previous-month":
                        await this.getWeeklyFloorReports({query: {frequency: label, include: this.include.join(',')} });
                        break;
                    default:
                       let reporter = this.getReporter(['first_name',label]);
                        await this.getWeeklyFloorReports({query: {created_by: reporter.id, include: this.include.join(',')}}); 
                        break;
                }
                this.floorReports = this.reports;
                this.setTable();
            },
            recordCounter(status) {
                let count = _.countBy(this.reports, (report) => {
                        if (status == 'all') {
                            return report.created_by != "";
                        } else {
                            return report.created_by == status;
                        }
                    }) 

                return count.true != undefined ? count.true : 0;
            },
            getReporter(value){
                let reporter = _.find(this.floorManagers,value);
                return reporter;
            },
            getReportByID(value){
                let report = _.find(this.floorReports,value);
                return report;
            },
            showEditCandidateModal(formOptions) { 
                let report = this.getReportByID(['id',formOptions.report.id]);
                formOptions.answer = report.answers;
                formOptions.questions = this.questions;
				this.form = formOptions;
                this.open = true;
                //console.log(this.form,'this.form');
			},
            css(width) {
				return `width:` + width + `;max-width:` + width;
            },
            getSelectedVal(id) {
                //console.log(id)
            },
            closeModal() { 
                this.open = false;
                //console.log(this.open)
            },
            createReport(){
                this.$router.push('/weekly-floor-report/create-report');
            },
        }
    }
</script>
