<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
			<div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
						<div class="back-btn-wrapper mb-4">
							<back-button :text="'Go to Main'" :route="'index'"></back-button>
						</div>
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
								<Can I="add" a="categories">
									<div class="dataTable_buttons">
										<button type="button" @click="openCategoryModal({key: 'create-update-categories', name: 'Add New Category'})" tag="button" class="btn btn-primary">Add New Category</button>
									</div>
								</Can>
                            </div>
                        </div>
                        <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @search="search($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)">
                            <!-- BEGIN SKILLS DATA -->
                            <tbody v-if="categories.length">
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(category, index) in categories"
                                    :key="category.id"
									>

                                    <td>{{ category.role }}</td>
                                    <td>{{ category.type }}</td>

                                    <td align="center">
										<Can I="update" a="categories">
											<a href="#" class="action-button" title="Edit Category" @click="showEditDialogoue({key: 'create-update-categories', name:'Update Category', category: category.id})">
												<i class="la la-pencil"></i>
											</a>
										</Can>
										<Can I="delete" a="categories">
											<a href="#" class="action-button" title="Delete Category" @click="showDeleteConfirmation(category.id, category.role)">
												<i class="la la-trash"></i>
											</a>
										</Can>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- END SKILLS DATA -->
                        </data-table>
                    </div>
                </div>
            </div>
            <!-- BEGIN WORK DETAIL DIALOG -->
	        <create-categories-modal v-if="form.key == 'create-update-categories' && open" :openModal="open" @success="reload()" @close="open = false" :info="form"></create-categories-modal>
	        <!-- END WORK DETAIL DIALOG -->
		</page-content>
	</div>
</template>

<style scoped>
	.action-button {
	    font-size: 20px;
	}
</style>

<script>
	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
	import DataTable from '@components/datatable.vue';

	import ModalDialog from '@components/modal-dialog.vue';
	import CreateCategoriesModal from '@views/pages/categories/_modals/create-categories.vue';
	import Select2 from '@components/select2.vue';
	import BackButton from '@components/back-button.vue';

	// mixins
	import DataTableMixin from '@common/mixin/DataTableMixin';
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';

	import { mapActions, mapGetters } from 'vuex'

	export default {
		data() {
        	let sortOrder = {};
			let sortKey = 'name';
	        let columns = [
	            { label: 'Name', key: 'name', sortKey: 'name', width: '40%', sortable: true },
	            { label: 'Resource Type', key: 'resource_type', sortKey: 'resource_type', width: '50%', sortable: true },
	            { label: 'Action', key: 'action', sortKey: '', width: '10%', sortable: false },
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'desc'
	        });

			return {
				title:'Categories Management',
				pageClass: 'ks-content-nav',
				sortKey:sortKey,
				sortOrder:sortOrder,
				limit: 10,
            	open: false,
				data: {
					columns:columns,
					rows: []
				},
				form: {
	                key: '',
	                name: '',
					category:{},	
					categories: []
	            },
				applicants: [],
				categorySelections: []
			}
		},
		async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
			this.setPaginationLimit(9999);
			await this.getCategories({query: _.merge(this.getParams(), {take: 9999})});
			await this.getSkills({query: {take: 99999}});
            this.setPagination(this.meta.pagination);
		},
		computed: {
			...mapGetters({
				meta:'categories/meta',
				categories: 'categories/formatted',
				skills:'skills/data',
			})
		},
		methods : {
			...mapActions({
				deleteCategory: 'categories/deleteCategory',
				getCategories: 'categories/getCategories',
				getSkills: 'skills/getSkills',
			}),
			openCategoryModal(formOptions) {
				this.form = formOptions
				this.open = true
			},
			async paginate(page) {
	            this.gotoPage(page);
	            await this.getCategories({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
	        async search(term) {
	            this.setSearch(term);
	            await this.getCategories({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
	        async sortList(key) {
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
	            await this.getCategories({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
	            await this.getCategories({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
		    async reload() {
		    	await this.getCategories({query: this.getParams()});
		    	this.setPagination(this.meta.pagination);
		    	this.open = false;
			},
		    showEditDialogoue(options) {
		    	this.openCategoryModal(options);
		    },
		    showDeleteConfirmation(categoryId, categoryName) {
				let affected_categories = [];

				this.skills.filter(obj => obj.categories.data.length > 0).forEach((res) => {
					let count = res.categories.data.length;

					if(res.categories.data[count - 1].category.id === parseInt(categoryId)) {
						affected_categories.push(res);
					}

				});
				
                if (affected_categories.length) {
					let flags = [];
					
                    if (affected_categories.length > 0) {
                        flags.push(affected_categories.length > 1 ? affected_categories.length+1 + ' categories' : 'category');
					}
					   
                    const title = 'The status cannot be removed while it is being associated with ' + flags.join(' and ') + '.';
                    const msg = `${categoryId} ${categoryName}`;
                    this.confirmDialog(title, msg, 'Close', '', 'sm');

                } else {
                    const title = 'Are you sure you want to delete this record?';
                    const msg = `${categoryId} ${categoryName}`;
                    this.confirmDialog(title, msg, 'Yes', 'No', 'sm')
                        .then(({ok}) => {
                            if (ok) {
                                this.deleteCategory(categoryId).then(() => this.reload());
						        this.notifyDialog('error', 'Successfully deleted!');
                            }
                        });
				}
		    }
		},
		components: {
			Select2,
			DataTable,
			PageHeader,
			PageContent,
			ModalDialog,
			CreateCategoriesModal,
			BackButton
		},
		mixins: [
			ModalDialogMixin,
			DataTableMixin,
			AlertMixin
		]
	}
</script>
