<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" @close="closeModal">
		<template slot="button">
            <save-button :loading="loading" :options="button" @action="save" :disabled="!isValid || errors.has('name') || errors.has('url') || hasNameError || hasUrlError">Save</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('name') || hasNameError }">
                                <label>Name<span class="error">*</span></label>
                                <input type="text" ref="name" name="name" v-validate="'required'" class="form-control" v-model="document.name" @keyup="resetError" />
								<span v-show="errors.has('name')" class="help-block form-error">{{ errors.first('name') }}</span>
                                <span v-show="hasNameError" class="help-block form-error">{{ nameDbError }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('url') || hasUrlError }">
                                <label>URL<span class="error">*</span></label>
                                <input type="text" ref="url" name="url" v-validate="'required'" class="form-control" v-model="document.url" @keyup="resetError" />
								<span v-show="errors.has('url')" class="help-block form-error">{{ errors.first('url') }}</span>
                                <span v-show="hasUrlError" class="help-block form-error">{{ urlDbError }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<script>
	//components
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';

	//mixins
	import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import AlertMixin from '@common/mixin/AlertMixin';

	import { mapActions, mapGetters } from 'vuex'

	export default {
		props: {
			info: { type: Object, required: true}
		},
		data() {
			return {
				option: { height: 'auto', width: '500px', bottom: 'auto' },
				button: { class: 'btn btn-primary', type: 'button' },
				document: { id: '', name: '', url: ''},
				loading: false,
				hasNameError: false,
				hasUrlError: false,
				nameDbError: null,
				urlDbError: null,
				validation: [
					{ path: 'name', name: 'name', rule: 'required', msg: {required: 'The name field is required'} },
					{ path: 'url', name: 'url', rule: 'required', msg: {required: 'The url field is required'} },
	            ],
			}
		},
		computed: {
			...mapGetters({
				doc: 'operationsDocuments/document',
				loggedInUser: 'auth/data'
			}),
			isValid() {
				let valid = true;
				_.each(this.validation, (form) => {
					let rules = form.rule.split('|')
					// validate accordingly
	                _.each(rules, (rule) => {
	                    if (rule == 'required') {
	                        if (this.isEmpty(_.get(this.document, form.path))) {
	                            valid = false;
	                            return;
	                        }
						}					
	                });

	                if (!valid) return;
				})
				return valid;
			}
		},
		async created() {
			await this.getDocument(this.info.document);
			this.document.id = this.doc.id || 0;
			this.document.name = this.doc.name || '';
			this.document.url = this.doc.url || '';	
			this.nameDBVal = this.doc.name;
			this.urlDBVal = this.doc.url;
			this.loggedInUser;
		},
		methods: {
			...mapActions({
				saveDocument: 'operationsDocuments/saveDocument',
				getDocument: 'operationsDocuments/getDocument',
				searchDocumentByName: 'operationsDocuments/searchDocumentByName'
			}),
			async save() {
			     // check if document was previously added. If found, restore soft-deleted document
				await this.searchDocumentByName(this.document.name);
				
			    if(this.doc.length && this.doc[0].deleted_at){
					this.document.id = this.doc[0].id;
					console.log('here')
                }
				
				this.hasNameError = false;
				this.hasUrlError = false;
				this.loading = true;
				this.errors.clear();

				this.document.updated_by_user = this.loggedInUser.data.id;
				
				this.saveDocument(this.document).then(() => {
			    	this.loading = false;
					this.$emit('success');
					setTimeout(() => {
						this.closeModal();
						this.document = {};
						this.notifyDialog('success', 'Successfully saved!');
					},150);
				}).catch((e) => {
					this.loading = false;
					if(e.response.data.message.name) {
						this.hasNameError = true;
						this.nameDbError = e.response.data.message.name[0];
					}
					if(e.response.data.message.url) {
						this.hasUrlError = true;
						this.urlDbError = e.response.data.message.url[0];
					}
				});
			},
			resetError(event) {
				if(event.target.value.trim() != this.nameDBVal) {
					this.hasNameError = false;
					this.nameDbError = '';
				}
				if(event.target.value.trim() != this.urlDBVal) {
					this.hasUrlError = false;
					this.urlDbError = '';
				}
			}
		},
		components: {
	        SaveButton,
	        ModalDialog
	    },
	    mixins: [
	    	DataTableMixin,
	        ModalDialogMixin,
			StringHelperMixin,
			AlertMixin
	    ]
	}
</script>
