<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="back-btn-wrapper">
                                <a href="#" @click.prevent="navigateBack(previousRoute)" class="back-btn">
                                    <i class="la la-long-arrow-left"></i>
                                    Back
                                </a>
                                <back-button :text="'Go to main'" :route="'index'" style="margin-left: 10px;"></back-button>
                            </div>
                        </div>
                        <div class="row m-0 mt-5">
                            <div class="col-md-10 offset-md-1">
                                <fs-form-step-wizard
                                    v-if="formStepWizardSettings != null"
                                    :settings="formStepWizardSettings"
                                    @submit="submitForm"
                                    @navigate-pages="getCurrentPage"
                                >

                                    <div v-if="!submitted && page == 1">
                                        <div class="col col-sm-12">
                                            <div class="row mt-4">
                                                <p class="inline-label">Select Evaluation Period:</p>
                                                <field-component v-for="element in formStepWizardSettings.pages[0].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                            </div>
                                        </div>
                                        <div class="col mt-3">
                                            <p class="inline-label resource">Select Resource to Evaluate:</p>
                                            <div class="pb-4">
                                                <CarouselResourcesNew
                                                    :rows="resourceCarouselData"
                                                    :headerTitle="'Evaluation Resource'"
                                                    :withHeader="false"
                                                    @success="getSelectedResource">
                                                </CarouselResourcesNew>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="!submitted && page == 2" class="row p-4">
                                        <field-component v-for="element in formStepWizardSettings.pages[1].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                    </div>
                                    <div v-if="!submitted && page == 3" class="row p-4">
                                        <div class="col">
                                            <div class="row step2-container pb-2" v-for="rating in performRatings" :key="rating.num">
                                                <div class="col-sm-3">
                                                    <div class="ks-items-block">
                                                        <button class="btn btn-lg ks-rounded btn-custom-pad" :class="rating.className">
                                                            <span class="number">{{ rating.num }}</span>{{ rating.text }}
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9 pl-5 m-auto">
                                                    <p class="text-desc m-0">{{ rating.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="!submitted && page == 4" class="row p-4">
                                        <field-component v-for="element in formStepWizardSettings.pages[3].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                    </div>
                                    <div v-if="!submitted && page == 5" class="row p-4">
                                        <field-component v-for="element in formStepWizardSettings.pages[4].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                    </div>
                                    <div v-if="!submitted && page == 6" class="row p-4">
                                        <field-component v-for="element in formStepWizardSettings.pages[5].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                    </div>

                                    <div v-if="submitted" class="row p-4">
                                        <p class="col-md-12 text-center my-4 h5 display-inline">
                                            Thank you for your evaluation.
                                        </p>
                                        <p class="col-md-12 text-center text-secondary display-inline">

                                        </p>
                                    </div>
                                </fs-form-step-wizard>
                                <div v-else class="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>

<style lang="scss">
    hr {
        margin-top: 0;
    }
    .text-top label.custom-control-label span {
        position: absolute;
        top: -18px;
        left: -18px;
    }
    .custom-control-inline.custom-checkbox label {
        min-width: 240px;
        margin-bottom: 3px;
    }
    .input-group-text {
        min-width: 190px;
    }
    .radio-options > .custom-radio:last-child span {
        left: -24px;
    }

    .div-container {
        button {
            padding-left: 51px;
            margin-bottom: 6px;
            span.number {
                font-size: 22px;
                position: absolute;
                left: 0px;
                top: 0px;
                background: #f2f3f5;
                width: 44px;
                border-radius: 20px 0 0 20px;
                height: 36px;
            }
        }
        button.btn-outline-info {
            color: #e6e611;
            background-color: transparent;
            background-image: none;
            border-color: #e6e611;
        }
        button.btn-outline-primary {
            color: #007840;
            background-color: transparent;
            background-image: none;
            border-color: #007840;
        }
        button.btn-outline-muted {
            color: gray;
            background-color: transparent;
            background-image: none;
            border-color: gray;
        }
        button:hover {
            cursor: default !important;
        }
    }
    .inline-label {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        margin-left: 15px;
    }
    .inline-label.resource {
        margin-left: 0;
    }
    .step2-container {
        button {
            padding-left: 51px;
            margin-bottom: 6px;
            width: 265px;
            span.number {
                font-size: 22px;
                position: absolute;
                left: 0px;
                top: 0px;
                background: #f2f3f5;
                width: 50px;
                border-radius: 20px 0 0 20px;
                height: 49px;
                line-height: 50px;
            }
        }
        button.btn-outline-info {
            color: #e6e611;
            background-color: transparent;
            background-image: none;
            border-color: #e6e611;
        }
        button.btn-outline-primary {
            color: #007840;
            background-color: transparent;
            background-image: none;
            border-color: #007840;
        }
        button.btn-outline-muted {
            color: gray;
            background-color: transparent;
            background-image: none;
            border-color: gray;
        }
        button:hover {
            cursor: default !important;
        }
        .text-desc {
            font-size: 1rem;
        }
        .btn-custom-pad {
            padding-right: 30px;
            padding-left: 80px;
            border-radius: 26px;
            overflow: hidden;
        }
    }
</style>
<style scoped>
    .back-btn {
        width: auto;
        z-index: 2;
        color: #333;
        background: #fff;
        border: 1px solid #cfd0cf;
        border-radius: 19px;
        padding: 8px 22px;
        height: 30px;
        line-height: 30px;
    }
</style>

<script>
    // Mixins
    import LoaderMixin from '@common/mixin/LoaderMixin';
    import EmployeeMixin from '@common/mixin/EmployeeMixin';
    import StringHelperMixin from '@common/mixin/StringHelperMixin';
    import DateMixin from '@common/mixin/DateMixin';
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
    import AlertMixin from '@common/mixin/AlertMixin';

    // Components
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import FsFormStepWizard from '@components/form/fs-form-step-wizard.vue';
    import FieldComponent from '@components/form/field-component.vue';
    import CarouselResourcesNew from '@components/carousel-resources-new.vue';

    import { mapActions, mapGetters } from 'vuex';
    import _ from 'lodash';

    export default {
        data() {
            return {
                title: 'Performance Evaluation Review',
                pageClass: 'ks-content-nav',
                formStepWizardSettings: null,
                page: null,
                submitted: false,
                resourceCarouselData: [],
                selectedEmpId: '',
                dataToSave: {},
                previousRoute: '',
                startDate: '',
                endDate: '',
                performRatings: [
                    {
                        num: 5,
                        text: 'Exceptional',
                        description: 'Performance is consistently superior and significantly exceeds position requirements.',
                        className: 'btn-outline-primary',
                    },
                    {
                        num: 4,
                        text: 'Highly Effective',
                        description: 'Performance frequently exceeds position requirements.',
                        className: 'btn-outline-success',
                    },
                    {
                        num: 3,
                        text: 'Proficient',
                        description: 'Performance consistently meets position requirements.',
                        className: 'btn-outline-info',
                    },
                    {
                        num: 2,
                        text: 'Inconsistent',
                        description: 'Performance meets some, but not all position requirements.',
                        className: 'btn-outline-warning',
                    },
                    {
                        num: 1,
                        text: 'Unsatisfactory',
                        description: 'Performance consistently fails to meet minimum position requirements; employee lacks skills required or fails to utilize necessary skills.',
                        className: 'btn-outline-danger',
                    },
                    {
                        num: 'N/A',
                        text: 'Not Applicable',
                        description: 'Employee has not been in position long enough to have demonstrated the essential elements of the position and will be reviewed at a later agreed upon date.',
                        className: 'btn-outline-muted',
                    }
                ],
            }
        },
        mounted() {
            this.hideLoader();
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.previousRoute = from
            });
        },
        async created() {
            let id = this.$route.params.id;
            if (this.loggedInUser.data.hasOwnProperty('activeClientId')) {
                id = this.loggedInUser.data.activeClientId;
            } else if (typeof id === 'undefined' || id === null) {
                this.$router.push('/');
            }

            await this.getClient(id);
            if (_.isEmpty(this.client)) {
                this.$router.push('/');
            }

            await this.getClientProjects({
                query: {
                    client_id: this.client.id,
                    include: ['resources.employee', 'resources.employee.positions', 'resources.employee.photo']
                }
            });
            this.resourceCarousel(this.projects);
            await this.getPerformEvalQuestions({query: {}});
            this.initialize();
        },
        computed: {
            ...mapGetters({
                positionTypes: 'positionTypes/formatted',
                employeePositionTypes: 'employeePositionTypes/formatted',
                categories: 'categories/formatted',
                skills: 'skills/formatted',
                client:'clients/client',
                projects: 'clientProjects/data',
                questions: 'performEvalQuestion/data',
                loggedInUser: 'auth/data',
            }),
        },
        methods: {
            ...mapActions({
                getClient: 'clients/getClient',
                getClientProjects: 'clientProjects/getClientProjects',
                getPerformEvalQuestions: 'performEvalQuestion/getPerformEvalQuestions',
                savePerformEvalResponses: 'performEvalResponse/submitResponses',
            }),
            navigateBack(route) {
                this.$router.push(route);
            },
            resourceCarousel(projects) {
                let carouselArray = [];
                let data = {};

                if (projects.length > 0) {
                    for (let index in projects) {
                        let resourceData = projects[index].resources.data;
                        if (resourceData.length > 0) {
                            for (let subIndex in resourceData) {
                                let exists = !!data[resourceData[subIndex]['employee_id']]
                                let employeementStatus = resourceData[subIndex]['employee'].data.employeeStatuses.data[0].status.name;

                                if ((!exists) && (employeementStatus != 'Resigned' && employeementStatus != 'Suspended' && employeementStatus != 'Terminated')) {
                                    data[resourceData[subIndex]['employee_id']] = [resourceData[subIndex]['employee'].data]
                                    carouselArray.push(resourceData[subIndex]['employee'].data);
                                }
                            }
                        }
                    }
                }
                this.resourceCarouselData = _.orderBy(carouselArray, 'first_name');
            },
            getSelectedResource(empId) {
                this.selectedEmpId = empId;
                this.updateElementField('selecting_resources', empId);
            },
            initialize() {
                this.formStepWizardSettings = {
                    form_id: 'performance_review',
                    form_title: 'Performance Evaluation Review',
                    submit_button_text: 'Submit',
                    pages: [
                        {
                            page_id: 1,
                            page_name: 'Choose Review Period and a Resource',
                            page_stepIcon: '',
                            formElements: [],
                        },
                        {
                            page_id: 2,
                            page_name: 'Job Definition',
                            page_stepIcon: '',
                            formElements: [
                                {
                                    type: "paragraph",
                                    label: 'Job Definition',
                                    class: 'col-md-12 inline-label resource',
                                    is_hidden: false,
                                },
                            ],
                        },
                        {
                            page_id: 3,
                            page_name: 'Performance Competency Ratings',
                            page_stepIcon: '',
                            formElements: [],
                        },
                        {
                            page_id: 4,
                            page_name: 'Descriptive Performance Review',
                            page_stepIcon:'',
                            formElements: [],
                        },
                        {
                            page_id: 5,
                            page_name: 'Descriptive Performance Review Cont.',
                            page_stepIcon:'',
                            formElements: [],
                        },
                        {
                            page_id: 6,
                            page_name: 'Performance Summary',
                            page_stepIcon:'',
                            formElements: [
                                {
                                    type: "paragraph",
                                    label: 'Performance Summary',
                                    class: 'col-md-12 inline-label resource',
                                    is_hidden: false,
                                },
                            ],
                        },
                    ]
                };

                let self = _;
                _.each(this.formStepWizardSettings.pages, (page, key) => {
                    let currentQuestions = self.filter(this.questions, {'page': page.page_id});
                    let newQuestions = [];

                    if (page.page_id == 1) {
                        self.each(currentQuestions, (quest, key) => {
                            let criteria = quest.criteria.data[0];

                            newQuestions.push({
                                type: criteria.type,
                                id: quest.form_id,
                                label: quest.label,
                                description: '',
                                value: '',
                                minDate: '',
                                maxDate: '',
                                class: 'col-md-4',
                                is_required: true,
                                is_hidden: false,
                            });
                        });

                        // carousel selecting resource validation
                        newQuestions.push({
                            id: 'selecting_resources',
                            is_required: true,
                            is_hidden: false,
                        });
                    } else if (page.page_id == 2 || page.page_id == 6) {
                        newQuestions = page.formElements;
                        self.each(currentQuestions, (quest, key) => {
                            let criteria = quest.criteria.data[0];

                            newQuestions.push({
                                type: "horizontal-rule",
                                class: 'col-md-12 py-1',
                            });

                            newQuestions.push({
                                type: criteria.type,
                                id: quest.form_id,
                                label: quest.sequence_no + '. ' + quest.label,
                                description: '',
                                value: '',
                                class: 'col-md-10',
                                is_required: !!quest.required,
                                is_hidden: false,
                            });
                        });
                    } else if (page.page_id == 4 || page.page_id == 5) {
                        newQuestions = [
                            {
                                type: "container",
                                content: `
                                    <div class="text-center">
                                        <div class="ks-items-block">
                                            <button class="btn btn-outline-primary ks-rounded mx-1"><span class="number">5</span>Exceptional</button>
                                            <button class="btn btn-outline-success ks-rounded mx-1"><span class="number">4</span>Highly Effective</button>
                                            <button class="btn btn-outline-info ks-rounded mx-1"><span class="number">3</span>Proficient</button>
                                            <button class="btn btn-outline-warning ks-rounded mx-1"><span class="number">2</span>Inconsistent</button>
                                            <button class="btn btn-outline-danger ks-rounded mx-1"><span class="number">1</span>Unsatisfactory</button>
                                            <button class="btn btn-outline-muted ks-rounded mx-1"><span class="number">N/A</span>Not Applicable</button>
                                        </div>
                                    </div>
                                `,
                                class: 'col-md-12 pb-4',
                                is_hidden: false,
                            },
                        ];
                        self.each(currentQuestions, (quest, key) => {
                            let criteria = self.groupBy(quest.criteria.data, 'type');

                            if (key != 0) {
                                newQuestions.push({
                                    type: "horizontal-rule",
                                    class: 'col-md-12 py-1',
                                });
                            }

                            self.each(criteria, (crit, key) => {
                                newQuestions.push({
                                    type: key,
                                    placeholder: key == 'radio' ? '' : 'Brief explanation ...',
                                    id: key == 'radio' ? quest.form_id : quest.form_id + '_' + key,
                                    label: key == 'radio' ? '' : quest.sequence_no + '. ' + quest.label,
                                    description: '',
                                    value: '',
                                    class: key == 'radio' ? 'col-md-3 field my-auto offset-3 radio-options text-top' : 'col-md-6',
                                    is_required: !!quest.required,
                                    is_hidden: false,
                                    options: key == 'radio' ? self.map(crit, (opt) => { return {value: opt.value, text: opt.label, is_need_explain: !!opt.is_need_explain} }) : [],
                                });
                            });
                        });
                    }

                    this.formStepWizardSettings.pages[key].formElements = newQuestions;
                });
            },
            getCurrentPage(pageNumber) {
                this.page = pageNumber;
            },
            updateElementField(id, value) {
                let descRevItems = [];

                // push id and value to dataToSave variable
                if (id != 'selecting_resources') {
                    if (this.dataToSave.hasOwnProperty(id)) {
                        delete this.dataToSave[id];
                    }

                    this.dataToSave[id] = value;
                }

                if (id == 'start_date_period') {
                    this.startDate = moment(value);
                }

                if (id == 'end_date_period') {
                    this.endDate = moment(value);
                }

                this.formStepWizardSettings.pages.forEach((page, pidx) => {
                    page.formElements.forEach((el, fidx) => {
                        if (el.id == 'selecting_resources') {
                            el.is_required = this.selectedEmpId == '';
                        }

                        if (el.id == 'end_date_period') {
                            el.minDate = this.startDate.format('YYYY-MM-DD');

                            if (this.startDate.isAfter(this.endDate)) {
                                el.value = '';
                            }
                        }

                        if (el.id === id) {
                            el.value = value;
                        }
                    });
                });
            },
            async submitForm() {
                let data = this.setResponses();

                await this.savePerformEvalResponses(data);
                this.submitted = true;
            },
            setResponses() {
                let data = {
                    employeeId: this.selectedEmpId,
                    clientId: this.client.id,
                    evaluatorId: this.loggedInUser.data.id,
                    responses: [],
                };
                let self = _;

                this.formStepWizardSettings.pages.forEach((page, pidx) => {
                    page.formElements.forEach((el, fidx) => {
                        // skipped other form elements does not need to insert to db
                        if (el.hasOwnProperty('id') == false || el.id == 'selecting_resources') {
                            return;
                        }

                        let formId = el.id.replace('_tiptap', '');
                        let val = el.value;
                        let question = self.find(this.questions, {'form_id': formId});
                        let criteria = {};

                        if (question.criteria.data) {
                            criteria = self.first(question.criteria.data);
                            let radVal = val || "0";
                            let checkCriteria = self.find(question.criteria.data, {'value': radVal});
                            if (question.criteria.data.length > 1 && self.isEmpty(checkCriteria) == false) {
                                criteria = self.find(question.criteria.data, {'value': radVal});
                            }
                        }

                        data.responses.push({
                            id: formId,
                            value: val,
                            page: question.page,
                            question: question,
                            criteria: criteria,
                        });
                    });
                });

                return data;
            },
        },
        components: {
            FsFormStepWizard,
            FieldComponent,
            CarouselResourcesNew,
            PageContent,
            PageHeader,
            BackButton
        },
        mixins: [
            LoaderMixin,
            ModalDialogMixin,
            EmployeeMixin,
            StringHelperMixin,
            DateMixin,
            AlertMixin
        ]
    }
</script>