<template>
    <a :href="data.href" :title="data.title" :target="data.target"> {{ data.label}}</a>
</template>

<script>
    export default {
        props: {
            data: {
                type: Object,
                required: true
            }
        }
    }
</script>
