<template>
    <div class="field" :class="data.class" >
        <br v-if="data.type==='line-break'">    
        <hr v-if="data.type==='horizontal-rule'">
        <div v-if="data.type==='container'" class="div-container" :class="data.class" v-html="data.content"></div>

        <text-field v-if="data.type === 'text'" v-bind:data="data" v-on:update="updateField"></text-field>
        <textarea-field v-if="data.type === 'textarea'" v-bind:data="data" v-on:update="updateField"></textarea-field>
        <file-field v-if="data.type === 'file'" v-bind:data="data" v-on:update="updateField"></file-field>
        <date-field v-if="data.type === 'date'" v-bind:data="data" v-on:update="updateField"></date-field>
        <time-field v-if="data.type === 'time'" v-bind:data="data" v-on:update="updateField"></time-field>
        <email-field v-if="data.type === 'email'" v-bind:data="data" v-on:update="updateField"></email-field>
        <number-field v-if="data.type === 'number'" v-bind:data="data" v-on:update="updateField"></number-field>
        <color-field v-if="data.element_id === 8" v-bind:data="data" v-on:update="updateField"></color-field>
        <select-field v-if="data.type === 'select'" v-bind:data="data" v-on:update="updateField"></select-field>
        <select-multiple-field v-if="data.type === 'select-multiple'" v-bind:data="data" v-on:update="updateField"></select-multiple-field>
        <checkbox-field v-if="data.type === 'checkbox'" v-bind:data="data" @update="updateField"></checkbox-field>
        <checkbox-text-field v-if="data.type === 'checkbox-text'" v-bind:data="data" @update="updateField"></checkbox-text-field>
        <checkbox-select-field v-if="data.type === 'checkbox-select'" v-bind:data="data" @update="updateField"></checkbox-select-field>
        <radio-field v-if="data.type === 'radio'" v-bind:data="data" v-on:update="updateField"></radio-field>
        <address-field v-if="data.type === 'address'" v-bind:data="data" v-on:update="updateField"></address-field>
        <heading v-if="data.type === 'heading'" v-bind:data="data" v-on:update="updateField"></heading>
        <paragraph v-if="data.type === 'paragraph'" v-bind:data="data" v-on:update="updateField"></paragraph>
        <fslink v-if="data.type === 'fslink'" v-bind:data="data" v-on:update="updateField"></fslink>
        <wysiwyg-field v-if="data.type === 'wysiwyg'" v-bind:data="data" v-on:update="updateField"></wysiwyg-field>
        <dragdrop-file-field v-if="data.type === 'dragdrop-file'" v-bind:data="data" v-on:update="updateField"></dragdrop-file-field>
        <display-box-field v-if="data.type === 'display-box'" v-bind:data="data" v-on:update="updateField"></display-box-field>
        <form-button v-if="data.type === 'form-button'" v-bind:data="data" v-on:update="updateField"></form-button>
        <tiptap-field v-if="data.type === 'tiptap'" v-bind:data="data" v-on:update="updateField"></tiptap-field>
        <phone-field v-if="data.type === 'phone'" v-bind:data="data" v-on:update="updateField"></phone-field>
        <tags-input-field v-if="data.type === 'tags-input'" v-bind:data="data" v-on:update="updateField"></tags-input-field>
    </div>
</template>
<style lang="scss">
    /* Bootstrap version alignmen issue fix */
    .custom-radio > .custom-control-input:checked ~ .custom-control-label:after {
        left: -23px !important;
    }
    .custom-checkbox > .custom-control-input:checked ~ .custom-control-label:after {
        left: -23px !important;
    }
    .col-form-label, .form-group label, .checkbox-select-field .main-label{
        font-weight: 500;
        span {
            font-weight: normal;
        }
    }
    .div-container {
        padding: 0;
    }
    .required {
        font-size: 20px;
        color: red;
        display: inline-block;
        height: 8px;
        line-height: 8px;
        font-weight: normal !important;
    }
    .field-label {
        font-weight: 700 !important;

    }
</style>
<script>
    import TextField from '@components/form/field/text-field.vue';
    import PhoneField from '@components/form/field/phone-field.vue';
    import DragdropFileField from '@components/form/field/dragdrop-file-field.vue';
    import TextareaField from '@components/form/field/textarea-field.vue';
    import FileField from '@components/form/field/file-field.vue';
    import DateField from '@components/form/field/date-field.vue';
    import EmailField from '@components/form/field/email-field.vue';
    import NumberField from '@components/form/field/number-field.vue';
    import TimeField from '@components/form/field/time-field.vue';
    import ColorField from '@components/form/field/color-field.vue';
    import SelectField from '@components/form/field/select-field.vue';
    import SelectMultipleField from '@components/form/field/select-multiple-field.vue';
    import CheckboxField from '@components/form/field/checkbox-field.vue';
    import CheckboxTextField from '@components/form/field/checkbox-text-field.vue';
    import CheckboxSelectField from '@components/form/field/checkbox-select-field.vue';
    import RadioField from '@components/form/field/radio-field.vue';
    import AddressField from '@components/form/field/address-field.vue';
    import Heading from '@components/form/field/heading.vue';
    import Paragraph from '@components/form/field/paragraph.vue';
    import Fslink from '@components/form/field/fslink.vue';
    import WysiwygField from '@components/form/field/wysiwyg-field.vue';
    import DisplayBoxField from '@components/form/field/display-box-field.vue';
    import FormButton from '@components/form/field/form-button.vue';
    import TiptapField from '@components/form/field/tiptap-field.vue';
    import TagsInputField from '@components/form/field/tags-input-field.vue';    
    
    export default {
        components: {
            TextField,
            PhoneField,
            DragdropFileField,
            TextareaField,
            FileField,
            DateField,
            EmailField,
            NumberField,
            TimeField,
            ColorField,
            SelectField,
            SelectMultipleField,
            CheckboxField,
            CheckboxTextField,
            CheckboxSelectField,
            RadioField,
            AddressField,
            Heading,
            Paragraph,
            Fslink,
            WysiwygField,
            DisplayBoxField,
            FormButton,
            TiptapField,
            TagsInputField
        },
        data() {
            return {
            }
        },
        props : {
            data: {
                type: Object,
                required: true,
            }
        },
        methods: {
            updateField(id, value) {
                this.$emit('update', id, value);
            },
            validateField(id, isValid) {
                this.$emit('validate', id, isValid);
            }
        }
    }
</script>
