<template>
    <div v-if="settings.pages.length > 0" class="steps-wrapper">
        <div class="fixed">
            <div class="step-indicator-wrapper">
                <ol v-if="!done" class="step-indicator">
                    <li v-for="(page, index) in settings.pages" :key="index" :class="[{ 'active': page.page_isActive == true }, { 'validated': page.page_isValidated == true }]" @click="onStepClick(index)" title="Click to navigate">
                        <div class="step">
                            <i v-if="page.page_stepIcon != ''" :class="page.page_stepIcon"></i>
                            <i v-else class="la">{{ index + 1 }}</i>    
                        </div>
                        <div class="caption hidden-xs hidden-sm"><span>{{ page.page_name }}</span></div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="steps-wrapper-content">
            <div class="steps-wrapper-content-title">
                <h3>{{ settings.form_title }}</h3>
                <slot>
                    <!-- content here -->
                </slot>
            </div>
        </div>        
        <div class="col-lg-12 text-right">
            <div class="mt-3 mb-3">
                <b-button v-if="showButtonPrev == true" class="button" ref ="button-left" variant="success" @click="buttonPrevClicked">Prev</b-button>
                <b-button v-if="showButtonNext" class="button" ref ="button-right" variant="success" :disabled="pageIsValidated ? false : true" @click="buttonNextClicked">Next</b-button>
                <b-button v-if="showSubmitButton" class="button" variant="success" :disabled="pageIsValidated && readyToSubmit ? false : true" @click="buttonSubmitClicked"> {{ submitButtonText }} </b-button>
                <!-- <b-button v-show="done" class="button" variant="success" @click="buttonCreateNewClicked">Start Over</b-button> -->
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    $wizard-color-neutral: #ccc !default;
    $wizard-color-active: #60d56e !default;
    $wizard-color-complete: #9ad3a1 !default;
    $wizard-step-width-height: 56px !default;
    $wizard-step-font-size: 24px !default;
    $wizard-step-caption-size: 11px;
    .steps-wrapper {
        width: 100%;
        .steps-wrapper-content {
            background-color: #fff !important;
            min-height: 200px;
            box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
            height: auto;
            .steps-wrapper-content-title {
                h3 {
                    color: #fff;
                    background: #4cb050;
                    width: 100%;
                    text-align: center;
                    padding: 6px;
                }
            }
        }
    }
    .step-wrapper {
        padding: 0;
        display: none;
        
        &.active {
            display: block;
            background: #fff;
            position: fixed;
            width: 100%;
            top: 60px;
            z-index: 3;
        }
    }
    .step-indicator-wrapper {
        overflow-y: auto;
        min-height: 117px;
        .step-indicator {
            border-collapse: separate;
            display: table;
            margin-left: 0px;
            position: relative;
            table-layout: fixed;
            text-align: center;
            vertical-align: middle;
            padding-left: 0;
            padding-top: 20px;

            li {
                display: table-cell;
                position: relative;
                float: none;
                padding: 0;
                width: 1%;            
                &:before {
                    background-color: $wizard-color-neutral;
                    content: "";
                    display: block;
                    height: 1px;
                    position: absolute;
                    width: 100%;
                    top: $wizard-step-width-height/2;
                }
                &:before {
                    right: 50%;
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                &.active {
                    .step {
                        border-color: $wizard-color-active;
                        color: $wizard-color-active;
                        background: linear-gradient(0deg, #c2fcd0, #fff);
                    }
                    .caption {
                        color: #ffb300;
                    }
                }
                &.validated {
                    .step {
                        border-color: $wizard-color-active;
                        i {
                            color: $wizard-color-active;
                        }
                    }
                }
                &.validated::before, &.active::before {
                    background-color: #60d56e;
                    height: 2px;
                }
                &.complete {
                    &:after {
                        background-color: $wizard-color-complete;
                    }

                    .step {
                        border-color: $wizard-color-complete;
                        color: $wizard-color-complete;
                    }

                    .caption {
                        color: $wizard-color-complete;
                    }
                }
            }            
            .step {
                background-color: #fff;
                border-radius: 50%;
                border: 2px solid $wizard-color-neutral;
                color: $wizard-color-neutral;
                font-size: $wizard-step-font-size;
                height: $wizard-step-width-height;
                line-height: $wizard-step-width-height;
                margin: 0 auto;
                position: relative;
                width: $wizard-step-width-height;
                z-index: 1;

                &:hover {
                    cursor: default;
                }
            }
            li:hover, .step:hover {
                cursor: pointer;
            }
            .caption {
                color: #858585;
                padding: 11px 16px;
                span {
                    font-size: $wizard-step-caption-size;
                    font-weight: 500;
                }
            }        
        }
    }
    /* Scrollbar style */
	/* width */
	::-webkit-scrollbar {
	width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	background: #f1f1f1; 
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	background: #ddd; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #bbb; 
	}
</style>

<script>
    export default {
        data() {
            return {
                stepNow: 0,
                showButtonPrev: false,
                showButtonNext: true,
                showSubmitButton: false,
                showCreateNewButton: false,
                submitButtonText: '',
                totalPages: null,
                hasPageUnvalidated: false,
                readyToSubmit: false,
                done: false
            }
        },
        props: {
            settings: {
                type: Object
            }
        },
        methods: {
            currentStep(stepIndex) {
                let i = 0;
                stepIndex = typeof stepIndex == 'undefined' ? 1: stepIndex; 
                this.stepNow = stepIndex;

                this.settings.pages.forEach((page) =>{
                    if (i == stepIndex - 1) {
                        this.$set(this.settings.pages[i], 'page_isActive', true);
                        this.updateButtons(stepIndex);
                    } else {
                        this.$set(this.settings.pages[i], 'page_isActive', false);
                    }

                    i++;
                });

                this.$emit('navigate-pages', this.stepNow);
            },
            buttonPrevClicked() {                
                this.currentStep(this.stepNow - 1);
            },
            buttonNextClicked() {
                this.currentStep(this.stepNow + 1);
            },
            async buttonSubmitClicked() {
                if (this.readyToSubmit) { // Refures to submit when user tries to hack the disabled submit button in UI
                    this.$emit('submit');
                    this.finished();
                }
            },
            buttonCreateNewClicked() {
                location.reload();
            },
            finished() {
                this.showButtonNext = false;
                this.showButtonPrev = false;
                this.showSubmitButton = false;
                this.settings.stepsClickable = false;
                this.done = true;               
            },
            updateButtons(stepIndex) {
                // prev button status
                if (stepIndex > 1) {
                    this.showButtonPrev = true;
                } else if (stepIndex == 1) {
                    this.showButtonPrev = false;
                    this.showButtonNext = true;
                    
                    if (stepIndex != this.totalPages) {
                        this.showSubmitButton = false;
                    }
                }

                // Next button status
                if (stepIndex == this.totalPages) {
                    this.showSubmitButton = true;
                    this.showButtonNext = false;
                } else if (stepIndex > 1 && stepIndex < this.totalPages) {                    
                    this.showButtonNext = true;
                    this.showButtonPrev = true;
                    this.showSubmitButton = false;
                }
            },
            onStepClick(index) {
                let isBeforeCurrentClickedStepValidated;

                if (index == 0) {
                    this.currentStep(index + 1);
                }

                if (index > 0) {
                    if (this.settings.pages[index - 1].page_isValidated || this.settings.pages[index].page_isValidated == true) {
                        this.currentStep(index + 1);
                    }
                }
            },
            areAllPagesValidated() {                
                let allPagesValidated = true;

                for (let i = 0; i <= this.totalPages - 1; i++ ) {
                    if (this.settings.pages[i].page_isValidated == false || this.settings.pages[i].page_isValidated == undefined) {
                        allPagesValidated = false;
                        break;
                    }
                }
                
                this.readyToSubmit = allPagesValidated;
                return allPagesValidated;
            }
        },
        mounted() {
            this.totalPages = this.settings.pages.length;
            this.submitButtonText = this.settings.submit_button_text && this.settings.submit_button_text != '' ? this.settings.submit_button_text : 'Submit';
            this.currentStep();
        },
        computed: {
            pageIsValidated() {
                let i = 0;
                let objValidated = {}
                let objRequired = {}
                let validated = true;

                this.settings.pages.forEach((page) => {
                    if (i == this.stepNow - 1) {
                        objValidated =  _.countBy(page.formElements, function (el) { 
                            return el.is_hidden == false && el.is_validated == true;
                        });
                        
                        objRequired =  _.countBy(page.formElements, function (el) { 
                            return el.is_hidden == false && el.is_required == true;
                        });
                    }

                    i++;
                });

                if (this.stepNow >= 1) {
                    if (objValidated.true != undefined || objRequired.true != undefined) {
                        validated = (objValidated.true === objRequired.true);
                    }

                    this.$set(this.settings.pages[this.stepNow - 1], 'page_isValidated', validated);
                }

                this.areAllPagesValidated();
                return validated;
            }
        }
    }
</script>
