<template>
   <div class="row">
       <div class="col-lg-12"><h4>{{page.description}}</h4></div>
       <field-component v-for="element in page.formElements.data" :key="element.id" :data="element" @update="updateField"></field-component>
   </div>
</template>

<script>
    import FieldComponent from '@components/form/field-component.vue';

    export default {
        components: {
            FieldComponent
        },
        data() {
            return {
                description: ''
            }
        },
        props : {
            page: {
                type: Object,
                required: true
            }
        },
        methods: {
            updateField(id, value) {
                this.$emit('update', id, value);
            }
        },
        created() {
            this.description = this.page.description;
        }
    }
</script>
