<template>
    <div>
        <page-header v-if="currentUser" :title="title"></page-header>
        <div class="text-center" v-else>
            <h3 class="green w-75 m-auto">Frequently Asked Questions</h3>
        </div>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container">
                        <div class="row" v-if="currentUser">
                            <div class="col-md-12 p-0">
                                <div class="back-btn-wrapper">
                                    <back-button :text="'Back'" :route="'index'"></back-button>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center pt-4 pb-4">
                            <div class="col-md-12 text-center">
                                <div class="search-wrapper">
                                  <a href="#" @click.prevent="search">
                                    <i class="la la-search"></i>
                                  </a>
                                  <input type="text" class="col-md-12 search" v-on:keyup.enter="search" v-model="searchText"/>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <Can I="add" a="faq">
                                <button type="button" @click="showComposeModal({key: 'compose-faq', name: 'Create FAQ'})" tag="button" class="btn btn-green text-center">Create FAQ</button>
                            </Can>
                        </div>
                        <div class="row qa pt-2" v-bind:class="[$index%2 == 0 ? '' : 'odd']" v-for="(faq, $index) in list" :key="$index">
                            <div class="w-100 text-right pr-3">
                                <Can I="update" a="faq">
                                    <a href="#" @click.prevent="showComposeModal({key: 'compose-faq', name: 'Update FAQ', faq: faq})" class="action-button" title="Update FAQ">
                                      <i class="la la-edit"></i>
                                    </a>
                                </Can>
                                <Can I="delete" a="faq">
                                    <a href="#" @click.prevent="showDeleteConfirmation(faq.id, faq.question)" class="action-button" title="Delete FAQ">
                                      <i class="la la-trash"></i>
                                    </a>
                                </Can>
                            </div>
                            <p class="question"><label>Q:</label><span v-html="faq.question"></span></p>
                            <p class="answer"><label>A:</label><span v-html="faq.answer"></span></p>
                        </div>
                        <infinite-loading @infinite="infiniteHandler" :identifier="infiniteId">
                            <div slot="no-more">No more results</div>
                            <div slot="no-results">No results</div>
                        </infinite-loading>
                    </div>
                </div>
            </div>
        </page-content>
        <create-faq v-if="form.key=='compose-faq' && open" :openModal="open" @success="success" @close="closeModalDialogue" :info="form"></create-faq>
    </div>
</template>

<script>
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import FsSearchInput from '@components/fs-search-input.vue';
    import SaveButton from '@components/form/button.vue';
    import DataTable from '@components/datatable.vue';

    import ModalDialog from '@components/modal-dialog.vue';

    import CreateFaq from '@views/pages/faqs/_modals/create-faq.vue';

    //Mixin
    import DataTableMixin from '@common/mixin/DataTableMixin';
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
    import AlertMixin from '@common/mixin/AlertMixin';

    import { mapActions, mapGetters } from 'vuex';
    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Frequently Asked Questions',
                placeHolder: 'Search',
                buttonLoading: false,
                searchText: "",
                open: false,
                form: {
                    key: '',
                    name: '',
                    height:'1200px',
                    report:{}
                },
                page: 1,
                list: [],
                infiniteId: +new Date(),
            }
        },
        components: {
            BackButton,
            PageContent,
            PageHeader,
            FsSearchInput,
            SaveButton,
            DataTable,
            ModalDialog,
            CreateFaq,
            InfiniteLoading,
        },
        mixins: [
            DataTableMixin,
            ModalDialogMixin,
            AlertMixin,
        ],
        async created() {
            this.initialize();
        },
        computed: {
            ...mapGetters({
                currentUser: 'auth/data',
                faqsData: 'faqs/formatted',
                data: 'faqs/data',
                meta: 'faqs/meta',
            }),
        },
        methods: {
            ...mapActions({
                getFaqs: 'faqs/getFaqs',
                deleteFaq: 'faqs/deleteFaq',
            }),
            showComposeModal(formOptions) {
                this.form = formOptions;
                this.open = true;
            },
            closeModalDialogue() {
                this.open = false;
            },
            updateList(limit) {
                this.setPaginationLimit(limit);
                this.getData();
            },
            paginate(page) {
                this.gotoPage(page);
                this.getData();
            },
            search() {
                this.getData();
                this.page = 1;
                this.list = [];
                this.infiniteId += 1;
            },
            async initialize() {
                this.getData();
            },
            async getData() {
                this.buttonLoading = true;
                const query = _.merge(this.getParams(), { search: this.searchText, take: 5, page:this.page });
                await this.getFaqs({ query });
                this.setPagination(this.meta.pagination);
                this.buttonLoading = false;
            },
            async success(faq) {
                this.search();
                this.closeModalDialogue();
            },
            async infiniteHandler($state) {
                await this.getData().then((res) => {
                    if(this.data.length) {
                        this.page += 1;
                        this.list.push(...this.data);
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },
            showDeleteConfirmation(faqId, question) {
                let div = document.createElement("div");
                div.innerHTML = question;

                const title = 'Are you sure you want to delete this record?';
                const msg = `${div.textContent}`;
                this.confirmDialog(title, msg, 'Yes', 'No', 'sm')
                    .then(({ok}) => {
                      if (ok) this.delete(faqId).then((res) => {
                          this.search();
                      });
                    });
            },
            delete(faqId) {
              return this.deleteFaq(faqId);
            },
        }
    }
</script>

<style lang="scss">
    .back-btn-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    .action-button {
        font-size: 20px;
    }

    .la-search {
        font-size: 2em;
    }

    h3.green {
        color: #fff;
        background: #007840;
        width: 100%;
        text-align: left;
        padding: 6px;
    }

    .question label {
        font-weight: 500;
    }

    .qa {
        border-left: 42px solid #ebebeb;
        margin-bottom: 8px;
        border-radius: 3px;
        p.question, p.answer {
            width: 100%;
            display: inline-block;
            margin-bottom: 0;
            label {
                float: left;
                font-size: 21px;
                font-weight: 700;
                color: #999;
                margin-left: -31px;
                margin-top: -2px;
            }
            span {
                display: inline-block;
                font-size: 20px;
                margin-left: 10px;
            }
        }
        p.answer {
            margin-top: 2px;
            span {
                font-size: 14px;
                margin-top: 3px;
            }
        }
    }
    .qa:nth-child(odd) {
        background-color: #f8f8f8;
    }
    .qa:nth-child(even) {
        background-color: #f5f9f4;
    }

    .add {
        border: 1px dotted #ddd;
    }

    .btn.btn-green {
        background-color: #4cb050 !important;
        border-color: #4cb050 !important;
    }

    .btn.btn-green:disabled {
        background-color: #ccecc3 !important;
        border-color: #ccecc3 !important;
    }
    .search-wrapper {
        width: 70%;
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        input.search {
            border: 1px solid #ccc;
            height: 38px;
            border-radius: 3px;
            padding-right: 44px;
        }
        a {
            position: absolute;
            right: 0px;
            z-index: 2;
            width: 23px;
            height: 38px;
            i {
                line-height: 38px;
                position: absolute;
                right: 9px
            }
        }
    }

    table,
    div.dataTables_wrapper > .row:first-child {
        border: none !important;
    }

    .dataTables_wrapper .row:first-of-type {
        border-top: 1px dotted #4cb050;
    }

    .alert {
        background-color: #f8d7da;
    }

    .pointer {
        cursor: pointer;
    }
</style>
