<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="`ks-content-nav`">
			<div class="ks-nav-body" v-if="!loading">
				<div class="ks-nav-body-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="back-btn-wrapper">
								<back-button :text="'Back'" :route="'search'"></back-button>                                    
								<back-button :text="'Go to Main'" :route="'index'" style="margin-left: 10px;"></back-button>
							</div>
						</div>
						<div class="row mt-5 mb-2">
							<h4 class="col-md-12 d-inline text-center">{{ clientName }} User Access</h4>
						</div>
						<div class="row mt-5 mb-2">
							<button @click="open=true" class="btn btn-success add-user-access"><i class="la la-user-plus"></i> Add User</button>
						</div>
						<div  v-for="(contact, index) in contacts" :key="contact.id"  class="row mt-4 access-listbox">
							<div class="access-box text-center col-md-3 m-0 p-0">                       
								<div class="info as-table contact-name">
									<p v-if="previousData[index]" class="as-table-cell">
										{{ contact.name }}<br>
										<span v-if="previousData[index]" class='email'>
										{{ contact.email }}<br>
										{{ contact.contact_no || 'None' }}
										</span>
										<span v-else class='email'>
											{{ contact.email }}<br>
											{{ contact.contact_no || 'None' }}
										</span>
									</p>
									<p v-else class="as-table-cell">
										{{ contact.name }}<br>
										<span v-if="previousData[index]" class='email'>
										{{ contact.email }}<br>
										{{ contact.contact_no || '' }}
										</span>
										<span v-else class='email'>
											{{ contact.email }}<br>
											{{ contact.contact_no || '' }}
										</span>
									</p>
								</div>
							</div>
							<div class="access-box text-center col-md-3 m-0 p-0">
								<div class="label">
									Login Access
								</div>
								<div class="info">
									<Can I="update" a="contacts">
										<label
										class="ks-checkbox-switch ks-primary"
										:class="{'fs-is-disabled': isProcessing}"
										>
										<input
											type="checkbox"
											v-model="contact.user.can_login"
											v-on:change="save(contact)"
											:disabled="isProcessing"
										/>
										<span class="ks-wrapper"></span>
										<span class="ks-indicator"></span>
										<span class="ks-on">Yes</span>
										<span class="ks-off">N0</span>
										</label>
									</Can>
								</div>
							</div>                
							<div class="access-box text-center col-md-3 m-0 p-0">
								<div class="label">
									User Verified
								</div>
								<div class="info">
									<p v-if="contact.user.is_verified" style="color:green">Yes</p>
									<p v-else style="color:red">Not Yet</p>
								</div>
							</div>
							<div class="access-box text-center col-md-3 m-0 p-0">
								<div class="label">
									Action
								</div>
								<div class="info">
									<button
										type="button"
										tag="button"
										class="btn btn-primary"
										:disabled="
										contact.user.can_login == 0 || isProcessing
										"
										@click="sendLogin(contact)"
									>
										Send
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-else class="loader"></div>
		</page-content>
		<create-contact-modal 
			v-if="open"
			:info="form"
			:openModal="open"
			@success="updateData"
			@close="closeModal">
		</create-contact-modal>
	</div>
</template>

<style lang="scss" scoped>
span.custom-control.custom-checkbox {
  padding: 0 !important;
  width: 18px !important;
  height: 18px !important;
  display: inline-block;
}
.custom-control-label {
  position: absolute !important;
  width: 18px !important;
  height: 18px !important;
  top: 0 !important;
  left: 0 !important;
  cursor: pointer;
}
.custom-control-label::before {
  left: 0 !important;
}
.clickable-row {
  cursor: pointer;
}
.action-button {
  font-size: 20px;
  color: #25628f;
  width: 40px;
}
.cursor-pointer {
  cursor: pointer;
}
.ks-checkbox-switch > .ks-wrapper {
  background: #ef5350;
}
.fs-is-disabled .ks-wrapper {
  opacity: 0.5;
}
.add-user-access {
  font-size: 14px;
  i {
    font-size: 16px;
  }
}
.access-listbox {
    background: #fbfbfb;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    .access-box {        
        .label {
            background: #e6e6e6;
            padding: 15px;
            color: #666;
            font-style: italic;
        }
        .info {            
            padding: 15px;
            color: #333;
            font-weight: bold;
            p {
              display: inline;
            }
            p.email {
              word-break: break-word;
            }
            p.access-yes {
              color: green;
            }
            p.access-no {
              color: red;
            }
        }
        .info.contact-name {
          height: 100%;
          font-size: 16px;
          p {
            color: #25628f;
            span {
              font-size: 12px;
              color: #318bd4;
              font-weight: normal;
              font-style: italic;
            }
          }
        }
    }    
}
.as-table {
  display: table !important;
  width: 100%;
}
.as-table-cell {
  display: table-cell !important;
  width: 100%;
  vertical-align: middle;
}
</style>
<style>
.enable-client-login-container div.dataTables_wrapper .row:first-child {
  display: none !important;
}
</style>
<script type="text/javascript">
import _ from 'lodash';
import $ from 'jquery';
import {mapActions, mapGetters} from 'vuex';

//Components
import SaveButton from '@components/form/button.vue';
import ModalDialog from '@components/modal-dialog.vue';
import DataTable from '@components/datatable.vue';
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import BackButton from '@components/back-button.vue';
import CreateContactModal from '@views/pages/client/_modals/create-contact.vue';

//Mixins
import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import AlertMixin from '@common/mixin/AlertMixin';

export default {
  props: {
    info: {type: Object, required: false},
  },
  components: {
    SaveButton,
    ModalDialog,
    DataTable,
    PageHeader,
    PageContent,
    BackButton,
    CreateContactModal
  },
  mixins: [ModalDialogMixin, AlertMixin],
  data() {    
    return {
      title: 'Allow Login Access',

      modal_save: 'Save',
      loading: false,
      button: {
        class: 'btn btn-primary',
        type: 'button',
      },
      contacts: [],
      users: [],
      previousData: [],
      fromRoute: {},
      isSendAccess: 1,
      select: [],
      changedUsers: [],
      isProcessing: false,
      clientName: '',
      open: false,
      form: {
              id: '',
              client_id: ''
            }
    };
  },
  computed: {
    ...mapGetters({
      client: 'clients/client',
      loggedInUser: 'auth/data',
      roles: 'roles/role',
      contactsClients: 'clientContacts/data',
    }),
  },
  async created() { 
 
    await this.fetchData();
    this.clientContacts = this.contactsClients;
    if (this.isSendAccess == 1) {
      for (var key in this.clientContacts) {
        this.select.push(this.clientContacts[key].email);
      }
    }
    let _client = this.client;
    this.clientName = _client.company;
    this.form.client_id = _client.id;
  },
  methods: {
    ...mapActions({
      addUserRole: 'userRoles/saveUserRole',
      saveUserRolePermission: 'userRolePermissions/saveUserRolePermission',
      addContactUser: 'addContactUser/addContactUser',
      getClient: 'clients/getClient',
      removeLoginCredentials: 'removeLoginCredentials/removeLoginCredentials',
    }),
    handleBack(fallback) {
      if (!this.fromRoute.name) {
        this.$router.push(fallback);
      } else {
        this.$router.back();
      }
    },
    selectCheckbox(index) {
      let contacts = this.contacts;
      this.contacts[index].user.can_login = !contacts[index].user.can_login;
    },
    getUser() {
      _.each(this.contacts, (contact, index) => {
        let user = contact.user || {};
        let row = {
          id: contact.user ? contact.user.id : 0,
          can_login: !_.isEmpty(user) ? user.can_login : 0,
          is_verified: !_.isEmpty(user) ? user.is_verified : 0,
        };
        contact.user = row;
      });
    },
    async fetchData() {
      await this.getClient(this.$route.params.id);
      this.contacts = this.client.contacts ? this.client.contacts.data : [];
      this.getUser();
      this.previousData = this.contacts.map(a => a.user.can_login);
    },
    getChangedUsers() {
      _.each(this.contacts, (data, index) => {
        this.changedUsers.push(this.contacts[index]);
      });

      return this.changedUsers;
    },
    async sendLogin(contact) {
      contact.user.can_login = 1;
      this.isProcessing = true;

      await this.addContactUser([contact]).then(res => {
        this.notifyDialog('success', 'Successfully sent!');
        this.isProcessing = false;
      });

      this.contacts = this.client.contacts ? this.client.contacts.data : [];
      this.previousData = this.contacts.map(a => a.user.can_login);
    },
    async save(contact) {
      if (contact.user.can_login) {
        this.contacts = this.client.contacts ? this.client.contacts.data : [];
        this.previousData = this.contacts.map(a => 0);
      } else {
        contact.user.is_verified = 0;
        contact.user.is_deactivated = false;
        contact.user.can_login = 0;
        this.isProcessing = true;

        await this.addContactUser([contact.user]).then(res => {
          this.notifyDialog('success', 'Successfully disabled!');
          this.isProcessing = false;
        });

        this.contacts = this.client.contacts ? this.client.contacts.data : [];
        this.previousData = this.contacts.map(a => 0);
      }
    },
    editData(contact_id) {
        this.form.id = contact_id;
        this.form.client_id = this.id;
        this.open = true;
    },
    updateData(contact) { 
        this.$emit('success');
        contact.user = {can_login: 0, id: 0, is_verified: 0};
        this.contacts.push(contact);        
    },
    async closeModal(){
        this.form.id = '';
        this.open = false;
    }
  },
  watch: {
    isSendAccess(newValue) {
      if (newValue == 0) {
        this.select = [];
      }
    },
  },
};
</script>
