<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="back-btn-wrapper mb-4">
                                <back-button :text="'Go to Main'" :route="'index'"></back-button>
                            </div>
                        </div>
                        <div class="row">
                            <data-table
                                :columns="data.columns"
                                :showPagination="false"
                                :showSearch="false"
                                :userFriendlyMode="false"
                                :showFilter="false"                              
                                >
                                <tbody>
                                    <tr>
                                        <template v-for="(client, index) in clientReport">
                                            <td :key="index" v-if="client.resources.length">
                                                <div>
                                                    <div v-for="(employee, i) in client.resources" :key="i">
                                                      <span class="name">{{ employee.resource_name }}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </template> 
                                    </tr>
                                </tbody>
                            </data-table> 
                        </div>                                            
                    </div>
                </div>
            </div>
        </page-content>        
    </div>
</template>

<script>
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import DataTable from '@components/datatable.vue'

    import { mapActions, mapGetters } from 'vuex'

    import DataTableMixin from '@common/mixin/DataTableMixin';
    import LoaderMixin from "@common/mixin/LoaderMixin";
    export default {
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Team Dashboard',
                testResults: [],
                data: {
                    columns:[]
                }
            }
        },
        components: {
            BackButton,
            PageContent,
            PageHeader,
            DataTable            
        },
        mixins: [
            DataTableMixin
        ],
        computed: {
            ...mapGetters({
                clientReport:'clients/clientReport',
            }),
        },
        async created() {
            let vm = this;
            await this.getClientReport({}).then(() => {
              vm.loading = false;
            });
            this.initialize();
        },
        methods: {
            ...mapActions({
              getClientReport: 'clients/getClientReport',
            }),
            async initialize() {
                let columns = [];
                this.clientReport.forEach((client, i) => {
                    if(client.resources.length > 0) {
                        let _label = '<p>' + client.company_name + '</p><span>' + client.resources.length + ' Employees</span>';
                        columns.push({ key: `test-result` + i, label: _label });
                    }

                });
                this.data.columns = columns;
            },
        }
    }
</script>

<style lang="scss">
    .filter-wrapper {
        display: none !important;
    }
    .name {
        position: relative;
        padding: 6px;
        background: #50ae55;
        margin: 11px 5px;
        display: block;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        white-space: nowrap;
    }
    .score {
        color: rgba(255,255,255,0.1);
        position: absolute;
        top: -8px;
        right: 6px;
        font-size: 34px;
    }
    .perfect {
        color: #f8f80d;
        position: absolute;
        top: -11px;
        right: -8px;
        font-size: 30px;
        text-shadow: 0px 1px 3px #585d5b;
    }
    table.dataTable.table-bordered th {
    }
    thead tr:first-child th {
        color: #708aa2;
        background: #e8e8e8;
        p {
            margin: 0;
            padding-top: .25em;
        }
        span {
            font-size: 12px;
            font-weight: normal;
            color: #495057;
            width: 100%;
            display: inline-block;
            padding-bottom: .5em;
        }
    }
    tr {
        text-align: center;
    }
    .table th {
        padding: 0;
    }
    .test_url p{
        text-decoration: underline;
    }
    .test_url:hover p{
        color:  #32c239 !important;
    }
</style>
