<template>
    <div class="fs-container">
        <!-- BEGIN PAGE HEADER -->
        <page-header :title="title"/>
        <!-- END PAGE HEADER -->
        <!-- BEGIN PAGE CONTENT -->
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="back-btn-wrapper mb-4">
                                <back-button :text="'Go to Main'" :route="'index'"></back-button>
                            </div>
                        </div>
                        <div v-if="loading" class="loader"></div>
                        <div v-else>
                            <div v-for="(client, index) in clientReport" :key="index" class="employees-by-client">
                                <h5>{{ client.company_name }}</h5>
                                <span v-html="parseResources(client.resources)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
        <!-- END PAGE CONTENT -->
    </div>
</template>
<style scoped>
    .card-body {
        padding: 9px 20px 9px 11px;
    }
    hr {
        background-color: #dedbdb;
    }
</style>
<style>
    .add-resource-input > .vue-tags-input .tag.valid, .add-resource-input > .vue-tags-input .tag.invalid {
        display: none;
    }
    .v-dialog.active, .v-dialog:target {
        z-index: 10000 !important;
    }
    .resources-scroll {
        min-height: 70px;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .resources-form {
        margin-top: 1em;
    }
    .add-resource-input .autocomplete {
        max-height: 130px;
        overflow-y: auto;
        position: absolute;
    }
    .employees-by-client .badge.badge-success-outline {
        margin-bottom: 5px;
        margin-right: 3px;
        text-transform: none;
    }
    .employees-by-client .badge.badge-success-outline:hover {
        background-color: #81c159;
        color: #fff;
    }
    .employees-by-client {
        padding: 10px;
        border: 1px solid #dee0e1;
        margin: 0 0 20px;
    }
</style>
<script type="text/javascript">
    import _ from 'lodash';

    //Components
    import PageHeader from '@components/page-header.vue';
    import PageContent from '@components/page-content.vue';
    import BackButton from '@components/back-button.vue';

    //Mixins
    import LoaderMixin from "@common/mixin/LoaderMixin";

    import { mapActions, mapGetters } from 'vuex';

    export default {
        components: {
            PageHeader,
            PageContent,
            BackButton
        },
        mixins: [
        ],
        data() {
            return {
                title: 'View All Employees By Client',
                pageClass: 'ks-content-nav',
                loading: true,
            }
        },
        computed: {
            ...mapGetters({
                clientReport:'clients/clientReport',
            }),
        },
        mounted() {
        },
        async created() {
            let vm = this;
            await this.getClientReport({}).then(() => {
                vm.loading = false;
            });
        },
        methods:{
            ...mapActions({
                getClientReport: 'clients/getClientReport',
            }),
            parseResources(resources) {
                let results = 'No Resources Found.';
                let vm = this;

                if (!_.isEmpty(resources)) {
                    results = _.join(_.map(resources, (r) => {
                        return '<a href="/employee/' + r.employee_id + '/profile" target="_blank" class="badge badge-success-outline">' + r.resource_name + '</a>';
                    }), '  ');
                }

                return results;
            }
        },
    }
</script>
