 <template>
    <route-wizard
        :routes="routes"
        :resourceTypes="resourceTypes"
        ref="client_wizard"
        :currentRouteName="currentRouteName"
        :menuRoute="menuRoute"
        :beforeChange="beforeChange"
        :beforeChangeResource="beforeChangeResource"
        :finishButton="finishButton"
        :showCompleteUpdate="showCompleteUpdate"
        :menuName="menuName"
        @pageChange="pageChange"
        @save="save">
    </route-wizard>
</template>


<script>
//Components
import RouteWizard from '@components/route-wizard';

// mixins
import AlertMixin from '@common/mixin/AlertMixin';

import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        const baseRoute = '/suggest-resource';
        return {
            currentRouteName: 'Choose the type of resource you like to build.',
            menuRoute: '',
            menuName: 'Back to Profile',
            startIndex: 0,
            finishButton: 'Finish',
            countSelectedHolder: 0,
            routes: [
                {
                    route_name: 'Choose the type of resource you like to build.',
                    route_uri: `${baseRoute}/type-of-resource`,
                },
            ],
            resourceIndex: -1,
            showCompleteUpdate: false,
        };
    },
    computed: {
        ...mapGetters({
            currentStep: 'wizardClientProspects/current_step',
            resourceTypes: 'clientTeamBuilder/resourceTypes',
            countSelected: 'clientTeamBuilder/countSelected',
            suggestedResource: 'clientTeamBuilder/suggestedResource',
            clientId: 'wizardClientProspects/step_1'
        }),
    },
    components: {
        RouteWizard,
    },
    async created() {
        if (this.clientId > 0) {
            await this.initializeCurrentRoute(this.$router.currentRoute.matched[1].path);
            this.setCurrentStep(-1);
            this.initializeResourceTypes();
            this.initializeSuggestedResource(); 
            this.menuRoute = '/client/' + this.clientId  + '/profile';
        }
        else {
            this.$router.push('/');
        }
    },
    mixins: [
        AlertMixin,
    ],
    methods: {
        ...mapActions({
            setCurrentStep: 'wizardClientProspects/setCurrentStep',
            setCurrentResourcePage: 'clientTeamBuilder/setCurrentResourcePage',
            initializeResourceTypes: 'clientTeamBuilder/initializeResourceTypes',
            initializeSuggestedResource: 'clientTeamBuilder/initializeSuggestedResource',
            initializeCurrentRoute: 'clientTeamBuilder/initializeCurrentRoute',
        }),

        pageChange(prevIndex, nextIndex) {
            this.setCurrentStep(nextIndex);
            const lastStep = this.routes.length;

            if ((this.routes.length - 1) >= nextIndex) {
                this.currentRouteName = this.routes[nextIndex].route_name;
            }
            else {
                this.resourceIndex = nextIndex - this.routes.length;
                if((this.resourceTypes.length - 1) >= this.resourceIndex) {
                    this.setCurrentResourcePage(this.resourceTypes[this.resourceIndex].route_resource);
                    this.currentRouteName = this.resourceTypes[this.resourceIndex].route_name;    
                }
                else {
                    this.currentRouteName = "Finishing Up...";
                }
            }
        },
        beforeChange() {
            /**
             * Implement steps validation here.
             * Step is zero-based.
             */
            return true;
        },
        beforeChangeResource() {
            if (this.countSelectedHolder != this.suggestedResource.length && this.suggestedResource.length != 0) {
                this.countSelectedHolder = this.suggestedResource.length;
                return true;
            }
            else if (this.countSelected > 0) {
                return true;
            }
            else {
                return false;
            }
        }, 
        async save() {
            if (this.finishButton == 'Finish') {
                this.triggerStepLastAddData();
                let request = {
                    client_details: this.step2Data,
                    client_projects: this.step3Data,
                    suggested_resource: this.suggestedResource,
                    profile_access: this.stepLastData,
                };
                await this.saveWizardClientSetup(request).then(() => {
                    this.$router.push('/review-client-prospects/form-submitted');
                    this.finishButton = 'Done';
                });
            } else if (this.finishButton == 'Done') {
                this.$refs.client_wizard.backToMenu();
                // this.$router.push('/review-client-prospects/form-submitted');
            }
        },
    },

}
</script>
