<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-responsive">
                        <div class="row mb-4">
                            <div class="back-btn-wrapper ml-3">
                                <back-button :text="'Go to main'" :route="'/'"></back-button>
                            </div>
                        </div>                        
                        <div>
                            <ul class="nav ks-nav-tabs ks-tabs-page-default ks-tabs-full-page">
                                <li class="nav-item">
                                    <a class="nav-link active show" href="/?ref=add" data-toggle="tab" data-target="#in-patient">                                       
                                        <i class="la la-plus"></i> Add New Referral
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/?ref=list" data-toggle="tab" data-target="#discharged">
                                        <i class="la la-list"></i> Referrals List
                                    </a>
                                </li>                                
                            </ul>
                            <div class="tab-content mt-4">
                                <div class="tab-pane ks-column-section active show" id="in-patient" role="tabpanel">
                                    <fs-form-step-wizard
                                        v-if="formStepWizardSettings"
                                        :settings="formStepWizardSettings"
                                        @submit="submit"                            
                                        @currentStep="stepNow"
                                        :finish="finish"
                                    >
                                        <div v-if="!submitted && wizardStep == 1" class="row p-4">
                                            <field-component v-for="element in formStepWizardSettings.pages[0].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                        </div>
                                        
                                        <div v-if="submitted" class="row p-4">
                                            <h3 class="col-md-12 thank-you">Thank You!</h3>
                                            <p class="col-md-12 text-center my-4 text-secondary h6 display-inline">We have received the details of your request and will review it shortly.
                                                For further inquiry, you may contact us! </p>
                                            <a href="tel:1234567" class="mx-auto btn btn-success btn-lg call-us" role="button" aria-pressed="true">Call Us</a>
                                        </div>
                                    </fs-form-step-wizard>
                                </div>
                                <div class="tab-pane" id="discharged" role="tabpanel">
                                    All
                                </div>                                
                            </div>
                        </div>                      
                        
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>
<style lang="scss">
    h3.thank-you {
        background: transparent !important;
        color: #4aaf4f !important;
    }
    .call-us {
        background: #4cb050 !important;
        padding: 12px 60px !important;
        border-radius: 5px;
    }
</style>
<script>
    // libraries
    import _ from 'lodash';

    // Mixin
    import EmployeeMixin from "@common/mixin/EmployeeMixin";
    import AlertMixin from "@common/mixin/AlertMixin";
    import DownloadMixin from "@common/mixin/DownloadMixin";

    // Components
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import FsFormStepWizard from '@components/form/fs-form-step-wizard.vue';
    import BackButton from "@components/back-button";
    import FieldComponent from '@components/form/field-component.vue';
    import SaveButton from '@components/form/button';

    import { mapActions, mapGetters } from 'vuex'

    //Models
    import { CreativeServiceFile } from '@common/model/CreativeServiceFile';
    

    export default {
        components: {
            PageHeader,
            PageContent,
            FsFormStepWizard,
            BackButton,
            FieldComponent,
            SaveButton
        },
        mixins:[
            AlertMixin,
            EmployeeMixin
        ],
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Referral System Environment',
                isLoading: false,
                formStepWizardSettings: {},
                skillCategories: [],

                wizardStep: null,
                loading: false,
                finish: false,
                submitted: false,
                hidePocFields: null,
                fileUpload: {
                    folder: 'creative-services',
                    name:'test.pdf',
                    medium: null,
                    medium_type: 'file',
                    old_id: '',
                    old_cv: ''
                },
                imageTypes:['JPEG', 'PNG', 'JPG'],
                fileTypes:['PDF', 'DOCX', 'DOC', 'JPEG', 'PNG', 'JPG', 'PSD']
            }
        },
        async created() {
            this.getCategories({query: {take: 9999, disableDefaultIncludes: 1}});
            this.getSkills({query: {take: 99999}});            
            await this.initialize();            
        },
        computed: {
            ...mapGetters({
                currentUser: 'auth/data',
                categories: 'categories/formatted',
                skills: 'skills/formatted',
            })
        },
        methods: {
            ...mapActions({
                getCategories: 'categories/getCategories',
                getSkills: 'skills/getSkills',
                saveCreativeServiceApplicants: 'creativeServiceApplicants/saveCreativeServiceApplicant',
                saveCreativeService: 'creativeServices/saveCreativeService',
            }),
            checkSelectedFile(currentFile){
                if(currentFile.name!=''){
                    let extension = currentFile.name.split('.');
                    if(this.fileTypes.indexOf(extension[1].toUpperCase())>=0) {
                        return true;
                    }
                }
                return false;
            },
            getMediumType(currentFile){
                if(currentFile !=''){
                    let extension = currentFile.split('.');
                    if(this.imageTypes.indexOf(extension[1].toUpperCase())>=0) {
                        return 'image';
                    }
                }
                return 'file';
            },
            async submitFile(currentfileUpload){
                    return new Promise((resolve) => {
                        this.loading = true;
                        const creativeServiceFile = new CreativeServiceFile();

                        setTimeout(function(){
                            let $ = jQuery;
                            $("span#uploading-notification").show(200);
                        },15000);

                        try{
                            creativeServiceFile.save(currentfileUpload).then(() => {
                                resolve(true);
                            });
                        }catch(e){
                            const title = 'Error!';
                            const msg = 'An unexpected error has occurred while uploading your resume, please try again.';
                            this.confirmDialog(title, msg, 'Close', '', 'sm');
                            resolve(false);
                        }
                });
            },
            initialize() { 
                this.skillCategories = _.map(this.categories.concat(this.skills), item => ({
                    value: item.id,
                    text: item.role || item.text
                }));

                this.formStepWizardSettings = {
                    form_id: 'referral',
                    form_title: 'Referral Form',
                    stepsClickable: false,
                    pages: [                            
                        {
                            page_id: 1, 
                            page_name: 'Requester info', 
                            page_isActive: true, 
                            page_sortOrder: 1,
                            page_stepIcon:'',
                            formElements: [
                                {
                                    type: "text",
                                    id: 'candidate_name',
                                    label: "Candidate's Name",
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'candidate_contact_number',
                                    label: "Candidate's Contact Number",
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "email",
                                    id: 'candidate_email',
                                    label: "Candidate's Email",
                                    value: '',
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "select-multiple",
                                    id: 'referred_skills',
                                    label: "Referred Skills",
                                    value: [],
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                    options: this.skillCategories 
                                },
                                {
                                    type: "dragdrop-file",
                                    id: 'file',
                                    label: 'UPLOAD RESUME',
                                    value: [],
                                    class: 'col-md-12 text-center',                                            
                                    is_required: true,
                                    is_hidden: false
                                },
                            ]
                        }
                    ]
                }               
            },
            stepNow(stepIndex) {
                this.wizardStep = stepIndex;
            },
            updateElementField(id, value) {
                // Get user's response for Are you a POC...        
                if(id === 'primary') {
                    this.hidePocFields = null;

                    if(value === 'no') {
                        this.hidePocFields = false;
                    } if(value === 'yes') {
                        this.hidePocFields = true;
                    }
                }

                this.formStepWizardSettings.pages.forEach((page) => {
                    page.formElements.forEach((el) => {
                        
                        // Show/Hide POC' Name & POC's Email
                        if((el.id === 'poc_name' || el.id === 'poc_email') && this.hidePocFields !== null) {
                            el.is_hidden = this.hidePocFields;
                        }

                        // Update field value
                        if(el.id === id) { 
                            el.value = value;                            
                        }
                    });
                });
            },
            async submit(){
                await this.doSubmit();
                this.finish = true;
                this.submitted = true;
            },
            async doSubmit() {
                let infoToSave = {};
                let infoDetailToSaveTemp = {};
                let infoDetailToSave = {};
                let idNotIncluded = ["full_name", "email", "poc_name", "poc_email"];
                let newPromises = [];
                let savedData = {};
                let filesToUpload = {};
                let filesToUploadTemp = [];

                _.each(this.formStepWizardSettings.pages, (page) => { 
                    page.formElements.forEach((el) => {
                        if (idNotIncluded.indexOf(el.id) < 0) {
                            let txt_value = "";
                            
                            if (el.type == "checkbox") {
                                let optArray = el.options;
                                let array_value = [];
                                if (el.value.length > 0) {
                                    optArray.forEach((item) => {
                                        el.value.forEach((itm) => {
                                            if (item.value == itm) {
                                                array_value.push(item.text);
                                            }
                                        });
                                    });
                                    txt_value = JSON.stringify(array_value);
                                }
                            } else {
                                txt_value = el.value;
                            }
                            if(el.id != "primary" && el.id != "file") {
                                infoToSave[el.id] = txt_value;
                            }
                            if (el.id == "file") {
                                filesToUploadTemp  = el.value;
                            }
                        } else {
                            infoDetailToSaveTemp[el.id] = el.value;
                        }
                    });                    
                });
                if (!this.hidePocFields) {
                    infoDetailToSave = [
                        {
                            full_name: infoDetailToSaveTemp.full_name,
                            email: infoDetailToSaveTemp.email,
                            primary: 1
                        },
                        {
                            full_name: infoDetailToSaveTemp.poc_name,
                            email: infoDetailToSaveTemp.poc_email,
                            primary: 0
                        }
                    ];
                } else {
                    infoDetailToSave = [
                        {
                            full_name: infoDetailToSaveTemp.full_name,
                            email: infoDetailToSaveTemp.email,
                            primary: 1
                        }
                    ];
                }
                savedData = await this.saveCreativeService(infoToSave);
                if (filesToUploadTemp.length > 0) {
                    filesToUploadTemp.forEach((file) => {
                        let tempfileUpload = {};
                        this.fileUpload.name = file.name;
                        this.fileUpload.medium = file.encoded;
                        this.fileUpload.medium_type = this.getMediumType(file.name);
                        tempfileUpload = this.fileUpload;
                        tempfileUpload.creative_service_id = savedData.data.id;
                        if (file.status != 'error') {
                            newPromises.push(this.submitFile(tempfileUpload));
                        }
                    });
                }
                infoDetailToSave.forEach((row) => {
                    row.creative_service_id = savedData.data.id;
                    newPromises.push(this.saveCreativeServiceApplicants(row));
                });
                Promise.all(newPromises).then((res) => {
					setTimeout(() => {
                        this.notifyDialog('success', 'Successfully saved!');
                    },150);
                });
            }
        },
        beforeDestroy() {
            this.formStepWizardSettings = [];
        }
    }
</script>
