<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" @close="closeModal">
		<template slot="button">
            <save-button :loading="loading" :options="button" @action="save" :disabled="!isValid">{{info.name}}</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('name')}">
                                <label>Name<span class="error">*</span></label>
                                <input type="text" v-validate="'required'" ref="firstName" name="name" class="form-control" v-model="holidayData.name" @keyup="resetSSError"/>
                                <span v-show="errors.has('name')" class="help-block form-error">{{ errors.first('name') }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" :class="{'has-error': errors.has('date') || isDateExists}">
                                <label>Date<span class="error">*</span></label>
                                    <div id="date-fields">
                                        <flat-pickr
                                            v-model="holidayData.date"
                                            :config="getConfig(true, false, { allowInput: false })"
                                            placeholder="Select date"
                                            name="date"
                                            v-validate="'required'"
                                            @on-change="checkIfDateIsExists"
                                         />
                                        </div>
                                    <span v-show="errors.has('date')" class="help-block form-error">{{ this.stringReplace(errors.first('date'),'date','Date') }}</span>
                                    <span v-show="isDateExists" class="help-block form-error">The holiday date has already been taken.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Type<span class="error">*</span></label>
                            <select2 v-model="holidayData.type"
                            :options="type.options"
                            :value="type.value"
                            @select="setHolidayType($event)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<style scoped>

.holiday-type {
    width: 99%;
    height: 38px;
    border-color: #dedede;
}



</style>

<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';

	import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import AlertMixin from '@common/mixin/AlertMixin';

    import FlatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import DateMixin from '@common/mixin/DateMixin';
    import DatePickerMixin from '@common/mixin/DatePicker';

    import Select2 from '@components/select2.vue';

	import { mapActions, mapGetters } from 'vuex';
	export default {
		props: {
			info: { type: Object, required: true}
		},
		data() {
			return {
				valid:false,
				option: { width: '500px' },
	            holidayData: {
                    id: '',
                    name: '',
                    date: '',
                    type: ''
                },
	            button: { class: 'btn btn-primary',type: 'button' },
	            loading: false,
	            manualInput : false,
	            validation: [
	                { path: 'name', name: 'name', rule: 'required', msg: {required: 'The name field is required'}},
                    { path: 'date', name: 'date', rule: 'required', msg: {required: 'The date field is required'}},
                    { path: 'type', name: 'type', rule: 'required', msg: {required: 'The type field is required'}},
	            ],
	            ssError: null,
	            holidayNameDBVal:'',
                type: {
                    options: [
                        {id: 'regular', text: 'Regular'},
                        {id: 'special', text: 'Special'}
                    ]
                },
                isDateExists: false,
                pristine: {},
			}
		},
		computed: {
			...mapGetters({
				holiday:'holiday/holiday',
			}),
			isValid() {
				let valid = true;
				_.each(this.validation, (form) => {
					let rules = form.rule.split('|')
					// validate accordingly
	                _.each(rules, (rule) => {
	                    if (rule == 'required') {
	                        if (this.isEmpty(_.get(this.holidayData, form.path))) {
	                            valid = false;
	                            return;
	                        }
	                    }
	                });

	                if (!valid) return;
				})

				return valid && !this.isDateExists;
			}
		},
		async created() {
            if (this.info.holiday) {
                await this.fetchHoliday(this.info.holiday);
                this.holidayData.name = this.holiday.name || '';
                this.holidayData.date = this.holiday.date || '';
                this.holidayData.type = this.holiday.type || '';
                this.holidayData.id = this.holiday.id || 0;
                this.holidayNameDBVal = this.holiday.name;

                this.pristine = this.holiday;
            }
		},
		methods: {
			...mapActions({
				saveHoliday: 'holiday/saveHoliday',
				fetchHoliday: 'holiday/getHoliday',
                searchHolidayByName: 'holiday/searchHolidayByName',
                searchByDate: 'holiday/searchByDate', getHolidays: 'holiday/getHolidays',

			}),
			async save() {
				this.loading = true;
			    //This will check if the holiday was previously added. If yes, this will restore the soft-deleted holiday
			    await this.searchHolidayByName(this.holidayData.name);
			    if(this.holiday.length && this.holiday[0].deleted_at){
			        this.holidayData.id = this.holiday[0].id;
                }

				this.ssError = '';
				this.errors.clear();
				this.saveHoliday(this.holidayData).then(() => {
					this.$emit('success');
					setTimeout(() => {
						this.closeModal();
			    		this.loading = false;
						this.holidayData = {};
						this.notifyDialog('success', 'Successfully saved!');
					},150);
				}).catch((e) => {
					this.loading = false;
				});
			},
			resetSSError(event) {
				if(event.target.value.trim() != this.holidayNameDBVal) {
					this.hasSSerror = false;
					this.ssError = '';
				}
			},
            getLegalYear: function (years){
                var date = new Date();
                date.setFullYear(date.getFullYear() - years);
                return date;
            },
            setHolidayType(type) {
                this.holidayData.type = type;
            },
            async checkIfDateIsExists(dateArr, val) {
                let flag = false;

                // ignore validation
                if (this.info.holiday && this.pristine.date == val) {
                    this.isDateExists = false;
                    return;
                }

                await this.searchByDate(val).then(res => {
                    flag = res.data.length ? true : false;
                }).catch(e => {
                    flag = false;
                });

                this.isDateExists = flag;
            }
		},
		components: {
	        GenerateButton,
	        SaveButton,
	        ModalDialog,
            FlatPickr,
            Select2
	    },
	    mixins: [
			/*DataTableMixin,*/
	        ModalDialogMixin,
			StringHelperMixin,
			AlertMixin,
            DatePickerMixin,
            DateMixin
	    ]
	}
</script>
