.no-padding {
    margin: 0;
    padding: 0;
}
.ks-page-header {
    background-color: rgba(148, 148, 148, 1);
}

form {
    display: block;
    margin-top: 0em;
}

.separator {
    display: block;
    margin: 10px 0;
}

.parent-content {
    height: auto!important;
    min-height: 385px!important;
    max-height: 385px !important;
    margin-bottom: 18px!important;
}

.vue-form-wizard .wizard-card-footer {
    margin-top: -9px;
}

.login-form {
    text-align: center;
    padding-top: 5%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .logo {
        margin-bottom: 15px;
    }

    #login-button {
        margin: 25px 0 0;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-control {
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .btn.btn-primary {
        background: #23a455;
        border: 1px solid #23a455;
        font-size: 14px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
        color: #ffffff;

        &.btn-google {
            background: #f44336;
            border: 1px solid #f44336;
        }
    }

}

.main-div {
    background: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 10px auto 30px auto;
    max-width: 550px;
    padding: 50px 70px 70px 71px;
    background-color: rgba(255, 255, 255, 0.6);
}

.dataTable_buttons {
    padding-bottom: 1em;
}

.status-available {
    color: #43a047;
    background-color: #43a047;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.status-assigned {
    color: #ef5350;
    background-color: #ef5350;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.fs-radio-btn {
    display: table;
    vertical-align: middle;
    height: 15px;
    input {
        display: table-cell;
        vertical-align: middle;
    }
    label {
        height: 15px;
        display: table-cell;
        vertical-align: middle;
        padding-left: 6px;
    }
}
.fs-accordion {
    padding-top: 15px;
    // override card style
    .card.panel {
        .card-header {
            background-color: #c1c1c1;
            transition: background-color 0.2s linear;
            padding: 5px 7px 3px 12px;
            cursor: pointer;
            .ks-text {
                color: rgba(251, 251, 251, 1);
            }
                margin: 0;
            .btn {
                color: #949494;
                .la {
                    font-size: 23px;
                }
            }
            &:hover {
                background-color: #949494;
                .btn {
                    color: #c1c1c1;
                }
            }
        }
        .card-block {
            background-color: rgba(241, 238, 239, 1);
            padding: 20px;
            color: rgba(148, 148, 148, 1);
            label + .ks-text {
                font-weight: bold;
            }
        }
    }
    .fs-accordion-content {
        max-height: auto;
        overflow: visible;
        transition: 0.2s ease all;
        padding: 20px !important;
    }
    .lang-panel {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 2px solid #007840;
        .panel-heading {
            color: #ffffff;
            background-color: #007840;
            padding: 8px 13px;
        }
        .panel-body {
            background-color: #f1eeef;
        }
    }
    &.is-primary {
        .card-header {
            background-color: #949494 !important;
            .btn {
                color: #c1c1c1 !important;
            }
        }
    }
    &.is-closed {
        .fs-accordion-content {
            padding: 0 20px !important;
            overflow: hidden;
            max-height: 0;
        }
    }
}

.fs-profile {
    padding: 15px 17px 30px 26px;
    .fs-user {
        display: flex;
        width: 100%;
        .profile-photo {
            width: 188px;
            height: 130px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .avatar {
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            width: 100%;
            height: 100%;
        }
        .fs-info {
            width: 100%;
            .fs-name {
                font-size: 1.5em;
                font-weight: 500;
            }
        }
    }
    .fs-block {
        margin-bottom: 1em;
        text-align: justify;
        &:last-child {
           margin-bottom: 0;
        }
    }
    .fs-block {
        border-bottom: 1px solid #c1c1c1;
        padding-bottom: 30px;
        &:last-child {
            border-bottom: none;
            border-bottom: 0;
        }
    }
}

.fs-field {
    .fs-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        &.flex-column {
            flex-direction: column;
            margin-bottom: 0;
            .two-column {
                display: flex;
            }
        }
        .fs-value {
            display: flex;
            flex-direction: column;
            width: 100%;
            line-height: 35px;
            margin-bottom: 20px;
            &.flex-row {
                flex-direction: row;
            }
            span {
                &:first-child {
                    font-size: 1.3em;
                }
                &:last-child {
                    font-size: 0.8em;
                    border-top: 1px solid #dee0e1;
                }
            }
        }
    }
}

.fs-card {
    border: none;
    display: flex;
    padding-bottom: 20px !important;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20px;
    background: transparent;
    &:last-child {
        border: none;
        padding-bottom: 0;
    }
}

.fs-card-block {
    display: flex;
    flex-direction: row;
    .image {
        margin-right: 1em;
        .la {
            font-size: 30px;
        }
        img {
            width: 90px;
        }
    }
    .fs-card-info {
        .card-title, .card-text {
            margin: 0;
        }
        .card-title {
            color: rgba(148, 148, 148, 1);
        }
    }
}

.fs-button {
    font-size: 21px;
    color: rgba(162, 159, 160, 1);
    &:hover {
        color: rgba(162, 159, 160, 1);
    }
}

.fs-overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    h5 {
        margin: 0;
        padding: 0;
    }
}

.snotify-centerTop {
    top: 100px;
}

.select2-selection {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    height: 38px !important;
    .select2-selection__arrow {
        position: relative !important;
    }
}

.vue-tags-input {
    max-width: 100% !important;
}

.dialog-footer {
    padding: 15px 0;
    display: flex;
    flex-direction: row;

    *:first-child {
        margin-right: 5px;
    }
}

.error {
    color: #ef5350;
}

.row + .row {
    margin-top: 0;
}

.v-dialog.active .v-dialog-overlay, .v-dialog:target .v-dialog-overlay {
    /*background: none !important;*/
    background-color:rgba(0,0,0,0.3)!important; /*opacity 0.3 same with other modal dialog*/
}

.v-dialog-title {
    font-size: 17px !important;
    line-height: 20px !important;
}

.v-dialog-btn {
    border-radius: 2px !important;
    font-size: 12px !important;
    padding: 7px 40px !important;
    height: 38px;
    font-weight: bold;

    &.success {
        background-color: #42a5f5 !important;
        color: #fff !important;
    }

    &.v-dialog-btn-danger {
        color: #333 !important;
        background-color: #ecf0f1 !important;
        margin-right: 8px;
    }

    &.v-dialog-btn-close::before {
        content: "" !important;
    }
}

.v-dialog.active.p-ontop{
    z-index: 9999;
}

.fs-info-wrapper {
    h5 {
        color: rgba(148, 148, 148, 1);
        border-bottom: 1px solid rgba(148, 148, 148, 1);
        padding-bottom: 5px;
    }
    .fs-info-flex {
        display: flex;

        &.flex-row {
            flex-direction: row;
            label {
                width: 170px
            }
        }
    }
}
.pre-wrap {
    white-space: pre-wrap;
}
.ks-navbar {
    .nav-item {
        &:hover {
            background: rgba(1, 89, 0, 0.3);
        }
        &.show {
            background: rgba(1, 89, 0, 0.3);
        }
    }
}

.ks-navbar {
    .ks-wrapper {
        .nav {
            .ks-navbar-actions {
                .ks-user {
                    border-color: rgba(1, 89, 0, 0.3);
                }
            }
        }
    }
}

.btn-group.btn-profile {
    .btn-info {
        &:hover {
            background-color: #007840 !important;
            border-color: #007840 !important;
        }
    }
    &.show {
        .btn-info.dropdown-toggle {
            background-color: #007840 !important;
            border-color: #007840 !important;
        }
    }
}

.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

body {
    &.close-sidebar {
        .ks-sidebar {
            display: none;
        }
    }

    &.ks-sidebar-compact {
        .ks-page-header{
            width: 100% !important;
        }
    }

    .ks-sidebar {
        height: 100%;

        .jspContainer {
            height: 100% !important;
        }
    }
}

.wizard {
    width: 100%;
    padding: 40px;

    &-nav {
        list-style: none;

        .menu-item {
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
            border: 1px solid #dee0e1;
            height: 100%;
            transition: all 0.3s ease;

            &-wrapper {
                padding: 20px;
            }

            a {
                padding: 10px;
                transition: 0.2s ease-in;
                color: #404040;
                font-weight: bold;
                display: table;
                width: 100%;
                height: 100%;
                font-size: 0;
                cursor: pointer;
                .icon-wrapper {
                    display: table-cell;
                    vertical-align: middle;
                    width: 20%;
                }
                .title-wrapper {
                    display: table-cell;
                    vertical-align: middle;
                    width: 80%;
                    .shortcut-link {
                        width: auto;
                        display: inline-block;
                        height: 20px;
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
                span.ks-icon {
                    transition: 0.2s ease-in;
                    font-size: 60px;
                    background-color: #d4d2d3;
                    font-size: 60px;
                    padding: 10px 0;
                    color: #fff;
                    margin-right: 20px;
                    vertical-align: middle;
                    display: inline-block;
                    max-width: 80px;
                    min-width: 80px;
                    text-align: center;

                    /* menu icon colors */
                    &.color {
                        &-primary {
                            background-color: #25628F;
                        }

                        &-info {
                            background-color: #42a5f5;
                        }

                        &-success {
                            background-color: #745ec5;
                        }

                        &-warning {
                            background-color: #ffb300;
                        }

                        &-danger {
                            background-color: #ef5350;
                        }

                        &-secondary {
                            background-color: #1abc9c;
                        }

                        &-neutral {
                            background-color: #212529d9;
                        }
                    }
                }

                span.link-text {
                    display: inline-block;
                    vertical-align: middle;
                    width: calc(100% - 100px);

                    font-size: 15px;
                    line-height: 20px;
                }
            }

            &:hover {
                border: 1px solid #197b30;
                box-shadow: 0px 0px 5px 0px rgba(25,123,48,0.5);

                a {
                    color: #197b30;

                    span.ks-icon {
                        background-color: #197b30;
                        color: #fff;
                    }
                }
            }
        }
    }
}

//.wizard-nav.wizard-nav-pills .active a div {
    //background-color: rgb(0, 120, 64)!important;
//}

.wizard-progress-with-circle {
    top: 18px!important;
}

.vue-form-wizard.xs .wizard-icon-circle {
    width: 30px!important;
    height: 30px!important;
    outline: none;
}

/*
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::: Design for Desktop ::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-height: 721px) {
    .parent-content {
        min-height: 495px!important;
        max-height: 242px!important;
        margin-top: -8px;
    }

    .header-title span:first-child:after{
        top: -6px!important;
        border-right: 35px solid transparent!important;
        border-bottom: 55px solid #007840 !important;
        margin-left: -1px;
    }
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::: Design for Laptop :::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (max-height: 720px) {
    .carousel-component .VueCarousel-slide .slide-wrapper{
        margin-top: 0!important;
        margin-bottom: 0!important;
    }

    .fs-user-photo-container {
        .fs-user-photo {
            max-height: 110px!important;
            max-width: 110px!important;
        }
    }

    .header-title {
        font-size: 16px;
    }

    .header-title span:first-child:after {
        border-bottom: 35px solid #007840;
    }

    .header-title span:first-child:after{
        top: -6px!important;
        border-right: 35px solid transparent!important;
        border-bottom: 45px solid #007840 !important;
        margin-left: -1px;
    }

    .carousel-outer-container {
        padding: 10px 0 0 0!important;
    }
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/



@media screen and (max-width: 414px){
    .parent-content {
        margin-top: 0;
    }

    .header-title span {
        font-size: 15px;
    }

    .parent-content .container-fluid {
        padding: 0;
    }

    .header-title {
        margin-top: 0!important;
        font-size: 11px!important;
        top: 1px!important;
    }

    .float-right {
        font-size: 11px!important;
        position: relative!important;
        top: 3px!important;
    }

    .header-title span:first-child {
        top: 3px;
        padding: 5px 4px 6px 5px !important;
        margin-right: 10px!important;
        padding-right: 17px!important;
        border-top-right-radius: 47px!important;
    }

    .header-title span:first-child::after{
        display: none!important;
    }


    div#route-wizard.vue-form-wizard .wizard-tab-content {
        padding: 12px 20px 10px!important;
    }

    #route-wizard {
        padding: 60px 0 0 0!important;
    }

    .carousel-middle-container {
        margin: 0 29px!important;
    }

    .carousel-component .VueCarousel-slide .slide-wrapper {
        margin: 15px !important;
    }

    .carousel-component .VueCarousel-navigation-button {
        background-size: 31px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 15px !important;
    }

    .vue-form-wizard .wizard-card-footer {
        margin-top: 10px!important;
    }



    .wizard-footer-left button.wizard-btn {
        left: 20px;
        top: 530px;
    }

    .wizard-footer-right button.wizard-btn.skip-btn {
        top: 520px!important;
        left: 169px!important;
    }

    .wizard-footer-right span button.wizard-btn {
        top: 519px!important;
        left: 235px!important;
    }

    .parent-content .row + .row {
        margin-left: -16px;
    }

    :not(.feedback) .row + :not(.feedback) .row {
        margin-left: 0px;
    }

    div.dataTables_wrapper table.dataTable.table-bordered td {
        min-width: 150px!important;
    }

    div.dataTables_wrapper > .row:first-child {
        min-width: 1411px;
        max-height: 56px;
    }

    div.dataTables_wrapper table.dataTable.table-bordered thead tr:first-child th {
        padding-top: 0;
    }

    div.dataTables_wrapper table.dataTable.table-bordered thead tr th:first-child,
    div.dataTables_wrapper table.dataTable.table-bordered tbody tr td:first-child{
        min-width: 30px!important;
    }
    .user-friendly-limiter {
        top: -28px;
        position: relative;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        position: relative;
        left: 22px;
    }



























    // .container-fluid > .row:last-child {
    //     margin-left: 47px;
    // }

    // #search-input-group .new-tag-input-wrapper {
    //     background-color: #ffffff!important;
    // }

    // #search-input-group .new-tag-input-wrapper input {
    //     position: relative;
    //     left: 44px;
    // }

    // .search-button {
    //     left: 44px;
    // }

    // .autocomplete {
    //     left: 44px;
    // }
}





// @media screen and (max-width: 414px) and (min-width: 375px) {
//     .parent-content {
//         min-height: 422px !important;
//         max-height: 395px !important;
//         border: 1px solid red;
//     }

//     div#route-wizard.vue-form-wizard .wizard-tab-content {
//         padding: 12px 20px 10px!important;
//     }

//     #route-wizard {
//         padding: 60px 0 0 0!important;
//     }

//     .carousel-middle-container {
//         margin: 0 37px!important;
//     }

//     .carousel-component .VueCarousel-slide .slide-wrapper {
//         margin: 15px !important;
//     }

//     .header-title {
//         margin-top: 0!important;
//         font-size: 11px!important;
//         top: 1px!important;
//     }

//     .float-right {
//         font-size: 11px!important;
//         position: relative!important;
//         top: 3px!important;
//     }

//     .header-title span:first-child:after{
//         top: -6px!important;
//         border-right: 35px solid transparent!important;
//         border-bottom: 31px solid #007840 !important;
//         margin-left: -1px;
//     }

//     .header-title span:first-child {
//         top: 3px;
//         padding: 5px 4px 6px 5px !important;
//     }

//     .vue-form-wizard .wizard-nav-pills {
//         margin-top: 5px!important;
//     }

//     .vue-form-wizard .wizard-card-footer {
//         margin-top: 10px!important;
//     }

//     .vue-form-wizard .wizard-btn {
//         min-width: 90px!important
//     }

//     .carousel-outer-container {
//         padding: 2rem 0 !important;
//     }

//     .carousel-component .VueCarousel-navigation-button {
//         background-size: 31px;
//         background-position: center;
//         background-repeat: no-repeat;
//         padding: 15px !important;
//     }

//     .wizard-progress-with-circle {
//         top: 25px!important;
//     }

//     div.dataTables_wrapper table.dataTable.table-bordered td {
//         min-width: 150px!important;
//     }

//     div.dataTables_wrapper > .row:first-child {
//         min-width: 1411px;
//         max-height: 56px;
//     }

//     div.dataTables_wrapper table.dataTable.table-bordered thead tr:first-child th {
//         padding-top: 0;
//     }

//     div.dataTables_wrapper table.dataTable.table-bordered thead tr th:first-child,
//     div.dataTables_wrapper table.dataTable.table-bordered tbody tr td:first-child{
//         min-width: 30px!important;
//     }
//     .user-friendly-limiter {
//         top: -28px;
//         position: relative;
//     }

//     div.dataTables_wrapper div.dataTables_paginate ul.pagination {
//         position: relative;
//         left: 22px;
//     }
// }


// @media screen and (height: 812px) {
//     .parent-content {
//         min-height: 568px!important;
//     }

//     .carousel-outer-container {
//         padding: 4rem 0 !important;
//     }
// }

// @media screen and (max-height: 720px) {
//     .header-title span:first-child:after {
//        border-bottom: 39px solid #007840 !important;
//    }
// }



// @media screen and (height: 736px) {
//     .parent-content {
//         min-height: 490px!important;
//     }

//     .carousel-outer-container {
//         padding: 2rem 0 !important;
//     }
// }

// @media screen and (height: 667px) {
//     .parent-content {
//         min-height: 423px!important;
//     }

//     .header-title span:first-child:after {
//         border-bottom: 30px solid #007840 !important;
//     }
// }


// @media screen and (height: 568px) {
//     .parent-content {
//         min-height: 350px!important;
//         max-height: 242px!important;
//         margin-top: -8px!important;
//     }

//     .header-title {
//         font-size: 10px!important;
//     }

//     .header-title span:first-child {
//         top: 1px!important;
//         padding: 6px!important;
//     }

//     .header-title span:first-child:after {
//         top: -23px !important;
//         width: 0 !important;
//         height: 0 !important;
//         border-bottom: 47px solid #007840 !important;
//         border-right: 35px solid transparent !important;
//         z-index: -1 !important;
//         margin-left: -1px !important;
//     }

//     .slide-wrapper .resource-button .fs-action button {
//         font-size: 10px!important;
//         padding: 7px 0!important;
//     }
// }


// @media screen and (max-width: 374px) and (min-width: 320px) {
//     #route-wizard {
//         padding: 60px 0 0!important;
//     }

//     .carousel-middle-container {
//         margin: 0 36px!important;
//     }

//     .carousel-component .VueCarousel-slide .slide-wrapper {
//         margin: 15px !important;
//     }

//     button.wizard-btn{
//         position: absolute;
//     }

//     .wizard-footer-left button.wizard-btn {
//         left: 20px;
//         top: 530px;
//     }

//     .wizard-footer-right button.wizard-btn.skip-btn {
//         top: 520px!important;
//         left: 169px!important;
//     }

//     .wizard-footer-right span button.wizard-btn {
//         top: 519px!important;
//         left: 235px!important;
//         min-width: 67px!important;
//     }

//     .vue-form-wizard .wizard-btn {
//         min-width: 60px!important;
//         padding: 3px 8px!important;
//     }

//     .vue-form-wizard .wizard-nav-pills {
//         margin-top: 7px!important;
//     }

//     .carousel-outer-container {
//         padding: 0!important;
//     }

//     .carousel-component .VueCarousel-navigation-button {
//         background-size: 31px;
//         background-position: center;
//         background-repeat: no-repeat;
//         padding: 15px !important;
//     }

//     .wizard-progress-with-circle {
//         top: 25px!important;
//     }

//     div.dataTables_wrapper table.dataTable.table-bordered td {
//         min-width: 150px!important;
//     }

//     div.dataTables_wrapper > .row:first-child {
//         min-width: 1411px;
//         max-height: 56px;
//     }

//     div.dataTables_wrapper table.dataTable.table-bordered thead tr:first-child th {
//         padding-top: 0;
//     }

//     div.dataTables_wrapper table.dataTable.table-bordered thead tr th:first-child,
//     div.dataTables_wrapper table.dataTable.table-bordered tbody tr td:first-child{
//         min-width: 30px!important;
//     }
//     .user-friendly-limiter {
//         top: -28px;
//         position: relative;
//     }

//     div.dataTables_wrapper div.dataTables_paginate ul.pagination {
//         position: relative;
//         left: 18px;
//     }

//     .page-link {
//         padding: 9px;
//     }

// }



@media only screen and (min-width: 993px) and (max-width: 1440px) {
    .ks-navbar .navbar-brand .ks-sidebar-toggle {
        display: block;
    }
}


@media only screen and (max-width: 1024px) {
    .wizard-nav .menu-item-wrapper {
        padding: 10px;
    }
}
