<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" @close="closeModal">
		<template slot="button">
            <save-button :disabled="!valid" :loading="loading" :options="button" @action="save">Save</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="assign-client-input form-group">
                        <label>Client:</label>
                        <select2
                                v-if="clients && clients.length"
                                :value="client"
                                :options="options.clients"
                                :style="'width: 100%;height: 36px!important;'"
                                @select="clientSelected($event, 0)">
                        </select2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="assign-project-input form-group">
                        <label>Project</label>
                        <select2
                                v-if="options.projects && options.projects.length"
                                :value="project"
                                :options="options.projects"
                                :style="'width: 100%;height: 36px!important;'"
                                @select="projectSelected($event)">
                        </select2>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<style lang="scss" scoped>
    .modal-backdrop .modal {
        width: 650px!important;
    }
    .assign-project-input .autocomplete {
        max-height: 140px;
        overflow-y: auto;
        position: relative!important;
    }
</style>

<script>
	import _ from 'lodash';
    import $ from 'jquery';

	//Components
    import Select2 from '@components/select2.vue';
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';
    import VueTagsInput from '@johmun/vue-tags-input';

	import DataTableMixin from '@common/mixin/DataTableMixin';
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
    import StringHelperMixin from '@common/mixin/StringHelperMixin';
    import AlertMixin from '@common/mixin/AlertMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		components: {
	        GenerateButton,
	        SaveButton,
            ModalDialog,
            VueTagsInput,
            Select2
	    },
	    mixins: [
	    	DataTableMixin,
	        ModalDialogMixin,
            StringHelperMixin,
            AlertMixin
	    ],
		props: {
			info: { type: Object, required: true }
		},
		data() {
			return {
				option: { height: 'auto', width: '500px', bottom: 'auto' },
	            button: { class: 'btn btn-primary',type: 'button' },
	            loading: false,
                client: '',
                project: '',
                options: {
				    clients: [],
                    projects: []
                },
                deleted: {
				    clients: [],
                    projects: []
                },
                projectIncludes: [
                    'clientProject',
                    'employee'
                ],
                displayAutoComplete: false
			}
		},
		computed: {
            ...mapGetters({
                clients: 'clients/formatted_with_projects',
                projects: 'clientProjects/formatted',
                currentProjects: 'employeeClientProjects/data',
            }),
            filteredProjects: function() {
                return this.projects.filter(s => s.text.toUpperCase().includes(this.project.toUpperCase()));
            },
            filteredClients: function() {
                return this.clients.filter(s => s.text.toUpperCase().includes(this.client.toUpperCase()));
            },
            valid: function() {
                console.log("client: " + this.client + ", project: " + this.project);
                return parseInt(this.client) > 0 && parseInt(this.project) > 0;
            }
		},
		async created() {
            this.loading = true;

            /** Pull client records and push it to variable utilized as client options **/
		    await this.getClients({query:{take: 999999}});
		    await this.options.clients.push({
                id: 0,
                text: '------------'
            });
            await _.each(this.clients, (obj) => {
                this.options.clients.push({
                    id: obj.id,
                    text: obj.text
                });
            });

            await this.fetchProjects({
                employee: this.info.employee,
                include: this.projectIncludes.join(",")
            });
            console.log(this.currentProjects, "this.currentProjects");

            if(this.currentProjects && this.currentProjects.length > 0){
                let client_id = this.currentProjects[0].clientProject.data.client_id;
                let project_id = this.currentProjects[0].clientProject.data.id;
                await this.clientSelected(client_id);

                /** Unwanted double calls with 0 project id is being called,
                 * let them pass before the actual project id
                 **/
                let vm = this;
                setTimeout(function(){
                    vm.projectSelected(project_id);
                }, 100);
            } else {
                this.options.projects.push({
                    id: 0, text: 'Select a Client above to show projects'
                });
                this.projectSelected(0);
            }

            this.loading = false;
		},
		methods: {
            ...mapActions({
                getClients: 'clients/getClients',
                getProjects: 'clientProjects/getClientProjects',
                saveEmployeeProjects: 'employeeClientProjects/saveResource',
                fetchProjects: 'employeeClientProjects/getProjectsOfResource',
                deleteEmployeeProjects: 'employeeClientProjects/deleteResource',
            }),
            clientSelected(val, projectId = 0){
                if(isNaN(projectId)) return;

                //console.log('VAL: (' + val + '), PROJECTID: ' + projectId);
                this.client = val;

                if(!isNaN(projectId)){
                    this.project = 0;
                }

                let client_projects = this.clients.filter(obj => obj.id == this.client);
                console.log(client_projects, "clientSelected");

                this.options.projects = [];
                if(client_projects && client_projects.length > 0){
                    let count = 0;
                    _.each(client_projects[0].projects.data, (obj) => {
                        this.options.projects.push({
                            id: obj.id,
                            text: obj.project_name
                        });
                        count++;
                    });

                    if(!count){
                        this.options.projects.push({
                            id: 0, text: 'Client doesn\'t have a project'
                        });
                    } else {
                        let v = projectId ? projectId : client_projects[0].projects.data[0].id;
                        let vm = this;
                        setTimeout(function(){
                            vm.projectSelected(v);
                        }, 100);
                    }
                } else {
                    this.options.projects.push({
                        id: 0, text: 'Select a Client above to show projects'
                    });
                }
            },
            projectSelected(val){
                this.project = parseInt(val);
            },
            save() {
                this.loading = true;
                 let promises = [];

                let exists = this.currentProjects.filter(current => current.client_project_id == this.project && current.employee_id == this.info.employee);
                if(!exists.length) {
                    promises.push(this.saveEmployeeProjects({
                        client_project_id : this.project,
                        employee_id: this.info.employee
                    }));
                }

                _.each(this.currentProjects, (project) => {
                    if(project.client_project_id != this.project){
                        promises.push(this.deleteEmployeeProjects(project.id));
                    }
                });

                Promise.all(promises).then((res) => {
                    this.options.clients = [];
                    this.options.projects = [];
                    this.client = 0;
                    this.project = 0;
                    this.closeDialog();
                    this.notifyDialog('success', 'Successfully saved!');
                });
            },
            closeDialog(){
                this.loading = false;
                this.open = false;
                this.$emit("success");
            }
		}
	}
</script>
