<template>
    <modal-dialog v-show="openModal" :title="'Generate QR Code'" @close="closeModal" :options="option">
        <template slot="button">         
            <a class="btn btn-success text-center" v-show="imgLoaded" :download="fileName" :href="href">
                <span class="ks-text">Download QR Code</span>
            </a>
        </template>
        <template slot="body">
             <div class="row">
                <div class="col-lg-12">
                    <qr-code 
                        :text="this.info"
                        :size="300"
                        color="#000"
                        bg-color="#fff" 
                        error-level="H"
                        class="qr-container">
                    </qr-code>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<style type="text/css">
.v-dialogs{
    position: relative;
    z-index: 9999;
}
</style>

<style  lang="scss">
.qr-container {
    img{
        margin: 20px auto !important;
    }
}
</style>

<script>
import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import ModalDialog from '@components/modal-dialog.vue';
import debounce from 'lodash/debounce';
import VueQRCodeComponent from 'vue-qrcode-component';
export default {
    props: {
        info: {
            type: String,
            required: true
        }
    },
    mounted: debounce(function () {
        this.$nextTick(() => {
            let url = document.querySelector('.qr-container img').src;
            this.href = url;
            this.fileName = 'Employee-QRcode';
            this.imgLoaded = true;
        })
    }, 250),
    data() {
        return {
            imgLoaded: false,
            summary: '',
            maxCharacter: 350,
            remainingCharacter: 350,
            loading: false,
            custom: false,
            button: {
                class: 'btn btn-primary',
                type: 'button'
            },
            option: {
                width: '600px',
                height: 'auto !important',
                bottom: 'auto'
            },
            href: '',
            fileName: ''
        }
    },
    components: {
        VueQRCodeComponent,
        ModalDialog
    },
    mixins: [
        ModalDialogMixin,  
    ],
}
</script> 