<template>
    <modal-dialog v-show="openModal" :options="modalOption" :title="title" @close="closeModal">
        <template slot="button">
            <save-button :loading="buttonLoading" :options="button" @action="generateData" :disabled="!hasSelected">Generate</save-button>
        </template>
        <template slot="body">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Select Date Range</label>
                            </div>
                            <div class="col-md-6">
                                <flat-pickr
                                    id="start_date"
                                    v-model="startDate"
                                    :config="getConfig(true, false, startDateOptions)"
                                    placeholder="Start Date">
                                </flat-pickr>
                            </div>
                            <div class="col-md-6">
                                <flat-pickr
                                    id="end_date"
                                    v-model="endDate"
                                    :config="getConfig(true, false, endDateOptions)"
                                    placeholder="End Date">
                                </flat-pickr>
                            </div>
                            <div class="col-md-12" style="margin-top:10px">
                                <div class="form-control" title="">
                                    <input id="modified" type="checkbox" v-model="modified" name="modified">
                                    <label for="modified">Override existing timesheet records</label>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:10px">
                                <hr></hr>

                                <label for="employees">
                                    Generate timesheets for the selected employees (if none is specified, will generate to all employees)
                                </label>
                                <fs-search-input
                                    id="employees"
                                    name="employees"
                                    placeholder="Search Employee"
                                    class=""
                                    v-model="selectedEmployees"
                                    :existing-tags="employeeTags"
                                    :typeahead="true"
                                    :typeahead-style="'dropdown'"
                                    :only-existing-tags="true"
                                    :wrapper-class="''"
                                    :onSearchBtnClick="search"
                                    :isDisabled="tagsLoading"
                                    :searchButtonDisabled="tagsLoading"
                                    @tags-updated="search"
                                    @clear-selected-tags="search"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<script type="javascript">
// libraries
import { mapActions, mapGetters } from 'vuex';

// mixins
import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import DataTableMixin from '@common/mixin/DataTableMixin';
import DatePickerMixin from '@common/mixin/DatePicker';
import AlertMixin from '@common/mixin/AlertMixin';

// components
import SaveButton from '@components/form/button.vue';
import ModalDialog from '@components/modal-dialog.vue';
import FlatPickr from 'vue-flatpickr-component';
import FsSearchInput from '@components/fs-search-input.vue';

import 'flatpickr/dist/flatpickr.css';


export default {
    components: {
        ModalDialog,
        SaveButton,
        FlatPickr,
        FsSearchInput,
    },
    mixins: [
        ModalDialogMixin,
        DataTableMixin,
        DatePickerMixin,
        AlertMixin,
    ],
    data() {
        return {
            title: 'Manual Timesheet Generation',
            startDateOptions: {
                altFormat: 'M d, Y',
                dateFormat: 'Y-m-d',
                defaultDate: this.today(),
                allowInput: true,
                maxDate: this.today(),
            },
            startDate: this.today(),
            endDate: this.today(),
            modalOption: {
                width: '600px',
                /*height: '390px',*/
            },
            buttonLoading: false,
            button: {
                class: 'btn btn-primary',
                type: 'button',
            },
            employeeTags: [],
            selectedEmployees: [],
            jobcodeTags: [],
            selectedJobcodes: [],
            tagsLoading: false,
            modified: true,
        };
    },
    created() {
        if (this.openModal) {
            this.getUsersData();
        }
    },
    computed: {
        ...mapGetters({
            users: 'timesheetUsers/data',
        }),
        hasSelected() {
            return this.startDate && this.endDate;
        },
        endDateOptions() {
            return {
                altFormat: 'M d, Y',
                dateFormat: 'Y-m-d',
                defaultDate: this.today(),
                allowInput: true,
                minDate: this.startDate,
                maxDate: this.today(),
            };
        },
    },
    methods: {
        ...mapActions({
            override: 'workLogReports/getReportNow',
            getUsers: 'timesheetUsers/index',
            generate: 'timesheets/generate',
        }),
        today() {
            return new Date();
        },
        getStartDate() {
            if (typeof this.startDate === 'object') {
                return moment(this.startDate).format('YYYY-MM-DD');
            }

            return this.startDate;
        },
        getEndDate() {
            if (typeof this.endDate === 'object') {
                return moment(this.endDate).format('YYYY-MM-DD');
            }

            return this.endDate;
        },
        async generateData() {
            let query = {};

            if (this.modified) {
                query.modifiedSince = this.getStartDate();
                query.modifiedBefore = this.getEndDate();
            } else {
                query.startDate = this.getStartDate();
                query.endDate = this.getEndDate();
            }

            const userIds   = _.map(this.selectedEmployees, 'key');
            if (userIds.length) {
                query.userIds = userIds;
            }

            this.buttonLoading = true;
            await this.generate({ query });
            this.buttonLoading = false;

            this.$emit('success');
            this.closeModal();
        },
        search() {},
        async getUsersData() {
            const query = {
                take: 9999,
                orderBy: 'last_name',
                namesOnly: true,
            };

            await this.getUsers({ query });
            this.employeeTags = this.users.map(data => ({
                key: data.id,
                value: data.name,
            }));
        },
    },
}
</script>

<style style="scss" scoped>
.modal-backdrop {
    z-index: 400;
}
</style>

<style>
.modal-body {
    height: 390px!important;
}
.fs-search-input-wrapper {
    height: 0!important;
}
</style>
