<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" @close="closeModal">
		<template slot="button">
            <save-button :loading="loading" :options="button" @action="save" :disabled="!isValid || errors.any()">{{info.name}}</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('group_id') }">
                                <label>Group ID<span class="error">*</span></label>
                                <input type="text" v-validate="'required|integer'" name="group_id" class="form-control" v-model="routesData.group_id"/>
                                <span v-show="errors.has('group_id')" class="help-block form-error">{{ replaceText(errors.first('group_id'),'group_id','Group Id') }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('icon') }">
                                <label>Icon<span class="error">*</span></label>
                                <input type="text" v-validate="'required'" name="icon" class="form-control" v-model="routesData.icon"/>
                                <span v-show="errors.has('icon')" class="help-block form-error">{{ replaceText(errors.first('icon'),'icon','Icon') }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('route_name') }">
                                <label>Route Name<span class="error">*</span></label>
                                <input type="text" v-validate="'required'" name="route_name" class="form-control" v-model="routesData.route_name"/>
                                <span v-show="errors.has('route_name')" class="help-block form-error">{{ replaceText(errors.first('route_name'),'route_name','Route Name') }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('route_uri') }">
                                <label>Route Uri<span class="error">*</span></label>
                                <input type="text" v-validate="'required'" name="route_uri" class="form-control" v-model="routesData.route_uri"/>
                                <span v-show="errors.has('route_uri')" class="help-block form-error">{{ replaceText(errors.first('route_uri'),'route_uri','Route Uri') }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('caption') }">
                                <label>Caption<span class="error">*</span></label>
                                <textarea v-validate="'required'" name="caption" class="form-control" v-model="routesData.caption"></textarea>
                                <span v-show="errors.has('caption')" class="help-block form-error">{{ replaceText(errors.first('caption'),'caption','Caption') }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('sequence_order') }">
                                <label>Sequence Order<span class="error">*</span></label>
                                <input type="text" v-validate="'required|integer'" name="sequence_order" class="form-control" v-model="routesData.sequence_order"/>
                                <span v-show="errors.has('sequence_order')" class="help-block form-error">{{ replaceText(errors.first('sequence_order'),'sequence_order','Sequence Order') }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('go_to_group_id') }">
                                <label>Go To Group ID<span class="error">*</span></label>
                                <input type="text" v-validate="'required|integer'" name="go_to_group_id" class="form-control" v-model="routesData.goto_group_id"/>
                                <span v-show="errors.has('go_to_group_id')" class="help-block form-error">{{ replaceText(errors.first('go_to_group_id'),'go_to_group_id','Go To Group ID') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<script>
    import _ from 'lodash';

	//Components
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';

	import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
    import { mapActions } from 'vuex';

	export default {
		props: {
			info: { type: Object, required: true}
		},
		data() {
			return {
				option: { width: '500px' },
	            routesData: {
                    id: null, 
                    group_id: null, 
                    icon: null,
                    route_name: null,
                    route_uri: null,
                    sequence_order: null,
                    goto_group_id: null
                },
	            button: { class: 'btn btn-primary',type: 'button' },
	            loading: false,
	            validation: [
                    { path: 'group_id', name: 'group_id', rule: 'required' },
                    { path: 'icon', name: 'icon', rule: 'required'},
                    { path: 'route_name', name: 'route_name', rule: 'required'},
                    { path: 'route_uri', name: 'route_uri', rule: 'required'},
                    { path: 'sequence_order', name: 'sequence_order', rule: 'required'},
                    { path: 'goto_group_id', name: 'goto_group_id', rule: 'required'},
	            ],
			}
		},
		computed: {
			isValid() {
				let valid = true;
				_.each(this.validation, (form) => {
					let rules = form.rule.split('|')
					// validate accordingly
	                _.each(rules, (rule) => {
	                    if (rule == 'required') {
	                        if (this.isEmpty(_.get(this.routesData, form.path))) {
	                            valid = false;
	                            return;
	                        }
	                    }
	                });

	                if (!valid) return;
				})
				return valid;
			}
		},
		async created() {
            if (!_.isEmpty(this.info.route)){
                this.routesData = this.info.route;
            }
		},
		methods: {
            ...mapActions({
                saveRouteWizardDB: 'routeWizards/saveRouteWizardDB',
            }),
			async save() {
                this.loading = true;
                this.saveRouteWizardDB(this.routesData).then((res) => {
					this.$emit('success');
                    this.closeModal();
                    this.loading = false;
                    this.notifyDialog('success', 'Successfully saved!');
                }).catch((err) => {
                    this.closeModal();
                    this.loading = false;
                    this.notifyDialog('error', 'Error saving the changes!');
                });
            },
            replaceText(str, look, replace){
                if(str!=null && str!=''){
                    return str.replace(look,replace);
                } return "";
            }
		},
		components: {
	        SaveButton,
	        ModalDialog
	    },
	    mixins: [
	    	DataTableMixin,
	        ModalDialogMixin,
			StringHelperMixin,
			AlertMixin
	    ]
	}
</script>
