<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
			<div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
								<div class="dataTable_buttons">
									<Can I="add" a="hacker_rank_tests">
										<button type="button" @click="fetchHackerRankTests()" tag="button" class="btn btn-primary">Fetch All Tests</button>
									</Can>
									<Can I="add" a="hacker_rank_results">
										<button type="button" @click="fetchAllHackerRankResults()" tag="button" class="btn btn-primary">Fetch All Test Results</button>
									</Can>
								</div>
                            </div>
                            <div class="col-sm-12 col-md-12">
								<data-table
									:columns="data.columns"
									:sortKey="sortKey"
									:sortOrder="sortOrder"
									:pagination="config.pagination"
									:tableLoading="loading"
									@sort="sortList($event)"
									@select="updateList($event)"
									@search="search($event)"
									@prev="paginate('prev')"
									@next="paginate('next')"
									@page="paginate($event)">
									<!-- BEGIN HOLIDAY DATA -->
									<tbody>
										<tr
											:class="index % 2 == 0 ? 'even' : 'odd'"
											style="cursor: pointer"
											v-for="(test, index) in tests"
											:key="test.id">

											<td>{{ test.name }}</td>
											<td align="center">
													<a href="#" class="action-button" title="Fetch Test Results" @click="fetchTestResults(test)">
														<i class="la la-refresh"></i>
													</a>
											</td>
										</tr>
									</tbody>
									<!-- END HOLIDAY DATA -->
								</data-table>
                            </div>
                        </div>						
                        
                    </div>
                </div>
            </div>
            
		</page-content>
	</div>
</template>
<style scope>
	.action-button {
	    font-size: 20px;
	}
	.dataTable_buttons .btn {
		min-width:178.81px !important;
	}
	@media screen and  (max-width: 576px) {
		.dataTable_buttons .btn {
			margin-top:5px;
			min-width:178.81px !important;
		}
	}
	@media screen and  (max-width: 414px) {
	}
</style>

<script>

	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
	import DataTable from '@components/datatable.vue';

	import Select2 from '@components/select2.vue';

	// mixins
	import DataTableMixin from '@common/mixin/DataTableMixin';
	import AlertMixin from '@common/mixin/AlertMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		data() {
        	let sortOrder = {};
			let sortKey = 'name';
	        let columns = [
	            // { label: 'ID', key: 'id', sortKey: 'id', width: '10%', sortable: true },
	            { label: 'Subject', key: 'name', sortKey: 'name', width: '95%', sortable: true },
                { label: 'Action', key: 'action', sortKey: '', width: '5%', sortable: false },
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
				title:'Hacker Rank Tests',
				pageClass: 'ks-content-nav',
				sortKey:sortKey,
				sortOrder:sortOrder,
				limit: 10,
            	open: false,
                loading: false,
				data: {
					columns:columns,
					rows: []
				},
				form: {
	                key: '',
	                name: '',
	                tests:{}
	            },
			}
		},
        filters: {
                capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        },
		async created() {
            this.loading = true;
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
			await this.getTests({query: this.getParams()});
            this.setPagination(this.meta.pagination);
            this.loading = false;
		},
		computed: {
			...mapGetters({
				tests:'hackerRankTest/data',
				meta:'hackerRankTest/meta',
			})
		},
		methods : {
			...mapActions({
				importTests: 'hackerRankTest/importHackerRankTest',
				importTestResults: 'hackerRankTestResult/importHackerRankTestResults',
				getTests: 'hackerRankTest/getTests',
				deleteHackerRankTest: 'hackerRankTest/deleteHackerRankTest'
			}),
            async getData() {
                this.loading = true;
	            await this.getTests({query:this.getParams()});
                this.loading = false;
            },
			async paginate(page) {
	            this.gotoPage(page);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async search(term) {
	            this.setSearch(term);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async sortList(key) {
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
		    async reload() {
		    	await this.getData();
                this.setPagination(this.meta.pagination);
                this.open = false;
			},
			async fetchTestResults(test) {
				await this.importTestResults({query: {id: test.test_id}}).then(res => {
					this.$emit('success');
					setTimeout(() => {
				 		this.loading = false;
				 		this.notifyDialog('success', 'Successfully fetched and saved!');
				 	},150);
				}).catch(err => {
					this.loading = false;
				});
			},
			async fetchHackerRankTests() {
				await this.importTests().then(res => {
					this.$emit('success');
					setTimeout(() => {
				 		this.loading = false;
				 		this.reload();
				 		this.notifyDialog('success', 'Successfully fetched and saved!');
				 	},150);
				}).catch(err => {
					this.loading = false;
				});
			},
			async fetchAllHackerRankResults() {
				await this.importTestResults().then(res => {
					this.$emit('success');
					setTimeout(() => {
				 		this.loading = false;
				 		this.reload();
				 		this.notifyDialog('success', 'Successfully fetched and saved!');
				 	},150);
				}).catch(err => {
					this.loading = false;
				});
			}
		},
		components: {
			Select2,
			DataTable,
			PageHeader,
			PageContent
		},
		mixins: [
			DataTableMixin,
			AlertMixin
		]
	}
</script>
