<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
			<div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
								<Can I="edit" a="holidays">
									<div class="dataTable_buttons">
										<button type="button" @click="fetchHackerRankTest()" tag="button" class="btn btn-primary">Ranks Test</button>
									</div>
								</Can>
                            </div>
                        </div>
                        <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            :tableLoading="loading"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @search="search($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)">
                            <!-- BEGIN HOLIDAY DATA -->
                            <tbody>
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(result, index) in results"
                                    :key="result.id">

                                    <td>{{ result.subject }}</td>
                                    <td>{{ result.dtstart_taken }}</td>
                                    <td>{{ result.raw_score }}</td>
									<td>{{ result.percent_score }}</td>

                                    <td align="center">
											<a v-if="result.published" href="#" class="action-button" title="Publish Test Result" @click="setPublish('unpublish', result)">
												<i class="la la-pencil"></i>
											</a>
											<a v-else href="#" class="action-button" title="Publish Test Result" @click="setPublish('publish', result)">
												<i class="la la-pencil"></i>
											</a>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- END HOLIDAY DATA -->
                        </data-table>
                    </div>
                </div>
            </div>
            
		</page-content>
	</div>
</template>
<style scope>
	.action-button {
	    font-size: 20px;
	}
</style>

<script>

	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
	import DataTable from '@components/datatable.vue';

	import Select2 from '@components/select2.vue';

	// mixins
	import DataTableMixin from '@common/mixin/DataTableMixin';
	import AlertMixin from '@common/mixin/AlertMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		data() {
        	let sortOrder = {};
			let sortKey = 'date';
	        let columns = [
	            // { label: 'ID', key: 'id', sortKey: 'id', width: '10%', sortable: true },
	            { label: 'Subject', key: 'subject', sortKey: 'subject', width: '55%', sortable: true },
                { label: 'Date Taken', key: 'date', sortKey: 'date', width: '15%', sortable: true },
				{ label: 'Raw Score', key: 'raw_score', sortKey: 'raw_score', width: '10%', sortable: true },
				{ label: 'Percent Score', key: 'percent_score', sortKey: 'percent_score', width: '10%', sortable: true },
                { label: 'Action', key: 'action', sortKey: '', width: '10%', sortable: false },
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
				title:'Hacker Rank Results',
				pageClass: 'ks-content-nav',
				sortKey:sortKey,
				sortOrder:sortOrder,
				limit: 10,
            	open: false,
                loading: false,
				data: {
					columns:columns,
					rows: []
				},
				form: {
	                key: '',
	                name: '',
	                result:{}
	            },
			}
		},
        filters: {
                capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        },
		async created() {
            this.loading = true;
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
			await this.getTestResults({query: this.getParams()});
            this.setPagination(this.meta.pagination);
            this.loading = false;
		},
		computed: {
			...mapGetters({
				results:'hackerRankTestResult/data',
				meta:'hackerRankTestResult/meta',
			})
		},
		methods : {
			...mapActions({
				getTestResults: 'hackerRankTestResult/getTestResults',
				deleteHackerRankTestResult: 'hackerRankTestResult/deleteHackerRankTestResult'
			}),
            async getData() {
                this.loading = true;
	            await this.getTestResults({query:this.getParams()});
                this.loading = false;
            },
			async paginate(page) {
	            this.gotoPage(page);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async search(term) {
	            this.setSearch(term);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async sortList(key) {
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
		    async reload() {
		    	await this.getData();
                this.setPagination(this.meta.pagination);
                this.open = false;
		    }
		},
		components: {
			Select2,
			DataTable,
			PageHeader,
			PageContent
		},
		mixins: [
			DataTableMixin,
			AlertMixin
		]
	}
</script>
