<template>
    <div>
        <!-- BEGIN PAGE HEADER -->
        <page-header v-bind:title="title"></page-header>
        <!-- END PAGE HEADER -->
        <page-content :pageClass="pageClass">
            <div class="wizard">
                <div class="row" v-if="employeeResources">
                    <div class="col-sm-12 col-lg-12">
                        <div class="row wizard-nav">
                            <div class="menu-item-wrapper col-sm-12 col-md-6 col-lg-4" v-for="(group, i) in MainGroup" :key="i">
                                <div class="menu-item">
                                    <a class="tile" @click="onClickTile(group, 'tile')">
                                        <span class="icon-wrapper">
                                            <span class="ks-icon" :class="group.icon ? group.icon : 'ks-icon-combo-chart'"></span>                                            
                                        </span>
                                        <span class="title-wrapper">
                                            <span class="link-text">{{group.route_name}}</span><br>
                                            <span v-if="group.route_name=='Daily Report'" class="shortcut-link reports" @click.prevent="onClickTile(employee[0].name, 'shortcutlink')">New</span><br />
                                            
                                            <span v-if="group.route_name=='Time Management'" class="shortcut-link">
                                                <span class="reports" @click="onClickTile('daily-tracker', 'shortcutlink')">Daily Tracker</span><br />
                                                <span class="reports" @click="onClickTile('work-from-home', 'shortcutlink')">Work From Home</span>
                                            </span>
                                        </span>                                        
                                    </a>                                   
                                </div>
                            </div>
                            <Can I="view" a="employee_resource_page" v-if="employeeResources">
                                <div class="menu-item-wrapper col-sm-12 col-md-6 col-lg-4">
                                    <div class="menu-item">
                                        <a @click.prevent="goToEmployeeResources">
                                            <span class="ks-icon color-success fa fa-info-circle"></span>
                                            <span class="link-text">Employee Resources</span>
                                        </a>
                                    </div>
                                </div>
                            </Can>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 monthly-summary-container">
                        <h3>Monthly Hours Summary</h3>
                        <monthly-summary
                           :showHeader="false"
                           :classContainer="''"
                           :showBackButton="false">
                        </monthly-summary>
                    </div>
                </div>
                <div v-else class="text-center" style="position: relative; top: 315px;">
                    <img src="/assets/img/loaders/svg-loaders/three-dots.svg" alt="Loader" />
                </div>
            </div>
        </page-content>
        <send-daily-report v-if="form.key=='compose-report' && open" :openModal="open" @success="reload" @close="closeModalDialogue" :info="form"></send-daily-report>
    </div>
</template>

<style lang="scss" scoped>
    //activity stream
    #activity-stream {
        margin-top: 20px;
    }
    .monthly-summary-container {
        margin-top: 20px;
    }
    .reports:hover {
        cursor: pointer;
        text-decoration: underline;
    }
   
</style>
<script type="text/javascript">
import Loader from '@components/loader.vue';
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import ModalDialog from '@components/modal-dialog.vue'
import MonthlySummary from '@views/pages/timesheets/monthly-summary';
import SendDailyReport from '@views/pages/daily-report/_modals/send-daily-report.vue';
import Select2 from '@components/select2.vue';
import LatestNews from '@views/pages/wizard/rss-feed';
import { RouteWizard } from '@common/model/RouteWizard';
// mixins
import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import AlertMixin from '@common/mixin/AlertMixin';
import DateMixin from '@common/mixin/DateMixin';
// map getters
import { mapGetters, mapActions } from 'vuex';
export default {
    components: {
        PageHeader,
        PageContent,
        ModalDialog,
		SendDailyReport,
        Select2,
        LatestNews,
        Loader,
        MonthlySummary,
    },
    data() {
        return {
            title: '',
            pageClass: 'ks-content-nav',
            RouteWizardsArray : [],
            MainGroup: [],
            routeAction : '',
            showDropdownClient: false,
            role_id: 0,
            employeeResources: false,
            form: {
                key: '',
                name: '',
                report:{}
            },
            dailyReportClick: false,
            shorcutRouteFlag: false,
            open: false
        }
    },
    computed : {
         ...mapGetters({
            employee: 'employees/single',
            currentUser: 'auth/data',
            RouteWizards: 'routeWizards/data',
        }),

        showEmployeResource(){
            return this.employeeResources;
        }
    },
    async created () {
        await this.getRouteWizards({query: {take: 9999}});
        await this.loadRouteWizardsOptions();
        await this.fetchEmployee({user_id:this.currentUser.data.id});
        this.role_id = this.currentUser.data.roles.data[0].role_id;
        this.employeeResources = true;
    },
    methods : {
         ...mapActions({
            fetchEmployee: 'employees/getEmployee',
            getRouteWizards: 'routeWizards/getRouteWizards',
            saveRouteWizard: 'routeWizards/saveRouteWizard',
            setAuthData: 'auth/setAuthData'
        }),
        async loadRouteWizardsOptions() {
            await this.RouteWizards.forEach((obj) => {
                this.RouteWizardsArray.push({
                    group_id: obj.group_id,
                    goto_group_id: obj.goto_group_id,
                    icon: obj.icon,
                    route_name: obj.route_name,
                    route_uri: obj.route_uri,
                    caption: obj.caption,
                    sequence_order: obj.sequence_order
                });
            });
            let { user_name, clients, activeClientId, email } = this.currentUser.data;
            user_name = user_name || email;

            this.title = 'Hi ' + user_name + ', what would you like to do today?';
            this.MainGroup = this.routeGroup(4);
        },
        routeGroup(item){
            let items = item ? item : 0;
            let group = this.groupBy(this.RouteWizardsArray, group => group.group_id);
            return group.get(items);
        },
        groupBy(list, keyGetter) {
            const map = new Map();
            list.forEach((item) => {
                const key = keyGetter(item);
                const collection = map.get(key);
                if (!collection) {
                    map.set(key, [item]);
                } else {
                    collection.push(item);
                }
            });
            return map;
        },
        onClickTile(param, ref) { 
            let clicked = [];
            clicked.push(ref);
            if (clicked[0] == 'shortcutlink') {
                if (param == 'daily-tracker') {
                    this.shorcutRouteFlag = true;
                } else if (param == 'work-from-home') {
                    this.shorcutRouteFlag = true;
                } else {
                    this.dailyReportClick = true;
                }
            } 
            if (this.dailyReportClick) {
                this.newDailyReport({key: 'compose-report', name: 'Send Report', employee: param});
                
            } else {
                if (this.shorcutRouteFlag) {
                    if (param == 'daily-tracker') {
                        this.viewDailyTracker();
                    } else if (param == 'work-from-home') {
                        this.goWorkFromHome();
                    } else {
                        console.log('No Shortcut Link is set.');
                    }
                } else {
                    this.onPush(param);
                }
            }
        },
        onPush: function(group){
            let tempAction = group.route_name.split(' ');
            let action = '';
            if (tempAction.length > 1) {
                action = tempAction[1];
            } else {
                action = tempAction[0];
            }
            this.routeAction = action.toString().toLowerCase();
            this.$router.push({name: isNaN(group.goto_group_id)? 'manage-clients' : group.route_uri,
            params:{
                RouteGroup: group.goto_group_id,
                RouteWizards: this.RouteWizardsArray,
                RouteAction: this.routeAction,
                }
            });
            this.saveRouteWizard({
                RouteGroup: group.goto_group_id,
                RouteWizards: this.RouteWizardsArray,
                RouteAction: this.routeAction,
            });
        },
        goToEmployeeResources: function() {
            this.$router.push('/employee-resources?direct=true');
        },
        goWorkFromHome: function() {
            this.$router.push('/work-from-home/list?direct=true');
        },
        newDailyReport: function(formOptions) {
            this.form = formOptions;
			this.open = true;
        },
        viewDailyTracker: function(){
            this.$router.push('worklogs/daily?direct=true');
        },
        closeModalDialogue() {
            this.dailyReportClick = false;
            this.open = false;
        },
        reload() {
            this.dailyReportClick = false;
			this.open = false;
		}
    },
    mixins: [
        ModalDialogMixin,
        AlertMixin,
        DateMixin
    ],
    
}
</script>
