<template>
  <div>
    <!-- BEGIN PAGE HEADER -->
    <page-header v-bind:title="title"></page-header>
    <!-- END PAGE HEADER -->
    <page-content :pageClass="pageClass">
      <div>&nbsp;</div>
      <div class="back-btn-wrapper col-md-12 mt-2 mb-5">
          <back-button :text="'Back'" :route="'index'"></back-button>
      </div>
      <div class="col-md-12">
        <div class="row dashboard-statistics">
          <div class="col-lg-3 col-md-3 mini-widget">
            <!--------- COL 1 ----------->
            <div
              v-if="employeeCountLoading"
              class="card ks-widget-payment-simple-amount-item ks-purple"
            >
              <div class="loader"></div>
            </div>
            <div
              v-else
              class="card ks-widget-payment-simple-amount-item ks-purple mouse-pointer"
              @click="$router.push('/employees')"
            >
              <div class="payment-simple-amount-item-icon-block">
                <span class="fa-3x fa fa-group"></span>
              </div>

              <div class="payment-simple-amount-item-body">
                <div class="payment-simple-amount-item-amount">
                  <Can I="view" a="dashboard_admin_superadmin_action">
                    <h3>{{ employeeCount }}</h3>
                  </Can>
                  <Can not I="view" a="dashboard_admin_superadmin_action">
                    <h3>151</h3>
                  </Can>
                </div>
                <div class="payment-simple-amount-item-description">
                  Employees
                </div>
              </div>
            </div>

            <div
              v-if="applicantCountLoading"
              class="card ks-widget-payment-simple-amount-item ks-green"
            >
              <div class="loader"></div>
            </div>
            <div
              v-else
              class="card ks-widget-payment-simple-amount-item ks-green mouse-pointer"
              @click="$router.push('/applicants')"
            >
              <div class="payment-simple-amount-item-icon-block">
                <span class="fa-3x fa fa-line-chart"></span>
              </div>

              <div class="payment-simple-amount-item-body">
                <div class="payment-simple-amount-item-amount">
                  <Can I="view" a="dashboard_admin_superadmin_action">
                    <h3>{{ applicantCount }}</h3>
                  </Can>
                  <Can not I="view" a="dashboard_admin_superadmin_action">
                    <h3>95</h3>
                  </Can>
                </div>
                <div class="payment-simple-amount-item-description">
                  Applicants
                </div>
              </div>
            </div>

            <div
              v-if="clientCountLoading"
              class="card ks-widget-payment-simple-amount-item ks-pink"
            >
              <div class="loader"></div>
            </div>
            <div
              v-else
              class="card ks-widget-payment-simple-amount-item ks-pink mouse-pointer"
              @click="$router.push('/clients')"
            >
              <div class="payment-simple-amount-item-icon-block">
                <span class="fa-3x fa fa-sitemap"></span>
              </div>

              <div class="payment-simple-amount-item-body">
                <div class="payment-simple-amount-item-amount">
                  <Can I="view" a="dashboard_admin_superadmin_action">
                    <h3>{{ clientCount }}</h3>
                  </Can>
                  <Can not I="view" a="dashboard_admin_superadmin_action">
                    <h3>25</h3>
                  </Can>
                </div>
                <div class="payment-simple-amount-item-description">
                  Clients
                </div>
              </div>
            </div>

            <div
              v-if="projectCountLoading"
              class="card ks-widget-payment-simple-amount-item ks-orange"
            >
              <div class="loader"></div>
            </div>
            <div
              v-else
              class="card ks-widget-payment-simple-amount-item ks-orange"
            >
              <div class="payment-simple-amount-item-icon-block">
                <span class="fa-3x fa fa-server"></span>
              </div>

              <div class="payment-simple-amount-item-body">
                <div class="payment-simple-amount-item-amount">
                  <Can I="view" a="dashboard_admin_superadmin_action">
                    <h3>{{ projectCount }}</h3>
                  </Can>
                  <Can not I="view" a="dashboard_admin_superadmin_action">
                    <h3>34</h3>
                  </Can>
                </div>
                <div class="payment-simple-amount-item-description">
                  Projects
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 mini-widget">
            <!--------- COL 2 ----------->
            <div
              v-if="!chartData.employees.enabled"
              class="card ks-widget-payment-simple-amount-item ks-purple"
            >
              <div class="loader"></div>
            </div>
            <div
              id="chart1"
              class="apexcharts-container"
              v-if="chartData.employees.enabled"
            >
              <apexcharts
                type="pie"
                width="300"
                :options="chartData.employees.chartOptions"
                :series="chartData.employees.series"
              ></apexcharts>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 mini-widget">
            <div
              v-if="!chartData.applicants.enabled"
              class="card ks-widget-payment-simple-amount-item ks-purple"
            >
              <div class="loader"></div>
            </div>
            <div
              id="chart2"
              class="apexcharts-container"
              v-if="chartData.applicants.enabled"
            >
              <apexcharts
                type="pie"
                width="300"
                :options="chartData.applicants.chartOptions"
                :series="chartData.applicants.series"
              ></apexcharts>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 mini-widget">
            <div
              v-if="!chartData.clients.enabled"
              class="card ks-widget-payment-simple-amount-item ks-purple"
            >
              <div class="loader"></div>
            </div>
            <div
              id="chart3"
              class="apexcharts-container"
              v-if="chartData.clients.enabled"
            >
              <apexcharts
                type="pie"
                width="300"
                :options="chartData.clients.chartOptions"
                :series="chartData.clients.series"
              ></apexcharts>
            </div>
          </div>
        </div>
      </div>
    </page-content>
  </div>
</template>

<style>
@media screen and (max-width: 1480px) and (min-width: 1240px) {
  div.row div.apexcharts-container {
    left: -180px !important;
  }
  div.row div.apexcharts-container div.apexchart-items-container {
    width: 250px !important;
    left: -30px !important;
  }
}
@media screen and (max-width: 1239px) and (min-width: 1161px) {
  div.row div.apexcharts-container {
    left: -167px !important;
  }
  div.row div.apexcharts-container div.apexchart-items-container {
    width: 250px !important;
    left: -25px !important;
  }
}
@media screen and (max-width: 1160px) and (min-width: 1100px) {
  /*div.row div.apexcharts-container{
            left: -167px!important;
        }*/
  div.row div.apexcharts-container div.apexchart-items-container {
    width: 240px !important;
    left: -20px !important;
  }
}
@media screen and (max-width: 1099px) and (min-width: 960px) {
  div.row div.apexcharts-container {
    left: -157px !important;
  }
  div.row div.apexcharts-container div.apexchart-items-container {
    width: 225px !important;
    left: -17px !important;
  }
}
@media screen and (max-width: 959px) and (min-width: 881px) {
  div.row div.apexcharts-container {
    left: -147px !important;
  }
  div.row div.apexcharts-container div.apexchart-items-container {
    width: 210px !important;
    left: -14px !important;
  }
}
@media screen and (max-width: 880px) and (min-width: 850px) {
  div.row div.apexcharts-container div.apexchart-items-container {
    width: 195px !important;
    left: 2px !important;
  }
}
@media screen and (max-width: 849px) and (min-width: 768px) {
  div.row div.apexcharts-container {
    left: -133px !important;
  }
  div.row div.apexcharts-container div.apexchart-items-container {
    width: 188px !important;
    left: -10px !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 499px) {
  div.row div.apexcharts-container {
    left: -250px !important;
    padding-top: 50px !important;
  }
  div.row div.apexcharts-container div.apexchart-items-container {
    width: 350px !important;
    left: -175px !important;
    margin-left: 257px !important;
  }
}
</style>

<style scoped>
div.dashboard-statistics {
  position: relative !important;
  z-index: 1 !important;
}
div.loader {
  z-index: 1 !important;
}
. mini-widget {
  padding-bottom: 20px !important;
}
.fa-group,
.fa-line-chart,
.fa-sitemap,
.fa-server {
  color: #fff;
}
.fa-volume-up {
  color: #303dd9;
}
.ks-widget-payment-simple-amount-item.ks-purple
  .payment-simple-amount-item-icon-block {
  background-color: #4e54a8;
}
.ks-widget-payment-simple-amount-item.ks-green
  .payment-simple-amount-item-icon-block {
  background-color: #81c159;
}
.ks-widget-payment-simple-amount-item.ks-pink
  .payment-simple-amount-item-icon-block {
  background-color: #df538b;
}
.ks-widget-payment-simple-amount-item.ks-orange
  .payment-simple-amount-item-icon-block {
  background-color: #f88528;
}
.ks-widget-payment-simple-amount-item .payment-simple-amount-item-icon-block {
  width: 64px;
  height: 64px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}
[class^='ks-icon-'],
[class*=' ks-icon-'] {
  font-family: 'kosmo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ks-widget-payment-simple-amount-item
  .payment-simple-amount-item-icon-block
  > [class*='ks-icon-'] {
  font-size: 24px;
}
.ks-widget-payment-simple-amount-item
  .payment-simple-amount-item-icon-block
  > .ks-icon {
  position: relative;
  left: 1px;
  color: #fff;
  font-size: 32px;
}
.ks-widget-payment-simple-amount-item {
  min-height: 124px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-color: #e5e5e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#skillsSearch {
  font-size: 0.85em;
}
#skillsSearch .autocomplete {
  max-height: 250px;
  overflow-y: auto;
}
#skillsSearch .item {
  font-size: 13px;
}
.loader {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.large-loader {
  width: 85px;
  height: 85px;
}
.mouse-pointer {
  cursor: pointer;
}
input.pcl {
  position: absolute;
  z-index: -10000;
  opacity: 0;
}
.unassigned-employee-list {
  max-height: 365px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}
.ks-user {
  display: flex;
  margin-bottom: 12px;
}
.ks-info {
  margin-top: 5px;
  font-size: 15px;
}
.ks-info {
  margin-top: 5px;
  font-size: 15px;
}
.ks-avatar {
  margin-right: 10px;
}
.ks-info > a:first-child {
  color: #25628f;
}
#skillsSearch {
  width: 50%;
  position: absolute;
  left: 140px;
}
.employee-hover-position {
  color: #6b6262;
  font-size: 12px;
}
#skillsSearch {
  width: 75%;
}
.popover-no-skill {
  font-size: 12px;
  text-align: center;
}
.popover-heading {
  font-family: Montserrat, sans-serif;
}
.skill-block {
  padding: 5px 10px;
  width: 190px;
  font-family: Montserrat, sans-serif;
  color: #444;
  font-size: 8pt;
}
.fa-spinner {
  font-size: 40px;
}
/* Desktop */
@media (min-width: 1281px) {
  #skill-search {
    /* max-width: 50% !important;
            flexf: 0 0 50% !important; */

    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .unassigned-employee-list {
    /* overflow-x: scroll; */
    max-height: 500px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  #skill-search {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  #activity-stream {
    margin-top: 20px !important;
  }
}
</style>

<script>
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import PopoverDialog from '@components/popover-dialog.vue';
import $ from 'jquery';

//Components
import ModalDialog from '@components/modal-dialog.vue';
import DocumentChecklistModal from '@views/pages/employee/_modals/document-checklist.vue';
import VueTagsInput from '@johmun/vue-tags-input';
import BackButton from '@components/back-button.vue';

//Mixins
import AlertMixin from '@common/mixin/AlertMixin';
import DataTableMixin from '@common/mixin/DataTableMixin';
import EmployeeMixin from '@common/mixin/EmployeeMixin';
import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import StatisticsMixin from '@common/mixin/StatisticsMixin';

// Model
import {EmployeeChecklist} from '@common/model/EmployeeChecklist';

import {mapActions, mapGetters} from 'vuex';
import _ from 'lodash';
import apexcharts from 'vue-apexcharts';

export default {
  components: {
    PageHeader,
    PageContent,
    PopoverDialog,
    ModalDialog,
    DocumentChecklistModal,
    ModalDialogMixin,
    VueTagsInput,
    apexcharts,
    BackButton
  },
  mixins: [
    DataTableMixin,
    EmployeeMixin,
    ModalDialogMixin,
    AlertMixin,
    StatisticsMixin,
  ],
  data() {
    return {
      title: 'Dashboard',
      pageClass: 'dashboard',
      include: ['skills', 'employeeStatuses', 'positions'],

      employeeCount: 0,
      applicantCount: 0,
      clientCount: 0,
      projectCount: 0,
      employeeCountLoading: true,
      applicantCountLoading: true,
      clientCountLoading: true,
      projectCountLoading: true,
      employeeListLoading: true,
    };
  },
  async created() {
    this.$emit('pageTitle', this.title);

    if (this.$can('view', 'dashboard_admin_superadmin_action')) {
      await this.getData();
    }
    this.employeeCountLoading = false;
    this.applicantCountLoading = false;
    this.clientCountLoading = false;
    this.projectCountLoading = false;

    /** This code is to showcase available resources to be searched in dashboard for employees/skills **/
    /*await this.getEmployees({
            query: _.merge(this.getParams(),
                { include: this.include.join(', ') },
                { unassigned: 1 },
                { take: 999999 })
        });*/

    await this.getEmployees({
      query: _.merge({include: this.include.join(', ')}, {take: 999999}),
    });
    await this.processEmployeesChart(this.employees);
    await this.clearState([{key: 'data', value: null}]);

    await this.getApplicantRecords({
      query: _.merge(
        {include: this.include.join(', ')},
        {applicants: 'all', take: 999999},
      ),
    });
    await this.processApplicantsChart(this.applicants);
    await this.clearState([{key: 'applicants', value: null}]);

    await this.getClients({
      query: {take: 9999999},
    });
    this.processClientsChart(this.clients);
  },
  methods: {
    ...mapActions({
      getEmployees: 'employees/getEmployees',
      getApplicantRecords: 'employees/getApplicants',
      getClients: 'clients/getClients',
      getProjects: 'clientProjects/getClientProjects',
      getApplicants: 'employees/getEmployees',
      clearState: 'employees/clearState',
    }),
    async getData() {
      await this.getEmployees({
        query: {take: 1},
      });
      this.employeeCount = this.employee_meta.pagination
        ? this.employee_meta.pagination.total
        : 0;
      this.employeeCountLoading = false;

      await this.getApplicants({
        query: {applicants: 'all', take: 1},
      });
      this.applicantCount = this.employee_meta.pagination
        ? this.employee_meta.pagination.total
        : 0;
      this.applicantCountLoading = false;

      await this.getClients({
        query: {take: 1, status: 'active'},
      });
      this.clientCount = this.clients_meta.pagination
        ? this.clients_meta.pagination.total
        : 0;
      this.clientCountLoading = false;

      await this.getProjects({
        query: {take: 1},
      });
      this.projectCount = this.projects_meta.pagination
        ? this.projects_meta.pagination.total
        : 0;
      this.projectCountLoading = false;
    },
  },
  computed: {
    ...mapGetters({
      employees: 'employees/data',
      applicants: 'employees/applicants',
      clients: 'clients/data',
      employee_meta: 'employees/meta',
      clients_meta: 'clients/meta',
      projects_meta: 'clientProjects/meta',
    }),
  },
};
</script>
