<template>
  <div>
    <span id="popover-target-${refDateAsID}" class="total-report">
                          ${info.event.title}
                        </span>
                      <i class="${info.event.extendedProps.icon}"></i>
                          <b-popover target="popover-target-${refDateAsID}" triggers="hover" placement="top">
                        <template v-slot:title>${ReportDate}</template>
                        <b-row>${listReport}</b-row>
      </b-popover>
    </div>  
</template>
