<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" :confirmCancel="true" @close="closeModal">
		<template slot="button">
			<div class="action-wrapper" v-if="forPreview">
				<save-button  :loading="loading" :options="button" @action="preview" :disabled="!valid">Preview</save-button>
				<save-button  :loading="loading" :options="button" @action="send" :disabled="!valid">Send Report</save-button>
			</div>
			<div class="action-wrapper" v-else>
				<save-button  :options="button" @action="update" :disabled="!valid">Edit</save-button>
				<save-button  :loading="loading" :options="button" @action="send" :disabled="!valid">Send Report</save-button>
			</div>
        </template>
        <template slot="body">
            <div class="row" v-if="forPreview">
				<field-component v-for="element in formElements" :key="element.id" :data="element" @update="updateElementValue"></field-component>
			</div>	
			<div class="row form-group" v-else>
				<div class="col-md-12">
					<div class="row preview-row">
						<div class="col-md-12">
						<label class="preview-label">Send To: </label>
						<div class="email-wrapper">
							<div v-for="(email, index) in emails" :key="index">{{ email }} </div>
						</div>
						</div>
					</div>
					<div class="row preview-row">
						<div class="col-md-12">
						<label class="preview-label">Subject: </label>
						{{ form.subject }}
						</div>
					</div>
					<div class="row preview-row">
						<div class="col-md-12">
						<label class="preview-label">Report Date: </label>
						{{ form.report_date }}
						</div>
					</div>
					<div v-if="files.length > 0" class="row preview-row">
						<div class="col-md-12">
						<label class="preview-label">Attachment: </label>
						   <ul class="attach-listing">
							   <li v-for="(file, index) in files" :key="index"><i class="las la-file"></i> {{file.name}}</li>
						   </ul>	   
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<label class="preview-label preview">Preview: </label>
					<div v-html="toPreview"></div>
				</div>
			</div>
        </template>
    </modal-dialog>
</template>
<style>
    body div.v-dialogs{
        position: relative;
        z-index: 9999;
    }
	div.modal-backdrop div[role='dialog'] header span{
        width: auto!important;
    }
    div.modal-backdrop div[role='dialog'] header span div.action-wrapper{
        float: right !important;
    }

	.modal-backdrop .modal {
		width: 847px!important;
		height: auto!important;
	    /*height: 660px!important;*/
		overflow-y: auto;
	}
	.modal #modalDescription {
		overflow-y: auto;
		overflow-x: hidden;
	}
	.action-wrapper {
		display: inline-block;
	}
	.preview-label {
		vertical-align: top;
		font-weight: bold;
		width: 8em;
		margin: 0;
	}
	.preview {
		padding-bottom: 1em;
	}
	.email-wrapper {
		display: inline-block;
	}
	.preview-row {
		padding-bottom: 1em;
	}
	.elseCondition {
		color: red;
	}
	.error {
		font-size:9px;
	}
	textarea {
		min-height: 100px;
		overflow: auto;
	}
	.custom-checkbox {
		padding:5px;
		margin-left: 17px;
		min-width: 200px;
	}
	.attach-listing {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.attach-listing li {
		display: block;
	}
</style>

<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import FieldComponent from '@components/form/field-component.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import Select2 from "@components/select2.vue";

	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import DatePickerMixin from '@common/mixin/DatePicker';
	import AlertMixin from '@common/mixin/AlertMixin';

	import FlatPickr from 'vue-flatpickr-component';
	import 'flatpickr/dist/flatpickr.css';
	import { mapActions, mapGetters } from 'vuex';
	import jQuery from 'jquery';

	//Models
    import { EmployeeReportsFile } from '@common/model/EmployeeReportsFile';

	export default {
		props: {
			info: { type: Object, required: true }
		},
		data() {
			return {
				option: { width: '800px' },
	            button: { class: 'btn btn-primary',type: 'button' },
	            loading: false,
	            manualInput : false,
	            formElements: {},
	            form: {
					content: '',
					todo: '',
					roadblocks: '',
					remarks: '',
	            	subject: '',
	            	employee_id: '',
	            	send_to: {},
					report_template_id: 0,
					client_project_id: 0,
					report_date: ''
				},
				fileUpload: {
                    folder: 'daily-reports',
                    name:'test.pdf',
                    medium: null,
                    medium_type: 'file',
                    old_id: '',
                    old_cv: ''
                },
				files: [],
				imageTypes:['JPEG', 'PNG', 'JPG'],
	            editorOptions : {
	            	hideModules: {
	            		forcePlainTextOnPaste: true, image:true, code: true, removeFormat: false
	            	},
	            	maxHeight:'400px'
				},
				selectedProject: [],
				selectedClient: [],
				currentDate: '',
				projectData: {
					options: []
				},
				reportData: {
					options: []
				},
				contactOptions: [],
				reportDateOptions: {
					altFormat: "M d, Y",
					dateFormat: "M d, Y",
					allowInput: true,
					maxDate: 'today',
					onChange: (selectedDates, dateStr, instance) => {
						this.selectedDate = dateStr ? "(" + dateStr + ")" : "";
						let toSet = (this.selectedProject[this.form.client_project_id] ? this.selectedProject[this.form.client_project_id] + " : " : '');
						this.form.subject = toSet + "Daily Report " + this.selectedDate + " - " + this.info.employee;
					}
				},
				projectIncludes: [
					'clientProject',
					'employee'
				],
				selectedDate: '',
				minimumDateTime: '',
				contactListDefaultOptions: [],
				contactClients: [],
				tempProjectClientSelected: [],
				emails: [],
				flag: 0,
				contactFlag: 1,
				forPreview: true,
				toPreview: '',
				disable: true,
				toSend: ''
			}
		},
		computed: {
			...mapGetters({
				loggedInUser: 'auth/data',
				employee: 'employees/single',
				employeeReports: 'employeeReports/data',
				employeeReport: 'employeeReports/employeeReport',
				reportTemplateFilter: 'reportTemplates/reportTemplateFilter',
				reports: 'reportTemplates/reportTemplateFilter',
				projects: 'employeeClientProjects/data',
				contacts: 'clientContacts/data',
				previews: 'sendReport/data'
			}),
         valid: function() {
				let errorCtr = 0;
				this.formElements.forEach((elem) => {
					if (elem.is_required) {
						let answer = elem.value;
						if (answer instanceof Array) {
							if (answer.length <= 0) {
								errorCtr++;
							}
						} else {
							if (answer == '') {
								errorCtr++;
							}
						}
					}
				})
				return errorCtr == 0 ? true : false;
			}
		},
		async created() {
			this.loading = true;
			this.disable = true;
			let reportTypeCtr = 0;
			let projectsCtr = 0;
			let minimumDate = new Date('01-01-2018');
			this.formElements = [];
			let clientIds = [];
			let currDate = new Date();
			await this.fetchEmployee({user_id: this.loggedInUser.data.id});
			this.form.employee_id = this.employee[0].id;
            this.info.employee = this.employee[0].name;
			await this.fetchProjects({
				employee: this.employee[0].id,
				include: this.projectIncludes.join(",")
			});
			await this.fetchReports({type:'Daily Report'});
			this.form.subject = 'Daily Report';
			this.projects.forEach((project) => {
				projectsCtr++;
				if (projectsCtr == 1) {
					this.form.client_project_id = project.clientProject.data.id;
				}
				this.selectedClient[project.clientProject.data.id] = project.clientProject.data.client_id;
				this.selectedProject[project.clientProject.data.id] = project.clientProject.data.project_name;
				this.projectData.options.push({value:project.clientProject.data.id, text:project.clientProject.data.project_name});
			});
			this.reportTemplateFilter.forEach(report => {
				reportTypeCtr++
				if (reportTypeCtr == 1) {
					this.form.report_template_id = report.id;
				}
				this.reportData.options.push({value:report.id, text:report.name});

			});
			this.currentDate = this.formatDate(currDate, 'YYYY-MM-DD');
			this.selectedDate = "(" + this.formatDate(this.currentDate, 'LL') + ")";
			this.minimumDateTime = this.formatDate(minimumDate, 'YYYY-MM-DD');
			this.form.report_date = this.formatDate(this.currentDate, 'YYYY-MM-DD');
			await this.getContactlist(this.form.client_project_id);
			this.updateSubjectProject(this.form.client_project_id);
			this.initializeForm();

			this.disable = false;
			this.loading = false;
		},
		methods: {
			...mapActions({
				fetchReports:'reportTemplates/getReportTemplatesWithFilter',
				fetchEmployee: 'employees/getEmployee',
				fetchProjects: 'employeeClientProjects/getProjectsOfResource',
				fetchContacts: 'clientContacts/getContacts',
				saveEmployeeReport: 'employeeReports/saveEmployeeReport',
				sendDailyReport: 'sendReport/send'
			}),
			formatDate(date, format) {
            	return moment(date).format(format);
			},
			initializeForm() {
				this.formElements = [
					{
						type: "hidden",
						id: 'report_template_id',
						name: "report_template_id",
						label: 'Report Type:',
						value: this.form.report_template_id,
						class: 'col-md-12',
						is_required: true,
						is_hidden: false
					},
                    {
						type: "display-box",
						id: 'reporttypetxt',
						name: "reporttypetxt",
						label: 'Report Type:',
						value: 'Daily Report',
						class: 'col-md-6',
						is_required: true,
						is_hidden: false
					},
					{
						type: "select",
						name: "client_project_id",
                        id: 'client_project_id',
                        label: 'Project:',
                        value: this.form.client_project_id,
                        class: 'col-md-6', 
                        is_required: true,
                        is_hidden: false,
                        options:  this.projectData.options
					},
					{
						type: "date",
						id: 'needed_at',
						label: 'Report Date:',
						value: this.currentDate,
						minDate: this.minimumDateTime,
						maxDate: '',
						class: 'col-md-12',                                            
						is_required: true,
						is_hidden: false
					},
					{
						type: "display-box",
						id: 'subject',
						name: "subject",
						label: 'Subject:',
						value: this.form.subject,
						class: 'col-md-12',
						is_required: true,
						is_hidden: false
					},
					{
                        type: "checkbox",
                        id: 'send_to',
                        label: 'Send To',
                        value: this.contactListDefaultOptions,
                        class: 'col-md-12',
                        is_required: true,
                        is_hidden: false,                        
                        options:  this.contactOptions,
					},
					{
                        type: "tiptap",
                        id: 'content',
                        label: 'What I did today:',
                        value: '',
                        class: 'col-md-12',
                        is_required: 1,
                        is_hidden: false
					},
					{
                        type: "tiptap",
                        id: 'todo',
                        label: 'What I will be doing the next working day:',
                        value: '',
                        class: 'col-md-12',
                        is_required: 1,
                        is_hidden: false
					},
					{
                        type: "tiptap",
                        id: 'roadblocks',
                        label: 'My Roadblocks/Impediments:',
                        value: '',
                        class: 'col-md-12',
                        is_required: false,
                        is_hidden: false
					},
					{
                        type: "tiptap",
                        id: 'remarks',
                        label: 'Other Remarks:',
                        value: '',
                        class: 'col-md-12',
                        is_required: false,
                        is_hidden: false
					},
					{
						type: "file",
						id: 'file',
						label: 'ATTACHMENT HERE:',
						value: [],
						class: 'col-md-12 dragdrop-card text-center',                                            
						is_required: false,
						is_hidden: false
					}					
				];
			},
            async updateElementValue(id, value) {
				if (id == 'file') {
					(value).forEach((fl) => {
						let filetype = this.getMediumType(fl.name);
					})
										
				}
				if (id == 'send_to') {
					this.contactListDefaultOptions = value;
				}				
				if (id == 'client_project_id') {
					this.flag = 0;
					this.contactFlag = 1;
					await this.getContactlist(value);
					this.updateSubjectProject(value);					
					_.each(this.formElements, (el) => {
						if (el.id == 'subject') {
							el.value = '';
							el.value = this.form.subject;
						}
						if (el.id == 'send_to') {
							el.options = [];
							el.options = this.contactOptions;
							el.value = this.contactListDefaultOptions;
							this.tempProjectClientSelected[value] = this.contactListDefaultOptions;
						}
						if(el.id === id) {
							if (value instanceof Array) {
								el.value = value;
							} else {
								el.value = value;
							}
						}
					});
				} else if (id == 'needed_at') {
					this.selectedDate = "(" + this.formatDate(value, 'LL') + ")";
					_.each(this.formElements, (el) => {
						if (el.id == 'client_project_id') {
							this.updateSubjectProject(el.value);
						} else if (el.id == 'subject') {
							el.value = '';
							el.value = this.form.subject;
						} else if (el.id == 'send_to') {
							el.options = [];
							el.options = this.contactOptions;
							el.value = this.contactListDefaultOptions;
						} else {
							if (el.id === id) {
								el.value = value;
							}
						}
					});

				} else if (id == 'report_template_id') {
					this.flag = 0;
					this.contactFlag = 1;
					if (value != '') {
						this.updateSubjectProject(value);
					}
					_.each(this.formElements, (el) => {
						if (value == '') {
							if (el.id == 'subject') {
								el.value = '';
							}
							if (el.id == 'send_to') {
								el.options = [];
							}
						} else {
							if (el.id == 'subject') {
								el.value = '';
								el.value = this.form.subject;
							}
							if (el.id == 'send_to') {
								el.options = [];
								el.options = this.contactOptions;
								el.value = this.contactListDefaultOptions;
							}							
						}
						if(el.id === id) {
							if (value instanceof Array) {
								el.value = value;
							} else {
								el.value = value.trim();
							}
							
						}
					});
				} else {
					_.each(this.formElements, (el) => {
						if(el.id === id) {
							if (value instanceof Array) {
								el.value = value;
							} else {
								el.value = value.trim();
							}
						}
					});
				}
			},
			async preview() {
				this.loading = true;
				this.info.name = "Preview Report";
				this.toSend = this.emails.join(', ');
				let selections = [];
				let selectedEmails = [];
				let selectedIds = [];

				this.formElements.forEach((element) => {
					if (element.id == 'content' || element.id == 'todo' ||
						element.id == 'roadblocks' || element.id == 'remarks' ||
						element.id == 'subject' || element.id == 'report_template_id' ||
						element.id == 'client_project_id' || element.id == 'report_date') {
							this.form[element.id] = element.value;
						}
					if (element.id == 'needed_at') {
						this.form.report_date = element.value;
					}
					if (element.id == 'file') {
						this.files = element.value
					}

					if (element.id == 'send_to') {
						selections = element.options;
						selectedIds = element.value;

						selections.forEach((opt) => {
							let idfound = 0;
							if (selectedIds.length > 0) {
								selectedIds.forEach((idVal) => {
									if(idVal == opt.value) {
										idfound = 1;
									}
								});
							}
							if (idfound == 1) {
								selectedEmails.push(opt.text);
							}
						});
						this.emails = selectedEmails;
					}	
				});
				if (this.files.length > 0) {
					this.form.attachment = this.files;
				}

				await this.sendDailyReport(this.form).then(() => {
					this.toPreview = this.previews.data.preview;
					this.forPreview = false;
					this.loading = false;
				});
			},
			update() {
				this.forPreview = true;
			},
			send() {
				this.loading = true;
				let selections = [];
				let selectedEmails = [];
				let selectedIds = [];
				this.formElements.forEach((element) => {
					if (element.id == 'content' || element.id == 'todo' ||
						element.id == 'roadblocks' || element.id == 'remarks' ||
						element.id == 'subject' || element.id == 'report_template_id' ||
						element.id == 'client_project_id') {
							this.form[element.id] = element.value;
						}
					if (element.id == 'file') {
						this.files = element.value
					}
					if (element.id == 'needed_at') {
						this.form.report_date = element.value;
					}	
					if (element.id == 'send_to') {
						selections = element.options;
						selectedIds = element.value;

						selections.forEach((opt) => {
							let idfound = 0;
							if (selectedIds.length > 0) {
								selectedIds.forEach((idVal) => {
									if(idVal == opt.value) {
										idfound = 1;
									}
								});
							}
							if (idfound == 1) {
								selectedEmails.push(opt.text);
							}
						});
						this.emails = selectedEmails;
					}	
				});
				
				this.form.sent = 0;
				this.form.send_to = this.emails.join(',');
				this.form.report_date = this.formatDate(this.form.report_date, 'YYYY-MM-DD');
				this.form.roadblocks = this.form.roadblocks ? this.form.roadblocks : "None";
				
				this.saveEmployeeReport(this.form).then((res) => {
					let reqPromise = [];
					this.files.forEach((record) => {
						let reportFile = {};
						this.fileUpload.name = record.name;
                        this.fileUpload.medium = record.encoded;
						this.fileUpload.medium_type = this.getMediumType(record.name);
						reportFile = this.fileUpload;
						reportFile.employee_reports_id = this.employeeReport.id;
						reportFile.file = record.name;
						reportFile.original_file = record.name;
						reqPromise.push(this.submitFile(reportFile));
					});
					Promise.all(reqPromise);
					this.$emit('success');
					this.loading = false;
				});
			},
			getMediumType(currentFile){
                if(currentFile !=''){
					let extension = currentFile.split('.');
					let extFound = 0;
					extension.forEach((ext) => {
						if(this.imageTypes.indexOf(ext.toUpperCase())>=0) {
							extFound = 1;
						}
					});
					if(extFound == 1) {
						return 'image';
					}
	            }
                return 'file';
            },
			async getContactlist($project) {
				let tempContact = {};
				this.contactOptions = [];
				this.emails = [];
				let hasSelected = 'no';
				if ((this.tempProjectClientSelected[$project]) && this.tempProjectClientSelected[$project].length > 0) {
					hasSelected = 'yes';
				}
				if ($project != '') {
					await this.fetchContacts({query: {client_id: this.selectedClient[$project]}});
					this.contacts.forEach(contact =>{
							tempContact = {
								text: contact.email,
								value: contact.id
							}
							if (hasSelected == 'no') {
								this.contactListDefaultOptions.push(contact.id);
							}
							this.contactOptions.push(tempContact);
							this.emails.push(contact.email);
					});					
				}
				this.contactOptions.push({text:'reports@fullscale.io', value:this.contacts.length+1});
				if (hasSelected == 'no') {
					this.contactListDefaultOptions.push(this.contacts.length+1);
					this.tempProjectClientSelected[$project] = this.contactListDefaultOptions;
				}
			},
			async updateSubjectProject($project) {
				this.loading = true;
				this.form.client_project_id = $project;
				if(this.selectedClient[$project] != undefined) {
					if(this.contactFlag)
					{
						this.emails = ['reports@fullscale.io'];
					} else {
						this.contactFlag = 1;
					}

					this.form.subject =  this.selectedProject[$project] + " : Daily Report " + this.selectedDate + " - " + this.info.employee;
				} else {
					this.form.subject =  "Daily Report " + this.selectedDate + " - " + this.info.employee;
				}
				this.loading = false;
			},
			async submitFile(currentfileUpload){
                    return new Promise((resolve) => {
                        this.loading = true;
                        const employeeReportsFile = new EmployeeReportsFile();

                        setTimeout(function(){
                            let $ = jQuery;
                            $("span#uploading-notification").show(200);
                        },15000);

                        try{
                            employeeReportsFile.save(currentfileUpload).then(() => {
                                resolve(true);
                            });
                        }catch(e){
                            const title = 'Error!';
                            const msg = 'An unexpected error has occurred while uploading your attachment, please try again.';
                            this.confirmDialog(title, msg, 'Close', '', 'sm');
                            resolve(false);
                        }
                });
            },
		},
		watch:{
			formSubject: function(){
				return this.form.subject;
			}
		},
		components: {
	        GenerateButton,
			SaveButton,
			FieldComponent,
			ModalDialog,
			Select2,
			FlatPickr
	    },
	    mixins: [
	        ModalDialogMixin,
			StringHelperMixin,
			DatePickerMixin,
			AlertMixin
	    ]
	}
</script>
