<template>
	<modal-dialog v-show="openModal" :options="option" :closeButtonText="'Close'" :title="info.name" @close="closeModal">
        <template slot="body">
            <div class="row">
				<div class="col-md-12">
                    <div class="form-group">
						<div class="row">
							<label class="col-md-2 font-weight-bold">Sent To: </label>
							<div class="col-md-3" v-for="contact in contactOptions" :key="contact.id">
								{{ contact }}
							</div>
						</div>
                	</div>
				</div>
                <div class="col-md-12">
                    <div class="form-group">
						<div class="row">
							<label class="col-md-2 font-weight-bold">Report Date: </label>
							<div class="col-md-10">{{ formatDate(report.report_date, "MMM DD, YYYY") }}</div>
						</div>
                	</div>
				</div>
                <div class="col-md-12">
                    <div class="form-group">
						<div class="row">
							<label class="col-md-2 font-weight-bold">Subject: </label>
							<div class="col-md-10">{{ report.subject }}</div>
						</div>
                	</div>
				</div>
                <div class="col-md-12">
                    <div class="form-group">
						<label class="font-weight-bold">What I did today: </label>
						<div class="row">
							<div class="col-md-12" style="white-space:pre-line;" v-html="report.content"></div>
						</div>
                	</div>
				</div>
				<div class="col-md-12">
                    <div class="form-group">
						<label class="font-weight-bold">What I will be doing the next working day: </label>
						<div class="row">
							<div class="col-md-12" style="white-space:pre-line;" v-html="report.todo"></div>
						</div>
                	</div>
				</div>
				<div class="col-md-12">
                    <div class="form-group">
						<label class="font-weight-bold">My Roadblocks/Impediments: </label>
						<div class="row">
							<div class="col-md-12" style="white-space:pre-line;" v-html="report.roadblocks"></div>
						</div>
                	</div>
				</div>
				<div v-if="report.remarks" class="col-md-12">
                    <div class="form-group">
						<label class="font-weight-bold">Other Remarks: </label>
						<div class="row">
							<div class="col-md-12" v-html="report.remarks"></div>
						</div>
                	</div>
				</div>
				<div v-if="attachmentFiles.length > 0" class="col-md-12">
					<div class="form-group">
						<label class="font-weight-bold">Attachment: </label>
						<ul class="attach-listing">
							<li v-for="(fileNew, fileNewIndex) in attachmentFiles" :key="fileNewIndex">
								<a href="#" @click.prevent="getResponseDetailFile(path+fileNew.file)" title="Click to download this file.">
									<i class="la la-file"> {{fileNew.original_file}}</i>
								</a>
							</li>
						</ul>	   
					</div>
				</div>
            </div>
        </template>
    </modal-dialog>
</template>
<style scoped>
ul.attach-listing {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul.attach-listing li {
		display: block;
	}
	ul.attach-listing li .rmvBtn {
		color:#FF0000;
	}
</style>
<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';

	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import DateMixin from '@common/mixin/DateMixin';
	import DownloadMixin from "@common/mixin/DownloadMixin";

	//Models
    import { EmployeeReportsFile } from '@common/model/EmployeeReportsFile';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		props: {
			info: { type: Object, required: true }
		},
		data() {
			return {
				option: { width: '700px' },
                button: { class: 'btn btn-primary',type: 'button' },
				contactOptions: [],
				uploadedFiles: [],
				files: [],
				path: 'storage/daily-reports/',
			}
        },
        computed: {
			...mapGetters({
				report: 'employeeReports/employeeReport'
			}),
			attachmentFiles: function() {
				//uploadedFiles
				let combineFiles = [];
				combineFiles = this.uploadedFiles;
				this.files.forEach((file) => {
					combineFiles.push(file);
				})
				return combineFiles;
			}
		},
		async created() {
			let tempFiles = [];
			tempFiles = await this.getEmployeeReportsFiles(this.info.id);
            await this.getEmployeeReport(this.info.id);
			this.contactOptions = this.report.send_to.split(',');
			this.files = tempFiles.data;
		},
		methods: {
            ...mapActions({
				getEmployeeReport: 'employeeReports/getEmployeeReport'
			}),
			getResponseDetailFile(path) {
                this.downloadFile(path, path);
            },
			async getEmployeeReportsFiles(id) {
                return new Promise(async (resolve) => {
                    let dataResult = await EmployeeReportsFile.get({employee_reports_id: id});
                    resolve(dataResult);
                });
            },
		},
		components: {
	        GenerateButton,
	        SaveButton,
			ModalDialog
	    },
	    mixins: [
	        ModalDialogMixin,
			StringHelperMixin,
			DateMixin,
			DownloadMixin
	    ]
	}
</script>
