<template>
    <div>
        <!-- BEGIN PAGE HEADER -->
        <page-header v-bind:title="title"></page-header>
        <!-- END PAGE HEADER -->
        <page-content :pageClass="pageClass">
            <div class="wizard">  
                <div class="back-btn-wrapper">
                     <back-button :text="'Back'" :route="'index'"></back-button> 
                </div>                       
                <div class="row wizard-nav">
                    <div class="menu-item-wrapper col-sm-12 col-md-4" v-for="(action, i) in actionList" :key="i">
                        <tool-tip data-placement="bottom" :title="action.caption"  class="menu-item" >
                            <a v-on:click="onPush(action)">
                                <span class="ks-icon" :class="action.icon ? action.icon : 'ks-icon-user'"></span>
                                <span class="link-text">{{action.route_name}} {{action.sequence_order == 1 && $route.params.RouteGroup == 2? '('+totalClient+')' : ''}}</span>
                            </a>
                        </tool-tip>
                    </div>                   
                </div>
            </div>
        </page-content>
    </div>
</template>
<style scoped>
    .back-btn-wrapper {
        width: 100%;
        margin-bottom: 20px;       
        position: relative;
        left: -8px; 
    }
</style>
<script>
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';

import { mapActions, mapGetters } from 'vuex';
import ToolTip from '@components/fs-tooltip.vue';
import BackButton from '@components/back-button.vue';

import _ from 'lodash';
export default {
    components: {
        PageHeader,
        PageContent,
        ToolTip,
        BackButton
    },
    data() {
        return {
            title: 'What '+ this.$route.params.RouteAction +' action would you like to do?',
            pageClass: 'ks-content-nav',
            actionList: [],
            RouteWizardsArray: [],
            totalClient: '',
        }
    },
    computed: {
		...mapGetters({
			clients:'clients/data',
            editclient:'clients/client',
            RouteWizards: 'routeWizards/data',
			meta:'clients/meta'
		})
	},
    async created() {
        if(!this.$route.params.RouteGroup){
            this.$router.push('/');
        }
        this.RouteWizardsArray = this.$route.params.RouteWizards;
        this.actionList = this.routeGroup(this.$route.params.RouteGroup);
        if(this.$route.params.RouteGroup == 2){
            await this.getClients({
                query: _.merge(
                    { status: 'prospect' },
                    { reviewed: '0' })
            });
            this.totalClient = '('+ this.meta ? this.meta.pagination.total : 0 + ')';
        }
    },
    methods : {
         ...mapActions({
            getClientContact: 'clientContacts/getClientContact',
            getRouteWizards: 'routeWizards/getRouteWizards',
            saveRouteWizard: 'routeWizards/saveRouteWizard',
			getClients: 'clients/getClients'
        }),

        routeGroup(item){
            let items = item ? item : 0;
            let group = this.groupBy(this.RouteWizardsArray, group => group.group_id);
            return group.get(items);
        },

        groupBy(list, keyGetter) {
            const map = new Map();

            _.each(list, (item) => {
                const key = keyGetter(item);
                const collection = map.get(key);
                if (!collection) {
                    map.set(key, [item]);
                } else {
                    collection.push(item);
                }
            });
            return map;
        },

        onPush: function(group){
            let tempAction = group.route_name.split(' ');
            let action = '';
            let routeAction = '';
            if (tempAction.length > 1) {
                action = tempAction[1];
            } else {
                action = tempAction[0];
            }
            routeAction = action.toString().toLowerCase();
            this.$router.push({
                path: group.route_uri,
                params: {
                    RouteGroup: group.goto_group_id,
                    RouteWizards: this.RouteWizardsArray,
                    RouteAction: this.$route.params.RouteAction,
                }
            });

        },
    },
}
</script>