<template>
    <div>
        <div class="ks-nav-body">
            <div v-if="loading" class="loader"></div>
            <div v-else class="ks-nav-body-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group" :class="{ 'has-error': errors.has('company') || isCompanyTaken }">
                                <label>Company Name<span class="error">*</span></label>
                                <input
                                    type="text"
                                    v-validate="'required'"
                                    ref="company"
                                    name="company"
                                    class="form-control"
                                    v-model="clientData.company"/>
                                <span v-show="errors.has('company')" class="help-block form-error">
                                    {{ replaceText(errors.first('company'), 'company', 'company name') }}
                                </span>
                                <span v-show="isCompanyTaken" class="help-block form-error">{{ companyTakenMsg }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group" :class="{ 'has-error': errors.has('status') }">
                                <label>Company Status<span class="error">*</span></label>
                                <select2
                                    name="status"
                                    :options="status.options"
                                    v-validate="'required'"
                                    :value="clientData.status"
                                    @select="clientData.status = $event">
                                </select2>
                                <span v-show="errors.has('status')" class="help-block form-error">
                                    {{ errors.first('status') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>Location</label>
                                <input
                                    type="text"
                                    ref="location"
                                    name="location"
                                    class="form-control"
                                    v-model="clientData.location"/>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group" :class="{ 'has-error': errors.has('timezone') }">
                                <label>Time Zone<span class="error">*</span></label>
                                <select2
                                    v-validate="'required'"
                                    name="timezone"
                                    :options="formattedTimezones"
                                    :value="clientData.zone_id"
                                    :hideSearchBox="false"
                                    @select="selectTimezone">
                                </select2>
                                <span v-show="errors.has('timezone')" class="help-block form-error">
                                    {{ errors.first('timezone') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group" :class="{'has-error': errors.has('is_high_growth_client')}">
                                <label>Is High Growth Client?<span class="error">*</span></label>
                                <select2
                                    v-validate="'required'"
                                    name="is_high_growth_client"
                                    :options="logic.options"
                                    :value="clientData.is_high_growth_client"
                                    @select="clientData.is_high_growth_client = $event">
                                </select2>
                                <span v-show="errors.has('is_high_growth_client')" class="help-block form-error">
                                    {{ errors.first('is_high_growth_client') }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <flat-pickr
                                    v-model="clientData.start_date"
                                    :config="getConfig(true, false, { minDate: 'today', allowInput: false })"
                                    placeholder="Select start date"
                                    name="start_date"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="address" role="tabpanel" aria-expanded="false">
                    <div class="container-fluid">
                        <hr />
                        <div class="row" >
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <a class="address-wrapper flex link" @click="toggleAddress">
                                        <label><h4 class="mr-2">Contact Details</h4> </label>
                                    </a>
                                    <button class="btn btn-success ks-no-text" @click="addNewContactForm">
                                        <span class="la la-plus"></span>
                                    </button>
                                    <div>
                                        <div class="form-group contact-scroll">
                                            <div class="card mt-2" v-for="(contactItem, index) in contactData" :key="index">
                                                <div class="card-body">
                                                    <Can I="delete" a="client_contact">
                                                        <span class="float-right" style="cursor:pointer" @click="deleteContact(index, contactItem.id )">X</span>
                                                    </Can>
                                                    <h5 class="card-title mb-0">{{ contactItem.name ? contactItem.name : 'New Contact' }}</h5>
                                                </div>
                                                <div class="contacts-form">
                                                    <div class="row contact-item">
                                                        <div class="col-sm-12 col-md-4">
                                                            <div class="form-group" :class="{ 'has-error': errors.has(`contact-name-${index}`) }">
                                                                <label :for="`contact-name-${index}`">Name<span class="error">*</span></label>
                                                                <input
                                                                    v-validate="'required'"
                                                                    :id="`contact-name-${index}`"
                                                                    :name="`contact-name-${index}`"
                                                                    type="text"
                                                                    class="form-control"
                                                                    v-model="contactItem.name"/>
                                                                <span v-show="errors.has(`contact-name-${index}`)" class="help-block form-error">
                                                                    {{ replaceText(errors.first(`contact-name-${index}`), `contact-name-${index}`, 'name') }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-4">
                                                            <div class="form-group" :class="{ 'has-error': errors.has(`contact-email-${index}`) || uuidExists(contactItem.uuid) }">
                                                                <label :for="`contact-email-${index}`">Email<span class="error">*</span></label>
                                                                <input
                                                                    v-validate="'required|email'"
                                                                    :id="`contact-email-${index}`"
                                                                    :name="`contact-email-${index}`"
                                                                    type="email"
                                                                    class="form-control"
                                                                    v-model="contactItem.email"
                                                                    @change="checkContactEmailDuplicate(contactItem)"/>
                                                                <span v-show="errors.has(`contact-email-${index}`)" class="help-block form-error">
                                                                    {{ replaceText(errors.first(`contact-email-${index}`), `contact-email-${index}`, 'email') }}
                                                                </span>
                                                                <span v-show="uuidExists(contactItem.uuid)" class="help-block form-error">
                                                                    The email is already taken.
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-4">
                                                            <div class="form-group" :class="{ 'has-error': errors.has(`contact-num-${index}`) }">
                                                                <label :for="`contact-num-${index}`">Contact Number<span class="error">*</span></label>
                                                                <input
                                                                    v-validate="'required'"
                                                                    :id="`contact-num-${index}`"
                                                                    :name="`contact-num-${index}`"
                                                                    type="text"
                                                                    class="form-control"
                                                                    v-model="contactItem.contact_no"/>
                                                                <span v-show="errors.has(`contact-num-${index}`)" class="help-block form-error">
                                                                    {{ replaceText(errors.first(`contact-num-${index}`), `contact-num-${index}`, 'contact number') }}
                                                                </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import _ from 'lodash';

// components
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import DataTable from '@components/datatable.vue';
import Select2 from '@components/select2.vue';
import FlatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';

// mixins
import DataTableMixin from '@common/mixin/DataTableMixin';
import AlertMixin from '@common/mixin/AlertMixin';
import DatePickerMixin from '@common/mixin/DatePicker';
import DateMixin from '@common/mixin/DateMixin';
import WizardMixin from '@common/mixin/WizardMixin';

import { Client } from '@common/model/Client';
import { Timezone } from '@common/model/Timezone';

export default {
    components: {
        PageHeader,
        PageContent,
        DataTable,
        Select2,
        FlatPickr,
    },
    mixins: [
        DataTableMixin,
        AlertMixin,
        DatePickerMixin,
        DateMixin,
        WizardMixin,
    ],
    data() {
        return {
            pageClass: 'ks-content-nav',
            title: 'Select the client you wish to review or update.',
            loading: false,
            contactData: [],
            clientData: {
                id: '',
                company: '',
                is_high_growth_client: '1',
                status: '1',
                location: '',
                timezone: '',
                zone_id: '',
                start_date: ''
            },
            status: {
                options: [
                    {
                        id: '0', // put quotes in 0 to bind data with select2 component
                        text: "Active"
                    },
                    { id: 1, text: "End of Contract" },
                    { id: 2, text: "Prospect" },
                ]
            },
            logic: {
                options: [
                    {
                        id: '0', // put quotes in 0 to bind data with select2 component
                        text: "No"
                    },
                    {id: 1, text: "Yes"},
                ]
            },
            activeAddress: 'permanent',
            isCompanyTaken: false,
            companyTakenMsg: '',
            contactDetailsPassed: true,
            validEmail: true,
            wizardStepName: 'client-details',
            formattedTimezones: [],
            errorIndex: null,
            pristine: {},
            validatedUuids: [],
        };
    },
    created() {
        this.wizardEventBus.$on(`${this.wizardEventName}-client-prospect`, async data => {
            // sanitize validation errors first
            this.$validator.reset();
            this.contactData = [];
            this.validatedUuids = [];
            this.isCompanyTaken = false;

            this.loading = true;
            await this.getClient(data);
            await this.getContacts({query: {client: data}});
            await this.getTimezones({query:_.merge({take:10000 }, {orderBy: ['country_code|asc']})});
            this.formatTimezones();

            _.assign(this.clientData, this.client);

            const contactData = _.map(this.contacts, d => ({...d, uuid: this.uuid()}));
            _.assign(this.contactData, contactData);

            // save original data
            this.pristine = {
                data: this.client,
                contacts: contactData,
            };
            this.loading = false;
        });
    },
    computed: {
		...mapGetters({
			contact: 'clients/contact',
            client: 'clients/client',
            clients: 'clients/data',
            meta: 'clients/meta',
            formatted: 'clients/formatted',
            timezones: 'timezones/formatted',
            contacts: 'clientContacts/data',
            clientId: 'wizardClientProspects/step_1',
        }),
	},
    methods: {
        ...mapActions({
            saveClient: 'clients/saveClient',
            setClient: 'clients/setClient',
            getClient: 'clients/getClient',
            getSpecificClient: 'clients/getSpecificClient',
            getContacts: 'clientContacts/getContacts',
            saveContact: 'clientContacts/saveContact',
            getTimezones: 'timezones/getTimezones',
            removeContact: 'clientContacts/deleteContact',
            addStep2Data: 'wizardClientProspects/addStep2Data',
            setStep2ValidationResult: 'wizardClientProspects/setStep2ValidationResult',
        }),
        addNewContactForm() {
            this.contactData.unshift({
                uuid: this.uuid(),
                id: null,
                client_id: null,
                name: '',
                email: '',
                contact_no: '',
            });
        },
        deleteContact(i,id) {
            this.confirmDialog("Removing Contact...", "Are you sure you want to delete?", "Yes", "Cancel", "sm").then((res)=>{
                if(res.ok) {
                    if(id) {
                        this.removeContact(id).then(() => {
                            this.contactData.splice(i,1);
                            if(this.info.id){
                                this.getContacts({query: {client_id: this.info.id}}).then(() => {
                                    this.oldEmails = this.contacts.map(a => a.email);
                                    this.isEmailDuplicate = false;
                                });
                            }
                        });
                    } else {
                        this.contactData.splice(i,1);
                    }
                    this.isEmailDuplicate = false;
                }
            });
        },
        selectTimezone(id) {
            const timezone = _.find(this.formattedTimezones, ['id', parseInt(id)]);

            this.clientData.zone_id = id;
            this.clientData.timezone = timezone ? timezone.name : '';
        },
        toggleAddress() {
            this.activeAddress = this.activeAddress == 'present' ? 'permanent' : 'present';
        },
        getClientData(clientID){ //this loops on store.client.data state
            for( let i = 0 ; i < this.clients.length ; i++){
                if(this.clients[i]['id'] == this.clientId ){
                    this.setClient(this.clients[i]);
                    return this.clients[i];
                }
            }
        },
        formatTimezones() {
            let currentTimezones = this.timezones;
            let newTimezones = [];
            let tempTz = [];
            currentTimezones.forEach((tz) => {
                if (tz.country_code == 'US' || tz.country_code == 'CA') {
                    if (!tempTz.includes(tz.name)) {
                        if (tz.name != tz.text) {
                            newTimezones.push(tz);
                            tempTz.push(tz.name);
                        }
                    }
                }
            });

            currentTimezones.forEach((tz) => {
                if (tz.country_code != 'US' && tz.country_code != 'CA') {
                    if (!tempTz.includes(tz.name)) {
                        if (tz.name != tz.text) {
                            newTimezones.push(tz);
                            tempTz.push(tz.name);
                        }
                    }
                }
            });
            this.formattedTimezones = newTimezones;
        },
        replaceText(str,look,replace) {
            if (str!=null && str!='') {
                return str.replace(look,replace);
            }

            return '';
        },
        async checkCompanyDuplicate() {
            // we will not waste time here...
            if (this.pristine.data.company == this.clientData.company) {
                return;
            }

            this.isCompanyTaken = false;
            this.companyTakenMsg = '';
            let company = this.clientData.company.trim();

            if (company != '') {
                await this.getSpecificClient({query: { company: this.clientData.company}});
                if (this.client.length) {
                    this.isCompanyTaken = true;
                    this.companyTakenMsg = 'The company name is already taken.';
                }
            }
        },
        checkContactEmailDuplicate({uuid, id, email}) {
            const newlyAdded = _.filter(this.contactData, ['id', null]);
            let index;

            if (id) {
                // Validate existing contacts (has already record in database).
                // We only compare against to other existing contacts.
                index = _.findIndex(this.pristine.contacts, d => d.id && d.uuid !== uuid && d.email === email);

                // if we cannot find a duplicate from existing contacts,
                // we will search through to the newly added contacts.
                if (index === -1) {
                    index = _.findIndex(newlyAdded, d => d.uuid !== uuid && d.email === email);
                }

            } else {
                // Validate newly added contacts (cached).
                const pristine = _.map(this.pristine.contacts, ({uuid, email}) => ({uuid, email}));
                const added = _.map(newlyAdded, ({uuid, email}) => ({uuid, email}));
                const merged = [...pristine, ...added];

                index = _.findIndex(merged, d => d.uuid !== uuid && d.email === email);
            }

            if (index !== -1) {
                this.validatedUuids.push(uuid);
            } else {
                this.validatedUuids.splice(index, 1);
            }
        },
        uuid() {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        },
        uuidExists(uuid) {
            return _.includes(this.validatedUuids, uuid);
        },
        passData() {
            delete this.clientData['created_at'];
            this.passDataToWizard({
                client: this.clientData,
                contacts: this.contactData,
            });
        },
        wizardBeforeChange() {
            return this.$validator.validate().then(async valid => {
                let passed = false;

                await this.checkCompanyDuplicate();
                passed = valid && (!this.isCompanyTaken) && (!this.validatedUuids.length);

                if (passed) {
                    this.passData();
                }

                return passed;
            });
        },
    },
}
</script>

<style>
    .duplicate-email-error {
        color: red;
        font-size: 9px;
    }
    button.btn {
        padding: 0px 11px;
        font-size: 11px;
    }
    .contact-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* .parent-content {
        border: 1px solid red;
        height: auto;
        min-height: 405px;
        max-height: 385px;
        margin-bottom: 12px;
    } */
</style>
