<template>
    <div>
        <div class="ks-nav-body">
            <div class="ks-nav-body-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <data-table
                                :columns="data.columns"
                                :sortKey="sortKey"
                                :sortOrder="sortOrder"
                                :pagination="config.pagination"
                                :tableLoading="tableLoading"
                                :show-search="false"
                                @sort="sortList($event)"
                                @select="updateList($event)"
                                @prev="paginate('prev')"
                                @next="paginate('next')"
                                @page="paginate($event)">

                                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 filter" slot="filter">
                                    <fs-search-input
                                        placeholder="Search client"
                                        class=""
                                        v-model="clientTags"
                                        :existing-tags="clientExistingTags"
                                        :typeahead="true"
                                        :typeahead-style="'dropdown'"
                                        :only-existing-tags="true"
                                        :wrapper-class="''"
                                        :onSearchBtnClick="search"
                                        :isDisabled="searchInputDisabled"
                                        :searchButtonDisabled="searchButtonDisabled"
                                        @tags-updated="tagsUpdated"
                                        @clear-selected-tags="clearSelectedTags"
                                    />
                                </div>

                                <!-- BEGIN CLIENTS DATA -->
                                <tbody>
                                    <template v-if="clientsData.length !== 0">
                                        <tr :key="client.id" v-for="client in clientsData" class='clickable-row' @click="selectRow(client.id)">
                                            <td class="text-center">
                                                <input type="radio" v-model="clientToUpdate" :value="client.id">
                                            </td>
                                            <td> {{ client.company }} </td>
                                            <td> {{ client.location }} </td>
                                            <td>
                                                <span v-for="(contact, index1) in client.contacts" :key="index1">
                                                    <span v-for="(item, index) in contact" :key="index">
                                                        {{ item.contact_no }} <br/>
                                                    </span>
                                                </span>
                                            </td>
                                            <td>
                                                <span v-for="(contact,index2) in client.contacts" :key="index2">
                                                    <span v-for="(item, index) in contact" :key="index">
                                                        {{ item.name }} <br/>
                                                    </span>
                                                </span>
                                            </td>
                                            <td>
                                                <span v-for="(contact,index3) in client.contacts" :key="index3">
                                                    <span v-for="(item, index) in contact" :key="index">
                                                        {{ item.email }} <br/>
                                                    </span>
                                                </span>
                                            </td>
                                            <td> {{ (client.has_remote_team_experience == null) ? '' : client.has_remote_team_experience  }} </td>
                                            <td> {{ client.created_at }} </td>
                                            <td> <a href="#" @click="showConfirmDeleteClient(client)" class="text-danger icon-btn" :title="'Delete ' + client.company"><i class="la la-trash"></i></a> </td>
                                        </tr>
                                    </template>
                                    <template v-else>
                                        <tr>
                                            <td colspan="8" class="text-center">No records found.</td>
                                        </tr>
                                    </template>
                                </tbody>
                                <!-- END CLIENTS DATA -->
                            </data-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
    .icon-btn {
        font-size: 20px;
    }
</style>    
<script>
import { mapActions, mapGetters } from 'vuex';

// components
import DataTable from '@components/datatable.vue';
import FsSearchInput from '@components/fs-search-input.vue';

// mixins
import DataTableMixin from '@common/mixin/DataTableMixin';
import WizardMixin from '@common/mixin/WizardMixin';
import AlertMixin from '@common/mixin/AlertMixin';


export default {
    components: {
        DataTable,
        FsSearchInput,
    },
    mixins: [
        DataTableMixin,
        WizardMixin,
        AlertMixin,
    ],
    data() {
        let sortKey = 'company';
        let columns = [
            { label: '', key: 'choice', sortKey: 'company', width: '1%', sortable: false },
            { label: 'Client Name', key: 'company', sortKey: 'company', width: '10%', sortable: false },
            { label: 'Address', key: 'address', sortKey: 'address', width: '15%', sortable: false },
            { label: 'Contact Number', key: 'contact_no', sortKey: 'contact_no', width: '10%', sortable: false },
            { label: 'Contact Person', key: 'name', sortKey: 'name', width: '10%', sortable: false },
            { label: 'Contact Email', key: 'email', sortKey: 'email', width: '10%', sortable: false },
            { label: 'Has Remote Team Experience', key: 'remote_team_experience', sortKey: 'remote_team_experience', width: '10%', sortable: false },
            { label: 'Signing  Date', key: 'signing_date', sortKey: 'signing_date', width: '10%', sortable: false },
            { label: 'Action', key: 'action', sortKey: 'action', width: '3%', sortable: false },
        ];
        let sortOrder = {};

        return {
            pageClass: 'ks-content-nav',
            title: 'Select the client you wish to review or update.',
            sortKey: 'company',
            sortOrder: sortOrder,
            searchPlaceholder: 'Search Client...',
            searchOptions: [],
            limit: 20,
            clientToUpdate: '',
            clientsData: [],
            tableLoading: false,
            data: {
                columns: columns,
                rows: []
            },
            hasError: false,
            wizardStepName: 'client-prospect',
            clientTags: [],
            clientExistingTags: [],
            searchInputDisabled: false,
            searchButtonDisabled: false,
        }
    },
    watch: {
        clientToUpdate(newVal) {
            this.passDataToWizard(newVal);
        },
    },
    async created() {
        await this.getData();
        this.loadSearchTags();
        this.setPagination(this.meta.pagination);
    },
    computed: {
		...mapGetters({
			clients:'clients/data',
			clientNames:'clients/client_names',
            editclient:'clients/client',
            meta:'clients/meta',
            currentStep: 'wizardClientProspects/current_step',
            step1Data: 'wizardClientProspects/step_1',
		})
	},
    methods: {
        ...mapActions({
            getClientContact: 'clientContacts/getClientContact',
            getClients: 'clients/getClients',
            deleteClient: 'clients/deleteClient',
            deleteClientContact: 'clientContacts/deleteContact',
            getClientNames: 'clients/getClients',
            pushWizardData: 'wizardClientProspects/addStep1Data',
        }),
        showConfirmDeleteClient(client) {
            const title = 'Are you sure you want to delete this client?';
            const msg = `${client.company}`;
            this.confirmDialog(title, msg, 'Yes', 'No', 'sm')
                .then(({ ok }) => {
                    if(ok) {
                        this.deleteClient(client.id).then(() => {
                            client.contacts.data.forEach((contact) => {
                                this.deleteClientContact(contact.id);
                            });
                            this.notifyDialog('success', 'Successfully saved!');
                            this.reload();
                        });
                    }
                });
        },
        async reload() {
            await this.getData();
            this.loadSearchTags();
            this.setPagination(this.meta.pagination);
        },
        async getData() {
            this.tableLoading = true;
            const query = _.merge(
                this.getParams(),
                { ids: _.map(this.clientTags, 'key') },
                { status: 'prospect' },
                { reviewed: '0' }
            );
            await this.getClients({query});
            this.clientsData = this.clients;
            this.tableLoading = false;
        },

        async loadSearchTags() {
            await this.getClientNames({query: {
                namesOnly: true,
                status: 'prospect',
                reviewed: '0',
                take: 9999,
            }});

            this.clientExistingTags = _.map(this.clientNames, client => ({
                key: client.id,
                value: client.name,
            }));
        },
        async paginate(page) {
            this.gotoPage(page);
            await this.getData();
            this.setPagination(this.meta.pagination);
        },
        async updateList(limit) {
            this.setPaginationLimit(limit);
            await this.getData();
            this.setPagination(this.meta.pagination);
        },
        async search(term) {
            this.setSearch(term);
            await this.getData();
            this.setPagination(this.meta.pagination);
        },
        async sortList(key) {
            this.sortKey = key;
            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
            await this.getData();
            this.setPagination(this.meta.pagination);
        },
        selectRow(clientId) {
            this.clientToUpdate = clientId;
        },
        wizardBeforeChange() {
            if (this.clientToUpdate) {
                return true;
            } else {
                this.alertDialog('Unable to proceed', 'Please select a client first.', 'OK', 'sm');
                return false;
            }
        },
        tagsUpdated() {
            this.$nextTick(() => {
                this.search();
            });
        },
        clearSelectedTags() {
            this.clientTags = [];
            this.search();
        },
        async search() {
            this.gotoPage(1);
            await this.getData();
            this.setPagination(this.meta.pagination);
        },
    }
}
</script>

<style lang="scss" scoped>
    .clickable-row{
        cursor: pointer;
    }
</style>
