<template>
    <div>
        <div class="wizard-content">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Would you like to send "Client Profile Access" to the list of contacts below?</h5>
                    <div class="form-fields form-group">
                        <div class="custom-control custom-radio ks-radio ks-success">
                            <input id="r1" name="radio" type="radio" class="custom-control-input" v-model="isSendAccess"  @click='checkAll()' :value="1">
                            <label class="custom-control-label" for="r1">Yes</label>
                        </div>
                        <div class="checkbox-fields">
                            <div v-for="contact in clientContacts" :key="contact.id">
                                <input type="checkbox" :value="contact.email" v-model="select" @change='updateCheckall()' />
                                <label for="email1" >{{contact.name ? contact.name+',': ''}} {{contact.email}}</label>
                            </div>

                        </div>
                        <div class="custom-control custom-radio ks-radio ks-success">
                            <input id="r2" name="radio" type="radio" class="custom-control-input" v-model="isSendAccess" :value="0" >
                            <label class="custom-control-label" for="r2">Later</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .wizard-content {
        padding: 0 20px;
        width: 100%;

        .form-fields {
            padding: 10px;

            .ks-radio > .custom-control-input:checked ~ .custom-control-label:after {
                left: -23px;
            }

            .checkbox-fields {
                padding: 20px 20px 10px;

                .custom-checkbox {
                    padding-bottom: 10px;

                    .custom-control-input:checked ~ .custom-control-label:after {
                        left: -23px;
                        color: #50ae55;
                    }
                }
            }
        }
   }
</style>

<script>
import { mapActions, mapGetters } from 'vuex';
import WizardMixin from '@common/mixin/WizardMixin';

export default {
    mixins: [WizardMixin],
    data() {
        return {
            title: 'Completing Client Update...',
            pageClass: 'ks-content-nav',
            isSendAccess: 1,
            clientContacts: [],
            select: [],
            checkedEmails: [],
            allData: [],
            wizardStepName: 'completing-update',
        }
    },
    computed: {
		...mapGetters({
            contacts: 'clientContacts/data',
            step1Data: 'wizardClientProspects/step_1',
            step2Data: 'wizardClientProspects/step_2',
            step3Data: 'wizardClientProspects/step_3',
            suggestedResource: 'clientTeamBuilder/suggestedResource'
		})
	},
    async created() {
        this.clientContacts = this.contacts;
        /**
         * Trigger subscribers
         */
        this.$store.subscribeAction((action, state) => {
            if (action.type == 'wizardClientProspects/triggerStepLastAddData') {
                this.addStepLastData(this.select);
            }
        });

        if(this.isSendAccess == 1) {
            for (var key in this.clientContacts) {
                this.select.push(this.clientContacts[key].email);
            }
        }
    },
    methods: {
        ...mapActions({
            addStepLastData: 'wizardClientProspects/addStepLastData',
        }),
        checkAll: function(){
            this.select = [];
            for (var key in this.clientContacts) {
                this.select.push(this.clientContacts[key].email);
            }
        },
        updateCheckall: function() {
            if(this.select.length == 0){
                this.isSendAccess = 0;
            }
            else{
                 this.isSendAccess = 1;
            }
        },
        wizardBeforeChange() {
            this.passDataToWizard(this.select);

            return true;
        }
    },
    watch: {
        isSendAccess(newValue) {
            if(newValue == 0) {
                this.select = [];
            }
        },
    },
}
</script>
