<template>
    <div class="carousel-component">
        <h3 class="header-title">
            <span>{{ headerTitle }}</span>
            <slot name="right-title">
                <span class="float-right ">Suggested: {{ counter }}</span>
            </slot>
        </h3>
        <div class="d-none">{{ rows }}</div>
        <div class="carousel-outer-container">
            <div v-if="loading" class="loader"></div>
            <div v-else class="carousel-middle-container">
                <div class="carousel-inner-container">
                    <carousel
                        :per-page-custom="slidesPerPageCustom"
                        :mouse-drag="mouseDrag"
                        :navigation-enabled="navigationEnabled"
                        :center-mode="centerMode"
                        :pagination-enabled="paginationEnabled"
                        :navigation-click-target-size="navigationClickTargetSize">
                        <slide v-for="(row, index) in rows" :key="index">
                            <div class="slide-wrapper">
                                <div class="fs-user-photo-container">
                                    <a :href="row.profile_url" target="_blank" class="emp-name">
                                        <div class="fs-user-photo align-self-center" :style="'background-image: url(\'' + photo(row) + '\')'"></div>
                                    </a>
                                </div>
                                <div class="fs-information">
                                    <div class="employee-info text-center">
                                        <div class="fs-shorten emp-name">
                                            <a :href="row.profile_url" target="_blank">
                                                {{ row.first_name + ' ' + row.last_name }}
                                                <span class="la la-external-link ks-icon"></span>
                                            </a>
                                        </div>
                                        <div class="fs-shorten">
                                            <span class="fs-position">
                                                {{ position(row.positions.data) }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="skill-container">
                                        <div class="resource-details-content" v-if="row.skills.data && row.skills.data.length">
                                            <div v-for="(skill,index) in row.skills.data" :key="skill.id">
                                                <div v-if="index < 5">
                                                    <div class="ks-controls resource-skill-placeholder" data-trigger="hover focus" data-toggle="popover" :data-content="skill.name">
                                                        <span class="resource-skill" @mouseover="checkPopover">
                                                            {{ skill.name }}
                                                        </span>
                                                        <span class="resource-level">
                                                            {{ skill.proficiency }}/10
                                                        </span>
                                                    </div>
                                                    <div class="ks-info">
                                                        <div class="progress ks-progress ks-progress-xs">
                                                            <div class="progress-bar bg-info"
                                                                role="progressbar"
                                                                :style="'width: ' + (skill.proficiency * 10) + '%'"
                                                                v-bind:aria-valuenow="skill.proficiency"
                                                                aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="resource-button">
                                    <div class="fs-action col-sm-12 btn-group" role="group">
                                        <template v-if="row.status == 'suggested'">
                                            <button type="button" tag="button" class="fs-suggested buttonAdminStyle" @click="toggleStatus(row)">
                                                <span>Suggested</span>
                                                <span class="la la-star ks-icon"></span>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button type="button" tag="button" class="fs-available buttonAdminStyle" @click="toggleStatus(row)">
                                                <span>Suggest to Client</span>
                                            </button>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                    <div v-if="rows.length == 0" class="no-resource">
                        No Resource Available
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// Library
import { Carousel, Slide } from 'vue-carousel';
import $ from 'jquery';

// Mixin
import EmployeeMixin from "@common/mixin/EmployeeMixin";
import BuilderHelperMixin from '@common/var/team-builder';

// Component
import PopoverDialog from '@components/popover-dialog.vue';
import { mapActions, mapGetters } from 'vuex';

export default {
    props: {
        headerTitle: {
            type: String,
            default: 'Header Title',
        },
        rows: {
            type: Array
        },
        counter: {
            type: Number,
            required: false,
            default: [],
        },
        loading: {
            type: Boolean,
            default: false
        },
    },
    components: {
        Carousel,
        Slide,
        PopoverDialog
    },
    mixins: [
        EmployeeMixin,
        BuilderHelperMixin
    ],
    data() {
        return {
            slidesPerPageCustom: [[320,1] , [768,2] , [1024,3] , [1440,5]],
            mouseDrag: true,
            navigationEnabled: true,
            centerMode: true,
            paginationEnabled: false,
            navigationClickTargetSize: 30,
        }
    },
    methods: {
        checkPopover(event){
            if(event.target.offsetWidth < event.target.scrollWidth){

                $(event.target).parent('.resource-skill-placeholder').popover({
                    template: '<div class="popover truncated-skill"><div class="arrow"></div><div class="popover-body"></div></div>'
                });
            }
        },
        toggleStatus(data) {
            this.$emit('toggleStatus', data);
        },
    },
}
</script>

<style lang="scss" scoped>
    span.pcl {
        position: absolute;
        left: -1000px;
        top: -1000px;
    }
    input.pcl {
        position: absolute;
        z-index: -10000;
        opacity: 0;
    }
    .carousel-inner-container {
        margin: auto;
    }
    .carousel-middle-container {
        margin: 0 80px;
    }
    .carousel-outer-container {
        padding: 1rem 0;
    }
    .fs-counter {
        font-size: 1rem;
        bottom: -15px;
    }
    .fs-shorten {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
        height: 1.4rem;
	}
    .fs-bind {
        font-size: 13px;
        font-weight: 600;
    }
    .fs-information {
        position: relative;
        padding: 10px 5px 0;
        text-align: left;
        height: 200px;
        .employee-status {
            position: relative;
            min-height: 22px;
            i {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
    .buttonClientStyle:hover {
            background: #383;
    }
    .buttonAdminStyle:hover {
            background: rgb(37, 130, 236);
    }
    .employee-info .link {
        color: black;
        font-weight: bold;
    }
    .no-resource {
        text-align: center;
        margin-bottom: 20px;
    }
    .popover-skill-block {
        padding: 5px 10px;
        width: 190px;
        font-family: Montserrat, sans-serif;
        color: #444;
        font-size: 8pt;
    }
    .popover-heading {
        font-family: Montserrat, sans-serif;
	}
    .popover-no-skill {
        font-size: 12px;
        text-align: center;
    }
    .header-title {
        padding: 20px 0 5px;
        border-bottom: 5px solid #007840;
    }
    .header-title span:first-child {
        padding: 10px 20px 10px;
        position: relative;
        background: #007840;
        color: white;
    }
    .header-title span:first-child:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-bottom: 47px solid #007840;
        border-right: 80px solid transparent;
    }
    .search-field {
        position: relative;
        float: right;
        font-size: 17px !important;
        padding: 0;
        color: #007840;
        cursor: pointer;
        .add-icon {
            background-image: url(/assets/img/smart-team-builder/add.png);
            background-size: 22px;
            width: 22px;
            height: 22px;
            position: absolute;
            top: 6px;
            left: -26px;
        }
    }
    .choose {
        width: 100%;
        border-radius: 0;
        background: black;
        border-color: black;
        color: white;
    }
    .selected {
        width: 100%;
        border-radius: 0;
        background: #007840;
        border-color: #007840;
        color: white;
    }
	.slide-wrapper {
        margin: 10px 35px 30px!important;
        box-shadow: 3px 5px 15px rgba(0,0,0,0.16);
        .resource-button {
            .fs-action {
                padding: 0;
                button {
                    border-radius: 0;
                    border: none;
                    color: white;
                    font-size: 0.9rem;
                    padding: 7px;
                    width: 100%;
                    text-align: center;
                    &.is-half { width: 50%; }
                }
            }
        }
    }
    .form-control {
        font-family: "Montserrat", sans-serif;
        z-index: 0;
        height: 38px;
        border-radius: 2px;
        border: solid 1px #dedede;
        font-size: 12px;
        color: #333;
        margin-bottom: -29px;
        margin-top: -11px;
    }
    .fs-user-photo-container {
        background: url('~/public/assets/img/thumbs/profile/banner-cover_thumbnail.png') no-repeat #DEDBDC;
        background-size: cover;
        padding: 10px 0;
        position: relative;
        .remove {
            background: black;
            color: white;
            border-radius: 100px;
            border-width: 1px;
            font-size: 23px;
            position: absolute;
            top: -10px;
            right: -10px;
            cursor: pointer;
        }
        .fs-user-photo {
            height: 120px!important;
            width: 110px;
            box-sizing: border-box;
            background-color: #c1c1c1;
            height: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 2px solid #fff;
            margin: 0 auto;
        }
    }
    .carousel-icons {
        position: absolute;
    }

    .emp-name {
        font-weight: bold;
    }
    .skill-container {
        padding-top: 5px;
        height: 120px;
    }
</style>

<style lang="scss">
    .carousel-component .VueCarousel-dot-container,
    .carousel-component .VueCarousel-dot-container > button {
        margin-top: 3px !important;
    }
    .carousel-component .VueCarousel-inner {
        justify-content: flex-start;
    }
    .carousel-component .VueCarousel-pagination {
        height: 40px;
    }
    .carousel-component .VueCarousel-navigation-button {
        font-size: 0;
    }
    .carousel-component .VueCarousel-navigation-prev {
        background-image: url('/assets/img/smart-team-builder/carousel-prev.png');
    }
    .carousel-component .VueCarousel-navigation-next {
        background-image: url('/assets/img/smart-team-builder/carousel-next.png');
    }
    .carousel-component .VueCarousel-slide .slide-wrapper{
        margin: 10px 15px;
        box-shadow: 3px 5px 15px rgba(0,0,0,0.16);
    }
    .action-button {
        font-size: 20px;
    }
    button {
        &.fs-available { background: #6c757d; }
        &.fs-suggested { background: #007bff; }
        &.fs-selected { background: #28a745; }
        &.fs-declined {  background: #dc3545; }
        &.fs-assigned { background: #17a2b8; }
    }
    .header-title {
        padding: 0px 0 5px!important;
        border-bottom: 5px solid #007840;
        position: relative;
        top: 5px;
    }
    .header-title span:first-child {
        padding: 10px 20px 10px;
        position: relative;
        background: #007840;
        color: white;
    }
    .resource-skill-placeholder {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .resource-skill {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .VueCarousel-slide {
        min-width: 0;
    }
    .popover.truncated-skill {
        border: 1px solid #fff;
        .popover-body {
            background-color: #007840 !important;
            color: white;
        }
        .arrow:after {
            border-right-color: #007840 !important;
            border-left-color: #007840 !important;
        }
    }
</style>
