<template>
    <div class="main-form">
        <div>
            <div>
                <h1 style="text-align:center;color:#417941;margin-top:70px">Thank you</h1>
            </div>
            <div class="form-title">
                <span>Client set-up completed successfully.</span>
                <p v-if="redirect">{{ message }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            timer: 3,
        };
    },
    created() {
        if (this.redirect) {
            setTimeout(() => {
                this.interval = setInterval(() => {
                    --this.timer;
                }, 1000);
            }, 1000);
        }
    },
    computed: {
        redirect() {
            return this.$route.params.redirect;
        },
        message() {
            return `Redirecting in ${this.timer}`;
        },
    },
    watch: {
        timer(value) {
            if (!value && this.redirect) {
                clearInterval(this.interval);
                this.$router.push('/review-client-prospects');
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.main-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-title {
    position: relative;
    left: 2px;
    span {
        font-size: 17pt;
        font-weight: 700;
        color: #444;
        position: relative;
    }
    text-align: center;
}
</style>
