<template>
    <div>
        <div class="wizard-content">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Enter No. of Projects: </h5>
                    <div class="number-input">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .wizard-content {
        width: 100%;
        padding: 0 20px;

        h5 {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }

        input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        .number-input {
            border: 1px solid #ccc;
            display: inline-block;
            vertical-align: middle;
            height: 38px;
            margin-left: 10px;
            font-size: 0;
        }

        .number-input,
        .number-input * {
            box-sizing: border-box;
        }

        .number-input button {
            outline:none;
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            width: 36px;
            height: 36px;
            cursor: pointer;
            margin: 0;
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        .number-input button:before,
        .number-input button:after {
            display: inline-block;
            position: absolute;
            content: '';
            width: 0.6rem;
            height: 2px;
            background-color: rgb(0, 120, 64);
            transform: translate(-50%, -50%);
        }
        .number-input button.plus:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .number-input input[type=number] {
            font-family: "Montserrat", sans-serif;
            color: #333;
            max-width: 40px;
            border: 1px solid #ccc;
            font-size: 14px;
            height: 36px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            border-top: 0;
            border-bottom: 0;
        }
    }
</style>

<script>

export default {
    data() {
        return {
            title: 'How many projects would you like to fill for <Selected Client>?',
            pageClass: 'ks-content-nav'
        }
    },
}
</script>