<template>
    <div>
        <div class="wizard-content">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" :class="{ 'has-error': errors.has('project_name') }">
                                            <label>Project Name<span class="error">*</span></label>
                                            <input type="text" name="project_name" v-validate="'required'" ref="project_name" class="form-control" v-model="projectData.project_name">
                                            <span v-show="errors.has('project_name')" class="help-block form-error">{{ replaceText(errors.first('project_name'), 'project_name', 'Project Name') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Project Description</label>
                                            <input type="text" name="project_description" class="form-control" v-model="projectData.project_description">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Notes</label> <textarea rows="6" name="notes" class="form-control" v-model="projectData.notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Project URL</label> <input type="text" name="project_url" class="form-control" v-model="projectData.project_url">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Project Requirements</label> <input type="text" name="project_requirement" class="form-control" v-model="projectData.project_requirement">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <flat-pickr
                                                v-model="projectData.start_date"
                                                :config="getConfig(true, false, { minDate: 'today', allowInput: false })"
                                                placeholder="Select start date"
                                                name="start_date"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Project Status<span class="error">*</span></label>
                                            <select class="form-control" name="status_id" v-model="projectData.status_id" style="width: 100%;">
                                                <option value="1">Not Started</option>
                                                <option value="2">Discovery</option>
                                                <option value="3">Approval</option>
                                                <option value="4">Development</option>
                                                <option value="5">On Hold</option>
                                                <option value="6">Completed</option>
                                                <option value="7">Canceled</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>System Requirements</label> <input type="text" name="system_requirement" class="form-control" v-model="projectData.system_requirement">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>End Date</label>
                                            <flat-pickr
                                                v-model="projectData.end_date"
                                                :config="getConfig(true, false, { minDate: 'today', allowInput: false })"
                                                placeholder="Select end date"
                                                name="end_date"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .wizard-content {
        padding: 0 20px;
        width: 100%;
    }
</style>

<script>

import FlatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';

import DatePickerMixin from '@common/mixin/DatePicker';
import DateMixin from '@common/mixin/DateMixin';
import WizardMixin from '@common/mixin/WizardMixin';

import { mapActions, mapGetters } from 'vuex';

export default {
    components: {
        FlatPickr
    },
    mixins: [
        DatePickerMixin,
        DateMixin,
        WizardMixin,
    ],
    data() {
        return {
            title: 'Please fill-in project-details.',
            pageClass: 'ks-content-nav',
            projectData: {
                id: 0,
                project_name: '',
                project_description: '',
                notes: '',
                project_url: '',
                project_requirement: '',
                start_date: '',
                status_id: '',
                system_requirement: '',
                end_date: ''
            },
            wizardStepName: 'project-details',
        };
    },
    /*
    created() {
        const projectName = this.step3Data.project_name
            || this.step2Data.client.company || '';
        const projectStatus = this.step3Data.status_id || 1;
        this.projectData.project_name = projectName;
        this.projectData.status_id = projectStatus;
        this.$store.subscribeAction((action, state) => {
            if (action.type == 'wizardClientProspects/triggerStep3AddData') {
                this.addStep3Data(this.projectData);
            }
            if (action.type == 'wizardClientProspects/triggerStep3Validation') {
                this.$validator.validate().then(result => {
                    this.setStep3ValidationResult(result);
                });
            }
        });

    },
    */
    created() {
        this.projectData.status_id = 1;

        this.wizardEventBus.$on(`${this.wizardEventName}-client-details`, ({client}) => {
            this.projectData.project_name = client.company;
        });
    },
    computed: {
        ...mapGetters({
            step3Data: 'wizardClientProspects/step_3',
            step2Data: 'wizardClientProspects/step_2',
        }),
    },
    methods: {
        ...mapActions({
            addStep3Data: 'wizardClientProspects/addStep3Data',
            setStep3ValidationResult: 'wizardClientProspects/setStep3ValidationResult',
        }),
        replaceText(str,look,replace) {
            if(str!=null && str!='') {
                return str.replace(look,replace);
            } return "";
        },
        async validateProjectDetails() {
            let passed = false;
            await this.$validator.validate().then(result => {
                passed = result;
            });
            return passed;
        },
        wizardBeforeChange() {
            return this.$validator.validate().then(valid => {
                this.passDataToWizard(this.projectData);
                return valid;
            });
        },
    },
}
</script>
