<template>
    <div>        
        <div class="back-btn-wrapper">
            <back-button :text="'Back'" :route="'manage-clients'"></back-button>
            <back-button
                :text="'Go to Main'"
                :route="'index'"
                style="margin-left: 10px;">
            </back-button>
        </div>
        <component-wizard
            ref="client_wizard"
            :components="steps"
            :title="title"
            :menuRoute="backToMenuRoute"
            :beforeChange="beforeChange"
            :skipButton="skipButton"
            :finishButton="finishButton"
            @onChange="onChange"
            @skipStep="skipStep"
            @onComplete="onComplete"
            >
            <template v-for="(component, index) in steps">
                <template :slot="component.name + '-' + index" v-if="component.repeating">
                    <component :is="component.name" :key="index"
                        v-bind="{wizardEventBus, totalSuggested, ...component}">
                    </component>
                </template>
                <template :slot="component.name" v-else>
                    <component :is="component.name" :key="index"
                        v-bind="{ wizardEventBus, ...component }">
                    </component>
                </template>
            </template>
        </component-wizard>        
    </div>
</template>


<script>
import _ from 'lodash';
//Components
import ComponentWizard from '@components/component-wizard';
import ClientProspect from '@views/pages/wizard/client-prospect';
import ClientDetails from '@views/pages/wizard/client-details';
import ProjectDetails from '@views/pages/wizard/project-details';
import ResourceType from '@views/pages/wizard/type-of-resource';
import CompletingUpdate from '@views/pages/wizard/completing-update';
import ResourcesSuggestion from '@views/pages/wizard/resources-suggestion';
import BackButton from '@components/back-button.vue';

import { mapActions, mapGetters } from 'vuex';

export default {
    components: {
        ComponentWizard,
        ClientProspect,
        ClientDetails,
        ProjectDetails,
        ResourceType,
        CompletingUpdate,
        ResourcesSuggestion,
        BackButton
    },
    data() {
        const initialTitle = 'Select the client you wish to review or update.';

        return {
            title: initialTitle,
            backToMenuRoute: '/manage-clients',
            currentIndex: 0,
            skipButton: '',
            finishButton: 'Finish',
            initialStep: [
                {
                    title: initialTitle,
                    name: 'client-prospect',
                },
                {
                    title: 'Update Client Details',
                    name: 'client-details',
                },
                {
                    title: 'Set-up Client Projects',
                    name: 'project-details',
                },
                {
                    title: 'Choose the type of resource you like to build.',
                    name: 'resource-type',
                },
            ],
            lastStep: [
                {
                    title: 'Completing Client Set-up',
                    name: 'completing-update',
                },
            ],
            dynamicStep: [],
            wizardEventBus: new Vue(),
            clientId: 0,
            clientDetails: {
                client: {},
                contacts: [],
            },
            clientProjects: {},
            suggestedResource: [],
            profileAccess: [],
            selected_totals: {},
            tempResource: [],
        };
    },
    created() {
        this.wizardEventBus.$on('pass-data-client-prospect', data => {
            this.clientId = data;
        });

        this.wizardEventBus.$on('pass-data-client-details', ({client, contacts}) => {
            this.clientDetails = { client, contacts };
        });

        this.wizardEventBus.$on('pass-data-project-details', data => {
            this.clientProjects = data;
        });

        this.wizardEventBus.$on('pass-data-resource-type', data => {
            this.dynamicStep = _.map(data, type => ({
                title: `Choose the ${type.name} would you like to suggest.`,
                name: 'resources-suggestion',
                repeating: true,
                headerTitle: type.name,
                resourceType: type.value,
                clientId: this.clientId,
                selected: this.suggestedResource,
            }));
        });

        this.wizardEventBus.$on('pass-data-resources-suggestion', data => {
            this.selected_totals = {
                ...this.selected_totals,
                [data.type]: data.total,
            };
        });

        this.wizardEventBus.$on('pass-data-completing-update', data => {
            this.profileAccess = data;
        });

        this.wizardEventBus.$on('suggest-resource', data => {
            this.suggestedResource.push(data);
        });

        this.wizardEventBus.$on('unsuggest-resource', data => {
            const index = _.findIndex(this.suggestedResource, d => d.employee_id == data);
            this.suggestedResource.splice(index, 1);
        });

        this.wizardEventBus.$on('refresh-dynamic-steps', () => {
            this.dynamicStep = [];
        });

        this.wizardEventBus.$on('process-temp-resource', ({resource, checked}) => {
            if (checked) {
                const tempData = _.filter(this.tempResource, d => d.type == resource);
                const resourceData = _.filter(this.tempResource, d => d.type != resource);

                this.suggestedResource = [...this.suggestedResource, ...tempData];
                this.tempResource = resourceData
            } else {
                const tempData = _.filter(this.suggestedResource, d => d.type == resource);
                const resourceData = _.filter(this.suggestedResource, d => d.type != resource);

                this.tempResource = [...this.tempResource, ...tempData];
                this.suggestedResource = resourceData;
            }
        });
    },
    computed: {
        steps() {
            return [
                ...this.initialStep,
                ...this.dynamicStep,
                ...this.lastStep,
            ];
        },
        totalSuggested() {
            return this.suggestedResource.length;
        },
    },
    methods: {
        ...mapActions({
            saveWizardClientSetup: 'wizardClientProspects/saveWizardClientSetup',
			getAvailableEmployees: 'clientTeamBuilder/getEmployeeAvailables',
        }),
        onChange(prevIndex, nextIndex) {
          if(this.steps[nextIndex]) {
            this.currentIndex = nextIndex;
            this.title = this.steps[nextIndex].title;
            this.skipButton = '';

            if (nextIndex == 1) {
                this.skipButton = 'Skip';
            }
            if (nextIndex == 2) {
                this.skipButton = 'Later';
            }

            // this event is specific for dynamic steps only
            this.wizardEventBus.$emit(`step-change-${this.steps[nextIndex].resourceType}`);
          }
        },
        beforeChange() {
            let callback;
            const deferred = new Promise((resolve) => {callback = resolve});
            const evt = this.steps[this.currentIndex].name;
            this.wizardEventBus.$emit(evt, callback);
            return deferred.then(proceed => proceed);
        },
        skipStep() {
            if (this.currentIndex == 1) {
                this.$refs.client_wizard.changeTab(1, 2);
            } else if (this.currentIndex == 2) {
                /**
                 * Auto-fill client projects form here...
                 *
                 */
                this.wizardEventBus.$emit('populate-project-details');
                this.$refs.client_wizard.changeTab(2, 3);
            }
        },
        async onComplete() {
            if (this.finishButton == 'Finish') {
                const clientContacts = _.map(this.clientDetails.contacts, ({uuid, ...contact}) => contact);
                this.$set(this.clientDetails, 'contacts', clientContacts);
                const suggestedResource = _.map(this.suggestedResource, ({type, ...resource}) => resource);

                let request = {
                    client_details: this.clientDetails,
                    client_projects: this.clientProjects,
                    suggested_resource: suggestedResource,
                    profile_access: this.profileAccess,
                };

                await this.saveWizardClientSetup(request).then(() => {
                    this.finishButton = 'Done';

                    this.$router.push({
                        name: 'form-submitted',
                        params: { redirect: true },
                    });
                });
            } else if (this.finishButton == 'Done') {
                this.$refs.client_wizard.backToMenu();
            }
        },
    },
}
</script>
<style scoped>
    .back-btn-wrapper {
        margin: 80px 15px 0;
    }    
</style>
<style>
    .component-wizard {
        padding: 20px 15px 0 !important;
    }
</style>
