<template>
	<div>
		<div class="ks-nav-body">
			<div class="ks-nav-body-wrapper">
				<div class="container-fluid">
					<employee-carousel
						:rows="resources"
						:counter="totalSuggested"
						:headerTitle="headerTitle"
						:loading="loading"
                        @toggleStatus="toggleStatus"
					></employee-carousel>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import _ from 'lodash';

// components
import EmployeeCarousel from '@views/pages/wizard/employee-carousel';

// mixins
import DataTableMixin from '@common/mixin/DataTableMixin'
import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import AlertMixin from '@common/mixin/AlertMixin';
import BuilderHelperMixin from '@common/var/team-builder';
import WizardMixin from '@common/mixin/WizardMixin';

import { mapActions, mapGetters } from 'vuex';

export default {
    props: {
        headerTitle: {
            type: String,
            required: false,
        },
        resourceType: {
            type: String,
            required: false,
        },
        clientId: {
            type: Number,
            required: true,
            default: 0,
        },
        totalSuggested: {
            type: Number,
            required: false,
            default: 0,
        },
        selected: {
            type: Array,
            required: false,
            default: () => {
                return [];
            },
        },
    },
	components: {
		EmployeeCarousel,
	},
	mixins: [
		DataTableMixin,
		BuilderHelperMixin,
		WizardMixin,
	],
	data() {
		return {
            loading: false,
            wizardStepName: 'resources-suggestion',
            resources: [],
		};
	},
    created() {
        this.wizardEventBus.$on(`step-change-${this.resourceType}`, data => {
            this.getData();
        });
    },
	methods : {
		...mapActions({
			getAvailableEmployees: 'clientTeamBuilder/getEmployeeAvailables',
		}),
		async getData() {
			this.loading = true;

			const query = {
				clientTeam: [this.clientId],
				take: 99999,
				include: 'skills, photo, positions, clientTeambuilderBucket',
			};

            if (this.resourceType != 'developers') {
                switch (this.resourceType) {
                    case 'project-managers':
                        query.resourceTypes = '6';
                        break;
                    case 'testers':
                        query.resourceTypes = '40,43';
                        break;
                    case 'content':
                        query.resourceTypes = '33,34,35';
                        break;
                    case 'creative-services':
                        query.resourceTypes = '30,31,49,55';
                        break;
                }
            }

			await this.getAvailableEmployees(query).then((results) => {
                this.resources = _.map(results, data => ({
                    ...data,
                    status: _.includes(
                        _.map(this.selected, 'employee_id'),
                        data.id
                    ) ? 'suggested' : 'available',
                }));
			});

			this.loading = false
		},
		toggleStatus(resource) {
            const index = _.findIndex(this.resources, ['id', resource.id]);
            let data = this.resources[index];

            if (data.status == 'available') {
                data.status = 'suggested';

                let suggestedResource = {
                    client_id: this.clientId,
                    employee_id: resource.id,
                    job_position_id: resource.positions.data[0].position_id,
                    status: data.status,
                    is_suggested_admin: 1,
                    type: this.resourceType,
                };

                this.wizardEventBus.$emit('suggest-resource', suggestedResource);
            } else {
                data.status = 'available';
                const i = _.findIndex(this.selected, d => d == data.id);

                this.wizardEventBus.$emit('unsuggest-resource', resource.id);
            }

            this.passDataToWizard({
                type: this.resourceType,
                total: this.selected.length,
            });
		},
        wizardBeforeChange() {
			return true;
        },
	}
}
</script>

<style lang="scss" scoped>
	.ks-page-header-fixed .ks-page-content .ks-page-content-body {
		padding-top: 0!important;
		margin-top: 21px;
	}

</style>

<style lang="scss">
//Animation - Keyframes
	@mixin animation ($animationName, $animationTime) {
		-webkit-animation: #{$animationName} #{$animationTime};
		-moz-animation: #{$animationName} #{$animationTime};
		animation: #{$animationName} #{$animationTime};
	}

	@mixin keyframes ($animationName) {
		@-webkit-keyframes #{$animationName} {
			@content;
		}

		@-moz-keyframes #{$animationName} {
			@content;
		}

		@keyframes #{$animationName} {
			@content;
		}
	}

	@include keyframes(animateShow) {
		0% {
			visibility: hidden;
			opacity: 0;
			transform: translateY(150px);
			filter: blur(10px);
		}
		100% {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
			filter: blur(0);
		}
	}

	@include keyframes(animateHide) {
		0% {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			filter: blur(10px);
		}
		95% {
			visibility: hidden;
			opacity: 0;
			transform: translateX(25%);
			filter: blur(0);
		}
		100% {
			visibility: hidden;
			opacity: 0;
			transform: translateY(150px);
			filter: blur(0);
		}
	}


	@include keyframes(animateButtonShow) {
		0% {
			visibility: hidden;
			opacity: 0;
			transform: translateX(100%);
			filter: blur(10px);
		}
		100% {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			filter: blur(0);
		}
	}
	@include keyframes(animateButtonHide) {
		0% {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			filter: blur(10px);
		}
		95% {
			visibility: hidden;
			opacity: 0;
			transform: translateX(100%);
			filter: blur(0);
		}
		100% {
			visibility: hidden;
			opacity: 0;
			transform: translateX(-100%);
			filter: blur(0);
		}
	}
	.smart-team-builder-modal {
		.done {
			&.show {
				@include animation(animateButtonShow, 0.5s);
				animation-fill-mode: forwards;
			}
		}
		button[type="button"].btn.btn-danger {
			@include animation(animateButtonShow, 0.5s);
			animation-fill-mode: forwards;

			&[disabled]{
				@include animation(animateButtonHide, 0.5s);
				animation-fill-mode: forwards;
			}
		}
	}
	//Show/hide questions
	.question-wrapper {
		z-index: 1;
		> div {
			> .row {
				position: absolute;
				top: 0;
				width: 100%;
				opacity: 0;
				visibility: hidden;

      			@include animation(animateHide, 0.5s);
				animation-fill-mode: forwards;
			}

			.show {
      			@include animation(animateShow, 0.5s);
				animation-fill-mode: forwards;
			}
		}
	}
</style>
