 <template>
    <route-wizard
        :routes="routes"
        :resourceTypes="resourceTypes"
        ref="client_wizard"
        :currentRouteName="currentRouteName"
        :menuRoute="menuRoute"
        :beforeChange="beforeChange"
        :beforeChangeResource="beforeChangeResource"
        :skipButton="skipButton"
        :finishButton="finishButton"
        :showCompleteUpdate="showCompleteUpdate"
        @pageChange="pageChange"
        @skipStep="skipStep"
        @save="save">
    </route-wizard>
</template>


<script>
//Components
import RouteWizard from '@components/route-wizard';

// mixins
import AlertMixin from '@common/mixin/AlertMixin';

import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        const baseRoute = '/review-client-prospects2';
        return {
            currentRouteName: 'Select the client you wish to review or update.',
            menuRoute: '/manage-clients',
            startIndex: 0,
            skipButton: '',
            finishButton: 'Finish',
            countSelectedHolder: 0,
            routes: [
                {
                    route_name: 'Select the client you wish to review or update.',
                    route_uri: `${baseRoute}/client-prospect`,
                },
                {
                    route_name: 'Update Client Details',
                    route_uri: `${baseRoute}/client-details`,
                },
                {
                    route_name: 'Set-up Client Projects',
                    route_uri: `${baseRoute}/project-details`,
                },
                {
                    route_name: 'Choose the type of resource you like to build.',
                    route_uri: `${baseRoute}/type-of-resource`,
                },
            ],
            projectData: {
                id: 0,
                project_name: '',
                project_description: '',
                notes: '',
                project_url: '',
                project_requirement: '',
                start_date: '',
                status_id: 1,
                system_requirement: '',
                end_date: ''
            },
            resourceIndex: -1,
            showCompleteUpdate: false,
        };
    },
    computed: {
        ...mapGetters({
            currentStep: 'wizardClientProspects/current_step',
            step1Data: 'wizardClientProspects/step_1',
            data: 'wizardClientProspects/data',
            resourceTypes: 'clientTeamBuilder/resourceTypes',
            client:'clients/client',
            step3Data: 'wizardClientProspects/step_3',
            step2HasError: 'wizardClientProspects/step2HasError',
            step3HasError: 'wizardClientProspects/step3HasError',
            countSelected: 'clientTeamBuilder/countSelected',
            step2Data: 'wizardClientProspects/step_2',
            suggestedResource: 'clientTeamBuilder/suggestedResource',
            stepLastData: 'wizardClientProspects/step_last',
        }),
    },
    components: {
        RouteWizard,
    },
    async created() {
        this.initializeWizardData();
        this.setCurrentStep(-1);
        this.initializeCurrentRoute(this.$router.currentRoute.matched[1].path);
        this.initializeResourceTypes();
        this.initializeSuggestedResource();
    },
    mixins: [
        AlertMixin,
    ],
    methods: {
        ...mapActions({
            fetchClient: 'clients/getClient',
            setCurrentStep: 'wizardClientProspects/setCurrentStep',
            triggerStep2AddData: 'wizardClientProspects/triggerStep2AddData',
            triggerStep3AddData: 'wizardClientProspects/triggerStep3AddData',
            triggerStepLastAddData: 'wizardClientProspects/triggerStepLastAddData',
            triggerStep3Validation: 'wizardClientProspects/triggerStep3Validation',
            triggerStep2Validation: 'wizardClientProspects/triggerStep2Validation',
            setCurrentResourcePage: 'clientTeamBuilder/setCurrentResourcePage',
            initializeResourceTypes: 'clientTeamBuilder/initializeResourceTypes',
            addStep3Data: 'wizardClientProspects/addStep3Data',
            saveWizardClientSetup: 'wizardClientProspects/saveWizardClientSetup',
            initializeWizardData: 'wizardClientProspects/initializeWizardData',
            initializeSuggestedResource: 'clientTeamBuilder/initializeSuggestedResource',
            initializeCurrentRoute: 'clientTeamBuilder/initializeCurrentRoute',
        }),

        pageChange(prevIndex, nextIndex) {
            this.setCurrentStep(nextIndex);
            const lastStep = this.routes.length;

            if ((this.routes.length - 1) >= nextIndex) {
                this.currentRouteName = this.routes[nextIndex].route_name;
            }
            else {
                this.resourceIndex = nextIndex - this.routes.length;
                if((this.resourceTypes.length - 1) >= this.resourceIndex) {
                    this.setCurrentResourcePage(this.resourceTypes[this.resourceIndex].route_resource);
                    this.currentRouteName = this.resourceTypes[this.resourceIndex].route_name;
                }
                else {
                    this.currentRouteName = "Finishing Up...";
                }
            }

            this.showCompleteUpdate = (this.resourceIndex >= this.resourceTypes.length -1 );

            if (this.currentStep == 1) {
                this.skipButton = 'Skip';
            } else if (this.currentStep == 2) {
                this.skipButton = 'Later';
                this.triggerStep2AddData();
            } else if (this.currentStep == 3) {
                this.triggerStep3AddData();
                this.resourceIndex = -1;
                this.skipButton = '';
            } else {
                this.skipButton = '';
            }
        },
        beforeChange() {
            /**
             * Implement steps validation here.
             * Step is zero-based.
             */

            if (this.currentStep <= 0) {
                if (this.step1Data == 0) {
                    this.alertDialog('Oops!', 'Please select a client first.', 'OK', 'sm');
                    return false;
                }
                return true;
            }

            if (this.currentStep == 1) {
                return this.refs().validateClientDetails();
            }

            // IF IN SET UP CLIENT PROJECTS PAGE, VALIDATE IF PROJECT DETAILS IS NOT EMPTY
            if(this.currentStep == 2) {
                return this.refs().validateProjectDetails();
            }

            return true;
        },
        beforeChangeResource() {
            if (this.countSelectedHolder != this.suggestedResource.length && this.suggestedResource.length != 0) {
                this.countSelectedHolder = this.suggestedResource.length;
                return true;
            }
            else if (this.countSelected > 0) {
                return true;
            }
            else {
                return false;
            }
        },
        async validateStep2() {
            await this.triggerStep2Validation();
            return this.step2HasError;
        },
        async validateStep3() {
            await this.triggerStep3Validation();
            return this.step3HasError;
        },
        async populateClientProjects() {
            await this.fetchClient(this.step1Data);
            this.projectData.project_name = this.client.company
            this.addStep3Data(this.projectData);
        },
        refs() {
            return this.$refs.client_wizard.$refs.step_access;
        },
        skipStep() {
            if (this.currentStep == 1) {
                this.$refs.client_wizard.changeTab(1, 2);
            } else if (this.currentStep == 2) {
                /**
                 * Auto-fill client projects form here...
                 *
                 */
                this.populateClientProjects();
                this.$refs.client_wizard.changeTab(2, 3);
            }
        },
        async save() {
            if (this.finishButton == 'Finish') {
                this.triggerStepLastAddData();
                let request = {
                    client_details: this.step2Data,
                    client_projects: this.step3Data,
                    suggested_resource: this.suggestedResource,
                    profile_access: this.stepLastData,
                };
                await this.saveWizardClientSetup(request).then(() => {
                    this.$router.push('/review-client-prospects/form-submitted');
                    this.finishButton = 'Done';
                });
            } else if (this.finishButton == 'Done') {
                this.$refs.client_wizard.backToMenu();
                // this.$router.push('/review-client-prospects/form-submitted');
            }
        },
    },

}
</script>
