<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
			<div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
						<div class="back-btn-wrapper mb-4">
							<back-button :text="'Go to Main'" :route="'index'"></back-button>
						</div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 notes-container">
								<div class="fs-accordion" :class="accordionClasses">
									<div class="card panel panel-default ks-information ks-light">
										<div class="card-header" @click.stop="toggleAccordion">
											<h5 class="ks-text">Notes and Instructions</h5>
										</div>
										<div class="card-block fs-accordion-content">
											<div class="row details-container">
												<div class="col-sm-6 col-md-6">
													<span style="color:#5f0a0a;"><i>GROUP ID</i></span> - 0 is for <b>SUPERADMIN/ADMIN</b>, 3 is for <b>CLIENT</b>, 4 is for <b>EMPLOYEE</b>, and others are for subgroups<br/>
													<span style="color:#f4a98f;"><i>ICON</i></span> - is the <b>ICON</b> and <b>ICON'S COLOR</b> of the tile<br/>
													<span style="color:#a07855;"><i>ROUTE NAME</i></span> - is the <b>TEXT</b> that is displayed in the tile<br/>
												</div>
												<div class="col-sm-6 col-md-6">
													<span style="color:#229a9b;"><i>ROUTE URI</i></span> - is the <b>ENDPOINT</b> to be accessed when the tile is clicked (must be in <b>ROUTES.JS</b>)<br/>
													<span style="color:#8d1673;"><i>SEQUENCE ORDER</i></span> - is the <b>ORDER</b> of the tile to be placed within the group ID<br/>
													<span style="color:#6f0000;"><i>GO TO GROUP ID</i></span> - if the Route Uri goes to <b>ACTION-ITEMS.VUE (IN ROUTES.JS)</b>, then it would display a <b>SUBGROUP</b> of tiles based on this value<br/>
												</div>
												<hr/>
												<div class="col-sm-12 col-md-12 mt-3">
													<b>INSTRUCTIONS:</b><br/>
													- Route Name should be in two words to prevent script error<br/>
													- Route Uri should point to action-items.vue component if you wish to have a subgroup/subpage of tile<br/>
												</div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
								<Can I="add" a="route_wizards_page">
									<div class="dataTable_buttons">
										<button type="button" @click="openTilesModal({key: 'create-update-tiles', name: 'Add New Tile'})" tag="button" class="btn btn-primary">Add New Tile</button>
									</div>
								</Can>
                            </div>
                        </div>
                        <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
							:searchOptions="[]"
                            :searchPlaceholder="'Enter Text'"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @search="search($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)">
                            <!-- BEGIN ROUTE WIZARDS DATA -->
                            <tbody v-if="RouteWizards.length">
                                <tr :class="index % 2 == 0 ? 'even' : 'odd'" v-for="(route, index) in RouteWizards" :key="index">
                                    <td align="center">{{ route.group_id }}</td>
                                    <td>{{ route.icon }}</td>
									<td>{{ route.route_name }}</td>
                                    <td>{{ route.route_uri }}</td>
									<td>{{ route.caption }}</td>
                                    <td align="center">{{ route.sequence_order }}</td>
                                    <td align="center">{{ route.goto_group_id }}</td>
                                    <td align="center">
										<Can I="update" a="route_wizards_page">
											<a href="#" title="Edit Route Wizard" class="action-button" @click="showEditDialogoue({key: 'create-update-tiles', name:'Update Tile', route: route})">
												<i class="la la-pencil"></i>
											</a>
										</Can>
										<Can I="delete" a="route_wizards_page">
											<a href="#" class="action-button" title="Delete Route Wizard" @click="showDeleteConfirmation(route.id, route.route_name)">
												<i class="la la-trash"></i>
											</a>
										</Can>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- END ROUTE WIZARDS DATA -->
                        </data-table>
                    </div>
                </div>
            </div>
            <!-- BEGIN WORK DETAIL DIALOG -->
	        <create-tiles-modal v-if="form.key == 'create-update-tiles' && open" :openModal="open" @success="reload" @close="open = false" :info="form"></create-tiles-modal>
	        <!-- END WORK DETAIL DIALOG -->
		</page-content>
	</div>
</template>
<style scoped>
	.action-button {
	    font-size: 20px;
	}
	.sort {
		vertical-align: bottom !important;
	}
	.notes-container {
		margin-bottom: 10px;
	}
	.details-container span {
		font-weight: 900;
	}
	.fs-accordion {
		padding-top: 0px !important; 
	}
</style>

<script>
	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
	import DataTable from '@components/datatable.vue';
	import CreateTilesModal from '@views/pages/wizard/_modals/create-tiles.vue';
	import BackButton from '@components/back-button.vue';

	// mixins
	import DataTableMixin from '@common/mixin/DataTableMixin';
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
	import AccordionMixin from '@common/mixin/AccordionMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		data() {
        	let sortOrder = {};
			let sortKey = 'group_id';

	        let columns = [
	            { label: 'Group ID', key: 'group_id', sortKey: 'group_id', width: '5%', sortable: true },
	            { label: 'Icon', key: 'icon', sortKey: 'icon', width: '17%', sortable: false },
                { label: 'Route Name', key: 'route_name', sortKey: 'route_name', width: '20%', sortable: false },
				{ label: 'Route Uri', key: 'route_uri', sortKey: 'route_uri', width: '24%', sortable: false },
				{ label: 'Caption', key: 'caption', sortKey: 'caption', width: '21%', sortable: false },
                { label: 'Sequence Order', key: 'sequence_order', sortKey: 'sequence_order', width: '3%', sortable: false },
                { label: 'Go To Group ID', key: 'goto_group_id', sortKey: 'goto_group_id', width: '3%', sortable: false },
	            { label: 'Action', key: 'action', sortKey: '', width: '6%', sortable: false },
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
				title:'Route Wizard Tile Management',
				pageClass: 'ks-content-nav',
				sortKey: sortKey,
				sortOrder: sortOrder,
            	open: false,
				data: {
					columns:columns,
					rows: []
				},
				form: {
	                key: '',
	                name: '',
	                route:{}
	            }
			}
		},
		async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
            await this.getData();
			this.setPagination(this.meta.pagination);
		},
		computed: {
			...mapGetters({
                RouteWizards: 'routeWizards/data',
                meta: 'routeWizards/meta'
			})
		},
		methods : {
			...mapActions({
                getRouteWizards: 'routeWizards/getRouteWizards',
                deleteRouteWizardDB: 'routeWizards/deleteRouteWizardDB',
            }),
			openTilesModal(formOptions) {
				this.form = formOptions
				this.open = true
			},
		    showEditDialogoue(options) {
		    	this.openTilesModal(options);
		    },
            async getData(){
                await this.getRouteWizards({query: this.getParams()});
            },
			async paginate(page) {
	            this.gotoPage(page);
                await this.getData();
	            this.setPagination(this.meta.pagination);
	        },
	        async search(term) {
	            this.setSearch(term);
                await this.getData();
	            this.setPagination(this.meta.pagination);
	        },
	        async sortList(key) {
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
                await this.getData();
	            this.setPagination(this.meta.pagination);
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
                await this.getData();
	            this.setPagination(this.meta.pagination);
	        },
		    async reload() {
                await this.getData();
		    	this.setPagination(this.meta.pagination);
				this.open = false;
							
		    },
		    showDeleteConfirmation(routeId, routeName) {
                const title = 'Are you sure you want to delete this record?';
				const msg = `${routeName}`;
				
                this.confirmDialog(title, msg, 'Yes', 'No', 'sm')
                    .then(({ok}) => {
                        if (ok) {
                            this.deleteRouteWizardDB(routeId).then(() => {
                                this.reload();
                            });	
                            this.notifyDialog('error', 'Successfully deleted!');
                        }
                    });
		    }
		},
		components: {
			DataTable,
			PageHeader,
			PageContent,
			CreateTilesModal,
			BackButton
		},
		mixins: [
			ModalDialogMixin,
			DataTableMixin,
			AlertMixin,
			AccordionMixin
		]
	}
</script>
