<template>
    <div class="card ks-card-widget ks-widget-table">
        <h5 class="card-header">
            {{ title }}
            <div class="links">
                <a v-for="(link, index) in links" 
                    :key="index" 
                    :title="link.title"
                    :href="link.href"
                    target="_blank" rel="noopener">
                    <img :src="link.image_src" 
                        :alt="link.title" 
                        width="27" height="27">
                </a>
            </div>
        </h5>
        <hr>
        <div v-if="isFetching" class="loader"></div>
        <div v-else class="card-block">
            <template v-if="feeds.length">
                <div v-for="(feed, index) in feeds" :key="index" class="rss-feed" 
                    :class="{'no-border-bottom' : index == feeds.length - 1}">
                    <h5 class="flex-header">
                        <a target="_blank" :href="feed.link">{{ feed.title }}</a>
                        <span>{{ feed.published_date }}</span>
                    </h5>
                    <div v-html="feed.description"></div>
                </div>
            </template>
            <template v-else>
                <p class="no-posts">-- No posts to display --</p>
            </template>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .rss-feed {
        border-bottom: 1px solid #dee0e1;
        margin-bottom: 13px;
    }
    .no-border-bottom {
        border-bottom: none;
    }
    .no-posts {
        text-align: center;
        margin-bottom: 0;
    }
    .flex-header {
        display: flex;
        justify-content: space-between;

        span {
            font-weight: 400;
            font-size: 12px;
        }
    }
    .links {
        a {
            padding: 1px;
        }
    }
</style>

<script>
import Client from '@common/Client.js';
import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            title : 'Full Scale Latest News',
            feeds: [],
            isFetching: false,
            links: [
                {
                    title: 'Facebook Full Scale',
                    href: 'https://www.facebook.com/fullscalellc/',
                    image_src: '/images/fs-facebook.png',
                },
                {
                    title: 'Linkedin Full Scale',
                    href: 'https://www.linkedin.com/company/fullscale-io/',
                    image_src: '/images/fs-linkedin.png',
                },
                {
                    title: 'Startup Hustle Full Scale',
                    href: 'https://startuphustle.xyz',
                    image_src: '/images/fs-startup-hustle.png',
                },
            ],
        };
    },
    created() {
        if (this.rss_feeds.length == 0) {
            this.fetchRss();
        } else {
            this.feeds = this.rss_feeds;
        }
    },
    computed: {
        ...mapGetters({
            rss_feeds: 'clients/rss_feeds',
        }),
    },
    methods: {
        ...mapActions({
            getRssFeeds: 'clients/getRssFeeds',
        }),
        async fetchRss() {
            this.isFetching = true;
            await this.getRssFeeds();
            this.isFetching = false;
            this.feeds = this.rss_feeds;
        },
    },
}
</script>

