<template>
    <div>
        <div class="wizard-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom-control custom-checkbox input-response" v-for="(resource, index) in resources" :key="index">
                        <input type="checkbox" class="custom-control-input"
                            :id="resource.value"
                            :value="resource"
                            v-model="selectedResource"
                            @change="inputChange(resource.value, $event)"/>
                        <label class="custom-control-label":for="resource.value">
                            <h5>{{resource.name}} </h5>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import _ from 'lodash';
import { mapGetters, mapActions } from 'vuex';
import WizardMixin from '@common/mixin/WizardMixin';

export default {
    mixins: [
        WizardMixin,
    ],
    data() {
        return {
            clientId: 0,
            selectedResource: [],
            wizardStepName: 'resource-type',
            resources: [
                {
                    name: 'Developers',
                    value: 'developers',
                },
                {
                    name: 'Project Managers',
                    value: 'project-managers',
                },
                {
                    name: 'Testers',
                    value: 'testers',
                },
                {
                    name: 'Content',
                    value: 'content',
                },
                {
                    name: 'Creative Services',
                    value: 'creative-services',
                },
            ],
        };
    },
    created() {
        this.wizardEventBus.$on('pass-data-client-prospect', async data => {
            this.selectedResource = [];
            const query = {
                formLabel: 'service_need',
                clientId: data,
                take: 999,
            };

            await this.getResponses({query});

            let arr = [];
            _.forEach(this.resourceTypes, ({value}) => {
                if (_.includes(['Programming', 'Maintenance', 'Mobile App Development'], value)) {
                    arr.push({name: 'Developers', value: 'developers'});
                } else if (_.includes(['QA Testing', 'Automation'], value)) {
                    arr.push({name: 'Testers', value: 'testers'});
                } else if (_.includes(['Creative Stuff'], value)) {
                    arr.push({name: 'Creative Services', value: 'creative-services'});
                } else {
                    arr.push({name: 'Project Managers', value: 'project-managers'});
                }
            });
            arr = _.uniqBy(arr, 'value');
            this.selectedResource = arr;
        });
    },
    computed: {
        ...mapGetters({
            resourceTypes: 'allQuestionResponses/resourceTypes',
        })
    },
    methods: {
        ...mapActions({
            getResponses: 'allQuestionResponses/getAllQuestionResponses',
        }),
        wizardBeforeChange() {
            if (this.selectedResource.length) {
                this.passDataToWizard(this.selectedResource);
                return true;
            }

            return false;
        },
        pushFound(name, value) {
            if (_.indexOf(this.selectedResource, d => d.value == value) == -1) {
                this.selectedResource.push({name, value});
            }
        },
        inputChange(resource, event) {
            const checked = event.target.checked;
            this.wizardEventBus.$emit('process-temp-resource', {resource, checked});
        },
    },
    watch: {
        selectedResource(value) {
            this.wizardEventBus.$emit('refresh-dynamic-steps');
        },
    },
}
</script>

<style lang="scss" scoped>
    .wizard-content {
        width: 100%;
        padding: 0 20px;

        h5 {
            display: inline-block;
            vertical-align: middle;
        margin: 0;
        }

        .custom-control-label {
            cursor: pointer;
        }
        div > label.custom-control-label::after {
            left: -23px !important;
        }
    }
</style>
