<template>
	<div>
	<!-- BEGIN PAGE HEADER -->
	<page-header v-bind:title="title">
		<fs-drawer-button
			v-show="currentUser.data.clients && currentUser.data.activeClientId"
			:title="'Upcoming holidays'"
			:iconClass="'text-success la la-calendar ks-icon'"
		></fs-drawer-button>
		<fs-drawer-content v-if="currentUser.data.clients && currentUser.data.activeClientId">
			<div v-if="currentUser.data.clients && currentUser.data.activeClientId" class="col-lg-12 col-md-12 col-sm-12">
				<employee-holidays></employee-holidays>
			</div>
		</fs-drawer-content>
	</page-header>
	<!-- END PAGE HEADER -->
	<page-content :pageClass="pageClass">
		<div class="wizard">
			<div class="row">
				<div class="col-lg-12">
				<div v-if="showDropdownClient">
					<label>Select Company</label>
					<select2
						:options="currentUser.data.clients"
						:value="currentUser.data.clients[0].id"
						class="form-control"
						@select="selectCompany($event)"
					>
					</select2>
				</div>
				</div>
			</div>
			<div class="row">
				<div 
					:class="{'col-lg-9 col-md-12 col-sm-12': (currentUser.data.clients && currentUser.data.activeClientId),  'col-lg-12 col-md-12 col-sm-12': !(currentUser.data.clients && currentUser.data.activeClientId)}"
					class="col-lg-8 col-md-12 col-sm-12"
				>
					<div v-if="employeeResources">
						<div class="row wizard-nav">
							<div class="menu-item-wrapper col-sm-12 col-md-6 col-lg-4" v-for="(group, i) in MainGroup" :key="i">
								<tool-tip v-if="group.route_name=='Employee Resources'" data-placement="bottom" :title="group.caption" class="menu-item" :style="{maxHeight: '103px'}">
								<Can I="view" a="employee_resource_page" v-if="employeeResources">
									<a v-on:click="onPush(group)">
										<span class="icon-wrapper">
											<span class="ks-icon" :class="group.icon ? group.icon : 'ks-icon-combo-chart'"></span>
										</span>
										<span class="title-wrapper">
											<span class="link-text" :style="{'position': group.route_name=='View Reports'?'relative':'', 'top': group.route_name=='View Reports'?'-23px':''}">{{group.route_name}}</span>

											<span v-if="group.route_name=='View Reports'" class="shortcut-link">
												<span class="reports" @click="viewDailyTracker">Daily Tracker</span><br />
												<span class="reports" @click="viewWeeklyReports">Weekly Reports</span><br />
												<span class="reports" @click="viewResourceReports">Resource Reports</span>
											</span>
										</span>
									</a>
								</Can>
								</tool-tip>
								<tool-tip v-else data-placement="bottom" :title="group.caption" class="menu-item" :style="{maxHeight: '103px'}">
									<a v-on:click="onPush(group)">
										<span class="ks-icon" :class="group.icon ? group.icon : 'ks-icon-combo-chart'"></span>
										<span class="link-text" :style="{'position': group.route_name=='View Reports'?'relative':'', 'top': group.route_name=='View Reports'?'-23px':''}">{{group.route_name}}</span>
									</a>
									<span v-if="group.route_name=='View Reports'" style="position: relative; top: -63px; left: 109px">
										<span class="reports" @click="viewDailyTracker">Daily Tracker</span><br />
										<span class="reports" @click="viewWeeklyReports">Weekly Reports</span><br />
										<span class="reports" @click="viewResourceReports">Resource Reports</span>
									</span>
								</tool-tip>
							</div>
						</div>
					</div>
					<div v-else class="text-center" style="position: relative; top: 315px;">
						<img src="/assets/img/loaders/svg-loaders/three-dots.svg" alt="Loader" />
					</div>
				</div>
			</div>
			<br />
			<template v-if="currentUser.data.clients && currentUser.data.activeClientId">
				<client-carousel-landing-page :clientId="currentUser.data.activeClientId"></client-carousel-landing-page>
				<div style="margin-top:30px">
				<h3>Resources Hours Summary</h3>
				<monthly-summary
					:showHeader="false"
					:classContainer="''"
					:showBackButton="false">
				</monthly-summary>
				</div>
			</template>
		</div>
	</page-content>

	</div>
</template>

<style lang="scss" scoped>
//activity stream
#activity-stream {
  margin-top: 20px;
}

.reports {
  font-size: 10px;
}

.reports:nth-of-type(2), .reports:nth-of-type(3){
  position: relative;
}

.reports:nth-of-type(2) {
  top: -3px;
}

.reports:nth-of-type(3){
  top: -6px
}

.reports:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 414px) {
  .wizard {
    .row + .row {
      margin-left: 0;
    }
  }
}
</style>

<style>
.carousel-outer-container {
    overflow: auto!important;
}
.loader {
    z-index: 1!important;
}

@media (max-width: 335px) {
    .fs-tags-input > input {
        width: 100%;
    }
    .dataTables_length .filter {
        margin-top: 0!important;
    }
}
</style>

<script type="text/javascript">
import Loader from '@components/loader.vue';
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import Select2 from '@components/select2.vue';
import LatestNews from '@views/pages/wizard/rss-feed';
import ClientCarouselLandingPage from '@components/client-carousel-landing-page.vue';
import EmployeeReport from '@views/pages/worklogs/employee-report';
import EmployeeHolidays from '@components/employee-holidays';
import MonthlySummary from '@views/pages/timesheets/monthly-summary';

import {RouteWizard} from '@common/model/RouteWizard';
import {mapGetters, mapActions} from 'vuex';
import $ from 'jquery';
import ToolTip from '@components/fs-tooltip.vue';
import FsDrawerButton from '@components/fs-drawer-button.vue';
import FsDrawerContent from '@components/fs-drawer-content.vue';

export default {
  components: {
    PageHeader,
    PageContent,
    Select2,
    ToolTip,
    LatestNews,
    Loader,
    ClientCarouselLandingPage,
    EmployeeReport,
    EmployeeHolidays,
    FsDrawerButton,
    FsDrawerContent,
    MonthlySummary,
  },
  data() {
    return {
      title: '',
      pageClass: 'ks-content-nav',
      RouteWizardsArray: [],
      MainGroup: [],
      temp: [],
      routeAction: '',
      showDropdownClient: false,
      employeeResources: false,
      currentClientId: 0,
      drawer: [
        { key: 'hey', content: 'Hey' },
        { key: 'wuzz', content: 'Wuzz Up' }
      ]
    };
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/data',
      RouteWizards: 'routeWizards/data',
    }),

    showEmployeResource() {
      return this.employeeResources;
    },
  },
  async created() {
    await this.getRouteWizards({query: {take: 9999, orderBy: 'sequence_order'}});
    await this.loadRouteWizardsOptions();
    this.employeeResources = true;
  },
  methods: {
    ...mapActions({
      getRouteWizards: 'routeWizards/getRouteWizards',
      saveRouteWizard: 'routeWizards/saveRouteWizard',
      setAuthData: 'auth/setAuthData',
    }),
    async loadRouteWizardsOptions() {
      await this.RouteWizards.forEach(obj => {
        this.RouteWizardsArray.push({
          group_id: obj.group_id,
          goto_group_id: obj.goto_group_id,
          icon: obj.icon,
          route_name: obj.route_name,
          route_uri: obj.route_uri,
          caption: obj.caption,
          sequence_order: obj.sequence_order,
        });
      });

      let {user_name, clients, activeClientId, email} = this.currentUser.data;
      user_name = user_name || email;

      this.title = 'Hi ' + user_name + ', what would you like to do today?';
      if (clients) {
        //Client's
        this.title = 'Hi, what would you like to do today?';
        this.currentUser.data.activeClientId = clients[0].id;
        this.currentClientId = clients[0].id;
        this.setAuthData(this.currentUser);
        this.MainGroup = this.routeGroup(3);

         this.MainGroup = this.MainGroup.forEach((item, index) => {
            if(item.route_name !== 'Smart Team Builder'){
                this.temp.push(item);
            }
        });

        if (clients.length > 1) {
          this.showDropdownClient = true;
        }

        this.MainGroup = this.temp;
      } else {
        // Admin
        this.MainGroup = this.routeGroup(0);
      }
    },

    routeGroup(item) {
      let items = item ? item : 0;
      let group = this.groupBy(this.RouteWizardsArray, group => group.group_id);
      return group.get(items);
    },

    groupBy(list, keyGetter) {
      const map = new Map();
      list.forEach(item => {
        const key = keyGetter(item);
        const collection = map.get(key);
        if (!collection) {
          map.set(key, [item]);
        } else {
          collection.push(item);
        }
      });
      return map;
    },
    selectCompany(companyId) {
      this.currentClientId = parseInt(companyId);
      this.currentUser.data.activeClientId = parseInt(companyId);
      this.setAuthData(this.currentUser);
    },

    onPush: function(group) {
      let tempAction = group.route_name.split(' ');
      let action = '';
      if (tempAction.length > 1) {
        action = tempAction[1];
      } else {
        action = tempAction[0];
      }
      this.routeAction = action.toString().toLowerCase();
      this.$router.push({
        name: isNaN(group.goto_group_id) ? 'manage-clients' : group.route_uri,
        params: {
          RouteGroup: group.goto_group_id,
          RouteWizards: this.RouteWizardsArray,
          RouteAction: this.routeAction,
        },
      });

      this.saveRouteWizard({
        RouteGroup: group.goto_group_id,
        RouteWizards: this.RouteWizardsArray,
        RouteAction: this.routeAction,
      });
    },
    goToEmployeeResources: function() {
      this.$router.push('/employee-resources');
    },
     viewDailyTracker(){
        this.$router.push('worklogs/daily');
    },
    viewWeeklyReports(){
        this.$router.push('worklogs/weekly');
    },
    viewResourceReports(){
        this.$router.push('worklogs/monthly');
    }
  },
};
</script>
