<template>
    <modal-dialog v-show="openModal" :options="modalOption" :title="title" :closeButtonText="closeButtonText" @close="closeModal">
        <template slot="button">
            <save-button :loading="buttonLoading" :options="button" @action="saveTimezone" :disabled="!timezoneData.zone_id">Set</save-button>
        </template>
        <template slot="body">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Please set your timezone</label>
                            </div>
                            <div class="col-md-12">
                                <select2
                                    v-if="formattedTimezones.length"
                                    name="timezone"
                                    :options="formattedTimezones"
                                    :value="timezoneData.zone_id"
                                    :hideSearchBox="false"
                                    @select="selectTimezone">
                                </select2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<script type="javascript">
// libraries
import _ from 'lodash';
import { mapActions, mapGetters } from 'vuex';

// mixins
import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import AlertMixin from '@common/mixin/AlertMixin';

// components
import SaveButton from '@components/form/button.vue';
import ModalDialog from '@components/modal-dialog.vue';
import Select2 from '@components/select2.vue';

export default {
    components: {
        ModalDialog,
        SaveButton,
        Select2,
    },
    mixins: [
        ModalDialogMixin,
        AlertMixin,
    ],
    data() {
        return {
            title: 'Set Timezone',
            modalOption: {
                width: '600px',
                height: '230px',
            },
            buttonLoading: false,
            button: {
                class: 'btn btn-primary',
                type: 'button',
            },
            closeButtonText: 'Later',
            formattedTimezones: [],
            timezoneData: {
                id: 0,
                user_id: 0,
                zone_id: 0,
            },
        };
    },
    computed: {
        ...mapGetters({
            currentUser: 'auth/data',
            timezones: 'timezones/formatted',
            userTimezone: 'userTimezones/data',
        }),
    },
    methods: {
        ...mapActions({
            getTimezones: 'timezones/getTimezones',
            getUserTimezone: 'userTimezones/index',
            setUserTimezone: 'userTimezones/save',
        }),
        async fetchTimezones() {
            const query = { take: 9999, orderBy: 'country_code|desc' };
            await this.getTimezones({query});
            this.formatTimezones();
        },
        async fetchUserTimezone() {
            const user_id = this.currentUser.data.id;
            const query = { take: 1, user_id };
            await this.getUserTimezone({query});
            this.timezoneData = _.assignIn(this.timezoneData, _.head(this.userTimezone));
            this.timezoneData.user_id = user_id;
        },
        selectTimezone(id) {
            const timezone = _.find(this.formattedTimezones, ['id', parseInt(id)]);
            this.timezoneData.zone_id = id;
        },
        formatTimezones() {
            let currentTimezones = this.timezones;
            let newTimezones = [];
            let tempTz = [];
            currentTimezones.forEach((tz) => {
                if (tz.country_code == 'US' || tz.country_code == 'CA') {
                    if (!tempTz.includes(tz.name)) {
                        if (tz.name != tz.text) {
                            newTimezones.push(tz);
                            tempTz.push(tz.name);
                        }
                    }
                }
            });

            currentTimezones.forEach((tz) => {
                if (tz.country_code != 'US' && tz.country_code != 'CA') {
                    if (!tempTz.includes(tz.name)) {
                        if (tz.name != tz.text) {
                            newTimezones.push(tz);
                            tempTz.push(tz.name);
                        }
                    }
                }
            });
            this.formattedTimezones = newTimezones;
        },
        async saveTimezone() {
            this.buttonLoading = true;
            await this.setUserTimezone(this.timezoneData).then(res => {
                this.buttonLoading = false;
                this.closeModal();
                this.notifyDialog();
            }).catch(e => {
                this.buttonLoading = false;
                this.notifyDialog('error', 'Error', 'Unable to save data.');
            });
        },
    },
    watch: {
        async openModal(isOpen) {
            if (isOpen) {
                this.buttonLoading = true;
                await this.fetchTimezones();
                await this.fetchUserTimezone();
                this.buttonLoading = false;
            }
        },
    }
}
</script>

<style style="scss" scoped>
.modal-backdrop {
    z-index: 400;
}
.modal-body {
    height: 390px!important;
}
</style>

<style>
.fs-search-input-wrapper {
    height: 0!important;
}
</style>
