<template>
    <modal-dialog v-show="openModal" :options="option" :title="modal_title" @close="closeModal">
        <template slot="body">
            <div class="showStatusBody">
                <div class="row">
                    <table class="table table-striped table-bordered dataTable" width="100%" role="grid" aria-described-by="ks-datatable-info">
                        <thead>
                            <tr role="role">
                                <th>Label</th>
                                <th>Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr :class="index % 2 == 0 ? 'even' : 'odd'"
                                style="cursor: pointer"
                                v-for="(details, index) in formResponseDetails.data"
                                :key="details.id">

                                <td>{{ details.label }}</td>
                                <td><span v-html="details.value"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<script type="text/javascript">
    //Components
    import ModalDialog from '@components/modal-dialog.vue';

    //Mixins
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';

    export default {
        props: {
            formResponseDetails: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                option: {
                    height: 'auto',
                    width: '800px',
                    bottom: 'auto'
                },
                modal_title: 'Feedback Response Details: '
            }
        },
        computed: {
        },
        async created (){

        },
        methods: {
        },
        components: {
            ModalDialog
        },
        mixins: [
            ModalDialogMixin
        ]
    }
</script>
