<template>
	<div>
	 <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            :showSearch="true"
                            @search="search($event)"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)">
                            <!-- BEGIN USER REPORT DATA -->
                            <tbody v-if="employees.length">
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(employee, index) in employees"
                                    :key="employee.id">
                                    <td>
                                        {{ employee.employee_no }}
                                    </td>
                                    <td>
                                        {{ employee.name }}
                                    </td>
                                    <td>{{ position(employee.positions ? employee.positions.data : "") }}</td>
                                    <td>{{ employee.department && employee.department.data ? employee.department.data.name : "Unassigned" }}</td>
                                    <td>
                                        <router-link
                                        :to="{name: 'employee-daily-reports', params: {id: employee.id}}"
                                        class="user-report"
                                        >View Reports
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- END USER REPORT DATA -->
                        </data-table>
    </div>
</template>
<style lang="scss" scoped>
.user-report {
  &:hover {
    text-decoration: underline;
  }
}
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

</style>

<script>
	// components

    // mixins
    import DataTableMixin from '@common/mixin/DataTableMixin';
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
	import DateMixin from '@common/mixin/DateMixin';
    import EmployeeMixin from "@common/mixin/EmployeeMixin";
    
    import { mapActions, mapGetters } from 'vuex';

    export default {
		data() {
			let sortOrder = {};
			let sortKey = 'employee_no';
	        let columns = [
                { label: 'ID', key: 'employee_no', sortKey: 'employee_no', width: '10%', sortable: true },
	            { label: 'Name', key: 'name', sortKey: 'last_name', width: '30%', sortable: true },
                { label: 'Position', key: 'position', sortKey: 'job_positions.job_title', width: '25%', sortable: true },
                { label: 'Department', key: 'departments.name', sortKey: 'departments.name', width: '20%', sortable: true },
                { label: 'Action', key: 'action', sortKey: 'action', width: '15%', sortable: false }
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc';
	        });
			return {
                isTyping: false,
                timeOut: null,
                term: "",
				title:'Employee Daily Report',
				pageClass: 'ks-content-nav',
            	open: false,
            	sortKey:sortKey,
            	sortOrder:sortOrder,
				data: {
					columns:columns,
					rows: []
				},
				form: {
	                key: '',
	                name: ''
                },
                include: ["positions", "department"],
                calendarPlugins: [ dayGridPlugin,timeGridPlugin,interactionPlugin ],                
                eventLimit: true,
                views: {
                    timeGrid: {
                    eventLimit: 6 // adjust to 6 only for timeGridWeek/timeGridDay
                    }
                },
				events: []
			}
		},
		async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
            this.setPagination(this.meta.pagination);
            this.getData();
		},
		computed: {
			...mapGetters({
                meta: "employees/meta",
                employees: "employees/data",
                employeeReports:'employeeReports/data',
			})
		},
		methods : {
			...mapActions({
                getEmployees: "employees/getEmployees",
                getEmployeeReports:'employeeReports/getEmployeeReports'

            }),
            async getEmployeeReportData(employee_id){
                await this.getEmployeeReports({ query:{employee_id:employee_id}});
            },
            showEmployeeReports(formOptions) {
				this.form = formOptions;
				this.open = true;
			},
			showComposeModal(formOptions) {
				this.form = formOptions;
				this.open = true;
			},
			closeModalDialogue() {
				this.open = false;
            },
            async getData() {
                let data = [];
                await this.getEmployees({
                    query: _.merge(this.getParams(), { include: this.include.join(",") })
                });

                await this.getEmployeeReports({ 
                    query: _.merge(this.getParams(), {all_employees:true,take:9999999})
                });
                
                this.setPagination(this.meta.pagination);
            },
			async paginate(page) {
	            this.gotoPage(page);
				this.getData();
	        },
	        async sortList(key) {
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
				this.getData();
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
				this.getData();
	        },
		    async reload() {
				this.getData();
		    	this.open = false;
            },
            async doSearch() {
                this.setSearch(this.term);
                this.setSearchBy(this.searchSpecific);
                this.getData();
            },
			async search(term) {
                this.term = term;
                this.gotoPage();
                if (this.timeOut != null) {
                    this.isTyping = false;
                    clearTimeout(this.timeOut);
                    this.timeOut = null;
                }
                if (!this.isTyping) this.timeOut = setTimeout(this.doSearch, 300);
            }
		},
		components: {
			DataTable
		},
		mixins: [
            DataTableMixin,
            EmployeeMixin
		]
	}
</script>