<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="back-btn-wrapper mt-2 mb-5">
                            <back-button :text="'Go to Main'" :route="'index'"></back-button>
                        </div>          
      
                        <div class="row">
                            <div class="col-md-3">
                                   <button type="button" class="btn btn-primary export-btn" 
                            @click="showExportModal({key: 'export-daily-report-summary', name: 'Export Daily Report Summary'})">Export</button>
                            </div>
                        </div>               
                        <div class="row">
                            <div class="col-md-6">
                                    <FullCalendar 
										defaultView="dayGridMonth" 
										:plugins="calendarPlugins"
										:events="events"
										  @eventRender="eventRender"
										  @eventClick="eventClick"
                                          @datesRender="datesRender"
                                          @loading="showLazyLoading"                                          
										/>
                            </div>
                            <div id="report-table-container" class="col-md-6">
                                
                            <div class="row">
                                    <div class="col-md-12">
                                        <field-component v-for="element in formElements" :key="element.id" :data="element" 
                            @update="ChangeFilterSelect"></field-component> 
                                    </div>                                    
                                    <!-- <button class="btn btn-primary" @click="reloadCurrentMonth()"><i class="fas fa-redo"></i>Reload</button> -->
                            </div>                                                        
                             <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            :showSearch="false"                             
                            :tableLoading="loading"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)">
                     
                            <!-- BEGIN USER REPORT DATA -->
                            <tbody v-if="employeeReports.length">
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(employeeReport, index) in employeeReports"
                                    :key="employeeReport.id">
                                    <td>{{ employeeReport.clientProject.project_name }}</td>
                                    <td>{{ employeeReport.subject }}</td>
                                    <td>{{ formatDate(employeeReport.report_date, 'MMM DD, YYYY') }}</td>
									<td>{{ employeeReport.sent ? "Sent" : "Pending" }} </td>
									<td><a href="#" @click="showEmployeeReports({key: 'view-report', name: 'View Report', id: employeeReport.id})">View</a></td>
                                </tr>
                            </tbody>
                            <!-- END USER REPORT DATA -->
                        </data-table>
                            </div>
                        </div>
                      
                    </div>           
                </div>
            </div>     
        </page-content>              
        <export-daily-report-summary v-if="form.key=='export-daily-report-summary' && open" :openModal="open" @success="reload" @close="closeModalDialogue" :info="form"></export-daily-report-summary>
        <view-daily-report v-if="form.key=='view-report' && open" :openModal="open" @close="closeModalDialogue" :info="form"></view-daily-report>
    </div>
</template>
<style lang="scss" scoped>
.user-report {
  &:hover {
    text-decoration: underline;
  }
}
.ref-btn-container{
    margin-top:27px !important;
}
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


</style>

<style>

div.fc-content .la-star{
	font-size: 4.3vw;
	color:#00aa5b;
	cursor:pointer;
}
.fc-event, .fc-event-dot {
    background-color: #fff !important;
}

.fc-event {
    position: relative;
    display: block;
    font-size: 0.85em;
    line-height: 1.4;
    border-radius: 3px;
    border: 0 !important;
}


div.fc-content span.total-report{
	position: absolute;
    font-size: 14px;
    color: #fff !important;
    text-align: center;
    width: 100%;
    top: 0px;
    left: 0px;
	right: 0px;
    z-index: 0;
    margin-top: 32%;    
	cursor:pointer;
}


div.fc-content{
	font-weight:bold;
	text-align:center !important;  
}	


tr:first-child>td>.fc-day-grid-event {
    margin-top: 2px;
    position: relative;
    top: -9px;
    background: none !important;
}

div.report-list{
	position: absolute;
	width:100%;
	z-index: -1;
	background: red;
}


#filter-container{
    padding:0 px !important;
}
#report-table-container{
    margin-top:48px !important;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
	div.fc-content .la-star{
		font-size: 7.3vw;
	}
	div.fc-content span.total-report {
    	margin-top: 26%;
		font-size: 9px;
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	div.fc-content .la-star{
		/*font-size:11em !important;*/
		font-size: 7.3vw;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	div.fc-content .la-star{
		font-size:10.3vw !important;
	}
	div.fc-content span.total-report{		
        margin-top: 14px;
        font-size: 9px;
    }
}

</style> 
<script>
    import Vue from 'vue';
    import VueMoment from 'vue-moment';
    Vue.use(VueMoment);

	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
    import DataTable from '@components/datatable.vue';
    import ModalDialog from '@components/modal-dialog.vue'
    import Select3 from "@components/select3.vue";
    import FieldComponent from '@components/form/field-component.vue';
    import FlatPickr from 'vue-flatpickr-component';
    import BackButton from '@components/back-button.vue';
    import ViewDailyReport from '@views/pages/daily-report/_modals/view-daily-report.vue';
    import ExportDailyReportSummary from '@views/pages/daily-report/_modals/export-daily-report-summary.vue';    
    import 'flatpickr/dist/flatpickr.css';    

    import FullCalendar from '@fullcalendar/vue';
    import dayGridPlugin from '@fullcalendar/daygrid';       

    // mixins
    import DataTableMixin from '@common/mixin/DataTableMixin';
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
	import DateMixin from '@common/mixin/DateMixin';
    import EmployeeMixin from "@common/mixin/EmployeeMixin";
    
    
    import { mapActions, mapGetters } from 'vuex';

    export default {
		data() {
		let sortOrder = {};
        let sortKey = 'report_date';
        let sortKeyEmployee = 'employee_no';
		let loading = false;
		let columns = [
                { label: 'Project', key: 'client_projects.project_name', sortKey: 'client_projects.project_name', width: '25%', sortable: true },
	            { label: 'Subject', key: 'subject', sortKey: 'subject', width: '45%', sortable: true },
				{ label: 'Report Date', key: 'report_date', sortKey: 'report_date', width: '15%', sortable: true },
				{ label: 'Status', key: 'sent', sortKey: 'sent', width: '8%', sortable: true },
				{ label: 'Action', key: 'action', sortKey: 'action', width: '8%', sortable: false }
	        ];


	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'desc';
	        });
			return {
                isTyping: false,
                timeOut: null,
                term: "",
				title:'Employee Daily Report',
				pageClass: 'ks-content-nav',
            	open: false,
                sortKey:sortKey,
                loading:false,
            	sortOrder:sortOrder,
				data: {
					columns:columns,
					rows: []
				},
				form: {
	                key: '',
	                name: ''
                },
                filterEmployee: '0',
                include: ["positions", "department"],
                calendarPlugins: [ dayGridPlugin],
                events: [],
                dailyReports: [],
                formElements:[],
                reportDateSelected:'',
                currentMonth:''
			}
		},
		async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
            this.setPagination(this.meta.pagination);                               
		},
		computed: {
			...mapGetters({
                employees: "employees/data",
                meta:'employeeReports/meta',
                employeeReports:'employeeReports/data',
                employeeCalendarReports:'employeeCalendarReports/data'
			})
		},
		methods : {
        ...mapActions({                
            getEmployeeReports:'employeeReports/getEmployeeReports',
            getEmployeeCalendarReports:'employeeCalendarReports/getEmployeeCalendarReports',
            getEmployees: "employees/getEmployees"             
        }),
        showLazyLoading(isLoading){
            var calendarCenterTitle = document.getElementsByClassName("fc-center")[0];
            if(isLoading){           
                calendarCenterTitle.innerHTML = '<div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>';
            }else{
                calendarCenterTitle.innerHTML = '';
            }                  
        },
        ChangeFilterSelect(id,selectValue){    
            this.loading = true;
            let empIds = _.map(selectValue,function(element){
                                return element.value;
                            }),
                    params = {},
                    tempFormElements = [];             
                    tempFormElements = this.formElements;
                    
            _.map(selectValue,function(element){
                if(element.value==''){
                    tempFormElements.forEach(element => {
                        if(element.id == 'employee-with-report-list') {
                            element.max = 1;
                        }
                    });
                }
            });            
            this.formElements = tempFormElements;
            if(empIds.length > 0){
                params.employee_id = empIds.join(',');                    
            }
            this.buildReportList(params);   
            this.loading = false;
        },
        initializeEmployeeSelect(selectOptions){                                                
            this.formElements = [
                                    {
                                        type:'select-multiple',
                                        id:'employee-with-report-list',
                                        label: 'Filter By Employee',
                                        name:'employee-with-report-list',
                                        class:'filter-container',
                                        is_required:false,
                                        is_hidden:false,
                                        options: selectOptions
                                    }
                                ]                     
            
        },
        getDateFormat(date,format) {
            return moment(date).format(format);
        },
        resetStarAndReportCount(){
        _.map( document.getElementsByClassName('fc-event-container'),function(elem){                    
                if(typeof elem !== 'undefined' && elem !== null){
                    if(elem.innerHTML!=''){
                        elem.innerHTML='';
                    }                    
                }
            });                           
        },
        reloadCurrentMonth(){
            this.reportDateSelected = this.currentMonth;
            this.formElements = [];
             this.buildReportList({page:1});
             this.buildCalendarEvents();   
        },
        datesRender(info){
            this.resetStarAndReportCount();
            this.showLazyLoading(1);
            let endOfMonth   = moment(info.view.currentStart).endOf('month').format('YYYY-MM-DD');
            let reportDate = this.getDateFormat(info.view.currentStart,'YYYY-MM-DD')+':'+endOfMonth;                    
            this.currentMonth = reportDate;
            this.reportDateSelected = reportDate;
            this.formElements = [];
            this.buildCalendarEvents();                
            this.buildReportList({page:1});
        },
        eventClick(info){                       
            let params = {};                
            if(info.event.extendedProps.report_date){
                this.reportDateSelected = info.event.extendedProps.report_date; 
            }
            params.page=1;  
            this.buildReportList(params);       
        },
        eventRender(info){                   
            let DailyRepContainer = document.createElement('div'),
                ReportDate = this.getDateFormat(info.event.extendedProps.report_date,'MMMM D YYYY'),
                TooltipMsg = `v-b-tooltip.hover title="Total Number of Employees who have submitted report for ${ReportDate}"`,                    
                starView = `<div>
                                    <i class="total-report-employees la la-star"></i>
                                    <span class="total-report" ${TooltipMsg}>${info.event.extendedProps.overallreport}</span>
                            </div>`;	
            info.el.firstChild.innerHTML =``;
            info.el.firstChild.appendChild(DailyRepContainer);                
            const dailyRepApp = new Vue({ 
                                            template: starView
                                        });

            dailyRepApp.$mount(DailyRepContainer);                  
            dailyRepApp.$mount(DailyRepContainer);
        },
        showEmployeeReports(formOptions) {	
            this.form = formOptions;
            this.open = true;
        },
        showExportModal(formOptions) {
            this.form = formOptions;
            this.open = true;
        },
        showComposeModal(formOptions) {
            this.form = formOptions;
            this.open = true;
        },
        closeModalDialogue() {
            this.open = false;
        },
        async getData() {
            let data = [],
                params = this.getParams();
                params.orderBy='employee_no';

            await this.getEmployees({
                query: _.merge(params, { include: this.include.join(",") })
            });
        },
        setStart(start) {
            this.filterDate.start = start;
        },
        setEnd(end) {
            this.filterDate.end = end;
        },  
            
        async getReports( params = {}) {
            this.loading = true;
            let objParam = {} ,
                currentParams = this.getParams();     
                                
            if(this.reportDateSelected){
                objParam.report_date = this.reportDateSelected;                        
            }            
            
            this.buildReportList(objParam);
            this.loading = false;
        },
        resetCalendarEvents(){
            let events = document.getElementsByClassName('fc-event-container'); 
            _.map(events,function(elem){
                if(elem.innerHTML.length > 0){
                    elem.innerHTML='';
                    elem.removeAttribute("class");
                }                    
            });
        },
        async buildCalendarEvents(){      

            let currentParams = this.getParams(),
                dailyReports  = [],
                params = {};
                params.calendar_report=true;
                params.take = 9999;// remove limit to fetch all employee with reports on monthly basis
            if(this.reportDateSelected){
                params.report_date = this.reportDateSelected;                        
            }    
            this.showLazyLoading(1);
            await this.getEmployeeCalendarReports({ query: _.merge(this.getParams(), params)});    
            this.showLazyLoading('');
            dailyReports = this.employeeCalendarReports;	                
            this.events = [];
            this.events = _.map( _.uniqBy(dailyReports,'report_date'),function(report){                           
                                let empReports = new Array(),
                                    empIDS = new Array(); 
                                _.each(dailyReports,function(result){            
                                    if (report.report_date==result.report_date){  
                                        empIDS.push( result.employee.id);                                          
                                    }                                                                                  
                                });
                                    empIDS = _.uniq(empIDS);    
                                _.each(dailyReports,function(result){ 
                                        empReports.push({
                                            title:`${result.employee.first_name} ${result.employee.last_name}`,
                                            date:report.report_date,
                                            employee_id: result.employee.id,                                                    
                                            overallreport:empIDS.length,
                                            report_date:report.report_date
                                            }); 
                                });        
                                return  empReports.length > 0 ? empReports[0]:[];
                            });                
            this.buildEmployeeFilter(dailyReports);          
        },
        async buildEmployeeFilter(EmployeeReports = []){
            let EmpArr = [],
                SelectOptions = [{value:'',text:'-- All --'}];
            _.map(EmployeeReports,function(result){		                         
                    if(EmpArr.includes(result.employee.first_name+' '+result.employee.last_name)==false){
                        EmpArr.push(result.employee.first_name+' '+result.employee.last_name);
                        SelectOptions.unshift({value:result.employee.id,text:result.employee.first_name+' '+result.employee.last_name});                            
                    }                    
                });
                await this.initializeEmployeeSelect(SelectOptions);   
        },
        async buildReportList(params = {}){
            this.loading = true;    
            if(this.reportDateSelected){
                params.report_date = this.reportDateSelected;                        
            }  
            let currentParams = this.getParams();
            delete currentParams.calendar_report;
            await this.getEmployeeReports({ query: _.merge(currentParams, params)});                
            this.buildEmployeeFilter(this.employeeReports);                
            this.setPagination(this.meta.pagination);
            this.loading = false;    
        }, 
        async buildSelectReportList(params = {}){
            this.loading = true;    
            if(this.reportDateSelected){
                params.report_date = this.reportDateSelected;                        
            }  
            let currentParams = this.getParams();
            delete currentParams.calendar_report;
            await this.getEmployeeReports({ query: _.merge(currentParams, params)});                
            
            this.setPagination(this.meta.pagination);
            this.loading = false;    
        },       
        async paginate(page) {
                this.gotoPage(page);
                await this.getReports();
                this.setPagination(this.meta.pagination);
        },
        async sortList(key) {
            this.sortKey = key;
            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
            await this.getReports();
            this.setPagination(this.meta.pagination);
        },
        async updateList(limit) {
            this.setPaginationLimit(limit);
            await this.getReports();
            this.setPagination(this.meta.pagination);
        },
        async reload(params = {}) {
                this.loading = true;
                await this.getReports(params);
                this.setPagination(this.meta.pagination);
                this.open = false;
                this.loading = false;
                this.getData();
        },
        async doSearch() {
            this.setSearch(this.term);
            this.setSearchBy(this.searchSpecific);
            this.getData();
        },
        async search(term) {
                this.term = term;
                this.gotoPage();
                if (this.timeOut != null) {
                    this.isTyping = false;
                    clearTimeout(this.timeOut);
                    this.timeOut = null;
                }
                if (!this.isTyping) this.timeOut = setTimeout(this.doSearch, 300);
            }
		},
		components: {
			DataTable,
			PageHeader,
            PageContent,
            ModalDialog,
            BackButton,
            ExportDailyReportSummary,
            FullCalendar,
            FieldComponent,            
            ViewDailyReport            
		},
		mixins: [
            DataTableMixin,
            DateMixin,
            ModalDialogMixin,
            AlertMixin,
            EmployeeMixin
		]
    }
    

</script>
