<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
			<div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
						<div class="back-btn-wrapper mb-4">
							<back-button :text="'Back'" :route="'index'"></back-button>
						</div>
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTable_buttons">
                                	<button type="button" @click="showComposeModal({key: 'compose-report', name: 'Send Report', employee: employee[0].name})" tag="button" class="btn btn-primary">Compose new message</button>
                                </div>
                            </div>
							<div class="col-sm-12 col-md-5">
								<a
								href="#"
								title="Refresh Reports"
                      			@click.prevent="refreshList"
								>
									<span class="refresh">
										<i v-if="loading" class="fa fa-spinner fa-spin"></i>
										<i v-else class="la la-refresh"></i>
									</span>
								</a>
							</div>
                        </div>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								    <FullCalendar 
										defaultView="dayGridMonth" 
										:plugins="calendarPlugins"
										:events="events"
										  @eventRender="eventRender"
										  @eventClick="eventClick"
										  @datesRender="datesRender"
										/>
							</div>
						 <div class="col-xs-12 col-md-6">
							<data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            :showSearch="false"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)"
							>
                            <!-- BEGIN USER REPORT DATA -->
                            <tbody v-if="employeeReports.length">
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(employeeReport, index) in employeeReports"
                                    :key="employeeReport.id">

                                    <td><a href="#" @click="showComposeModal({key: 'view-report', name: 'View Report', id: employeeReport.id})">{{ employeeReport.subject }}</a></td>
                                    <td>{{ formatDate(employeeReport.report_date, 'MMM DD, YYYY') }}</td>
									<td>{{ employeeReport.sent ? "Sent" : "Pending" }} </td>

                                    <td align="center">
                                    	<a href="#" class="action-button" title="Edit Employee" @click="showEditDialogoue({key: 'edit-report', name: 'Edit Report', reportData: employeeReport})">
                                            <i class="la la-pencil"></i>
                                        </a> 

                                    </td>
                                </tr>
                            </tbody>
                            <!-- END USER REPORT DATA -->
                        </data-table>
						    </div> 
						</div>

                    </div>
                </div>
            </div>
		</page-content>
		<send-daily-report v-if="form.key=='compose-report' && open" :openModal="open" @success="reload" @close="closeModalDialogue" :info="form"></send-daily-report>
		<edit-daily-report v-if="form.key=='edit-report' && open" :openModal="open" @success="reload" @close="closeModalDialogue" :info="form"></edit-daily-report>
		<view-daily-report v-if="form.key=='view-report' && open" :openModal="open" @close="closeModalDialogue" :info="form"></view-daily-report>
	</div>
</template>

<style scoped>
	.action-button {
	    font-size: 20px;
	}
	.refresh {
		float: right;
		font-size: 25px;
		padding: 10px;
	}
</style>

<style lang='scss'>
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

div.fc-content .la-star{
	/*font-size:11em !important;*/
	font-size: 4.3vw;
	color:#00aa5b;
	cursor:pointer;
}
.fc-event, .fc-event-dot {
    background-color: #fff !important;
}

.fc-event {
    position: relative;
    display: block;
    font-size: 0.85em;
    line-height: 1.4;
    border-radius: 3px;
    border: 0 !important;
}


div.fc-content span.total-report{
	position: absolute;
    font-size: 14px;
    color: #fff !important;
    text-align: center;
    width: 100%;
    top: 0px;
    left: 0px;
	right: 0px;
    z-index: 0;
    margin-top: 30%;    
	cursor:pointer;
}


div.fc-content{
	font-weight:bold;
	text-align:center !important;  
}	


tr:first-child>td>.fc-day-grid-event {
    margin-top: 2px;
    position: relative;
    top: -9px;
    background: none !important;
}

div.report-list{
	position: absolute;
	width:100%;
	z-index: -1;
	background: red
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
	div.fc-content .la-star{
		font-size: 7.3vw;
	}
	div.fc-content span.total-report {
    	margin-top: 26%;
		font-size: 9px;
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	div.fc-content .la-star{
		/*font-size:11em !important;*/
		font-size: 7.3vw;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	div.fc-content .la-star{
		font-size:10.3vw !important;
	}
	div.fc-content span.total-report{		
		margin-top: 12px;
		font-size:12px;
	}
}

	
</style>

<script>
    import Vue from 'vue';
    import VueMoment from 'vue-moment';
    Vue.use(VueMoment);
	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
	import DataTable from '@components/datatable.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import BackButton from '@components/back-button.vue';

	//import ReportCalendar from '@components/report-calendar.vue';
	import FullCalendar from '@fullcalendar/vue';
	import dayGridPlugin from '@fullcalendar/daygrid';
	import { BPopover } from 'bootstrap-vue';


	import SendDailyReport from '@views/pages/daily-report/_modals/send-daily-report.vue';
	import EditDailyReport from '@views/pages/daily-report/_modals/edit-daily-report.vue';
	import ViewDailyReport from '@views/pages/daily-report/_modals/view-daily-report.vue';

	// mixins
	import DataTableMixin from '@common/mixin/DataTableMixin';
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
	import DateMixin from '@common/mixin/DateMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		data() {
			let sortOrder = {};
			let sortKey = 'report_date';
	        let columns = [
	            { label: 'Subject', key: 'subject', sortKey: 'subject', width: '60%', sortable: true },
				{ label: 'Date', key: 'created_at', sortKey: 'created_at', width: '30%', sortable: true },
				{ label: 'Status', key: 'sent', sortKey: 'sent', width: '10%', sortable: true },
	            { label: 'Action', key: 'action', sortKey: '', width: '10%', sortable: false }
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'desc';
	        });
			return {
				title:'Daily Report',
				pageClass: 'ks-content-nav',
            	open: false,
            	sortKey:sortKey,
            	sortOrder:sortOrder,
				data: {
					columns:columns,
					rows: []
				},
				form: {
	                key: '',
					name: '',
					height:'1200px',
	                report:{}
				},
				loading: false,
				calendarPlugins: [ dayGridPlugin ],
				events: [],
				reportDate:[],
				reportDateSelected:''
			}
		},
		async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
			await this.fetchEmployee({user_id:this.loggedInUser.data.id});
			await this.getEmployeeReports({ query: _.merge(this.getParams(), { employee_id: this.employee[0].id ,take:9999999,report_date:this.reportDateSelected}) });
			this.buildCalendarEvents();
			this.setPagination(this.meta.pagination);	
		},
		computed: {
			...mapGetters({
				employee: 'employees/single',
				employeeReports:'employeeReports/data',
				meta:'employeeReports/meta',
				loggedInUser: 'auth/data'
			})
		},
		methods : {
			...mapActions({
				fetchEmployee: 'employees/getEmployee',
				getEmployeeReports:'employeeReports/getEmployeeReports'
			}),
			getDateFormat(date,format) {
                return moment(date).format(format);
            },
            datesRender(info){
                let reportDate = this.getDateFormat(info.view.currentStart,'YYYY-MM-DD')+':'+this.getDateFormat(info.view.currentEnd,'YYYY-MM-DD');                    
                this.reportDateSelected = reportDate;
                this.formElements = [];
                this.reload();         
            },
		    buildCalendarEvents : function( ){		
								
				let tempArray = new Array();
				tempArray  = _.map(this.employeeReports,function(result){					
					return {date:result.report_date,employeeReport:result}				
				});

				this.events  = _.map( _.countBy(tempArray,'date'),function(total,reportDate){		
					let empReports = new Array();
						_.map(tempArray,function(result){	
							if (result.date==reportDate){
								return empReports.push(result);
							}
						});
					if(empReports.length > 0){
						return {title:total,date:reportDate,report: empReports,icon:'la la-star'};
					}				
				});		
				
			},
			datesRender(info){
                let reportDate = this.getDateFormat(info.view.currentStart,'YYYY-MM-DD')+':'+this.getDateFormat(info.view.currentEnd,'YYYY-MM-DD');                    
                this.reportDateSelected = reportDate;
                this.formElements = [];
                this.reload();         
            },            
			eventRender: function(info) {		

			if (info.event.extendedProps.icon) {
					let listReport = new Array();

					_.each(info.event.extendedProps.report, (result) => {
						let employeeReport = result.employeeReport;
						if( employeeReport.subject.length > 0 ){
							let ReportData = employeeReport.subject.includes(':') ? employeeReport.subject.split(":"):new Array();									
							if(ReportData.length > 0){		
								listReport.push(`<b-col sm="12" class="mb-1">
													<b-button pill variant="primary" size="sm" @click="EditReportModal({key: 'edit-report', name: 'Edit Report', reportDataID:'${employeeReport.id}'})">
														View ${ReportData[0]}: Daily Report
													</b-button>
												</b-col>`);	
							}
						}								
					});

					listReport = listReport.length > 0  ? listReport.join(' '): new Array();	
					
					if(listReport.length > 0){
							let 
							popOverContainer = document.createElement('div'),
							refDateAsID = info.event.start.getDate() ,
							ReportDate = info.event.start.toDateString() ,
							starView = `<div>									
										<span id="popover-target-${refDateAsID}" class="total-report">
											${info.event.title}
											</span>
										<i class="${info.event.extendedProps.icon}"></i>
										<b-popover target="popover-target-${refDateAsID}" triggers="hover" placement="top">
											<template v-slot:title>${ReportDate}</template>
											<b-row  class="text-center">${listReport}</b-row>
										</b-popover>									
									</div>`;	

						info.el.firstChild.innerHTML ='';
						let dailyRepParent = this;					
						const dailyRepAppPopOver = new Vue(
															{ 
																template: starView,
																methods:{	
																			EditReportModal(formOptions) {	
																				dailyRepParent.reload();																			
																				let EmployeeReport = {};
																				 _.each(dailyRepParent.employeeReports, (result) => {
																					if(formOptions.reportDataID==result.id){
																						EmployeeReport = result;
																					}																										
																				});
																				formOptions.reportData  = EmployeeReport;
																				dailyRepParent.form = formOptions;
																				dailyRepParent.open = true;
																				dailyRepParent.showEditDialogoue(formOptions);
																			}
																		},
																components: {dailyRepParent}

															});

															
						info.el.firstChild.appendChild(popOverContainer);
						dailyRepAppPopOver.$mount(popOverContainer);
					}					
				}
		
			},
			eventClick: function( info){		
			
			},	
			showComposeModal(formOptions) {
				this.form = formOptions;
				this.open = true;
			},
			closeModalDialogue() {
				this.open = false;
			},
			async paginate(page) {
	            this.gotoPage(page);
				await this.getEmployeeReports({ query: _.merge(this.getParams(), { employee_id: this.employee[0].id }) });				
	            this.setPagination(this.meta.pagination);
			},
			showEditDialogoue(formOptions) {
				//console.log(formOptions, 'formOptions')
				this.form = formOptions;
				this.open = true;
			},
	        // async search(term) {
	        //     this.setSearch(term);
	        //     await this.getEmployeeReports({query: this.getParams(), user_id:this.loggedInUser.data.id});
	        //     this.setPagination(this.meta.pagination);
	        // },
	        async sortList(key) {
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
				await this.getEmployeeReports({ query: _.merge(this.getParams(), { employee_id: this.employee[0].id }) });
	            this.setPagination(this.meta.pagination);
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
				await this.getEmployeeReports({ query: _.merge(this.getParams(), { employee_id: this.employee[0].id }) });
	            this.setPagination(this.meta.pagination);
			},
			async refreshList() {
				this.loading = true;
				await this.getEmployeeReports({ query: _.merge(this.getParams(), { employee_id: this.employee[0].id }) });
				this.setPagination(this.meta.pagination);
				this.loading = false;
			},
		    async reload() {
				this.open = false;										
				await this.getEmployeeReports({ query: _.merge(this.getParams(), { employee_id: this.employee[0].id,report_date:this.reportDateSelected }) });
				this.buildCalendarEvents();
		    }
		},
		components: {
			DataTable,
			PageHeader,
			PageContent,
			ModalDialog,
			SendDailyReport,
			EditDailyReport,
			ViewDailyReport,
			BackButton,
			FullCalendar
		},
		mixins: [
			ModalDialogMixin,
			DataTableMixin,
			AlertMixin,
			DateMixin
		]
	}
</script>
