<template>
    <div class="selection-content">
      <div v-for="(group, index) in techChoices.data" :key="index">
        <div class="row">
            <h5>{{ getGroupKey(index) }}</h5>
        </div>
        <div class="row" v-if="loaded">
            <div class="col col-sm-5 col-md-3 technology"
                v-for="(choice, i) in group[getGroupKey(index)]"
                :key="i">
                <div class="custom-control custom-checkbox input-response">
                    <input type="checkbox" class="custom-control-input"
                        :id="choice+'_'+index"
                        :name="choice+'_'+index"
                        v-model="formResponse[choice]"
                        v-validate="{required: true}"
                        @click="saveSelectedTechnologyByClient([choice, getGroupKey(index)])"
                    /> 
                    <label class="custom-control-label" :for="choice+'_'+index">
                        {{ choice }}
                    </label>
                </div>
            </div>
        </div>
        <hr/>
      </div>
      <div class="row search justify-content-center text-center" v-if="isUnapplicableExist().length">
          <div class="col-7 col-xl-6 pr-0 no-resource">
              <strong>Note: </strong>{{ isUnapplicableExist() }} are not applicable for Technology Selection.
          </div>
      </div>
    </div>
</template>
<script>
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';

import { mapActions, mapGetters } from 'vuex';
export default {
    components: {
        PageHeader,
        PageContent
    },
    data() {
        return {
            title: '',
            pageClass: 'ks-content-nav',
            actionList: [],
            RouteWizardsArray: [],
            totalClient: '',
            formDelimeter: '_',
            otherSearch: '',
            techChoices: [],
            formResponse: {},
            onboardingResultClient: {},
            loaded: false,
            choiceGroups: [],
            notApplicableResources: ['Managers', 'Creatives'],
        }
    },
    computed: {
		...mapGetters({
       currentUser: 'auth/data',
       clientOnboardingResults: 'clientTeamBuilder/clientOnboardingResults',
       resourceTypes: 'clientTeamBuilder/resourceTypes',
       subResourceTypes: 'clientTeamBuilder/subResourceTypes',
       addedTechnology: 'clientTeamBuilder/clientChosenTechnology'
		})
	},
    async created(){
        this.techChoices = await this.getTechnologyChoices([this.resourceTypes, this.subResourceTypes]);

        // await this.emptySelectedTechnologyByClient();
          //get only gets where the result in the array we will match them on technology if equal we pass the value so that it will check the specific tech or etc.
        // this.onboardingResultClient = Object.keys(this.clientOnboardingResults.tech_require); 
        if (_.isEmpty(this.addedTechnology)) {
          (Object.keys(this.clientOnboardingResults.tech_require)).forEach(tech => {
            this.formResponse[tech] = true;
            this.saveSelectedTechnologyByClient([tech, this.getCategory(tech)])
          });
        } else {
          let keys = (Object.keys(this.addedTechnology));
          for (let i=0; i<keys.length; i++) {
            for (let j=0; j<keys[i].length; j++) {
              let tech = this.addedTechnology[keys[i]][j];
              this.formResponse[tech] = true;
            }
          }
        }
        
        this.loaded = true;
    },
    methods : {
         ...mapActions({
            getTechnologyChoices: 'skills/getTechnologyChoices',
            saveSelectedTechnologyByClient: 'clientTeamBuilder/saveSelectedTechnologyByClient',
            emptySelectedTechnologyByClient: 'clientTeamBuilder/emptySelectedTechnologyByClient',
        }),
        getGroupKey (index) {
          return Object.keys(this.techChoices.data[index])[0];
        },
        getCategory (technology) {
          for (let i=0; i<this.techChoices.data.length; i++) {
            if (this.techChoices.data[i][this.getGroupKey(i)].filter(tech => tech == technology).length > 0) {
              return this.getGroupKey(i);
            }
          }

          return '';
        },
        isUnapplicableExist() {
          let resources = this.resourceTypes.map(asset => asset.route_resource);

          return resources.filter(value => this.notApplicableResources.includes(value)).join(' and ');
        }
    },
}
</script>
<style lang="scss">
.custom-checkbox {
  > .custom-control-input ~ .custom-control-label:after {
    font-family: 'LineAwesome';
    content: '\F17B';
    font-size: 0;
  }
}
</style>
<style lang="scss" scoped>
.custom-control.custom-checkbox {
  margin-top: 0.7em;
}
.required-indicator {
  margin-left: 1px;
}
div > label.custom-control-label::after {
  left: -23px !important;
}
@media screen and (max-width: 574px) {
  .col.technology {
    min-width: 175px;
    max-width: 175px;
  }

  .col.technology:nth-child(odd) {
    left: 40px;
  }
}

@media screen and (max-width: 510px) {
  .col.technology:nth-child(odd) {
    left: 0;
  }
}
.selection-content {
  width: 100%;
  padding: 0 20px;
}

</style>