<template>
    <div>
        <!-- BEGIN PAGE HEADER -->
        <page-header v-bind:title="title"></page-header>
        <!-- END PAGE HEADER -->
        <page-content :pageClass="pageClass">
            <div class="wizard">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="row wizard-nav">
                            <div class="menu-item-wrapper col-sm-12 col-md-6" v-for="group in MainGroup" v-bind:key="group.route_name">
                                <div class="menu-item" >
                                    <a v-on:click="onPush(group)">
                                        <span class="ks-icon" :class="group.icon ? group.icon : 'ks-icon-combo-chart'"></span>
                                        <span class="link-text">{{group.route_name}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4" id="activity-stream">
                        <div class="card ks-card-widget ks-widget-table">
                            <h5 class="card-header">
                                Activity Stream
                            </h5>
                            <hr>
                            <div class="card-block">
                                <div style="text-align:center"><b>This feature will be available soon.</b></div>
                            </div>
                        </div>
                        <div class="card ks-card-widget ks-widget-table">
                            <h5 class="card-header">
                                Full Scale
                            </h5>
                            <hr>
                            <div class="card-block">
                                <div style="text-align:center"><b>News.</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>

<style lang="scss" scoped>
    //activity stream
    #activity-stream {
        margin-top: 20px;
    }
</style>

<script type="text/javascript">
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';

import { RouteWizard } from '@common/model/RouteWizard';
import { mapGetters, mapActions } from 'vuex';

export default {
    components: {
        PageHeader,
        PageContent
    },
    data() {
        return {
            title: 'Hi, __, what would you like to do today?',
            pageClass: 'ks-content-nav',
            RouteWizardsArray : [],
            MainGroup : [],
        }
    },
    computed : {
         ...mapGetters({
            RouteWizards: 'routeWizards/data',
        }),
    },
    async created () {
        await this.getRouteWizards({query: {take: 9999}});
        await this.loadRouteWizardsOptions();
    },
    methods : {
         ...mapActions({
            getRouteWizards: 'routeWizards/getRouteWizards',
            saveRouteWizard: 'routeWizards/saveRouteWizard'
        }),
        async loadRouteWizardsOptions() {
            await this.RouteWizards.forEach((obj) => {
                this.RouteWizardsArray.push({
                    group_id: obj.group_id,
                    goto_group_id: obj.goto_group_id,
                    icon: obj.icon,
                    route_name: obj.route_name,
                    route_uri: obj.route_uri,
                    sequence_order: obj.sequence_order
                });
            });
            this.MainGroup = this.routeGroup(3);
        },

        routeGroup(item){
            let items = item ? item : 3;
            let group = this.groupBy(this.RouteWizardsArray, group => group.group_id);
            return group.get(items);
        },
        groupBy(list, keyGetter) {
            const map = new Map();
            list.forEach((item) => {
                const key = keyGetter(item);
                const collection = map.get(key);
                if (!collection) {
                    map.set(key, [item]);
                } else {
                    collection.push(item);
                }
            });
            return map;
        },
        onPush: function(group){
            switch(group.route_name.toUpperCase()){
                case "GO TO TALENT POOL SUGGESTIONS":
                    //this.$router.push('dashboard')
                    break;
                case "SEARCH TALENTS":
                    break;
                case "VIEW TIMESHEETS":
                    break;
                case "SCHEDULE TALENT INTERVIIE":
                    break;
                case "MANAGE PROJECT":
                    break;
                case "VIEW REPORTS":
                    break;
                
            }
        },
    },
}
</script>