<template>
    <div>
        <!-- BEGIN PAGE HEADER -->
        <page-header v-bind:title="title"></page-header>
        <!-- END PAGE HEADER -->
        <page-content :pageClass="pageClass">
            <div class="wizard">
                <div class="row wizard-nav">
                    <div class="menu-item-wrapper col-sm-12 col-md-4" v-for="action in actionList" v-bind:key="action.route_name">
                        <div class="menu-item">
                            <a v-on:click="onPush(action)">
                                <span class="ks-icon" :class="action.icon ? action.icon : 'ks-icon-user'"></span>
                                <span class="link-text">{{action.route_name}} {{action.sequence_order == 1 ? '('+totalClient+')' : ''}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>

<script>
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';

import { mapActions, mapGetters } from 'vuex';
export default {
    components: {
        PageHeader,
        PageContent
    },
    data() {
        return {
            title: 'What '+ this.$route.params.RouteAction +' action would you like to do?',
            pageClass: 'ks-content-nav',
            actionList: [],
            RouteWizardsArray: [],
            totalClient: '',
        }
    },
    computed: {
		...mapGetters({
			clients:'clients/data',
            editclient:'clients/client',
			meta:'clients/meta'
		})
	},
    async created(){
        if(!this.$route.params.RouteGroup){
            this.$router.push('/');
        }

        this.RouteWizardsArray = this.$route.params.RouteWizards;
        this.actionList = this.routeGroup(this.$route.params.RouteGroup);
        //manage client
        if(this.$route.params.RouteGroup == 3){
            await this.getClients({
                query: _.merge(
                    { status: 'prospect' },
                    { take: 10 },
                    { orderBy: 'company|asc' })
            });
            this.totalClient = '('+ this.meta ? this.meta.pagination.total : 0 + ')';
        } 
    },
    methods : {
         ...mapActions({
            getClientContact: 'clientContacts/getClientContact',
			getClients: 'clients/getClients'
        }),

        routeGroup(item){
            let items = item ? item : 3;
            let group = this.groupBy(this.RouteWizardsArray, group => group.group_id);
            return group.get(items);
        },

        groupBy(list, keyGetter) {
            const map = new Map();
            list.forEach((item) => {
                const key = keyGetter(item);
                const collection = map.get(key);
                if (!collection) {
                    map.set(key, [item]);
                } else {
                    collection.push(item);
                }
            });
            return map;
        },

        onPush: function(group){ 
            this.$router.push({name: group.route_uri,
             params:{
                RouteGroup: group.goto_group_id,
                RouteWizards: this.RouteWizardsArray
                }
            });
        },
    },
}
</script>