<template>
    <div>
        <div class="wizard-content">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 custom-control custom-checkbox input-response filter" 
                    v-for="(resource, index) in resources" :key="index"
                >
                    <div class="category" id="category" :for="resource.asset"  :style="{backgroundColor: selectedAsset.includes(resource.asset)?'#eaeaea':'#fff'}">
                        <div style="cursor: pointer" @click="updateSelectedResourceType(resource.asset, !selectedAsset.includes(resource.asset))">
                            <img :src="resource.icon" :alt="resource.icon" />
                            <p :style="{color: resource.checked?'#fff':''}" class="category-text">
                                {{resource.asset}}
                            </p>
                        </div>
                        <div class="sub-category" v-if="selectedAsset.includes(resource.asset)">
                            <div
                                v-for="(subresource, i) in getSubResources(index)"
                                :key="i" 
                                class="col-sm-4 custom-control custom-checkbox input-response sub-filter"
                            >
                                <input type="checkbox"
                                class="custom-control-input"
                                :id="subresource.subAsset"
                                :value="subresource.subAsset"
                                v-model="subresource.selected"
                                @change="selectSubCategoryResource(subresource.parentId, i,subresource.selected)" />
                                <label class="custom-control-label label-2"
                                    :for="subresource.subAsset">
                                {{ subresource.subAsset }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @media screen and(max-width: 991px){
    .category {
        margin-bottom: 30px;
    }
}

.category {
        padding: 30px 0 0 0;
        background-color: #ececec;
        border: 1px solid #dedede;
    }

    .category > p {
        margin-bottom: 26px;
        font-weight: 500;
        color: #51b477;
    }

    .sub-category {
        border: 1px solid #f7f7f7;
        margin-top: 21px;
        padding-bottom: 10px;
        background-size: 100% 100%;
        background-color: white;
    }

    .sub-category::before{
        content: "";
        background-color: white;
        display: inline-block;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -8px;
        position: relative;
        border-top: 1px solid #f7f7f7;
        border-right: 1px solid #f7f7f7;
    }

    .sub-category div {
        text-align: left;
    }

    .category-text {
        font-weight: bold; 
        color: #008000;
    }

.wizard-content {
        width: 100%;
        padding: 0 20px;
        margin-top: 0;
        margin-bottom: 0;

        h5 {
            display: inline-block;
            vertical-align: middle;
            margin: 4px 0px 0px 0px;
            width: max-content;
            position: relative;
            bottom: 3px;
        }

        .custom-control.input-response.filter {
                margin-bottom: 40px;
        }

        .custom-control-label {
            cursor: pointer;
            min-width: 135px!important;
            color: #52b584;
            text-align: left;
        }
        div > label.custom-control-label::after {
            left: -23px !important;
        }

        .custom-control-label.label-1 {
            margin-top: 10px;
            left: 40px;
        }

        .custom-control-label.label-2 {
            margin-left: 16px;
            margin-top: 10px;
        }
    }
    .indent {
        margin-left: 1em;
    }
    .filter {
        display: flex;
        flex-direction: column;
    }

    .sub-filter {
        display: flex;
        flex-direction: column;
    }
</style>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            title: 'What do you need help with?',
            pageClass: 'ks-content-nav',
            selectedAsset: [],
            tempSelected: [],
            selectedParentCategory: '',
            resources: [
                {
                    id: 1,
                    asset: "Developers",
                    checked: false,
                    icon: "/images/client-type-of-resources/developers.png"
                },
                {
                    id: 2,
                    asset: "Testers",
                    checked: false,
                    icon: "/images/client-type-of-resources/testers.png"
                },
                {
                    id: 3,
                    asset: "Managers",
                    checked: false,
                    icon: "/images/client-type-of-resources/managers.png"
                },
                {
                    id: 4,
                    asset: "Creatives",
                    checked: false,
                    icon: "/images/client-type-of-resources/creatives.png"
                },
            ],
            subResources: [
                //Dev
                [
                    {
                        parentId: 1,
                        subAsset: "Mobile",
                        selected: false,
                    },
                    {
                        parentId: 1,
                        subAsset: "Web",
                        selected: false
                    }
                ],
                //Tester
                [
                    {
                        parentId: 2,
                        subAsset: "Manual",
                        selected: false
                    },
                    {
                        parentId: 2,
                        subAsset: "Automation",
                        selected: false
                    }
                ],
                //Mngr
                [
                    {
                        parentId: 3,
                        subAsset: "Projects",
                        selected: false
                    },
                    {
                        parentId: 3,
                        subAsset: "Content",
                        selected: false
                    },
                    {
                        parentId: 3,
                        subAsset: "SEO",
                        selected: false
                    },
                    {
                        parentId: 3,
                        subAsset: "Engineering",
                        selected: false
                    },
                    {
                        parentId: 3,
                        subAsset: "Product",
                        selected: false
                    },
                ],
                //creative
                [
                    {
                        parentId: 4,
                        subAsset: "Graphic design",
                        selected: false
                    },
                    {
                        parentId: 4,
                        subAsset: "Video",
                        selected: false
                    },
                    {
                        parentId: 4,
                        subAsset: "Writers",
                        selected: false
                    },
                    {
                        parentId: 4,
                        subAsset: "UI/UX",
                        selected: false
                    },
                ],
            ]
        }
    },
    computed: {
        ...mapGetters({
            resourceTypes: 'clientTeamBuilder/resourceTypes',
            currentRoute: 'clientTeamBuilder/currentRoute',
            clientOnboardingResults: 'clientTeamBuilder/clientOnboardingResults',
            subResourceTypes: 'clientTeamBuilder/subResourceTypes',
        }),
    },


    async created() {
        /*when chosing dev,test and etc then go to next page then return to the same page this line below retains the selected technology*/
        this.selectedAsset = this.resourceTypes.map(resource => resource.route_resource);

        if(this.subResourceTypes.length > 0) {
            this.subResourceTypes.forEach(subResource => {
                this.subResources[subResource.subAssetIndex.subResourceIndex][subResource.subAssetIndex.index].selected = true;
            });
        }
        
        //get only gets where the result in the array we will match them on resourceTypes if equal we pass the value so that it will check the dev or etc.
        this.selectFromOnboarding(Object.keys(this.clientOnboardingResults.service_need));
    },

    methods: {
        ...mapActions({
            setResourceType: 'clientTeamBuilder/setResourceType',
            setShowTechChoice: 'clientTeamBuilder/setShowTechChoice',
            emptyResourceTypes: 'clientTeamBuilder/emptyResourceTypes',
            setSubResources: 'clientTeamBuilder/setSubResources'
        }),

        getSubResources (index) {
            return this.subResources[index];
        },
        generateRouteResource(resource, isChecked) {
            return [
                {
                    route_name: 'Select ' + resource,
                    route_uri: this.currentRoute + '/team-builder-client',
                    route_resource: resource,
                }, isChecked
            ];
        },
        generateSubRouteResources(subResourceIndex, i, isChecked) {
            return [
                {
                    subAsset: this.subResources[subResourceIndex][i].subAsset,
                    asset: this.resources[subResourceIndex].asset,
                    subAssetIndex: {
                        subResourceIndex: subResourceIndex,
                        index: i
                    }
                }, isChecked
            ];
        },
        selectFromOnboarding(serviceNeed)
        {
            serviceNeed.forEach(resource => {
                switch(resource) {
                    case 'Programming':
                    case 'Mobile Development':
                        if (!_.includes(this.selectedAsset, 'Developers')) {
                            this.selectedAsset.push('Developers');
                            // 2nd Client Wizard
                            this.setResourceType(this.generateRouteResource('Developers', true));
                            // this.setShowTechChoice(true);
                        }
                        if (resource == 'Mobile Development') {
                            this.subResources[0][0].selected = true;
                        }
                    break;
                    case 'QA Testing':
                    case 'Automation':
                        if (!_.includes(this.selectedAsset, 'Testers')) {
                            this.selectedAsset.push('Testers');
                            this.setResourceType(this.generateRouteResource('Testers', true));
                        }
                    break;
                    case 'Creative Stuff':
                        if (!_.includes(this.selectedAsset, 'Creative')) {
                            this.selectedAsset.push('Creative');
                            this.setResourceType(this.generateRouteResource('Creative', true));
                        }
                    break;
                }
            });
        },
        updateSelectedResourceType: function(asset, isChecked) {
            this.setResourceType(this.generateRouteResource(asset, isChecked));

            if (isChecked) { // If checked
                this.selectedAsset.push(asset);
            }
            else { // If unchecked
                let index = this.selectedAsset.findIndex(resource => asset == resource);
                if (index > -1){
                    this.selectedAsset.splice(index, 1);
                }

                let assetIndex = this.resources.findIndex(resource => asset == resource.asset);

                if (assetIndex > -1) {
                    let selectedSubResource = this.subResources[assetIndex].filter(x => x.selected);
                    if (selectedSubResource.length > 0) {
                        for (let i = 0; i < selectedSubResource.length; i++) {
                            this.subResources[assetIndex][i].selected = false;
                        }
                    } 

                    let subResourceRemove = this.subResourceTypes.filter(resource => resource.asset == asset); 
                    if (subResourceRemove.length > 0) {
                        for(let i = 0; i< subResourceRemove.length; i++){
                            this.setSubResources(this.generateSubRouteResources(subResourceRemove[i].subAssetIndex.subResourceIndex,
                                                                                    subResourceRemove[i].subAssetIndex.index, false));
                        }
                    }
                }
            }
        },
        
        //Check parent category if child/children category/ies is/are selected
        selectSubCategoryResource(subResource, index, isSelected) {
            this.selectedParentCategory = (subResource == 1) ? 'Developers' : (subResource == 2) ? 'Testers' : (subResource == 3) ? 'Managers' : (subResource == 4) ? 'Creatives' : '';
            this.subResources[subResource -1][index].selected = isSelected;

            if (this.checkIsSelected(subResource, index)) {

                if (!_.includes(this.selectedAsset, this.selectedParentCategory)) {
                    this.selectedAsset.push(this.selectedParentCategory);
                    this.setResourceType(this.generateRouteResource(this.selectedParentCategory, true));
                }
            } else {
                this.selectedAsset.splice(this.selectedAsset.indexOf(this.selectedParentCategory), 1);
                this.setResourceType(this.generateRouteResource(this.selectedParentCategory, false));
            }

            this.setSubResources(this.generateSubRouteResources((subResource-1), index, isSelected));

        },
        checkIsSelected (subResource) {
            return this.subResources[subResource-1].filter(x => x.selected).length > 0;
        }
    },
}
</script>
