<template>
    <div v-if="loading" class="loader"></div>
    <div v-else>
        <route-wizard  
            :routes="routes"
            :resourceTypes="resourceTypes"
            ref="client_wizard"
            :currentRouteName="currentRouteName"
            :menuRoute="menuRoute"
            :beforeChange="beforeChange"
            :beforeChangeResource="beforeChangeResource"
            :finishButton="finishButton"
            :showCompleteUpdate="false"
            :isClientSmartTeamBuilder="true"
            @pageChange="pageChange"
            @save="save">
        </route-wizard>
    </div>
</template>
<style scoped>
    .no-suggested {
        text-align: center;
        padding: 50px;
    }

    .fs-back-link {
        padding-top: 15px;
    }

    .loader {
        margin: 45px auto 35px auto;
        z-index: 0;
    }
</style>
<script>
//Components
import RouteWizard from '@components/route-wizard';

import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        return {
            currentRouteName: '',
            menuRoute       : '/default',
            currentIndex    : 0,
            finishButton    : 'Finish',
            routes          : [
                {
                    route_name: 'What do you need help with?',
                    route_uri : `/client-wizard/client-type-of-resource`,
                },
                {
                    route_name: 'What technology will your product use?',
                    route_uri : `/client-wizard/client-technology-selection`
                },    
            ],
            job_position_pm        : [5,6],
            job_position_testing   : [40,43],
            job_position_content   : [33,34,35],
            job_position_creative  : [30,31,49,55],
            developersData         : [],
            projectManagersData    : [],
            testersData            : [],
            contentsData           : [],
            creativeServicesData   : [],
            allData                : [],
            loading                : false,
            resourceIndex          : -1,
            techChoiceFlag         : false,
            showCompleteUpdate     : false,
            onboardingResultsClient: {},
            techChoice             : false,
        };
    },
    computed: {
        ...mapGetters({
            currentStep            : 'wizardClientProspects/current_step',
            clientTeamBuilder      : 'clientTeamBuilder/data',
            auth                   : 'auth/data',
            selectedResource       : 'clientTeamBuilder/selectedResource',
            resourceTypes          : 'clientTeamBuilder/resourceTypes',
            clientOnboardingResults: 'clientTeamBuilder/clientOnboardingResults',
        })
    },
    components: {
        RouteWizard,
    },
    async created(){
        this.loading = true;
        await this.initializeCurrentRoute(this.$router.currentRoute.matched[1].path);
        this.setCurrentStep(0);
        this.emptyResourceTypes();
        await this.getOnboardingResults({id : this.auth.data.activeClientId});
        this.onboardingResultsClient = this.clientOnboardingResults;
        await this.getData();
        this.allData = this.clientTeamBuilder;
        this.incrementCountSelected(this.allData.filter(a => a.status == 'selected').length);
        this.projectManagersData = this.getCategorizeEmp(this.job_position_pm);
        this.testersData = this.getCategorizeEmp(this.job_position_testing);
        this.contentsData = this.getCategorizeEmp(this.job_position_content);
        this.creativeServicesData = this.getCategorizeEmp(this.job_position_creative);
        this.developersData = this.allData;
        
        this.initializeSelectedResource();
        this.loading = false;

        this.currentRouteName = this.routes[this.currentIndex].route_name;
    },
    methods: {
        ...mapActions({
            getClientTeamBuilder       : 'clientTeamBuilder/getClientTeamBuilder',
            setCurrentSuggestedResource: 'clientTeamBuilder/setCurrentSuggestedResource',
            setResourceTitle           : 'clientTeamBuilder/setResourceTitle',
            initializeSelectedResource : 'clientTeamBuilder/initializeSelectedResource',
            saveSelectedResource       : 'clientTeamBuilder/saveSelectedResource',
            incrementCountSelected     : 'clientTeamBuilder/incrementCountSelected',
            initializeCurrentRoute     : 'clientTeamBuilder/initializeCurrentRoute',
            setCurrentStep             : 'wizardClientProspects/setCurrentStep',
            emptyResourceTypes         : 'clientTeamBuilder/emptyResourceTypes',
            setCurrentResourcePage     : 'clientTeamBuilder/setCurrentResourcePage',
            getOnboardingResults       : 'clientTeamBuilder/getOnboardingResults',
        }),
        async getData(){
            await this.getClientTeamBuilder({
                query: { take: 99999 , client_id: this.auth.data.activeClientId, status: 'suggested,selected' }
            });
        },
        getCategorizeEmp(positions){
            let empList = [];
            for(let i = 0; i < this.allData.length; ){
                if(positions.includes(this.allData[i].job_position_id)){
                    empList.push(this.allData[i]);
                    this.allData.splice(i,1);
                }else{
                    i++;
                }
            }
            return empList;
        },

        beforeChange() {
            if (this.resourceTypes.length > 0) {
                if (this.resourceTypes.filter(resource => resource.route_resource == 'Developers'
                                                    || resource.route_resource == 'Testers').length == 0) {
                    this.skipStep();
                } else {
                    return true;
                }
            } else {
                return false;
            }            
        },
        beforeChangeResource() {
            return true;
        }, 
        skipStep() {
            if (this.currentStep == 0) {
                /**
                 * Forward and Skip from Step 1
                 */
                this.$refs.client_wizard.changeTab(0, 2);
            }
            return true;
        },
        pageChange(prevIndex, nextIndex) {
            if (prevIndex > nextIndex && this.currentStep == 2) {
                this.setCurrentStep(0);
                this.$refs.client_wizard.changeTab(2,0);
            } else {
                this.setCurrentStep(nextIndex);
            }            

            if ((this.routes.length - 1) >= nextIndex) {
                // this.techChoiceFlag = this.showTechChoice;
                this.resourceIndex = -1;
                this.currentRouteName = this.routes[nextIndex].route_name;
                
            // } else if (this.showTechChoice && (this.techChoiceFlag || nextIndex == 1)) {
            //     this.currentRouteName = 'What technology does or will your product or concept use?';
            //     this.techChoiceFlag = false;
            } else {
                this.resourceIndex = nextIndex - this.routes.length;
                if((this.resourceTypes.length - 1) >= this.resourceIndex) {  
                    this.currentRouteName = this.resourceTypes[this.resourceIndex].route_name;    

                    if (!_.isUndefined(this.resourceTypes[this.resourceIndex].route_resource)) {
                        this.setCurrentResourcePage(this.resourceTypes[this.resourceIndex].route_resource);
                        
                        switch(this.resourceTypes[this.resourceIndex].route_resource){
                            case 'Managers':
                                this.setResourceTitle('Managers');
                                this.setCurrentSuggestedResource(this.projectManagersData);
                            break;
                            case 'Testers':
                                this.setResourceTitle('Testers');
                                this.setCurrentSuggestedResource(this.testersData);
                            break;
                            case 'Creatives':
                                this.setResourceTitle('Creatives');
                                this.setCurrentSuggestedResource(this.creativeServicesData);
                            break;
                            default:
                                this.setResourceTitle('Developers');
                                this.setCurrentSuggestedResource(this.developersData);
                            break;
                        }
                    }                     
                }
                else {
                    this.currentRouteName = "Finishing Up...";
                }
            }

            // this.showCompleteUpdate = (this.resourceIndex >= this.resourceTypes.length -1 );
        },
        async save(){
            if (this.finishButton == 'Finish') {
                if (this.selectedResource.length > 0) {
                    const payload = {
                        clientId: this.auth.data.activeClientId,
                        sendNotification: 1,
                    };
                    await this.saveSelectedResource(payload).then(() => {
                        this.$router.push('/client-wizard/talent-selected');
                        this.finishButton = 'Done';
                    });
                }
                else {
                    this.$refs.client_wizard.backToMenu();
                }
            }
            else if (this.finishButton == 'Done') {
                this.$refs.client_wizard.backToMenu();
            }  
        },
        setTechChoiceFlag() {
            this.techChoiceFlag = this.showTechChoice;
        }
        // isTechChoiceNeed
    },
    watch: {
        showTechChoice: {
            handler: 'setTechChoiceFlag'
        }
    },
}
</script>
