<template>
    <div v-if="feedbackForm && feedbackForm.form.data.form_template === 'feedback_entry_form'">
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <page-component v-for="page in formLinkData.form.data.formPages.data" :page="page" :key="page.id" @update="updateFieldValue"></page-component>
                        <b-form-checkbox v-model="formLinkData.is_anonymous" name="send_anonymous">Send as anonymous</b-form-checkbox>
                        <div class="mt-2">
                            <save-button :loading="isLoading" :options="button" @action="submit" :disabled="!valid">Send</save-button>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>

<script>
    import PageComponent from '@components/form-builder/page-component.vue';
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import SaveButton from '@components/form/button.vue';

    import { mapActions, mapGetters } from 'vuex'

    import {FormResponse} from "@common/model/form-builder/FormResponse";

    import AlertMixin from "@common/mixin/AlertMixin";

    export default {
        components: {
            PageComponent,
            PageHeader,
            PageContent,
            BackButton,
            SaveButton
        },
        mixins:[
            AlertMixin
        ],
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Let us know what you think',
                isLoading: false,
                formResponseDetails: [],
                formResponse: {
                    form_id: '',
                    form_link_id: '',
                    user_id: '',
                    is_anonymous: false
                },
                button: {
                    class: 'btn btn-success',
                    type: 'button',
                    width: '120px',
                }
            }
        },
        async created() {
            await this.getActiveFormLink({
                query: {
                    formId: 3, // feedback entry form id
                    isActiveOnly: true,
                    take: 1,
                    include: 'form,form.formPages'
                }
            });
        },
        computed: {
            ...mapGetters({
                formLinkData: 'formLink/data',
                authUser: 'auth/data'
            }),
            feedbackForm: function() {
                return this.formLinkData instanceof Array ? null : this.formLinkData;
            },
            valid() {
                return this.errors.items.length ? false : true;
            }
        },
        methods: {
            ...mapActions({
                getActiveFormLink: 'formLink/getFormLinks',
                saveFormResponseDetail: 'formResponseDetail/saveFormResponseDetail',
            }),
            updateFieldValue(id, value) {
                _.each(this.formLinkData.form.data.formPages.data, (page) => {
                    page.formPageFormElements.data.filter(el => {
                        if(el.id === id) {
                            el.value = value;
                        }
                    });
                });
            },
            submit() {
                this.isLoading = true;
                this.formResponseDetails = [];
                this.formResponse = {
                    form_id: this.formLinkData.form.data.id,
                    form_link_id: this.formLinkData.id,
                    user_id: this.authUser.data.id,
                    is_anonymous: this.formLinkData.is_anonymous
                };

                _.each(this.formLinkData.form.data.formPages.data, (page) => {
                    page.formPageFormElements.data.filter(el => {
                        if (el.value != null && el.value !== '') {
                            let formResponseDetail = {
                                form_page_form_element_id: el.id,
                                label: el.label,
                                value: el.value
                            };
                            this.formResponseDetails.push(formResponseDetail);
                        }
                    });
                });

                if (this.errors.items.length === 0) {
                    this.saveResponse()
                }
            },
            saveResponse() {
                const formResponse = new FormResponse();
                formResponse.save(this.formResponse).then((res) => {
                    let promises = [];
                    promises.push(this.saveResponseDetail(res.data.id));
                    Promise.all(promises).then((res) => {
                        this.isLoading = false;
                        this.notifyDialog('success', 'Success!', 'Feedback sent successfully!');
                    });
                });
            },
            async saveResponseDetail(formResponseId) {
                await this.formResponseDetails.forEach((responseDetail) => {
                    this.$set(responseDetail,'form_response_id', formResponseId);
                    this.saveFormResponseDetail(responseDetail);
                });
            }
        },
        mounted() {
        }
    }
</script>
