<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <div class="back-btn-wrapper">
                                    <back-button :text="backToMainButtonText" :route="backToMainButtonRouteTo"></back-button>
                                </div>
                            </div>
                        </div>
                        <data-table
                                :columns="data.columns"
                                :sortKey="sortKey"
                                :sortOrder="sortOrder"
                                :pagination="config.pagination"
                                :searchOptions="searchOptions"
                                :searchSuggestLimit="7"
                                :showSearch="false"
                                @sort="sortList($event)"
                                @select="updateList($event)"
                                @search="search($event)"
                                @prev="setPaginate('prev')"
                                @next="setPaginate('next')"
                                @page="setPaginate($event)">
                            <tbody>
                            <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(response, index) in formResponsesData"
                                    :key="response.id">

                                <td>{{ response.full_name }}</td>
                                <td>{{ response.date_submitted }}</td>
                                <td align="center">
                                    <a href="javascript:;" class="action-button" title="View response details" @click="showResponseDetails(response.id)">
                                        <i class="la la-file-text-o"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </data-table>
                    </div>
                </div>
            </div>
        </page-content>
        <response-details-modal v-if="opendetails" :formResponseDetails="formResponseDetails" :openModal="opendetails" @success="opendetails=false" @close="opendetails=false"></response-details-modal>
    </div>
</template>

<script>
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import DataTable from '@components/datatable.vue'

    //Modals
    import ModalDialog from '@components/modal-dialog.vue';
    import ResponseDetailsModal from '@views/pages/form/feedback-entry/_modals/response-details.vue';

    import { mapActions, mapGetters } from 'vuex'

    // Mixins
    import DataTableMixin from '@common/mixin/DataTableMixin'

    export default {
        data() {
            let sortOrder = {};
            let sortKey = 'created_at';
            let columns = [
                { label: 'Sender', key: 'full_name', sortKey: 'full_name', width: '45%', sortable: false },
                { label: 'Date Submitted', key: 'created_at', sortKey: 'created_at', width: '45%', sortable: true },
                { label: 'Action', key: 'action', sortKey: '', width: '10%', sortable: false }
            ];

            columns.forEach(function(col) {
                sortOrder[col.sortKey] = 'asc'
            });

            return {
                pageClass: 'ks-content-nav',
                title: 'Feedback Responses',
                backToMainButtonText: 'Go to main',
                backToMainButtonRouteTo: '/',

                sortKey:sortKey,
                sortOrder:sortOrder,
                pageLimit: 10,
                data: {
                    columns:columns
                },

                searchOptions: [],

                formResponseDetails: [],
                opendetails: false,
            }
        },
        components: {
            BackButton,
            PageContent,
            PageHeader,
            DataTable,
            ModalDialog,
            ResponseDetailsModal
        },
        mixins: [
            DataTableMixin
        ],
        async created() {
            await this.getActiveFormLink({
                query: _.merge(this.getParams(), {
                    formId: 3, // feedback entry form id
                    isActiveOnly: true,
                    take: 1,
                    include: 'form'
                })
            });

            await this.getFormResponses({
                query: _.merge(this.getParams(), {
                    formLinkId: this.activeFormLinkData.id,
                })
            });
        },
        computed: {
            ...mapGetters({
                activeFormLinkData: 'formLink/data',
                formResponsesData: 'formResponse/data',
                meta: 'formResponse/meta'
            })
        },
        methods: {
            ...mapActions({
                getActiveFormLink: 'formLink/getActiveFormLink',
                getFormResponses: 'formResponse/getFormResponses',
            }),
            async setPaginate(page) {
                this.gotoPage(page);
                await this.getFormResponses({
                    query: _.merge(this.getParams(), {
                        formLinkId: this.activeFormLinkData.id,
                    })
                });
                this.setPagination(this.meta.pagination);
            },
            async search(term) {
                this.gotoPage();
                this.setSearch(term);
                await this.getFormResponses({
                    query: _.merge(this.getParams(), {
                        formLinkId: this.activeFormLinkData.id,
                    })
                });
                this.setPagination(this.meta.pagination);
            },
            async sortList(key) {
                this.sortKey = key;
                this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
                this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
                await this.getFormResponses({
                    query: _.merge(this.getParams(), {
                        formLinkId: this.activeFormLinkData.id,
                    })
                });
                this.setPagination(this.meta.pagination);
            },
            async updateList(pageLimit) {
                this.setPaginationLimit(pageLimit);
                await this.getFormResponses({
                    query: _.merge(this.getParams(), {
                        formLinkId: this.activeFormLinkData.id,
                    })
                });
                this.setPagination(this.meta.pagination);
            },
            showResponseDetails(responseId) {
                _.each(this.formResponsesData, (response) => {
                    if (response.id === responseId) {
                        this.formResponseDetails = response.formResponseDetails;
                    }
                });
                this.opendetails = true;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .back-btn-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    .action-button {
        font-size: 20px;
    }
</style>
