<template>
  <a href="#" @click="navigateBack(route)" class="fs-back-btn">
    <i class="la la-long-arrow-left"></i>
    {{ text }}
  </a>
</template>

<style lang="scss" scoped>
.fs-back-btn {
  width: auto;
  z-index: 2;
  color: #333;
  background: #fff;
  border: 1px solid #cfd0cf;
  border-radius: 19px;
  padding: 8px 22px;
  height: 30px;
  line-height: 30px;
}
</style>

<script>
import {mapActions, mapGetters} from 'vuex';

export default {
  computed: {
    ...mapGetters({
      auth: 'auth/data',
      getRouteWizards: 'routeWizards/getRouteWizard',
    }),
  },
  methods: {
    navigateBack(route) {
      if (route == '/') {
        this.$router.push('/');
      } else if (this.getRouteWizards && route != '/') {
        this.$router.push({
          name: route,
          params: this.getRouteWizards,
        });
      } else {
        this.$router.push('/');
      }
    },
  },
  props: {
    text: {
      type: String,
      required: true,
    },
    route: {
      type: String,
      required: true,
    },
  },
};
</script>
