<template>
    <div :style="buttonStyle" class="button-dropdown-menu nav-item dropdown">
        <a class="button-text nav-link dropdown-toggle" 
            data-toggle="dropdown" 
            href="#" 
            role="button" 
            aria-haspopup="true" 
            aria-expanded="false"
            v-html="currentValue.text"
        >
        </a>
        <div class="dropdown-menu-wrapper">
            <div class="dropdown-menu" ari-labelledby="Preview">
                <template v-for="(option) in options">                
                    <a 
                        class="dropdown-item"   
                        href="#" @click.prevent="getSelectedVal(option)"
                        :key="option.id" 
                        :id="option.id"
                        :class="{'selected': option.text == currentValue.text}"                    
                    >                           
                        <span>{{ option.text }}</span>
                    </a>
                </template>                                                                            
            </div>
        </div>        
    </div>
</template>

<style lang='scss'>
    .button-dropdown-menu { 
        position: relative;
        .button-text {
            background: #f85d03;
            background-image: linear-gradient(#ff9e59, #f17825);
            width: 100%;
            display: inline-block;
            font-size: 12px;
            color: #fff;
            position: relative;
            text-align: center;
            white-space: normal;
            font-weight: 700;
            height: auto;
            padding: 6px;
            &:hover {
                color: #eee;
            }
            &:after {
                margin-top: auto;
                margin-bottom: auto;
                top: 0;
                bottom: 0;
                right: 6px;
                position: absolute;
            }
        }
        .dropdown-menu-wrapper {
            position: relative;
                .dropdown-menu {
                transform: unset !important;
                width: 100%;  
                position: absolute;
                max-height: 272px;
                overflow-y: auto;
                .dropdown-item.selected {
                    background: #e1e1e8;
                }
            }
        }
    }
</style>

<script>
export default {
    props: {
        options: {
            type: Array,
            default: []
        },
        dropdownMenuMaxHeight: {
            type: String,
            default: '200px'
        },
        width: {
            type: String,
            default: '100px'
        },
        selected: {
            type: Array,
            default: () =>{ return [] }
        }     
    },
    data() {
        return {
            value: [],
        }
    },
    mounted() {
        this.value = this.selected;
    },
    computed: {
        mappedOptions() {
            return this.options;
        },
        currentValue() {
            return this.value.length > 0 ? this.value[0] : this.selected.length > 0 ? this.selected[0] : this.mappedOptions[0];
           // return this.selected.length > 0 ? this.selected[0] : this.mappedOptions[0];
        },
        buttonStyle() {
            return `width:`+ this.width;
        }
    },
    methods: {
        getSelectedVal(selectedOption) {
            this.value = [];
            this.value.push(selectedOption);
            this.$emit('on-select', selectedOption);
        }
    }
}
</script>