<template>
    <div class="carousel-component">
        <div v-if="withHeader">
            <h3>{{ headerTitle }}</h3>
            <button class="btn btn-primary pull-right" :disabled="!selected2.length"
                @click="isMultipleProjects()"
                v-if="isSelectedResource && rows.length > 0">
                    Assign
            </button>
             <button class="btn btn-primary pull-right" :disabled="!unassigned.length"
                @click="unassignResource()"
                v-if="headerTitle == 'Currently Assigned Resource' && rows.length != 0">
                    Unassign
            </button>

            <!-- <button class="btn btn-primary pull-right"
                @click="suggestResource()"
                v-if="isSuggested">
                    Suggest
            </button>   -->
        </div>
        <div class="carousel-outer-container">
            <div class="carousel-middle-container">
                <div class="carousel-inner-container">
                    <div v-if="loading" class="loader"></div>
                    <carousel
                        v-else
                        :per-page="slidesPerPage"
                        :mouse-drag="mouseDrag"
                        :navigation-enabled="navigationEnabled"
                        :center-mode="centerMode"
                        :pagination-padding="paginationPadding"
                        :pagination-active-color="paginationActiveColor"
                        :pagination-color="paginationColor"
                        :perPageCustom = "[[320, 1], [375, 1], [500, 1], [620, 2], [900, 2], [1008,3], [1050,4], [1472, 5]]"
                        :navigation-click-target-size="navigationClickTargetSize">

                        <slide v-for="(row, index) in rows" :key="index">
                            <div class="container">
                                <div @click.prevent="photoClicked(row.profile_url, headerTitle)" class="profile_img">
                                    <div v-if="isSelectedStatus(row.teambuilder_status)"
                                         class="fs-user-photo align-self-center"
                                         :style="'background-image: url(\'' + photo(row) + '\'); cursor: pointer;'"
                                         @click="selected2.includes(row) ? selected2.splice(selected2.indexOf(row), 1) : selected2.push(row)"
                                         :class="{highlight: selected2.includes(row), 'disable-assigned': row.has_client_status}" >
                                    </div>
                                    <div v-else-if="headerTitle == 'Currently Assigned Resource'"
                                         class="fs-user-photo align-self-center"
                                         :style="'background-image: url(\'' + photo(row) + '\'); cursor: pointer;'"
                                         @click="unassigned.includes(row) ? unassigned.splice(unassigned.indexOf(row), 1) : unassigned.push(row)"
                                         :class="{unassign: unassigned.includes(row)}"
                                    >
                                    </div>
                                    <div v-else
                                         class="fs-user-photo align-self-center"
                                         :style="'background-image: url(\'' + photo(row) + '\');'"
                                         :class="{'disable-assigned': isSelectedResource, 'disable-assigned': row.has_client_status}" >
                                    </div>
                                </div>
                            </div>
                            <div class="emp-info" :class="{'has-btn-component': showButton, 'disable-assigned': row.has_client_status} ">
                                <div class="emp-name" v-if="isClientAccess">
                                    <a :href="row.profile_url" target="_blank">
                                        {{ row.first_name + ' ' + row.last_name }}
                                        <span class="la la-external-link ks-icon"></span>
                                    </a>
                                </div>
                                <div class="emp-name" v-else>
                                    <router-link :to="{name: 'employee', params: {id: row.id}}">
                                        {{ row.first_name + ' '+ row.last_name }}
                                    </router-link>
                                </div>
                                <div>
                                    <!--added this line ->:data-popover-content="'#popover-skill-' + headerTitle.replace(/\s/g, '') + index
                                        for dynamic in rows as if this isn't present popover skills will be repetitive-->
                                    <span data-trigger="hover" data-toggle="popover" :data-popover-content="'#popover-skill-' + headerTitle.replace(/\s/g, '') + index">
                                        {{ position(row.positions ? row.positions.data : "") }}
                                    </span>
                                </div>
                                <div class="button-status-container" v-if="isSuggested">
                                    <span class="emp-status" v-if="isSelectedResource">
                                        {{ row.teambuilder_status }}
                                    </span>
                                    <div v-if="isAdminAccess" class="btn-holder">
                                        <a href="#" @click="updateResourceAction('remove', index, row)" style="cursor:pointer;">
                                            <tool-tip data-placement="bottom" :title="'Click to remove from suggested.'" >
                                                <span :class="row.bucket_status == 'Removed' ? 'emp-status-removed' : 'emp-status'">
                                                   Suggested
                                                </span>
                                            </tool-tip>
                                        </a>
                                    </div>
                                    <div v-else class="btn-holder">
                                        <a href="#" v-if="((row.bucket_status == 'Selected') && (isTeamBuilder))" @click="updateResourceAction('unselect', index, row)" :style="(row.has_client_status) ? 'cursor:text;' : 'cursor:pointer;'">
                                            <tool-tip data-placement="bottom" :title="(row.has_client_status) ? 'Not Available' : 'Click to Unsave'" >
                                                <span :class="row.bucket_status == 'Removed' ? 'emp-status-removed' : 'emp-status'" v-if="isTeamBuilder">
                                                    {{ getResourceCaptionStatus(row) }}
                                                </span>
                                            </tool-tip>
                                        </a>
                                        <a href="#" v-else @click="updateResourceAction('select', index, row)" :style="(row.has_client_status) ? 'cursor:text;' : 'cursor:pointer;'">
                                            <tool-tip data-placement="bottom" :title="(row.has_client_status) ? 'Not Available' : 'Click to Save'" >
                                                <span :class="row.bucket_status == 'Removed' ? 'emp-status-removed' : 'emp-status'">
                                                    {{ getResourceCaptionStatus(row) }}
                                                </span>
                                            </tool-tip>
                                        </a>
                                    </div>
                                </div>
                                <popover-dialog :popoverId="'popover-skill-'+ headerTitle.replace(/\s/g, '') + index">
                                    <template slot="header">Skills</template>
                                    <template slot="body">
                                        <div class="popover-skill-block">
                                            <div class="resource-details-content" v-if="row.skills && row.skills.data.length">
                                                <div v-for="(skill,index) in row.skills.data" :key="skill.id">
                                                    <div v-if="index < 5">
                                                        <div class="ks-controls resource-skill-placeholder">
                                                            <span class="resource-skill">
                                                                {{ skill.name}}
                                                            </span>
                                                            <span class="resource-level" style="float: right;">
                                                                {{ skill.proficiency }}/10
                                                            </span>
                                                        </div>
                                                        <div class="ks-info">
                                                            <div class="progress ks-progress ks-progress-xs">
                                                                <div class="progress-bar bg-info"
                                                                    role="progressbar"
                                                                    :style="'width: ' + (skill.proficiency * 10) + '%'"
                                                                    v-bind:aria-valuenow="skill.proficiency"
                                                                    aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else class="popover-no-skill">
                                                No Skills to display
                                            </div>
                                        </div>
                                    </template>
                                </popover-dialog>
                            </div>
                            <div class="button-placement" v-if="showButton">
                                <label class="btn btn-primary" @click="onClick(row)">Assign to a project</label>
                            </div>
                             <!-- <div class="button-placement assignedBtn" v-if="headerTitle == 'Currently Assigned Resource'">
                                <label class="btn btn-primary" @click="unassignResource(row)">Unassign</label>
                            </div>  -->
                        </slide>
                    </carousel>
                    <div v-if="rows.length == 0 && !loading" class="no-resource">
                        <slot name="no-result">No {{ headerTitle }}(s)</slot>
                    </div>
                </div>
            </div>
        </div>
        <select-project-modal v-if="open" :assignedProjects="clientProjectByEmployee"
            :openModal="open" :title="title" @assign="projectSelected" @close="open = false"></select-project-modal>
    </div>
</template>

<style lang="scss" scoped>
    .assignedBtn {
        border-radius: 7px;
    }
    .button-placement {
        display: flex;
        justify-content: center;
    }
    .carousel-inner-container {
        margin: auto;
    }
    .carousel-middle-container {
        margin: 0 80px;
    }
    .carousel-outer-container {
        border-radius: 10px;
        border: 1px solid #dee0e1;
        padding: 1rem 0 !important;
    }
    .emp-info {
        padding: 8px 15px;
        text-align: center;
    }
    .emp-name {
        font-weight: bold;
    }
    .emp-info .button-status-container .emp-status:hover {
        color:#26a026 !important;
    }
    .fs-user-photo {
        height: 120px!important;
        width: 110px;
        box-sizing: border-box;
        background-color: #c1c1c1;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 2px solid #fff;
        margin: 0 auto;
    }
    h4 {
        margin: 10px 10px 15px 0px;
    }
    .no-resource {
        text-align: center;
        margin-bottom: 20px;
    }
    .popover-skill-block {
        padding: 5px 10px;
        width: 190px;
        font-family: Montserrat, sans-serif;
        color: #444;
        font-size: 8pt;
    }
    .popover-heading {
        font-family: Montserrat, sans-serif;
	}
    .popover-no-skill {
        font-size: 12px;
        text-align: center;
    }
    span.pcl {
        position: absolute;
        left: -1000px;
        top: -1000px;
    }
    .highlight {
       filter: opacity(60%);
    }
    .highlight::after  {
        content: '✔';
        position: relative;
        top: 17%;
        left: 28%;
        width: 70px;
        height: 70px;
        transform: translate(-50%,-50%);
        color: whitesmoke;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
    }
    .disable-assigned {
       filter: opacity(30%);
    }
    .emp-status {
        font-style: italic;
        font-weight: bold;
        color: green;
    }
    .emp-status-removed {
        font-style: italic;
        font-weight: bold;
        color: red;
    }
    .unassign {
       filter: opacity(60%);
    }
    .unassign::after  {
        content: '✖';
        position: relative;
        top: 17%;
        left: 28%;
        width: 70px;
        height: 70px;
        transform: translate(-50%,-50%);
        color: whitesmoke;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
    }
    .profile_img {
        margin: 0 auto;
        width: 110px;
        cursor: pointer;
    }
</style>

<style>
/* All Below are Overriden CSS */
    .carousel-component .VueCarousel-dot-container,
    .carousel-component .VueCarousel-dot-container > button {
        margin-top: 3px !important;
    }
    .carousel-component .VueCarousel-pagination {
        height: 40px;
    }
    .carousel-component .VueCarousel-navigation-button {
        font-size: 0px;
    }
    .carousel-component .VueCarousel-navigation-prev {
        background-image: url('/assets/img/smart-team-builder/carousel-prev.png');
    }
    .carousel-component .VueCarousel-navigation-next {
        background-image: url('/assets/img/smart-team-builder/carousel-next.png');
    }
</style>


<script>
// Library
import { Carousel, Slide } from 'vue-carousel';
import jQuery from 'jquery';
import _ from 'lodash';

// Mixin
import EmployeeMixin from "@common/mixin/EmployeeMixin";
import AlertMixin from '@common/mixin/AlertMixin';
// Component
import PopoverDialog from '@components/popover-dialog.vue';
import SelectProjectModal from '@views/pages/client/_modals/select-project.vue';
import ToolTip from '@components/fs-tooltip.vue';

import { mapActions, mapGetters } from 'vuex';

export default {
    components: {
        Carousel,
        Slide,
        PopoverDialog,
        ToolTip,
        SelectProjectModal
    },
    mixins: [
        EmployeeMixin,
        AlertMixin
    ],
    props: {
        headerTitle: {
            type: String,
            default: "Property: headerTitle"
        },
        rows: {
            type: Array
        },
        showButton: {
            type: Boolean,
            default: false
        },
        withHeader: {
            type: Boolean,
            default: true
        },
        isSelectedResource: {
            type: Boolean,
            default: false
        },
        isTeamBuilder: {
            type: Boolean,
            default: false,
        },
        isSuggested: {
            type: Boolean,
            default: false
        },
        onClick: Function,
        assignedResource: {
            type: Array
        },
        loading: {
            type: Boolean,
            default: false,
        },
        isClientAccess: {
            type: Boolean,
            default: false
        }
    },
    data() {
        /*
        * Please Check Vue Carousel Configurations
        * https://github.com/SSENSE/vue-carousel#configuration
        */
        return {
            fontSize: 10,
            selected: '',
            selected2: [],
            unassigned: [],
            clientProjectByEmployee: [],
            selectedFavorites: [],
            slidesPerPage: 4,
            mouseDrag: true,
            paginationPadding: 5,
            navigationEnabled: true,
            centerMode: true,
            paginationActiveColor: '#000000',
            paginationColor: '#808080',
            navigationClickTargetSize: 30,
            open: false,
            clientProjectIds: [],
            unassignClientProjectIds: [],
            isAdminAccess: true,
            selectProjectToAssignTitle: 'Select Project to Assign',
            unassignResourceTitle: 'Select Project to Unassign',
            currentRow: [],
            unassignedClientProjectIds: []
        }
    },
    computed: {
        ...mapGetters({
            projects: 'clientProjects/data',
            loggedInUser: 'auth/data',
        }),
    },
    methods: {
        ...mapActions({
            saveSelectedResource: 'clientTeamBuilder/saveSelectedTalents',
            saveResource: 'employeeClientProjects/saveResource',
            saveAssignedResource: 'employeeClientProjects/saveAssignedResource',
            deleteResource: 'employeeClientProjects/deleteResource',
            setClientId: 'wizardClientProspects/addStep1Data'
        }),
        photoClicked(url, title) {
            if(title !== 'Currently Assigned Resource' && title !== 'Client Selected Resource') {
               var  a = document.createElement('a');
                    a.target="_blank";
                    a.href=url;
                    a.click();
            }
        },
        getDownloadLink(profileUniqueStr) {
            return profileUniqueStr ? profileUniqueStr + '/pdf' : '';
        },
        setEmployeeClass(employeeId) {
            return 'profileCardURL' + employeeId;
        },
        getResourceCaptionStatus(row) {
            if (this.loggedInUser.data.hasOwnProperty('activeClientId')) {
                return row.bucket_caption_status;
            }

            if (row.hasOwnProperty('bucket_status')) {
               return row.bucket_status;
            }

            return row.teambuilder_status;
        },
        isSelectedStatus (status) {
            return this.isSelectedResource && status == 'Selected';
        },
        suggestResource(){
            this.setClientId(this.$route.params.id);
            this.$router.push('/suggest-resource');
        },
        updateResourceAction(action, i, row) {
            let resourceFilteredfields = {
                'employee_id': row.id,
                'status': (row.bucketId > 0)
                            ? (row.teambuilder_status == 'suggested' || row.teambuilder_status == 'declined') ? 'selected' : 'suggested'
                            : 'selected',
                'client_id': this.loggedInUser.data.activeClientId,
                'job_position_id': row.positions.data[0].position_id,
                'client_teambuilder_bucket_id': row.client_teambuilder_bucket_id,
                'action': action
            };
            let statCaption = this.getResourceCaptionStatus(row);

            if (row.has_client_status == 1 && action != 'remove') {
                return false;
            }

            this.$emit('update-resource-action', { params: resourceFilteredfields });
        },
        isMultipleProjects() {
            const projectCount = this.projects.length;
            this.clientProjectIds = [];

            if (!projectCount) {
                this.alertDialog('Unable to assign', 'Please add a new project.', 'OK', 'sm');
                return;
            }

            if (projectCount > 1) {
                this.open = true;
                this.title = this.selectProjectToAssignTitle;
            } else {
                let project = _.head(this.projects);
                    project = project ? project.id : 0;
                this.clientProjectIds.push(project);
            }
        },
        addToCurrentAssignedResource() {
            if (this.clientProjectIds.length > 0) {
                let assignedEmployee = [];
                let bucketUpdate = [];

                _.each(this.selected2, (resource, key) => {
                    let role =  this.position(resource.positions ? resource.positions.data : "")

                    _.each(this.clientProjectIds, (projectId, key) => {
                        assignedEmployee.push({
                            employee_id:resource.id,
                            client_project_id: projectId,
                            role:role,
                            start_date:null,
                            end_date:null
                        });

                        bucketUpdate.push({
                            client_project_id: projectId,
                            client_teambuilder_bucket_id: resource.client_teambuilder_bucket_id,
                            status: 'assigned'
                        });
                    });
                });

                const data = {
                    assignedEmployee: assignedEmployee,
                    unassignedEmployee: [],
                    bucketUpdate: bucketUpdate,
                    unassign: false
                }
                this.saveAssignedResource(data).then((res) => {
                    this.$emit('success', this.rows);
                    this.selected2 = [];
                    this.notifyDialog('success', 'Resources assigned successfully')
                });
            }
        },
        unassignCurrentResources() {
            if (this.unassignedClientProjectIds.length > 0) {
                let unassignedEmployee = [];
                let bucketUpdate = [];

                _.each(this.unassigned, (resource, key) => {
                    unassignedEmployee.push({
                        id: this.unassignedClientProjectIds[key].id
                    });

                    bucketUpdate.push({
                        client_project_id: this.unassignedClientProjectIds[key].id,
                        client_teambuilder_bucket_id: resource.client_teambuilder_bucket_id,
                        status: 'selected'
                    });
                });

                const data = {
                    assignedEmployee: [],
                    unassignedEmployee: unassignedEmployee,
                    bucketUpdate: bucketUpdate,
                    unassign: true
                }
                this.saveAssignedResource(data).then((res) => {
                    this.$emit('success', this.rows);
                    this.unassigned = [];
                    this.notifyDialog('success', 'Resources unassigned successfully')
                });
            }
        },
        projectSelected(selectedProjects, action) {
            if(action == 'Select Project to Unassign') {
                this.unassignClientProjectIds = selectedProjects;
            } else {
                this.clientProjectIds = selectedProjects;
            }
        },
        unassignResource() {
            // TODO: Checking if unassign resource in what specific project of the client

            let ids = []
            let vm = this;
            _.each(this.projects, function(post) {
                _.each(post.resources.data, function(comment){
                    if(vm.userExists(comment.employee_id)){
                        ids.push(comment)
                    }
                });
            });

            this.unassignedClientProjectIds = ids;
            this.projectSelected(this.unassignedClientProjectIds, 'Select Project to Unassign');
        },
        userExists(id) {
            return this.unassigned.some(function(el) {
                return el.id == id;
            });
        }
    },
    watch: {
        rows: function(val) {
            let $ = jQuery;

            this.$nextTick( () => {
                $("[data-toggle='popover']").popover({
                    html : true,
                    sanitize: false,
                    content: function() {
                        var content = $(this).attr('data-popover-content');
                        return $(content).children('.popover-body').html();
                    },
                    title: function() {
                        var title = $(this).attr('data-popover-content');
                        return $(title).children('.popover-heading').html();
                    }
                });

                let maxHeight = 0;

                $(".has-btn-component").each(function(){
                    if ($(this).height() > maxHeight) {
                        maxHeight = $(this).height();
                    }
                });

                $(".has-btn-component").height(maxHeight);
            });
        },

        clientProjectIds:  {
            handler: 'addToCurrentAssignedResource',
        },

        unassignClientProjectIds:  {
            handler: 'unassignCurrentResources',
        }
    },
    created(){

        if (this.loggedInUser.data.hasOwnProperty('activeClientId')) {
            this.isAdminAccess = false;
        }

        if($(window).width() <= 414){
            this.paginationPadding = 2;
        }

        if($(window).width() <= 320){
            this.paginationPadding = 1;
        }
    }
}
</script>
