<template>
    <div class="carousel-component">
        <div v-if="withHeader" class="pb-2">
            <span :class="classHeader">{{ headerTitle }}</span>
        </div>
        <div class="carousel-outer-container">
            <div class="carousel-middle-container">
                <div class="carousel-inner-container">
                    <div v-if="loading" class="loader"></div>
                    <carousel
                        v-else
                        :per-page="slidesPerPage"
                        :mouse-drag="mouseDrag"
                        :navigation-enabled="navigationEnabled"
                        :center-mode="centerMode"
                        :pagination-padding="paginationPadding"
                        :pagination-active-color="paginationActiveColor"
                        :pagination-color="paginationColor"
                        :perPageCustom = "[[320, 1], [375, 1], [500, 1], [620, 2], [900, 2], [1008,3], [1050,4], [1472, 5]]"
                        :navigation-click-target-size="navigationClickTargetSize">

                        <slide v-for="(row, index) in rows" :key="index">
                            <div class="container">
                                <div class="profile_img">
                                    <div class="fs-user-photo align-self-center"
                                         :style="'background-image: url(\'' + photo(row) + '\'); cursor: pointer;'"
                                         @click="selected = row.id"
                                         :class="{highlight: selected == row.id}" >
                                    </div>
                                </div>
                            </div>
                            <div class="emp-info">
                                <div class="emp-name">
                                    {{ row.first_name + ' ' + row.last_name }}
                                </div>
                                <div>
                                    <span>{{ position(row.positions ? row.positions.data : "") }}</span>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                    <div v-if="rows.length == 0 && !loading" class="no-resource">
                        <slot name="no-result">No {{ headerTitle }}(s)</slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .assignedBtn {
        border-radius: 7px;
    }
    .button-placement {
        display: flex;
        justify-content: center;
    }
    .carousel-inner-container {
        margin: auto;
    }
    .carousel-middle-container {
        margin: 0 80px;
    }
    .carousel-outer-container {
        border-radius: 10px;
        border: 1px solid #dee0e1;
        padding: 1rem 0 !important;
    }
    .fw-500 {
        font-weight: 500 !important;
    }
    .emp-info {
        padding: 8px 15px;
        text-align: center;
    }
    .emp-name {
        font-weight: bold;
    }
    .emp-info .button-status-container .emp-status:hover {
        color:#26a026 !important;
    }
    .fs-user-photo {
        height: 120px!important;
        width: 110px;
        box-sizing: border-box;
        background-color: #c1c1c1;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 2px solid #fff;
        margin: 0 auto;
    }
    h4 {
        margin: 10px 10px 15px 0px;
    }
    .no-resource {
        text-align: center;
        margin-bottom: 20px;
    }
    .popover-skill-block {
        padding: 5px 10px;
        width: 190px;
        font-family: Montserrat, sans-serif;
        color: #444;
        font-size: 8pt;
    }
    .popover-heading {
        font-family: Montserrat, sans-serif;
	}
    .popover-no-skill {
        font-size: 12px;
        text-align: center;
    }
    span.pcl {
        position: absolute;
        left: -1000px;
        top: -1000px;
    }
    .highlight {
       filter: opacity(60%);
    }
    .highlight::after  {
        content: '✔';
        position: relative;
        top: 17%;
        left: 28%;
        width: 70px;
        height: 70px;
        transform: translate(-50%,-50%);
        color: whitesmoke;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
    }
    .disable-assigned {
       filter: opacity(30%);
    }
    .emp-status {
        font-style: italic;
        font-weight: bold;
        color: green;
    }
    .emp-status-removed {
        font-style: italic;
        font-weight: bold;
        color: red;
    }
    .unassign {
       filter: opacity(60%);
    }
    .unassign::after  {
        content: '✖';
        position: relative;
        top: 17%;
        left: 28%;
        width: 70px;
        height: 70px;
        transform: translate(-50%,-50%);
        color: whitesmoke;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
    }
    .profile_img {
        margin: 0 auto;
        width: 110px;
        cursor: pointer;
    }
</style>

<style>
/* All Below are Overriden CSS */
    .carousel-component .VueCarousel-dot-container,
    .carousel-component .VueCarousel-dot-container > button {
        margin-top: 3px !important;
    }
    .carousel-component .VueCarousel-pagination {
        height: 40px;
    }
    .carousel-component .VueCarousel-navigation-button {
        font-size: 0px;
    }
    .carousel-component .VueCarousel-navigation-prev {
        background-image: url('/assets/img/smart-team-builder/carousel-prev.png');
    }
    .carousel-component .VueCarousel-navigation-next {
        background-image: url('/assets/img/smart-team-builder/carousel-next.png');
    }
</style>


<script>
// Library
import { Carousel, Slide } from 'vue-carousel';
import jQuery from 'jquery';
import _ from 'lodash';

// Mixin
import EmployeeMixin from "@common/mixin/EmployeeMixin";
import AlertMixin from '@common/mixin/AlertMixin';
// Component
import PopoverDialog from '@components/popover-dialog.vue';
import SelectProjectModal from '@views/pages/client/_modals/select-project.vue';
import ToolTip from '@components/fs-tooltip.vue';

import { mapActions, mapGetters } from 'vuex';

export default {
    components: {
        Carousel,
        Slide,
        PopoverDialog,
        ToolTip,
        SelectProjectModal
    },
    mixins: [
        EmployeeMixin,
        AlertMixin
    ],
    props: {
        headerTitle: {
            type: String,
            default: "Property: headerTitle",
        },
        rows: {
            type: Array
        },
        withHeader: {
            type: Boolean,
            default: true
        },
        isSelectedResource: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false,
        },
        isClientAccess: {
            type: Boolean,
            default: false
        },
        classHeader: {
            type: String,
            default: ''
        }
    },
    data() {
        /*
        * Please Check Vue Carousel Configurations
        * https://github.com/SSENSE/vue-carousel#configuration
        */
        return {
            fontSize: 10,
            selected: '',
            slidesPerPage: 4,
            mouseDrag: true,
            paginationPadding: 5,
            navigationEnabled: true,
            centerMode: true,
            paginationActiveColor: '#000000',
            paginationColor: '#808080',
            navigationClickTargetSize: 30,
            isAdminAccess: true,
        }
    },
    computed: {
        ...mapGetters({
            loggedInUser: 'auth/data',
        }),
    },
    methods: {
        ...mapActions({
        }),
    },
    watch: {
        rows: function(val) {
            let $ = jQuery;

            this.$nextTick( () => {
                $("[data-toggle='popover']").popover({
                    html : true,
                    sanitize: false,
                    content: function() {
                        var content = $(this).attr('data-popover-content');
                        return $(content).children('.popover-body').html();
                    },
                    title: function() {
                        var title = $(this).attr('data-popover-content');
                        return $(title).children('.popover-heading').html();
                    }
                });

                let maxHeight = 0;

                $(".has-btn-component").each(function(){
                    if ($(this).height() > maxHeight) {
                        maxHeight = $(this).height();
                    }
                });

                $(".has-btn-component").height(maxHeight);
            });
        },
        selected: function(val) {
            this.$emit('success', val);
        }
    },
    created() {
        if (this.loggedInUser.data.hasOwnProperty('activeClientId')) {
            this.isAdminAccess = false;
        }

        if($(window).width() <= 414){
            this.paginationPadding = 2;
        }

        if($(window).width() <= 320){
            this.paginationPadding = 1;
        }
    }
}
</script>
