<template>
<div>
   <div class="row">
    <div class="col col-sm-12" v-if="!loadedAssigned">
      <CarouselResources
        :rows="resourceCarouselData"
        :headerTitle="'Currently Assigned Resources'"
        :isClientAccess="true"
        :loading="loading"
      >
      <div slot="no-result">No Currently Assigned Resource(s)</div>
      </CarouselResources>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col col-sm-12" v-if="!loadedSuggested">
      <CarouselResources
        :rows="suggestedResourceCarouselData"
        :isTeamBuilder="true"
        :isClientAccess="true"
        :headerTitle="'Suggested Resources'"
        :loading="loading"
        :isSuggested = "true"
        @update-resource-action="updateResourceAction($event)"
      >
      <div slot="no-result">No Suggested Resource(s)</div>
      </CarouselResources>
    </div>
  </div>
</div>
</template>
<script>
import CarouselResources from '@components/carousel-resources.vue';
import EDBMixin from '@common/mixin/EDBMixin';
import {mapGetters, mapActions} from 'vuex';

export default {
  props: {
    clientId: {
      type: Number,
      required: true,
    }
  },
  components: {
    CarouselResources,
  },
  mixins: [
    EDBMixin
  ],
  data() {
    return {
      resourceCarouselData: [],
      suggestedResourceCarouselData: [],
      include: [
        'resources.employee',
        'resources.employee.positions',
        'resources.employee.photo',
        'resources.employee.skills',
      ],
      loadedAssigned: true,
      loadedSuggested: true,
      loading: false,
    };
  },
  computed: {
    ...mapGetters({
      client: 'clients/client',
      projects: 'clientProjects/data',
      loggedInUser: 'auth/data',
    }),
  },
  beforeRouteEnter (to, from, next) {
        next(vm => {
          vm.fromRoute = from;
        });
    },
  async created() {
      this.setUp();
  },
  methods: {
    ...mapActions({
      getClient: 'clients/getClient',
      getClientProjects: 'clientProjects/getClientProjects',
      getEmployeeClientProjects: 'employeeClientProjects/getEmployeeClientProjects',
      saveSelectedResource: 'clientTeamBuilder/saveSelectedTalents',
    }),
    async updateResourceAction(params) {
      await this.saveSelectedResource({
                selectedEmployee: params,
                client_id: this.loggedInUser.data.activeClientId,
                client_email: this.loggedInUser.data.email,
      });
      this.reloadSuggestedResources()
    },
    async resourceClientProjects() {
        return await this.getEmployeeClientProjects({query: {take:999999}});
    },
    async setUp() {
      this.loading = true;
      await this.reloadGetClientProjects();
      await this.reloadSuggestedResources();
      this.loading = false;
    },
    async reloadGetClientProjects() {
        await this.getClientProjects({
          query: {
            client_id: this.clientId,
            include: this.include.join(','),
          },
        }).then(() => {
          /* Currently Assigned Resource assigned in project */
          this.resourceCarouselData = this.resourceCarousel(this.projects).map(
            obj => ({...obj, bucket_status: 'Assigned'}),
          );
          this.loadedAssigned = false;
        });
    },
    async reloadSuggestedResources() {
      this.loading = true;
      this.loadedSuggested = true;
      this.suggestedResourceCarouselData = [];
      let tempSuggestedResource = [];
      let hasProject = false;
      let removeFlag = false;
      let assignedResources = this.resourceCarouselData;
      let resourceClientProjects = await this.resourceClientProjects();
      await this.getClient(this.clientId).then(() => {
        /* Getting the suggested/selected/assigned in projects */
        tempSuggestedResource = this.client.employeeSelected.data.map(
          emp => {
            emp.employee.data.bucket_status = this.jsUcFirst(emp.status);
            emp.employee.data.bucket_caption_status = this.jsUcFirst(emp.status_caption);
            emp.employee.data.has_client_status = false;
            return emp.employee.data;
          },
        );

        tempSuggestedResource.forEach((resource) => {
            hasProject = false; // not part of the employeeDB
            removeFlag = false;
            let employeementStatus = resource.employeeStatuses.data[0].status.name;
            resourceClientProjects.data.forEach((employee)=> {
              if(resource.id == employee.employee_id && employee.client_project_id != 32  && resource.bucket_status == 'Suggested') {
                hasProject = true;
              }
            });

            if(hasProject) {
              resource.has_client_status = true;
            }

            assignedResources.forEach((res) => {
              if (resource.id == res.id) {
                removeFlag = true;
              }
            });
            
            if (employeementStatus != 'Resigned' && employeementStatus != 'Suspended' && employeementStatus != 'Terminated') {
              if (!removeFlag) {
                this.suggestedResourceCarouselData.push(resource);
              }
            }
        });
        this.loadedSuggested = false;
      });
      this.loading = false;
    },
    resourceCarousel(projects) {
      let carouselArray = [];
      let data = {};

      if (projects.length > 0) {
        for (let index in projects) {
          let resourceData = projects[index].resources.data;
          if (resourceData.length > 0) {
            for (let subIndex in resourceData) {
              let exists = !!data[resourceData[subIndex]['employee_id']];
              let employeementStatus = resourceData[subIndex]['employee'].data.employeeStatuses.data[0].status.name;

              if ((!exists) && (employeementStatus != 'Resigned' && employeementStatus != 'Suspended' && employeementStatus != 'Terminated')) {
                data[resourceData[subIndex]['employee_id']] = [
                  resourceData[subIndex]['employee'].data,
                ];
                carouselArray.push(resourceData[subIndex]['employee'].data);
              }
            }
          }
        }
      }

      return _.orderBy(carouselArray, 'first_name');
    },
  },
  watch: {
    clientId: function(newValue, oldValue) {
      this.setUp();
    },
  },
};
</script>
