<template>
    <div class="row address-container">
        <div class="col-md-12 street">
            <input
                v-model="street"
                v-validate="'required'"
                data-vv-validate-on="blur|change"
                type="text"
                placeholder="Street"
                :id="'input_question_' + questionId"
                name="street"
                :class="{ error: errors.has('street') }"
                @input="handleAddress"
                @change="handleAddress"
                @blur="$emit('blur')"
                @focus="$emit('focus')"
            >
            <div>
                <span class="form-error" v-if="errors.has('street')" :data="'question_' + questionId" business_address>
                    {{ errors.first('street') }}
                </span>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 mt-2 pr-1 city">
            <input
                v-model="city"
                v-validate="'required'"
                data-vv-validate-on="blur|change"
                type="text"
                placeholder="City"
                :id="'input_question_' + questionId"
                :name="'city'"
                :class="{ error: errors.has('city') }"
                @input="handleAddress"
                @change="handleAddress"
                @blur="$emit('blur')"
                @focus="$emit('focus')"
            >
            <div>
                <span class="form-error" v-if="errors.has('city')" :data="'question_' + questionId" business_address>
                    {{ errors.first('city') }}
                </span>
            </div>
        </div>


        <div class="col-xl-4 col-lg-4 col-md-12 mt-2 pr-1 pl-1 state">
            <input
                v-model="state"
                v-validate="'required'"
                data-vv-validate-on="blur|change"
                type="text"
                placeholder="State"
                :id="'input_question_' + questionId"
                :name="'state'"
                :class="{ error: errors.has('state') }"
                @input="handleAddress"
                @change="handleAddress"
                @blur="$emit('blur')"
                @focus="$emit('focus')"
            >
            <div>
                <span class="form-error" v-if="errors.has('state')" :data="'question_' + questionId" business_address>
                    {{ errors.first('state') }}
                </span>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 mt-2 pl-1 zip">
            <input
                v-model="zip"
                v-validate="'required'"
                data-vv-validate-on="blur|change"
                type="text"
                placeholder="Zip"
                :id="'input_question_' + questionId"
                :name="'zip'"
                :class="{ error: errors.has('zip') }"
                @input="handleAddress"
                @change="handleAddress"
                @blur="$emit('blur')"
                @focus="$emit('focus')"
            >
            <div>
                <span class="form-error" v-if="errors.has('zip')" :data="'question_' + questionId" business_address>
                    {{ errors.first('zip') }}
                </span>
            </div>
        </div>
        <span
            v-if="error"
            class="form-error form__error col-md-12"
        >
            {{ error }}
        </span>
    </div>
</template>

<style scoped>
    @media screen and (max-width: 995px) {
        div.zip {
            padding-left: 15px!important;
        }

        div.city, div.state {
            padding-right: 15px!important;
        }

        div.state {
            padding-left: 15px!important;
        }
        
        input {
            padding-top: 19px;
            padding-bottom: 19px;
        }
    }

    @media screen and (max-width: 768px) {
        .address-container {
            margin-left: 0px;
            padding: 0;
            width: 100%!important;
        }

        .main-container input {
            max-width: 100%!important;
        }

        div.state > input {
            display: block!important;
        }

        div.state, div.zip, div.street, div.city {
            padding: 0!important;
        }

        input {
            padding-top: 19px;
            padding-bottom: 19px;
        }
    }

    input {
        padding-top: 19px;
        padding-bottom: 19px;
    }

    /* .address-container{
      
    } */
    .address-container input{
        width: 100%;
    }
    .main-container input[type="text"] {
        height: 30px;
        border: 1px solid #dddddd;
        width: 100%;
        padding-left: 7px;
    }
    .main-container input[type="text"]::placeholder {
        color: #cccccc;
        font-style: italic;
    }
</style>

<script>
export default {
    $_veeValidate: {
        value() {
            return this.value;
        },
        name() {
            return this.name;
        },
    },
    props: {
        error: {
            type: String,
            default: null,
        },
        value: {
            type: String,
            default: '',
        },
        name: {
            type: String,
            default: '',
        },
        breakDown: {
            type: Object,
            default: function() {
                return {
                    street: '',
                    city: '',
                    state: '',
                    zip: '',
                };
            },
        },
        questionId: {
            type: Number,
            default: '',
        },
    },
    created() {
        const { street, city, state, zip } = this.breakDown;
        this.street = street;
        this.city   = city;
        this.state  = state;
        this.zip    = zip;
    },
    data() {
        return {
            street: '',
            city: '',
            state: '',
            zip: '',
        };
    },
    computed: {
        isValid() {
            return Object.keys(this.fields).some(key => this.fields[key].valid);
        },
    },
    methods: {
        handleAddress() {
            const { street, city, state, zip } = this;
            const breakDown = { street, city, state, zip };
            this.$emit('breakdown', breakDown);

            const fullAddress = `${street}, ${city}, ${state}, ${zip}`;
            this.$emit('input', fullAddress);
        },
        async validate() {
            let passed = false;
            await this.$validator.validate().then(result => {
                passed = result;
            });

            return passed;
        },
    },
};
</script>
