<template>
    <div>
        <page-header :title="title"></page-header>
        <form-wizard
            color="#007840"
            error-color="#ff4949"
            step-size="xs"
            ref="wizard"
            class="component-wizard"
            :back-button-text=backButton
            :next-button-text=nextButton
            :finish-button-text=finishButton
            :title="''"
            :subtitle="''"
            :startIndex="startIndex"
            @on-complete="onComplete"
            @on-change="onChange">

            <tab-content
                v-for="(component, index) in components"
                :key="index"
                :before-change="beforeChange">
                <div class="component-content" v-if="component.repeating">
                    <slot :name="component.name + '-' + index"></slot>
                </div>
                <div class="component-content" v-else>
                    <slot :name="component.name"></slot>
                </div>
            </tab-content>

            <button
                class="wizard-btn btn-color"
                slot="custom-buttons-left"
                v-if="activeTAbIndex == 0"
                @click="backToMenu">
                <span class="la la-long-arrow-left"></span> {{ menuName }}
            </button>

            <button
                class="wizard-btn skip-btn"
                slot="custom-buttons-right"
                v-if="skipButton"
                @click="skipStep">
                {{ skipButton }}
            </button>

        </form-wizard>
    </div>
</template>

<style lang="scss">
    .vue-form-wizard {
        .wizard-header { padding: 0; }
        .wizard-tab-content { padding: 20px 20px 10px; }
    }

    @media screen and (max-height: 720px) {
        .header-title span:first-child::after {
            border-top-left-radius: 18px!important;
            margin-left: -5px!important;
        }
    }
</style>

<style lang="scss" scoped>
    .component-wizard {
        padding: 60px 15px 0;
    }
    .component-content {
        height: 60vh;
        overflow-y: auto;
        margin-bottom: 18px;
    }
    .btn-color {
        background-color: rgb(0, 120, 64);
        border-color: rgb(0, 120, 64);
        color: white;
    }
    .skip-btn {
        background-color: rgb(234, 234, 234);
        border-color: rgb(234, 234, 234);
        color: #333;
        margin-right: 5px;
    }
</style>

<script>
// components
import PageHeader from '@components/page-header.vue';
import { FormWizard, TabContent } from 'vue-form-wizard'

import { mapGetters, mapActions } from 'vuex';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';

export default {
    components: {
        FormWizard,
        TabContent,
        PageHeader,
    },
    props: {
        title: {
            type: String,
            default: '',
        },
        components: {
            type: Array,
            required: true,
        },
        backButton: {
            type: String,
            default: "Back",
        },
        nextButton: {
            type: String,
            default: "Next",
        },
        finishButton: {
            type: String,
            default: "Finish",
        },
        beforeChange: {
            type: Function,
        },
        menuName: {
            type: String,
            default: 'Back to Menu',
        },
        menuRoute: {
            type: String,
            required: true,
        },
        startIndex: {
            type: Number,
        },
        skipButton: {
            type: String,
        },
    },
    data() {
        return {
            activeTAbIndex: 0,
        };
    },
    computed : {
        ...mapGetters({
            getRouteWizards: 'routeWizards/getRouteWizard',
        }),
    },
    methods: {
        onComplete() {
            this.$emit('onComplete');
        },
        onChange(prevIndex, nextIndex) {
            this.activeTAbIndex = nextIndex;
            this.$emit('onChange', prevIndex, nextIndex);
        },
        backToMenu() {
            if (this.getRouteWizards) {
                this.$router.push({
                    name: this.menuRoute.slice(1),
                    params: this.getRouteWizards
                });
            } else {
                this.$router.push('/');
            }
        },
        skipStep() {
            this.$emit('skipStep');
        },
        skipSteps(n) {
            for (let i = 0; i < n; i++) {
                this.$refs.wizard.nextTab();
            }
        },
        changeTab(oldIndex, newIndex) {
            this.$refs.wizard.changeTab(oldIndex, newIndex);
        }
    },
}
</script>
