<template>
    <div class="card">
        <div class="card-header border-bottom-1">
            <h3>{{ title }}</h3>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="text-left border-bottom-1 col-md-12">
                    <p> 
                        <span  class="font-weight-bold">Legend: </span>
                        <span class="badge ks-circle badge-danger mr-2">Regular</span>&nbsp;
                        <span class="badge ks-circle badge-warning">Special</span>
                    </p>
                </div>    
                <div class="col-md-12">
                    <div class="list-container">
                        <ul>
                            <li v-for="(holiday) in holidaystoBeShown"
                            :key="holiday.id">
                                <div class="row">
                                    <div  v-if="holiday.type == 'regular'" class="col-md-12">
                                        <span class="badge font-italic ks-circle badge-danger">{{ formatDate(holiday.date) }}</span>
                                    </div>
                                    <div v-else class="col-md-12">
                                        <span class="badge font-italic ks-circle badge-warning">{{ formatDate(holiday.date) }}</span> 
                                    </div>
                                    <div class="col-md-12">
                                        <span class="holiday-name"> {{holiday.name}}</span>
                                    </div>
                                </div>      
                            </li>
                            <li v-if="!this.holidays.length">
                            <strong>No Holidays Result.</strong>
                            </li> 
                        </ul>                        
                    </div>    
                </div>
                <div class="col-md-12">    
                    <a class="showlink" :style="((currentPage == totalPages) || (!this.holidays.length)) ? 'cursor:text; display:none;' : 'cursor:pointer;'"  @click="nextPage" :disabled="currentPage == totalPages">Show More</a>   
                </div>    
            </div>            
        </div>
    </div>  
</template>
<style scope>  
	.card {
	    margin-top:20px;
	}
    .card-header h3{
        font-size:17px;
        display: inline;
        text-align: center;
        width: 100%;
    }
    .card-block a.showlink {
        font-size:14px;
        border: 1px solid #cfd0cf;
        border-radius: 19px;
        padding: 8px 22px;
        height: 30px;
    }
    .card-block a.showlink:hover {
        background:#ecf0f1;
        color:#2b2b2b;
    }
    .card-block p {
        padding:0;
        margin:0;
    }
    .card-block .list-container {
        margin-top:20px;
        margin-bottom:25px;
    }
    .card-block .list-container ul {
        margin: 0 !important;
        padding: 0 !important;
        list-style: none;
     }
    .card-block .list-container  ul li{
       font-family: "Montserrat", sans-serif;
       padding-top:5px;
       padding-bottom:5px;
       line-height: 1.8em;
       font-size:13px;
       display: block;
       text-align: left;
       border-top: dashed 1px #ccc;
    }
    .card-block ul li span.badge{
        min-width: 150px;
        margin-right:20px;
        text-align: left;
        font-size:13px;
    }
    .holiday-name {
        font-weight: 500;
        padding-left: 20px;
        display: inline-block;
    }
    
    @media screen and (max-width: 1024px) {
        .card {
            margin-top:10px;
        }
        h5.card-header {
            font-size: 15px !important;
        }
    }
    @media screen and (max-width: 991px) {
        .card {
            margin-top:10px;
        }
        h5.card-header {
            font-size: 14px !important;
        }
        .card-block ul li{
            font-size:13px;
        }
        .card-block ul li span.badge{
            font-size:13px;
        }        
    }
</style>
<script>
import DataTable from '@components/datatable.vue';
import moment from 'moment';
// mixins
import DataTableMixin from '@common/mixin/DataTableMixin';
import AlertMixin from '@common/mixin/AlertMixin';
//Get Actions/Getters
import { mapActions, mapGetters } from 'vuex';

export default {
    data(){

            return {
				title:'Upcoming Employee Holidays',
				pageClass: 'ks-content-nav',
				limit: 5,
            	open: false,
                loading: false,
				data: {
					rows: []
				},
				form: {
	                holiday:{}
                },
                currentPage: 1
			}
    },
    filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
    },
    async created() {
            this.loading = true;
            this.setSearchBy('upcoming');
            await this.getData();
            this.loading = false;
    },
    computed: {
        ...mapGetters({
            holidays:'holiday/data',
            meta:'holiday/meta',
        }),
        holidaystoBeShown() {
            return this.holidays.slice(0, this.currentPage * this.limit);
        },
        totalPages() {
            return Math.ceil( this.holidays.length / this.limit);
        }
    }, 
    methods: {
        ...mapActions({
			getHolidays: 'holiday/getHolidays',
        }),
        nextPage(){
            if(this.currentPage <  this.totalPages) this.currentPage++;
        },
        prevPage(){
            this.currentPage = this.currentPage - 1 || 1;
        },
        formatDate(date) {
            let monthIndex = moment(String(date)).format('M') - 1;
            let day = moment(String(date)).format('DD') ;
            let year =  moment(String(date)).format('YYYY') ;
            
            var monthNames = [
              "January", "February", "March",
              "April", "May", "June", "July",
              "August", "September", "October",
              "November", "December"
            ];
          
            return monthNames[monthIndex] + ' ' + day + ', ' + year;
        },
        async getData() {
            this.loading = true;
            await this.getHolidays({query:this.getParams()});
            this.loading = false;
        },
        async paginate(page) {
            this.setSearchBy('upcoming');
            await this.getData();

        }, 
        async reload() {
            await this.getData();
            this.open = false;
        }        
    },
    components: {
        DataTable
    },
    mixins: [
        DataTableMixin,
        AlertMixin
    ]
};
</script>