<template>
    <div class="carousel-component">
        <h3 class="header-title">
            <span>{{ headerTitle }}</span>
            <span class="float-right ">{{ selectedLabel }}: {{ selectedCount }}</span>
        </h3>
        <div class="d-none">{{ resources }}</div>
        <div class="carousel-outer-container">
            <div v-if="loading" class="loader"></div>
            <div v-else class="carousel-middle-container">
                <div class="carousel-inner-container">
                    <carousel
                        v-if="isHybrid"
                        :per-page-custom="slidesPerPageCustom"
                        :mouse-drag="mouseDrag"
                        :navigation-enabled="navigationEnabled"
                        :center-mode="centerMode"
                        :pagination-enabled="paginationEnabled"
                        :navigation-click-target-size="navigationClickTargetSize">
                        <slide v-for="(row, index) in rows" :key="index">
                            <div class="slide-wrapper">
                                <div class="fs-user-photo-container">
                                    <a :href="row.profile_url" target="_blank" class="emp-name">
                                        <div class="fs-user-photo align-self-center" :style="'background-image: url(\'' + photo(row) + '\')'"></div>
                                    </a>
                                </div>
                                <div class="fs-information" :class=" showButton ? 'has-btn-component' : '' ">
                                    <div class="employee-info text-center">
                                        <div class="fs-shorten emp-name">
                                            <a :href="row.profile_url" target="_blank">
                                                {{ row.first_name + ' ' + row.last_name }}
                                                <span class="la la-external-link ks-icon"></span>
                                            </a>
                                        </div>
                                        <div class="fs-shorten">
                                            <span class="fs-position">
                                                {{ position(row.positions.data) }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="skill-container">
                                        <div class="resource-details-content" v-if="row.skills.data && row.skills.data.length">
                                            <div v-for="(skill,index) in row.skills.data" :key="skill.id">
                                                <div v-if="index < 5">
                                                    <div class="ks-controls resource-skill-placeholder" data-trigger="hover focus" data-toggle="popover" :data-content="skill.name">
                                                        <span class="resource-skill" @mouseover="checkPopover">
                                                            {{ skill.name }}
                                                        </span>
                                                        <span class="resource-level">
                                                            {{ skill.proficiency }}/10
                                                        </span>
                                                    </div>
                                                    <div class="ks-info">
                                                        <div class="progress ks-progress ks-progress-xs">
                                                            <div class="progress-bar bg-info"
                                                                role="progressbar"
                                                                :style="'width: ' + (skill.proficiency * 10) + '%'"
                                                                v-bind:aria-valuenow="skill.proficiency"
                                                                aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="resource-button">
                                    <div class="fs-action col-sm-12 btn-group" v-if="isAvailable(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-available buttonAdminStyle" @click="suggestEmp(row, index)">
                                            <span>{{ getLabel(row.status, 1) }}</span>
                                        </button>
                                    </div>
                                    <div class="fs-action col-sm-12 btn-group" v-if="isPicked(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-suggested buttonAdminStyle" @click="unsuggestEmp(row.id, index)">
                                            <span>{{ getLabel(row.status, 1) }}</span>
                                            <span class="la la-star ks-icon"></span>
                                        </button>
                                    </div>
                                    <div class="fs-action col-sm-12 btn-group" v-if="isSuggested(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-suggested buttonAdminStyle" @click="updateStatus(row.clientTeambuilderBucket, row.id, index)">
                                            <span>{{ getLabel('picked', 1) }}</span>
                                        </button>
                                    </div>
                                    <div class="fs-action col-sm-12 btn-group" v-if="isSelected(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-selected" style="cursor:default">
                                            <span>{{ getLabel(row.status, 0) }}</span>
                                        </button>
                                    </div>
                                    <div class="fs-action col-sm-12 btn-group" v-if="isDeclined(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-declined" style="cursor:default">
                                            <span>{{ getLabel(row.status, 1) }}</span>
                                        </button>
                                    </div>
                                    <div class="fs-action col-sm-12 btn-group" v-if="isAssigned(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-assigned buttonAdminStyle" @click="updateStatus(row.clientTeambuilderBucket, row.status, index)">
                                            <span>{{ getLabel(row.status, 1) }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                    <!--
                        This Carousel consists of Employees that are
                        suggested used by client
                     -->
                    <carousel
                        v-else
                        :per-page-custom="slidesPerPageCustom"
                        :mouse-drag="mouseDrag"
                        :navigation-enabled="navigationEnabled"
                        :center-mode="centerMode"
                        :pagination-enabled="paginationEnabled"
                        :navigation-click-target-size="navigationClickTargetSize">
                        <slide v-for="(row, index) in rows" :key="index">
                            <div class="slide-wrapper">
                                <div class="fs-user-photo-container">
                                    <a :href="row.profile_url" target="_blank" class="emp-name">
                                        <div class="fs-user-photo align-self-center" :style="'background-image: url(\'' + photo(row) + '\')'"></div>
                                    </a>
                                </div>
                                <div class="fs-information" :class=" showButton ? 'has-btn-component' : '' ">
                                    <div class="employee-info text-center">
                                        <div class="fs-shorten emp-name">
                                            <a :href="row.profile_url" target="_blank">
                                                {{ row.first_name }} {{ getLastnameInitial(row.last_name) }}
                                                <span class="la la-external-link ks-icon"></span>
                                            </a>
                                        </div>
                                        <div class="fs-shorten">
                                            <span class="fs-position">
                                                {{ row.positions }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="skill-container">
                                        <div class="resource-details-content" v-if="row.skills && row.skills.length">
                                            <div v-for="(skill, index) in row.skills" :key="skill.id">
                                                <div v-if="index < 3">
                                                    <div class="ks-controls resource-skill-placeholder" data-trigger="hover focus" data-toggle="popover" :data-content="skill.skill.name">
                                                        <span class="resource-skill" @mouseover="checkPopover">
                                                            {{ skill.skill.name }}
                                                        </span>
                                                        <span class="resource-level">
                                                            {{ skill.proficiency }}/10
                                                        </span>
                                                    </div>
                                                    <div class="ks-info">
                                                        <div class="progress ks-progress ks-progress-xs">
                                                            <div class="progress-bar bg-info"
                                                                role="progressbar"
                                                                :style="'width: ' + (skill.proficiency * 10) + '%'"
                                                                v-bind:aria-valuenow="skill.proficiency"
                                                                aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="resource-button">
                                    <div class="fs-action col-sm-12 btn-group" v-if="isAvailable(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-available buttonClientStyle" @click="saveResource(row, index)">
                                            <span>{{ getLabel(row.status, 1) }}</span>
                                        </button>
                                    </div>
                                    <div class="fs-action col-sm-12 btn-group" v-if="isSuggested(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-selected is-half buttonClientStyle" @click="selectEmp(row)">
                                            <span>{{ getLabel(row.status, 2) }}</span>
                                        </button>
                                        <button type="button" tag="button" class="fs-declined is-half buttonClientStyle" @click="declineEmp(row)">
                                            <span>{{ getLabel(row.status, 0) }}</span>
                                        </button>
                                    </div>
                                    <div class="fs-action col-sm-12 btn-group" v-if="isSelected(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-selected buttonClientStyle" @click="unselectEmp(row)">
                                            <span>{{ getLabel(row.status, 1) }}</span>
                                        </button>
                                    </div>
                                    <div class="fs-action col-sm-12 btn-group" v-if="isDeclined(row.status)" role="group">
                                        <button type="button" tag="button" class="fs-declined buttonClientStyle" @click="undeclineEmp(row)">
                                            <span>{{ getLabel(row.status, 1) }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                    <div v-if="resources.length == 0" class="no-resource">
                        No Resource Available
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    span.pcl {
        position: absolute;
        left: -1000px;
        top: -1000px;
    }
    input.pcl {
        position: absolute;
        z-index: -10000;
        opacity: 0;
    }
    .carousel-inner-container {
        margin: auto;
    }
    .carousel-middle-container {
        margin: 0 80px;
    }
    .carousel-outer-container {
        padding: 1rem 0;
    }
    .fs-counter {
        font-size: 1rem;
        bottom: -15px;
    }
    .fs-shorten {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
        height: 1.4rem;
	}
    .fs-bind {
        font-size: 13px;
        font-weight: 600;
    }
    .fs-information {
        position: relative;
        padding: 10px 5px 0;
        text-align: left;
        height: 200px;
        .employee-status {
            position: relative;
            min-height: 22px;
            i {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
    .buttonClientStyle:hover {
            background: #383;
    }
    .buttonAdminStyle:hover {
            background: rgb(37, 130, 236);
    }
    .employee-info .link {
        color: black;
        font-weight: bold;
    }
    .no-resource {
        text-align: center;
        margin-bottom: 20px;
    }
    .popover-skill-block {
        padding: 5px 10px;
        width: 190px;
        font-family: Montserrat, sans-serif;
        color: #444;
        font-size: 8pt;
    }
    .popover-heading {
        font-family: Montserrat, sans-serif;
	}
    .popover-no-skill {
        font-size: 12px;
        text-align: center;
    }
    .header-title {
        padding: 20px 0 5px;
        border-bottom: 5px solid #007840;
    }
    .header-title span:first-child {
        padding: 10px 20px 10px;
        position: relative;
        background: #007840;
        color: white;
    }
    .header-title span:first-child:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-bottom: 47px solid #007840;
        border-right: 80px solid transparent;
    }
    .search-field {
        position: relative;
        float: right;
        font-size: 17px !important;
        padding: 0;
        color: #007840;
        cursor: pointer;
        .add-icon {
            background-image: url(/assets/img/smart-team-builder/add.png);
            background-size: 22px;
            width: 22px;
            height: 22px;
            position: absolute;
            top: 6px;
            left: -26px;
        }
    }
    .choose {
        width: 100%;
        border-radius: 0;
        background: black;
        border-color: black;
        color: white;
    }
    .selected {
        width: 100%;
        border-radius: 0;
        background: #007840;
        border-color: #007840;
        color: white;
    }
	.slide-wrapper {
        margin: 10px 35px 30px!important;
        box-shadow: 3px 5px 15px rgba(0,0,0,0.16);
        .resource-button {
            .fs-action {
                padding: 0;
                button {
                    border-radius: 0;
                    border: none;
                    color: white;
                    font-size: 0.9rem;
                    padding: 7px;
                    width: 100%;
                    text-align: center;
                    &.is-half { width: 50%; }
                }
            }
        }
    }
    .form-control {
        font-family: "Montserrat", sans-serif;
        z-index: 0;
        height: 38px;
        border-radius: 2px;
        border: solid 1px #dedede;
        font-size: 12px;
        color: #333;
        margin-bottom: -29px;
        margin-top: -11px;
    }
    .fs-user-photo-container {
        background: url("../../../public/assets/img/thumbs/profile/banner-cover_thumbnail.png") no-repeat #DEDBDC;
        background-size: cover;
        padding: 10px 0;
        position: relative;
        .remove {
            background: black;
            color: white;
            border-radius: 100px;
            border-width: 1px;
            font-size: 23px;
            position: absolute;
            top: -10px;
            right: -10px;
            cursor: pointer;
        }
        .fs-user-photo {
            height: 120px!important;
            width: 110px;
            box-sizing: border-box;
            background-color: #c1c1c1;
            height: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 2px solid #fff;
            margin: 0 auto;
        }
    }
    .carousel-icons {
        position: absolute;
    }

    .emp-name {
        font-weight: bold;
    }
    .skill-container {
        padding-top: 5px;
        height: 120px;
    }
</style>

<style lang="scss">
/* All Below are Overriden CSS */
    .carousel-component .VueCarousel-dot-container,
    .carousel-component .VueCarousel-dot-container > button {
        margin-top: 3px !important;
    }
    .carousel-component .VueCarousel-inner {
        justify-content: flex-start;
    }
    .carousel-component .VueCarousel-pagination {
        height: 40px;
    }
    .carousel-component .VueCarousel-navigation-button {
        font-size: 0;
    }
    .carousel-component .VueCarousel-navigation-prev {
        background-image: url('/assets/img/smart-team-builder/carousel-prev.png');
    }
    .carousel-component .VueCarousel-navigation-next {
        background-image: url('/assets/img/smart-team-builder/carousel-next.png');
    }
    .carousel-component .VueCarousel-slide .slide-wrapper{
        margin: 10px 15px;
        box-shadow: 3px 5px 15px rgba(0,0,0,0.16);
    }
    .action-button {
        font-size: 20px;
    }
    button {
        &.fs-available { background: #6c757d; }
        &.fs-suggested { background: #007bff; }
        &.fs-selected { background: #28a745; }
        &.fs-declined {  background: #dc3545; }
        &.fs-assigned { background: #17a2b8; }
    }
    .header-title {
        padding: 0px 0 5px!important;
        border-bottom: 5px solid #007840;
        position: relative;
        top: 5px;
    }
    .header-title span:first-child {
        padding: 10px 20px 10px;
        position: relative;
        background: #007840;
        color: white;
    }
    .resource-skill-placeholder {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .resource-skill {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .VueCarousel-slide {
        min-width: 0;
    }
    .popover.truncated-skill {
        border: 1px solid #fff;
        .popover-body {
            background-color: #007840 !important;
            color: white;
        }
        .arrow:after {
            border-right-color: #007840 !important;
            border-left-color: #007840 !important;
        }
    }

    // @media screen and (min-width: 415px) and (min-height: 721px) {
    //     .parent-content {
    //         min-height: 495px!important;
    //         max-height: 242px!important;
    //         margin-top: -8px!important;
    //     }
    // }

    // @media screen and (max-height: 720px) {
    //     .carousel-component .VueCarousel-slide .slide-wrapper{
    //         margin-top: 0!important;
    //         margin-bottom: 0!important;
    //     }

    //     .fs-user-photo-container {
    //         .fs-user-photo {
    //             max-height: 70px!important;
    //             max-width: 70px!important;
    //         }
    //     }

    //     .header-title {
    //         font-size: 16px;
    //     }

    //     .header-title span[data-v-72323764]:first-child:after {
    //         border-bottom: 35px solid #007840;
    //     }
    // }
</style>


<script>
// Library
import { Carousel, Slide } from 'vue-carousel';
import $ from 'jquery';

// Mixin
import EmployeeMixin from "@common/mixin/EmployeeMixin";
import AlertMixin from '@common/mixin/AlertMixin';
import BuilderHelperMixin from '@common/var/team-builder';

// Component
import PopoverDialog from '@components/popover-dialog.vue';
import { mapActions, mapGetters } from 'vuex';

export default {
    components: {
        Carousel,
        Slide,
        PopoverDialog
    },
    mixins: [
        EmployeeMixin,
        AlertMixin,
        BuilderHelperMixin
    ],
    props: {
        headerTitle: {
            type: String,
            default: "Property: headerTitle"
        },
        rows: {
            type: Array
        },
        showButton: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false
        },
        isHybrid: {
            type: Boolean,
            default: false
        },
        onClick: Function
    },
    data() {
        /*
        * Please Check Vue Carousel Configurations
        * https://github.com/SSENSE/vue-carousel#configuration
        */
        return {
            slidesPerPageCustom: [[320,1] , [768,2] , [1024,3] , [1440,5]],
            mouseDrag: true,
            navigationEnabled: true,
            centerMode: true,
            paginationEnabled: false,
            navigationClickTargetSize: 30,
            navigationNextLabel: 'Next',
            navigationPrevLabel: 'Previous',
            adjustableHeight: true,
            resources: this.rows,
            toInsertRows: []
        }
    },
    computed: {
        ...mapGetters({
            suggestedResource: 'clientTeamBuilder/suggestedResource',
            selectedResource: 'clientTeamBuilder/selectedResource',
            updatedBucket: 'clientTeamBuilder/updatedBucket',
            ctrSelected: 'clientTeamBuilder/countSelected'
        }),
        selectedCount() {
            let count = 0;

            if(this.isHybrid){
                if (this.rows.length > 0) {
                    _.each(this.rows, (res) => {
                        if(this.isHybrid) {
                            if (res.status == "picked") {
                                count++;
                            }
                        }
                    });

                    this.incrementCountSelected(count);
                }
            }

            return (this.isHybrid) ? this.suggestedResource.length : this.ctrSelected;
        },
        selectedLabel() {
            return (this.isHybrid) ? 'Suggested' : 'Selected';
        },
    },
    methods: {
        ...mapActions({
            saveSelectedClient: 'clientTeamBuilder/saveSelectedResource',
            incrementCountSelected: 'clientTeamBuilder/incrementCountSelected'
        }),
        checkPopover(event){
            if(event.target.offsetWidth < event.target.scrollWidth){

                $(event.target).parent('.resource-skill-placeholder').popover({
                    template: '<div class="popover truncated-skill"><div class="arrow"></div><div class="popover-body"></div></div>'
                });
            }
        },
        getDownloadLink(profileUniqueStr) {
            return profileUniqueStr ? profileUniqueStr + '/pdf' : '';
        },
        setEmployeeClass(employeeId) {
            return 'profileCardURL' + employeeId;
        },
        getLastnameInitial(fullname) {
            return typeof fullname[0] !== 'undefined'
                ? fullname[0]+'.'
                : fullname;
        },
        getJobTitle(positions) {
            let jobs = positions.data
            return jobs.length ? jobs[0].job_title : 'Unassigned';
        },
        insertRows(rows) {
            const self = this;
            let temp = rows;
            let status = '';
            let empId = '';
            _.forEach(temp, (row) => {
                if(self.isHybrid) {
                    empId = row.id;
                    if (row.clientTeambuilderBucket.data.length > 0) {
                        if (this.checkUpdatedBucketResource(empId)) {
                            status = this.getFromUpdatedBucket(empId);
                        }
                        else {
                            status = this.getTeamBuilderStatus(row.clientTeambuilderBucket.data, empId);
                        }
                    }
                    else {
                        status = this.checkSuggestedResource(empId) ? 'picked' : 'available';
                    }
                    row['status'] = status;
                } else {
                    if(this.selectedResource.length > 0) {
                        if (row.hasOwnProperty('client_teambuilder_bucket_id')) {
                            status = this.checkSelectedResource(row.client_teambuilder_bucket_id, true);
                        } else {
                            status = this.checkSelectedResource(row.employee_id, false);
                        }
                        row['status'] = status;
                    }
                }
            })

            this.resources = temp;
        },
        checkSelectedResource (id, isBucket) {
            if (isBucket) {
                if(this.selectedResource.some((cb => cb.client_teambuilder_bucket_id == id))) {
                    let i = this.selectedResource.findIndex(cb => cb.client_teambuilder_bucket_id == id);
                    return this.selectedResource[i].status;
                } else {
                    return 'selected';
                }
            } else {
                if(this.selectedResource.some((el => el.employee_id == id))) {
                    let i = this.selectedResource.findIndex(el => el.employee_id == id);
                    return this.selectedResource[i].status;
                } else {
                    return 'suggested';
                }
            }
        },
        checkSuggestedResource (empId) {
            return this.suggestedResource.some((el => el.employee_id == empId));
        },
        checkUpdatedBucketResource (empId) {
            return this.updatedBucket.some((el => el.employee_id == empId));
        },
        getFromUpdatedBucket (empId) {
            let i = this.updatedBucket.findIndex(v => v.employee_id == empId);
            return this.updatedBucket[i].status;
        },
        getTeamBuilderStatus(bucket, id) {
            let i = bucket.findIndex(v => v.employee.data.id == id);
            return bucket[i].status;
        },
        suggestEmp(resource, index) {
            this.resources[index].status = 'picked';
            this.$emit('suggestEmp', resource);
        },
        selectEmp(resource) {
            resource.status = 'selected';
            this.incrementCountSelected(this.ctrSelected + 1);
            this.$emit('selectEmp', resource);
        },
        unselectEmp(resource) {
            resource.status = 'suggested';
            this.incrementCountSelected(this.ctrSelected - 1);
            this.$emit('unselectEmp', resource);
        },
        declineEmp(resource) {
            resource.status = 'declined';
            this.$emit('declineEmp', resource);
        },
        undeclineEmp(resource) {
            resource.status = 'suggested';
            this.$emit('undeclineEmp', resource);
        },
        unsuggestEmp(id, index) {
            this.resources[index].status = 'available';
            this.$emit('unsuggestEmp', id);
        },
        updateStatus(bucket, id, index) {
            let status = '';
            status = this.resources[index].status = (bucket.data[0].status === 'assigned') ? 'selected' : 'available';
            this.$emit('updateStatus', status, bucket.data[0].id, bucket.data[0].employee.data.id);
        }
    },
    watch: {
        rows: function(val) {
            deep: true,
            this.insertRows(this.rows)
            Vue.nextTick()
                .then(function () {
                    // DOM updated

                    let maxHeight = 0;
                    $(".has-btn-component").each(function(){
                        if ($(this).height() > maxHeight) {
                            maxHeight = $(this).height();
                        }
                    });

                    $(".has-btn-component").height(maxHeight);
                });
        }
    }
}
</script>
