<template>
    <form-wizard 
        color="#007840"
        error-color="#ff4949"
        step-size="xs"
        :hideButtons=toHideButtons
        :back-button-text=backButton
        :next-button-text=nextButton
        :finish-button-text=finishButton
        @on-complete="onComplete"
        @on-change="updatePageCtr">
        <template v-slot:title>
            <h1 class="wizard-title">{{ title }}</h1>
            <p class="category">{{ subtitle }}</p>
        </template>
        <tab-content
            v-for="tab in tabs"
            :key="tab.title"
            :title="tempShowTabTitles ? tab.title : ''"
            :icon="tab.icon"
            :before-change="onClick">
            <slot :name="tab.content"></slot>
        </tab-content>
    </form-wizard>
</template>

<style lang="scss">
    div#fs-client-onboarding.vue-form-wizard {
        div.wizard-header { padding: 0; }
        div.wizard-navigation { margin-top: 9px; }
    }

   

    @media only screen and (max-width: 768px) {
        div#fs-client-onboarding.vue-form-wizard {
            .wizard-card-footer {
                .wizard-footer-left {
                    > span{
                        button{
                            float: left;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 414px) {
        div#fs-client-onboarding.vue-form-wizard {
            .wizard-card-footer {
                .wizard-footer-right {
                    > span{
                        button{
                            min-width: 140px!important;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 350px) {
        div#fs-client-onboarding.vue-form-wizard {
            .wizard-card-footer {
                .wizard-footer-right,
                 .wizard-footer-left {
                    > span{
                        button{
                           min-width: 280px!important;
                        }
                    }
                }
            }
        }
    }
</style>

<style lang="scss" scoped>
    .wizard-title {
        font-size: 3vw;
    }
    .set-min-height {
        min-height: 550px!important;
    }
    .vue-form-wizard {
        padding: 0!important;
    }
</style>

<script>
    import { FormWizard, TabContent } from 'vue-form-wizard';
    import 'vue-form-wizard/dist/vue-form-wizard.min.css';

    export default {
        components: {
            FormWizard,
            TabContent
        },
        props: {
            title: {
                type: String
            },
            subtitle: {
                type: String
            },
            tabs: {
                type: Array,
                required: true
            },
            showTabsTitle: {
                type: Boolean,
                default: true
            },
            hideButtons: {
                type: Boolean,
                default: false
            },
            backButton: {
                type: String,
                default: "Back"
            },
            nextButton: {
                type: String,
                default: "Next"
            },
            finishButton: {
                type: String,
                default: "Finish"
            },
            onClick: {
                type: Function
            }
        },
        data() {
            return {
                forceHideButton: false,
                tempShowTabTitles: true
            }
        },
        mounted() {
            window.addEventListener("resize", this.resizeThrottler, false);
            this.sizeHandler();
        },
        computed: {
            toHideButtons() {
                return this.hideButtons ? this.hideButtons : this.forceHideButton;
            }
        },
        methods: {
            onComplete() {
                this.forceHideButton = true;
                this.$emit('save');
            },
            updatePageCtr(prev, next){
                if (!this.forceHideButton) {
                    this.$emit('updatePageCtr', next);
                }
            },
            resizeThrottler() {
                var resizeTimeout;
                if (!resizeTimeout) {
                    resizeTimeout = setTimeout(() => {
                    resizeTimeout = null;
                    this.sizeHandler();
                    // The actualResizeHandler will execute at a rate of 15fps
                    }, 66);
                }
            },
            sizeHandler() {
                let w = window.innerWidth
                if (w < 769) {
                    this.tempShowTabTitles = false
                } else {
                    this.tempShowTabTitles = this.showTabsTitle
                }
            }
        }
    }
</script>
