<template>
    <div class="fs-right-drawer ks-dashboard-tabbed-sidebar-sidebar">
        <slot></slot>
    </div>
</template>
<style scoped>
    .fs-right-drawer {
        background: #e8e8e8;
        width: 100%; 
        max-width: 480px;
        right: -480px;
    }
</style>