<template>
    <button
        @click="onClick"
        :title="title" 
        class="btn btn-outline-secondary ks-light ks-no-text ks-tabbed-sidebar-navigation-block-toggle" 
        data-block-toggle=".ks-dashboard-tabbed-sidebar-sidebar"
        >
        <span  v-if="fsDrawerContentOpen" class="text-danger la la-close ks-icon"></span>
        <span v-else :class="iconClass"></span>       
    </button>
</template>

<script>
    export default {
        props: {
            iconClass: {
                type: String,
                default: ''
            },
            title: {
                type: String,
                default: ''
            }
        },
        data(){
            return {
                fsDrawerContentOpen: false,
                origIconClass: ''
            }
        },
        created() {
            this.origIconClass = this.iconClass;            
        },
        methods: {
            onClick(){
                this.fsDrawerContentOpen = !this.fsDrawerContentOpen;                
            }
        }
    }
</script>