<template>
  <div v-if="fsSearchInputShow" :class="'fs-search-input-wrapper '+ wrapperClass">
    <div :class="[{ 'input-disabled fs-search-field': isDisabled },{ 'fs-search-field': !isDisabled }]">
      <div class="fs-input-root">
        <div class="fs-tags-input">
          <span
            class="fs-tags-input-badge fs-tags-input-badge-pill fs-tags-input-badge-selected-default"
            v-for="(tag, index) in tags"
            :key="index"
          >
            <span v-html="tag.value"></span>
            <i href="#" class="fs-tags-input-remove" @click.prevent="removeTag(index)"></i>
          </span>

          <input
            class="fs-tags-input-field"
            :class="{ 'input-disabled': isDisabled }"
            type="text"
            ref="taginput"
            :placeholder="placeholder"
            v-model="input"
            @keydown.enter.prevent="tagFromInput(false)"
            @keydown.8="removeLastTag"
            @keydown.down="nextSearchResult"
            @keydown.up="prevSearchResult"
            @keydown="onKeyDown"
            @keyup="onKeyUp"
            @keyup.esc="clearSearchResults"
            @focus="onFocus"
            @blur="onBlur"
            @value="tags"
            :disabled="isDisabled"
          />

          <input
            type="hidden"
            v-if="elementId"
            :name="elementId"
            :id="elementId"
            v-model="hiddenInput"
          />
        </div>

        <!-- Typeahead/Autocomplete -->
        <div v-show="searchResults.length && value.length < limit">
          <p v-if="typeaheadStyle === 'badges'" :class="`typeahead-${typeaheadStyle}`">
            <span
              class="fs-tags-input-badge typeahead-hide-btn fs-tags-input-typeahead-item-default"
              @click.prevent="clearSearchResults"
            >Discard Results</span>

            <span
              v-for="(tag, index) in searchResults"
              :key="index"
              v-html="tag.value"
              @mouseover="searchSelection = index"
              @mousedown.prevent="tagFromSearchOnClick(tag)"
              class="fs-tags-input-badge"
              v-bind:class="{
                                'fs-tags-input-typeahead-item-default': index != searchSelection,
                                'fs-tags-input-typeahead-item-highlighted-default': index == searchSelection
                            }"
            ></span>
          </p>

          <ul v-else-if="typeaheadStyle === 'dropdown'" :class="`typeahead-${typeaheadStyle}`">
            <li
              class="fs-tags-input-typeahead-item-default typeahead-hide-btn"
              @mousedown.prevent="clearSearchResults"
            >Discard results</li>

            <li
              v-for="(tag, index) in searchResults"
              :key="index"
              v-html="tag.value"
              @mouseover="searchSelection = index"
              @mousedown.prevent="tagFromSearchOnClick(tag)"
              v-bind:class="{
                            'fs-tags-input-typeahead-item-default': index != searchSelection,
                            'fs-tags-input-typeahead-item-highlighted-default': index == searchSelection
                        }"
            ></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="fs-search-button-wrapper">
      <div class="search-btns">
        <div v-if="value.length" class="btn-clear" title="Clear">
          <i :class="[{ 'disabled la la-close': isDisabled },{ 'la la-close': !isDisabled }]" @click="clearInput"></i>
        </div>
        <div @click="onSearchBtnClick" class="btn-search" title="Search" :disabled="isDisabled || searchButtonDisabled">
          <i  ref="searchBtnIcon" :class="[{ 'disabled la la-spinner la-spin': isDisabled },{ 'la la-search': !isDisabled }]"></i>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.disabled {
  color: #dcdcdc !important;
}
.disabled:hover {
  cursor: not-allowed !important;
}
.input-disabled {
  background: #eee;
  color: #eee;
  cursor: not-allowed !important;
}
.fs-search-input-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  border-right: none;
  background: #fff;
  .fs-search-field {
    position: relative;
    font-size: 12px !important;
    border: 1px solid #dcdcdc;
    border-radius: 5px 0 0 5px;
    padding: 0;
    color: #007840;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    width: 100%;
  }
  .fs-search-button-wrapper {
    height: 100%;
    min-height: 40px;
    width: 140px;
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    .search-btns {
      display: table;
      height: inherit;
      background: #efefef;
      .btn-clear {
        display: table-cell;
        vertical-align: middle;
        width: 30px;
        height: inherit;
        i {
          color: #dcdcdc;
        }
        i:hover {
          color: #888;
        }
      }
      .btn-search {
        display: table-cell;
        vertical-align: middle;
        border-radius: 0 5px 5px 0;
        width: 65px;
        height: inherit;
        padding: 0;
        background: #38bd57;
        padding: 0 10px;
        color: #fff;
      }
      i {
        font-size: 25px;
        cursor: pointer;
        width: 100%;
        display: inline-block;
        padding: 5px;
      }
    }
  }
}

.fs-input-root {
  position: relative;
}
/* The input */
.fs-tags-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fs-tags-input input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0 6px 0 6px;
  font-size: 12px;
}

.fs-tags-input input:focus {
  outline: none;
}

.fs-tags-input input[type='text'] {
  color: #495057;
}

/* The tag badges & the remove icon */
.fs-tags-input span {
  margin: 5px 4px;
  padding: 5px;
}
.fs-tags-input-remove {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  overflow: hidden;
}

.fs-tags-input-remove:before,
.fs-tags-input-remove:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  background: #5dc282;

  height: 2px;
  margin-top: -1px;
}

.fs-tags-input-remove:before {
  transform: rotate(45deg);
}
.fs-tags-input-remove:after {
  transform: rotate(-45deg);
}

/* Tag badge styles */
.fs-tags-input-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.fs-tags-input-badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.fs-tags-input-badge-selected-default {
  color: #212529;
  background-color: #f0f1f2 !important;
}

/* Typeahead */
.typeahead-hide-btn {
  color: #999 !important;
  font-style: italic;
}

/* Typeahead - badges */
.typeahead-badges > span {
  cursor: pointer;
  margin-right: 0.3rem;
  background: #efefef;
}

/* Typeahead - dropdown */
.typeahead-dropdown {
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 5 !important;
  background: #f0f1f2 !important;
  margin: 9px 0 0 0;
  box-shadow: 1px 3px 6px #b5b3b36b;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  font-size: 12px;
}

.typeahead-dropdown li {
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #ddd !important;
}
.typeahead-dropdown li.fs-tags-input-typeahead-item-default {
  background: none !important;
  color: #333;
}
.typeahead-dropdown li.fs-tags-input-typeahead-item-highlighted-default {
  background-color: #50ae55;
}
/* Typeahead elements style/theme */
.fs-tags-input-typeahead-item-default {
  color: #fff;
  background-color: #343a40;
}

.fs-tags-input-typeahead-item-highlighted-default {
  color: #fff;
  background-color: #007bff;
}
</style>
<script>
export default {
  props: {
    elementId: String,

    existingTags: {
      type: Array,
      default: () => {
        return [];
      },
    },

    value: {
      type: Array,
      default: () => {
        return [];
      },
    },

    typeahead: {
      type: Boolean,
      default: false,
    },

    fsSearchInputShow: {
      type: Boolean,
      default: true,
    },

    typeaheadStyle: {
      type: String,
      default: 'badges',
    },

    typeaheadActivationThreshold: {
      type: Number,
      default: 1,
    },

    typeaheadMaxResults: {
      type: Number,
      default: 0,
    },

    placeholder: {
      type: String,
      default: 'Add a tag',
    },

    limit: {
      type: Number,
      default: 9999,
    },

    onlyExistingTags: {
      type: Boolean,
      default: true,
    },

    deleteOnBackspace: {
      type: Boolean,
      default: true,
    },

    allowDuplicates: {
      type: Boolean,
      default: false,
    },

    validate: {
      type: Function,
      default: () => true,
    },

    addTagsOnComma: {
      type: Boolean,
      default: false,
    },

    addTagsOnBlur: {
      type: Boolean,
      default: false,
    },

    wrapperClass: {
      type: String,
      default: '',
    },

    sortSearchResults: {
      type: Boolean,
      default: true,
    },

    caseSensitiveTags: {
      type: Boolean,
      default: false,
    },

    beforeAddingTag: {
      type: Function,
      default: () => true,
    },

    beforeRemovingTag: {
      type: Function,
      default: () => true,
    },
    onSearchBtnClick: {
      type: Function,
      default: () => true,
    },
    isDisabled: {
      type: Boolean,
      default: () => false,
    },
    searchButtonDisabled: {
      type: Boolean,
      default: () => false,
    },
  },

  data() {
    return {
      badgeId: 0,
      tags: [],

      input: '',
      inputModel: '',
      oldInput: '',
      hiddenInput: '',

      searchResults: [],
      searchSelection: 0,

      selectedTag: -1,
      stateReady: true,
    };
  },

  created() {
    this.tagsFromValue();

    // Emit an event
    this.$emit('initialized');
  },

  mounted() {
      this.focusToInput();
  },

  watch: {
    isDisabled() {
        if(!this.isDisabled) {
          this.$nextTick(() => {
              this.focusToInput();
          });
        }
    },
    input(newVal, oldVal) {
      this.searchTag(false);

      if (newVal.length && newVal != oldVal) {
        const diff = newVal.substring(oldVal.length, newVal.length);

        if (this.addTagsOnComma) {
          newVal = newVal.trim();

          if (newVal.endsWith(',')) {
            // The comma shouldn't actually be inserted
            this.input = newVal.substring(0, newVal.length - 1);

            // Add the inputed tag
            this.tagFromInput(true);
          }
        }
      }
    },

    tags() {
      // Updating the hidden input
      this.hiddenInput = JSON.stringify(this.tags);

      // Update the bound v-model value
      this.$emit('input', this.tags);
    },

    value() {
      this.tagsFromValue();
    }
  },

  methods: {
    /**
     * Clear/Remove selected tags
    */
    clearTags() {
      this.selectedTags = [];
      this.availableSkills.map(i => (i.isSelect = false));
    },
    /**
     * Clear/Remove string or selected tags from the search input field
    */
    clearInput() {
      this.input = '';
      this.$emit('clear-selected-tags');
      this.clearTags();
      this.focusToInput();
    },
    /**
     * Set focus on search input field
    */
    focusToInput() {
      this.$refs.taginput.focus();
    },

    /**
     * Remove reserved regex characters from a string so that they don't
     * affect search results
     *
     * @param string
     * @returns String
     */
    escapeRegExp(string) {
      return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
    },

    /**
     * Add a tag whether from user input or from search results (typeahead)
     *
     * @param ignoreSearchResults
     * @returns void
     */
    tagFromInput(ignoreSearchResults = false) {
      // If we're choosing a tag from the search results
      if (
        this.searchResults.length &&
        this.searchSelection >= 0 &&
        !ignoreSearchResults
      ) {
        this.tagFromSearch(this.searchResults[this.searchSelection]);

        this.input = '';
      } else {
        // If we're adding an unexisting tag
        let text = this.input.trim();

        // If the new tag is not an empty string and passes validation
        if (!this.onlyExistingTags && text.length && this.validate(text)) {
          this.input = '';

          // Determine if the inputted tag exists in the existingTags
          // array
          let newTag = {
            key: '',
            value: text,
          };

          const searchQuery = this.escapeRegExp(
            this.caseSensitiveTags ? newTag.value : newTag.value.toLowerCase(),
          );

          for (let tag of this.existingTags) {
            const compareable = this.caseSensitiveTags
              ? tag.value
              : tag.value.toLowerCase();

            if (searchQuery == compareable) {
              newTag = Object.assign({}, tag);

              break;
            }
          }

          this.addTag(newTag);
        }
      }
    },

    /**
     * Add a tag from search results when a user clicks on it
     *
     * @param tag
     * @returns void
     */
    tagFromSearchOnClick(tag) {
      this.focusToInput();
      this.tagFromSearch(tag);
      //this.$refs['taginput'].blur();
    },

    /**
     * Add the selected tag from the search results.
     * Clear search results.
     * Clear user input.
     *
     * @param tag
     * @return void
     */
    tagFromSearch(tag) {
      this.clearSearchResults();
      this.addTag(tag);

      this.$nextTick(() => {
        this.input = '';
        this.oldInput = '';
      });
    },

    /**
     * Add/Select a tag
     *
     * @param tag
     * @returns void | Boolean
     */
    addTag(tag) {
      if (!this.beforeAddingTag(tag)) {
        return false;
      }

      // Check if the limit has been reached
      if (this.limit > 0 && this.tags.length >= this.limit) {
        this.$emit('limit-reached');

        return false;
      }

      // Attach the tag if it hasn't been attached yet
      if (!this.tagSelected(tag)) {
        this.tags.push(tag);

        // Emit events
        this.$emit('tag-added', tag);
        this.$emit('tags-updated');
      }
    },

    /**
     * Remove the last tag in the tags array.
     *
     * @returns void
     */
    removeLastTag() {
      if (!this.input.length && this.deleteOnBackspace) {
        this.removeTag(this.tags.length - 1);
      }
    },

    /**
     * Remove the selected tag at the specified index.
     *
     * @param index
     * @returns void
     */
    removeTag(index) {
      this.focusToInput();
      let tag = this.tags[index];

      if (!this.beforeRemovingTag(tag)) {
        return false;
      }

      this.tags.splice(index, 1);

      // Emit events
      this.$emit('tag-removed', tag);
      this.$emit('tags-updated');
    },

    /**
     * Search the currently entered text in the list of existing tags
     *
     * @returns void | Boolean
     */
    searchTag() {
      if (this.typeahead !== true) {
        return false;
      }

      if (
        this.oldInput != this.input ||
        (!this.searchResults.length && this.typeaheadActivationThreshold == 0)
      ) {
        this.searchResults = [];
        this.searchSelection = 0;
        let input = this.input.trim();

        if (
          (input.length && input.length >= this.typeaheadActivationThreshold) ||
          this.typeaheadActivationThreshold == 0
        ) {
          // Find all the existing tags which include the search text
          const searchQuery = this.escapeRegExp(
            this.caseSensitiveTags ? input : input.toLowerCase(),
          );

          for (let tag of this.existingTags) {
            const compareable = this.caseSensitiveTags
              ? tag.value
              : tag.value.toLowerCase();

            if (
              compareable.search(searchQuery) > -1 &&
              !this.tagSelected(tag)
            ) {
              this.searchResults.push(tag);
            }
          }

          // Sort the search results alphabetically
          if (this.sortSearchResults) {
            this.searchResults.sort((a, b) => {
              if (a.value < b.value) return -1;
              if (a.value > b.value) return 1;

              return 0;
            });
          }

          let startsWithKey = [];
          let notStartsWithKey = [];

          this.searchResults.forEach((item) => {
              if(item.value.toLowerCase().startsWith(this.input.toLowerCase()) == true) {
                  startsWithKey.push(item);
              } else {
                  notStartsWithKey.push(item);
              }
          })

          this.searchResults = startsWithKey.concat(notStartsWithKey);
          // Shorten Search results to desired length
          if (this.typeaheadMaxResults > 0) {
            this.searchResults = this.searchResults.slice(
              0,
              this.typeaheadMaxResults,
            );
          }
        }

        this.oldInput = this.input;
      }
    },

    /**
     * Hide the typeahead if there's nothing intered into the input field.
     *
     * @returns void
     */
    hideTypeahead() {
      if (!this.input.length) {
        this.$nextTick(() => {
          this.clearSearchResults();
        });
      }
    },

    /**
     * Select the next search result in typeahead.
     *
     * @returns void
     */
    nextSearchResult() {
      if (this.searchSelection + 1 <= this.searchResults.length - 1) {
        this.searchSelection++;
      }
    },

    /**
     * Select the previous search result in typeahead.
     *
     * @returns void
     */
    prevSearchResult() {
      if (this.searchSelection > 0) {
        this.searchSelection--;
      }
    },

    /**
     * Clear/Empty the search results.
     *
     * @reutrns void
     */
    clearSearchResults() {
      this.searchResults = [];
      this.searchSelection = 0;
      this.oldInput = '';
      this.input = '';
    },

    /**
     * Clear the list of selected tags.
     *
     * @returns void
     */
    clearTags() {
      this.tags.splice(0, this.tags.length);
    },

    /**
     * Replace the currently selected tags with the tags from the value.
     *
     * @returns void
     */
    tagsFromValue() {
      if (this.value && this.value.length) {
        if (!Array.isArray(this.value)) {
          console.error(
            'Voerro Tags Input: the v-model value must be an array!',
          );

          return;
        }

        let tags = this.value;

        // Don't update if nothing has changed
        if (this.tags == tags) {
          return;
        }

        this.clearTags();

        for (let tag of tags) {
          this.addTag(tag);
        }
      } else {
        if (this.tags.length == 0) {
          return;
        }

        this.clearTags();
      }
    },

    /**
     * Check if a tag is already selected.
     *
     * @param tag
     * @returns Boolean
     */
    tagSelected(tag) {
      if (this.allowDuplicates) {
        return false;alert(this.allowDuplicates);
      }

      if (!tag) {
        return false;
      }

      const searchQuery = this.escapeRegExp(
        this.caseSensitiveTags ? tag.value : tag.value.toLowerCase(),
      );

      for (let selectedTag of this.tags) {
        const compareable = this.caseSensitiveTags
          ? selectedTag.value
          : selectedTag.value.toLowerCase();

        if (selectedTag.key == tag.key && compareable == searchQuery) {
          return true;
        }
      }

      return false;
    },

    /**
     * Process all the keyup events.
     *
     * @param e
     * @returns void
     */
    onKeyUp(e) {
      this.$emit('keyup', e);
    },

    /**
     * Process all the keydown events.
     *
     * @param e
     * @returns void
     */
    onKeyDown(e) {
      this.$emit('keydown', e);
    },

    /**
     * Process the onfocus event.
     *
     * @param e
     * @returns void
     */
    onFocus(e) {
      this.$emit('focus', e);

      this.searchTag();
    },

    /**
     * Process the onblur event.
     *
     * @param e
     * @returns void
     */
    onBlur(e) {
      this.$emit('blur', e);

      if (this.addTagsOnBlur) {
        // Add the inputed tag
        this.tagFromInput(true);
      }

      this.hideTypeahead();
    },
  },
};
</script>