<template>
        <div data-toggle="tooltip" 
            :data-placement="placement" 
            :title="title"  
            :class="className" 
            :style="css"
        >
            <slot></slot>
        </div>
</template>

<script>
import $ from 'jquery';

export default {
    props: {
        placement: {
            type: String,
            default: 'left'
        },
        title: {
            type: String,
            default: 'Set the Title'
        },
        className: {
            type: String,
            default: ''
        },
        href: {
            type: String,
            default: ''
        },
        css: {
            type: String,
            default: ''
        }
    },
    mounted() {
        $(this.$el).tooltip();   
    },
    destroyed: function() {
        // Destroy tooltip instance
        $(this.$el).tooltip('hide');
    }
}
</script>