<template>
	<div class="fs-table-wrapper" :style="`width:` + width">
		<div class="filter-section d-block d-md-block d-md-table margin-bottom-sm-3">			
			<div class="external-filters d-block d-sm-block d-md-table-cell">
				<slot name="filters"><!-- External filters here --></slot>
			</div>
			<form v-if="hasSearch" class="fs-table-search ks-search-form d-block d-sm-block d-md-table-cell">
				<div class="input-icon icon-right icon icon-lg icon-color-primary">
					<input 
						@keyup.prevent="onKeydown"
						@keydown.enter.prevent="emitSearch"
						ref="fsTableSearchInput"
						id="input-group-icon-text" 
						type="text" 
						class="form-control" 
						placeholder="Search..."
					>
					<span class="icon-addon">
						<span @click="emitSearch" class="fs-table-search-btn la la-search ks-icon"></span>
					</span>
				</div>			
			</form>			
		</div>
		<div class="fs-table" :class="className + theme" >
			<div class="tr header d-xs-none d-sm-none d-md-table">
				<template v-for="(column, index) in settings.tableColumns">
					<div v-if="index != 0" :key="index" class="column header" :style="columnStyle(index)">
						<div v-html="column.label" class="th"></div>
							<i 	v-if="column.sortable"
								:key="index"
								class="sort-btn la la-sort"
								:title="`Sort by ` + column.label"
								@click="sortData(column.key)"
							></i>
					</div>		
				</template>
			</div>
			<slot name="tbody">
				<span class="row text-center">No record</span>
			</slot>
		</div>
	</div>	
</template>

<script>
	import _ from 'lodash';
	export default {
		props: {
			className: {
				type: String,
				default: '',
			},
			settings:{
				type: Object,
				required: true,
			},
			width:{
				type: String,
				default: '100%',
			},
			filterItems:{
				type: Array,
				default: [],
			},
			theme:{
				type: String,
				default: '100%',
			},
		},
		data() {
			return {
				dataIds: [],
				sortableFields: [],
				hasSearch: false,
			}
		},
		computed: {
			tableColumns() {
				return this.settings.tableColumns;
			},
			tableRows() {
				return this.settings.tableData;
			},
			totalRecords() {
				return this.settings.tableData.length;
			}	
		},
		created() {
			if (this.settings.tableData[0]) {
				for (let [key, value] of Object.entries(this.settings.tableData[0])) {
					if(key != 'id') {
						this.sortableFields.push({ id: key, state: 'asc' })
					}
				}
				this.$emit('search', '')
			}
		},
		mounted() {
			this.hasSearch = _.some(this.filterItems, 'search');
		},
		methods: {
			columnStyle(index) {
				return 	`width:` + this.tableColumns[index].width + `;` +
						`max-width:` + this.tableColumns[index].width +  `;` +
						`text-align:` + this.tableColumns[index].alignment;
			},
			sortData(id) {
				let sortType = null;
				let sorted = [];
				
				this.sortableFields.forEach(field => {
					if (field.id == id) {
						sortType = field.state == 'asc' ? 'desc' : 'asc';
						field.state = sortType;
					}
				})	
				sorted = _.orderBy(this.settings.tableData, [id], [sortType]); 
				this.settings.tableData = sorted;
			},
			onKeydown() {
				if (this.$refs.fsTableSearchInput.value == '') {
					this.settings.tableData = [];
					this.$emit('search', this.$refs.fsTableSearchInput.value)
				}
			},
			emitSearch() {
				if (this.$refs.fsTableSearchInput.value != '') {
					this.settings.tableData = [];
					this.$emit('search', this.$refs.fsTableSearchInput.value)
				}
			},
		}
	};
</script>
<style lang="scss">
	$border-color: #fff;
	$column-background: #70ad47;
	$column-text-color: #fff;
	$rowdata-background: transparent;
	$rowdata-even-background: #ebf1e9;
	$rowdata-odd-background: #d5e3cf;
	$plain-border-color: #dee0e1;
	$plain-background: #fff;
	$plain-rowdata-even-background: #fff;
	$plain-rowdata-odd-background: #f5f6fa;
	.fs-table-wrapper {
		.filter-section {
			width: 100%;
			.fs-table-search, .external-filters {
				vertical-align: bottom;
				input {
					margin-bottom: 5px;
				}
			}
			.fs-table-search {
				margin-top: 10px;
			}
			.fs-table-search-btn:hover {
				cursor: pointer;
			}
			.external-filters {
				width: 75%;
			}
		}
		.fs-table.plain {
			position: relative;
			.tr {
				display: table;
				width: 100%;
				border-right: 1px solid $plain-border-color;
				border-bottom: 1px solid $plain-border-color;
				border-left: 1px solid $plain-border-color;
				.column {
					display: table-cell;
					vertical-align: middle;
					.th {
						font-weight: bold;
						background: $plain-background;
						width: 100%;
						padding: 5px;
						color: #333;
						position: relative;
						margin-right: 20px;
					}
					.td {
						position: relative;
						font-weight: normal;
						background: $rowdata-background;
						width: 100%;
						padding: 5px;
						text-align: left;
						height: auto;
						min-height: 30px;
					}
				}
				.column.header {
					border-right: 1px solid $plain-border-color;
					position: relative;
					background: $plain-background;
					.sort-btn {
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						right: 2px;
						height: 12px;
						color: #808080;
						cursor: pointer;
					}
				}
				.column.header:first-child {
					 border-left: 0;
				}
				.column.header:last-child {
					 border-right: 0;
				}
			}
			.tr.header {
				min-height: 38px;
				border-top: 1px solid $plain-border-color;
			}
			.tr:nth-child(even):not(:first-child) {
				background: $plain-rowdata-even-background;
			}
			.tr:nth-child(odd) {
				background: $plain-rowdata-odd-background;
			}
		}
		.fs-table.green {
			position: relative;
			.tr {
				display: table;
				width: 100%;
				border-top: 1px solid $border-color;
				border-bottom: 1px solid $border-color;
				.column {
					display: table-cell;
					vertical-align: middle;
					.th {
						font-weight: bold;
						background: $column-background;
						width: 100%;
						padding: 5px;
						color: $column-text-color;
						position: relative;
						margin-right: 20px;
					}
					.td {
						position: relative;
						font-weight: normal;
						background: $rowdata-background;
						width: 100%;
						padding: 5px;
						text-align: left;
						height: auto;
						min-height: 30px;
					}
				}
				.column.header {
					border-right: 1px solid #fff;
					position: relative;
					background: $column-background;
					.sort-btn {
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						right: 2px;
						height: 12px;
						color: #fdfffd59;
						cursor: pointer;
					}
				}
			}
			.tr.header {
				min-height: 38px;
			}
			.tr:nth-child(even):not(:first-child) {
				background: $rowdata-even-background;
			}
			.tr:nth-child(odd) {
				background: $rowdata-odd-background;
			}
		}
	}
	@media (max-width: 767px) {
		.fs-table-wrapper {
			width: 100%;
			overflow-x: unset;
			.fs-table.plain {
				width: 100%;
				position: relative;
				.tr {
					display: table;
					width: 100%;
					margin-bottom: 26px;
					border: 1px solid #70ad47;
					.column {
						display: block !important;
						width: 100% !important;
						max-width: 100% !important;
					}
				}
				.tr:nth-child(even) {
					border: 1px solid #a7a7a7;
					.column .th {
						background: #a7a7a7;
					}
				}
				.tr:nth-child(odd) {
					border: 1px solid #7d7d7d;
					.column .th {
						background: #7d7d7d;
					}
				}
				.tr.header {
					display: none;
				}		
			}
			.fs-table.green {
				width: 100%;
				position: relative;
				.tr {
					display: table;
					width: 100%;
					margin-bottom: 26px;
					border: 1px solid #70ad47;
					.column {
						display: block !important;
						width: 100% !important;
						max-width: 100% !important;
					}
				}
				.tr:nth-child(even) {
					border: 1px solid #9aaf8b;
					.column .th {
						background: #9aaf8b;
					}
				}
				.tr:nth-child(odd) {
					.column .th {
						background: #70ad47;
					}
				}
				.tr.header {
					display: none;
				}		
			}
		}
    }
</style>