<template>
    <div class="inline-loader" style="position: absolute; background-color: rgb(255, 255, 255); display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 99999; background-image: url(&quot;assets/img/loaders/svg-loaders/three-dots.svg&quot;); background-position: center center; background-repeat: no-repeat; top: 0px; left: 0px; width: 100%; height: 100%; min-width: 100px; min-height: 30px background-size: auto;"></div>
</template>

​

