<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription" :style="modalStyle">
                <!-- BEGIN MODAL HEADER -->
                <header class="modal-header" id="modalTitle">
                    <h4 class="modal-title">{{ title }}</h4>
                    <div class="buttons">
                        <button v-if="closeButtonShow" type="button" class="btn btn-danger btn-close" @click="close" area-label="Close Modal" :disabled="closeIsDisabled"></button>
                        &nbsp;
                        <slot name="button"></slot>
                    </div>
                </header>
                <!-- END MODAL HEADER -->

                <!-- BEGIN MODAL BODY -->
                <section class="modal-body" id="modalDescription">
                    <slot name="body">
                        <inline-loader></inline-loader>
                    </slot>
                </section>
                <!-- END MODAL BODY -->

                <!-- BEGIN MODAL FOOTER -->
                <!-- <footer class="modal-footer">
                    <button type="button" class="btn btn-danger" @click="close">Cancel</button>
                    <slot name="footer"></slot>
                </footer> -->
                <!-- END MODAL FOOTER -->
            </div>
        </div>
    </transition>
</template>

<style scoped lang="scss">
    
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        overflow-y: auto;
        .modal {
            z-index: 1;
            border-radius: 3px;
            position: relative;
            display: block;
            height: auto;
            margin: 0 auto;
            max-width: 100%;
            margin-top: 30px;
        }
        .modal-title {
            color: #197996;
        }
        .btn-close {
            z-index: 2;
            position: fixed;
            right: 30px;
            top: 3px;
            width: 40px;
            height: 40px;
            opacity: 0.9;
            border-radius: 50%;
            padding: 0;
            border: 0;
            background: transparent;

            &:hover {
                opacity: 1;

                &:before, &:after {
                    background-color: #888;
                }
            }

            &:before, &:after {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                content: ' ';
                height: 30px;
                width: 2px;
                background-color: #eee;
                transition: 0.2s all ease-in;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
        .modal-header,
        .modal-footer {
            padding: 15px;
            h4 {
                margin: 0 !important;
            }
        }

        .modal-header {
            background: #eee !important;
            border-bottom: 1px solid #eeeeee;
            color:  #4AAE9B;
            justify-content: space-between;
        }
        .modal-body {
            background: #fff;
        }

        .modal-footer {
            border-top: 1px solid #eeeeee;
            justify-content: flex-end;
        }

        .modal-backdrop {
            overflow-y: auto;
        }

        .modal #modalDescription {
            overflow-x: visible;
        }
        
        

        .modal-fade-enter,
        .modal-fade-leave-active {
            opacity: 0;
        }

        .modal-fade-enter-active,
        .modal-fade-leave-active {
            transition: .5s ease;
        }
    }

    @media screen and (max-width: 991px) {
        .btn-close {
            right: 10px;
        }        
    }
    @media screen and (max-width: 767px) {
        .buttons {
            position: fixed;
            top: 0;
            left: 0;
            background: #000;
            width: 100%;
            height: 46px;
            z-index: 3;
            padding: 4px 0 0 8px;
        }
        .btn-close {
            right: 24px !important;
        }
    }

    @media screen and (max-width: 480px) {
        .modal-header {
            flex-direction: column;

            h4 {
                margin-bottom: 10px !important;
            }            

            .buttons {
                .btn {
                    margin-bottom: 5px;
                }
            }
        }
    }
</style>

<script>
import AlertMixin from '@common/mixin/AlertMixin';
import InlineLoader from "@components/inline-loader.vue";
import $ from 'jquery';

export default {
    components: {
        InlineLoader
    },
    props: {
        options: {
            type: Object,
            default: function() {
                return {
                    width: '800px',
                    height: 'auto',
                    minHeight: '440px',
                    maxHeight: '640px',
                    bottom: '0',
                    overflowY: 'auto'
                }
            }
        },
        title: {
            type: String
        },
        closeIsDisabled: {
            type: Boolean,
            default: false
        },
        closeButtonText: {
            type: String,
            default: 'Cancel'
        },
        closeButtonShow: {
            type: Boolean,
            default: true,
        },
        confirmCancel: {
            type: Boolean,
            default: false
        },
        confirmCancelText: {
            type: String,
            default: 'Are you sure you want to cancel?'
        },
    },
    methods: {
        close() {
            if(this.confirmCancel){
                let vm = this;
                this.confirmDialog(this.confirmCancelText, '', 'Yes', 'No', 'sm')
                    .then(({ok}) => {
                        if (ok) {
                            window.history.pushState('', document.title, window.location.pathname);
                            vm.$emit('close');
                        }
                    });
                return;
            }
            // display back the original url
            window.history.pushState('', document.title, window.location.pathname);

            // emit this close event
            this.$emit('close');
        }
    },
    computed: {
        modalStyle() {
            return {
                width: this.options.width || '',
                height: this.options.height || '',
                minHeight: this.options.minHeight || '',
                maxHeight: this.options.maxHeight || '',
                overflowY: this.options.overflowY || '',
                bottom: this.options.bottom || ''
            }
        },
    },
    mixins: [
        AlertMixin
    ]
}
</script>
