<template>
    <div class="nav-item dropdown ks-notifications">
        <a class="nav-link dropdown-toggle" @click.prevent="open" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="la la-bell ks-icon" aria-hidden="true">
                <span class="badge badge-pill badge-danger" v-show="hasNotification">{{ hasNotification }}</span>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right notification-container" aria-labelledby="Preview">
            <div class="nav nav-tabs ks-nav-tabs ks-info notification-title" role="tablist">
                <div>Notifications</div>
                <div>
                    <a v-if="data.length && false" href="#">Mark All as Read</a>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane ks-notifications-tab active" id="navbar-notifications-all" role="tabpanel">
                    <div class="ks-wrapper ks-scrollable notification-scrollable">
                        <div>
                            <div v-if="!data.length" class="notification-empty">You have no notifications.</div>
                            <div v-else v-for="(item, index) in data" :key="index">
                                <div v-if="item.timeline" class="separator">{{ item.timeline }}</div>
                                <a v-else :key="index" href="#" @click.prevent="read(item)"
                                    class="ks-notification" :class="{unread: !item.read_at}">
                                    <div class="ks-action">
                                        <span class="ks-default circle">
                                            <span class="la ks-icon" :class="item.icon"></span>
                                        </span>
                                    </div>
                                    <div class="ks-info">
                                        <div v-html="item.content"></div>
                                        <div class="ks-datetime">{{ item.created }}</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                     <div class="ks-view-all" v-if="false">
                         <a v-if="data.length" href="#">See All</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    a.ks-notification {
        height: 68px!important;
        color: #333;
    }
    .ks-notifications {
        border-color: rgba(1, 89, 0, 0.3);
    }
    .dropdown-menu {
        width: 400px!important;
    }
    .notification-title {
        display: flex;
        justify-content: space-between;
        padding: 15px;

        div a {
            font-weight: normal;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .notification-scrollable {
        height: 339px!important;
    }
    .notification-container {
        height: 433px!important;
    }
    .separator {
        margin: 0!important;
        color: #989898;
        padding: 8px 8px 8px 15px;
        border-bottom: 1px solid #dee0e1;
        font-weight: 500;
    }
    .unread {
        background: #ecf7ec;
        &:hover {
           background: #c7efc7!important;
        }
    }
    .ks-view-all a {
        color: #25628F!important;

        &:hover {
            text-decoration: underline;
        }
    }
    .notification-empty {
        text-align: center;
        font-weight: 400;
        padding: 12px;
    }
    .circle {
        height: 50px!important;
        width: 50px!important;
        margin-top: -7px!important;

        .ks-icon {
            margin-top: 4px;

            &:before {
                font-size: 22pt;
            }
        }
    }

    @media screen and (max-width: 414px) {
        .notification-container {
            left: -245px;
            min-width: 414px!important;
        }
    }

    @media screen and (max-width: 376px) {
        .notification-container {
            left: -206px;
            max-width: 375px!important;
            min-width: 375px !important;
        }
    }

    @media screen and (max-width: 360px) {
        .notification-container {
            left: -191px;
            max-width: 359px!important;
            min-width: 355px !important;
        }
    }
</style>

<script>
import _ from 'lodash';
import { mapActions, mapGetters } from 'vuex'

export default {
    data() {
        return {
            data: [],
        };
    },
    created() {
        const minute = 1;
        setInterval(async () => {
            await this.getNotifications({caching: new Date().getTime()});
            this.data = this.notifications;
        }, minute * 60000);
    },
    async mounted() {
        await this.getNotifications({caching: new Date().getTime()});
        this.data = this.notifications;
    },
    methods: {
        ...mapActions({
            getNotifications: 'notifications/getNotifications',
            readNotifications: 'notifications/readNotifications',
        }),
        async open() {
            if (this.hasNotification) {
                await this.readNotifications({action: 'open'});
            }
        },
        async read(item) {
            const params = item.uri_params;
            this.$router.push({name: item.redirect, params});

            if (!item.read_at) {
                const data = item.is_grouped ? item.ids : item.id;
                await this.readNotifications({data});
            }

            const index = _.findIndex(this.data, ['type', item.type]);
            const today = moment().format('YYYY-MM-DD HH:mm:ss');
            this.$set(this.data[index], 'read_at', today);
        }
    },
    computed: {
        ...mapGetters({
            notifications: 'notifications/data',
            unreadNotifications: 'notifications/unread',
            hasNotification: 'notifications/hasNotification',
        }),
    },
}
</script>
