<template>
    <div class="row client-on-boarding-checklist">
        <div class="col-sm-12 col-md-12 px-0">
            <h3>Client Onboarding Checklist</h3>
            <div class="wizard-progress">
                <div class="step" :class="contractSigned">
                    <span>Contract Signed</span>
                    <div class="node contract_signed" @click="clickNode('contract_signed')" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>

                <div class="step" :class="initialDeposit">
                    Initial Deposit
                    <div class="node initial_deposit" @click="clickNode('initial_deposit')" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>

                <div class="step" :class="startGuide">
                    Client Start Guide
                    <div class="node start_guide" @click="clickNode('start_guide')" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>

                <div class="step" :class="introductoryCall">
                    Introductory Call
                    <div class="node introductory_call" @click="clickNode('introductory_call')" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>

                <div class="step" :class="teamEmailsSent">
                    Team Emails to Clients
                    <div class="node team_emails_sent" @click="clickNode('team_emails_sent')" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>

                <div class="step" :class="firstWeekCheckup">
                    First Week Checkup
                    <div class="node first_week_check_up" @click="clickNode('first_week_check_up')" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>
                <div class="step" :class="firstMonthCheckup">
                    First Month Checkup
                    <div class="node first_month_check_up" @click="clickNode('first_month_check_up')" data-toggle="tooltip" data-placement="bottom">
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN WORK DETAIL DIALOG -->
	        <create-onboarding-checklist-modal v-if="form.key == 'create-onboarding-checklist' && open" :openModal="open" @close="open = false" @success="updateChecklist" :info="form"></create-onboarding-checklist-modal>
	    <!-- END WORK DETAIL DIALOG -->
    </div>
</template>

<style>
    .client-on-boarding-checklist {
        margin: 40px 0!important;
    }
    .client-on-boarding-checklist h3 {
        margin-bottom: 30px;
    }
    .wizard-progress {
        display: table;
        width: 100%;
        table-layout: fixed;
        position: relative;
    }

    .wizard-progress > .in-progress > .node {
        cursor: pointer;
    }

    .wizard-progress .step {
        display: table-cell;
        text-align: center;
        vertical-align: top;
        overflow: visible;
        position: relative;
        font-size: 14px;
        color: #000;
        font-weight: bold;
    }
    .wizard-progress .step:not(:last-child):before {
        content: '';
        display: block;
        position: absolute;
        left: 52%;
        top: 31px;
        background-color: #dee0e1;
        height: 6px;
        width: 100%;
    }
    .wizard-progress .step .node {
        display: inline-block;
        border: 6px solid #dee0e1;
        background-color: #dee0e1;
        border-radius: 18px;
        height: 18px;
        width: 18px;
        position: absolute;
        top: 25px;
        left: 50%;
    }
    .wizard-progress .step.complete:before {
        background-color:#4fb164;
    }
    .wizard-progress .step.complete .node {
        border-color:#4fb164;
        background-color:#4fb164;
    }
    .wizard-progress .step.complete .node:before {
        font-family: FontAwesome;
        content: "\f00c";
        color: #fff;
        position: absolute;
        top: -7px;
        left: -4px;
    }
    /* .wizard-progress .step.in-progress:before {
        background: #dee0e1;
        background: -moz-linear-gradient(left, #07c 0%, #fff 100%);
        background: -webkit-linear-gradient(left, #07c 0%, #fff 100%);
        background: linear-gradient(to right,#4fb164 0%, #fff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#dee0e1', endColorstr='#fff',GradientType=1 );
    } */
    .wizard-progress .step.in-progress .node {
        border-color: #4fb164;
    }

    /* Device = Desktop */
    @media (min-width: 1281px) and (max-width: 1980px) {
        .wizard-progress .step:not(:last-child):before {
            left: 55%;
            top: 45px;
        }

        .wizard-progress .step .node {
            top: 39px;
            left: 50%;
        }
    }

    /* Device = Laptops and Desktops */
    @media (min-width: 1025px) and (max-width: 1280px) {
        .wizard-progress .step:not(:last-child):before {
            left: 55%;
            top: 45px;
        }

        .wizard-progress .step .node {
            top: 39px;
            left: 50%;
        }
    }

    /* Device = Tablets, Ipads -> Portrait*/
    @media (min-width: 768px) and (max-width: 1024px) {
        .wizard-progress .step:not(:last-child):before {
            left: 58%;
            top: 45px;
        }

        .wizard-progress .step .node {
            top: 39px;
            left: 50%;
        }
    }

    /* Device = Tablets, Ipads -> Landscape */
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .wizard-progress .step:not(:last-child):before {
            left: 57%;
            top: 45px;
        }

        .wizard-progress .step .node {
            top: 39px;
            left: 50%;
        }
    }

    /* Device = Low Resolution Tablets, Mobiles -> Landscape */
    @media (min-width: 481px) and (max-width: 767px) {
        .wizard-progress .step:not(:last-child):before {
            left: 59%;
            top: 45px;
        }

        .wizard-progress .step .node {
            top: 39px;
            left: 50%;
        }
    }

    /* Device = Smartphone -> Portrait */
    @media (min-width: 320px) and (max-width: 480px) {
        .wizard-progress .step:not(:last-child):before {
            left: 50%;
            top: 45px;
        }

        .wizard-progress .step .node {
            top: 39px;
            left: 50%;
        }
    }
</style>

<script>
import _ from 'lodash';
import CreateOnboardingChecklistModal from '@views/pages/client/_modals/onboarding-checklist-modal.vue';
import { Client } from '@common/model/Client';
import { mapActions, mapGetters } from 'vuex';
import jQuery from 'jquery';

export default {
    data() {
        return {
            checklistStep: 0,
            tooltipText: '',
            step: 'start',
            open: false,
            form: {
	                key: '',
                    name: '',
            },
            steps: ['contract_signed','initial_deposit','start_guide','introductory_call','team_emails_sent','first_week_check_up','first_month_check_up','end'],
            clientInfo: {}
        }
    },
    computed: {
        ...mapGetters({
            client:'clients/client',
            meta:'clients/meta'
        }),
        contractSigned() {
            if(this.clientInfo.contract_signed) {
                this.step = 'initial_deposit';
                return 'complete';
            } else {
                this.step = 'contract_signed';
                return 'in-progress';
            }
        },
        initialDeposit() {
            if(this.clientInfo.contract_signed) {
                if(this.clientInfo.initial_deposit) {
                    this.step = 'start_guide';
                    return 'complete';
                } else {
                    this.step = 'initial_deposit';
                    return 'in-progress';
                }
            } else {
                return '';
            }
        },
        startGuide() {
            if(this.clientInfo.initial_deposit) {
                if(this.clientInfo.start_guide) {
                    this.step = 'introductory_call';
                    return 'complete';
                } else {
                    this.step = 'start_guide';
                    return 'in-progress';
                }
            } else {
                return '';
            }
        },
        introductoryCall() {
            if(this.clientInfo.start_guide) {
                if(this.clientInfo.introductory_call) {
                    this.step = 'team_emails_sent';
                    return 'complete';
                } else {
                    this.step = 'introductory_call';
                    return 'in-progress';
                }
            } else {
                return '';
            }
        },
        teamEmailsSent() {
            if(this.clientInfo.introductory_call) {
                if(this.clientInfo.team_emails_sent) {
                    this.step = 'first_week_check_up';
                    return 'complete';
                } else {
                    this.step = 'team_emails_sent';
                    return 'in-progress';
                }
            } else {
                return '';
            }
        },
        firstWeekCheckup() {
            if(this.clientInfo.team_emails_sent) {
                if(this.clientInfo.first_week_check_up) {
                    this.step = 'first_month_check_up';
                    return 'complete';
                } else {
                    this.step = 'first_week_check_up';
                    return 'in-progress';
                }
            } else {
                return '';
            }
        },
        firstMonthCheckup() {
            if(this.clientInfo.first_week_check_up) {
                if(this.clientInfo.first_month_check_up) {
                    this.step = 'end';
                    return 'complete';
                } else {
                    this.step = 'first_month_check_up';
                    return 'in-progress';
                }
            } else {
                return '';
            }
        }
    },
    async created() {
        let $ = jQuery;
        $(document).ready(function() {
            $('.node').tooltip();
        });
        await this.getData();
    },
    mounted(){
        this.initTitle(this.step);
    },
    methods: {
        ...mapActions({
            getClient: 'clients/getClient'
        }),
        async updateChecklist(step){
            this.wizardStatus(null, step);
        },
    
		openChecklistModal(formOptions) {
            this.form = _.merge(formOptions, {step: this.step});
            this.open = true;
        },

        wizardStatus($event, step) {
            let $ = jQuery;
            let self = this;
            
            // Make sure DOM is ready;
            // tooltip is triggered through jQuery.
            $(function() {
                if(step == 'contract_signed') {
                    if(!self.clientInfo.contract_signed) {
                        self.updateStatus({id: self.clientInfo.id, company: self.clientInfo.company, contract_signed: 1});
                        self.initTitle('initial_deposit');
                    }
                } else if(step == 'initial_deposit') {
                    if(self.clientInfo.contract_signed) {
                        if(!self.clientInfo.initial_deposit) {
                            self.updateStatus({id: self.clientInfo.id, company: self.clientInfo.company, initial_deposit: 1});
                            self.initTitle('start_guide');
                        }
                    }
                } else if(step == 'start_guide') {
                    if(self.clientInfo.initial_deposit) {
                        if(!self.clientInfo.start_guide) {
                            self.updateStatus({id: self.clientInfo.id, company: self.clientInfo.company, start_guide: 1});
                            self.initTitle('introductory_call');
                        }
                    }
                } else if(step == 'introductory_call') {
                    if(self.clientInfo.start_guide) {
                        if(!self.clientInfo.introductory_call) {
                            self.updateStatus({id: self.clientInfo.id, company: self.clientInfo.company, introductory_call: 1});
                            self.initTitle('team_emails_sent');
                        }
                    }
                } else if(step == 'team_emails_sent') {
                    if(self.clientInfo.introductory_call) {
                        if(!self.clientInfo.team_emails_sent) {
                            self.updateStatus({id: self.clientInfo.id, company: self.clientInfo.company, team_emails_sent: 1});
                            self.initTitle('first_week_check_up');
                        }
                    }
                }  else if(step == 'first_week_check_up') {
                    if(self.clientInfo.team_emails_sent) {
                        if(!self.clientInfo.first_week_check_up) {
                            self.updateStatus({id: self.clientInfo.id, company: self.clientInfo.company, first_week_check_up: 1});
                            self.initTitle('first_month_check_up');
                        }
                    }
                } else if(step == 'first_month_check_up') {
                    if(self.clientInfo.first_week_check_up) {
                        if(!self.clientInfo.first_month_check_up) {
                            self.updateStatus({id: self.clientInfo.id, company: self.clientInfo.company, first_month_check_up: 1});
                            self.initTitle('end');
                        }
                    }
                }
            });
        },
        async updateStatus(data) {
            let client = new Client({id: data.id});
            client.save(data).then((res) => {
                this.getData();
            });
        },
        async getData(){
            await this.getClient(this.$route.params.id);
            this.clientInfo = this.client;
        },
        initTitle(step) {
            let $ = jQuery;
            let currentIndex = this.steps.indexOf(step);
            $('.node').attr('data-original-title','').css('cursor','');
            $('.'+step).attr('data-original-title', 'Click to check.');
        },
        clickNode(step) {
            let $ = jQuery;
            let openIndex = this.steps.indexOf(step);
            let currentIndex = this.steps.indexOf(this.step);

            if (openIndex <= currentIndex) {
                $('.node').tooltip('hide');
                this.openChecklistModal({key: 'create-onboarding-checklist', name: step});
            } else {
                $('.node').tooltip('hide');
                $('.'+this.step)
                    .attr('data-original-title', 'Please check this first')
                    .removeProp('title')
                    .tooltip('show');
            }
        }
    },
    components: {
        CreateOnboardingChecklistModal,
    },
}
</script>
