<!--fullscale-employee\resources\js\components\pagination.vue-->
<template>
    <div class="row">
        <!-- BEGIN PAGINATION INFO -->
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" role="status" aria-live="polite" v-if="showBottomCaption">Showing {{ pageTo }}</div>
        <!-- END PAGINATION INFO -->
        </div>
        <!-- BEGIN PAGINATION LINKS -->
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                    <!-- BEGIN FIRST PAGE BUTTON -->
                    <li class="paginate_button page-item previous"
                        :class="!pagination.prevPageUrl ? 'disabled' : ''" v-if="showButtonFirstPage">
                        <a aria-controls="ks-datatable" tabindex="0" class="page-link"
                            @click="gotoPage('first')" title="Go to the first page">
                            <span class="ks-icon la la-fast-backward"></span>
                        </a>
                    </li>
                    <!-- END FIRST PAGE BUTTON -->
                    <!-- BEGIN PREVIOUS BUTTON -->
                    <li class="paginate_button page-item previous"
                        :class="!pagination.prevPageUrl ? 'disabled' : ''">
                        <a aria-controls="ks-datatable" tabindex="0" class="page-link" title="Go to the previous page"
                            @click="$emit('prev')">
                            <span class="ks-icon la la-play inverted"></span>
                        </a>
                    </li>
                    <!-- END PREVIOUS BUTTON -->
                    <!-- BEGIN LEFT MORE PAGES -->
                    <li class="paginate_button page-item previous" v-if="prevMorePages">
                        <a aria-controls="ks-datatable" 
                            tabindex="0" class="page-link" @click="gotoPage('prev')" title="More pages">....</a>
                    </li>
                    <!-- END LEFT MORE PAGES -->
                    <!-- BEGIN PAGINATION LINKS -->
                    <li v-for="index in getPages" :key="index" class="pagination_button page-item"
                        :class="pagination.currentPage == index ? 'active' : ''">
                        <a aria-controls="ks-datatable" class="page-link" @click="$emit('page', index)">{{ index }}</a>
                    <!-- END PAGINATION LINKS -->
                    </li>
                    <!-- BEGIN RIGHT MORE PAGES -->
                    <li class="paginate_button page-item previous" v-if="nextMorePages">
                        <a aria-controls="ks-datatable" 
                            tabindex="0" class="page-link" @click="gotoPage('next')" title="More pages">...</a>
                    </li>
                    <!-- END RIGHT MORE PAGES -->
                    <!-- BEGIN NEXT BUTTON -->
                    <li class="paginate_button page-item next"
                        :class="!pagination.nextPageUrl ? 'disabled' : ''">
                        <a aria-controls="ks-datatable" tabindex="0" class="page-link" title="Go to the next page" @click="$emit('next')">
                            <span class="ks-icon la la-play"></span>
                        </a>
                    </li>
                    <!-- END NEXT BUTTON -->
                    <!-- BEGIN LAST PAGE BUTTON -->
                    <li class="paginate_button page-item next"
                        :class="!pagination.nextPageUrl ? 'disabled' : ''" v-if="showButtonLastPage">
                        <a aria-controls="ks-datatable" tabindex="0" class="page-link" 
                            @click="gotoPage('last')" title="Go to the last page" >
                            <span class="ks-icon la la-fast-forward"></span>
                        </a>
                    </li>
                    <!-- END LAST PAGE BUTTON -->
                </ul>
            </div>
        </div>
        <!-- END PAGINATION LINKS -->
    </div>
</template>

<style scoped>
    .la-play.inverted {
        transform: scaleX(-1);
    }
</style>


<script>

export default {
    props: {
        pagination: {
            type: Object,
            required: true
        },
        showBottomCaption: {
            type: Boolean,
            default: true
        },
        showButtonFirstPage: {
            type: Boolean,
            default: true
        },
        showButtonLastPage: {
            type: Boolean,
            default: true
        }
        
    },
    data() {
        return {
            buttonCount: 5,
        };
    },
    computed: {
      pageTo: function() {
        let pageText = "";
        let entryText = "";
        let secondToText = "";
          entryText = this.pagination.total == 1 ? " entry" : " entries";
          secondToText = parseInt(this.pagination.total) < parseInt(this.pagination.currentPage * this.pagination.perPage) ? this.pagination.total : (this.pagination.currentPage * this.pagination.perPage);
          pageText = this.pagination.total == '0' ? " 0" + entryText : this.pagination.from + " to " + secondToText + " of " + this.pagination.total + entryText;
        return pageText;
      },
      batches: function() {
          let arr = [];
          const pages = this.pagination.pages;
          const btnCount = this.buttonCount;
          const batch = Math.ceil(pages / btnCount);
          const remaining = pages > btnCount ? pages % btnCount : 0;
          for (let i = 1; i <= batch; i++) {
              let start, end;
              if (batch == 1) {
                  start = 1;
                  end = pages + 1;
              } else {
                  if (i == batch && remaining) {
                      const arrLast = arr[i - 2][btnCount - 1] + 1;
                      start = arrLast;
                      end = arrLast + remaining;
                  } else {
                      end = i * btnCount + 1;
                      start = end - btnCount;
                  }
              }
              arr.push(_.range(start, end));
          }
          return arr;
      },
      batchIndex() {
          const currentPage = this.pagination.currentPage;
          return this.batches.findIndex(function(element) {
              return element.find(function (el) {
                  return el == currentPage;
              });
          });
      },
      getPages() {
          return this.batches[this.batchIndex];
      },
      prevMorePages() {
          return (typeof this.batches[this.batchIndex - 1] !== 'undefined');
      },
      nextMorePages() {
          return (typeof this.batches[this.batchIndex + 1] !== 'undefined');
      },
    },
    methods: {
        gotoPage(dir) {
            if (dir == 'next') {
                this.$emit('page', this.batches[this.batchIndex + 1][0]);
            } else if (dir == 'prev') {
                this.$emit('page', this.batches[this.batchIndex - 1][this.buttonCount - 1]);
            } else if (dir == 'first') {
                this.$emit('page', 1);
            } else if (dir == 'last') {
                this.$emit('page', this.pagination.pages);
            }
        }
    },
}
</script>
