<template>
    <div class="progress-graph-bar-container">
        <div class="progress-graph-bar" :style="{height: height + 'px', 'line-height': height + 'px'}">
            <div
                :title="progress.text.leftActualVal + ' ' + title[0]"
                :style="{width: progress.value.leftWidth + '%',
                'font-size': fontsize + '%',
                height: height + 'px',
                'background-color': progressColor(progress.text.leftActualVal),
                }"
                ><span v-if="showProgressBarLabel.left">{{progress.text.leftActualVal}}</span>
            </div>
            <div
                :title="progress.text.rightActualVal + ' ' + title[1]"
                :style="{width: progress.value.rightWidth + '%',
                'font-size': fontsize + '%',
                height: height + 'px'
                }"
                ><span v-if="showProgressBarLabel.right">{{progress.text.rightActualVal}}</span>
            </div>
            <p class="labelCenter" v-if="showMiddle(showProgressBarLabel) ">{{progress.text.leftActualVal}}</p>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    $leftColor: #c7f6cc;
    $rightColor: #d9d9d9;
    .progress-graph-bar-container {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        .progress-graph-bar {
            position: relative;
            width: 100%;
            text-align: center;
            color: #000;
            & div {
                position: absolute;
            }
            & > div:first-child {
                left: 0;
                top: 0;
                background-color: $leftColor;
            }
            & div+div {
                right: 0;
                top: 0;
                background-color: $rightColor;
            }
        }
    }
    .labelCenter {
        position: inherit;
    }
</style>
<script>
    export default {
        props: {
            title: {
                type: Array,
            },
            percentage : {
                type: Number|String,
                required: true,
            },
            height : {
                type: Number,
            },
            fontsize : {
                type: Number,
            },
            showProgressBarLabel: {
                type: Object,
                default: () => ({
                    left: false,
                    right: false,
                })
            },
            isCurrentMonthAndYear: {
                type: Boolean,
                required: true,
            },
        },
        methods: {
            showMiddle(show) {
                return !show.right && !show.left
            },
            isExceedsTargetHours(hours) {
                const targetHoursPercentage = 100;
                let hrs = hours.replace(/%/g, '');
                    hrs = parseInt(hrs);

                return hrs > targetHoursPercentage;
            },
            progressColor(value) {
                const perfect = 100;
                let hrs = value.replace(/%/g, '');

                if (hrs >= perfect) {
                    return '#c7f6cc';
                }

                return this.isCurrentMonthAndYear ? '#ffc107' : '#e8112670';
            },
        },
        computed: {
            progress() {
                let percentage = Number(this.percentage).toFixed(2);
                let computedRightVal = percentage <= 0 ? 100 : (100 - (percentage >= 100 ? 100 : percentage)).toFixed(2);

                return {
                    value : {
                        leftWidth : percentage >= 100 ? 100 : Math.ceil(percentage) * 1,
                        rightWidth : Math.ceil(computedRightVal) * 1
                    },
                    text : {
                        left : percentage >= 100 ? percentage * 1 + '%' : (percentage <= 10 ? '' : percentage * 1 + '%'),
                        right : computedRightVal >= 10 ? computedRightVal * 1 + '%' : '',
                        leftActualVal : percentage * 1 + '%',
                        rightActualVal : computedRightVal * 1 + '%'
                    }
                };
            },
        },
    }
</script>

