<template>
  <FullCalendar 
  defaultView="dayGridMonth" 
  :plugins="calendarPlugins"
   :events="[
    { title: 'event 1', date: '2020-03-04' },
    { title: 'event 2', date: '2020-03-03' }
  ]"
   />
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'

export default {
  components: {
    FullCalendar // make the <FullCalendar> tag available
  },
  method:{


  },
  data() {
    return {
      calendarPlugins: [ dayGridPlugin ]
    }
  }
}

</script> 

<style lang='scss'>

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

</style>