<template>
  <div class="chart-wrapper text-center">
    <div class="chart-label" v-if="!horizontal">{{ title }}</div>
    <div class="chart-label-extra" v-if="!horizontal"></div>
    <apexchart type="bar" width="100%" :height="100" :options="chartOptions" :series="series" />
  </div>
</template>

<style lang="scss" scoped>
  #chart {
    width: 650px;
    padding-left: 20px;
    background:#666;
  }
  .chart-label {
    margin-left: -15px;
    background-color: #666;
    height: 30px;
    box-shadow: 5px 5px 1px #cbccce;
    line-height: 30px;
    padding-left: 25px;
    width: 250px;
    color: white;
  }
  .chart-label-extra {
    height: 0px;
    width: 0px;
    margin-left: -15px;
    border-top: 12px solid #1a4706;
    border-left: 15px solid transparent;
  }
  .odd.chart-wrapper {
    background-color: #f5f6fa;
    padding-top: 20px;
    width: 100%;
    margin-left: 15px;
    display: inline-block;
    @media (min-width: 768px) {
      width: calc(100% - 15px);
    }
  }
  .even.chart-wrapper {
    background-color: #ffffff;
    padding-top: 20px;
    width: 100%;
    margin-left: 15px;
    display: inline-block;
    @media (min-width: 768px) {
      width: calc(100% - 15px);
    }
  }
  .apexcharts-legend {
    display: none;
  }
  .chart-wrapper {
    height: 60px; //if set to 0 the bar over shoots
    position: relative;
    margin: -38px 0px 0px 0px; // manually adjust the bar chart to center align
  }
</style>

<script>
import VueApexCharts from 'vue-apexcharts';
import EDBMixin from '@common/mixin/EDBMixin';

export default {
    data() {
        return {
            chartOptions: {
                chart: {
                    width: '50%',
                    stacked: true,
                    toolbar: {
                      show: false,
                    },
                    zoom: {
                        enabled: true,
                    },
                    stackType: this.stackType,
                },
                responsive: [{
                  breakpoint: 480,
                  options: {
                    legend: {
                      position: 'bottom',
                      offsetX: -10,
                      offsetY: 0,
                    },
                  },
                },
                ],
                // colors: ['#226236', '#146e3a', '#2c7639', '#54873c', '#64C935', '#82df52'],
                colors: ['#c7f6cc', '#d9d9d9'],
                plotOptions: {
                  bar: {
                    horizontal: this.horizontal,
                  },
                },
                dataLabels: {
                    enabled: this.horizontal,
                    formatter: function (val) {
                        return (val < 0) ? '' : val + '%'; // added condition so that label won't overshoot
                    },
                    //this is for the text inside the bar line
                    style: {
                      fontSize: '11px',
                      colors: ['#333'],
                      fontFamily: 'Montserrat, sans-serif'
                    },
                      textAnchor: 'middle',
                },
                grid: {
                  show: false, //botton border of bar line
                },
                annotations: {
                  position: 'front',
                  display:  'none',
                  yaxis: [{ 
                      borderColor: 'none', //upper of bar line border
                      label: {
                          show:false     
                      }
                  }],
                },
                xaxis: {
                  type: 'category',
                  categories: this.categories,
                  labels: {
                      show: false
                  },
                  axisBorder: {
                      show: false
                  },
                  axisTicks: {
                      show: false
                  },
                  floating: false,
                  position: 'bottom',
                  title: {
                      show: false,
                      
                  },
                  crosshairs: {
                      show: false
                  },
                  tooltip: {
                      enabled: true,
                  }
                },
                legend: {
                  show: !this.horizontal,
                  position: 'right',
                  horizontalAlign: 'left',
                  offsetY: 0,
                  offsetX: 0,
                },
                states: {
                  normal: {
                    filter: {
                      type: 'none',
                      value: 0
                    }
                  },
                  hover: {            //hovering effect when hovering to progress bar 
                    filter: {
                      type: 'darken', // defining the color once hovered
                      value: 0.80,
                    }
                  },
                },
                fill: {
                  opacity: 1,
                },
                tooltip: {
                  enabled: this.horizontal,
                  followCursor: true, // follow the cursor when hovering the result thus it doesn't overshoot when hovered
                  x: {
                    show: false, // remove the header on the hover result in bar chart as it isn't needed
                  },
                  y: {
                    formatter: function (val) {
                    return val + '%';
                    }
                  },
                },
            },
        };
    },
    props: {
        title: {
            type: String,
        },
        series: {
            type: Array,
            required: true,
        },
        categories: {
            type: Array,
            required: true,
        },
        width: {
            type: Number,
            //default: 450
        },
        height: {
            type: Number,
            default: '100%',
        },
        horizontal: {
            type: Boolean,
            default: false,
        },
        stackType: {
            type: String,
            default: '',
        },
    },
    components: {
        apexchart: VueApexCharts,
    },
    mixins: [
        EDBMixin
    ],
};
</script>
