<template>
    <div class="chart-wrapper text-center">
        <div class="chart-label" v-if="!horizontal">{{ title }}</div>
        <div class="chart-label-extra" v-if="!horizontal"></div>
        <apex-chart id="report-chart" type="bar" :width="width" :height="height" :options="chartOptions" :series="series" />
    </div>
</template>

<script>
// components
import ApexChart from 'vue-apexcharts';

export default {
    props: {
        title: {
            type: String,
        },
        series: {
            type: Array,
            required: true,
        },
        categories: {
            type: Array,
            required: true,
        },
        width: {
            type: String|Number,
            default: '100%',
        },
        height: {
          type: Number,
          default: '100%',
        },
        horizontal: {
            type: Boolean,
            default: false,
        },
        stackType: {
            type: String,
            default: '',
        },
    },
    components: {
        ApexChart,
    },
    data() {
        return {
            chartOptions: {
                chart: {
                    width: '50%',
                    stacked: true,
                    zoom: {
                        enabled: true,
                    },
                    stackType: this.stackType,
                },
                responsive: [
                    {
                        breakpoint: 480,
                        options: {
                          legend: {
                            position: 'bottom',
                            offsetX: -10,
                            offsetY: 0,
                          },
                        },
                    },
                ],
                // colors: ['#226236', '#146e3a', '#2c7639', '#54873c', '#64C935', '#82df52'],
                colors: ['#3EB581', '#EF6439'],
                plotOptions: {
                    bar: {
                        horizontal: this.horizontal,
                    },
                },
                dataLabels: {
                    enabled: false,
                },
                grid: {
                    borderColor: '#808080',
                },
                xaxis: {
                    categories: this.categories,
                },
                legend: {
                    position: 'top',
                    horizontalAlign: 'left',
                    offsetY: 10,
                    offsetX: 40,
                },
                fill: {
                    opacity: 1,
                },
            },
        };
    },
};
</script>

<style lang="scss" scoped>
.chart-label {
    margin-left: -15px;
    background-color: #2c7639;
    height: 30px;
    box-shadow: 5px 5px 1px #cbccce;
    line-height: 30px;
    padding-left: 25px;
    width: 250px;
    color: white;
}
.chart-label-extra {
    height: 0px;
    width: 0px;
    margin-left: -15px;
    border-top: 12px solid #1a4706;
    border-left: 15px solid transparent;
}
.chart-wrapper {
    background-image: linear-gradient(#e4e5e7, #cbccce);
    padding-top: 20px;
    width: 100%;
    margin-left: 15px;
    display: inline-block;

    @media (min-width: 768px) {
        width: calc(100% - 15px);
    }
}
</style>
