<template>
  <div>
    <table border="1">
      <thead>
        <tr class="header" v-if="!isWeeklyReport">
          <td class="header-label-col" v-show="headers.length > 0">
            {{ title }}
          </td>
          <td
            class="header-content-col"
            v-for="(header, index) in headers"
            :key="index"
          >
            {{ header }}
          </td>
        </tr>
        <tr class="header" v-else>
          <td class="header-label-col" v-show="headers.length > 0">
            {{ title }}
          </td>
          <td v-for="(header, i) in headers" :key="i">
            <table class="no-border">
              <tr>
                <td class="header-label-col">{{ headers[i] }}</td>
              </tr>
              <tr>
                <td class="header-content-col">{{ subheaders[i] }}</td>
              </tr>
            </table>
          </td>
          <td class="header-label-col">Total</td>
        </tr>
      </thead>
        <!-- THIS TABLE LAYOUT IS USED IN DAILY TRACKER -->
        <tbody v-if="isStandard && content.length > 0">
          <template v-for="grouped in content">
              <template>
                  <tr v-for="(emp, i) in grouped">
                    <template v-if="i === 0">
                      <td :rowspan="grouped.length" class="body-label-col">{{ emp.name }}</td>
                      <td :rowspan="grouped.length" class="body-label-col">{{ emp.day }}</td>
                    </template>
                    <td
                      class="body-content-col"
                      :class="tdClass(emp)"
                      v-for="(workLog, index) in emp.workLogs"
                      :key="index"
                     >
                      <template v-if="emp.workLogs.includes('Paid Time Off')">
                          <!-- DISPLAY PTO UNDER PROJECT COLUMN -->
                          <span v-if="index == emp.workLogs.length-1">Paid Time Off</span>
                      </template>
                      <template v-else-if="emp.isHoliday">
                          <span v-if="index == emp.workLogs.length-1">{{ workLog }}</span>
                      </template>
                      <template v-else>
                          {{ workLog }}
                      </template>
                    </td>
                  </tr>
                  <!-- DAY SEPARATOR -->
                  <tr style="height:15px"></tr>
              </template>
          </template>
        </tbody>

        <!-- THIS TABLE LAYOUT IS USED IN WEEKLY REPORTS -->
        <tbody v-else-if="content.length > 0">
          <tr v-for="(emp, index) in content" :key="index">
            <td class="body-label-col">{{ emp.name }}</td>
            <td
              class="body-content-col"
              :class="
                workLog['pto'] != 0 && workLog['work'] == 0
                  ? 'pto-label'
                  : workLog['holiday'] != 0 && workLog['work'] == 0
                  ? 'holiday-color'
                  : ''
              "
              v-for="(workLog, index) in emp.workLogs"
              :key="index"
            >
              <!-- IF HAS TIMELOGS AND LEAVE AT THE SAME DAY -->
              <span v-if="workLog['work'] != 0 && workLog['pto'] != 0">
                <table class="no-border">
                  <tr>
                    <td class="body-sub-content-col">{{ workLog['work'] }}</td>
                    <td class="pto-label body-sub-content-col">
                        PTO
                      <!-- {{ workLog['pto'] }} -->
                      <!--  WE WILL NOT DISPLAY HOURS FOR PTO -->
                    </td>
                  </tr>
                </table>
              </span>
              <!-- IF HOLIDAY AND AT THE SAME TIME HAS TIMELOGS -->
              <!-- <span v-if="workLog['work'] != 0 && workLog['holiday'] != 0">
                                  <table class="no-border">
                                      <tr>
                                          <td class="body-sub-content-col">{{ workLog['work'] }}</td>
                                          <td class='holiday-label body-sub-content-col'>{{ workLog['holiday'] }}</td>
                                      </tr>
                                  </table>
                              </span> -->
              <!-- IF HAS PTO ONLY -->
              <span v-else-if="workLog['pto'] != 0">
                  PTO
                  <!--{{ workLog['pto'] }} -->
                  <!--  WE WILL NOT DISPLAY HOURS FOR PTO -->
              </span>
              <!-- IF HAS TIMELOGS ONLY -->
              <span v-else-if="workLog['work'] != 0">{{ workLog['work'] }} </span>
              <!-- IF HAS PTO ONLY -->
              <span v-else-if="workLog['holiday'] != 0">{{
                workLog['holiday']
              }}</span>
            </td>
            <td class="body-content-col">
                <strong>{{ emp.total }}</strong>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td class="body-content-col text-center" :colspan="headers.length + 2">
              No Reports Available
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    headers: {
      type: Array,
    },
    content: {
      type: Array,
    },
    subheaders: {
      type: Array,
      default: () => [],
    },
    isWeeklyReport: {
      type: Boolean,
      default: false,
    },
    isStandard: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
      tdClass(row) {
          if (row.workLogs.includes('Rest/Lunch Break')) {
              return 'highlight-red';
          }

          if (row.workLogs.includes('Paid Time Off')) {
              return 'pto-label';
          }

          if (row.isHoliday) {
              return 'holiday-label';
          }

          return '';
      },
  },
};
</script>

<style scoped>
table {
  color: white;
  font-family: calibri;
  text-align: center;
  border: 1px solid white;
  width: 100%;
}
table .body-content-col {
  color: black;
}
table .body-sub-content-col {
  color: black;
}
.no-border {
  border: 0px solid !important;
}
.header {
  border-bottom: 3px solid white;
}
.holiday-color {
  background-color: #cd5c5c!important;
  color: #fff!important;
}
.header-content-col {
  background-color: #146e3a;
}
.header-label-col {
  background-color: #54873c;
}
.body-content-col {
  background-color: #b7b7b7;
}
.body-label-col {
  background-color: #6f6f6f;
}
.highlight-red {
  background-color: rgb(236, 84, 86) !important;
  color: #fff!important;
}
.pto-label {
  background-color: mediumpurple;
  color: #fff!important;
}
.holiday-label {
  background-color: #417941;
  color: #fff!important;
}

@media screen and (max-width: 414px) {
    td.body-label-col, td.body-content-col {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}

@media screen and (max-width: 450px) {
    td.header-label-col {
        white-space: nowrap!important;
        padding: 4px!important;
    }
    td.body-label-col, td.body-content-col {
        white-space: nowrap!important;
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}
</style>
