<template>
	<div v-if="resource" class="profile-card">
		<div class="profile-card-block">
			<div class="profile-card-head">
				<div class="fs-user-photo-container">
					<a :href="resource.profile_url" target="_blank">
						<img class="profile--photo"  @error="loadDefaultImg" :src="pic" alt="">
					</a>
				</div>
				<a :href="resource.profile_url" target="_blank" class="profile-card-user-name" :title="`Go to ` + resource.first_name +` `+ resource.last_name + `'s profile`">{{ resource.first_name }} {{ getLastnameInitial(resource.last_name) }} <i class="la la-external-link"></i></a>
				<div class="profile-card-position fs-bg-green"><span>{{ resource.position }}</span></div>
			</div>
			<div class="profile-card-body">
				<div class="status-box">
					<span class="profile-card-user-status">{{ resource.status }}</span>
					<div class="button-section">
						<span v-if="showSaveButton">
							<a 	v-if="!resource.isInBucket"
								href="#"
								class="btn fs-btn fs-btn-rounded fs-btn-sm unsaved"
								@click.prevent="onClick('saveProfileButton', resource)"							
								>
								Save Profile
							</a>
							<a 	v-if="resource.isInBucket" href="#" class="btn fs-btn fs-btn-rounded fs-btn-sm saved" 									
								@click.prevent="onClick('unsaveProfileButton', resource)"							
								>
								Unsave Profile
							</a>
						</span>
						<span v-if="showSetAppointmentButton">
							<a 	
								href="#" 
								class="btn fs-btn fs-btn-rounded fs-btn-sm default" 									
								@click.prevent="onClick('setAppointmentButton', resource)"							
								>
								Set Appointment
							</a>
						</span>
						<span v-if="showViewProfileButton">
							<a 	
								:href="resource.profile_url" target="_blank" 
								class="btn fs-btn fs-btn-rounded fs-btn-sm default"															
								>
								View Profile
							</a>
						</span>
						<!-- For additional button coordinate with component creator -->
					</div>					
				</div>
				<div :class="[{'expand': showAllSkills == true},{'normal': showAllSkills == false }]" class="fs-skills-wrapper">						
					<div class="fs-skills-wrapper-tabs ks-tabs-container ks-tabs-default ks-tabs-with-separator ks-tabs-header-default">
						<ul class="nav ks-nav-tabs resource-card-tab">
							<li @click="fsCertificationTabClicked"
								v-if="totalHackerRankTest > 0" 
								class="nav-item resource-card-tab-link"								
								>
								<a 
									class="nav-link"
									:class="{'active': activeTab == 'fs'}" 
									href="#" data-toggle="tab" 
									:data-target="`#tab1-` + resource.id"
									>
									<span>FS CERTIFICATIONS</span>
								</a>
							</li>
							<li 
								@click="selfAssessmentTabClicked"
								class="nav-item resource-card-tab-link"
								>
								<a  
									class="nav-link" 
									:class="{'active': activeTab == 'sa'}" 
									href="#" data-toggle="tab" 
									:data-target="`#tab2-` + resource.id"
									>
									<span>SELF ASSESSMENT</span>
								</a>
							</li>									
						</ul>
						<div class="tab-content">
							<div v-if="totalHackerRankTest > 0" class="tab-pane" :class="{'active': activeTab == 'fs'}" :id="`tab1-` + resource.id" role="tabpanel">
								<div class="fs-skills-box">								
									<div v-for="(hrTest, index) in resource.hackerRankTestResult" :key="index" class="ks-active-clients-category-progress skill-box">
										<span v-if="hrTest.skill_name != ''" class="ks-name">{{ hrTest.skill_name }}</span>
										<span v-if="hrTest.skill_name != ''" class="skill-rate">{{ hrTest.percent_score }} %</span>
										<div v-if="hrTest.skill_name != ''" class="progress ks-progress-xs">
											<div class="progress-bar fs-progress-bar" role="progressbar" :style="generateProgressBarStyle(hrTest,'hr')" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" :class="{'active': totalHackerRankTest == 0 || activeTab == 'sa'}" :id="`tab2-` + resource.id" role="tabpanel">
								<div class="fs-skills-box">							
									<div v-for="(skill,index) in resource.selfAssessment" :key="index" class="ks-active-clients-category-progress skill-box">
										<span class="ks-name">{{ skill.skill_name }}</span>	
										<span class="skill-rate">{{ skill.proficiency }}/10</span>
										<div class="progress ks-progress-xs">
											<div class="progress-bar fs-progress-bar" role="progressbar" :style="generateProgressBarStyle(skill, 'sa')" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>									
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="profile-card-footer">
			<i
			v-if="showFsSkillButton"		
			@click="showSkillsOption" 
			:class="[{'la-chevron-circle-down': showAllSkills == true},{'la-chevron-circle-up': showAllSkills == false}]"
			title="Expand/Collapse FS Certification Section"
			class="toggleSkillButton la"
			></i>
			<i 	
			v-if="showSelfAssessmentSkillButton"		
			@click="showSkillsOption" 
			:class="[{'la-chevron-circle-down': showAllSkills == true},{'la-chevron-circle-up': showAllSkills == false}]"
			title="Expand/Collapse Self Assessment Section"
			class="toggleSkillButton la"
			></i>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	$light-green: #48ce27;
	$dark-green: #0f7736;
	$gray: #8a8a8a;

	.fs-user-photo-container {       
		position: relative;
		text-align: center;
		height: 110px;
		margin: 10px auto 2px;
        .remove {
            // background: black;
            color: white;
            border-radius: 100px;
            border-width: 1px;
            font-size: 23px;
            position: absolute;
            top: -10px;
            right: -10px;
            cursor: pointer;
        }
		a {
			width: 110px;
			height: 110px;
			margin: 0 auto;	
			display: inline-block;			
			.profile--photo {
				width: 110px;
				height: 110px;
				border-radius: 50%;
				border: 1px solid #dadada;
			}
		}
    }
	.profile-card {
		position: relative;
		margin-bottom: 15px;
		border: 1px solid #d8d8d8;
		border-radius: 3px;
		height: 436px;
		overflow-y: hidden;
		.profile-card-footer {
			position: absolute;
			width: 100%;
			text-align: center;
			bottom: 0;
			background: #fff;
			height: 24px;
			i {
				font-size: 20px;
			}
		}
	}
	.profile-card-block {
		display: -webkit-box;
		display: -ms-flexbox;
		-js-display: flex;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0;		
	}
	.profile-card-head {
		width: 100%;
		height: auto;
		background: #e5e5e5;	
	}
	.profile-card-body {
		width: 100%;
		height: auto;
		position: relative;
		min-height: 262px;
		height: auto;
	}
	.profile-card-head img {
		display: block;
	}
	.profile-card-user-name {
		display: inline-block;
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 7px;
		width: 100%;
		text-align: center;
		word-break: break-word;
	}
	.profile-card-user-status {
		display: inline-block;
		font-size: 12px;
		font-weight: 500;
		padding: 10px 5px ;   
		width: 100%;
		text-align: center;
		word-break: break-word;
	}
	.status-box {
		position: relative;
		padding: 5px 0;
		width: 100%;
		height: auto;
    	max-height: 104px;
		text-align: center;
	}
	.fs-skills-wrapper {
		display: table;
		margin-top: 10px;
		width: 100%;
		.fs-skills-wrapper-tabs {
			border: 0;
			border-top: 1px solid #dee0e1;
			border-radius: unset !important;			
			width: 100%;
			background: #fff;
			bottom: 0;
		}	
		.tab-pane {
			background: #fff !important;
			padding: 8px 20px 20px 20px;
		}		
	}
	.fs-skills-wrapper.expand {
		position: absolute;
		top: -10px;
		.tab-content {
			    height: 216px;
    			overflow-y: auto;
			.tab-pane {
				width: 100%;
				background: #fff !important;
				padding-bottom: 35px;
				height: auto;
				min-height: 216px;
				overflow-y: auto;
			}
		}
	}
	.fs-skills-wrapper.normal {
		position: relative;
	}
	.button-section {
		width: 100%;		
	}
	.fs-btn {			
		border: 1px solid #fff;
		color: #fff;
		text-transform: uppercase;
		transition: 0.2s ease;
		display: inline-block;
		margin: 0 auto;
		min-width: 142px;
		background-color: #48ce27;
	}
	.fs-button.default {
		background-color: #48ce27 !important;	
	}
	.fs-btn.saved {
		background: #e9ecef;
		color: #48ce27;
	}	
	.fs-btn.saved:hover {
		background: #e9ecef;
		color: #858585;
	}	
	.fs-btn.unsaved {
		background: #48ce27;
	}	
	.fs-btn-rounded {
		border-radius: 56px;	
	}
	.fs-btn-squared {
		border-radius: 3px;	
	}
	.fs-btn-rounded-left {
		border-radius: 56px 0 0 56px;	
	}
	.fs-btn-rounded-right {
		border-radius: 0 56px 56px 0;	
	}
	.fs-btn-md {
		padding: 10px 12px;
		font-size: 12px;
	}
	.fs-btn-sm {
		padding: 9px;
		font-size: 10px;
		height: 33px
	}

	.fs-btn:hover {
		background-color: #3ae411;
	}

	.fs-bg-green {
		background-color: #15a049 !important;
	}
	.fs-bg-mint {
		background-color: #94c93d !important;
	}
	.fs-bg-sky {
		background-color: #42a5f5 !important;
	}
	.profile-card-position {
		display: table;
		text-align: center;
		color: #fff;
		padding: 3px 8px;
		width: 100%;
		min-height: 44px;
		span {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.fs-skills-box {
		font-size: 10px !important;
	}
	.fs-skills-box-title {
		font-size: 11px;
	}
	.skill-box {
		margin-bottom: 10px;
	}
	.skill-rate {
		float: right;
	}
	ul.resource-card-tab {
		display: table;
		margin: 0;
		width: 100%;
		border-bottom: 2px solid #fff !important;
		li.resource-card-tab-link {
			display: table-cell;
			vertical-align: middle;
			width: auto;
			min-width: 50%;
			height: 30px !important;
			a {
				font-size: 10px !important;
				padding: 0 3px !important;
				text-align: center;
				border: none !important;
				background: #dee0e1;
				color: #5d5d5d;
				vertical-align: middle;
				display: table;
				width: 100%;
				height: 30px;
				span {
					display: table-cell;
    				vertical-align: middle;
				}
			}
			a.active {
				color: #30d807;
			}
		}
	}
	.fs-progress-bar {
		background-color: #c1c1c1;
	}
	.toggleSkillButton {
		margin-top: 2px;
	}	
	.fs-skills-box  {
		font-size: 10px
	}
	/* Scrollbar style */
	/* width */
	::-webkit-scrollbar {
	width: 2px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	background: #f1f1f1; 
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	background: #ddd; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #bbb; 
	}
</style>

<script>
import EmployeeMixin from '@common/mixin/EmployeeMixin';

export default {
	data(){
		return {
			showAllSkills: false,
			showFsSkillButton: false,
			showSelfAssessmentSkillButton: false,
			overrideActiveTab: false,
			activeTab: 'fs',
			totalHackerRankTest: null,
			totalSelfAssessment: null,
			tabClickEvent: false
		}
	},
	props: {
		resource: {
			type: Object,
			default: {}
		},
		showSaveButton: {
			type: Boolean,
			default: false
		},
		showSetAppointmentButton: {
			type: Boolean,
			default: false
		},
		showViewProfileButton: {
			type: Boolean,
			default: false
		}
	},
	mixins: [
		EmployeeMixin
	],
	mounted() {
		this.showAllSkills = false;
		this.initialize();
	},
	updated() {
		if(!this.tabClickEvent) {
			this.initialize();
		}
	},
	computed: {
		pic: function(){
			return this.photo(this.resource.employee);
		}
	},
	methods: {	
		initialize() {			
			this.totalHackerRankTest = this.countHackerRankTest();
			this.totalSelfAssessment = this.countSelfAssessment();

			if(this.totalHackerRankTest > 0) {
				this.overrideActiveTab = false;
				this.activeTab = 'fs';				
			} else if(this.totalHackerRankTest == 0){
				this.overrideActiveTab = true;
				this.activeTab = 'sa';				
			}
			this.hideShowSkillButton();
		},	
		hideShowSkillButton(){
			if(this.activeTab == 'fs') {
				if(this.totalHackerRankTest > 3) {
					this.showFsSkillButton = true;
					this.showSelfAssessmentSkillButton = false;
				} else if(this.totalHackerRankTest <= 3) {
					this.showFsSkillButton = false;
					this.showAllSkills = false;
					this.showSelfAssessmentSkillButton = false;
				}

			} else if(this.activeTab == 'sa') {
				if(this.totalSelfAssessment > 3) {
					this.showSelfAssessmentSkillButton = true;
					this.showFsSkillButton = false;
				} else if(this.totalSelfAssessment <= 3) {
					this.showSelfAssessmentSkillButton = false;
					this.showAllSkills = false;
				}
			}
		},
		getLastnameInitial(fullname) {
            return typeof fullname[0] !== 'undefined' ? fullname[0]+'.' : fullname;
		},		
		showSkillsOption() {
			this.showAllSkills = !this.showAllSkills;
		},
		fsCertificationTabClicked() {
			this.tabClickEvent = true;
			this.totalHackerRankTest = this.countHackerRankTest();

			if(this.totalHackerRankTest > 3) {
				this.showSelfAssessmentSkillButton = false;
				this.showFsSkillButton = true;
			} else if(this.totalHackerRankTest <= 3) {
				this.showSelfAssessmentSkillButton = false;
				this.showAllSkills = false;
			}
		},
		selfAssessmentTabClicked() {
			this.tabClickEvent = true;
			this.totalSelfAssessment = this.countSelfAssessment();
			this.activeTab = 'sa';

			if(this.totalSelfAssessment > 3) {
				this.showSelfAssessmentSkillButton = true;
				this.showFsSkillButton = false;
			} else if(this.totalSelfAssessment <= 3) {
				this.showSelfAssessmentSkillButton = false;
				this.showAllSkills = false;
			}
		},
		generateProgressBarStyle(skill, scoreFrom) {
			let width = 0;
			let color = skill.color != '' ? skill.color : '#c1c1c1'; // #c1c1c1 as default color of progress bar

			if(scoreFrom == 'hr') {
				return 'width:' + skill.percent_score + "%;background-color:"+ skill.color + "!important;" ;
			} else if(scoreFrom == 'sa') {
				width = (skill.proficiency / 10) * 100;			
				return 'width:' + width + "%;background-color:"+ skill.color + "!important;";				
			}			
		},
		loadDefaultImg(event) {
			event.target.src = "/assets/img/avatars/coming-soon.png";
		},
		onClick(buttonId, resource) {
			this.$emit('cardButtonClick', buttonId, resource);			
		},
		countHackerRankTest() {
			return this.resource.hackerRankTestResult.length;
		},
		countSelfAssessment() {
			return this.resource.selfAssessment.length;
		}	
	}
};
</script>
