<template>
    <div>
        <page-header :title="currentRouteName"></page-header>
        <form-wizard
            color="#007840"
            error-color="#ff4949"
            step-size="xs"
            ref="wizard"
            :id="'route-wizard'"
            :back-button-text=backButton
            :next-button-text=nextButton
            :finish-button-text=finishButton
            :title="''"
            :subtitle="''"
            :startIndex="startIndex"
            @on-complete="onComplete"
            @on-change="onChange">

            <tab-content
                v-for="(route, index) in routes"
                :key="index"
                :route="route.route_uri"
                :before-change="beforeChange">
            </tab-content>
            <tab-content
                v-for="resource in resourceTypes"
                :key="resource.route_resource"
                :route="resource.route_uri"
                :before-change="beforeChangeResource">
            </tab-content>
            <tab-content
                v-if="showCompleteUpdate"
                :route="completingRoute"
                :before-change="beforeChange" ref="completing_update">
            </tab-content>
            
            <div class="parent-content">
                <router-view ref="step_access"></router-view>
            </div>

            <button class="wizard-btn btn-color" slot="custom-buttons-left"
                v-if="currentIndex == 0"
                @click="backToMenu">
                <span class="la la-long-arrow-left"></span> {{ menuName }}
            </button>

            <button class="wizard-btn skip-btn" slot="custom-buttons-right"
                v-if="skipButton"
                @click="skipStep">
                {{ skipButton }}
            </button>
        </form-wizard>
    </div>
</template>

<style lang="scss">
    div#route-wizard.vue-form-wizard {
        .wizard-header { padding: 0; }
        .wizard-tab-content { padding: 20px 20px 10px; }
    }

    @media screen and (max-height: 720px){
        .header-title span:first-child::after {
            border-top-left-radius: 18px!important;
            margin-left: -5px!important;
        }
    }
</style>

<style lang="scss" scoped>
     #route-wizard {
        padding: 60px 60px 0;
    }
    .parent-content {
        height: 64vh;
        overflow-x: hidden;
        overflow-y: initial;
    }
    .btn-color {
        background-color: rgb(0, 120, 64); 
        border-color: rgb(0, 120, 64); 
        color: white;
    }
    .skip-btn {
        background-color: rgb(234, 234, 234); 
        border-color: rgb(234, 234, 234);
        color: #333;
        margin-right: 5px;
    }
</style>

<script>
    // components
    import PageHeader from '@components/page-header.vue';

    import { FormWizard, TabContent } from 'vue-form-wizard';
    import { RouteWizard } from '@common/model/RouteWizard';
    import { mapGetters, mapActions } from 'vuex';
    import 'vue-form-wizard/dist/vue-form-wizard.min.css';

    export default {
        data() {
            return {
                currentIndex: 0,
                toMenuFlag: false,
            };
        },
        components: {
            FormWizard,
            TabContent,
            PageHeader,
        },
        props: {
            currentRouteName: {
                type: String,
                default: '',
            },
            routes: {
                type: Array,
                required: true
            },
            completingRoute: {
                type: String,
                default: '/review-client-prospects/completing-update'
            },
            techChoiceRoute: {
                type: String,
                default: '/client-wizard/client-technology-selection'
            },
            resourceTypes: {
                type: Array
            },
            backButton: {
                type: String,
                default: "Back"
            },
            nextButton: {
                type: String,
                default: "Next"
            },
            finishButton: {
                type: String,
                default: "Finish"
            },
            beforeChange: {
                type: Function
            },
            beforeChangeResource: {
                type: Function
            },
            menuName: {
                type: String,
                default: 'Back to Menu',
            },
            menuRoute: {
                type: String,
                required: true,
            },

            startIndex: {
                type: Number,
            },
            // currentIndex: {
            //     type: Number,
            // },
            skipButton: {
                type: String,
            },
            showCompleteUpdate: {
                type: Boolean,
                default: true
            },
            isClientSmartTeamBuilder: {
                type: Boolean, 
                default: false,
            }
        },
        computed : {
            ...mapGetters({
                getRouteWizards: 'routeWizards/getRouteWizard',
            }),
        },
        methods: {
            onComplete() {
                this.$emit('save');
            },
            onChange(prevIndex, nextIndex) {
                if(!this.toMenuFlag && nextIndex > -1) {
                    this.$emit('pageChange', prevIndex, nextIndex);
                    if(this.isClientSmartTeamBuilder && this.currentIndex == 2) {
                        // Client's Smart Team Builder -- back to first page when in current index
                        // this.$refs.wizard.prevTab();
                        // this.$refs.wizard.prevTab();
                    } else {
                        this.currentIndex = nextIndex;
                    }
                }
            },
            backToMenu() {
                this.toMenuFlag = true;
                if(this.getRouteWizards){
                    this.$router.push({name: this.menuRoute.slice(1),
                    params: this.getRouteWizards
                    });
                }else{
                    this.$router.push('/');
                }
            },
            skipStep() {
                this.$emit('skipStep');
            },
            skipSteps(n) {
                for (let i = 0; i < n; i++) {
                    this.$refs.wizard.nextTab();
                }
            },
            changeTab(oldIndex, newIndex) {
                this.$refs.wizard.changeTab(oldIndex, newIndex);
            }
        },
    }
</script>
