<template>
  <!-- BEGIN SEARCH FORM -->
  <form class="ks-search-form">
    <!-- <a class="ks-search-open" href="#">
            <span class="la la-search"></span>
        </a> -->
    <div class="ks-wrapper">
      <div class="input-icon icon-right icon icon-lg icon-color-primary">
        <vue-tags-input
          v-model="employee"
          autocomplete="off"
          :autocomplete-always-open="displayAutoComplete"
          :autocomplete-items="smartSearches"
          :add-only-from-autocomplete="true"
          :max-tags="1"
          placeholder="Search Rocks"
          id="input-group-icon-text"
          @tags-changed="doSearch"
          @before-adding-tag="checkValue"
          @input="updateValue"
        >
          <span
            slot="tagCenter"
            slot-scope="props"
            @click="updateSearch(props)"
          >
            {{ props.tag.text | truncate(22) }}
          </span>
          <div
            class="pt-1 pb-1 row m-0"
            slot="autocompleteItem"
            slot-scope="props"
            @click="selectValue(props)"
          >
            <div class="col-md-2 p-0 pl-1">
              <img
                v-if="props.item.type == 'Employee'"
                :src="employeePhoto(props.item)"
                class="pull-left avatar-icon mr-2 mt-1 ks-avatar employee-avatar"
                @error="imageUrlAlt"
                width="38"
                height="38"
              />
              <img
                v-if="props.item.type == 'Client'"
                :src="clientPhoto(props.item)"
                class="pull-left avatar-icon mr-2 mt-1 ks-avatar"
                width="38"
                height="38"
              />
              <i
                v-if="props.item.type == 'Skill'"
                class="resource-icon ks-icon la la-2x pull-left mr-1"
                :class="resourceIcons[props.item.type]"
              >
              </i>
            </div>
            <div class="col-md-10 p-0 pl-2 mb-1 mt-1">
              <div>
                <span>
                  {{ props.item.text }}
                </span>
                <small class="resource-type">
                  {{ props.item.type }}
                </small>
              </div>
            </div>
          </div>
        </vue-tags-input>
        <!-- <input id="input-group-icon-text" type="text" class="form-control" @input="search($event.target.value)" placeholder="Search Employee..." /> -->
        <span class="icon-addon">
          <span
            v-if="!isFetching && hasValue"
            class="la la-close"
            @click="clearSearch"
          ></span>
          <span
            v-if="!isFetching && !hasValue"
            class="la la-search ks-icon"
          ></span>
          <span
            v-if="isFetching"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </span>
      </div>
      <!-- <a class="ks-search-close" href="#">
                <span class="la la-close"></span>
            </a> -->
    </div>
  </form>
  <!-- END SEARCH FORM -->
</template>
<style>
#input-group-icon-text.vue-tags-input {
  background: none;
}
#input-group-icon-text .new-tag-input-wrapper {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
  margin: 0;
}
.ks-navbar
  > .ks-wrapper
  > .nav
  > .ks-navbar-menu
  > .ks-search-form
  .icon-addon
  > .ks-icon {
  color: #333;
}
#input-group-icon-text .new-tag-input-wrapper input {
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Montserrat', sans-serif;
  z-index: 0;
  height: 38px;
  border-radius: 2px;
  border: solid 1px #dedede;
  font-size: 12px;
  color: #333;
  padding: 10px 15px;
  width: 240px;
}
#input-group-icon-text .input {
  padding: 0;
  border: none;
}
#input-group-icon-text .tag-center {
  width: 162px;
}
#input-group-icon-text .tag-center span {
  display: block;
  padding-left: 8px;
  font-size: 12px;
}
#input-group-icon-text .icon-close {
  display: none;
}
#input-group-icon-text .tag.valid {
  position: absolute;
  height: 35px;
  width: 161px;
  z-index: 100;
  background-color: #fff;
  color: #000;
}
.ks-search-form .ks-wrapper {
  padding-top: 0.9em;
  padding-right: 1em;
}
.ks-search-form .resource-icon {
  line-height: 170%;
  min-height: 40px;
  border-width: 0.1em;
  margin-left: 2px;
}
.ks-search-form .resource-type {
  display: block;
}
</style>
<style scoped>
#input-group-icon-text .autocomplete {
  max-height: 250px;
  overflow-y: auto;
}
</style>
<script type="text/javascript">
import VueTagsInput from '@johmun/vue-tags-input';
import AssetMixin from '@common/mixin/AssetMixin';
import EmployeeMixin from '@common/mixin/EmployeeMixin';
import {mapActions, mapGetters} from 'vuex';
export default {
  data() {
    return {
      isTyping: false,
      timeOut: null,
      term: '',
      employee: '',
      hasValue: false,
      data: {
        resources: [],
      },
      displayAutoComplete: false,
      isFetching: false,
      resourceIcons: {
        Employee: 'la-user',
        Client: 'la-building',
        Skill: 'la-wrench',
      },
    };
  },
  watch: {
    employee: 'initItems',
  },
  filters: {
    truncate(text, length, suffix = '..') {
      const elipsis = text.length > length ? suffix : '';
      return text.substring(0, length) + elipsis;
    },
  },
  computed: {
    ...mapGetters({
      loggedInUser: 'auth/data',
      smartSearches: 'smartSearches/formatted',
    }),
  },
  methods: {
    ...mapActions({
      getEmployees: 'employees/getEmployeeNames',
      getSmartSearches: 'smartSearches/getSmartSearches',
      triggerEmployeeProfile: 'appSettings/triggerEmployeeProfile',
    }),
    imageUrlAlt(event) {
      event.target.src = '/assets/img/avatars/male.png';
    },
    clientPhoto(client) {
      let photoUrl = `/assets/img/logos/default-corporate-image.png`;
      if (client.photo.data.length) {
        photoUrl = _.last(client.photo.data).path;
        photoUrl = this.getAssetPath(photoUrl);
      }
      return photoUrl;
    },
    employeePhoto(employee) {
      const photoUrl = this.photo(employee);
      return photoUrl;
    },
    doSearch(value) {
      if (!value.length || !this.hasValue) {
        return;
      }
      const routes = {
        Employee: {name: 'employee', params: {id: value[0].id}},
        Client: {name: 'client', params: {id: value[0].id}},
        Skill: {name: 'employees', query: {skills: value[0].text}},
      };

      this.$router.push(routes[value[0].type]);
      this.triggerEmployeeProfile();
    },
    clearSearch() {
      this.employee = '';
      this.hasValue = false;
      this.displayAutoComplete = false;
    },
    initItems() {
      if (this.employee.length < 1) return;
      clearTimeout(this.debounce);
      this.isFetching = true;

      this.debounce = setTimeout(() => {
        // Avoid too much request;
        this.getSmartSearches({query: {q: this.employee}}).finally(_ => {
          this.isFetching = false;
        });
      }, 400);
    },
    updateSearch(props) {
      props.performDelete(props.item);
      this.hasValue = false;
      //This is just use to force focus to search bar after clicking searched text
      $('input#input-group-icon-text').focus();
    },
    selectValue(props) {
      this.hasValue = true;
      props.performAdd(props.item);
    },
    updateValue(value) {
      if (value) {
        this.displayAutoComplete = true;
      } else {
        this.displayAutoComplete = false;
      }
      this.hasValue = true;
    },
    checkValue(value) {
      if (this.hasValue) value.addTag();
    },
  },
  mixins: [EmployeeMixin, AssetMixin],
  components: {
    VueTagsInput,
  },
};
</script>
