<template>
    <a
        @click="onLogoClick(skill)"            
        :title="title"
        href="#" 
        class="logo-button"           
        >
        <img v-if="imgLogoFound" @error="checkImgFile()" :src="`/assets/img/logos/`+ transformFilename(skill.value) +`.png`">
        <h4 v-else class="skillname"> {{ skill.value }} </h4>
    </a>
</template>
<style lang="scss" scoped>   
    a.logo-button {    
        display: inline-block;        
        vertical-align: middle;
        height: auto;
        width: auto;
        padding: 16px;
        margin: auto 2%;
        img {
            height: auto;
            max-height: 4vw;
        }
    }
    a.logo-button:hover {
        box-shadow: -1px -2px 4px rgba(0,0,0,0.1) inset;
        border-radius: 7px;
    }
    .skillname {
        display: block;
        height: auto;
        max-height: 4vw;
        color: #aaa;
        margin-top: 14px;
    }
    @media (max-width: 767px) {
        a.logo-button {
            padding: 8px;
            img {
                max-height: 6vw;
            }
        }
    }
</style>

<script>
export default {
    props: {
        skill: {
            type: Object,
            default: {}
        },
        title: {
            type: String,
            default: ''
        },
    },
    data(){
        return {
            imgLogoFound: true
        }
    },    
    methods: {
        transformFilename(filename) {
            filename = filename.replace('#','sharp');
            filename = filename.replace('++','plusplus');
            return filename.split(' ').join('_').toLowerCase();
        },
        onLogoClick(skill){
            this.$emit('logoClick', skill);
        },
        checkImgFile() {
            this.imgLogoFound = false;
        }
    }
};
</script>
