<template>
	<div class="row skills-wrapper">
		<div v-for="(groupFormElement) in groupFormElements" :key="groupFormElement.id" class="group-form-elements row">
			<i v-if="groupFormElements.length != 1" @click="removeSkill(groupFormElement.id)" class="la la-close" title="Remove Skill"></i>
			<field-component v-for="element in groupFormElement.objData" :key="element.id" :data="element" @update="updateElementField"></field-component>		
		</div>
		<div class="col-md-12">
			<b-button class="button" variant="light" @click="addKill(gfeIndex + 1)"><i class="la la-plus"></i>Add Skill</b-button>	
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.skills-wrapper {
		width: 100%;
		margin: 0;
	}
	.group-form-elements {
		background: #f2f3f5;
		margin: 8px 15px;
    	width: 100%;
		padding: 28px 5px 5px 5px;
		position: relative;
		border-radius: 3px;
		i {
			position: absolute;
			right: 15px;
			top: 12px;
			font-size: 14px;
			font-weight: 700;
		}
		i:hover {
			cursor: pointer;
			color: #fafafa;
		}
	}
	.group-form-elements:hover {
		background: #eee;
	}
	.button {
		color: #858585;
		background: #e9ecef;
		i {
			font-size: 16px;
			font-weight: 700;
			color: #858585;
			margin-right: 5px;
		}
	}
</style>

<script>
	// Components
	import FieldComponent from '@components/form/field-component.vue';

	import {mapActions, mapGetters} from 'vuex';

	export default {
		props: {
			isRequiredSkillName: {
                type: Boolean,
                default: false
            },
			isRequiredProficiency: {
                type: Boolean,
                default: false
            },
			isRequiredExperience: {
                type: Boolean,
                default: false
            },
		},
		data() {
			return {
				groupFormElements: [],
				gfeIndex: 0,
				formElements: [],
				feIndex: 0,
				hasUnvalidatedField: true
			}
		},
		computed: {
			...mapGetters({
				auth: 'auth/data',
				getRouteWizards: 'routeWizards/getRouteWizard',
			}),
		},
		mounted() {
			this.addKill(this.gfeIndex);
			this.$emit('update', this.groupFormElements);
        },
		methods: {
			getFormElements(feIndex) {
				this.formElements = [];
				this.formElements.push(
					{
						type: "select",
						id: 'skill' + `_${feIndex}`,
						label: 'Skill',
						value: '',
						class: 'col-md-6',
						is_required: this.isRequiredSkillName,
						is_hidden: false,
						options: [
							{ value: '1', text: 'PHP' }
						]                                         
					},
					{
						type: "select",
						id: 'skill_proficiency' + `_${feIndex}`,
						label: 'Proficiency',
						value: '',
						class: 'col-md-3',
						is_required: this.isRequiredProficiency,
						is_hidden: false,
						options: [
							{ value: '5', text: '5 / 10' },
							{ value: '6', text: '6 / 10' },
							{ value: '7', text: '7 / 10' },
							{ value: '8', text: '8 / 10' },
							{ value: '9', text: '9 / 10' },
							{ value: '10', text: '10 / 10' }
						]                                           
					},
					{
						type: "select",
						id: 'skill_year_of_experience' + `_${feIndex}`,
						label: 'Years of Experience',
						value: '',
						class: 'col-md-3',
						is_required: this.isRequiredExperience,
						is_hidden: false,
						options: [
							{ value: '1', text: '1' },
							{ value: '2', text: '2' },
							{ value: '3', text: '3' },
							{ value: '4', text: '4' },
							{ value: '5', text: '5' },
							{ value: '6', text: '6' },
							{ value: '7', text: '7' },
							{ value: '8', text: '8' },
							{ value: '9', text: '9' },
							{ value: '10', text: '10' },
							{ value: '11', text: '11' },
							{ value: '12', text: '12' },   
							{ value: '13', text: '13' },   
							{ value: '14', text: '14' },   
							{ value: '15', text: '15' },   
						]                                                     
					}
				);
			},
			addKill(i) {
				this.getFormElements(i);
				this.groupFormElements.push({
					type: 'component',
					id: `skill_group_${i}`,
					page_isValidated: false,
					objData: this.formElements
				});
				this.gfeIndex = i;
			},
			removeSkill(id) {
				if (this.groupFormElements.length > 1) {
					for (let i = this.groupFormElements.length - 1; i >= 0; --i) {
						if (this.groupFormElements[i].id == id) {
							this.groupFormElements.splice(i,1);
						}
					}
				}
				this.$emit('update', this.groupFormElements);
			},
			// updateValue() {
            //     this.$emit('update', this.data.id, this.value);
            // },
			updateElementField(id, value) { //this.$emit('update', this.groupFormElements);
				let hasUnvalidatedField = true
                    this.formElements.forEach((el) => { console.log(el,'el');
						// Check all required fields if validated
                        // if (el.is_validated == id) { 
                        //     el.value = value;                            
						// }
						
						// Update field value
                        if (el.id === id) { 
                            el.value = value;                            
                        }
                    });

            }
		},
		components: {
			FieldComponent
		}
	};
</script>
