<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="back-btn-wrapper">                                    
                                <back-button :text="'Back'" :route="'manage-clients'"></back-button>
                                <back-button :text="'Go to main'" :route="'index'" style="margin-left: 10px;"></back-button>
                            </div>
                        </div>
                        <div class="row justify-content-center m-0 mt-5">
                            <div class="col-xl-6 col-md-6 col-sm-12 col-sm-12 pr-0">
                                <fs-search-input
                                        id="search-input-group"
                                        :placeholder="placeholder"                                        
                                        v-model="selectedTags"
                                        :existing-tags="clientCategories"
                                        :limit = "searchLimit"
                                        :typeahead="true"
                                        :typeahead-style="'dropdown'"
                                        :only-existing-tags="true"
                                        :wrapper-class="''"
                                        :onSearchBtnClick="doSearch"
                                        :isDisabled="false"
                                        @keydown.enter.prevent="doSearch"                    
                                    />                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>

<style lang="scss">
    #search-input-group .vue-tags-input {
        background: none;
        max-width: 100%!important;
    }
    #search-input-group .new-tag-input-wrapper {
        background: rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.6);
        padding: 0;
        margin: 0;
    }
    .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu > .ks-search-form .icon-addon > .ks-icon {
        color: #333;
    }
    #search-input-group .new-tag-input-wrapper input{
        border: 1px solid transparent;
        color: rgba(255, 255, 255, 0.6);
        font-family: "Montserrat", sans-serif;
        z-index: 0;
        height: 38px;
        border-radius: 2px;
        border: solid 1px #dedede;
        font-size: 12px;
        color: #333;
        padding: 10px 15px;
    }
    #search-input-group .input {
        padding: 0;
        border: none;
    }
    #isearch-input-group .tag-center {
        width: 162px;
    }
    #search-input-group .tag-center span {
        display: block;
        padding-left: 8px;
        font-size: 12px;
    }
    #search-input-group .icon-close {
        display: none;
    }
    #search-input-group .tag.valid {
        position: absolute;
        height: 35px;
        width: 161px;
        z-index: 100;
        background-color: #fff;
        color:#000;
    }
    .ks-search-form .ks-wrapper {
        padding-top: 0.9em;
        padding-right: 1em;
    }
</style>
<style lang="scss" scoped>
    #search-input-group .autocomplete {
        max-height: 250px;
        overflow-y: auto;
    }
    .container-fluid .row {
        .col {
            padding: 0!important;
        }
    }
    .search-button {
        width: 100%;
    }
</style>

<script>
    import { mapActions, mapGetters } from 'vuex';
    import _ from 'lodash';

    // components
    import PageHeader from '@components/page-header.vue';
    import PageContent from '@components/page-content.vue';
    import BackButton from '@components/back-button.vue';
    import FsSearchInput from '@components/fs-search-input.vue';

    // mixins
    import AlertMixin from '@common/mixin/AlertMixin';

    export default {
        data() {
            return {
                title: 'Search Clients',
                pageClass: 'ks-content-nav',
                clientCategories: [],
                selectedTags: [],
                placeholder: 'Search client name',
                searchLimit: 0
            }
        },
        components: {
            PageHeader,
            PageContent,
            BackButton,
            FsSearchInput
        },
        async mounted() {
            await this.getClients({query: {orderBy: 'company|asc', take: 100, namesOnly:true}});
            this.searchLimit = 1;
            this.clientCategories = _.map(this.clients, item => ({
                key: item.client_id,
                value: item.text
            }));
            //console.log(this.$route.params,'$route');
            // Fix if redirecting directly to search client without accessing first the manage clients tile page. 
            // Utilized by back button after searching a client and user wants to navigate back to search client page.
            // if(this.$route.query.redirectTo == undefined) {                
            //     this.$router.push(
            //         {
            //             path: '/search/clients?redirectTo=client-login-access'
            //         }
            //     );
            // }
        },
        computed: {
            ...mapGetters({
                clients: 'clients/formatted_with_name',
            }),
        },
        methods: {
            ...mapActions({
                getClients: 'clients/getClients',
            }),
            doSearch() {
                if (this.selectedTags.length != 0 && this.$route.query) {
                    let routeName = this.$route.query.redirectTo;
                    this.$router.push({
                        name: routeName,
                        params: {
                            id: this.selectedTags[0].key,
                            name: this.selectedTags[0].value
                        }
                    });
                }
            }
        },
        watch: {
            selectedTags() {
                if(this.selectedTags.length == this.searchLimit){
                    this.placeholder = 'Hit ENTER or click search button';
                }
            }
        },
        mixins: [
            AlertMixin
        ]
    }
</script>
