<template>
  <div>
    <div v-if="showHeader" class="report-body">
      <div class="report-header">
        <div class="d-inline-block float-left"></div>
        <div class="head h-layer-5 skewed-left d-inline-block float-right" />
        <div class="head h-layer-4 skewed-left d-inline-block float-right" />
        <div class="head h-layer-3 skewed-left d-inline-block float-right" />
        <div class="head h-layer-2 skewed-left d-inline-block float-right" />
        <div class="head h-layer-text d-inline-block float-right">{{ pageTitle }}</div>
      </div>
    </div>
    <div :class="classContainer" style="margin-bottom:10px">
      <div v-if="showBackButton" class="back-btn-wrapper">
        <back-button :text="backButtonText" :route="backButtonRouteTo"></back-button>
        <back-button
          :text="backToMainButtonText"
          :route="backToMainButtonRouteTo"
          style="margin-left: 10px;"
        ></back-button>
      </div>
      <data-table
        :columns="data.columns"
        :sort-key="sortKey"
        :sort-order="sortOrder"
        :pagination="config.pagination"
        :show-search="false"
        :table-loading="loading"
        @sort="sortList($event)"
        @prev="paginate('prev')"
        @next="paginate('next')"
        @page="paginate($event)"
        @select="updateList($event)"
      >
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 filter" slot="filter">
          <div :class="{'row' : !isClient }">
            <div class="search-by" v-if="!isClient">
              <div><strong>Search by:</strong></div>
              <div class="fs-radio-btn">
                <input
                  v-model="filterSwitch"
                  value="client"
                  id="clientRadio"
                  name="filterSwitch"
                  type="radio"
                />
                <label for="clientRadio">Client</label>
              </div>
              <div class="fs-radio-btn">
                <input
                  v-model="filterSwitch"
                  value="employee"
                  id="employeeRadio"
                  name="filterSwitch"
                  class
                  type="radio"
                />
                <label for="employeeRadio">Employee</label>
              </div>
            </div>
            <div :class="[{'search-section' : !isClient},{'search-section client no-padding' : isClient}]">
              <template v-if="filterSwitch == 'client'">
                   <fs-search-input
                      placeholder="Enter client"
                      class=""
                      v-model="selectedTags"
                      :existing-tags="existingTags"
                      :typeahead="true"
                      :typeahead-style="'dropdown'"
                      :only-existing-tags="true"
                      :wrapper-class="''"
                      :onSearchBtnClick="search"
                      :isDisabled="searchInputDisabled"
                      :searchButtonDisabled="searchButtonDisabled"
                      @tags-updated="tagsUpdated"
                      @clear-selected-tags="clearSelectedTags"
                  />
              </template>
              <template v-else>
                  <fs-search-input
                      placeholder="Enter name"
                      class=""
                      v-model="employeeTags"
                      :existing-tags="employeeExistingTags"
                      :typeahead="true"
                      :typeahead-style="'dropdown'"
                      :only-existing-tags="true"
                      :wrapper-class="''"
                      :onSearchBtnClick="search"
                      :isDisabled="searchInputDisabled"
                      :searchButtonDisabled="searchButtonDisabled"
                      @tags-updated="tagsUpdated"
                      @clear-selected-tags="clearSelectedTags"
                  />
              </template>
            </div>
          </div>
        </div>
        <div slot="specific" class="footer">
          <select
            class="form-control"
            :style="{'height': '40px','cursor':'pointer'}"
            @change="setMonthActiveParameter($event.target.options[$event.target.selectedIndex].value)">
            <option
              :selected="new Date().getMonth() == month.id"
              v-for="month in months"
              :key="month.id"
              :value="month.id"
            >{{ month.name }}</option>
          </select>

          <select
            class="form-control"
            :style="{'height': '40px','cursor':'pointer'}"
            @change="setYearActiveParameter($event.target.options[$event.target.selectedIndex].value)"
          >
            <option
              v-for="year in years"
              :key="year"
              :selected="new Date().getFullYear() == year">{{ year }}
            </option>
          </select>
        </div>
        <tbody v-if="checkReports()">
          <tr
            v-for="(employeeReport, index) in employeeReports.data"
            :key="index"
            :class="index % 2 == 0 ? 'even' : 'odd'"
          >
            <td :data-title="`${data.columns[0].label}:`">
              <div>
                <span>{{ employeeReport.employee }}</span>
              </div>
            </td>
            <td :data-title="`${data.columns[1].label}:`">
              <div>
                <span>{{ employeeReport.job_position }}</span>
              </div>
            </td>
            <td v-if="!isClient" :data-title="`Client:`">
              <div>
                <span>{{ employeeReport.jobcode }}</span>
              </div>
            </td>
            <td :data-title="`${data.columns[2].label}:`">
              <div>
                <span>{{ employeeReport.working_hrs }}</span>
              </div>
            </td>
            <td :data-title="`${data.columns[3].label}:`">
              <div>
                <span>{{ employeeReport.total_working_hrs }}</span>
              </div>
            </td>
            <td :data-title="`${data.columns[4].label}:`">
              <div>
                <span>
                  <progress-bar
                    :title="['Running Hours','Target Hours']"
                    :percentage="workingHrsComputation(index)"
                    :fontsize="90"
                    :height="25"
                    :isCurrentMonthAndYear="isCurrentMonthAndYear"
                  />
                </span>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td class="text-center odd" colspan="6">No Reports Available</td>
          </tr>
        </tbody>
      </data-table>
    </div>
  </div>
</template>
<style>
    .show-per-page {
        margin-top: 16px !important;
    }
</style>
<style lang="scss" scoped>
.back-btn-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-by {
    width: 100px;
    margin-bottom: 10px;
    margin-left: 16px;
    float: left;
}
.search-section {
    width: calc(100% - 132px);
    margin-top: 16px;
    margin-right: 16px;
    float: left;
}
.search-section.client {
    width: 100%;
    margin-top: 16px;
    margin-right: 16px;
    float: left;
}
.highlight-active {
  font-weight: bolder;
  color: green !important;
}
.fs-radio-btn {
    float: left;
    margin-right: 10px;
}
.back-btn {
  margin: 13px 0px 0px 45px;
}
.footer {
  position: relative;
  bottom: 0;
  margin: 16px 16px 5px 7px;
  text-align: right;
  min-width: 227px;
  width: 100%;
}
.dataTables_filter {
    padding-top: 0 !important;
}
.footer > select {
  height: 40px;
  display: inline-block;
}

.footer > select:first-child {
  width: 121px;
}

.footer > select:last-child {
  width: 83px;
}

div.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
div.footer li {
  float: left;
}
div.footer li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none !important;
}
div.footer ul li a.active {
  background-color: #4caf50;
  color: white;
}
div.footer ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.monthList {
  position: absolute;
  bottom: 71px;

  padding: 0px 0px 0px 207px;
}
.head {
  height: 100%;
  color: white;
  padding: 0px 5px 0px 5px;
}
.h-layer-2 {
  background-color: #5f5f5f;
  width: 50%;
  line-height: 40px;
  margin-right: 3px;
}
.h-layer-3 {
  background-color: #54873c;
  width: 5%;
  margin-right: 3px;
}
.h-layer-4 {
  background-color: #2c7639;
  width: 5%;
  margin-right: 3px;
}
.h-layer-5 {
  background-color: #146e3a;
  width: 5%;
  margin-right: 8px;
}
.h-layer-text {
  position: relative;
  z-index: 1;
  margin-right: -420px;
  line-height: 40px;
  font-size: 22px;
}
.report-body {
  width: 100%;
}
.report-header {
  margin-top: 0px;
  height: 42px;
}
.report-footer {
  height: 70px;
  // position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.skewed-left {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
.skewed-right {
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
.content-graph {
  /* display: inline-block; */
  position: relative;
  overflow: auto;
  max-width: 100%;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(35%, -50%);
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  //transform: translate(-50%, -50%);
}
.chart-content {
  font-size: 1rem;
}
.card-block {
  padding: 40px 20px;
  font-size: 15px;
}
nav {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 300px;
}
nav ul {
  //list-style-type: disc;
  margin: 10px;
  padding: 0;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:not([href]):not([tabindex]):hover {
  color: green;
  text-decoration: none;
}
.chart-label-extra {
  display: none !important;
}
.la-search {
  margin-left: 6px;
  font-size: 17pt;
}
.search-vue-tags {
  border-color: #aaaaaa !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.filter {
  width: 100%;
}
</style>

<style lang="scss">
.vue-tag-wrapper {
  & > span {
    padding: 0.5em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #ffffff;
    background-color: #417941;
  }
}
.tags-input-typeahead-item-highlighted-default {
  background-color: #417941;
}

@media (max-width: 335px) {
    .footer {
        margin-left: -19px!important;
    }
}

@media screen and (max-width: 414px) {
    .loader {
        display: block!important;
        margin: 0 auto!important;
        width: 40px;
        height: 40px;
        border-width: 5px;
    }
}
</style>

<script>
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import DataTable from '@components/datatable.vue';
import Select2 from '@components/select2.vue';
import DataTableMixin from '@common/mixin/DataTableMixin';
import EmployeeMixin from '@common/mixin/EmployeeMixin';
import EmployeeForm from '@views/pages/employee/_forms/employee.vue';
import $ from 'jquery';
import ProgressBar from '@components/progressbar.vue';
import {mapGetters, mapActions} from 'vuex';
import _ from 'lodash';
import TagsInput from '@voerro/vue-tagsinput';
import '@voerro/vue-tagsinput/dist/style.css';
import BackButton from '@components/back-button.vue';
import FsSearchInput from '@components/fs-search-input.vue';

export default {
  props: {
    showHeader: {
      type: Boolean,
      default: true,
    },
    showBackButton: {
      type: Boolean,
      default: true,
    },
    classContainer: {
      type: String,
      default: 'container-fluid',
    },
    clientId: {
      type: Number,
      required: false,
    },
  },
  components: {
    PageHeader,
    PageContent,
    DataTable,
    EmployeeForm,
    Select2,
    ProgressBar,
    TagsInput,
    BackButton,
    FsSearchInput,
  },
  mixins: [DataTableMixin, EmployeeMixin],
  data() {
    let sortKey = 'jobcode';
    let columns = [
      {
        label: 'Employee Name',
        key: 'employees.first_name',
        sortKey: 'employees.last_name',
        width: '18%',
        filter: 'name',
        sortable: true,
      },
      {
        label: 'Job Position',
        key: 'job_position',
        sortKey: 'job_position',
        width: '15%',
        filter: 'job_position',
        sortable: false,
      },
      {
        label: 'Client',
        key: 'jobcode',
        sortKey: 'jobcode',
        width: '15%',
        filter: 'client',
        sortable: true,
      },
      {
        label: 'Hours Rendered this Month',
        key: 'working_hrs',
        sortKey: 'working_hrs',
        width: '12%',
        filter: 'runHrs',
        sortable: true,
      },
      {
        label: 'Target Hours',
        key: 'targetHrs',
        sortKey: 'targetHrs',
        width: '10%',
        filter: 'targetHrs',
        sortable: false,
      },
      {
        label: 'Percentage completed',
        key: 'chartSummary',
        sortKey: 'chartSummary',
        width: '40%',
        filter: 'chartSummary',
        sortable: false,
      },
    ];
    const sortOrder = {};

    columns.forEach(col => {
      sortOrder[col.sortKey] = 'asc';
    });
    return {
      term: '',
      pageTitle: '',
      pageClass: 'ks-content-nav',
      title: 'Employee Summary Working Hours',
      sortKey: 'jobcode',
      sortOrder: sortOrder,
      limit: 20,
      monthNames: [
          { id: 0,  name: 'January' },
          { id: 1,  name: 'February' },
          { id: 2,  name: 'March' },
          { id: 3,  name: 'April' },
          { id: 4,  name: 'May' },
          { id: 5,  name: 'June' },
          { id: 6,  name: 'July' },
          { id: 7,  name: 'August' },
          { id: 8,  name: 'September' },
          { id: 9, name: 'October' },
          { id: 10, name: 'November' },
          { id: 11, name: 'December' },
      ],
      pastYear: 20,
      activeParameter: {
        month: '',
        year: '',
      },
      sortedId: [],
      open: false,
      data: {
        columns,
        rows: [],
      },
      loading: false,
      jobCodes: [],
      selectedJobCode: [],
      selectedTags: [],
      existingTags: [],
      isClient: false,
      filterSwitch: 'client',
      employeeTags: [],
      employeeExistingTags: [],
      searchPlaceholder: '',
      backToMainButtonText: 'Go to main',
      backToMainButtonRouteTo: '/',
      backButtonText: 'Back',
      backButtonRouteTo: 'manage-employees',
      searchInputDisabled: true,
      selectedYear: (new Date()).getFullYear(),
      beginYear: 2019,
    };
  },
  async created() {
    this.activeParameter.year = new Date().getFullYear();
    this.activeParameter.month = new Date().getMonth() + 1;
    this.isClient = this.currentUser.data.hasOwnProperty('activeClientId');

    let pageTitle = 'MONTHLY GOAL TRACKER';
    this.pageTitle = pageTitle;

    this.setPaginationLimit(this.limit);
    await this.getData();

    if (this.isClient) {
      const columns = this.data.columns.filter(d => d.label != 'Client');
      this.$set(this.data, 'columns', columns);

      this.filterSwitch = 'employee';
    }

    this.loadTagsInputData();
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/data',
      meta: 'workLogReports/meta',
      getRouteWizards: 'routeWizards/getRouteWizard',
      employeeReports: 'workLogReports/employeeReports',
      jobCodesData: 'clientProjectJobcodes/data',
      employeeList: 'employees/employee_names',
    }),
    searchButtonDisabled() {
        let tags = [];

        if (this.filterSwitch == 'client') {
            tags = this.selectedTags;
        } else {
            tags = this.employeeTags;
        }

        return !tags.length;
    },
    isCurrentMonthAndYear() {
        const now = moment();
        const equalYear  = now.year() == this.activeParameter.year;
        const equalMonth = now.month() == this.activeParameter.month - 1;

        return equalMonth && equalYear;
    },
    years() {
        return _.reverse(
            _.range(this.beginYear, new Date().getFullYear() + 1)
        );
    },
    months() {
        if (this.selectedYear == this.beginYear) {
            return _.slice(this.monthNames, 8);
        }

        return this.monthNames;
    },
  },
  methods: {
    ...mapActions({
      worklogReports: 'workLogReports/getEmployeeWorkingReport',
      getClientProjectJobcodes: 'clientProjectJobcodes/getClientProjectJobcodes',
      getEmployeeNamesOnly: 'employees/getEmployeeNamesOnly',
    }),
    getReportChartSeries(index) {
      return [
        {
          name: 'Running Hours',
          data: [
            (
              this.employeeReports.data[index].total_working_percentage * 1
            ).toFixed(1),
          ],
        },
        {
          name: 'Target Hours',
          data: [
            (
              100 - this.employeeReports.data[index].total_working_percentage
            ).toFixed(1),
          ],
        },
      ];
    },
    workingHrsComputation(index) {
      return (
        this.employeeReports.data[index].total_working_percentage * 1
      ).toFixed(1);
    },
    setMonthActiveParameter(month) {
      this.loading = true;
      this.activeParameter.month = parseInt(month) + 1;
      this.gotoPage(1);
      this.getData();
    },
    setYearActiveParameter(year) {
      this.selectedYear = year;
      this.loading = true;
      this.activeParameter.year = year;
      this.gotoPage(1);
      this.getData();
    },
    async getData() {
      this.loading = true;
      this.searchInputDisabled = true;

      if (this.activeParameter.year == this.beginYear && this.activeParameter.month < 9) {
          this.activeParameter.month = 9;
      }

      let query = _.merge(this.getParams(), {
        year: this.activeParameter.year,
        month: this.activeParameter.month,
      });

      if (this.isClient) {
        query.client = this.currentUser.data.activeClientId;

        if (this.filterSwitch == 'employee') {
          let employeeIds = this.employeeTags || [];
          query.employeeIds = _.map(employeeIds, 'key');
        }
      } else {
        if (this.filterSwitch == 'client') {
          let jobcodes = this.selectedTags || [];
          query.jobcodes = _.map(jobcodes, 'key');
        } else {
          let employeeIds = this.employeeTags || [];
          query.employeeIds = _.map(employeeIds, 'key');
        }
      }

      await this.worklogReports(query).then(() => {
        if (!_.isEmpty(this.employeeReports)) {
          this.setPagination(this.meta.pagination);
        }
        this.loading = false;
        this.searchInputDisabled = false;
      });
    },
    sortedEmpId() {
      // sorting EmployeeID ASC
      this.sortedId = this.employeeNumberOptions.sort((a, b) =>
        a.text > b.text ? 1 : b.text > a.text ? -1 : 0,
      );
    },
    updateData() {
      this.getData();
      this.open = false;
    },
    paginate(page) {
      this.gotoPage(page);
      this.getData();
    },
    updateList(limit) {
      this.setPaginationLimit(limit);
      this.getData();
    },
    sortList(key) {
      this.sortKey = key;
      this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';

      this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
      this.getData();
    },
    navigateBack() {
      if (this.getRouteWizards) {
        this.$router.push({
          name: 'manage-employees',
          params: this.getRouteWizards,
        });
      } else {
        this.$router.push('/');
      }
    },
    search() {
      this.gotoPage(1);
      this.getData();
    },
    checkReports() {
      return (
        !_.isEmpty(this.employeeReports) && this.employeeReports.data.length > 0
      );
    },
    async filterSwitchHandler(val) {
      this.selectedTags = [];
      this.employeeTags = [];
      this.getData();
    },
    async loadTagsInputData() {
      const clientId = this.currentUser.data.activeClientId;

      // load clients tag input data
      if (!clientId) {
        await this.getClientProjectJobcodes({
          query: {orderBy: 'jobcode|asc', take: 9999},
        });
        this.existingTags = _.map(this.jobCodesData, item => ({
          key: item.id,
          value: item.jobcode,
        }));
      }

      // load employees tag input data
      let query = _.merge(this.getParams(), {
        year: this.activeParameter.year,
        month: this.activeParameter.month,
        take: 9999,
      });

      if (clientId) {
        this.filterSwitch = 'employee';
        query.clientId = clientId;
      }

      await this.getEmployeeNamesOnly({query});
      this.employeeExistingTags = this.employeeList.map(e => ({
        key: e.id,
        value: e.name,
      }));
    },
    tagsUpdated() {
        this.$nextTick(() => {
            this.search();
        });
    },
    clearSelectedTags() {
        this.selectedTags = [];
        this.employeeTags = [];

        this.search();
    },
  },
  watch: {
    clientId: async function() {
      await this.getData();
      await this.loadTagsInputData();
    },
    filterSwitch: {
      handler: 'filterSwitchHandler',
    },
  },
};
</script>
