<template>
  <div class="report-body">
    <div class="report-header">
      <div class="head d-inline-block">
        <!-- <img :src="fullScaleLogoGreen"> -->
      </div>
      <div class="head h-layer-5 skewed-left d-inline-block float-right"></div>
      <div class="head h-layer-4 skewed-left d-inline-block float-right"></div>
      <div class="head h-layer-3 skewed-left d-inline-block float-right"></div>
      <div class="head h-layer-2 skewed-left d-inline-block float-right"></div>
      <div class="head h-layer-text d-inline-block float-right">
        WEEKLY WORK HOUR REPORT
      </div>
    </div>

    <div>
      <nav>
        <ul class="pagination">
          <li
            class="page-item"
            :key="yearKey"
            v-for="(yearItem, yearKey) in years"
            :class="yearItem.class"
            @click="handleYearChange(yearKey)"
          >
            <a class="page-link" href="#">{{ yearKey }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-12 col-md-12">
      <div v-if="getMonthsInYear(getActiveYear()).length > 0">
        <div
          class="fs-accordion"
          v-for="(month, index) in getMonthsInYear(getActiveYear())
            .slice()
            .reverse()"
          :key="index"
          :class="{'is-closed': !openedMonths.includes(month)}"
        ></div>
      </div>
      <div
        v-else
        class="accordion-content-graph text-center "
        :class="[getMonthsInYear(getActiveYear()).length > 0 ? '' : 'centered']"
      >
        <span class="chart-content">No chart content available.</span>
      </div>
    </div>

    <div
      class="report-footer"
      :class="[getMonthsInYear(getActiveYear()).length > 0 ? '' : 'footer']"
    >
      <div class="footer-body">
        <div class="footer-upper">
          <div class="pointer-text d-inline-block">
            <p>
              <span class="la la-map-marker"></span>State Line Road, Suite 100,
              Leawood, KS
            </p>
          </div>
          <div class="pointer-1 d-inline-block"></div>
          <div class="pointer-2 d-inline-block"></div>
          <div class="pointer-3 d-inline-block"></div>
          <div class="pointer-4 d-inline-block"></div>
        </div>
        <div class="footer-lower">
          <div class="f-layer-1 skewed-right d-inline-block"></div>
          <div class="f-layer-2 skewed-right d-inline-block"></div>
          <div class="f-layer-3 skewed-right d-inline-block"></div>
          <div class="f-layer-4 skewed-right d-inline-block"></div>
          <div class="d-inline-block footer-tel-no">
            <p><span class="la la-phone green-icon"></span>+1 913-553-4510</p>
          </div>
          <div class="d-inline-block pull-right footer-email">
            <p>
              <span class="la la-envelope green-icon"></span> info@fullscale.io
            </p>
          </div>
        </div>
      </div>
      <div class="footer-image">
        <!-- <img :src="fullScaleIcon"> -->
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import ReportColChart from '@components/report-chart';
import ReportTable from '@components/report-table';
import Select2 from '@components/select2';

import _ from 'lodash';
export default {
  data() {
    return {
      workLogs: {
        key: {
          isOpen: false,
        },
      },
      activeYear: 0,
      openedMonths: [],
      clientJobcode: '',
    };
  },
  computed: {
    ...mapGetters({
      //fullScaleLogoGreen: 'appSettings/getFullScaleLogoGreen',
      //fullScaleIcon: 'appSettings/getFullScaleIcon',
      workLogReports: 'workLogReports/formattedOverall',
      years: 'workLogReports/years',
      projects: 'clientProjects/formatted_with_client',
      currentUser: 'auth/data',
    }),
  },
  async created() {
    let client_id = 0;

    if (this.currentUser.data.hasOwnProperty('activeClientId')) {
      client_id = this.currentUser.data.activeClientId;
    } else {
      if (this.$route.params.id > 0) {
        client_id = this.$route.params.id;
      }
    }

    await this.getClientProjects({query: {client_id: client_id}});

    if (this.projects.length > 0) {
      this.clientJobcode = this.projects[0].client;

      await this.getWorkLogYears({query: {jobcode: this.clientJobcode}});
      this.handleTab(
        this.getMonthsInYear(this.getActiveYear())
          .slice(-1)
          .pop(),
      );
    }
  },
  methods: {
    ...mapActions({
      getWorkLogReports: 'workLogReports/getWorkLogReports',
      getWorkLogYears: 'workLogReports/getYearsWithMonths',
      getClientProjects: 'clientProjects/getClientProjects',
    }),
    handleTab(month) {
      if (this.openedMonths.includes(month)) {
        this.openedMonths = this.openedMonths.filter(value => {
          return value != month;
        });
      } else {
        this.openedMonths.push(month);
        // TODO: show loader
        if (
          !Object.keys(this.workLogReports).includes(this.getActiveYear()) ||
          !Object.keys(this.workLogReports[this.getActiveYear()]).includes(
            month,
          )
        ) {
          this.getWorkLogReports({
            query: {
              // client_project_id: this.projects[0].project_id,
              jobcode: this.clientJobcode,
              year: this.getActiveYear(),
              month: month,
            },
          });
        }
      }
    },
    handleYearChange(year) {
      this.years[this.getActiveYear()].class = '';
      this.years[year].class = 'active';
      this.activeYear = year;
    },
    getActiveYear() {
      for (let item in this.years) {
        if (this.years[item].class == 'active') return item;
      }
    },
    getMonthsInYear(year) {
      if (this.years[this.getActiveYear()]) {
        return this.years[this.getActiveYear()].months;
      }
      return [];
    },
    getReportTableHeaders(year, month) {
      if (this.workLogReports[year]) {
        if (this.workLogReports[year][month]) {
          return this.workLogReports[year][month].table.headers;
        }
      }
      return [];
    },
    getReportTableContent(year, month) {
      if (this.workLogReports[year]) {
        if (this.workLogReports[year][month]) {
          return this.workLogReports[year][month].table.content;
        }
      }
      return [];
    },
    getReportChartRangeTitle(year, month) {
      if (this.workLogReports[year]) {
        if (this.workLogReports[year][month]) {
          return this.workLogReports[year][month].chart.rangeTitle;
        }
      }
      return '';
    },
    getReportChartCategories(year, month) {
      if (this.workLogReports[year]) {
        if (this.workLogReports[year][month]) {
          return this.workLogReports[year][month].chart.categories;
        }
      }
      return [];
    },
    getReportChartSeries(year, month) {
      if (this.workLogReports[year]) {
        if (this.workLogReports[year][month]) {
          if (this.workLogReports[year][month].chart.series.length > 0) {
            return this.workLogReports[year][month].chart.series;
          }
        }
      }
      return [{name: '', data: []}];
    },
    calculateReportChartHeight(year, month) {
      if (this.workLogReports[year]) {
        if (this.workLogReports[year][month]) {
          let categories = this.workLogReports[year][month].chart.categories;
          if (categories.length >= 10) {
            return 400;
          }
          return 200; // Bigger divisor, more compact
        }
      }
      return 200;
    },
    getMonthString(index) {
      let monthString = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December',
      ];
      let parsedIndex = parseInt(index) - 1;
      return monthString[parsedIndex];
    },
    redirectSearchUtility() {
      this.$router.push('/search/clients?redirectTo=worklogs-report');
    },
  },
  components: {
    'report-col-chart': ReportColChart,
    'report-table': ReportTable,
  },
};
</script>

<style scoped>
img {
  height: 100%;
}
.accordion-content-details {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
}
.accordion-content-details-body {
  padding-left: 5px;
  min-height: 150px;
  margin-left: 2px;
  border-left: 1px solid black;
}
.accordion-content-graph {
  /* display: inline-block; */
  position: relative;
  overflow: auto;
  max-width: 100%;
}
.accordion-icon {
  font-weight: bolder;
  background-color: #87df79;
  border-radius: 50%;
}
.accordion-title {
  display: inline-block;
}
.card-header {
  background-color: #28a745 !important;
}
.footer-body {
  width: 90%;
  height: 100%;
  display: inline-block;
}
.footer-image {
  height: 100%;
  display: inline-block;
  float: right;
  width: 10%;
  text-align: center;
}
.footer-lower {
  height: 55%;
  width: 100%;
}
.footer-upper {
  height: 45%;
  width: 100%;
  color: white;
}
.f-layer-1 {
  height: 100%;
  width: 30.3%;
  background-color: #c0c1c5;
  position: relative;
  margin-left: -20px;
}
.f-layer-2 {
  height: 100%;
  width: 10%;
  background-color: #cbccce;
  position: relative;
  margin-left: -4px;
}
.f-layer-3 {
  height: 100%;
  width: 10%;
  background-color: #b0b1b5;
  position: relative;
  margin-left: -4px;
}
.f-layer-4 {
  height: 100%;
  width: 10%;
  background-color: #979a9f;
  position: relative;
  margin-left: -4px;
}
.footer-tel-no {
  position: absolute;
  width: 180px;
  text-align: center;
  line-height: 40px;
}
.footer-email {
  position: relative;
  line-height: 40px;
  margin-right: 10%;
}
.green-icon {
  color: #146e3a;
}
.head {
  height: 100%;
  color: white;
  padding: 0px 5px 0px 5px;
}
.h-layer-2 {
  background-color: #5f5f5f;
  width: 50%;
  line-height: 40px;
  margin-right: 3px;
}
.h-layer-3 {
  background-color: #54873c;
  width: 5%;
  margin-right: 3px;
}
.h-layer-4 {
  background-color: #2c7639;
  width: 5%;
  margin-right: 3px;
}
.h-layer-5 {
  background-color: #146e3a;
  width: 5%;
  margin-right: -8px;
}
.h-layer-text {
  position: relative;
  z-index: 1;
  margin-right: -420px;
  line-height: 40px;
  font-size: 22px;
}
.la-map-marker {
  font-weight: bolder;
  font-size: 18px;
}
.layer-wrapper {
  width: 100%;
}
.pointer-1 {
  background-color: #146e3a;
  height: 100%;
  width: 60%;
  position: relative;
}
.pointer-1:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #146e3a;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-2 {
  width: 16%;
  height: 100%;
  background-color: #444446;
  position: relative;
  text-align: center;
}
.pointer-2:after {
  content: 'fullscale.io';
  line-height: 0px;
  padding-left: 26px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
}
.pointer-2:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #444446;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-3 {
  position: relative;
  height: 100%;
  width: 5%;
  background-color: #55af29;
}
.pointer-3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
}
.pointer-3:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #55af29;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-4 {
  position: relative;
  height: 100%;
  width: 18%;
  margin-left: -3px;
  background-color: #54873c;
}
.pointer-text {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
  padding-top: 5px;
}
.report-body {
  width: 100%;
}
.report-header {
  margin-top: 0px;
  height: 42px;
  overflow-x: hidden;
}
.report-footer {
  margin-top: 0px;
  height: 70px;
}
.skewed-left {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
.skewed-right {
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* text-align: center; */
}
.chart-content {
  font-size: 1rem;
}
</style>
