<template>
  <div class="report-body">
    <div class="report-header">
      <div class="head d-inline-block"></div>
      <div class="head h-layer-5 skewed-left d-inline-block float-right"></div>
      <div class="head h-layer-4 skewed-left d-inline-block float-right"></div>
      <div class="head h-layer-3 skewed-left d-inline-block float-right"></div>
      <div class="head h-layer-2 skewed-left d-inline-block float-right"></div>
      <div class="head h-layer-text d-inline-block float-right">{{ title }}</div>
    </div>
    <div v-if="loading" class="loader"></div>
    <div v-else>
      <div class="col-sm-12 mb-3 fs-back-link">
        <div class="back-btn-wrapper">
          <back-button :text="backButtonText" :route="backButtonRouteTo"></back-button>
          <back-button
            :text="backToMainButtonText"
            :route="backToMainButtonRouteTo"
            style="margin-left: 10px;"
          ></back-button>
        </div>
      </div>
      <div class="mainpad">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="row">
              <div class="col-sm-12 col-md-4 pr-0 p-2 p-sm-2">
                <select2
                  :options="employeeFormatted"
                  class="form-control"
                  placeholder="Select Employee"
                  :hideSearchBox="false"
                  @select="selectEmployee($event)"
                ></select2>
              </div>
              <div class="col-sm-12 col-md-3 pr-0 p-2 p-sm-2">
                <flat-pickr
                  v-model="filterValue.date.start"
                  :config="getConfig(true, false, { minDate: beginDate, maxDate: 'today' })"
                  placeholder="Date From"
                  name="start_date"
                  class="form-control"
                />
              </div>
              <div class="col-sm-12 col-md-3 pr-0 p-2 p-sm-2">
                <flat-pickr
                  v-model="filterValue.date.end"
                  :config="getConfig(true, false, { minDate: this.filterValue.date.start, maxDate: 'today' })"
                  placeholder="Date To"
                  name="end_date"
                  class="form-control"
                />
              </div>
              <div class="col-sm-12 col-md-2 p-2 p-sm-2">
                <button
                  class="btn btn-primary"
                  @click="generateReport"
                  :disabled="dateRangeIsEmpty || selectedEmployeeId == 0"
                >Generate</button>
              </div>
              <div v-if="rawReports.length && !isClient" class="col-sm-12 col-md-4 pr-0 p-2 p-sm-2">
                <tags-input
                  placeholder="Select Project"
                  v-model="selectedJobcodeTags"
                  :existing-tags="jobcodeTags"
                  :typeahead="true"
                  :only-existing-tags="true"
                  class="tags-input-wrapper-default search-vue-tags"
                  :wrapper-class="'vue-tag-wrapper'"
                  @tags-updated="jobcodeTagsUpdated"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-4 mt-md-2 mt-sm-3 pl-2 pl-xl-0 quick-search">
            <div class="float-left pr-2">
              <button
                @click="quickSearch('last 7 days')"
                class="btn btn-outline-primary ks-solid predefined"
              >Last 7 Days</button>
            </div>
            <div class="float-left pr-2">
              <button
                @click="quickSearch('last month')"
                class="btn btn-outline-primary ks-solid predefined"
              >Last Month</button>
            </div>

            <div class="float-left pr-2">
              <button
                @click="quickSearch('this month')"
                class="btn btn-outline-primary ks-solid predefined"
              >This Month</button>
            </div>
            <div v-if="rawReports.length" class="float-left m-2">
                <input
                  @click="convertToClientTz"
                  v-model="isClientTimezone"
                  id="is-client-timezone"
                  type="checkbox"
                />
                <label for="is-client-timezone" style="color:#000">{{ convertClientTzLabel }}</label>
            </div>
          </div>
        </div>
      </div>

      <div v-if="loadingRetrieve" class="loader"></div>
      <div v-else>
          <div class="col-sm-12 col-md-12 report-content">
              <div v-if="generated" class="fs-accordion" :class="{'is-closed': !open}" style="padding-top:0">
                  <div class="row">
                      <div class="col-md-12">
                          <div v-if="rawReports.length">
                              <template v-if="showOverallTotal">
                                  <div class="summary_hrs" v-for="(hours, index) in meta.total_hrs" :key="index">
                                      <div class="client_name">{{ hours.jobcode }}</div>
                                      <div class="day_hours">{{ hours.total_hrs }} hrs</div>
                                  </div>
                                  <div class="summary_hrs">
                                      <div class="client_name">Overall Total</div>
                                      <div class="day_hours" style="background: #dc3545">{{ overAllTotal }} hrs</div>
                                  </div>
                              </template>
                              <template v-else>
                                  <div class="summary_hrs">
                                      <div class="client_name">Total Hours</div>
                                      <div class="day_hours">{{ overAllTotal }} hrs</div>
                                  </div>
                              </template>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="fs-field">
                              <div class="card panel panel-default ks-information ks-light">
                                  <div class="card-header" style="cursor: default">
                                      <div>
                                          <span class="la ks-icon ks-text accordion-icon"></span>
                                          <h4 class="ks-text accordion-title" style="margin-bottom:0">{{ selectedEmployeeName }}</h4>
                                      </div>
                                  </div>
                                  <div class="card-block fs-accordion-content">
                                      <div>
                                          <div v-if="inlineLoader" class="loader"></div>
                                          <div v-else class="row">
                                              <div class="col-sm-12 col-md-12">
                                                  <report-table
                                                      v-if="formattedLogs"
                                                      title="Date"
                                                      :headers="['Day', 'Time In', 'Time Out', 'Hours', 'Project']"
                                                      :content="formattedLogs" />
                                                   <h5 v-else style="text-align:center">No reports available.</h5>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import {mapGetters, mapActions} from 'vuex';
import ReportTable from '@components/report-table';
import Select2 from '@components/select2';
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import FlatPickr from 'vue-flatpickr-component';
import DatePickerMixin from '@common/mixin/DatePicker';
import AlertMixin from '@common/mixin/AlertMixin';
import moment from 'moment';
import BackButton from '@components/back-button.vue';
import TagsInput from '@voerro/vue-tagsinput';
import '@voerro/vue-tagsinput/dist/style.css';

export default {
  mixins: [DatePickerMixin, AlertMixin],
  data() {
    return {
      title: 'DAILY TRACKER',
      filterValue: {
        date: {
          start: '',
          end: '',
        },
      },
      loading: false,
      employeeFormatted: [],
      selectedEmployeeId: 0,
      selectedEmployeeName: '',
      generated: false,
      loadingRetrieve: false,
      open: true,
      formattedLogs: null,
      secretBtnFlag: false,
      isClient: false,
      isClientTimezone: false,
      inlineLoader: false,
      headers: ['Date', 'Day', 'Time In', 'Time Out', 'Hours', 'Project'],
      backToMainButtonText: 'Go to main',
      backToMainButtonRouteTo: '/',
      backButtonText: 'Back',
      backButtonRouteTo: 'manage-employees',
      convertClientTzLabel: 'Convert to client timezone',
      selectedJobcodeTags: [],
      beginDate: new Date(2019, 8, 1),
    };
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/data',
      rawReports: 'workLogReports/data',
      getRouteWizards: 'routeWizards/getRouteWizard',
      getRouteWizards: 'routeWizards/getRouteWizard',
      employeeList: 'employees/employee_names',
      meta: 'workLogReports/meta',
    }),
    dateRangeIsEmpty() {
      return this.filterValue.date.start.length > 0 &&
        this.filterValue.date.end.length > 0
        ? false
        : true;
    },
    searchPlaceholder() {
      return this.currentUser.data.hasOwnProperty('activeClientId')
        ? 'Select a resource'
        : 'Select an employee';
    },
    showOverallTotal() {
      return _.values(this.meta.total_hrs).length > 1;
    },
    overAllTotal() {
      return this.meta.overall_total;
    },
    jobcodeTags() {
        return _.map(this.meta.jobcodes, row => ({
            key: row.jobcode_id,
            value: row.jobcode,
        }));
    },
  },
  async created() {
    this.loading = true;
    this.clearStates();

    if (this.currentUser.data.hasOwnProperty('activeClientId')) {
      this.isClientTimezone = true;
      this.convertClientTzLabel = 'Convert to my timezone';
    }

    await this.getData();
    this.loading = false;
  },
  methods: {
    ...mapActions({
      clearStates: 'workLogReports/clearStates',
      getReport: 'workLogReports/getReport',
      getRawWorkLogReports: 'workLogReports/getRawWorkLogReports',
      getReportNow: 'workLogReports/getReportNow',
      getEmployeeNamesOnly: 'employees/getEmployeeNamesOnly',
    }),
    async getData() {
      let params = {take: 99999};

      if (this.currentUser.data.hasOwnProperty('activeClientId')) {
        this.title = 'RESOURCE DAILY TRACKER';
        this.isClient = true;
        params = _.merge(params, {
          clientId: this.currentUser.data.activeClientId,
        });
      }

      await this.getEmployeeNamesOnly({query: params});
      this.employeeFormatted = this.employeeList.map(e => ({
        id: e.id,
        text: e.name,
      }));
    },
    async generateReport() {
      this.loadingRetrieve = true;

      let query = {
        raw: 1,
        employeeId: this.selectedEmployeeId,
        startDate: this.filterValue.date.start,
        endDate: this.filterValue.date.end,
        orderBy: 'log_date|asc',
        jobcodeIds: _.map(this.selectedJobcodeTags, row => row.key),
        take: 9999,
      };

      if (this.isClient) {
        query.clientId = this.currentUser.data.activeClientId;
      }

      await this.getRawWorkLogReports({query});
      const employee = this.employeeList.find(
        e => e.id == this.selectedEmployeeId,
      );
      this.selectedEmployeeName = employee.name;
      this.formattedLogs = this.formatReport(this.rawReports);
      this.generated = true;
      this.loadingRetrieve = false;
    },
    async convertToClientTz() {
      this.inlineLoader = true;
      let query = {
        raw: 1,
        employeeId: this.selectedEmployeeId,
        startDate: this.filterValue.date.start,
        endDate: this.filterValue.date.end,
        take: 9999,
      };

      if (this.isClient) {
        query.clientId = this.currentUser.data.activeClientId;
      }

      await this.getRawWorkLogReports({query});
      this.formattedLogs = this.formatReport(this.rawReports);
      this.inlineLoader = false;
    },
    getLatestReport() {
      this.secretBtnFlag = true;
      this.getReportNow().then(() => {
        this.secretBtnFlag = false;
      });
    },
    redirectSearchUtility() {
      this.$router.push('/search/clients?redirectTo=worklogs-report-daily');
    },
    redirectClient() {
      this.$router.push('/');
    },
    async selectEmployee(employeeId) {
      this.selectedEmployeeId = employeeId;
      this.selectedJobcodeTags = [];

      const { start, end } = this.filterValue.date;
      if (!start && !end) {
        this.$set(this.filterValue.date, 'start', moment().startOf('month').format('YYYY-MM-DD'));
        this.$set(this.filterValue.date, 'end', moment().format('YYYY-MM-DD'));
      }

      await this.generateReport();
    },
    formatReport(reports) {
      let result = reports.map(row => {
        if (this.isClientTimezone && row.client_timezone) {
          return {
            name: row.client_timezone.log_date,
            day: moment(row.log_date).format('ddd'),
            time_in: new Date(row.start_date),
            isHoliday: row.is_holiday,
            workLogs: [
              row.client_timezone.start_date,
              row.client_timezone.end_date,
              row.hours,
              /*row.accumulated_hours,*/
              row.jobcode,
            ],
          };
        }
        return {
          name: moment(row.log_date).format('MMMM DD, Y'),
          day: moment(row.log_date).format('ddd'),
          time_in: new Date(row.start_date),
          isHoliday: row.is_holiday,
          workLogs: [
            moment(row.start_date).format('hh:mm A'),
            moment(row.end_date).format('hh:mm A'),
            row.hours,
            /*row.accumulated_hours,*/
            row.jobcode,
          ],
        };
      });
      // We will group reports daily
      result = _.groupBy(result, 'name');
      // Convert result to an array
      result = _.values(result);

       // Remove Day Total for the main time
      /* result = _.map(result, row => {
        let day_total = 0;

        let data = _.map(row, item => {
          day_total += +parseFloat(item.workLogs[3]);
          item.workLogs[3] = (item.workLogs[3] != 0) ? day_total.toFixed(2) : '--';

          return item;
        });

          return data;
      }); */

      return _.isEmpty(result) ? null : result;
    },
    navigateBack() {
      if (this.getRouteWizards) {
        if (this.currentUser.data.hasOwnProperty('activeClientId')) {
          this.$router.push({
            name: 'manage-reports',
            params: this.getRouteWizards,
          });
        } else {
          this.$router.push({
            name: 'manage-employees',
            params: this.getRouteWizards,
          });
        }
      } else {
        this.$router.push('/');
      }
    },
    quickSearch(flag) {
      let startDate = moment();
      let endDate = moment();

      if (!this.selectedEmployeeId) {
        this.alertDialog('Oops!', 'Please select an employee', 'Ok', 'sm');
        return;
      }

      // set start date
      switch (flag) {
        case 'last 7 days':
          startDate = moment().subtract(7, 'days');
          break;
        case 'last 30 days':
          startDate = moment().subtract(30, 'days');
          break;
        case 'last month':
          startDate = moment()
            .subtract(1, 'months')
            .startOf('month');
          endDate = moment()
            .subtract(1, 'months')
            .endOf('month');
          break;
        case 'this month':
          startDate = moment().startOf('month');
          break;
      }

      this.$set(this.filterValue.date, 'start', startDate.format('YYYY-MM-DD'));
      this.$set(this.filterValue.date, 'end', endDate.format('YYYY-MM-DD'));

      this.generateReport();
    },
    jobcodeTagsUpdated() {
        this.$nextTick(() => {
            this.generateReport();
        });
    }
  },
  components: {
    'report-table': ReportTable,
    PageContent,
    Select2,
    FlatPickr,
    PageHeader,
    BackButton,
    TagsInput,
  },
};
</script>

<style lang="scss" scoped>
tr:hover {
    background: #bdb7b7;
}
.truncateResult {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.summary_hrs .client_name {
  color: #101010;
  margin-bottom: 9px;
  border-bottom: 1px solid #888;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 9px;
  font-size: 12px;
  font-weight: 500;
}
.summary_hrs .day_hours {
  background: #417941;
  color: #fff;
  text-align: center;
  padding: 7px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}
.summary_hrs .day_number {
  color: #888;
  margin-top: 3px;
}
.summary_hrs {
  float: left;
  margin-left: 0;
  text-align: center;
  padding: 15px;
}
.totalHoursResult {
  width: 100%;
  margin: 0px auto;
}
.headColor {
  background: #5f5f5f;
  color: #ffff;
}
table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 96%;
  margin-left: 2%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.highlight-red {
  background-color: #e46464 !important;
}
.pto-label {
  background-color: mediumpurple;
}
.secretBtn:hover {
  background-color: #5f5f5f;
  color: #f3f3f3;
}
.secretBtn {
  background-color: #f3f3f3;
  float: right;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  color: #f3f3f3;
  height: 47px;
}
.accordion-content-details {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
}
.accordion-content-details-body {
  padding-left: 5px;
  min-height: 150px;
  margin-left: 2px;
  border-left: 1px solid black;
}
.accordion-content-graph {
  /* display: inline-block; */
  position: relative;
  overflow: auto;
  max-width: 100%;
}
.accordion-icon {
  font-weight: bolder;
  background-color: #87df79;
  border-radius: 50%;
}
.accordion-title {
  display: inline-block;
}
.card-header {
  background-color: #28a745 !important;
}
.mainpad {
  padding: 5px 20px;
  margin-left: 1%;
}
.footer-body {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.footer-image {
  height: 100%;
  display: inline-block;
  width: 10%;
  text-align: center;
}
.footer-lower {
  height: 55%;
  width: 100%;
}
.footer-upper {
  height: 45%;
  width: 100%;
  color: white;
}
.f-layer-1 {
  height: 100%;
  width: 30.3%;
  background-color: #c0c1c5;
  position: relative;
  margin-left: -20px;
}
.f-layer-2 {
  height: 100%;
  width: 10%;
  background-color: #cbccce;
  position: relative;
  margin-left: -4px;
}
.f-layer-3 {
  height: 100%;
  width: 10%;
  background-color: #b0b1b5;
  position: relative;
  margin-left: -4px;
}
.f-layer-4 {
  height: 100%;
  width: 10%;
  background-color: #979a9f;
  position: relative;
  margin-left: -4px;
}
.footer-tel-no {
  position: absolute;
  width: 180px;
  text-align: center;
  line-height: 40px;
}
.footer-email {
  position: relative;
  line-height: 40px;
  margin-right: 10%;
}
.green-icon {
  color: #146e3a;
}
.head {
  height: 100%;
  color: white;
  padding: 0px 5px 0px 5px;
}
.h-layer-2 {
  background-color: #5f5f5f;
  width: 50%;
  line-height: 40px;
  margin-right: 3px;
}
.h-layer-3 {
  background-color: #54873c;
  width: 5%;
  margin-right: 3px;
}
.h-layer-4 {
  background-color: #2c7639;
  width: 5%;
  margin-right: 3px;
}
.h-layer-5 {
  background-color: #146e3a;
  width: 5%;
  margin-right: 8px;
}
.h-layer-text {
  position: relative;
  z-index: 1;
  margin-right: -420px;
  line-height: 40px;
  font-size: 22px;
}
.la-map-marker {
  font-weight: bolder;
  font-size: 18px;
}
.layer-wrapper {
  width: 100%;
}
.pointer-1 {
  background-color: #146e3a;
  height: 100%;
  width: 60%;
  position: relative;
}
.pointer-1:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #146e3a;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-2 {
  width: 16%;
  height: 100%;
  background-color: #444446;
  position: relative;
  text-align: center;
}
.pointer-2:after {
  content: 'fullscale.io';
  line-height: 0px;
  padding-left: 26px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
}
.pointer-2:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #444446;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-3 {
  position: relative;
  height: 100%;
  width: 5%;
  background-color: #55af29;
}
.pointer-3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
}
.pointer-3:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #55af29;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-4 {
  position: relative;
  height: 100%;
  width: 18%;
  margin-left: -3px;
  background-color: #54873c;
}
.pointer-text {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
  padding-top: 5px;
}
.report-body {
  width: 100%;
}
.report-header {
  margin-top: 0px;
  height: 42px;
}
.report-footer {
  height: 70px;
  // position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.skewed-left {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
.skewed-right {
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  //transform: translate(-50%, -50%);
}
// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     /* text-align: center; */
// }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card-block {
  padding: 16px 20px;
  font-size: 15px;
}
.logs-content {
  max-height: 350px;
  overflow-y: auto;
}
.fs-back-link {
  cursor: pointer;
  color: #25628f;
}
.quick-buttons button {
  margin-left: 2px;
  margin-right: 2px;
}

.back-btn-wrapper {
  position: relative;
  left: 15px;
  margin-top: 15px;
}
.report-content {
    padding-left: 33px;
    padding-right: 47px;
    margin-bottom: 15px;
}
.quick-search div {
    padding: 3px;
}

.search-vue-tags {
  border-color: #aaaaaa !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
}

@media screen and (max-width: 414px) {
  .predefined {
    padding: 10px 15px;
  }
  .report-content {
      padding-left: 10px!important;
      padding-right: 10px!important;
  }
  .fs-accordion .fs-accordion-content {
      padding: 0 !important;
      overflow: auto;
  }
  .h-layer-text {
      margin-right: -237px!important;
  }
  .h-layer-2 {
      width: 75%!important;
  }
}

@media screen and (max-width: 768px) {
  .mainpad {
    margin-left: 0;
  }
}

@media screen and (max-width: 862px) {
    .h-layer-2 {
        width: 80%!important;
    }
    .h-layer-text {
        margin-right: -544px!important;
    }
}

@media screen and (max-width: 700px) {
    .h-layer-text {
        margin-right: -472px !important;
    }
}

@media screen and (max-width: 553px) {
    .h-layer-2 {
        width: 78%!important;
    }
    .h-layer-text {
        margin-right: -354px !important;
    }
}

@media screen and (max-width: 360px) {
    .h-layer-2 {
        width: 75%!important;
    }
    .h-layer-text {
        margin-right: -231px !important;
    }
}

@media screen and (max-width: 375px) {
    .h-layer-2 {
        width: 75%!important;
    }
    .h-layer-text {
        margin-right: -231px !important;
    }
}

@media screen and (max-width: 415px) {
    .h-layer-text {
        margin-right: -260px !important;
    }
}

@media screen and (max-width: 385px) {
    .h-layer-2 {
        width: 75%!important;
    }
}
</style>

<style lang="scss">
.vue-tag-wrapper {
  & > span {
    padding: 0.5em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #ffffff;
    background-color: #417941;
  }
}
.tags-input-typeahead-item-highlighted-default {
  background-color: #417941;
}
</style>
