<template>
    <div class="report-body">
        <div class="report-header">
        <div class="head h-layer-5 skewed-left d-inline-block float-right"></div>
        <div class="head h-layer-4 skewed-left d-inline-block float-right"></div>
        <div class="head h-layer-3 skewed-left d-inline-block float-right"></div>
        <div class="head h-layer-2 skewed-left d-inline-block float-right"></div>
        <div class="head h-layer-text d-inline-block float-right">WEEKLY REPORTS</div>
    </div>

    <div v-if="globalLoader" class="profile-loader-indicator">
        <img src="/assets/img/loaders/svg-loaders/three-dots.svg" />
        <br />
        <h5>Fetching Report</h5>
    </div>

    <div v-else class="mainpad">
        <div class="row">
            <div class="back-btn-wrapper">
                <back-button :text="backButtonText" :route="backButtonRouteTo"></back-button>
                <back-button :text="backToMainButtonText" :route="backToMainButtonRouteTo" style="margin-left: 10px;"></back-button>
            </div>
            <div v-if="(canUpdate = $can('update', 'clients_page'))"></div>
            <div v-if="canUpdate" class="client-list">
                <div class="col-12">
                    <input type="text" id="search" class="posfix" placeholder=" Search Client" v-model="search"/>
                </div>
                <br />
                <div class="col-lg-12 clientNames">
                    <ul>
                        <li v-for="jobcode in filteredList" :key="jobcode.id" id="myMenu">
                            <a :class="activeParameter.id === jobcode.id ? 'highlight-active' : ''"
                               @click="setJobcodeActiveParameter(jobcode.id, jobcode.client_id, jobcode.jobcode)">{{ jobcode.jobcode }}</a>
                        </li>
                    </ul>
                    <span v-if="filteredList.length == 0" style="padding: 10px;">No results found.</span>
                    <br v-if="filteredList.length == 0" />
                    <br v-if="filteredList.length == 0" />
                </div>
            </div>
            <div class="card-block" :class="canUpdate ? 'report-panel' : 'report-panel-full'">
                <div class="row toolbar">
                    <div class="col-md-4 legend-container">
                        <ul class="legend">
                            <li class="legendFont">Legend:</li>
                            <li>
                              <span class="pto"></span>PTO
                            </li>
                            <li>
                              <span class="holiday"></span>Holiday
                            </li>
                            <li>
                              <span class="workhrs"></span>Working Hours
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 offset-md-5">
                        <div class="row select-container">
                            <div class="col-md-6">
                                <select
                                    class="form-control"
                                    :style="{'height': '40px','cursor':'pointer'}"
                                    @change="setMonthActiveParameter($event.target.options[$event.target.selectedIndex].value)">
                                    <option
                                        :selected="new Date().getMonth() == month.id"
                                        v-for="month in months"
                                        :key="month.id"
                                        :value="month.id"
                                        >{{month.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select
                                    class="form-control"
                                    :style="{'height': '40px','cursor':'pointer'}"
                                    @change="setYearActiveParameter($event.target.options[$event.target.selectedIndex].value)">
                                    <option
                                        v-for="year in years"
                                        :key="year"
                                        :selected="new Date().getFullYear() == year">{{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="(canUpdate = $can('update', 'clients_page'))" class="row">
                    <div class="col-md-3 override-status">
                        <p class="text-center">
                            <template v-if="overrideLoading">
                                Loading data from TSheets. Please wait for a while. <a href="#"></a> <i class="la la-refresh fa-spin"></i>
                            </template>
                            <template v-if="overrideDone">
                                We're done. Thanks for waiting.
                                <br />
                                <small><a @click="loadPage" style="text-decoration:underline">Click to load page.</a></small>
                            </template>
                        </p>
                    </div>
                </div>

                <div v-if="loading" class="loader"></div>
                <div v-else>
                    <div v-if="isContainReport()">
                        <div class="col-lg-12 clearfix">
                            <div class="fs-accordion" v-for="(week, index) in getWeeklyHeaders()" :key="index" :class="{'is-closed': !openedWeeks.includes(week.name)}">
                                <div class="fs-field">
                                    <div class="card panel panel-default ks-information ks-light">
                                        <div class="card-header" title="Click to expand/collapse" @click.stop="handleTab(week.name, index)">
                                            <div>
                                                <span
                                                    class="la ks-icon ks-text accordion-icon"
                                                    :class="{
                                                        'la la-plus': !openedWeeks.includes(week.name),
                                                        'la la-minus': openedWeeks.includes(week.name),
                                                        }">
                                                </span>
                                                <h4 class="ks-text accordion-title">{{ week.name }}</h4>
                                            </div>
                                            <!-- We dont need to manually post the weekly report to be able to show to clients -->
                                            <!-- We will automate this one -->
                                            <!--<div v-if="canUpdate">
                                                <span v-if="postFunc[index]">Posting. . .</span>

                                                <span v-else>
                                                    <div v-if="!week.isPosted" class="btn-group-vertical btn-group-sm fs-actions" role="group">
                                                        <a title="Post" class="btn btn-primary btn-sm" @click.stop.prevent="postWeekReport(week.name, index)" style="width: 100%; color: #f3f0f0">Post</a>
                                                    </div>

                                                    <span v-else>
                                                        <i class="la la-check"></i>
                                                        Posted
                                                    </span>
                                                </span>
                                            </div> -->
                                        </div>
                                        <div class="card-block fs-accordion-content">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <report-table
                                                        title="Employee Name"
                                                        :headers="getWeeklyReportHeaders(index)"
                                                        :subheaders="getWeeklyReportSubHeaders(index)"
                                                        :content="getWeeklyReportContent(index)"
                                                        :isWeeklyReport="true"
                                                        :isStandard="false"/>
                                                </div>
                                            </div>
                                            <hr />
                                            <div>
                                                <div class="content-graph">
                                                    <report-col-chart
                                                        :key="index"
                                                        :title="(getReportChartSeries(index)[0].data.length > 0) ? week.name : 'No Reports Available'"
                                                        :categories="getReportChartCategories(index)"
                                                        :series="getReportChartSeries(index)"
                                                        :height="calculateReportChartHeight()"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else class="text-center" style="padding-top: 10%">
                        <span v-if="!onPageLoad" class="chart-content">No reports available.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="footer">
        <button :disabled="secretBtnFlag" class="btn secretBtn" @click="openOverrideModal()" v-if="$can('update', 'clients_page')">
          <span v-if="secretBtnFlag">Fetching . . .</span>
          <span v-else title="Click to fetch most up-to-date data">Override</span>
        </button> -->
        <!-- We will remove manual monthy pulling of tsheets data -->
        <!-- <button :disabled="secretBtnFlag" class="btn secretBtn" @click="openPullDataModal()" v-if="$can('update', 'clients_page')">
          <span v-if="secretBtnFlag">Fetching . . .</span>
          <span v-else title="Click to fetch most up-to-date data">Pull Data</span>
        </button> -->
    <!-- </div> -->

    <client-list-dialog :jobCode="activeParameter.jobcode" :openModal="modal.open" @close="modal.open = false" @mapClient="mapClient">
    </client-list-dialog>

    <override-option-dialog :openModal="overrideModal.open" @success="retrieveSuccess" @close="overrideModal.open = false">
    </override-option-dialog>

    <pull-data-dialog :openModal="pullDataModal.open" @success="retrieveSuccess" @close="pullDataModal.open = false">
    </pull-data-dialog>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import ReportColChart from '@components/report-chart';
import ReportTable from '@components/report-table';
import Select2 from '@components/select2';
import ClientListDialog from '@views/pages/worklogs/_modals/clients-list.vue';
import OverrideOptionDialog from '@views/pages/worklogs/_modals/override-option.vue';
import PullDataDialog from '@views/pages/worklogs/_modals/pull-data-option.vue';
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import FlatPickr from 'vue-flatpickr-component';
import DatePickerMixin from '@common/mixin/DatePicker';
import VueTagsInput from '@johmun/vue-tags-input';
import AlertMixin from '@common/mixin/AlertMixin';
import BackButton from '@components/back-button.vue';

import _ from 'lodash';
export default {
  mixins: [
    DatePickerMixin,
    AlertMixin,
  ],
    data() {
        return {
            title: 'Tsheet Logs',
            pageClass: 'ks-content-nav',
            filterValue: {
                date: {
                    start: '',
                    end: '',
                },
                weekly: false,
            },
            workLogs: {
                key: {
                    isOpen: false,
                },
            },
            postFunc: [],
            activeYear: 0,
            openedMonths: [],
            clientJobcode: '',
            generated: false,
            loading: false,
            dateStart: '',
            dateEnd: '',
            onPageLoad: false,
            isReportWeekly: false,
            openedWeeks: [],
            monthNames: [
                { id: 0,  name: 'January' },
                { id: 1,  name: 'February' },
                { id: 2,  name: 'March' },
                { id: 3,  name: 'April' },
                { id: 4,  name: 'May' },
                { id: 5,  name: 'June' },
                { id: 6,  name: 'July' },
                { id: 7,  name: 'August' },
                { id: 8,  name: 'September' },
                { id: 9, name: 'October' },
                { id: 10, name: 'November' },
                { id: 11, name: 'December' },
            ],
            activeParameter: {
                month: '',
                id: '',
                year: '',
                jobcode: '',
                client: ''
            },
            clientName: '',
            search: '',
            canUpdate: '',
            globalLoader: false,
            secretBtnFlag: false,
            isClient: false,
            modal: {
              open: false,
            },
            currentWeek: '',
            currentIndex: 0,
            overrideModal: {
              open: false,
            },
            pullDataModal: {
              open: false,
            },
            selectedMonth: (new Date()).getMonth(),
            selectedYear: (new Date()).getFullYear(),
            backToMainButtonText: 'Go to main',
            backToMainButtonRouteTo: '/',
            backButtonText: 'Back',
            backButtonRouteTo: 'manage-employees',
            pastYear: 20,
            overrideLoading: false,
            overrideDone: false,
            beginYear: 2019,
        };
    },
    computed: {
        ...mapGetters({
            currentUser: 'auth/data',
            reportFilter: 'workLogReports/formattedReportFilter',
            clients: 'clients/formatted_with_projects',
            clientReports: 'workLogReports/clientReports',
            jobcodes: 'clientProjectJobcodes/data',
            getRouteWizards: 'routeWizards/getRouteWizard',
            overrideResponse: 'workLogReports/overrideResponse'
        }),
        dateRangeIsEmpty() {
            return !(this.filterValue.date.start.length > 0 && this.filterValue.date.end.length > 0);
        },
        filteredList() {
            return this.jobcodes.filter(jobcode => {
                return jobcode.jobcode.toLowerCase().includes(this.search.toLowerCase());
            });
        },
        years() {
            return _.reverse(
                _.range(this.beginYear, new Date().getFullYear() + 1)
            );
        },
        months() {
            if (this.selectedYear == this.beginYear) {
                return _.slice(this.monthNames, 8);
            }

            return this.monthNames;
        },
    },
    mounted() {
        this.onPageLoad = true;

        if (this.$can('update', 'clients_page')) {
            if(this.$route.query.hasOwnProperty('override')) {
                this.overrideModal.open = true;
            }
        }
    },
    created() {
        this.initialize();

        $(window).on('scroll', function(){
          if($(this).scrollTop() >= 75){
            $('.back').css('color', '#fff');
          }
          else{
            $('.back').css('color', '#25628F');
          }
        });
    },
    methods: {
    ...mapActions({
        clearStates: 'workLogReports/clearStates',
        getWorkLogYears: 'workLogReports/getYearsWithMonths',
        getClientProjects: 'clientProjects/getClientProjects',
        getClients: 'clients/getClients',
        getClientReport: 'workLogReports/getClientReport',
        postWorkLogReport: 'workLogReports/postWorklogReport',
        getProjectJobcodes: 'clientProjectJobcodes/getClientProjectJobcodes',
        getReportNow: 'workLogReports/getReportNow',
        getOverrideResponse: 'workLogReports/getOverrideResponse'
    }),
    async initialize() {
      this.globalLoader = true;
      this.clearStates();
      this.isClient = this.currentUser.data.hasOwnProperty('activeClientId');

      const d = new Date();
      this.activeParameter.month = d.getMonth() + 1;
      this.activeParameter.year = d.getFullYear();

      if(this.isClient) {
        this.activeParameter.client = this.currentUser.data.activeClientId;
        this.generateReport().then(() => {
          this.globalLoader = false;
        });
      } else {
        await this.getProjectJobcodes({query: {orderBy: 'jobcode|asc', take: 10000}}).then(
            res => {
                this.globalLoader = false;
            },
        );
      }
    },
    mapJobcodeIdByClient(client_id) {
      let jobcode = this.jobcodes.filter(jc => client_id == jc.client_id)
                                  .map((jc) => {
                                      return {
                                          id: jc.id,
                                          jobcode: jc.jobcode,
                                      }
                                  });
      if (!_.isEmpty(jobcode)) {
        this.setJobcodeActiveParameter(jobcode[0].id, client_id, jobcode[0].jobcode);
      }
    },
    setJobcodeActiveParameter(id,client, jobcode) {
      this.loading = true;
      this.activeParameter.id = id;
      this.activeParameter.client = client;
      this.activeParameter.jobcode = jobcode;
      if (!this.isContainReport()) {
          this.generateReport();
      } else {
          this.loading = false;
      }
    },
    setMonthActiveParameter(month) {
      this.selectedMonth = parseInt(month);
      this.loading = true;
      this.activeParameter.month = parseInt(month) + 1;
      if (!this.isContainReport() && this.activeParameter.client != '') {
          this.generateReport();
      } else {
          this.loading = false;
      }
    },
    setYearActiveParameter(year) {
      this.selectedYear = year;
      this.loading = true;
      this.activeParameter.year = year;
      if (!this.isContainReport() && this.activeParameter.client != '') {
          this.generateReport();
      } else {
          this.loading = false;
      }
    },
    async generateReport() {
        if (this.activeParameter.year == this.beginYear && this.activeParameter.month < 9) {
            this.activeParameter.month = 9;
        }

        const query =  (this.isClient)
        ? {
          posted: true,
          client: this.activeParameter.client,
          month: this.activeParameter.month,
          year: this.activeParameter.year,
          take: 999
        } : {
            id: this.activeParameter.id,
            month: this.activeParameter.month,
            year: this.activeParameter.year,
            jobcode: this.activeParameter.jobcode,
            client: this.activeParameter.client,
            take: 999,
        };

        await this.getClientReport({query}).then(res => {
          if (this.isClient) {
            this.activeParameter.jobcode = Object.keys(this.clientReports)[0];
          }
          this.postFunc = [];
          if (!_.isUndefined(res)) {
            // It means content is empty;
          } else {
            for (let i = 0; i < this.doesContainData().length; i++) {
              this.postFunc[i] = false;
            }
          }
        });

      this.loading = false;
      this.onPageLoad = false;
    },
    getReportChartCategories(index) {
      return this.isContainReport()
        ? this.doesContainData()[index].contents.map(i => i.name)
        : [];
    },
    getReportChartSeries(index) {
      let data = this.isContainReport()
        ? this.doesContainData()[index].contents.map(i => i.total)
        : [];
      return [{name: '', data: data}];
    },
    isAllZero(index) {
      let data = this.isContainReport()
        ? this.doesContainData()[index].contents.map(i => i.total)
        : [];
      return data.every(item => item === 0);
    },
    calculateReportChartHeight() {
      return 300;
    },
    handleTab(week, index) {
      if (this.openedWeeks.includes(week)) {
        this.openedWeeks = this.openedWeeks.filter(value => {
          return value != week;
        });
      } else {
        this.openedWeeks.push(week);
      }
    },
    getWeeklyReportHeaders(index) {
      return this.isContainReport()
        ? this.doesContainData()[index].headers.map(thead => thead.date)
        : [];
    },
    getWeeklyReportSubHeaders(index) {
      return this.isContainReport()
        ? this.doesContainData()[index].headers.map(thead => thead.day)
        : [];
    },
    getWeeklyReportContent(index) {
      return this.isContainReport()
        ? this.doesContainData()[index].contents
        : [];
    },
    getWeeklyHeaders() {
      return this.isContainReport() ? this.doesContainData() : [];
    },
    doesContainData() {
      if (!_.isEmpty(this.clientReports)) {
        if (!_.isUndefined(this.clientReports[this.activeParameter.jobcode])) {
          if (
            !_.isUndefined(
              this.clientReports[this.activeParameter.jobcode][
                this.activeParameter.year
              ],
            )
          ) {
            if (
              !_.isUndefined(
                this.clientReports[this.activeParameter.jobcode][
                  this.activeParameter.year
                ][this.activeParameter.month],
              )
            ) {
              return this.clientReports[this.activeParameter.jobcode][
                this.activeParameter.year
              ][this.activeParameter.month];
            } else {
              return [];
            }
          } else {
            return [];
          }
        } else {
          return [];
        }
      } else {
        return [];
      }
    },
    isContainReport() {
      return this.doesContainData().length > 0;
    },
    redirectSearchUtility() {
      this.$router.push('/search/clients?redirectTo=worklogs-report');
    },
    openOverrideModal() {
      this.overrideModal.open = true;
    },
    openPullDataModal() {
      this.pullDataModal.open = true;
    },
    getLatestReport() {
      this.secretBtnFlag = true;
      this.getReportNow().then(() => {
        this.secretBtnFlag = false;
      });
    },
    mapClient(id) {
      this.$set(this.activeParameter, 'client', parseInt(id));
      this.postWeekReport(this.currentWeek, this.currentIndex);
    },
    async postWeekReport(week, index) {
      this.currentWeek = week;
      this.currentIndex = index;

      if (!this.getWeeklyReportContent(index).length) {
        this.alertDialog('Unable to post', 'Cannot post empty reports.', 'OK', 'sm');
        return;
      }

      if (!this.activeParameter.client) {
        this.modal.open = true;
        return;
      }

      let weekRange = _.head(this.getWeeklyReportContent(index));
          weekRange = _.keys(weekRange.workLogs);
          weekRange = {
              start: _.head(weekRange),
              end:   _.last(weekRange),
          };


      Vue.set(this.postFunc, index, true);
      let data = {
        week: week,
        activeParameters: this.activeParameter,
        user_id: this.currentUser.data.id,
        weekRange,
      };

      await this.postWorkLogReport(data).then(() => {
        this.generateReport().then(() => {
          Vue.set(this.postFunc, index, false);
        });
      });
    },
    navigateBack() {
      if (this.getRouteWizards) {
        if (this.currentUser.data.hasOwnProperty('activeClientId')){
          this.$router.push({
              name: 'manage-reports',
              params: this.getRouteWizards,
            });
          }else{
              this.$router.push({
                  name: 'manage-clients',
                  params: this.getRouteWizards,
              });
          }
      } else {
        this.$router.push('/');
      }
    },
    retrieveSuccess() {
      this.overrideLoading = true;
      this.getOverrideStatus();

      this.initialize();
      this.setMonthActiveParameter(this.selectedMonth);
    },
    getOverrideStatus() {
        let interval;

        if (this.overrideLoading) {
            interval = setInterval(async () => {
                await this.getOverrideResponse({caching: new Date().getTime()});

                this.overrideDone = this.overrideResponse.status == 'inactive' ? true : false;
                this.overrideLoading = !this.overrideDone;

                if (this.overrideDone) {
                    clearInterval(interval);
                }
            }, 60000);
        }
    },
    loadPage() {
        this.overrideLoading = false;
        this.overrideDone = false;

        this.initialize();
        this.setMonthActiveParameter(this.selectedMonth);
    },
  },
  components: {
    'report-col-chart': ReportColChart,
    'report-table': ReportTable,
    PageContent,
    Select2,
    FlatPickr,
    PageHeader,
    VueTagsInput,
    ClientListDialog,
    OverrideOptionDialog,
    PullDataDialog,
    BackButton,
  },
};
</script>

<style lang="scss" scoped>
.client-list {
  width: 236px;
  margin-left: 10px;
}
.secretBtn:hover {
  background-color: #5f5f5f;
  color: #f3f3f3;
}
.fs-field {
  border-radius: 5px;
  .card.panel {
    border: none;
  }
}
.secretBtn {
  background-color: #f3f3f3;
  float: right;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  color: #f3f3f3;
  height: 47px;
}
.back-btn-wrapper {
    width: 100%;
    margin: 20px 0 20px 0;
    padding-left: 40px;
}
.legendFont {
  font-weight: bold;
}
/* basic positioning */
.legend {
  list-style: none;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.legend li {
  float: left;
  margin-right: 30px;
}
.legend span {
  float: left;
  width: 21px;
  height: 16px;
  margin: 6px;
}
/* your colors */
.legend .pto {
  background-color: #9370db;
  margin: 2px 5px 2px;
}
.legend .holiday {
  background-color: #cd5c5c;
  margin: 2px 5px 2px;
}
.legend .workhrs {
  background-color: #b7b7b7;
  margin: 2px 5px 2px;
}
.legend .break {
  background-color: #42a5f5;
}
.posfix {
  position: fixed;
  width: 220px;
  margin: 50px 0px;
  height: 34px;
}
.clientName {
  height: 70vh !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
div.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
div.footer li {
  float: left;
}
div.footer li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
}
@media (min-width: 360px) {
  div.clientNames ul {
    list-style-type: none;
    margin: -35px 0px 0px 0px;
    padding: 0;
    //width: 212.5px;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    height: 70vh !important;
  }
}
div.clientNames ul {
  list-style-type: none;
  margin: 64px 0px 0px 0px;
  padding: 0;
  width: 220px;
  background-color: #f1f1f1;
  position: fixed;
  height: 70vh !important;
  overflow: auto;
}
div.clientNames ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none !important;
}
div.clientNames ul li a.active {
  background-color: #4caf50;
  color: white;
}
div.clientNames ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
div.footer ul li a.active {
  background-color: #4caf50;
  color: white;
}
div.footer ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.monthList {
  position: absolute;
  bottom: 71px;

  padding: 0px 0px 0px 207px;
}
.accordion-content-details {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
}
.accordion-content-details-body {
  padding-left: 5px;
  min-height: 150px;
  margin-left: 2px;
  border-left: 1px solid black;
}
.accordion-content-graph {
  /* display: inline-block; */
  position: relative;
  overflow: auto;
  max-width: 100%;
}
.accordion-icon {
  font-weight: bolder;
  background-color: #87df79;
  border-radius: 50%;
  padding: 3px;
}
.accordion-title {
  display: inline-block;
  margin: 0px 0px 0px 10px;
}
.card {
    margin-top: 0;
}
.card-header {
  background-color: #28a745 !important;
  height: 40px;
  border-radius: 3px 3px 0px 0px;
}
.mainpad {
  padding: 5px 1px;
  overflow: hidden;
}
.footer-body {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.footer-image {
  height: 100%;
  display: inline-block;
  width: 10%;
  text-align: center;
}
.footer-lower {
  height: 55%;
  width: 100%;
}
.footer-upper {
  height: 45%;
  width: 100%;
  color: white;
}
.f-layer-1 {
  height: 100%;
  width: 30.3%;
  background-color: #c0c1c5;
  position: relative;
  margin-left: -20px;
}
.f-layer-2 {
  height: 100%;
  width: 10%;
  background-color: #cbccce;
  position: relative;
  margin-left: -4px;
}
.f-layer-3 {
  height: 100%;
  width: 10%;
  background-color: #b0b1b5;
  position: relative;
  margin-left: -4px;
}
.f-layer-4 {
  height: 100%;
  width: 10%;
  background-color: #979a9f;
  position: relative;
  margin-left: -4px;
}
.footer-tel-no {
  position: absolute;
  width: 180px;
  text-align: center;
  line-height: 40px;
}
.footer-email {
  position: relative;
  line-height: 40px;
  margin-right: 10%;
}
.green-icon {
  color: #146e3a;
}
.head {
  height: 100%;
  color: white;
  padding: 0px 5px 0px 5px;
}
.h-layer-2 {
  background-color: #5f5f5f;
  width: 50%;
  line-height: 40px;
  margin-right: 3px;
}
.h-layer-3 {
  background-color: #54873c;
  width: 5%;
  margin-right: 3px;
}
.h-layer-4 {
  background-color: #2c7639;
  width: 5%;
  margin-right: 3px;
}
.h-layer-5 {
  background-color: #146e3a;
  width: 5%;
  margin-right: 8px;
}
.h-layer-text {
  position: relative;
  z-index: 1;
  margin-right: -420px;
  line-height: 40px;
  font-size: 22px;
}
.la-map-marker {
  font-weight: bolder;
  font-size: 18px;
}
.layer-wrapper {
  width: 100%;
}
.pointer-1 {
  background-color: #146e3a;
  height: 100%;
  width: 60%;
  position: relative;
}
.pointer-1:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #146e3a;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-2 {
  width: 16%;
  height: 100%;
  background-color: #444446;
  position: relative;
  text-align: center;
}
.pointer-2:after {
  content: 'fullscale.io';
  line-height: 0px;
  padding-left: 26px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
}
.pointer-2:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #444446;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-3 {
  position: relative;
  height: 100%;
  width: 5%;
  background-color: #55af29;
}
.pointer-3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
}
.pointer-3:before {
  content: '';
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #55af29;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1;
}
.pointer-4 {
  position: relative;
  height: 100%;
  width: 18%;
  margin-left: -3px;
  background-color: #54873c;
}
.pointer-text {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
  padding-top: 5px;
}
.report-body {
  width: 100%;
}
.report-header {
  margin-top: 0px;
  height: 42px;
}
.report-footer {
  height: 70px;
  // position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.skewed-left {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
.skewed-right {
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
.content-graph {
  /* display: inline-block; */
  position: relative;
  overflow: auto;
  max-width: 100%;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(35%, -50%);
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  //transform: translate(-50%, -50%);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* text-align: center; */
}
.chart-content {
  font-size: 1rem;
}
.card-block {
  padding: 0 3px;
  font-size: 15px;
}
.card-block {
  width: 100%;
}
.report-panel {
  width: calc(100% - 246px);
}
.report-panel.full {
  width: 100%;
}
nav {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 300px;
}
nav ul {
  //list-style-type: disc;
  margin: 10px;
  padding: 0;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
a:not([href]):not([tabindex]):hover {
  color: green;
  text-decoration: underline;
}

.highlight-active {
  font-weight: bolder;
  color: green !important;
}

.add-height {
  height: 400px !important;
}

.profile-loader-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
}
.fs-accordion{
    padding: 10px 25px;
}
.toolbar {
    padding-right: 40px;
}
.override-status {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.la-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.select-container {
    padding-left: 40px;

    & > div {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 450px) {
    ul.legend > li {
        width: 100%!important;
    }
    .legend-container {
        margin-bottom: 10px!important;
    }
    .h-layer-2 {
        width: 70%;
    }
    .h-layer-text {
        margin-right: -174px;
    }
    .loader {
        position: inherit;
        margin: 35px auto;
        width: 40px;
        height: 40px;
        border-width: 5px;
    }
    .fs-accordion-content {
        overflow: auto;
    }
    td.header-label-col {
        white-space: nowrap!important;
        padding: 4px!important;
    }
    .content-graph {
        overflow: hidden;
        width: max-content;
        max-width: none;
    }
}
</style>
