<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" @close="closeModal">
		<template slot="button">
            <save-button :loading="loading" :options="button" @action="save" :disabled="!isValid">{{info.name}}</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('name') || hasSSerror }">
                                <label>Name<span class="error">*</span></label>
                                <input type="text" v-validate="'required'" ref="firstName" name="name" class="form-control" v-model="categoriesData.name" @keyup="resetSSError"/>
                                <span v-show="errors.has('name')" class="help-block form-error">{{ errors.first('name') }}</span>
                                <span v-show="hasSSerror" class="help-block form-error">{{ ssError }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
							<div class="form-group">
								<label>Resource Types<span class="error">*</span></label>	
								<select2 
									name="resourceTypes"	
									:options="resourceTypesSelection"
									:value="categoriesData.resourceTypes"
									@select="categoriesData.resourceTypes = $event" />
									<span v-show="errors.has('resource_type')" class="help-block form-error">{{ errors.first('resource_type') }}</span>
							</div>
						</div>
						<div class="col-sm-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea v-validate="'required'" name="description" class="form-control" v-model="categoriesData.description" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import Select2 from '@components/select2.vue';

	import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import AlertMixin from '@common/mixin/AlertMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		props: {
			info: { type: Object, required: true}
		},
		data() {
			return {
				valid:false,
				option: { width: '500px' },
	            categoriesData: {
					id: '', 
					name: '',
					resourceTypes: '',
					description: '',
				},
	            button: { class: 'btn btn-primary',type: 'button' },
	            loading: false,
	            manualInput : false,
	            validation: [
					{ path: 'name', name: 'name', rule: 'required', msg: {required: 'The name field is required'} },
					
	            ],
	            hasSSerror: false,
	            ssError: null,
				categoryNameDBVal:'',
				resourceTypesSelection: [
                    {id: '1', text: 'Developers'},
                    {id: '2', text: 'Testers'},
					{id: '3', text: 'Managers'},
					{id: '4', text: 'Creative'},
                ],
			}
		},
		computed: {
			...mapGetters({
				category:'categories/category',
			}),
			isValid() {
				let valid = true;
				_.each(this.validation, (form) => {
					let rules = form.rule.split('|')
					// validate accordingly
	                _.each(rules, (rule) => {
	                    if (rule == 'required') {
	                        if (this.isEmpty(_.get(this.categoriesData, form.path))) {
	                            valid = false;
	                            return;
	                        }
	                    }
	                });

	                if (!valid) return;
				})
				return valid;
			}
		},
		async created() {
			if (!_.isUndefined(this.info.category)) {
				await this.getCategory(this.info.category);
				this.categoriesData = this.category;
				this.categoriesData.resourceTypes = await (_.findIndex(this.resourceTypesSelection, { 'text': this.category.resource_type }))+1;
			}
		},
		methods: {
			...mapActions({
				saveCategory: 'categories/saveCategory',
				getCategory: 'categories/getCategory',
                // searchCategoryByName: 'categories/searchCategoryByName'
			}),
			async save() {
				this.loading = true;
			    // This will check if the category was previously added. When it has, this will restore the soft-deleted
			    // await this.searchCategoryByName(this.categoriesData.name);
			    // if(this.category.length && this.category[0].deleted_at){
			    //     this.categoriesData.id = this.category[0].id;
                // }

				this.hasSSerror = false;
				this.ssError = '';
				this.errors.clear();
				this.saveCategory(this.categoriesData).then(() => {
					this.$emit('success');
					setTimeout(() => {
						this.closeModal();
			    		this.loading = false;
						this.categoriesData = {};
						this.notifyDialog('success', 'Successfully saved!');
					},150);
				}).catch((e) => {
					this.loading = false;
					this.hasSSerror = true;
					this.ssError = e.response.data.message.name[0];
				});
			},
			resetSSError(event) {
				if(event.target.value.trim() != this.categoryNameDBVal) {
					this.hasSSerror = false;
					this.ssError = '';
				}
			},
			getSelect2Value(obj) {
				console.log(obj);
				console.log(parseInt(obj) + 1);
                return isNaN(obj) ? 1 : (parseInt(obj) + 1);
            },
			checkForResourceTypesSelection() {

				return this.categoriesData.resourceTypes.length > 0;
				// return (!_.isUndefined(this.info.category) && this.categoriesData.resourceTypes != '')
				// 	|| (_.isUndefined(this.info.category));
			},
			onTagRemoved(tag) {
				if (_.some(this.category.categories.data, ['id', tag.id]) 
					&& !_.includes(this.categoriesData.removedTags, tag.id)) {
					this.categoriesData.removedTags.push(tag.id);
				}
			}
		},
		components: {
	        GenerateButton,
	        SaveButton,
			ModalDialog,
			Select2
	    },
	    mixins: [
	    	DataTableMixin,
	        ModalDialogMixin,
			StringHelperMixin,
			AlertMixin
	    ]
	}
</script>
