<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" :closeButtonShow="!logoutButtonShow" :cancel="closeText" @close="closeModal">
        <template slot="button">
            <save-button :loading="loading" :options="button" @action="save" >Update</save-button>
        </template>
        <template slot="button" v-if="logoutButtonShow">
            <save-button :loading="loading" :options="logoutButton" @action="forceLogout" :disaled="!isValid">Logout</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-md-12">
					 <div class="copyText">{{ generatedPassword }}</div>
                    <button type="button" class="copyBtn"
						v-clipboard:copy="generatedPassword"
						v-clipboard:success="onCopy"
						v-clipboard:error="onError">Copy!</button>
				</div>
                <field-component v-for="element in formElements" :key="element.id" :data="element" @update="updateElementValue"></field-component>
				<div class="col-md-6 col-xs-6">
            	<button type="button" class="btn btn-success" @click="generatePassNow">Generate Password</button>
				</div>
				<div v-if="isSuccess" class="col-md-6  col-xs-6" style="font-size:13px;color:#007840;text-align:right;">
					{{noticeMsg}}
				</div>
            </div>
        </template>
    </modal-dialog>
</template>
<style lang="scss" scoped>
    div.row-success{
        padding-top: 10px;
        padding-bottom: 20px;
        div{
            text-align: center;
        }
	}
	.copyText {
		width: 100%;
		min-height: 40px;
		margin-bottom:10px;
		padding: 8px;
		font-size:16px;
		background:#f0f0f0;
		border: #f0f0f0 solid 1px;
	}
	.copyBtn {
		margin-bottom: 15px;
		float: right;
	}
</style>
<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import FieldComponent from '@components/form/field-component.vue';
	import VueClipboard from 'vue-clipboard2'		

    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import EmployeeMixin from '@common/mixin/EmployeeMixin';

	import { mapActions, mapGetters } from 'vuex';
	import jQuery from 'jquery';

	export default {
		props: {
			info: { type: Object, required: true }
		},
		data() {
			return {
				option: { width: '460px' },
                button: { class: 'btn btn-primary',type: 'button' },
                logoutButton: { class: 'btn btn-success', type: 'button' },
                logoutButtonShow: false,
                loading: false,
				valid: false,
				title: '',
                form: {
                    global_password: '',
                },
                validation: [
					   { path: 'new', name: 'new', rule: 'required', msg: {required: 'The new password field is required'} }
				],
				notvalid: true,
				hasCurrentErr: false,
				hasPasswordErr: false,
				newPassErr: false,
				hasCurrentErrMsg: 'Incorrect password',
				newPassErrMsg: '',
				passwordErrMsg: '',
				isSuccess: false,
				noticeMsg: '',
				isEqualToCurrent: false,
				closeText: 'Cancel',
				alpha_num: /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/,
				formElements: []
			}
        },
        computed: {
			...mapGetters({
				isCurrent: 'checkPass/data'
			}),
			generatedPassword() {
				return this.form.global_password;
			},
            isValid() {
				let valid = true;
				return valid;
			}
		},
		async created() {
			this.form.global_password = this.info.global_password;
		},
		methods: {
            ...mapActions({
				checkPass: 'checkPass/check',
				saveGlobalPassword: 'users/saveGlobalPass',
			}),
			onCopy: function (e) {
				this.isSuccess = true;
				this.noticeMsg = 'Password Copied!';
				let self = this;
				setTimeout(function(){
					self.isSuccess = false;
					self.noticeMsg = '';
				}, 1000);
			},
			onError: function (e) {
				console.log('Failed to copy texts')
			},
            save() {
				this.loading = true;
                this.saveGlobalPassword(this.form).then((res) => {
					let localStorageData = JSON.parse(localStorage.getItem('vuex'));
					localStorageData.auth.data.global_password = this.form.global_password;
					localStorage.setItem("vuex", JSON.stringify(localStorageData));  //put the object back 
					this.isSuccess = true;
					this.noticeMsg = 'Password is now updated!';
					this.$emit('success', this.form.global_password);
				});
			},
			initializeForm() {
				this.formElements = [
					{
						type: "hidden",
						id: 'global_password',
						name: "global_password",
						label: 'Global Password:',
						value: this.form.global_password,
						class: 'col-md-12',
						is_required: true,
						is_hidden: false
					}				
				];
			},
			async updateElementValue(id, value) {
				_.each(this.formElements, (el) => {
						if(el.id === id) {
							el.value = value;
						}
					});
			},
			generatePassNow() {
				this.isSuccess = false;
				this.noticeMsg = '';
				this.initializeForm();
				let pass = this.generatePassword(12);
				this.form.global_password = pass;
				return pass;
			},
            forceLogout() {
                this.loading = true;

                const vm = this;
                setTimeout(function() {
                    window.location.href = '/force-logopassut';
                    this.loading = false;
                }, 300);
            },
		},
		components: {
	        GenerateButton,
			SaveButton,
			FieldComponent,
			VueClipboard,
			ModalDialog
	    },
	    mixins: [
			ModalDialogMixin,
			EmployeeMixin,
            StringHelperMixin
	    ]
	}
</script>
