<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
			<div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
						<div class="back-btn-wrapper mb-4">
							<back-button :text="'Go to Main'" :route="'index'"></back-button>
						</div>
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTable_buttons">
									<Can I="add" a="manage_operations">
										<button type="button" @click="openDocumentModal({key: 'add-new-document', name: 'Add New Document'})" tag="button" class="btn btn-primary">
											<span class="la la-plus ks-icon"></span>
											<span class="ks-text">Add New Document</span>
										</button>
									</Can>
                                </div>
                            </div>
                        </div>
						<data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
							:itemsFilter="limit"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @search="search($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)"
							>
                            <!-- BEGIN ROLES DATA -->
                            <tbody v-if="documents.length">
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"                                    
                                    v-for="(document, index) in documents"
                                    :key="document.id">
									
                                    <td>{{ document.name }}</td>
                                    <td><a :href="document.url" target="_blank">Click here</a></td>									
                                    <td align="center">										
										<Can I="update" a="manage_operations">
											<a href="javascript: void(0);" class="action-button" title="Edit Document" @click="openDocumentModal({ key: 'edit-document', name:'Edit Document', document: document.id })">
												<i class="la la-pencil"></i>
											</a>
										</Can>
										<Can I="delete" a="manage_operations">
											<a href="javascript: void(0);" class="action-button" title="Delete Document" @click="showDeleteConfirmation(document)">
												<i class="la la-trash"></i>
											</a>
  										</Can>										
                                    </td>
                                </tr>
                            </tbody>
                            <!-- END ROLES DATA -->							
                        </data-table>
                    </div>
                </div>
            </div>
			<!-- BEGIN CREATE DOCuMENT DIALOG -->
	        <add-new-document-modal v-if="form.key == 'add-new-document' && open" :openModal="open" @close="open = false" :info="form" @success="reload"></add-new-document-modal>
	        <!-- END CREATE DOCuMENT DIALOG -->

			<!-- BEGIN CREATE DOCuMENT DIALOG -->
	        <add-new-document-modal v-if="form.key == 'edit-document' && open" :openModal="open" @close="open = false" :info="form" @success="reload"></add-new-document-modal>
	        <!-- END CREATE DOCuMENT DIALOG -->

		</page-content>
	</div>
</template>

<style scoped>
	.action-button {
	    font-size: 20px;
	}
	table tr {
		cursor: default !important;
	}
</style>

<script>
	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
	import DataTable from '@components/datatable.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import AddNewDocumentModal from '@views/pages/operations/_modals/add-new-document-modal.vue';
	import Select2 from '@components/select2.vue';

	// mixins
	import DataTableMixin from '@common/mixin/DataTableMixin';
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
	import DateMixin from '@common/mixin/DateMixin';
	import BackButton from '@components/back-button.vue';
	
	import { mapActions, mapGetters } from 'vuex';

	import _ from 'lodash';

	export default {
		data() {
        	let sortOrder = {};
			let sortKey = 'name';

	        let columns = [
	            { label: 'Documents', key: 'name', sortKey: 'name', width: '40%', sortable: true },
				{ label: 'Links', key: 'url', sortKey: 'url', width: '40%', sortable: false },
	            { label: 'Action', key: 'action', sortKey: '', width: '20%', sortable: false },
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
			});

			return {
				title: 'Manage Operations',
				pageClass: 'ks-content-nav',
				sortKey: sortKey,
				sortOrder: sortOrder,
				limit: 50,
            	open: false,
				data: {
					columns: columns,
					rows: []
				},				
				form: {
	                key: '',
	                name: '',
	                document: {}
				}
			}
		},
		async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
			this.setPaginationLimit(this.limit);
			await this.getDocuments({query: this.getParams()});       
		
			this.setPagination(this.meta.pagination);
			this.loggedInUser;
		},
		computed: {
			...mapGetters({
				documents: 'operationsDocuments/formatted',
				meta: 'operationsDocuments/meta',
				loggedInUser: 'auth/data'
			})
		},		
		methods : {
			...mapActions({
				getDocuments: 'operationsDocuments/getDocuments',
				deleteDocument: 'operationsDocuments/deleteDocument',
			}),
			openDocumentModal(formOptions) {
				this.form = formOptions
				this.open = true
			},
			async paginate(page) {
	            this.gotoPage(page);
	            await this.getDocuments({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
	        async search(term) {				
	            this.setSearch(term);
	            await this.getDocuments({query:this.getParams()});
				this.setPagination(this.meta.pagination);
	        },
	        async sortList(key) {
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
	            await this.getDocuments({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
	            await this.getDocuments({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
			async reload() {
		    	await this.getDocuments({query: this.getParams()});
		    	this.setPagination(this.meta.pagination);
		    	this.open = false;
		    },
			delete(documentId) {
		    	return this.deleteDocument(documentId);
		    },		    
		    showDeleteConfirmation(document) {
				const title = 'Are you sure you want to delete this record?';
				const msg = document.name;
				
				this.confirmDialog(title, msg, 'Yes', 'No', 'sm')
					.then(({ok}) => {
						if (ok) {
							this.delete(document.id).then(() => this.reload());
							this.notifyDialog('error', 'Successfully deleted!');
						}
					});
			},
		},
		components: {
			Select2,
			DataTable,
			PageHeader,
			PageContent,
			ModalDialog,
			AddNewDocumentModal,
			BackButton
		},
		mixins: [
			ModalDialogMixin,
			DataTableMixin,
			AlertMixin,
			DateMixin
		]
	}
</script>
