<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" :confirmCancel="true" @close="closeModal">
		<template slot="button">
            <save-button :loading="loading" @action="save" :disabled="!valid">Update</save-button>
        </template>
        <template slot="body">
            <div class="row" v-if="forPreview">
				<field-component v-for="element in formElements" :key="element.id" :data="element" @update="updateElementValue"></field-component>
			</div>	
        </template>
    </modal-dialog>
</template>
<style>
    body div.v-dialogs{
        position: relative;
        z-index: 9999;
    }
	div.modal-backdrop div[role='dialog'] header span{
        width: auto!important;
    }
    div.modal-backdrop div[role='dialog'] header span div.action-wrapper{
        float: right !important;
    }

	.modal-backdrop .modal {
		width: 847px!important;
		height: auto!important;
	    /*height: 660px!important;*/
		overflow-y: auto;
	}
	.modal #modalDescription {
		overflow-y: auto;
		overflow-x: hidden;
	}
	.action-wrapper {
		display: inline-block;
	}
	.preview-label {
		vertical-align: top;
		font-weight: bold;
		width: 8em;
		margin: 0;
	}
	.preview {
		padding-bottom: 1em;
	}
	.email-wrapper {
		display: inline-block;
	}
	.preview-row {
		padding-bottom: 1em;
	}
	.elseCondition {
		color: red;
	}
	.error {
		font-size:9px;
	}
	textarea {
		min-height: 100px;
		overflow: auto;
	}
	.custom-checkbox {
		padding:5px;
		margin-left: 17px;
		min-width: 200px;
	}
	.attach-listing {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.attach-listing li {
		display: block;
	}
</style>

<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import FieldComponent from '@components/form/field-component.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import Select2 from "@components/select2.vue";

	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import DatePickerMixin from '@common/mixin/DatePicker';
	import AlertMixin from '@common/mixin/AlertMixin';

	import FlatPickr from 'vue-flatpickr-component';
	import 'flatpickr/dist/flatpickr.css';
	import { mapActions, mapGetters } from 'vuex';
	import jQuery from 'jquery';

	//Models
    import { EmployeeReportsFile } from '@common/model/EmployeeReportsFile';

	export default {
		props: {
			info: { type: Object, required: true }
		},
		data() {
			return {
				option: { width: '800px' },
	            button: { class: 'btn btn-primary',type: 'button' },
	            loading: false,
	            manualInput : false,
	            formElements: {},
	            editorOptions : {
	            	hideModules: {
	            		forcePlainTextOnPaste: true, image:true, code: true, removeFormat: false
	            	},
	            	maxHeight:'400px'
				},
				selectedDate: '',
				currentDate: '',
				currentEndDate: '',
				minimumDateTime: '',
				contactListDefaultOptions: [],
				contactClients: [],
				tempProjectClientSelected: [],
				emails: [],
				flag: 0,
				contactFlag: 1,
				forPreview: true,
				toPreview: '',
				disable: true,
				toSend: '',
				form:{}
			}
		},
		computed: {
			...mapGetters({
				loggedInUser: 'auth/data',
				employee: 'employees/single',
			}),
         valid: function() {
				let errorCtr = 0;
				this.formElements.forEach((elem) => {
					if (elem.is_required) {
						let answer = elem.value;
						if (answer == '') {
								errorCtr++;
						}
					}
				});


				return errorCtr == 0 ? true : false;
			},
			currentRecord: function() {
				return this.info.record;
			}
		},
		async created() {
			this.loading = true;
			this.disable = true;
			let reportTypeCtr = 0;
			let projectsCtr = 0;
			let minimumDate = new Date('01-01-2018');
			this.formElements = [];
			let clientIds = [];
			let currDate = new Date();
			
			this.currentDate = this.formatDate(this.currentRecord.start_date, 'YYYY-MM-DD');
			this.currentEndDate = this.formatDate(this.currentRecord.end_date, 'YYYY-MM-DD');
			this.selectedDate = "(" + this.formatDate(this.currentDate, 'LL') + ")";
			this.minimumDateTime = this.formatDate(this.currentDate, 'YYYY-MM-DD');
			this.initializeForm();
			this.disable = false;
			this.loading = false;
		},
		methods: {
			...mapActions({
				fetchEmployee: 'employees/getEmployee',
				saveWfhRequest: 'workFromHome/saveRequest',

			}),
			formatDate(date, format) {
            	return moment(date).format(format);
			},
			initializeForm() {
				this.formElements = [
					{
						type: "hidden",
						id: 'record_id',
						label: 'record_id',
						value: this.currentRecord.id,
						class: 'col-md-12',
						is_required: false,
						is_hidden: false
					},
					{
						type: "date",
						id: 'start_date',
						label: 'Start Date:',
						value: this.currentDate,
						minDate: '',
						maxDate: '',
						class: 'col-md-6',                                            
						is_required: true,
						is_hidden: false
					},
					{
						type: "date",
						id: 'end_date',
						label: 'End Date:',
						value: this.currentEndDate,
						minDate: this.currentDate,
						maxDate: '',
						class: 'col-md-6',                                            
						is_required: true,
						is_hidden: false
					},
					{
                        type: "tiptap",
                        id: 'reason',
                        label: 'Reason:',
                        value: this.currentRecord.reason,
                        class: 'col-md-12',
                        is_required: 1,
                        is_hidden: false
					}				
				];
			},
            async updateElementValue(id, value) {
				let latestMindate = '';
				if (id == 'start_date') {
					latestMindate = this.formatDate(value, 'YYYY-MM-DD');;
				}
				this.formElements.forEach((el) => {
					if (el.id == 'end_date') {
						el.minDate = latestMindate;
					}
					if(el.id === id) {
						el.value = value;
					}
				});
			},
			save() {
				this.formElements.forEach((element) => {
					if (element.id == 'record_id') {
						this.form["id"] = element.value;
					} else {
						this.form[element.id] = element.value;
					}
				});
				this.saveWfhRequest(this.form).then(() => {
                    this.$emit('success');
                   })
			},
		},
		components: {
	        GenerateButton,
			SaveButton,
			FieldComponent,
			ModalDialog,
			Select2,
			FlatPickr
	    },
	    mixins: [
	        ModalDialogMixin,
			StringHelperMixin,
			DatePickerMixin,
			AlertMixin
	    ]
	}
</script>
