<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" :confirmCancel="true" @close="closeModal">
		<template slot="button">
            <save-button :loading="loading" @action="extract" :disabled="!valid">Export to CSV</save-button>
        </template>
        <template slot="body">
				
            <div class="row">
				<field-component v-for="element in formElements" :key="element.id" :data="element" @update="updateElementValue">
				</field-component>
			</div>	
        </template>
    </modal-dialog>
</template>
<style>
    body div.v-dialogs{
        position: relative;
        z-index: 9999;
    }
	.error-container {
		padding-left:17px;
		display: block;
	}
	div.modal-backdrop div[role='dialog'] header span{
        width: auto!important;
    }
    div.modal-backdrop div[role='dialog'] header span div.action-wrapper{
        float: right !important;
    }

	.modal-backdrop .modal {
		width: 847px!important;
		height: auto!important;
		overflow-y: auto;
	}
	.modal #modalDescription {
		overflow-y: auto;
		overflow-x: hidden;
	}
	.action-wrapper {
		display: inline-block;
	}
	.preview-label {
		vertical-align: top;
		font-weight: bold;
		width: 8em;
		margin: 0;
	}
	.preview {
		padding-bottom: 1em;
	}
	.email-wrapper {
		display: inline-block;
	}
	.preview-row {
		padding-bottom: 1em;
	}
	.elseCondition {
		color: red;
	}
	.error {
		font-size:9px;
	}
	textarea {
		min-height: 100px;
		overflow: auto;
	}
	.custom-checkbox {
		padding:5px;
		margin-left: 17px;
		min-width: 200px;
	}
	.attach-listing {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.attach-listing li {
		display: block;
	}
	input[type=date] {
		color: #000 !important;
	}
</style>
<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import FieldComponent from '@components/form/field-component.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import Select2 from "@components/select2.vue";

	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import DatePickerMixin from '@common/mixin/DatePicker';
    import AlertMixin from '@common/mixin/AlertMixin';
    import DownloadMixin from "@common/mixin/DownloadMixin";

	import FlatPickr from 'vue-flatpickr-component';
	import 'flatpickr/dist/flatpickr.css';
	import { mapActions, mapGetters } from 'vuex';
	import jQuery from 'jquery';

	//Models
    import { EmployeeReportsFile } from '@common/model/EmployeeReportsFile';

	export default {
		props: {
			info: { type: Object, required: true }
		},
		data() {
			return {
				option: { width: '800px' },
	            button: { class: 'btn btn-primary',type: 'button' },
	            loading: false,
                manualInput : false,
                hideCustomField: '',
                hidePeriodicFields: '',
                employeeOptions: [],
	            formElements: {},
	            form: {
					wfrmonthly: true,
					start_date: '',
					end_date: '',
                    month: '',
                    year: '',
				},
	            editorOptions : {
	            	hideModules: {
	            		forcePlainTextOnPaste: true, image:true, code: true, removeFormat: false
	            	},
	            	maxHeight:'400px'
                },
                month : [
                    {value:'01',text:'January'},
                    {value:'02',text:'Febuary'},
                    {value:'03',text:'March'},
                    {value:'04',text:'April'},
                    {value:'05',text:'May'},
                    {value:'06',text:'June'},
                    {value:'07',text:'July'},
                    {value:'08',text:'August'},
                    {value:'09',text:'September'},
                    {value:'10',text:'October'},
                    {value:'11',text:'November'},
                    {value:'12',text:'December'},
                ],
				selectedDate: '',
				minimumDateTime: '',latestMindate: '',
				flag: 0,
				contactFlag: 1,
				disable: true,
				hasDBError: false,
				dbError: [],
				toSend: '',
			}
		},
		computed: {
			...mapGetters({
				loggedInUser: 'auth/data',
				employee: 'employees/single',
				employees: 'employees/employee_names',
			}),
         valid: function() {
				let errorCtr = 0;
				this.formElements.forEach((elem) => {
					if (elem.is_required && !elem.is_hidden) {
						let answer = elem.value;
						if (answer == '') {
								errorCtr++;
						}
					}
				});
				if (this.hasDBError) {
					errorCtr++;
				}
				return errorCtr == 0 ? true : false;
			}
		},
		async created() {
			this.loading = true;
			this.disable = true;
			let reportTypeCtr = 0;
			let projectsCtr = 0;
			let minimumDate = new Date('01-01-2018');
			this.formElements = [];
			let clientIds = [];
			let currDate = new Date();

			this.currentDate = this.formatDate(currDate, 'YYYY-MM-DD');
			this.selectedDate = "(" + this.formatDate(this.currentDate, 'LL') + ")";
			this.minimumDateTime = this.formatDate(this.currentDate, 'YYYY-MM-DD');
			await this.getEmployeeNames({});
			this.employeeOptions = _.map(this.employees.concat([{value: '', name: ' All '}]), e => ({
				value: e.id,
				text: e.name
			}));
			await this.initializeForm();
			this.disable = false;
			this.loading = false;
		},
		methods: {
			...mapActions({
				fetchEmployee: 'employees/getEmployee',
                generate: 'workFromHome/generate',
                getEmployeeNames: 'employees/getEmployeeNamesOnly',

			}),
			formatDate(date, format) {
            	return moment(date).format(format);
			},
			initializeForm() {
				this.formElements = [
                    {
						type: "select",
						name: "report_date_filter_option",
                        id: 'report_date_filter_option',
                        label: 'Report Dates:',
                        value: 'monthly',
                        class: 'col-md-12', 
                        is_required: true,
                        is_hidden: false,
                        options:  [{'value':'monthly','text':'By Month'},{'value':'custom','text':'Custom Date'}]
                    },
                    {
                        type: "select-multiple",
                        name: "employee_ids",
                        id: 'employee_ids',
                        label: 'Employees:',
                        value: [{value: '', text: ' All '}],
                        class: 'col-md-12',
                        is_required: false,
                        is_hidden: false,
                        options:  this.employeeOptions,
                    },
					{
						type: "date",
						id: 'start_date',
						label: 'Start Date:',
						value: this.currentDate,
						minDate: '',
						maxDate: this.minimumDateTime,
						class: 'col-md-6',   
						external_error: false,
						external_error_msg: '',                                         
						is_required: true,
						is_hidden: true
					},
					{
						type: "date",
						id: 'end_date',
						label: 'End Date:',
						value: this.currentDate,
						minDate: this.minimumDateTime,
						maxDate: '',
						class: 'col-md-6',
						external_error: false,
						external_error_msg: '',                                            
						is_required: true,
						is_hidden: true
                    },
                    {
						type: "select",
						id: 'month',
						name: "month",
						label: 'Month',
						value: this.month[new Date().getMonth()].value,
						class: 'col-md-6',
						is_required: true,
                        is_hidden: true,
                        options: this.month,
                    },
          {
						type: "select",
						id: 'year',
						name: "year",
						label: 'Year',
						value: new Date().getFullYear(),
						class: 'col-md-6',
						is_required: true,
						is_hidden: true,
						options: this.getRangeYears()
					},					
					];
					let first = this.formElements[0];
					this.updateElementValue(first.id, first.value);
			},
            async updateElementValue(id, value) {
                if(id=== 'report_date_filter_option'){
                    this.hideCustomFields = true;
                    this.hidePeriodicFields = true;

                    if(value === 'monthly') {
                        this.hidePeriodicFields = false;
                        this.form.start_date = '';
                        this.form.end_date = '';
                    }
                    if(value === 'custom') {
                        this.hideCustomFields = false;
                    }
                }
                if (id == 'start_date') {
                    this.latestMindate = this.formatDate(value, 'YYYY-MM-DD');
                }
                this.formElements.forEach((el) => {
                    if(el.id=='end_date' && this.latestMindate) {
                        this.$set(el, 'minDate', this.latestMindate);
                    }
                    // Show/Hide POC' Name & POC's Email
                    if((el.id === 'start_date' || el.id === 'end_date') && this.hideCustomFields !== null) {
                        el.is_hidden = this.hideCustomFields;
                    }

                    if((el.id === 'year' || el.id === 'month') && this.hidePeriodicFields !== null) {
                        el.is_hidden = this.hidePeriodicFields;
                    }

                    if(el.id === id) {
                        if(id == 'employee_ids'){
                            if (value.length >= 2) {
                                value.forEach((item, index) => {
                                    if(item.value == '') {
                                        value.splice(index, 1);
                                    }
                                })
                            } else if (value.length == 0) {
                                value.push({value: '', name: 'All'})
                            }
                        }
                    }
                    if(el.id === id) {
                        el.value = value;
                    }
                });
            },
            extract(){
                this.formElements.forEach((element) => {
					this.form[element.id] = element.value;
				});

                let params = this.form || {};
                let filename = '';
                var queryString = Object.keys(params).map(function(key) {
                  if(key == 'employee_ids') {
                    return key + '=' + params[key].map(e => e.value).join(',');
                  }
                  return key + '=' + params[key];
                }).join('&');

                if(params.report_date_filter_option == 'monthly'){
                    filename = params.report_date_filter_option+"_"+params.month+"_"+params.year;
                }else{
                    filename = params.report_date_filter_option+"_"+params.start_date+"_"+params.end_date;
                }
                this.downloadFile("/api/work-from-home/export?"+queryString, filename+".csv");
            },
            getRangeYears() {
                let s = new Date().getFullYear() - 2;
                let r = [];
                for(let i=0;i<5;i++) {
                    let y = s + i;
                    r.push({'value': y, 'text': y});
                }
                return r;
            },
            filterEmployeeIds(value) {
                let res = value.filter(v => v.name == " All ");
                return res.length > 0 ? res : value;
            },
		},
		components: {
	        GenerateButton,
			SaveButton,
			FieldComponent,
			ModalDialog,
			Select2,
			FlatPickr
	    },
	    mixins: [
	        ModalDialogMixin,
			StringHelperMixin,
			DatePickerMixin,
            AlertMixin,
            DownloadMixin
	    ]
	}
</script>
