<template>
    <div class="employee-resources">
        <!-- BEGIN PAGE HEADER -->
        <page-header v-bind:title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="container">
                <div class="row">
                    <div class="back-btn-wrapper col-md-12 col-sm-12 mt-5">
                        <back-button :text="buttonText" :route="buttonRouteTo"></back-button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Company Holiday Calendar</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Calendar</th>
                                    <th scope="col">Links</th>
                                </tr>
                            </thead>
                                <tbody>
                                <tr>
                                    <td>Company Holiday</td>
                                    <td>
                                        <anchor :data="companyHoliday"></anchor>
                                    </td>
                                </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Events and Happenings</h4>
                        <table class="table table-striped bordered">
                        <thead>
                            <tr>
                                <th scope="col">Dates</th>
                                <th scope="col">Events</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>August 2</td>
                                <td>Talk: Effective Client Communication</td>
                            </tr>
                            <tr>
                                <td>August</td>
                                <td>Training:  .NET (series)</td>
                            </tr>
                            <tr>
                                <td>August</td>
                                <td>Training: Full Stack</td>
                            </tr>
                            <tr>
                                <td>September</td>
                                <td>Training: Dev Ops</td>
                            </tr>
                            <tr>
                                <td>September</td>
                                <td>Training: Dev Ops</td>
                            </tr>
                            <tr>
                                <td>September</td>
                                <td>Training: UI/ UX Design</td>
                            </tr>
                            <tr>
                                <td>October</td>
                                <td>Training: Python</td>
                            </tr>
                            <tr>
                                <td>October 31</td>
                                <td>Event: Trick-or-Treat</td>
                            </tr>
                            <tr>
                                <td>December</td>
                                <td>Event: Year-end Party</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Government Forms</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Types of Forms</th>
                                    <th scope="col">Forms</th>
                                    <th scope="col">Links</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="5" style="text-align:center; vertical-align:middle;">SSS</td>
                                    <td>Sickness Reimbursement</td>
                                    <td><a href="https://www.sss.gov.ph/sss/DownloadContent?fileName=SIC_01253.pdf" title="Sickness Reimbursement" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Sickness Notification</td>
                                    <td><a href="https://drive.google.com/open?id=1MnFjss7qFU1mS0XdglcNDe-FnaH5_BJw" title="Sickness Notification" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Maternity Reimbursement</td>
                                    <td><a href="https://drive.google.com/open?id=1pfwHlAA92-c0RCX7N6g2soLGsdLklILN" title="Maternity Reimbursement" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Maternity Notification</td>
                                    <td><a href="https://drive.google.com/open?id=1ALneH5c_mTj_tjDxn3_WzhP70X-5sx96" title="Maternity Notification" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Allocation of Maternity Leave</td>
                                    <td><a href="https://drive.google.com/open?id=1ZXrYRx8cjt9kWQwau1QhW2qpMDNahZzq" title="Allocation of Maternity Leave" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="8" style="text-align:center; vertical-align:middle;">HDMF</td>
                                    <td>Multipurpose Loan Application</td>
                                    <td><a href="https://drive.google.com/open?id=1uMhc-rP-TsuJl8Vizq3B2dE1-sTcB0q4" title="Multipurpose Loan Application" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Loyalty Card Application</td>
                                    <td><a href="https://drive.google.com/open?id=1U4pfTM5UWqmcB4LWmQhVLOh_nFhCEutT" title="Loyalty Card Application" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Special Power of Attorney</td>
                                    <td><a href="https://drive.google.com/open?id=1nWidltLuThNGA4cLOTdavSnm_AFdKwXy" title="Special Power of Attorney" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Housing Loan Application (Co-Borrower)</td>
                                    <td><a href="https://drive.google.com/open?id=1bN18hlEwtkj1GFvsoxHAKDOPmKB2Vn39" title="Housing Loan Application (Co-Borrower)" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Housing Loan Application</td>
                                    <td><a href="https://drive.google.com/open?id=1atbSQ8Z2hOm3yYjR9XZ_4Q0j7ewGUX8Y" title="Housing Loan Application" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Housing Loan Form</td>
                                    <td><a href="https://drive.google.com/open?id=1wTI4CBhwF4zOZjGKPejhYbmuFPZItBgY" title="Housing Loan Form" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Health Statement</td>
                                    <td><a href="https://drive.google.com/open?id=1iontCN_TFc1bFplexNlCso66T4tF2T1X" title="Health Statement" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Housing Loan Requirements Checklist</td>
                                    <td><a href="https://drive.google.com/open?id=1siD6XfPy1iuzDq4cyShysXM1Qg4XtYJe" title="Housing Loan Requirements Checklist" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style="text-align:center; vertical-align:middle;">PHIC</td>
                                    <td>Claim Form 1 (CF1)</td>
                                    <td><a href="https://drive.google.com/open?id=1boK0hZkIRVfgeDwge9v2Uv4OFy0AHH2j" title="Claim Form 1 (CF1)" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Claim Form 2 (CF2)</td>
                                    <td><a href="https://drive.google.com/open?id=1tiqFox8OeXeKALoBHjXydGGvmC2hWB-y" title="Claim Form 2 (CF2)" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Claim Form 3 (CF3)</td>
                                    <td><a href="https://drive.google.com/open?id=1xAQ1RJZS5Xk4bdiWGqBHijbyRjBWWQfD" title="Claim Form 3 (CF3)" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Claim Form 4 (CF4)</td>
                                    <td><a href="https://drive.google.com/open?id=1vVOhmbj76_QlbZYmiennmth6LlnBTUx1" title="Claim Form 4 (CF4)" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Claim Signature Form</td>
                                    <td><a href="https://drive.google.com/open?id=1VLaA9wf9WDSi0QkIQi57H5Fr5BiS8Sjp" title="Claim Signature Form" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; vertical-align:middle;">BIR</td>
                                    <td>BIR 1905</td>
                                    <td><a href="https://drive.google.com/open?id=1Tw7Wf_kAA4d1ux48Wtfyppum3-IwLk8r" title="BIR 1905" target="_blank">Click here</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Full Scale Forms and Documents</h4>
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" :style="{width: '50%'}">Forms</th>
                                    <th scope="col" :style="{width: '50%'}">Links</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Authority to Deduct</td>
                                    <td>
                                        <anchor :data="authorityToDeduct"></anchor>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Employee Guide: Performance Assessment</td>
                                    <td><a href="https://drive.google.com/open?id=1fALe565t-5kAXC4QaTrSZJJDfFFOcP7p" title="Employee Guide: Performance Assessment" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Request for COE</td>
                                    <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSemHhLLHLRPZyJDwIAaVqXZwIcghl9gWkP9pv4ikYw36F_Y3A/viewform" title="Request for COE" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>TSheets</td>
                                    <td><a href="https://gigabook.tsheets.com" title="TSheets" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Slack</td>
                                    <td><a href="https://fullscale.slack.com" title="Slack" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>GigaBook</td>
                                    <td><a href="https://gigabook.com/dashboard" title="GigaBook" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Expense Reimbursement</td>
                                    <td><a href="https://docs.google.com/spreadsheets/d/1ADCsejPOdBsfmsVVHZPMX8lat5BNpwNZ8MRD9SP5R4Y" title="Expense Reimbursement" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Request for BIR- 2316</td>
                                    <td>Resource not yet available</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Maxicare</h4>
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Forms</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dental Hub</td>
                                    <td><a href="https://drive.google.com/open?id=1w-IBviaIcx0pdt7qOhvya2i0IjEikipP" title="Dental Hub" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Provider List</td>
                                    <td><a href="https://drive.google.com/open?id=1ehwzomwzCUddzDO4Jf_ZMpKIIfgBfzEl" title="Provider List" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>List Of Physician</td>
                                    <td><a href="https://drive.google.com/open?id=1nAovEOLv0nyZMyjBjH7CXA_pP-Q2lESP" title="List Of Physicians" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>PRDF</td>
                                    <td><a href="https://drive.google.com/open?id=1sMxKskmrTJD7Vs-fuM4kJsy8ImdasroT" title="PRDF" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Employee Guide</td>
                                    <td>Resource not yet available</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Paid Time Off (PTO)</h4>
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Forms</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScdyelIeZ4S27uOvIeMA0_cX2-jIzCSd8k5ZBxYJ1g9OSJd5g/viewform" target="_blank" title="Paid Time Off">Google Form</a></td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Full Scale Announcements/Updates</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">New Clients</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>RhinoBill</td>
                                    <td><a href="https://www.rhinobill.com/" title="RhinoBill" target="_blank">https://www.rhinobill.com/</a></td>
                                </tr>
                                <tr>
                                    <td>CivicPlus</td>
                                    <td><a href="https://www.civicplus.com/" title="CivicPlus" target="_blank">https://www.civicplus.com/</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Recruitment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>.NET Developers</td>
                                    <td>Resource not yet available</td>
                                </tr>
                                <tr>
                                    <td>Python Developers</td>
                                    <td>Resource not yet available</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Employee Welfare</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Flu Vaccine Survey (Ends on July 26):</td>
                                    <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSdKbKN1J7pJI2w4cN5YFQhRGVyJIx_8xLukkuc8z5TATNDo7g/viewform" title="Employee Welffare" target="_blank">Google Form</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Full Scale Newsletter</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Newsletter:</td>
                                    <td><a href="https://drive.google.com/drive/folders/1cHx9irb3azVvrwFe3yqsciD3YK7oBX27?usp=sharing" title="Employee Welffare" target="_blank">Click here</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>HM Tower Announcements/Updates</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">House Rules</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="https://drive.google.com/open?id=1PcIxoLK2sHIR8cxJlFAYzOVmV7hEDppw" aria-label="HM Tower House Rules" target="_blank">HM Tower House Rules</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Avenir Announcements/Updates</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">House Rules</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Resource not yet available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-5">
                        <h4>Shared Resources</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Form</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mobile Test Devices Tracker</td>
                                    <td><a href="https://docs.google.com/spreadsheets/d/1oSvb5WRnJRMqDnY_718ZiSky4XqCd7-H8qZc9B_3Iy8/edit#gid=0" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>Mobile Test Device Reservation</td>
                                    <td><a href="https://docs.google.com/forms/d/19h4DlGuQRr48eti9KBLV0DX1Q461_Z5qtReWxjzYoko/viewform?edit_requested=true" target="_blank">Click here</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>

<script>
    import PageHeader from '@components/page-header.vue';
    import PageContent from '@components/page-content.vue';
    import BackButton from '@components/back-button.vue';
    import Anchor from '@components/form/anchor.vue';

    export default {
        components: {
            PageHeader,
            PageContent,
            BackButton,
            Anchor
        },
        data(){
            return {
                title: 'Employee Resources',
                pageClass: 'ks-content-nav',
                folderIcon: './images/employee_resources/folder_icon.png',
                buttonText: 'Go to main',
                buttonRouteTo: 'index',
                companyHoliday: {
                    href: window.location.origin + '/api/asset?path=/storage/legal-document/full-scale-company-holiday-calendar-2020.pdf',
                    title: 'Company Holiday',
                    target: '_blank',
                    label: 'Click here'
                },
                authorityToDeduct: {
                    href: window.location.origin + '/api/asset?path=/storage/legal-document/full-scale-authority-to-deduct-2020.pdf',
                    title: 'Authority to Deduct',
                    target: '_blank',
                    label: 'Click here'
                }
            }
        },
        methods: {
            goToEventsAndHappenings: function(){
                this.$router.push({name: 'events-and-happenings'});
            },
            goToGovernmentForms: function() {
                this.$router.push({name: 'government-forms'});
            },
            goToFullScaleForms: function() {
                this.$router.push({name: 'fullscale-forms'});
            }
        }
    }
</script>

<style scoped>
    .folders {
        margin-top: 50px;
    }
    .folders > img:hover, .folders > p:hover{
        cursor: pointer;
    }
    .folders > p {
        width: 150px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
    }
    .employee-navbar > span {
        color: #03788c;
        font-size: 15px;
        display: inline-block;
        margin-top: 7px;
    }
    .employee-navbar > span:hover {
        cursor: pointer;
    }
    table {
        margin-top: 20px;
    }
    table td {
        border-left: 1px solid #e9ecef;
        border-right: 1px solid #e9ecef;
        border-bottom: 1px solid #e9ecef;
    }
    table tr th:nth-child(1) {
        width: 20%;
    }
    table tr th:nth-child(2) {
        width: 50%;
    }
    table tr th:nth-child(3) {
        width: 30%;
    }
    table thead {
        background-color: #5d5d5d;
    }
    table thead tr th {
        color: #fff;
    }
    @media screen and (max-width: 575px) {
        [class^='col-'] {
            text-align: center;
        }
        .folders > p {
            margin: auto;
        }
    }
</style>
