<template>
    <div>
        <page-header v-bind:title="title"></page-header>
        <page-content :pageClass="pageClass" v-if="skillCategories">
            <div class="ks-nav-body">
                <loader v-show="isProcessing" />
                <div class="ks-nav-body-wrapper">
                    <div class="row">
                        <div class="back-btn-wrapper mb-4 col-md-12 col-sm-12">                                    
                            <back-button :text="'Back'" :route="'index'"></back-button>
                        </div>
                    </div>
                    <div class="row justify-content-center"> 
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                <fs-search-input
                                    id="search-vue-tags"
                                    :placeholder="placeHolder"                                        
                                    v-model="selectedTags"
                                    :existing-tags="skillCategories"
                                    :typeahead="true"
                                    :typeahead-style="'dropdown'"
                                    :only-existing-tags="true"
                                    :wrapper-class="'available-resources-search'"
                                    :onSearchBtnClick="triggerSearch"
                                    :isDisabled="disabledSearch"                                   
                                />                                
                        </div>
                    </div>
                        <div class="row skills-logo-wrapper">
                        <div  class="col-md-12 mt-3 text-center">                               
                            <skills-logo  v-for="(logo, index) in logos" :key="index"                                    
                            :skill="logo"
                            :title="`Search ` + logo.value"
                            @logoClick="skillLogoClicked"
                            ></skills-logo>
                        </div>                            
                    </div>
                    
                    <div v-if="onSearch" class="gradient-bar"></div>

                    <div v-if="onSearch" class="row">
                        <div class="col-md-12 result-header">
                            <p v-if="selectedTags.length > 0">Found <strong>{{ rows.length }}</strong> {{rows.length > 1 ? 'resources' : 'resource'}} related to: <strong class="searched-skill"> {{ this.formatTags(selectedTags) }}</strong></p>
                            <p v-else>Found <strong>{{ rows.length }}</strong> {{rows.length > 1 ? 'resources' : 'resource'}} Available.</p>
                        </div>
                        <div class="row search-results"> 
                            <div v-for="(cardResource, index) in cardResources" :key="index" class="col-md-3 mb-3">                         
                                <resource-card 
                                    :resource="cardResource"
                                    :showSaveButton="true && isClient"
                                    :showSetAppointmentButton="false && isClient"
                                    :showViewProfileButton="!isClient"
                                    @cardButtonClick="cardButtonClicked"
                                >                                    
                                </resource-card>                                
                            </div>
                        </div>                            
                    </div>                     
                    <div v-if="onSearch">
                        <div v-if="cardResources.length == 0">
                            <div class="row search justify-content-center text-center">
                                <div class="col-7 col-xl-6 pr-0 no-resource">
                                    No Available Resource
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>

<style lang="scss" scoped>
    $light-green: #48ce27;
    $dark-green: #0f7736;
    $gray: #8a8a8a;

    .result-header {
        height: auto;
        min-height: 58px;		
        p {
            display: inline-block;
            line-height: 20px;
            font-size: 14px;
            font-style: italic;
            color: #8a8a8a;
            margin: 16px 0;
        }
        .searched-skill {
            color: $light-green;
            font-style: normal;
        }
    }
    .search-results {
        width: 100%;
        margin: 0 auto;
    }
    .gradient-bar {
        opacity: 0.8;
        height: 20px;
        padding: 0;
        margin: auto -30px;       
        background: -moz-linear-gradient(top,  rgba(177,177,177,0.2) 0%, rgba(177,177,177,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(177,177,177,0.2) 0%,rgba(177,177,177,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top,  rgba(177,177,177,0.2) 0%,rgba(177,177,177,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b1b1b1', endColorstr='#00b1b1b1',GradientType=0 ); /* IE6-9 */
    }    
    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
    .back-btn {
        margin-bottom: 30px;
    }
    .fs-search-input-wrapper {
        min-height: 45px !important;
    }
    .skills-logo-wrapper {        
        height: auto;
        min-height: 80px;
        width: auto;
        margin: 15px auto 0 auto;        
    }
    @media (max-width: 414px) {
        .row + .row {
            margin: 0 !important;
        }
    }
</style>


<script>
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import PopoverDialog from '@components/popover-dialog.vue';
import Loader from "@components/loader.vue";

import { mapGetters, mapActions } from 'vuex';

import EmployeeMixin from '@common/mixin/EmployeeMixin';
import AlertMixin from '@common/mixin/AlertMixin';
import BuilderHelperMixin from '@common/var/team-builder';

import $ from 'jquery';
import BackButton from '@components/back-button.vue';
import FsSearchInput from '@components/fs-search-input.vue';
import ResourceCard from '@components/resource-card.vue';
import SkillsLogo from '@components/skills-logo.vue';
import _ from 'lodash';

export default {
    components: {
        PageHeader,
        PageContent,
        PopoverDialog,
        Loader,
        BackButton,
        FsSearchInput,
        ResourceCard,
        SkillsLogo
    },
    mixins: [
        EmployeeMixin,
        AlertMixin,
        BuilderHelperMixin
    ],
    data() {
        return {
            title: 'Search for Available Resources',
            pageClass: 'ks-content-nav',
            headerTitle: 'Resources',
            onSearch: false,
            isProcessing: false,
            include: ['skills', 'photo', 'positions', 'clientTeambuilderBucket','hackerRankTestResult.hackerRankTest.skill'],
            data: {
                skills: [],
            },
            rows: [],
            selectedEmployee: [],
            skillCategories: [],
            selectedTags: [],
            selectedFavorites: [],
            categoryList: [],
            skillList: [],            
            placeHolder: 'Please enter the type of resource or skill you need',
            isClient: true,
            disabledSearch: false,
            logos: [],
            cardResources:[],
            clonedRows: [],
            searchableSkillsLogo: []
         }
    },
    
    async created() {       
        await this.getCategories({query: {take: 9999, disableDefaultIncludes: 1}});
        await this.getSkills({query: {take: 9999, disableDefaultIncludes: 1}});

        this.skillCategories = _.map(this.categories.concat(this.skills), item => ({
            key: item.id,
            value: item.role || item.text
        }));

        this.categoryList = this.categories.map(category => category.role);
        this.skillList = this.skills.map(skill => skill.text);   

        if(this.clientAuth.data.activeClientId == null) {
            this.isClient = false;
        } 

        this.loadAllAvailable();
    },
    methods: {
        ...mapActions({
            getCategories: 'categories/getCategories',
            getAvailableResource: 'clientTeamBuilder/getAvailableResource',
            saveSelectedResource: 'clientTeamBuilder/saveSelectedTalents',
            getSkills: 'skills/getSkills',
        }),
        cardButtonClicked(buttonId, resource){
            if(buttonId == 'saveProfileButton') {
                this.saveResource(resource, 'select');
            }

            if(buttonId == 'unsaveProfileButton') {
                this.saveResource(resource, 'unselect');
            }

            if(buttonId == 'setAppointmentButton') {
                alert('July add your set appointment method calls, here');
            }
        },
        skillLogoClicked(skill) { 
            if(!this.disabledSearch) {
                if(!_.find(this.selectedTags, {value: skill.value})) {
                    this.selectedTags.push(skill);
                }
            }   
        },       
        transformSearchResultForResourceCard() {
            let selfAssessment = [];
            let tempSelfAssessment = [];
            this.clonedRows = [];
            this.clonedRows = _.cloneDeep(this.rows);
            this.cardResources = [];
 
            this.clonedRows.forEach((resource) => {
                let position = this.position(resource.positions.data);
                
                if (position != 'Unassigned') {
                    let position_id = resource.positions.data[0].position_id;
                    let resourceTransform = {};
                    let selfAssessmentTransform = {};
                    this.hackerRankScoresArr = [];
                    let selfAssessmentScoresArr = [];   	

                    // HackerRank tests (FS CERTIFICATION)
                    if(this.nestedObjhasProperty(resource,'hackerRankTestResult')) {
                        resource.hackerRankTestResult.data.forEach((data) => {
                            if(data.employee_id == resource.id 
                                && this.nestedObjhasProperty(data,'hackerRankTest.data.skill')
                                && data.percent_score >= 50 
                                && data.percent_score <= 100
                                ) {
                                let hrObj = {};
                                let isDubplicate = false;

                                // Check if duplicate exams on specific skill, if so, choose the largest score 
                                if(_.find(this.hackerRankScoresArr, {skill_id: data.hackerRankTest.data.skill.data.id})) {
                                    this.hackerRankScoresArr.forEach((hrScore) => {
                                        if(hrScore.percent_score >= data.percent_score) {
                                            hrScore.percent_score = hrScore.percent_score;
                                        } else if(hrScore.percent_score < data.percent_score) {
                                            hrScore.percent_score = data.percent_score;
                                        }
                                    });

                                    isDubplicate = true;
                                } 
                                
                                // If no duplicate, push skill without any changes
                                if(!isDubplicate) {
                                    hrObj = {
                                        skill_id: data.hackerRankTest.data.skill.data.id,
                                        percent_score: data.percent_score,
                                        skill_name: data.hackerRankTest.data.skill.data.name,
                                        color: data.hackerRankTest.data.skill.data.color
                                    }
                                    
                                    this.hackerRankScoresArr.push(hrObj);
                                }
                            }
                        }); 
                    } 

                    // Self Assessment
                    if(this.nestedObjhasProperty(resource,'skills')) {
                        resource.skills.data.forEach((data) => {

                            // Remove skill/s from Self Assessment if the resource is already taken an exam (in HackerRank) and passed.                 
                            if(!_.find(this.hackerRankScoresArr, {skill_id: data.skill_id})) {                   
                                if(data.employee_id == resource.id && data.proficiency >= 5 && data.proficiency <= 10) {
                                    let skillsObj = {};
                                    
                                    skillsObj = {
                                        checked_top_skill: data.checked_top_skill,
                                        skill_id: data.id,
                                        proficiency: data.proficiency,
                                        skill_name: data.name,
                                        color: data.color
                                    }

                                    selfAssessmentScoresArr.push(skillsObj);    
                                }
                            }
                        });
                    }

                    // Sort skills in HackerRank test according to search key
                    let skillsOnTop = [];
                    let skillsOnBottom = [];

                    this.hackerRankScoresArr.forEach((skill) => {
                        if(_.find(this.selectedTags, {key: skill.skill_id})) {
                            skillsOnTop.push(skill);
                        } else {
                            skillsOnBottom.push(skill);
                        }                   
                    });

                    this.hackerRankScoresArr = skillsOnTop.concat(skillsOnBottom);
                    // Sort skills in Self Assessment according to search key
                    skillsOnTop = [];
                    skillsOnBottom = [];
                
                    selfAssessmentScoresArr.forEach((skill) => {
                        if(_.find(this.selectedTags, {value: skill.skill_name})) {
                            skillsOnTop.push(skill);
                        } else {
                            skillsOnBottom.push(skill);
                        }                   
                    });

                    selfAssessmentScoresArr = skillsOnTop.concat(skillsOnBottom);

                    // Actual data needed for resource card.
                    if (resource.skills.data.length > 0) {	
                        resourceTransform = {
                            id: resource.id,
                            profile_url: resource.profile_url,
                            first_name: resource.first_name,
                            last_name: resource.last_name,
                            position: position,
                            position_id: position_id,
                            bucketId: resource.bucketId,
                            isInBucket: resource.isInBucket,
                            teambuilder_status: resource.teambuilder_status,
                            status: resource.status.replace(/^\w/, c => c.toUpperCase()),
                            hackerRankTestResult: this.hackerRankScoresArr,
                            selfAssessment: selfAssessmentScoresArr,
                            employee: resource
                        }
                        this.cardResources.push(resourceTransform);
                    }
                } else {
                    console.log("@debug: Resource ID "+ resource.id +" doesn't have position set."); // This is needed
                }
            });

            // Execute if searchableSkillsLogo is empty, meaning on page load only
            if(this.searchableSkillsLogo.length == 0) {
                this.searchableSkillsLogo = this.cardResources;
                this.displayHotSearchSkillsLogo();
            }
        },
        displayHotSearchSkillsLogo() {
            // Skills are taken from HackerRank Exams    
            let displayMax = 5;
            this.searchableSkillsLogo = _.shuffle(this.searchableSkillsLogo); 
            
            this.searchableSkillsLogo.forEach((resource) => { 
                resource.hackerRankTestResult.forEach((skill) => {
                    if(!_.find(this.logos, { value: skill.skill_name }) && this.logos.length < displayMax) {
                        this.logos.push({ key: skill.skill_id, value: skill.skill_name });                                    
                    }
                });               
            });
        },
        async saveResource(resource, action) {  // new UI 
            let resourceFilteredfields = {
                'employee_id': resource.id,
                'status': (resource.bucketId > 0)
                            ? (resource.teambuilder_status == 'suggested' || resource.teambuilder_status == 'declined') ? 'selected' : 'suggested'
                            : 'selected',
                'client_id': this.clientAuth.data.activeClientId,
                'job_position_id': resource.position_id,
                'action': action
            };

            resource.isInBucket = !resource.isInBucket;
            this.selectedFavorites.push(resourceFilteredfields);

            await this.saveSelectedResource({
                selectedEmployee: this.selectedFavorites,
                client_id: this.clientAuth.data.activeClientId,
                client_email: this.clientAuth.data.email,
            });
            
            this.selectedFavorites = [];
        },
        async loadAllAvailable(){
            this.disabledSearch = true;
            let query = {
                build: true,
                availables: true,
                clientTeam: [this.clientAuth.data.activeClientId],
                include: this.include.join(', '),
            };
            
            await this.getAvailableResource(query).then((results) => {
                    this.rows = [];
                    this.onSearch = true;

                    if(results.length > 0){
                        if(results.length == 1){ this.headerTitle = 'Resource' }
                        // Repopulate data.
                        results.forEach((element, index) => {
                            let isPartInBucketFlagger = false;
                            let isInBucketFlag = false;
                            let teamBucketData = element.clientTeambuilderBucket.data;
                            let bucketIdStore = 0;
                            let bucketTeamStatus = '';

                            teamBucketData.forEach((team) => {
                                if (this.clientAuth.data.activeClientId == team.client_id) {
                                    isPartInBucketFlagger = true;
                                    bucketIdStore = (team.id) ? team.id : 0;
                                    bucketTeamStatus = team.status;
                                }
                            });

                            if (isPartInBucketFlagger) {
                                isInBucketFlag = (bucketTeamStatus == 'selected');
                            }

                            let row = {
                                id: element.id,
                                first_name: element.first_name,
                                middle_name: element.middle_name,
                                last_name: element.last_name,
                                photo: element.photo,
                                teambuilder_status: (element.clientTeambuilderBucket.data.length > 0) ? element.clientTeambuilderBucket.data[0].status : 'available',
                                teambuilder_is_admin_suggested: (element.clientTeambuilderBucket.data.length > 0) ? element.clientTeambuilderBucket.data[0].is_suggested_admin : 0, 
                                positions: element.positions,
                                skills: element.skills,
                                topSkills: element.topSkills,
                                hackerRankTestResult: element.hackerRankTestResult,
                                profile_url: element.profile_url,
                                summary: element.summary,
                                bucketId: bucketIdStore,
                                isInBucket: isInBucketFlag,
                                employee: element
                            };

                            this.rows.push(row);                            
                        });                        
                    }
                });

                // modify this.rows for resource-card component data
                this.cardResources = [];
                this.transformSearchResultForResourceCard();                
                
                // remove loader after search       
                this.disabledSearch = false;
        },       
        async triggerSearch() {
            
            if(!_.isEmpty(this.selectedTags)) {
                this.disabledSearch = true;
                let query = {
                    build: true,
                    availables: true,
					clientTeam: [this.clientAuth.data.activeClientId],
					take: 99999,
                    include: this.include.join(', '),
                };

                let skillTags = this.selectedTags.filter(select => this.skillList.includes(select.value)).map(tag => tag.key);

                if (skillTags.length > 0) {
                    query.skills = skillTags;
                }

                let categoriesTags = this.selectedTags.filter(select => this.categoryList.includes(select.value)).map(tag => tag.key);

                if (categoriesTags.length > 0) {
                    query.categories = categoriesTags;
                }
                
                await this.getAvailableResource(query).then((results) => {
                    this.rows = [];
                    this.onSearch = true;

                    if(results.length > 0){
                        if(results.length == 1){ this.headerTitle = 'Resource' }
                        // Repopulate data.
                        results.forEach((element, index) => {
                            let isPartInBucketFlagger = false;
                            let isInBucketFlag = false;
                            let teamBucketData = element.clientTeambuilderBucket.data;
                            let bucketIdStore = 0;
                            let bucketTeamStatus = '';

                            teamBucketData.forEach((team) => {
                                if (this.clientAuth.data.activeClientId == team.client_id) {
                                    isPartInBucketFlagger = true;
                                    bucketIdStore = (team.id) ? team.id : 0;
                                    bucketTeamStatus = team.status;
                                }
                            });

                            if (isPartInBucketFlagger) {
                                isInBucketFlag = (bucketTeamStatus == 'selected');
                            }

                            let row = {
                                id: element.id,
                                first_name: element.first_name,
                                middle_name: element.middle_name,
                                last_name: element.last_name,
                                photo: element.photo,
                                teambuilder_status: (element.clientTeambuilderBucket.data.length > 0) ? element.clientTeambuilderBucket.data[0].status : 'available',
                                teambuilder_is_admin_suggested: (element.clientTeambuilderBucket.data.length > 0) ? element.clientTeambuilderBucket.data[0].is_suggested_admin : 0, 
                                positions: element.positions,
                                skills: element.skills,
                                topSkills: element.topSkills,
                                hackerRankTestResult: element.hackerRankTestResult,
                                profile_url: element.profile_url,
                                summary: element.summary,
                                bucketId: bucketIdStore,
                                isInBucket: isInBucketFlag
                            };
                            this.rows.push(row);                            
                        });                        
                    }
                });

                // modify this.rows for resource-card component data
                this.cardResources = [];
                this.transformSearchResultForResourceCard();

                // remove loader after search       
                this.disabledSearch = false;
            } else {
                this.loadAllAvailable();
            }            
        },
        insertRows(rows) {
            const self = this;
            let temp = rows;
            let status = '';
            let empId = '';

            _.forEach(temp, (row) => {
                empId = row.id;
                status = this.checkSelectedResource(empId) ? 'selected' : 'available';
                row['status'] = status;
            })

            this.resources = temp;
        },
        checkSelectedResource (empId) {
            return this.selectedEmployee.some((el => el.employee_id == empId));
        },
        formatTags(tags){
            let tagsArr = [];
            tags.forEach((obj) => {
                tagsArr.push(obj.value);
            });

            return tagsArr.join(' + ');
        },
    },
    computed: {
        ...mapGetters({
            categories: 'categories/formatted',
            skills: 'skills/formatted',
            clientAuth: 'auth/data',
        }),        
    },
    watch: {
        rows: function(val) {
            deep: true,
            this.insertRows(this.rows)
            this.$nextTick()
                .then(function () {
                    // DOM updated
                    let maxHeight = 0;
                    $(".has-btn-component").each(function(){
                        if ($(this).height() > maxHeight) {
                            maxHeight = $(this).height();
                        }
                    });

                    $(".has-btn-component").height(maxHeight);
                });
        },
        selectedTags: function() {
            if (this.selectedTags.length > 0) {
                this.placeHolder = 'Add more type of resource or skill you need';
            } else {
                this.placeHolder = 'Please enter the type of resource or skill you need';
            }
            this.triggerSearch();
        }
    }    
}
</script>

