<template>
    <div>
        <page-header v-bind:title="title"></page-header>
        <div class="ks-nav-body">
            <loader v-show="isProcessing" />
            <div class="ks-nav-body-wrapper">
                <div class="container-fluid">
                    <div class="row search justify-content-center" style="padding-top:80px;">
                        <div class="col-7 col-xl-6 pr-0">
                            <div class="d-none">{{ populateCarousel }}</div>
                            <!-- <div>Enter Skill:</div> -->
                            <vue-tags-input
                                id="skillsSearch"
                                v-model="inputSkill"
                                :tags="data.skills"
                                :autocomplete-always-open="displaySkill"
                                :autocomplete-items="filteredSkills"
                                autocomplete="off"
                                :add-only-from-autocomplete="true"
                                @tags-changed="tagsChanged"
                                @before-adding-tag="beforeAddingSkillTag"
                                @before-deleting-tag="beforeDeletingSkillTag"
                                placeholder="Enter Skill"
                                @input="updateSkill"

                            />
                        </div>
                        <div class="col-5 col-md-2 col-sm-3 col-xl-1 pl-0">
                            <button type="button" class="btn btn-success search-button" @click="triggerSearch">
                                Search
                            </button>
                        </div>
                    </div>
                    <div v-if="loading" class="loader"></div>
                    <div v-show="onSearch">
                        <div v-if="showCarousel">
                            <div class="carousel-component">
                                <h3 class="header-title">
                                    <span>{{ headerTitle }}</span>
                                    <span class="float-right ">Selected: {{ selectedResource }}</span>
                                </h3>
                                
                                <div class="carousel-outer-container"> 
                                    <div class="carousel-middle-container">
                                        <div class="carousel-inner-container">
                                            <carousel
                                            :navigationEnabled="true"
                                            :perPageCustom="[[320,1] , [768,2] , [1024,3] , [1440,5]]"
                                            :center-mode="true"
                                            :pagination-enabled="true"
                                            :navigation-click-target-size="30">
                                                <slide v-for="(row, index) in rows" :key="index">
                                                    <div class="slide-wrapper">
                                                        <div class="fs-user-photo-container">
                                                            <a :href="row.profile_url" target="_blank" class="emp-name">
                                                                <div class="fs-user-photo align-self-center" :style="'background-image: url(\'' + photo(row) + '\')'"></div>
                                                                </a>
                                                        </div>
                                                        <div class="fs-information">
                                                            <div class="employee-info text-center">
                                                                <div class="fs-shorten">
                                                                    <a :href="row.profile_url" target="_blank" class="emp-name">
                                                                        {{ row.first_name }} {{ getLastnameInitial(row.last_name) }}
                                                                        <span class="la la-external-link ks-icon"></span>
                                                                    </a>
                                                                    
                                                                </div>
                                                                <div class="fs-shorten">
                                                                    <span class="fs-position">
                                                                        {{ position(row.positions.data) }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        
                                                            <div class="skill-container">
                                                                <div class="resource-details-content" v-if="row.skills.data && row.skills.data.length">
                                                                    <div v-for="(skill,index) in row.skills.data" :key="skill.id">
                                                                        <div v-if="index < 5">
                                                                            <div class="ks-controls resource-skill-placeholder" data-trigger="hover focus" data-toggle="popover" :data-content="skill.name">
                                                                                <span class="resource-skill" @mouseover="checkPopover">
                                                                                    {{ skill.name}}
                                                                                </span>
                                                                                <span class="resource-level" style="float: right;">
                                                                                    {{ skill.proficiency }}/10
                                                                                </span>
                                                                            </div>
                                                                            <div class="ks-info">
                                                                                <div class="progress ks-progress ks-progress-xs">
                                                                                    <div class="progress-bar bg-info"
                                                                                        role="progressbar"
                                                                                        :style="'width: ' + (skill.proficiency * 10) + '%'"
                                                                                        v-bind:aria-valuenow="skill.proficiency"
                                                                                        aria-valuemin="0"
                                                                                        aria-valuemax="100"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                            </div>   
                                                        <popover-dialog :popoverId="'popover-about-' + index">
                                                                <template slot="header">About {{ row.first_name }}</template>
                                                                <template slot="body">
                                                                    <div class="popover-about-block">
                                                                        {{ row.summary }}
                                                                    </div>
                                                                </template>
                                                            </popover-dialog>
                                                        </div>
                                                        <div class="resource-button">
                                                            <div class="fs-action col-sm-12 btn-group" v-if="isSelected(row.status)" role="group">
                                                                <button type="button" tag="button" class="fs-success buttonStyle" @click="unselectTalent(row.id, index)">
                                                                    <span>Selected</span>
                                                                    <span class="la la-star ks-icon"></span>
                                                                </button>
                                                            </div>
                                                            <div class="fs-action col-sm-12 btn-group" v-if="isAvailable(row.status)" role="group">
                                                                <button type="button" tag="button" class="fs-black buttonStyle" @click="selectTalent(row, index)">
                                                                    <span>Select Talent</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </slide>
                                            </carousel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="row search justify-content-center text-center">
                                <div class="col-7 col-xl-6 pr-0 no-resource">
                                    No Available Resource
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="showCarousel">
                    <div class="col col-md-12 text-center">
                        <button type="button" class="btn btn-success submit" @click="saveTalents" :disabled="!isSubmitValid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .no-resource {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 200%;
        font-family: Montserrat, sans-serif;
    }
    span.pcl {
        position: absolute;
        left: -1000px;
        top: -1000px;
    }
    input.pcl {
        position: absolute;
        z-index: -10000;
        opacity: 0;
    }
    .carousel-inner-container {
        margin: auto;
    }
    .carousel-middle-container {
        margin: 0 80px;
    }
    .carousel-outer-container {
        padding: 1rem 0;
    }
    .fs-counter {
        font-size: 1rem;
        bottom: -15px;
    }
    .buttonStyle:hover {
         background: #383;
    }
    .fs-shorten {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
        height: 1.4rem;
	}
    .fs-bind {
        font-size: 13px;
        font-weight: 600;
    }
    .fs-information {
        position: relative;
        padding: 10px 5px 0;
        text-align: left;
        height: 200px;
        .employee-status {
            position: relative;
            min-height: 22px;
            i {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
    .employee-info .link {
        color: black;
        font-weight: bold;
    }
    .no-resource {
        text-align: center;
        margin-bottom: 20px;
    }
    .popover-about-block {
        padding: 5px 10px;
        width: 190px;
        font-family: Montserrat, sans-serif;
        color: #444;
        font-size: 8pt;
    }
    .popover-skill-block {
        padding: 5px 10px;
        width: 190px;
        font-family: Montserrat, sans-serif;
        color: #444;
        font-size: 8pt;
    }
    .popover-heading {
        font-family: Montserrat, sans-serif;
	}
    .popover-no-skill {
        font-size: 12px;
        text-align: center;
    }
    .header-title {
        padding: 20px 0 5px;
        border-bottom: 5px solid #007840;
    }
    .header-title span:first-child {
        padding: 10px 20px 10px;
        position: relative;
        background: #007840;
        color: white;
    }
    .header-title span:first-child:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-bottom: 47px solid #007840;
        border-right: 80px solid transparent;
    }
    .search-field {
        position: relative;
        float: right;
        font-size: 17px !important;
        padding: 0;
        color: #007840;
        cursor: pointer;
        .add-icon {
            background-image: url(/assets/img/smart-team-builder/add.png);
            background-size: 22px;
            width: 22px;
            height: 22px;
            position: absolute;
            top: 6px;
            left: -26px;
        }
    }
    .choose {
        width: 100%;
        border-radius: 0;
        background: black;
        border-color: black;
        color: white;
    }
    .selected {
        width: 100%;
        border-radius: 0;
        background: #007840;
        border-color: #007840;
        color: white;
    }
	.slide-wrapper {
        margin: 10px 35px 30px!important;
        box-shadow: 3px 5px 15px rgba(0,0,0,0.16);
        .resource-button {
            .fs-action {
                padding: 0;
                button {
                    border-radius: 0;
                    border: none;
                    color: white;
                    font-size: 0.9rem;
                    padding: 7px;
                    width: 100%;
                    text-align: center;
                    &.is-half { width: 50%; }
                }
            }
        }
    }
    .form-control {
        font-family: "Montserrat", sans-serif;
        z-index: 0;
        height: 38px;
        border-radius: 2px;
        border: solid 1px #dedede;
        font-size: 12px;
        color: #333;
        margin-bottom: -29px;
        margin-top: -11px;
    }
    .fs-user-photo-container {
        background: url("/assets/img/thumbs/profile/banner-cover_thumbnail.png") no-repeat #DEDBDC;
        background-size: cover;
        padding: 10px 0;
        position: relative;
        .remove {
            background: black;
            color: white;
            border-radius: 100px;
            border-width: 1px;
            font-size: 23px;
            position: absolute;
            top: -10px;
            right: -10px;
            cursor: pointer;
        }
        .fs-user-photo {
            height: 120px!important;
            width: 110px;
            box-sizing: border-box;
            background-color: #c1c1c1;
            height: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 2px solid #fff;
            margin: 0 auto;
        }
    }
    .carousel-icons {
        position: absolute;
    }

    .emp-name {
        font-weight: bold;
    }

    .tooltip-indicator {
        cursor: pointer;
    }

    .search-button {
        width: 100%;
    }

    /*
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::: Design for Desktop ::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-height: 721px) {
    // .parent-content {
    //     min-height: 495px!important;
    //     max-height: 242px!important;
    //     margin-top: -8px!important;
    // }

    

    .header-title span:first-child:after{
        top: -6px!important;
        border-right: 35px solid transparent!important;
        border-bottom: 55px solid #007840 !important;
        margin-left: -3px;
        border-top-left-radius: 15px!important;

    }

    .carousel-component + .row > div > button {
        position: absolute;
        right: 885px;
        top: -20px;
        padding: 0 33px;
        height: 45px;
    }

    // .search-button {
    //     top: -2px;
    //     left: -15px;
    //     border-style: none;
    //     border-bottom: 1px solid #4d91fb;
    // }
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::: Design for Laptop :::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (max-height: 720px) {
    .header-title span:first-child:after{
        top: -6px!important;
        border-right: 35px solid transparent;
        border-bottom: 55px solid #007840;
        margin-left: -3px;
        border-top-left-radius: 15px;border-top-left-radius: 18px;
        margin-left: -4px;
    }

    // .search-button {
    //     top: -2px;
    //     border-style: none;
    //     border-bottom: 1px solid #4d91fb;
    // }

    .container-fluid > .row div:last-child {
        padding-left: 0;
    }

    .container-fluid .row {
        margin-left: -34px;;
    }

    .carousel-component {
        margin-top: -25px;
    }

    .carousel-component + .row > div > button {
        position: absolute;
        right: 572px;
        top: -3px;
        padding: 0 33px;
        height: 45px;
    }

    .header-title {
        padding: 20px 0 5px!important;
        // margin-top: 20px!important;
    }
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::: iPhone ::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
: width -> 414 below
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (max-width: 414px) and (min-width: 376px) {
    .carousel-component + .row > div > button {
        top: 15px;
    }

    .header-title {
        margin-top: 20px!important;
    }

    .container-fluid > .row div:last-child {
        padding-left: 0;
    }

    .container-fluid .row {
        margin-left: 4px;
    }

    // .search-button {
    //     top: -1px;
    //     left: -3px;
    //     border-style: none;
    //     border-bottom: 1px solid #4d91fb;
    // }

    .fs-user-photo-container .fs-user-photo {
        height: 110px!important;
        width: 110px;
    }

    .carousel-component + .row > div > button {
        position: absolute;
        right: 140px;
        top: -5px;
        padding: 0 33px;
        height: 45px;
    }

    .carousel-outer-container {
        padding: 0;
    }
}

@media screen and (max-width: 376px) {
    .header-title {
        border: 1px solid yellow;
        padding: 0 0 5px!important;
        margin-top: 40px!important;
    }

    .container-fluid .row {
        margin-left: -3px;
    }
}
</style>

<style lang="scss">
/* All Below are Overriden CSS */
    .carousel-component .VueCarousel-dot-container,
    .carousel-component .VueCarousel-dot-container > button {
        margin-top: 3px !important;
    }
    .carousel-component .VueCarousel-inner {
        justify-content: flex-start;
    }
    .carousel-component .VueCarousel-pagination {
        height: 40px;
        display: none;
    }
    .carousel-component .VueCarousel-navigation-button {
        font-size: 0;
    }
    .carousel-component .VueCarousel-navigation-prev {
        background-image: url('/assets/img/smart-team-builder/carousel-prev.png');
    }
    .carousel-component .VueCarousel-navigation-next {
        background-image: url('/assets/img/smart-team-builder/carousel-next.png');
    }
    .carousel-component .VueCarousel-slide .slide-wrapper{
        margin: 10px 15px;
        box-shadow: 3px 5px 15px rgba(0,0,0,0.16);
    }
    .action-button {
        font-size: 20px;
    }
    button {
        &.fs-success { background: #007840; }
        &.fs-black {  background: #000000; }
        &.fs-danger {  background: #E66464; }
        &.fs-basic { background: #C1C1C1; }
        &.fs-info { background: #428BCA; }
    }
    .container-fluid .row {
        .col {
            padding: 0!important;
        }
    }
    .skill-container {
        height: 120px;
        padding-top: 5px
    }
    .link-color {
        color: #0000EE;
    }
    .submit {
        display: block;
        margin: auto;
    }
    .resource-skill-placeholder {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .resource-skill {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .VueCarousel-slide {
        min-width: 0;
    }
    .popover.truncated-skill {
        border: 1px solid #fff;
        .popover-body {
            background-color: #007840 !important;
            color: white;
        }
        .arrow:after {
            border-right-color: #007840 !important;
            border-left-color: #007840 !important;
        }
    }
    #skillsSearch {
        font-size: 12px;
    }
</style>

<script>
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import { Carousel, Slide } from 'vue-carousel';
import EmployeeCarousel from '@components/employee-carousel.vue'
import PopoverDialog from '@components/popover-dialog.vue';
import VueTagsInput from '@johmun/vue-tags-input';
import CarouselResources from '@components/carousel-resources.vue'
import Loader from "@components/loader.vue";

import { RouteWizard } from '@common/model/RouteWizard';
import { mapGetters, mapActions } from 'vuex';

import EmployeeMixin from '@common/mixin/EmployeeMixin';
import DataTableMixin from '@common/mixin/DataTableMixin';
import AlertMixin from '@common/mixin/AlertMixin';
import BuilderHelperMixin from '@common/var/team-builder';

import $ from 'jquery';

export default {
    components: {
        PageHeader,
        PageContent,
        VueTagsInput,
        Carousel,
        Slide,
        PopoverDialog,
        CarouselResources,
        EmployeeCarousel,
        Loader
    },
    mixins: [
        EmployeeMixin,
        DataTableMixin,
        AlertMixin,
        BuilderHelperMixin
    ],
    data() {
        return {
            title: 'Search for Available Resources',
            pageClass: 'ks-content-nav',
            RouteWizardsArray : [],
            headerTitle: 'Resources',
            onSearch: false,
            loading: false,
            showCarousel: false,
            showButton: true,
            isProcessing: false,
            include: ['skills', 'photo', 'positions', 'clientTeambuilderBucket'],

            inputSkill: '',
            data: {
                skills: [],
            },
            displaySkill: false,
            paramSkills: [],
            availableEmp: [],
            rows: [],
            selectedEmployee: [],
            otherSkills: ['5', '6', '33','34','35','30','31','49','55'] // Management, Content, Creative
        }
    },
    async created() {
        await this.getSkills({query: {take: 99999}});
    },
    methods: {
        ...mapActions({
            getEmployees: 'employees/getEmployees',
            getSkills: 'skills/getSkills',
            getClients: 'clients/getClients',
            getProjects: 'clientProjects/getClientProjects',
            getApplicants: 'employees/getEmployees',
            saveSelectedTalents: 'clientTeamBuilder/saveSelectedTalents',
            getAvailableEmployees: 'employees/getAvailableEmployees',

        }),
        checkPopover(event){
            if(event.target.offsetWidth < event.target.scrollWidth){
                
                $(event.target).parent('.resource-skill-placeholder').popover({
                    template: '<div class="popover truncated-skill"><div class="arrow"></div><div class="popover-body"></div></div>'
                });
            }
        },
        getJobTitle(positions) {
            let jobs = positions.data
            return jobs.length ? jobs[0].job_title : 'Unassigned';
        },
        getDownloadLink(profileUniqueStr) {
            return profileUniqueStr ? profileUniqueStr + '/pdf' : '';
        },
        setEmployeeClass(employeeId) {
            return 'profileCardURL' + employeeId;
        },
        beforeAddingSkillTag(obj){
            if($('#skillsSearch').children('.autocomplete').length){
                obj.addTag();
            }

            this.paramSkills.push(obj.tag.text);
        },
        beforeDeletingSkillTag(obj){
            if(this.paramSkills.length > 0) {
                let index = this.paramSkills.indexOf(obj.tag.text);
                if(index > -1) {
                    this.paramSkills.splice(index, 1);
                }
            }
            obj.deleteTag();
        },
        async tagsChanged(tags) {
        },
        updateSkill(value) {
            if(value) {
                this.displaySkill = true;
            }
            else {
                this.displaySkill = false;
            }
        },
        async triggerSearch() {
            this.onSearch = false;
            this.showCarousel = false;
            this.loading = true;
            if(this.paramSkills.length > 0) {
                await this.getEmployees({
                    query: _.merge(this.getParams(),
                    { include: this.include.join(', ') },
                    { skills: this.paramSkills },
                    { isOtherSkills: this.checkIsOtherSkills() },
                    { clientTeam: this.getProjects() },
                    { take: 999999 },
                    { orderBy: ['proficiency|desc'] })
                }).then((results) => {
                    if(this.employees.length > 0){
                        this.onSearch = true;
                        this.showCarousel = true;
                        this.rows = [];
                        if(this.employees.length == 1){ this.headerTitle = 'Resource' }
                        // Repopulate Carousel data.
                        this.employees.forEach((element, index) => {
                            let row = {
                                id: element.id,
                                first_name: element.first_name,
                                middle_name: element.middle_name,
                                last_name: element.last_name,
                                photo: element.photo,
                                status: element.status,
                                positions: element.positions,
                                skills: element.skills,
                                profile_url: element.profile_url,
                                summary: element.summary
                            };
                            this.rows.push(row);
                        });
                    }
                    else{
                        this.onSearch = true;
                    }
                        
                });
            }
            this.loading = false;
        },
        selectTalent(employee, index) {
            this.rows[index].status = 'selected'
            let selectedResource = {
						client_id: this.clientAuth.data.activeClientId,
                        employee_id: employee.id,
						job_position_id: employee.positions.data[0].position_id,
                        status: 'selected',
                        // client_email: this.clientAuth.data.email
					}
            this.selectedEmployee.push(selectedResource);
        },
        unselectTalent(employeeId, index) {
            this.rows[index].status = 'available';
            if (employeeId > 0) {
                let idx = this.selectedEmployee.findIndex(v => v.employee_id == employeeId);
                if (idx > -1)
                    this.selectedEmployee.splice(idx, 1);
            }
        },
        insertRows(rows) {
            const self = this;
            let temp = rows;
            let status = '';
            let empId = '';
            _.forEach(temp, (row) => {
                empId = row.id;
                status = this.checkSelectedResource(empId) ? 'selected' : 'available';
                row['status'] = status;
            })

            this.resources = temp;
        },
        checkSelectedResource (empId) {
            return this.selectedEmployee.some((el => el.employee_id == empId));
        },
        async saveTalents() {
            if (this.selectedEmployee.length > 0) {
                this.isProcessing = true;
                const data = {
                    selectedEmployee: this.selectedEmployee,
                    client_email: this.clientAuth.data.email,
                    client_id: this.clientAuth.data.activeClientId
                }
                await this.saveSelectedTalents(data).then(res => {
                    if (res.data == 'success') {
                        this.isProcessing = false;
                        this.$router.push('/resource-submitted');
                    }
                });
            }
        },
        getLastnameInitial(fullname) {
            return typeof fullname[0] !== 'undefined'
                ? fullname[0]+'.'
                : fullname;
        },
        goToProfileLink()   {
            let routeData = this.$router.resolve({name: 'getProfileLink'});
            window.open(routeData.href, '_blank')
        },
        checkIsOtherSkills() {
            return this.paramSkills.every(elem => this.otherSkills.indexOf(elem) > -1)
        },
        getProjects() {
            let clientIndex = this.clientAuth.data.clients.findIndex(v => v.id == this.clientAuth.data.activeClientId);
            return this.clientAuth.data.clients[clientIndex].projects;
        }
    },
    computed: {
        ...mapGetters({
            skills: 'skills/formatted',
            employees: 'employees/data',
            employee_meta: 'employees/meta',
			clients_meta:'clients/meta',
            projects_meta:'clientProjects/meta',
            clientAuth: 'auth/data'
        }),
        filteredSkills: function() {
            return this.getUnique(this.skills, 'text')
                .filter(s => s.text.toUpperCase().includes(this.inputSkill.toUpperCase()));

        },
        populateCarousel: function() {
            return this.rows;
        },
        selectedResource: function() {
            return this.selectedEmployee.length;
        },
        isSubmitValid: function() {
            return this.selectedEmployee.length > 0;
        },
        getProfileLink() {
            /*if(!this.employee.user) return '';
            let uname = this.employee.user.data.user_name === null ? this.employee.unique_str : this.employee.user.data.user_name;
            return '/profile/' + uname;*/
            // return !profileUrl ? '' : profileUrl;
        },
    },
    watch: {
        rows: function(val) {
            deep: true,
            this.insertRows(this.rows)
            Vue.nextTick()
                .then(function () {
                    // DOM updated

                    let maxHeight = 0;
                    $(".has-btn-component").each(function(){
                        if ($(this).height() > maxHeight) {
                            maxHeight = $(this).height();
                        }
                    });

                    $(".has-btn-component").height(maxHeight);
                });
        }
    }
}
</script>

