<template>
    <div class="main-form">
        <!-- <div class="col-sm-12 mb-3 fs-back-link">
            <router-link :to="{ name: 'clients' }" >
                <i class="la la-long-arrow-left"></i> Back to portal
            </router-link>
        </div> -->
        <div>
            <div>
                <h1 style="text-align:center;color:#417941;margin-top:70px">Thank you</h1>
            </div>
            <div class="form-title">
                <span>Resources selection successfully saved.</span>
                <br>
                <router-link :to="{ name: 'default' }" >
                    Back to portal
                </router-link>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .main-form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-title {
        margin-top: 25px!important;
        position: relative;
        left: 2px;
        span {
            font-size: 17pt;
            font-weight: 700;
            color: #444;
            position: relative;
        }
        text-align: center;
    }
</style>