<template>
    <div>
        <div class="report-body">
            <div class="report-header">
                <div class="d-inline-block float-left"></div>
                <div class="head h-layer-5 skewed-left d-inline-block float-right" />
                <div class="head h-layer-4 skewed-left d-inline-block float-right" />
                <div class="head h-layer-3 skewed-left d-inline-block float-right" />
                <div class="head h-layer-2 skewed-left d-inline-block float-right" />
                <div class="head h-layer-text d-inline-block float-right">DAILY TRACKER</div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="back-btn-wrapper">
                <back-button :text="'Back'" :route="doTriggerBack"></back-button>
                <back-button
                    v-if="!(showMainMenu == 'true')"
                    :text="'Go to Main'"
                    :route="'index'"
                    style="margin-left: 10px;">
                </back-button>
            </div>
            <data-table
                :columns="data.columns"
                :sort-key="sortKey"
                :sort-order="sortOrder"
                :pagination="config.pagination"
                :show-search="false"
                :table-loading="loading"
                @sort="sortList($event)"
                @prev="paginate('prev')"
                @next="paginate('next')"
                @page="paginate($event)"
                @select="updateList($event)"
                >

                <div slot="filter" class="col-lg-9 col-md-4 col-sm-12 col-xs-12">
                    <div class="row required-filters">
                        <div v-if="!isEmployee" class="col-lg-4">
                            <select2
                                v-if="employees.length"
                                v-model="employeeId"
                                :options="employees"
                                class="form-control employee-select"
                                placeholder="Select Employee"
                                :hideSearchBox="false"
                                @select="selectEmployee($event)">
                            </select2>
                        </div>
                        <div class="col-lg-4">
                            <flat-pickr
                                v-model="startDate"
                                :config="getConfig(true, false, { minDate: defaultStartDate, maxDate: 'today' })"
                                placeholder="Date From"
                                name="start_date"
                                class="form-control"/>
                        </div>
                        <div class="col-lg-4">
                            <flat-pickr
                                v-model="endDate"
                                :config="getConfig(true, false, { minDate: startDate, maxDate: 'today' })"
                                placeholder="Date To"
                                name="end_date"
                                class="form-control"/>
                        </div>
                        <template v-if="!noRecords">
                            <div v-if="showProjectSelection" class="col-lg-8" style="margin-top:10px;margin-bottom:10px">
                                <tags-input
                                    placeholder="Select Project"
                                    v-model="jobcodeIds"
                                    :existing-tags="existingJobcodes"
                                    :typeahead="true"
                                    :only-existing-tags="true"
                                    class="tags-input-wrapper-default search-vue-tags"
                                    :wrapper-class="'vue-tag-wrapper'"
                                    @tags-updated="tagsUpdated"/>
                            </div>
                            <div class="col-lg-4" :class="{'mt-10': !isEmployee}">
                                <div class="form-control">
                                    <input id="is-client-timezone" v-model="convertTz" type="checkbox"/>
                                    <label for="is-client-timezone" style="color:#000">{{ tzLabel }}</label>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div slot="specific" class="row quicksearch-wrapper">
                    <div class="col-md-4">
                        <button
                            class="btn btn-outline-primary ks-solid btn-block"
                            :class="{selected: selectedClass('last 7 days')}"
                            @click="quickSearch('last 7 days')">Last 7 Days
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button
                            class="btn btn-outline-primary ks-solid btn-block"
                            :class="{selected: selectedClass('last month')}"
                            @click="quickSearch('last month')">Last Month</button>
                    </div>
                    <div class="col-md-4">
                        <button
                            class="btn btn-outline-primary ks-solid btn-block"
                            :class="{selected: selectedClass('this month')}"
                            @click="quickSearch('this month')">This Month</button>
                    </div>
                </div>
                <div v-show="!noRecords" slot="optional-toolbar" class="row optional-toolbar">
                    <div class="col-lg-12 toolbar-container">
                        <div class="summary_hrs" v-for="(jobcode, index) in jobcodesTotal" :key="index">
                            <div class="client_name">{{ jobcode.name }}</div>
                            <div class="day_hours">{{ jobcode.total_hours }} hrs</div>
                        </div>
                        <div v-if="jobcodesTotal.length > 1" class="summary_hrs">
                            <div class="client_name">Overall Total</div>
                            <div class="day_hours">{{ overallTotal }} hrs</div>
                        </div>
                    </div>
                </div>
                <tbody v-if="timesheets">
                    <tr v-if="noRecords">
                        <td class="text-center odd" colspan="7">No Reports Available</td>
                    </tr>
                    <template v-for="date in timesheets">
                        <tr v-for="(timesheet, i) in date">
                            <template v-if="i === 0">
                                <td :data-title="`${data.columns[0].label}:`" :rowspan="date.length" class="date">
                                    <div>
                                        {{ timesheet.log_date }}
                                    </div>
                                </td>
                                <td :data-title="`${data.columns[1].label}:`" :rowspan="date.length" class="date">
                                    <div>
                                        {{ timesheet.day }}
                                    </div>
                                </td>
                            </template>
                            <td :data-title="`${data.columns[2].label}:`">
                                <div>
                                    {{ timesheet.start }}
                                </div>
                            </td>
                            <td :data-title="`${data.columns[3].label}:`">
                                <div>
                                    {{ timesheet.end }}
                                </div>
                            </td>
                            <td :data-title="`${data.columns[4].label}:`">
                                <div class="hr-details" :title="timesheet.hrs_formatted">
                                    {{ timesheet.working_hrs }}
                                </div>
                            </td>
                            <td :data-title="`${data.columns[5].label}:`">
                                <div>
                                    {{ timesheet.last_updated }}
                                </div>
                            </td>
                            <td :data-title="`${data.columns[6].label}:`">
                                <template v-if="timesheet.jobcode_type != 'regular'">
                                    <div class="nonwork"
                                        :class="nonwork(timesheet.jobcode_type)">{{ timesheet.company }}
                                    </div>
                                </template>
                                <div v-else>{{ timesheet.company }}</div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </data-table>
        </div>
    </div>
</template>

<script>
// libraries
import _ from 'lodash';
import $ from 'jquery';
import moment from 'moment';
import { mapGetters, mapActions } from 'vuex';

// components
import DataTable from '@components/datatable.vue';
import Select2 from '@components/select2.vue';
import BackButton from '@components/back-button.vue';
import FlatPickr from 'vue-flatpickr-component';
import TagsInput from '@voerro/vue-tagsinput';

// mixins
import DataTableMixin from '@common/mixin/DataTableMixin';
import DatePickerMixin from '@common/mixin/DatePicker';
import ObjectHelperMixin from '@common/mixin/ObjectHelperMixin';

import '@voerro/vue-tagsinput/dist/style.css';

export default {
    components: {
        DataTable,
        Select2,
        TagsInput,
        BackButton,
        FlatPickr,
    },
    mixins: [
        DataTableMixin,
        DatePickerMixin,
        ObjectHelperMixin
    ],
    data() {
        let columns = [
            {
                label: 'Date',
                key: 'log_date',
                sortKey: 'log_date',
                width: '15%',
                sortable: false,
            },
            {
                label: 'Day',
                key: 'day',
                sortKey: 'day',
                width: '7%',
                sortable: false,
            },
            {
                label: 'Time In',
                key: 'start',
                sortKey: 'start',
                width: '15%',
                sortable: false,
            },
            {
                label: 'Time Out',
                key: 'end',
                sortKey: 'end',
                width: '15%',
                sortable: false,
            },
            {
                label: 'Hours',
                key: 'working_hrs',
                sortKey: 'working_hrs',
                width: '7%',
                sortable: false,
            },
            {
                label: 'Last Updated',
                key: 'last_updated',
                sortKey: 'last_updated',
                width: '15%',
                sortable: false,
            },
            {
                label: 'Project',
                key: 'company',
                sortKey: 'company',
                sortable: false,
            },
        ];
        const sortOrder = {};

        columns.forEach(col => {
            sortOrder[col.sortKey] = 'asc';
        });

        return {
            sortKey: 'jobcode',
            sortOrder: sortOrder,
            data: {
                columns,
                rows: [],
            },
            employeeId: 0,
            clientId: 0,
            startDate: moment().startOf('month').format('YYYY-MM-DD'),
            endDate: moment().format('YYYY-MM-DD'),
            defaultStartDate: new Date(2019, 8, 1),
            employees: [],
            loading: false,
            quickSearchKey: 'this month',
            jobcodeIds: [],
            existingJobcodes: [],
            showMainMenu: '',
            jobcodesTotal: [],
            overallTotal: 0,
            convertTz: false,
        };
    },
    created() {
        let urlParams = new URLSearchParams(window.location.search);
        let myParam = urlParams.get('direct');
        this.clearStates();
        this.showMainMenu = myParam;
        this.clientId = this.currentUser.data.activeClientId;
        this.getEmployees();
    },
    computed: {
        ...mapGetters({
            currentUser: 'auth/data',
            timesheets: 'timesheets/daily',
            meta: 'timesheets/meta',
            timesheetJobcodeAssignments: 'timesheetJobcodeAssignments/data',
            timesheetUsers: 'timesheetUsers/data',
        }),
        noRecords() {
            return !(_.keys(this.timesheets).length);
        },
        showProjectSelection() {
            return !this.clientId && this.existingJobcodes.length > 1;
        },
        isEmployee() {
            const employeeRoleId = 3;
            const index = _.findIndex(this.currentUser.data.roles.data, ['role_id', employeeRoleId]);

            return index !== -1;
        },
        tzLabel() {
            return this.clientId ? 'Employee Timezone' : 'Client Timezone';
        },
        doTriggerBack() {
            if (this.showMainMenu == 'true') {
                return 'index';
            } else {
                if(this.isEmployee) {
                    return 'time-management';
                }
                if (this.currentUser.data.hasOwnProperty('activeClientId')) {
                    return 'manage-reports';
                }
                if (this.isUserAdmin(this.currentUser)) {
                    return 'manage-employees';
                }
            }
        }
    },
    methods: {
        ...mapActions({
            worklogReports: 'workLogReports/getEmployeeWorkingReport',
            getClientProjectJobcodes: 'clientProjectJobcodes/getClientProjectJobcodes',
            getEmployeeNamesOnly: 'employees/getEmployeeNamesOnly',
            getTimesheets: 'timesheets/index',
            clearStates: 'timesheets/clearStates',
            getTimesheetJobcodeAssignments: 'timesheetJobcodeAssignments/index',
            getTimesheetUsers: 'timesheetUsers/index',
        }),
        async getEmployees() {
            let query = { take: 99999, namesOnly: true };

            if (this.clientId) {
                query.clientId = this.clientId;
            }

            if (this.isEmployee) {
                const employeeId = this.currentUser.data.employeeId.data.id;
                query.employeeId = employeeId;
            }

            await this.getTimesheetUsers({ query });
            this.employees = this.timesheetUsers.map(data => ({
                id: data.id,
                text: data.name,
            }));

            const first = _.head(this.timesheetUsers);
            this.employeeId = first ? first.id : 0;
            this.search();
        },
        selectEmployee(id) {
            this.employeeId = id;
            this.jobcodeIds = [];
            this.search();
        },
        async getData() {
            this.loading = true;
            const query = _.merge(this.getParams(), {
                daily: true,
                employeeId: this.employeeId,
                startDate: this.startDate,
                endDate: this.endDate,
                jobcodeIds: _.map(this.jobcodeIds, item => item.key),
                convertTz: this.convertTz,
                clientId: this.clientId,
            });

            await this.getTimesheets({ query });
            this.setPagination(this.meta.pagination);
            this.existingJobcodes = _.map(this.meta.jobcodes, item => ({
                key: item.id,
                value: item.name,
            }));
            this.jobcodesTotal = this.meta.jobcodes_total;
            this.overallTotal = this.meta.overall_total;
            this.loading = false;
        },
        search() {
            this.gotoPage(1);
            this.getData();
        },
        quickSearch(filter) {
            let start = moment();
            let end = moment();

            switch (filter) {
                case 'last 7 days':
                    start = moment().subtract(7, 'days');
                    break;
                case 'last month':
                    start = moment().subtract(1, 'months').startOf('month');
                    end = moment().subtract(1, 'months').endOf('month');
                  break;
                case 'this month':
                    start = moment().startOf('month');
                break;
            }

            start = start.format('YYYY-MM-DD');
            end = end.format('YYYY-MM-DD');
            this.quickSearchKey = filter;

            this.$nextTick(() => {
                this.startDate = start;
                this.endDate = end;
            });
        },
        selectedClass(filter) {
            let start = moment();
            let end = moment();

            switch (filter) {
                case 'last 7 days':
                    start = moment().subtract(7, 'days');
                    break;
                case 'last month':
                    start = moment().subtract(1, 'months').startOf('month');
                    end = moment().subtract(1, 'months').endOf('month');
                    break;
                case 'this month':
                    start = moment().startOf('month');
                    break;
            }

            start = start.format('YYYY-MM-DD');
            end = end.format('YYYY-MM-DD');
            const checkStart = (this.startDate == start);
            const checkEnd = (this.endDate == end);

            return checkStart && checkEnd;
        },
        tagsUpdated() {
            this.$nextTick(() => {
                this.getData();
            })
        },
        paginate(page) {
            this.gotoPage(page);
            this.getData();
        },
        updateList(limit) {
            this.setPaginationLimit(limit);
            this.getData();
        },
        sortList(key) {
            this.sortKey = key;
            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';

            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
            this.getData();
        },
        nonwork(type) {
            let cls;

            switch (type) {
                case 'unpaid_break':
                    cls = 'break';
                    break;
                case 'pto':
                    cls = 'pto';
                    break;
                default:
                    cls = '';
                    break;
            }

            return cls;
        },
    },
    watch: {
        startDate: {
            handler: 'search',
        },
        endDate: {
            handler: 'search',
        },
        convertTz: {
            handler: 'getData',
        },
    },
};
</script>

<style>
.show-per-page {
    margin-top: 16px !important;
}
.employee-select + span {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
</style>

<style lang="scss" scoped>
.container-fluid {
    padding: 30px;
    padding-top: 0;
}
.date {
    background: #f5f6fa!important;
}
.nonwork {
    border: none;
    border-radius: 20px;
    display: inline-block;
    padding: 2px 10px;
    background: #5f5f5f;
    color: #fff;
    line-height: 1.34em;

    &.break {
        background: #ef5350;
    }
    &.pto {
        background: #9370db;
    }
}
.selected {
    background-color: #25628F;
    color: #fff;
    border: solid 1px #25628F;
}
.hr-details {
    border-bottom: 1px dotted #000;
    display: inline-block;
}
.optional-toolbar {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: solid 1px #dee0e1;
    border-bottom: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.required-filters {
    margin-top: 16px;
}
.quicksearch-wrapper {
    margin-top: 16px;

    & > div:nth-child(1) {
        padding-right: 5px;
    }

    & > div:nth-child(2) {
        padding-left: 5px;
        padding-right: 5px;
    }

    & > div:nth-child(3) {
        padding-left: 5px;
    }
}
.summary_hrs .client_name {
    color: #000;
    font-family: inherit;
    padding: 0 0 9px;
}
.summary_hrs .day_hours {
    background: #f5f6fa;
    color: #5f5f5f;
    text-align: center;
    padding: 7px;
    border-radius: 2px;
    border: 1px solid #5f5f5f;
    display: inline-block;
    font-weight: 500;
    font-family: inherit;
}
.summary_hrs .day_number {
    color: #888;
    margin-top: 3px;
}
.summary_hrs {
    float: left;
    margin-left: 0;
    text-align: center;
    padding: 15px;
}
.back-btn-wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dataTables_filter {
    padding-top: 0 !important;
}
.head {
    height: 100%;
    color: white;
    padding: 0px 5px 0px 5px;
}
.h-layer-2 {
    background-color: #5f5f5f;
    width: 50%;
    line-height: 40px;
    margin-right: 3px;
}
.h-layer-3 {
    background-color: #54873c;
    width: 5%;
    margin-right: 3px;
}
.h-layer-4 {
    background-color: #2c7639;
    width: 5%;
    margin-right: 3px;
}
.h-layer-5 {
    background-color: #146e3a;
    width: 5%;
    margin-right: 8px;
}
.h-layer-text {
    position: relative;
    z-index: 1;
    margin-right: -420px;
    line-height: 40px;
    font-size: 22px;
}
.report-body {
    width: 100%;
}
.report-header {
    margin-top: 0px;
    height: 42px;
}
.report-footer {
    height: 70px;
    // position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.skewed-left {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}
.skewed-right {
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}
.content-graph {
    /* display: inline-block; */
    position: relative;
    overflow: auto;
    max-width: 100%;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(35%, -50%);
}
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    //transform: translate(-50%, -50%);
}
.chart-content {
    font-size: 1rem;
}
.card-block {
    padding: 40px 20px;
    font-size: 15px;
}
nav {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 300px;
}
nav ul {
    //list-style-type: disc;
    margin: 10px;
    padding: 0;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
a:not([href]):not([tabindex]):hover {
    color: green;
    text-decoration: none;
}
.chart-label-extra {
    display: none !important;
}
.la-search {
    margin-left: 6px;
    font-size: 17pt;
}
.search-vue-tags {
    border-color: #aaaaaa !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
}
.filter {
    width: 100%;
}
.mt-10 {
    margin-top: 10px;
}

// Fix reponsiveness for mobile devices
// Target device resolutions

// Iphone devices
@media screen and (max-width: 414px) {
    .h-layer-2 {
        width: 79%;
    }
    .h-layer-text {
        margin-right: -244px;
    }
    .required-filters > div {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .quicksearch-wrapper {
        padding-left: 17px!important;
        padding-right: 30px!important;
        margin-top: 0!important;

        & > div {
            padding-left: 0!important;
            padding-right: 0!important;
            padding-bottom: 5px!important;
        }
    }
    .toolbar-container {
        display: flex;
        overflow-x: auto;

        & > .summary_hrs {
            white-space: nowrap;
            padding: 15px!important;

            & > .day_hours {
                padding: 7px!important;
            }
        }
    }
    .nonwork {
        padding: 2px 5px!important;
    }
    td[data-title="Time In:"] > div {
        margin-left: 29px!important;
    }
    td[data-title="Time Out:"] > div {
        margin-left: 18px!important;
    }
    td[data-title="Day:"] > div {
        margin-left: 53px!important;
    }
    td[data-title="Date:"] > div {
        margin-left: 47px!important;
    }
    td[data-title="Hours:"] > div {
        margin-left: 45px!important;
    }
    td[data-title="Project:"] > div {
        margin-left: 35px!important;
    }
}

// Tablets and mobiles with landscape orientation
@media (min-width: 415px) and (max-width: 767px) {
    .h-layer-2 {
        width: 79%;
    }
    .h-layer-text {
        margin-right: -286px;
    }
    .required-filters > div {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .quicksearch-wrapper {
        padding-left: 31px!important;
        padding-right: 30px!important;
        margin-top: 0!important;

        & > div {
            padding-left: 0!important;
            padding-right: 0!important;
            padding-bottom: 5px!important;
        }
    }
    .toolbar-container {
        display: flex;
        overflow-x: auto;

        & > .summary_hrs {
            white-space: nowrap;
            padding: 15px!important;

            & > .day_hours {
                padding: 7px!important;
            }
        }
    }
    .nonwork {
        padding: 2px 5px!important;
    }
}

</style>

<style lang="scss">
.vue-tag-wrapper {
    & > span {
        padding: 0.5em;
        padding-top: 0.45em;
        padding-bottom: 0.45em;
        margin-top: 0.15em;
        margin-bottom: 0.15em;
        color: #ffffff;
        background-color: #417941;
    }
}
.tags-input-typeahead-item-highlighted-default {
    background-color: #417941;
}

@media (max-width: 335px) {
    .footer {
        margin-left: -19px!important;
    }
}

@media screen and (max-width: 414px) {
    .loader {
        display: block!important;
        margin: 0 auto!important;
        width: 40px;
        height: 40px;
        border-width: 5px;
    }
}

@media (min-width: 415px) and (max-width: 767px) {
    .table-container {
        overflow-x: auto!important;

        & > table td {
            white-space: nowrap!important;
        }
    }
}
</style>
