<template>
    <div>
        <div v-if="showHeader" class="report-body">
            <div class="report-header">
                <div class="d-inline-block float-left"></div>
                <div class="head h-layer-5 skewed-left d-inline-block float-right" />
                <div class="head h-layer-4 skewed-left d-inline-block float-right" />
                <div class="head h-layer-3 skewed-left d-inline-block float-right" />
                <div class="head h-layer-2 skewed-left d-inline-block float-right" />
                <div class="head h-layer-text d-inline-block float-right">MONTHLY GOAL TRACKER</div>
            </div>
        </div>

        <div :class="classContainer">
            <div v-if="showBackButton" class="back-btn-wrapper">
                <back-button :text="'Back'" :route="'manage-employees'"></back-button>
                <back-button :text="'Go to Main'" :route="'index'" style="margin-left: 10px;"></back-button>
            </div>
            <data-table
                :columns="data.columns"
                :sort-key="sortKey"
                :sort-order="sortOrder"
                :pagination="config.pagination"
                :show-search="false"
                :table-loading="loading"
                @sort="sortList($event)"
                @prev="paginate('prev')"
                @next="paginate('next')"
                @page="paginate($event)"
                @select="updateList($event)">

                <div slot="filter" v-if="!isEmployee" class="col-lg-9 col-md-4 col-sm-12 col-xs-12">
                    <div class="row">
                        <div v-if="!clientId" class="col-lg-2 search-by">
                            <strong>Search by:</strong>
                            <div>
                                <input id="client" type="radio" v-model="filter" value="client">
                                <label for="client">Client</label>
                            </div>
                            <div>
                                <input id="emloyee" type="radio" v-model="filter" value="employee">
                                <label for="emloyee">Employee</label>
                            </div>
                        </div>
                        <div class="col-lg-10 tag-filter">
                            <fs-search-input
                                :placeholder="tagProps.placeholder"
                                class=""
                                v-model="ids"
                                :existing-tags="tagProps.existing"
                                :typeahead="true"
                                :typeahead-style="'dropdown'"
                                :only-existing-tags="true"
                                :wrapper-class="''"
                                :onSearchBtnClick="search"
                                :isDisabled="tagsLoading"
                                :searchButtonDisabled="tagsLoading"
                                @tags-updated="search"
                                @clear-selected-tags="search"/>
                        </div>
                    </div>
                </div>

                <div slot="specific" class="col-lg-12 quicksearch-wrapper">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-6 date-filter" style="padding:0">
                            <select2
                                placeholder="Month"
                                class="form-control"
                                v-model="month"
                                :options="months"
                                style="width:125px"
                                :hideSearchBox="false"
                                @select="month = $event">
                            </select2>
                        </div>
                        <div class="col-lg-3 date-filter">
                            <select2
                                placeholder="Year"
                                class="form-control"
                                v-model="year"
                                :options="years"
                                style="width:125px"
                                :hideSearchBox="false"
                                @select="year = $event">
                            </select2>
                        </div>
                    </div>
                </div>

                <tbody v-if="timesheets">
                    <tr v-if="noRecords">
                        <td class="text-center odd" colspan="7">No Reports Available</td>
                    </tr>
                    <tr v-for="(timesheet, index) in timesheets" :key="index">
                        <!-- Employee Name -->
                        <template v-if="isEmployee && timesheets.length > 1">
                            <td v-if="index === 0" class="v-align left" data-title="Employee Name:"
                                :rowspan="timesheets.length">
                                <div>
                                    {{ timesheet.employee }}
                                </div>
                            </td>
                        </template>
                        <template v-else>
                            <td data-title="Employee Name:">
                                <div>
                                    {{ timesheet.employee }}
                                </div>
                            </td>
                        </template>
                        <!-- Employee Name -->

                        <!-- Job Position -->
                        <template v-if="isEmployee && timesheets.length > 1">
                            <td v-if="index === 0" class="v-align left" data-title="Job Position:"
                                :rowspan="timesheets.length">
                                <div>
                                    {{ timesheet.job_position }}
                                </div>
                            </td>
                        </template>
                        <template v-else>
                            <td data-title="Job Position:">
                                <div>
                                    {{ timesheet.job_position }}
                                </div>
                            </td>
                        </template>
                        <!-- Job Position -->

                        <td v-if="!clientId" data-title="Client:">
                            <div>
                                {{ timesheet.client }}
                            </div>
                        </td>
                        <td data-title="Rendered Hours:">
                            <div>
                                {{ timesheet.rendered }}
                                ({{ Math.round((timesheet.rendered / timesheet.target) * 100) }}%)
                            </div>
                        </td>
                        <td data-title="Last Updated:">
                            <div>
                                {{ timesheet.last_updated }}
                            </div>
                        </td>

                        <!-- Target Hours -->
                        <template v-if="isEmployee && timesheets.length > 1">
                            <td v-if="index === 0" class="v-align" data-title="Target Hours:"
                                :rowspan="timesheets.length">
                                <div>
                                    {{ Math.round(hoursTotal) }} / {{ timesheet.target }}
                                </div>
                            </td>
                            <td data-title="Percentage Completed:"
                                :rowspan="timesheets.length" v-if="index == 0">
                                <div>
                                    <span>
                                        <progress-bar
                                            :title="['Running Hours', 'Target Hours']"
                                            :percentage="computeProgressBar"
                                            :fontsize="90"
                                            :height="25"
                                            :isCurrentMonthAndYear="isCurrentMonthYear"/>
                                    </span>
                                </div>
                            </td>
                        </template>
                        <template v-else>
                            <td data-title="Target Hours:">
                                <div>
                                    {{ timesheet.target }}
                                </div>
                            </td>
                            <td data-title="Percentage Completed:">
                                <div>
                                    <span>
                                        <progress-bar
                                            :title="['Running Hours', 'Target Hours']"
                                            :percentage="timesheet.percentage"
                                            :fontsize="90"
                                            :height="25"
                                            :isCurrentMonthAndYear="isCurrentMonthYear"/>
                                    </span>
                                </div>
                            </td>
                        </template>
                        <!-- Target Hours -->
                    </tr>
                </tbody>
            </data-table>
        </div>
    </div>
</template>

<script>
// libraries
import _ from 'lodash';
import $ from 'jquery';
import moment from 'moment';
import { mapGetters, mapActions } from 'vuex';

// components
import DataTable from '@components/datatable.vue';
import Select2 from '@components/select2.vue';
import BackButton from '@components/back-button.vue';
import FlatPickr from 'vue-flatpickr-component';
import FsSearchInput from '@components/fs-search-input.vue';
import ProgressBar from '@components/progressbar.vue';

// mixins
import DataTableMixin from '@common/mixin/DataTableMixin';
import DatePickerMixin from '@common/mixin/DatePicker';

import '@voerro/vue-tagsinput/dist/style.css';

export default {
    props: {
        showHeader: {
            type: Boolean,
            default: true,
        },
        showBackButton: {
            type: Boolean,
            default: true,
        },
        classContainer: {
            type: String,
            default: 'container-fluid',
        },
    },
    components: {
        DataTable,
        Select2,
        BackButton,
        FlatPickr,
        FsSearchInput,
        ProgressBar,
    },
    mixins: [
        DataTableMixin,
        DatePickerMixin,
    ],
    data() {
        let columns = [
            {
                label: 'Employee Name',
                key: 'employee',
                sortKey: 'employee',
                width: '16%',
                sortable: true,
            },
            {
                label: 'Job Position',
                key: 'job_position',
                sortKey: 'job_position',
                width: '16%',
                sortable: false,
            },
            {
                label: 'Client',
                key: 'client',
                sortKey: 'client',
                width: '15%',
                sortable: true,
            },
            {
                label: 'This Month',
                key: 'rendered',
                sortKey: 'rendered',
                width: '13%',
                sortable: true,
            },
            {
                label: 'Last Updated',
                key: 'last_updated',
                sortKey: 'last_updated',
                width: '14%',
                sortable: false,
            },
            {
                label: 'Target Hours',
                key: 'target',
                sortKey: 'target',
                width: '7%',
                sortable: false,
            },
            {
                label: 'Percentage Completed',
                key: 'percentage',
                sortKey: 'percentage',
                sortable: false,
                width: '17%'
            },
        ];
        const sortOrder = {};

        columns.forEach(col => {
            sortOrder[col.sortKey] = 'asc';
        });

        return {
            sortKey: 'jobcode',
            sortOrder: sortOrder,
            data: {
                columns,
                rows: [],
            },
            startDate: moment().startOf('month').format('YYYY-MM-DD'),
            endDate: moment().format('YYYY-MM-DD'),
            defaultStartDate: new Date(2019, 8, 1),
            tzLabel: 'Client Timezone',
            loading: false,
            quickSearchKey: '',
            jobcodeIds: [],
            existingJobcodes: [],
            jobcodesTotal: [],
            overallTotal: 0,
            convertTz: false,

            beginYear: 2019,
            month: (new Date().getMonth() + 1),
            year: new Date().getFullYear(),
            employeeTags: [],
            jobcodeTags: [],
            ids: [],
            clientId: 0,
            filter: 'client',
            tagsLoading: false,
            percentageTotal: 0,
            hoursTotal: 0
        };
    },
    created() {
        this.clientId = this.currentUser.data.activeClientId;

        if (!this.isEmployee) {
            this.loadTags();
        }

        this.setSorting('rendered|desc');
        this.getData();
        this.toggleClientColumn();
    },
    computed: {
        ...mapGetters({
            currentUser: 'auth/data',
            timesheets: 'timesheets/monthly',
            meta: 'timesheets/meta',
            jobcodes: 'timesheetJobcodes/data',
            timesheetUsers: 'timesheetUsers/data',
        }),
        computeProgressBar() {
            let pt = 0;
            let ht = 0;
            this.timesheets.forEach(function(timesheet, index) {
                pt += timesheet.percentage;
                ht += timesheet.rendered;
            });
            this.percentageTotal = pt;
            this.hoursTotal = ht;
            return this.percentageTotal;
        },
        noRecords() {
            return !this.timesheets.length;
        },
        showProjectSelection() {
            return !this.clientId && this.existingJobcodes.length > 1;
        },
        tagProps() {
            let placeholder, existing;

            if (this.filter == 'client') {
                placeholder = 'Enter Client';
                existing = this.jobcodeTags;
            } else {
                placeholder = 'Enter Employee';
                existing = this.employeeTags;
            }

            return {
                placeholder,
                existing,
            };
        },
        months() {
            const months = [
                { id: 1,  text: 'January' },
                { id: 2,  text: 'February' },
                { id: 3,  text: 'March' },
                { id: 4,  text: 'April' },
                { id: 5,  text: 'May' },
                { id: 6,  text: 'June' },
                { id: 7,  text: 'July' },
                { id: 8,  text: 'August' },
                { id: 9,  text: 'September' },
                { id: 10,  text: 'October' },
                { id: 11, text: 'November' },
                { id: 12, text: 'December' },
            ];

            return months;
        },
        years() {
            const years = _.reverse(
                _.range(this.beginYear, new Date().getFullYear() + 1)
            );

            return _.map(years, year => ({id: year, text: year}));
        },
        isCurrentMonthYear() {
            const isMonthEqual = this.month == (new Date().getMonth() + 1);
            const isYearEqual = this.year == new Date().getFullYear();

            return isMonthEqual && isYearEqual;
        },
        isEmployee() {
            const employeeRoleId = 3;
            const index = _.findIndex(this.currentUser.data.roles.data, ['role_id', employeeRoleId]);

            return index !== -1;
        },
        timesheetUserId() {
            let timesheetUser = this.timesheetUsers;
            timesheetUser = timesheetUser ? _.head(timesheetUser).id : 0;

            return timesheetUser;
        },
    },
    methods: {
        ...mapActions({
            getTimesheets: 'timesheets/monthly',
            clearStates: 'timesheets/clearStates',
            getJobcodes: 'timesheetJobcodes/index',
            getTimesheetUsers: 'timesheetUsers/index',
        }),
        async exportReport() {
            const employeeIds = this.filter == 'employee' ? _.map(this.ids, 'key') : [];
            window.location.href = '/api/export?wfrmonthly=true&month=' + this.month +
                                   '&year=' + this.year;
        },
        async getEmployees() {
            let query = { take: 99999, namesOnly: true };

            if (this.clientId) {
                query.clientId = this.clientId;
            }

            await this.getTimesheetUsers({ query });
            this.employeeTags = this.timesheetUsers.map(data => ({
                key: data.id,
                value: data.name,
            }));
        },
        async getJobcodesData() {
            const query = {
                take: 9999,
                type: 'regular',
                namesOnly: true,
            };

            await this.getJobcodes({ query });
            this.jobcodeTags = this.jobcodes.map(data => ({
                key: data.id,
                value: data.name,
            }));
        },
        async getData() {
            this.loading = true;
            let employeeIds = this.filter == 'employee' ? _.map(this.ids, 'key') : [];

            if (this.isEmployee) {
                const query = {
                    employeeId: this.currentUser.data.employeeId.data.id,
                    namesOnly: true,
                };
                await this.getTimesheetUsers({ query });
                employeeIds = [this.timesheetUserId];
            }

            const jobcodeIds = this.filter == 'client' ? _.map(this.ids, 'key') : [];
            const clientId = this.clientId ? [this.clientId] : 0;
            const query = _.merge(this.getParams(), {
                month: this.month,
                year: this.year,
                employeeIds,
                jobcodeIds,
                clientId,
            });

            await this.getTimesheets({ query });
            this.setPagination(this.meta.pagination);
            this.loading = false;
        },
        async loadTags() {
            this.tagsLoading = true;
            await this.getEmployees();

            if (this.clientId) {
                this.filter = 'employee';
            } else {
                await this.getJobcodesData();
            }
            this.tagsLoading = false;
        },
        search() {
            this.$nextTick(() => {
                this.gotoPage(1);
                this.getData();
            })
        },
        paginate(page) {
            this.gotoPage(page);
            this.getData();
        },
        updateList(limit) {
            this.setPaginationLimit(limit);
            this.getData();
        },
        sortList(key) {
            this.sortKey = key;
            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';

            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
            this.getData();
        },
        toggleClientColumn() {
            if (this.clientId) {
                const columns = this.data.columns.filter(d => d.label != 'Client');
                this.$set(this.data, 'columns', columns);
            }
        },
    },
    watch: {
        filter() {
            this.ids = [];
        },
        month: {
            handler: 'search',
        },
        year: {
            handler: 'search',
        },
    },
};
</script>

<style>
.show-per-page {
    margin-top: 16px !important;
}
.employee-select + span {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
</style>

<style lang="scss" scoped>
.search-by {
    margin-right: -55px;
}
.tag-filter {
    padding-top: 15px;
}
.container-fluid {
    padding: 30px;
    padding-top: 0;
}
.date {
    background: #f5f6fa!important;
}
.nonwork {
    border: none;
    border-radius: 20px;
    display: inline-block;
    padding: 2px 10px;
    background: #5f5f5f;
    color: #fff;
    line-height: 1.34em;

    &.break {
        background: #ef5350;
    }
    &.pto {
        background: #9370db;
    }
}
.selected {
    background-color: #25628F;
    color: #fff;
    border: solid 1px #25628F;
}
.hr-details {
    border-bottom: 1px dotted #000;
    display: inline-block;
}
.optional-toolbar {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: solid 1px #dee0e1;
    border-bottom: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.required-filters {
    margin-top: 16px;
}
.quicksearch-wrapper {
    margin-top: 16px;
}
.summary_hrs .client_name {
    color: #000;
    font-family: inherit;
    padding: 0 0 9px;
}
.summary_hrs .day_hours {
    background: #f5f6fa;
    color: #5f5f5f;
    text-align: center;
    padding: 7px;
    border-radius: 2px;
    border: 1px solid #5f5f5f;
    display: inline-block;
    font-weight: 500;
    font-family: inherit;
}
.summary_hrs .day_number {
    color: #888;
    margin-top: 3px;
}
.summary_hrs {
    float: left;
    margin-left: 0;
    text-align: center;
    padding: 15px;
}
.back-btn-wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dataTables_filter {
    padding-top: 0 !important;
}
.head {
    height: 100%;
    color: white;
    padding: 0px 5px 0px 5px;
}
.h-layer-2 {
    background-color: #5f5f5f;
    width: 50%;
    line-height: 40px;
    margin-right: 3px;
}
.h-layer-3 {
    background-color: #54873c;
    width: 5%;
    margin-right: 3px;
}
.h-layer-4 {
    background-color: #2c7639;
    width: 5%;
    margin-right: 3px;
}
.h-layer-5 {
    background-color: #146e3a;
    width: 5%;
    margin-right: 8px;
}
.h-layer-text {
    position: relative;
    z-index: 1;
    margin-right: -420px;
    line-height: 40px;
    font-size: 22px;
}
.report-body {
    width: 100%;
}
.report-header {
    margin-top: 0px;
    height: 42px;
}
.report-footer {
    height: 70px;
    // position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.skewed-left {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}
.skewed-right {
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}
.content-graph {
    /* display: inline-block; */
    position: relative;
    overflow: auto;
    max-width: 100%;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(35%, -50%);
}
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    //transform: translate(-50%, -50%);
}
.chart-content {
    font-size: 1rem;
}
.card-block {
    padding: 40px 20px;
    font-size: 15px;
}
nav {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 300px;
}
nav ul {
    //list-style-type: disc;
    margin: 10px;
    padding: 0;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
a:not([href]):not([tabindex]):hover {
    color: green;
    text-decoration: none;
}
.chart-label-extra {
    display: none !important;
}
.la-search {
    margin-left: 6px;
    font-size: 17pt;
}
.search-vue-tags {
    border-color: #aaaaaa !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
}
.v-align {
    vertical-align: middle;
    text-align: center;

    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
}
.filter {
    width: 100%;
}

// Fix reponsiveness for mobile devices
// Target device resolutions

// Iphone devices
@media screen and (max-width: 320px) {
    .h-layer-text {
        margin-right: -232px!important;
    }
}
@media screen and (max-width: 375px) {
    .h-layer-text {
        margin-right: -253px!important;
    }
}
@media screen and (max-width: 414px) {
    .h-layer-2 {
        width: 79%;
    }
    .h-layer-text {
        margin-right: -274px;
    }
    .required-filters > div {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .quicksearch-wrapper {
        padding-left: 17px!important;
        padding-right: 30px!important;
        margin-top: 0!important;

        & > div {
            padding-left: 0!important;
            padding-right: 0!important;
            padding-bottom: 5px!important;
        }
    }
    .toolbar-container {
        display: flex;
        overflow-x: auto;

        & > .summary_hrs {
            white-space: nowrap;
            padding: 15px!important;

            & > .day_hours {
                padding: 7px!important;
            }
        }
    }
    .nonwork {
        padding: 2px 5px!important;
    }
    td[data-title="Job Position:"] > div {
        margin-left: 41px!important;
    }
    td[data-title="Client:"] > div {
        margin-left: 83px!important;
    }
    td[data-title="Rendered Hours:"] > div {
        margin-left: 17px!important;
    }
    td[data-title="Target Hours:"] > div {
        margin-left: 40px!important;
    }
}

// Tablets and mobiles with landscape orientation
@media (min-width: 415px) and (max-width: 767px) {
    .h-layer-2 {
        width: 79%;
    }
    .h-layer-text {
        font-size: 14px!important;
        margin-right: -288px!important;
    }
    .required-filters > div {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .quicksearch-wrapper {
        padding-left: 31px!important;
        padding-right: 30px!important;
        margin-top: 0!important;

        & > div {
            padding-left: 0!important;
            padding-right: 0!important;
            padding-bottom: 5px!important;
        }
    }
    .toolbar-container {
        display: flex;
        overflow-x: auto;

        & > .summary_hrs {
            white-space: nowrap;
            padding: 15px!important;

            & > .day_hours {
                padding: 7px!important;
            }
        }
    }
    .nonwork {
        padding: 2px 5px!important;
    }
}

// For desktops
@media (min-width: 768px) and (max-width: 991px) {
    .h-layer-2 {
        width: 60%;
    }
    .h-layer-5 {
        margin-right: 40px;
    }
    .h-layer-text {
        margin-right: -399px;
    }
    .fs-search-input-wrapper {
        width: 200%!important;
    }
    .quicksearch-wrapper {
        margin-top: 0!important;
    }
}
@media (min-width: 992px) and (max-width: 1790px) {
    .search-by {
        margin-right: 0;
        flex: 0 0 33.33333333%!important;
        max-width: 33.33333333%!important;
    }
    .date-filter {
        margin-left: 0!important;
    }
}
@media (min-width: 992px) and (max-width: 1204px) {
    .date-filter {
        margin-right: 50px!important;
    }
}
</style>

<style lang="scss">
.vue-tag-wrapper {
    & > span {
        padding: 0.5em;
        padding-top: 0.45em;
        padding-bottom: 0.45em;
        margin-top: 0.15em;
        margin-bottom: 0.15em;
        color: #ffffff;
        background-color: #417941;
    }
}
.tags-input-typeahead-item-highlighted-default {
    background-color: #417941;
}

@media (max-width: 335px) {
    .footer {
        margin-left: -19px!important;
    }
}

@media screen and (max-width: 414px) {
    .loader {
        display: block!important;
        margin: 0 auto!important;
        width: 40px;
        height: 40px;
        border-width: 5px;
    }
    .date-filter {
        padding-top: 2px;
        padding-bottom: 2px;

        & > span {
            width: 100%!important;
        }
        &:nth-child(2) {
            padding-top: 17px;
            padding-right: 0;
        }
    }
}

@media (min-width: 415px) and (max-width: 767px) {
    .table-container {
        overflow-x: auto!important;

        & > table td {
            white-space: nowrap!important;
        }
    }
    .date-filter {
        padding-top: 2px;
        padding-bottom: 2px;

        & > span {
            width: 100%!important;
        }
        &:nth-child(2) {
            padding: 17px 0;
            padding-bottom: 0;
        }
    }
}

// For desktops
@media (min-width: 768px) and (max-width: 991px) {
    .date-filter {
        padding-left: 214px!important;
        padding-right: 148px!important;

        & > span {
            width: 100%!important;
        }
        &:nth-child(2) {
            padding: 17px 0;
            padding-bottom: 0;
        }
    }
}
</style>
