<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
			<div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
							:tableLoading="loading"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @search="search($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)">
                            <!-- BEGIN SKILLS DATA -->
                            <tbody v-if="skills.length">
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(skill, index) in skills"
                                    :key="skill.id">

                                    <td>{{ skill.name }}</td>
                                    <td>{{ generateSkillCategoryTags(skill.categories.data) }}</td>

                                    <td align="center">
										<Can I="update" a="skills">
											<a href="#" class="action-button" title="Edit Skill" @click="showEditDialogoue({key: 'create-update-skills', name:'Update Skill', skill: skill.id})">
												<i class="la la-pencil"></i>
											</a>
										</Can>
										<Can I="delete" a="skills">
											<a href="#" class="action-button" title="Delete Skill" @click="showDeleteConfirmation(skill.id, skill.name, $event)">
												<i class="la la-trash"></i>
											</a>
										</Can>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- END SKILLS DATA -->
                        </data-table>
                    </div>
                </div>
            </div>
            <!-- BEGIN WORK DETAIL DIALOG -->
	        <create-skills-modal v-if="form.key == 'create-update-skills' && open" :openModal="open" @success="reload" @close="open = false" :info="form"></create-skills-modal>
	        <!-- END WORK DETAIL DIALOG -->
		</page-content>
	</div>
</template>
<style scope>
	.action-button {
	    font-size: 20px;
	}
</style>

<script>
// components
import PageHeader from '@components/page-header.vue';
import PageContent from '@components/page-content.vue';
import DataTable from '@components/datatable.vue';

import ModalDialog from '@components/modal-dialog.vue';
import CreateSkillsModal from '@views/pages/skills/_modals/create-skills.vue';
import Select2 from '@components/select2.vue';

// mixins
import DataTableMixin from '@common/mixin/DataTableMixin';
import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import AlertMixin from '@common/mixin/AlertMixin';

import { mapActions, mapGetters } from 'vuex'

export default {
	data() {
    	let sortOrder = {};
		let sortKey = 'name';
        let columns = [
            // { label: 'ID', key: 'id', sortKey: 'id', width: '10%', sortable: true },
            { label: 'Name', key: 'name', sortKey: 'name', width: '40%', sortable: true },
            { label: 'Categories', key: 'categories', sortKey: 'categories', width: '50%', sortable: false },
            { label: 'Action', key: 'action', sortKey: '', width: '10%', sortable: false },
        ];

        columns.forEach(function(col) {
        	sortOrder[col.sortKey] = 'desc'
        });

		return {
			title:'Timesheet Users Mapping',
			pageClass: 'ks-content-nav',
			sortKey:sortKey,
			sortOrder:sortOrder,
			limit: 10,
        	open: false,
        	loading: false,
			data: {
				columns:columns,
				rows: []
			},
			form: {
                key: '',
                name: '',
				skill:{},
				categories: []
            },
			applicants: [],
			categorySelections: []
		}
	},
	async created() {
        this.loading = true;
		this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
        this.getData();
        this.setPagination(this.meta.pagination);
        this.loading = false;
	},
	computed: {
		...mapGetters({
			data:'timesheetUsers/data',
			meta:'timesheetUsers/meta',
			employees: 'employees/data',
			categories: 'categories/formatted',
		})
	},
	methods : {
		...mapActions({
			getSkills: 'skills/getSkills',
			deleteSkill: 'skills/deleteSkill',
			getEmployees: 'employees/getEmployees',
			getCategories: 'categories/getCategories',
            getMapping: 'timesheetUsers/index',
		}),
		openSkillModal(formOptions) {
			formOptions.categories = this.categorySelections;
			this.form = formOptions
			this.open = true
		},
        async getData() {
            this.loading = true;
            const query = _.merge(this.getParams(), {
                withMapping: true,
            });
            await this.getMapping({ query });
            this.setPagination(this.meta.pagination);
            this.loading = false;
        },
		async paginate(page) {
            this.gotoPage(page);
            await this.getData();
        },
        async search(term) {
            this.setSearch(term);
            await this.getData();
        },
        async sortList(key) {
            this.sortKey = key;
            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
            await this.getData();
        },
        async updateList(limit) {
            this.setPaginationLimit(limit);
            await this.getData();
        },
	    async reload() {
	    	await this.getData();
	    	this.open = false;
		},
		generateSkillCategoryTags(categories) {
			let skillCategories = '';
			_.each(categories, data => skillCategories += data.category.name + ' | ');
			return skillCategories.substring(0, skillCategories.length - 3);
		},
	    delete(skillId) {
	    	return this.deleteSkill(skillId);
	    },
	    showEditDialogoue(options) {
	    	this.openSkillModal(options);
	    },
	    showDeleteConfirmation(skillId, skillName, event) {
		    let affected_employees = [];
            let affected_applicants = [];

            this.employees.filter(obj => obj.skills.data.length > 0).forEach((res) => {
                if(res.skills.data.filter(obj2 => obj2.skill_id === parseInt(skillId)).length){
                    affected_employees.push(res);
                }
            });
            this.applicants.filter(obj => obj.skills.data.length > 0).forEach((res) => {
                if(res.skills.data.filter(obj2 => obj2.skill_id === parseInt(skillId)).length){
                    affected_applicants.push(res);
                }
            });

            if(affected_employees.length || affected_applicants.length){
                let flags = [];
                if(affected_employees.length > 0){
                    flags.push(affected_employees.length > 1 ? affected_employees.length + ' employees' : 'an employee');
                }
                if(affected_applicants.length > 0){
                    flags.push(affected_applicants.length > 1 ? affected_applicants.length + ' applicants' : 'an applicant');
                }
                const title = 'The skill cannot be removed while it is being associated with ' + flags.join(' and ') + '.';
                const msg = `${skillName}`;
                this.confirmDialog(title, msg, 'Close', '', 'sm');

            } else {
                // This will prevent the enter key from adding/inserting another layer of vdialog-overlay which makes the screen dim(to dark)
                if (event.clientX !== 0 && event.clientY !== 0) {
                const title = 'Are you sure you want to delete this record?';
                const msg = `${skillName}`;
                this.confirmDialog(title, msg, 'Yes', 'No', 'sm')
                    .then(({ok}) => {
                        if (ok) {
							this.delete(skillId).then(() => this.reload());
							this.notifyDialog('error', 'Successfully deleted!');
						}
                    });
                }
            }
	    }
	},
	components: {
		Select2,
		DataTable,
		PageHeader,
		PageContent,
		ModalDialog,
		CreateSkillsModal,

	},
	mixins: [
		ModalDialogMixin,
		DataTableMixin,
		AlertMixin
	]
}
</script>
