<template >
    <div v-if="visible" class="fs-accordion" :class="{'is-closed': isClosed}">
        <div class="fs-field">
            <div class="card panel panel-default ks-information ks-light">
                <div class="card-header" :title="instruction" @click.stop="toggleAccordion">
                    <div>
                        <span
                            class="la ks-icon ks-text accordion-icon"
                            :class="{'la-plus': isClosed, 'la-minus': !isClosed}">
                        </span>
                        <h4 class="ks-text accordion-title">{{ title }}</h4>
                    </div>
                    <span v-if="loading" class="la la-refresh la-spin fetching"></span>
                </div>
            </div>
            <div class="card-block fs-accordion-content">
                <div v-if="!loading" class="row">
                    <div class="col-lg-12 report-table-container">
                        <report-table
                            :columns="columns"
                            :rows="rows">
                        </report-table>
                    </div>
                    <div v-if="rows.length" class="col-lg-12 chart-container">
                        <report-chart
                            v-if="!isClosed"
                            :width="'99%'"
                            :height="300"
                            :title="title"
                            :categories="chartCategories"
                            :series="chartSeries">
                        </report-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// libraries
import _ from 'lodash';
import { mapActions } from 'vuex';

// components
import ReportTable from '@views/pages/timesheets/weekly-report-table';
import ReportChart from '@components/report-chart';

export default {
    props: {
        id: {
            type: Number,
            required: true,
        },
        start: {
            type: String,
            required: true,
        },
        end: {
            type: String,
            required: true,
        },
        year: {
            type: Number,
            required: true,
        },
        visible: {
            type: Boolean,
            default: true,
        },
    },
    components: {
        ReportTable,
        ReportChart,
    },
    data() {
        return {
            title: 'Loading...',
            rows: [],
            columns: [],
            loading: false,
            isClosed: true,
        };
    },
    async created() {
        this.loading = true;
        const query = {
            jobcodeId: this.id,
            start: this.start,
            end: this.end,
            year: this.year,
        };
        await this.getData({ query }).then(({data}) => {
            this.title = data.title;
            this.columns = data.headers;
            this.rows = data.data;
        });
        this.loading = false;
    },
    computed: {
        instruction() {
            let action = this.isClosed ? 'expand' : 'collapse';
            return `Click to ${action}`;
        },
        chartCategories() {
            return _.map(this.rows, 'employee');
        },
        chartSeries() {
            const name = 'Week Total';
            const data = _.map(this.rows, 'total');

            return [{ name, data }];
        },
    },
    methods: {
        ...mapActions({
            getData: 'timesheets/weekly',
        }),
        toggleAccordion() {
            this.isClosed = !this.isClosed;
        },
    },
}
</script>

<style lang="scss" scoped>
.card {
    margin: 0;
}
.fs-field {
    border-radius: 5px;

    .card.panel {
        border: none;
    }
}
.card-header {
    background-color: #28a745 !important;
    color: #fff;
    height: 40px;
    border-radius: 3px 3px 0px 0px;
    user-select: none;
}
.accordion-icon {
    font-weight: bolder;
    background-color: #87df79;
    border-radius: 50%;
    padding: 3px;
}
.accordion-title {
    display: inline-block;
    margin: 0px 0px 0px 10px;
}
.fetching {
    font-size: 25px;
}
.chart-container {
    padding-top: 20px;
}
</style>
