<template>
    <div>
        <div v-if="loading" class="loader"></div>
        <table v-else border="1">
            <thead>
                <tr class="header">
                    <td class="header-label-col font-weight-bold">Employee Name</td>
                    <td v-for="(column, index) in headers" :key="index">
                        <table class="no-border">
                            <tr>
                                <td class="header-label-col">{{ column.formatted }}</td>
                            </tr>
                            <tr>
                                <td class="header-content-col">{{ column.day }}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="header-label-col font-weight-bold">Total</td>
                </tr>
            </thead>

            <tbody>
                <tr v-if="!rows.length">
                    <td class="body-content-col text-center" colspan="9">
                        {{ noRecordsMessage }}
                    </td>
                </tr>

                <template v-else>
                    <tr v-for="(row, index) in rows">
                        <td class="body-label-col">{{ row.employee }}</td>
                        <td v-for="(rowData, index) in row.data" :key="index" class="body-content-col">
                            <!-- employee has half day pto -->
                            <template v-if="rowData.hasOwnProperty('data')">
                                <table class="no-border">
                                    <tr>
                                        <template v-for="rowData2 in rowData.data">
                                            <td v-if="rowData2.type == 'pto'"
                                                class="body-sub-content-col pto-label">PTO
                                            </td>
                                            <td v-else class="body-sub-content-col">
                                                {{ rowData2.total ? rowData2.total : '' }}
                                            </td>
                                        </template>
                                    </tr>
                                </table>
                            </template>

                            <template v-else>
                                <div v-if="rowData.type == 'pto'"
                                    class="body-sub-content-col pto-label">PTO
                                </div>
                                <div v-else class="body-sub-content-col">
                                    {{ rowData.total ? rowData.total : '' }}
                                </div>
                            </template>
                        </td>
                        <td class="body-content-col">
                            <strong>{{ row.total }}</strong>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        columns: {
            type: Array,
            required: false,
        },
        rows: {
            type: Array,
            required: false,
        },
        noRecordsMessage: {
            type: String,
            required: false,
            default: 'No Reports Available',
        },
        loading: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        headers() {
            return this.columns.length ? this.columns : this.defaultColumns;
        },
    },
    data() {
        return {
            defaultColumns: [
                {
                    day: 'Sun',
                    formatted: '',
                },
                {
                    day: 'Mon',
                    formatted: '',
                },
                {
                    day: 'Tue',
                    formatted: '',
                },
                {
                    day: 'Wed',
                    formatted: '',
                },
                {
                    day: 'Thu',
                    formatted: '',
                },
                {
                    day: 'Fri',
                    formatted: '',
                },
                {
                    day: 'Sat',
                    formatted: '',
                },
            ],
        }
    },
}
</script>

<style lang="scss" scoped>
table {
    color: white;
    font-family: calibri;
    text-align: center;
    border: 1px solid white;
    width: 100%;


    & > * {
        font-family: sans-serif;
        font-size: 12px;
    }
}
table .body-content-col {
    color: black;
}
table .body-sub-content-col {
    color: black;
}
.no-border {
    border: 0px solid !important;
}
.header {
    border-bottom: 3px solid white;
}
.holiday-color {
    background-color: #cd5c5c!important;
    color: #fff!important;
}
.header-content-col {
    background-color: #146e3a;
}
.header-label-col {
    background-color: #54873c;
}
.body-content-col {
    background-color: #b7b7b7;
}
.body-label-col {
    background-color: #6f6f6f;
}
.highlight-red {
    background-color: rgb(236, 84, 86) !important;
    color: #fff!important;
}
.pto-label {
    background-color: mediumpurple;
    color: #fff!important;
}
.holiday-label {
    background-color: #417941;
    color: #fff!important;
}
.loader {
    width: 40px!important;
    height: 40px!important;
    border-width: 6px!important;
}

@media screen and (max-width: 414px) {
    td.body-label-col, td.body-content-col {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}
</style>
