<template>
    <div>
        <div class="report-body">
            <div class="report-header">
                <div class="d-inline-block float-left"></div>
                <div class="head h-layer-5 skewed-left d-inline-block float-right" />
                <div class="head h-layer-4 skewed-left d-inline-block float-right" />
                <div class="head h-layer-3 skewed-left d-inline-block float-right" />
                <div class="head h-layer-2 skewed-left d-inline-block float-right" />
                <div class="head h-layer-text d-inline-block float-right">WEEKLY REPORTS</div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="back-btn-wrapper">
                <back-button :text="'Back'" :route="'manage-employees'"></back-button>
                <back-button
                    :text="'Go to Main'"
                    :route="'/'"
                    style="margin-left: 10px;">
                </back-button>
            </div>

            <div class="row">
                <div v-if="!clientId" class="col-lg-2">
                    <div class="jobcodes-container">
                        <input class="form-control" type="text" placeholder="Search Client" v-model="jobcodeKeyword">
                        <div class="jobcode-list">
                            <table class="table table-sm stacktable small-only jobcodes-table">
                                <tbody>
                                    <tr
                                        v-for="jobcode in filteredJobcodes"
                                        :key="jobcode.id" @click="id = jobcode.id"
                                        :class="{'selected-client': id == jobcode.id}">
                                        <td>{{ jobcode.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div :class="{'col-lg-12': clientId, 'col-lg-10': !clientId}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row toolbar-container">
                                <div class="col-lg-6">
                                    <div class="row legend-container">
                                        <div class="col-xs-12 col-sm-2 align--center">Legends:</div>
                                        <div class="col-xs-12 col-sm-3 align--center">
                                            <div class="align--center">
                                                <span class="pto"></span> Paid Time Off
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 align--center">
                                            <div class="align--center" style="white-space: nowrap">
                                                <span class="working"></span>Working Hours
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-block d-sm-none mt-2 clearfix">&nbsp;</div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="offset-lg-7 col-lg-5">
                                            <div class="row select-filter">
                                                <div class="col-lg-6">
                                                    <select2
                                                        placeholder="Month"
                                                        class="form-control"
                                                        v-model="month"
                                                        :options="months"
                                                        :hideSearchBox="false"
                                                        @select="month = $event">
                                                    </select2>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select2
                                                        placeholder="Year"
                                                        class="form-control"
                                                        v-model="year"
                                                        :options="years"
                                                        :hideSearchBox="false"
                                                        @select="year = $event">
                                                    </select2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="generationStatus" class="col-lg-12">
                            <p class="text-center">
                                <template v-if="generationStatus == 'loading'">
                                    Loading data from TSheets. Please wait for a while. <a href="#"></a> <i class="la la-refresh fa-spin"></i>
                                </template>
                                <template v-if="generationStatus == 'done'">
                                    We're done. Thanks for waiting.
                                    <br />
                                    <small><a @click="closeStatus" style="text-decoration:underline">Close.</a></small>
                                </template>
                            </p>
                        </div>
                        <template v-if="showContent">
                            <template v-for="(week, index) in weeks">
                                <div v-if="week.visible" class="col-lg-12 weekly-container" :key="index">
                                    <weekly-content
                                        :id="id"
                                        :start="week.start"
                                        :end="week.end"
                                        :year="parseInt(year)"
                                        :visible="week.visible">
                                    </weekly-content>
                                </div>
                            </template>
                            <div v-if="noRecords" class="col-lg-12">
                                <div class="no-records">
                                    No Reports Available.
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <!-- Manual Timesheet Generation Modal -->
        <manual-generate :openModal="showModal" @success="didGenerate" @close="showModal = false"></manual-generate>
    </div>
</template>

<script>
// libraries
import _ from 'lodash';
import moment from 'moment';
import { mapGetters, mapActions } from 'vuex';

// components
import Select2 from '@components/select2.vue';
import BackButton from '@components/back-button.vue';
import WeeklyContent from '@views/pages/timesheets/weekly-content.vue';
import ManualGenerate from '@views/pages/timesheets/_modals/manual-generate.vue';

export default {
    components: {
        Select2,
        BackButton,
        WeeklyContent,
        ManualGenerate,
    },
    data() {
        return {
            id: 0,
            jobcodesData: [],
            month: (new Date().getMonth() + 1),
            year: new Date().getFullYear(),
            showContent: true,
            jobcodeKeyword: '',
            beginYear: 2019,
            beginMonth: 9,
            showModal: false,
            generationLoading: false,
            generationStatus: '',
        };
    },
    async created() {
        this.clientId = this.currentUser.data.activeClientId;

        if (!this.clientId) {
            if (this.$route.query.q == 'generate') {
                this.showModal = true;
            }

            if (this.$route.query.q == 'export') {
                window.location.href = '/api/export?timesheet=true';
            }
        }

        this.getJobcodeIdByClient();
        this.getJobcodesData();
    },
    computed: {
        ...mapGetters({
            currentUser: 'auth/data',
            jobcodes: 'timesheetJobcodes/data',
            jobcodeId: 'clientTimesheetJobcodes/data',
        }),
        months() {
            return [
                { id: 1,  text: 'January' },
                { id: 2,  text: 'February' },
                { id: 3,  text: 'March' },
                { id: 4,  text: 'April' },
                { id: 5,  text: 'May' },
                { id: 6,  text: 'June' },
                { id: 7,  text: 'July' },
                { id: 8,  text: 'August' },
                { id: 9,  text: 'September' },
                { id: 10,  text: 'October' },
                { id: 11, text: 'November' },
                { id: 12, text: 'December' },
            ];
        },
        years() {
            const years = _.reverse(
                _.range(this.beginYear, new Date().getFullYear() + 1)
            );

            return _.map(years, year => ({id: year, text: year}));
        },
        weeks() {
            if (!this.id) {
                return;
            }

            const date = moment({ year: this.year, month: this.month - 1 });
            let firstDate = moment(date).startOf('month');
                firstDate = moment(firstDate).startOf('week');
            let endDate = moment(date).endOf('month');
                endDate = moment(endDate).endOf('week');

            let weekRange = [];
            let start = firstDate;
            let end;

            do {
                end = moment(start).add(6, 'days');
                weekRange.push({
                    start: start.format('YYYY-MM-DD'),
                    end: end.format('YYYY-MM-DD'),
                    visible: end.isBefore(moment()) && this.isWeeksVisible,
                });
                start = moment(end).add(1, 'days');
            } while (end.format('YYYY-MM-DD') != endDate.format('YYYY-MM-DD'));

            return _.reverse(weekRange);
        },
        filteredJobcodes() {
            return _.filter(this.jobcodesData, jobcode => {
                return jobcode.name.toLowerCase().includes(this.jobcodeKeyword.toLowerCase());
            });
        },
        isWeeksVisible() {
            const selected = moment({year: this.year, month: this.month - 1});
            const defined = moment({year: this.beginYear, month: this.beginMonth - 1});

            return selected.isSame(defined) || selected.isAfter(defined);
        },
        noRecords() {
            return _.every(this.weeks, week => !week.visible);
        },
    },
    methods: {
        ...mapActions({
            getJobcodes: 'timesheetJobcodes/index',
            getJobcodeId: 'clientTimesheetJobcodes/index',
            getGenerationResponse: 'timesheets/getGenerationResponse',
        }),
        async getJobcodesData() {
            const query = {
                take: 9999,
                type: 'regular',
                namesOnly: true,
                orderBy: 'name',
            };

            await this.getJobcodes({ query });
            this.jobcodesData = this.jobcodes;
        },
        refreshContent() {
            this.showContent = false;
            setTimeout(() => {
                this.showContent = true;
            }, 100);
        },
        searchClient(e) {
            this.jobcodeKeyword = e.target.value;
        },
        async getJobcodeIdByClient() {
            if (!this.clientId) {
                return;
            }

            const query = {
                take: 1,
                clientId: this.clientId,
            };
            await this.getJobcodeId({ query });

            let jobcodeId = _.head(this.jobcodeId);
            jobcodeId = jobcodeId ? jobcodeId.timesheet_jobcode_id : 0;
            this.id = jobcodeId;
        },
        didGenerate() {
            this.generationStatus = 'loading';
            this.getGenerationStatus();
        },
        closeStatus() {
            this.refreshContent();
            this.generationStatus = '';
        },
        getGenerationStatus() {
            let interval;

            if (this.generationStatus == 'loading') {
                interval = setInterval(() => {
                    this.getGenerationResponse({caching: new Date().getTime()}).then(({data}) => {
                        this.generationStatus = data.status == 'inactive' ? 'done' : 'loading';

                        if (this.generationStatus == 'done') {
                            clearInterval(interval);
                        }
                    });
                }, 25000);
            }
        },
    },
    watch: {
        month: {
            handler: 'refreshContent',
        },
        year: {
            handler: 'refreshContent',
        },
        id: {
            handler: 'refreshContent',
        },
    },
};
</script>

<style>
.show-per-page {
    margin-top: 16px !important;
}
.employee-select + span {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

</style>

<style lang="scss" scoped>
.weekly-container{
    padding: 8px 15px;
}
.jobcodes-container {
    & > .jobcode-list {
        height: 75vh;
        overflow-y: auto;
        cursor: pointer;
    }
}
.selected-client {
    background: #5f5f5f;

    & > td {
        color: #fff;
    }
}
.search-by {
    margin-right: -55px;
}
.legend-container {
    height: 100%;
}
.align--center {
    display: flex;
    align-items: center;
    white-space: nowrap;

    & > span {
        height: 18px;
        width: 18px;
        display: inline-block;
        margin-right: 2px;
    }

    & > .working {
        background: #b7b7b7;
    }

    & > .pto {
        background: #9370db;
    }
}
.no-records {
    text-align: center;
}
.tag-filter {
    padding-top: 15px;
}
.container-fluid {
    padding: 30px;
    padding-top: 0;
}
.back-btn-wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dataTables_filter {
    padding-top: 0 !important;
}
.head {
    height: 100%;
    color: white;
    padding: 0px 5px 0px 5px;
}
.h-layer-2 {
    background-color: #5f5f5f;
    width: 50%;
    line-height: 40px;
    margin-right: 3px;
}
.h-layer-3 {
    background-color: #54873c;
    width: 5%;
    margin-right: 3px;
}
.h-layer-4 {
    background-color: #2c7639;
    width: 5%;
    margin-right: 3px;
}
.h-layer-5 {
    background-color: #146e3a;
    width: 5%;
    margin-right: 8px;
}
.h-layer-text {
    position: relative;
    z-index: 1;
    margin-right: -420px;
    line-height: 40px;
    font-size: 22px;
}
.report-body {
    width: 100%;
}
.report-header {
    margin-top: 0px;
    height: 42px;
}
.report-footer {
    height: 70px;
    // position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.skewed-left {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}
.skewed-right {
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}
.content-graph {
    /* display: inline-block; */
    position: relative;
    overflow: auto;
    max-width: 100%;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(35%, -50%);
}
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    //transform: translate(-50%, -50%);
}
.chart-content {
    font-size: 1rem;
}
.card-block {
    padding: 40px 20px;
    font-size: 15px;
}
nav {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 300px;
}
nav ul {
    //list-style-type: disc;
    margin: 10px;
    padding: 0;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
a:not([href]):not([tabindex]):hover {
    color: green;
    text-decoration: none;
}
.chart-label-extra {
    display: none !important;
}
.la-search {
    margin-left: 6px;
    font-size: 17pt;
}
.search-vue-tags {
    border-color: #aaaaaa !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
}
.filter {
    width: 100%;
}

// Fix reponsiveness for mobile devices
// Target device resolutions

// Iphone devices
@media screen and (max-width: 320px) {
    .h-layer-text {
        margin-right: -232px!important;
    }
}
@media screen and (max-width: 375px) {
    .h-layer-text {
        margin-right: -253px!important;
    }
}
@media screen and (max-width: 414px) {
    .h-layer-2 {
        width: 79%;
    }
    .h-layer-text {
        margin-right: -274px;
    }
    .toolbar-container {
        & > div {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    .select-filter {
        & > div {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
    .legend-container {
        & > div {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
    .fs-accordion-content {
        overflow-x: auto;
    }
}

// Tablets and mobiles with landscape orientation
@media (min-width: 415px) and (max-width: 767px) {
    .h-layer-2 {
        width: 79%;
    }
    .h-layer-text {
        font-size: 14px!important;
        margin-right: -288px!important;
    }
}

// For desktops
@media (min-width: 768px) and (max-width: 991px) {
    .h-layer-2 {
        width: 60%;
    }
    .h-layer-5 {
        margin-right: 40px;
    }
    .h-layer-text {
        margin-right: -399px;
    }
}
@media (min-width: 992px) and (max-width: 1790px) {
    .search-by {
        margin-right: 0;
        flex: 0 0 33.33333333%!important;
        max-width: 33.33333333%!important;
    }
    .date-filter {
        margin-left: 0!important;
    }
}
@media (min-width: 992px) and (max-width: 1204px) {
    .date-filter {
        margin-right: 50px!important;
    }
}
</style>

<style lang="scss">
.fs-accordion {
    padding-top: 0!important;
}
.vue-tag-wrapper {
    & > span {
        padding: 0.5em;
        padding-top: 0.45em;
        padding-bottom: 0.45em;
        margin-top: 0.15em;
        margin-bottom: 0.15em;
        color: #ffffff;
        background-color: #417941;
    }
}
.tags-input-typeahead-item-highlighted-default {
    background-color: #417941;
}

@media (max-width: 335px) {
    .footer {
        margin-left: -19px!important;
    }
}

@media screen and (max-width: 414px) {
    .loader {
        display: block!important;
        margin: 0 auto!important;
        width: 40px;
        height: 40px;
        border-width: 5px;
    }
    .date-filter {
        padding-top: 2px;
        padding-bottom: 2px;

        & > span {
            width: 100%!important;
        }
        &:nth-child(2) {
            padding-top: 17px;
            padding-right: 0;
        }
    }
    .report-table-container {
        overflow-x: auto!important;
    }
    .body-label-col, .header-label-col {
        white-space: nowrap!important;
    }
}

@media (min-width: 415px) and (max-width: 767px) {
    .table-container {
        overflow-x: auto!important;

        & > table td {
            white-space: nowrap!important;
        }
    }
    .date-filter {
        padding-top: 2px;
        padding-bottom: 2px;

        & > span {
            width: 100%!important;
        }
        &:nth-child(2) {
            padding: 17px 0;
            padding-bottom: 0;
        }
    }
}

// For desktops
@media (min-width: 768px) and (max-width: 991px) {
    .date-filter {
        padding-left: 214px!important;
        padding-right: 148px!important;

        & > span {
            width: 100%!important;
        }
        &:nth-child(2) {
            padding: 17px 0;
            padding-bottom: 0;
        }
    }
}
</style>
