<template>
  <modal-dialog v-show="openModal" :options="modalOption" :title="title" @close="closeModalDialog">
  <template slot="button">
     <save-button :loading="buttonLoading" :options="button" @action="post" :disabled="!hasSelected">Post</save-button>
  </template>
	<template slot="body">
     <div class="ks-nav-body">
       <div class="ks-nav-body-wrapper">
           <div class="container-fluid">
             <div class="row">
                 <div class="col-md-10">
                 <p>
                   Cannot find <strong>{{ jobCode  }}</strong> from the list of clients.</br>
                   Please select a corresponding client to map and proceed posting:
                 </p>
                  <select2
                    v-if="!isFetchingClients"
                    :options="clientList"
                    @select="selectClient"
                    :hideSearchBox="false"
                    :placeholder="'Select Client'"
                ></select2>
               </div>
             </div>
           </div>
       </div>
     </div>
   </template>
 </modal-dialog>
</template>

<style lang="scss" scoped>
</style>

<script type="javascript">
  import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
  import DataTableMixin from '@common/mixin/DataTableMixin';
  import Select2 from '@components/select2';
  import SaveButton from '@components/form/button.vue';
  import ModalDialog from '@components/modal-dialog.vue';

  import { mapGetters, mapActions } from 'vuex';

  export default {
    props: {
      jobCode: {
        type: String,
        required: true,
      },
    },
    components: {
      Select2,
      ModalDialog,
      SaveButton,
    },
    mixins: [
      ModalDialogMixin,
      DataTableMixin,
    ],
    computed: {
      ...mapGetters({
        clients: 'clients/data',
      }),
      hasSelected() {
        return this.selectedClient ? true : false;
      },
    },
    async created() {
      this.isFetchingClients = true;
      await this.getClients({ 
        query: _.merge(this.getParams(), { take: 9999 }),
      });

      const formatted = _.map(this.clients, item => ({
        id: item.id,
        text: item.company,
      }));

      this.clientList = formatted;
      this.isFetchingClients = false;
    },
    data() {
      return {
        title: 'Map Client',
        modalOption: {
          width: '550px',
        },
        clientList: [],
        buttonLoading: false,
        button: {
          class: 'btn btn-primary',
          type: 'button'
        },
        isFetchingClients: false,
        selectedClient: 0,
      }
    },
    methods: {
      ...mapActions({
        getClients: 'clients/getClients',
      }),
      selectClient(client) {
        this.selectedClient = client;
      },
      post() {
        this.$emit('mapClient', this.selectedClient);
        this.closeModal();
      },
      closeModalDialog() {
        this.selectedClient = 0;
        this.closeModal();
      },
    },
  }
</script>
