<template>
<modal-dialog v-show="openModal" :options="option" :title="title" @close="closeModal">      
	<template slot="body">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @search="search($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)">
                            <!-- BEGIN CLIENT PROJECT JOBCODE DATA -->
                            <tbody>
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(clientProjectJobcode, index) in clientProjectJobcodes"
                                    :key="clientProjectJobcode.id">

									<td>
										{{ clientProjectJobcode.jobcode }}
									</td>
									<td>
										<div v-if="clientProjectJobcode.clientProject" v-show="editOffset != index">
											{{ clientProjectJobcode.clientProject.project_name }}
										</div>
										<div v-if="clientProjectJobcode.clientProject" v-show="editOffset == index">
											<div class="form-inline">
												<select2 name="id"
													v-if="statuses.length"
													v-model="clientProjectJobcodeFormData.clientProjectId"
													:options="statuses"
													@select="clientProjectJobcode.clientProject.id = $event"
													:value="clientProjectJobcode.clientProject.id"
													>
												</select2>
											</div>
											<span v-show="hasSSerrorUpdate" class="help-block form-error">
												{{ ssError }}
											</span>
										</div>
									</td>
									<td align="center" class="width-20">
										<div v-show="editOffset != index">
											<span
												class="action-button la la-pencil cursor-pointer"
												title="Edit Tsheet Jobcode"
												@click="startEditing(index)"
											/>
										</div>
										<div v-show="editOffset == index">
											<span
												class="action-button la la-check mr-sm-2 cursor-pointer"
												title="Save"
												@click="updateProjectMapping({
													id: clientProjectJobcode.id,
													jobcode: clientProjectJobcode.jobcode,
													clientProjectId: clientProjectJobcode.clientProject.id
												})"
											/>
											<span
												class="action-button la la-close cursor-pointer"
												title="Cancel"
												@click="cancelEditing()"
											/>
										</div>
									</td>
                                </tr>
                            </tbody> 
                            <!-- END CLIENT PROJECT JOBCODE DATA -->
                        </data-table>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<style lang="scss" scoped>
	.width-40 {
		width: 40%;
	}
	.width-20 {
		width: 20%;
	}
</style>

<script>
	import _ from 'lodash';
      
    // Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
    import ModalDialog from '@components/modal-dialog.vue';
    import DataTable from '@components/datatable.vue';
	import Select2 from '@components/select2.vue';

	// Mixin
	import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		data() {
            let sortOrder = {};
			let sortKey = 'jobcode';
	        let columns = [
				{ label: 'Jobcode', key: 'jobcode', sortKey: 'jobcode', width: '40%',sortable: true },
				{ label: 'Project', key: 'project', sortKey: 'project', width: '50%',sortable: true },
	            { label: 'Action', key: 'action', sortKey: '', width: '10%', sortable: false }
            ];
            
            columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'desc'
            });
            
			return {
				title:'Tsheet Jobcode',
				pageClass: 'ks-content-nav',
				sortKey:sortKey,
				sortOrder:sortOrder,
				limit: 10,
            	open: false,
				data: {
					columns:columns,
					rows: []
				},
				option: { width: '900px' },
	            ssError: null,
				editOffset: -1,
				clientProjectJobcodeFormData: {
					id: 0,
					clientProjectJobcode: '',
					clientProjectId: '',
				},
				validation: [{
					path: 'clientProjectJobcode',
					name: 'clientProjectJobcode',
					rule: 'required',
					msg: { required: 'The Question field is required' },
				}],
				editPost: {},
				editPostOri: {},
				hasSSerrorUpdate: false,
				
			}
		},
		async created() {
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
			await this.getJobcodes({query:this.getParams()});
			this.setPagination(this.meta.pagination);
			
			await this.getProjects({query: { take: 9999, orderBy: 'project_name' }});
            _.each(this.currentProjects, (s)=>{
                this.data.projects.push({
                    id: s.client_project_id,
                    text: s.clientProject.data.project_name,
                });
			});
		},
		computed: {
			...mapGetters({
				clientProjectJobcodes:'clientProjectJobcodes/data',
				currentProjects: 'employeeClientProjects/data',
				meta:'clientProjectJobcodes/meta',
				statuses: 'clientProjects/formatted'
			}),
		},
		methods : {
			...mapActions({
				getJobcodes: 'clientProjectJobcodes/getClientProjectJobcodes',
				saveJobcodes: 'clientProjectJobcodes/saveClientProjectJobcode',
				getProjects: 'clientProjects/getClientProjects'
			}),			
			async paginate(page) {
				
	            this.gotoPage(page);
	            await this.getJobcodes({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
	        async search(term) {
				console.log(this.clientProjectJobcodes) 
	            this.setSearch(term);
	            await this.getJobcodes({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
	        async sortList(key) {
				
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
	            await this.getJobcodes({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
	            await this.getJobcodes({query:this.getParams()});
	            this.setPagination(this.meta.pagination);
	        },
			async startEditing(index) {
				console.log(this.clientProjectJobcodes[index].clientProject.project_name) 
				this.editOffset = index;
				this.editPost = this.clientProjectJobcodes[index];
				this.editPostOri = JSON.parse(JSON.stringify(this.editPost));
				this.clientProjectJobcodeFormData.clientProjectId = this.editPost.client_project_id;
			},
			async cancelEditing() {
				this.editOffset = -1;
				this.editPostOri = {};
				this.editPost = {};
				this.hasSSerrorUpdate = false;
			},
			async updateProjectMapping(data) {
				if (data.clientProjectId === '' || data.clientProjectId == this.editPost.client_project_id) { 
					this.cancelEditing(); 
				} 
				else {
					this.resetSSErrorUpdate();
					this.save(data);
				}
			},
			async save(jobcodeData) {
				this.isProcessing = true;
				jobcodeData.clientProjectId = Number(jobcodeData.clientProjectId);
				this.saveJobcodes(jobcodeData).then(() => {
					this.isProcessing = false;
					this.$emit('success');
					this.cancelEditing();
					this.getJobcodes({query:this.getParams()});
					setTimeout(() => {
						this.clientProjectJobcodeFormData = {};
					}, 150);
				}).catch((e) => {
					this.isProcessing = false;
					this.isEditing = false;
					this.hasSSerrorUpdate = true;
					this.ssError = e.response.data.message.question[0];
				});
			},
			resetSSErrorUpdate() {
				this.hasSSerrorUpdate = false;
				this.ssError = '';
        	},
		},
		components: {
            DataTable,
	        GenerateButton,
	        SaveButton,
			ModalDialog,
			Select2
	    },
	    mixins: [
	    	DataTableMixin,
	        ModalDialogMixin,
	        StringHelperMixin
	    ]
	}
</script>
