<template>
  <modal-dialog v-show="openModal" :options="modalOption" :title="title" @close="closeModalDialog">
    <template slot="button">
      <save-button :loading="buttonLoading" :options="button" @action="execute" :disabled="!hasSelected">Execute</save-button>
    </template>
    <template slot="body">
      <div class="ks-nav-body">
        <div class="ks-nav-body-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <label>Select Date Range:</label>
              </div>
              <div class="col-md-6">
                <flat-pickr
                  id="start_date"
                  v-model="startDate"
                  :config="getConfig(true, false, startDateOptions)"
                  placeholder="Start Date"
                ></flat-pickr>
              </div>
              <div class="col-md-6">
                <flat-pickr
                  id="end_date"
                  v-model="endDate"
                  :config="getConfig(true, false, endDateOptions)"
                  placeholder="End Date"
                ></flat-pickr>
              </div>
              <div class="col-md-12" style="margin-top:17px">
                <div class="alert alert-danger ks-active-border" role="alert" style="margin-bottom:7px">
                  <strong>Note:</strong> This will pull all modifications from TSheets to Rocks System. This may take a while.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </modal-dialog>
</template>

<script type="javascript">
  import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
  import DataTableMixin from '@common/mixin/DataTableMixin';
  import SaveButton from '@components/form/button.vue';
  import ModalDialog from '@components/modal-dialog.vue';
  import DatePickerMixin from '@common/mixin/DatePicker';
  import AlertMixin from '@common/mixin/AlertMixin';
  import FlatPickr from 'vue-flatpickr-component';
  import 'flatpickr/dist/flatpickr.css';
  import { mapActions, mapGetters } from 'vuex';

  export default {
    components: {
      ModalDialog,
      SaveButton,
      FlatPickr,
    },
    mixins: [
      ModalDialogMixin,
      DataTableMixin,
      DatePickerMixin,
      AlertMixin,
    ],
    data() {
      return {
        title: 'Override Data',
        startDateOptions: {
          altFormat: 'M d, Y',
          dateFormat: 'Y-m-d',
          defaultDate: this.today(),
          allowInput: true,
          maxDate: this.today(),
        },
        startDate: this.today(),
        endDate: this.today(),
        modalOption: {
          width: '600px',
        },
        buttonLoading: false,
        button: {
          class: 'btn btn-primary',
          type: 'button',
        },
      };
    },
    computed: {
      hasSelected() {
        return this.startDate && this.endDate;
      },
      endDateOptions() {
        return {
          altFormat: 'M d, Y',
          dateFormat: 'Y-m-d',
          defaultDate: this.today(),
          allowInput: true,
          minDate: this.startDate,
          maxDate: this.today(),
				};
      },
    },
    methods: {
      ...mapActions({
        override: 'workLogReports/getReportNow',
      }),
      today() {
        return new Date();
      },
      getStartDate() {
        if (typeof this.startDate === 'object') {
          return moment(this.startDate).format('YYYY-MM-DD');
        }
        return this.startDate;
      },
      getEndDate() {
        if (typeof this.endDate === 'object') {
          return moment(this.endDate).format('YYYY-MM-DD');
        }
        return this.endDate;
      },
      async execute() {
        const startDate = this.getStartDate();
        const endDate   = this.getEndDate();
        const payload   = { startDate, endDate, modified: true };

        this.buttonLoading = true;
        this.override(payload);
        this.buttonLoading = false;
        this.$emit('success');
        this.closeModal();
      },
      closeModalDialog() {
        this.closeModal();
      },
    },
  }
</script>

<style style="scss" scoped>
.modal-backdrop {
    z-index: 400;
}
</style>
