<template>
  <modal-dialog v-show="openModal" :options="modalOption" :title="title" @close="closeModalDialog">
    <template slot="button">
      <save-button :loading="buttonLoading" :options="button" @action="execute" :disabled="!hasSelected">Execute</save-button>
    </template>
    <template slot="body">
      <div class="ks-nav-body">
        <div class="ks-nav-body-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <label>Select Month:</label>
              </div>
              <div class="col-md-8 col-md-4">
                <flat-pickr
                  id="start_date"
                  v-model="selectedDate"
                  :config="startDateOptions"
                  placeholder="Start Date"
                ></flat-pickr>
              </div>
              <div class="col-md-12" style="margin-top:17px">
                <div class="alert alert-danger ks-active-border" role="alert" style="margin-bottom:7px">
                  <strong>Note:</strong> This will pull the data in the selected month from TSheets to Rocks System. This may take a while. 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </modal-dialog>
</template>

<script type="javascript">
  import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
  import SaveButton from '@components/form/button.vue';
  import ModalDialog from '@components/modal-dialog.vue';
	import FlatPickr from 'vue-flatpickr-component';
	import 'flatpickr/dist/flatpickr.css';
	import MonthSelectPlugin from 'flatpickr/dist/plugins/monthSelect/index.js';
	import 'flatpickr/dist/plugins/monthSelect/style.css';
  import { mapActions, mapGetters } from 'vuex';

  export default {
    components: {
      ModalDialog,
      SaveButton,
      FlatPickr,
    },
    mixins: [
      ModalDialogMixin,
    ],
    data() {
      return {
        title: 'Pull Data',
        selectedDate: new Date(),
        startDateOptions: {
          altInput: true,
          plugins: [
            new MonthSelectPlugin({
              shorthand: true,
              dateFormat: "m.Y",
              altFormat: "F Y",
            }),
          ],
        },
        modalOption: {
          width: '500px',
        },
        buttonLoading: false,
        button: {
          class: 'btn btn-primary',
          type: 'button',
        },
      };
    },
    computed: {
      hasSelected() {
        return this.selectedDate;
      },
    },
    methods: {
      ...mapActions({
        override: 'workLogReports/getReportNow',
      }),
      getDate() {
        if (typeof this.selectedDate === 'object') {
          return moment(this.selectedDate).format('MM.YYYY');
        }

        return this.selectedDate;
      },
      getStartDate() {
        let date = this.getDate().split('.');
        date = new Date(date[1], date[0] - 1, 1); 
        return moment(date).format('YYYY-MM-DD');
      },
      getEndDate() {
        let date = this.getDate().split('.');
        date = new Date(date[1], date[0], 0); 
        return moment(date).format('YYYY-MM-DD');
      },
      async execute() {
        const startDate = this.getStartDate();
        const endDate = this.getEndDate();
        const payload = { startDate, endDate, modified: false };

        this.buttonLoading = true;
        await this.override(payload);

        this.buttonLoading = false;
        this.$emit('success');
        this.closeModal();
      },
      closeModalDialog() {
        this.closeModal();
      },
    },
  }
</script>
