<template>
	<div>
		<page-header :title="title"></page-header>
		<page-content :pageClass="pageClass">
			<div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
						<div class="back-btn-wrapper mb-4">
							<back-button :text="'Go to Main'" :route="'index'"></back-button>
						</div>
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
								<Can I="add" a="holidays">
									<div class="dataTable_buttons">
										<button type="button" @click="openHolidayModal({key: 'create-update-holiday', name: 'Add New Holiday'})" tag="button" class="btn btn-primary">Add New Holiday</button>
									</div>
								</Can>
                            </div>
                        </div>
                        <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            :tableLoading="loading"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @search="search($event)"
                            @prev="paginate('prev')"
                            @next="paginate('next')"
                            @page="paginate($event)">
                            <!-- BEGIN HOLIDAY DATA -->
                            <tbody>
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(holiday, index) in holidays"
                                    :key="holiday.id">

                                    <td>{{ holiday.name }}</td>
                                    <td>{{ holiday.date }}</td>
                                    <td>{{ holiday.type | capitalize }}</td>

                                    <td align="center">
										<Can I="update" a="holidays">
											<a href="#" class="action-button" title="Edit Holiday" @click="showEditDialogoue({key: 'create-update-holiday', name:'Update Holiday', holiday: holiday.id})">
												<i class="la la-pencil"></i>
											</a>
										</Can>
										<Can I="delete" a="holidays">
											<a href="#" class="action-button" title="Delete Holiday" @click="showDeleteConfirmation(holiday.id, holiday.name)">
												<i class="la la-trash"></i>
											</a>
										</Can>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- END HOLIDAY DATA -->
                        </data-table>
                    </div>
                </div>
            </div>
            <!-- BEGIN WORK DETAIL DIALOG -->
	        <create-holiday-modal v-if="form.key == 'create-update-holiday' && open" :openModal="open" @success="reload" @close="open = false" :info="form"></create-holiday-modal>
	        <!-- END WORK DETAIL DIALOG -->
		</page-content>
	</div>
</template>
<style scope>
	.action-button {
	    font-size: 20px;
	}
</style>

<script>

	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
	import DataTable from '@components/datatable.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import CreateHolidayModal from '@views/pages/holiday/_modals/create-holiday.vue';
	import Select2 from '@components/select2.vue';
	import BackButton from '@components/back-button.vue';

	// mixins
	import DataTableMixin from '@common/mixin/DataTableMixin';
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		data() {
        	let sortOrder = {};
			let sortKey = 'date';
	        let columns = [
	            // { label: 'ID', key: 'id', sortKey: 'id', width: '10%', sortable: true },
	            { label: 'Name', key: 'name', sortKey: 'name', width: '35%', sortable: true },
                { label: 'Date', key: 'date', sortKey: 'date', width: '20%', sortable: false },
	            { label: 'Type', key: 'type', sortKey: 'type', width: '25%', sortable: false },
                { label: 'Action', key: 'action', sortKey: '', width: '10%', sortable: false },
	        ];

	        columns.forEach(function(col) {
	        	sortOrder[col.sortKey] = 'asc'
	        });

			return {
				title:'Holidays Management',
				pageClass: 'ks-content-nav',
				sortKey:sortKey,
				sortOrder:sortOrder,
				limit: 10,
            	open: false,
                loading: false,
				data: {
					columns:columns,
					rows: []
				},
				form: {
	                key: '',
	                name: '',
	                holiday:{}
	            },
			}
		},
        filters: {
                capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        },
		async created() {
            this.loading = true;
			this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
			await this.getHolidays({query: this.getParams()});
            this.setPagination(this.meta.pagination);
            this.loading = false;
		},
		computed: {
			...mapGetters({
				holidays:'holiday/data',
				meta:'holiday/meta',
			})
		},
		methods : {
			...mapActions({
				getHolidays: 'holiday/getHolidays',
				deleteHoliday: 'holiday/deleteHoliday'
			}),
			openHolidayModal(formOptions) {
				this.form = formOptions;
				this.open = true;
			},
            async getData() {
                this.loading = true;
	            await this.getHolidays({query:this.getParams()});
                this.loading = false;
            },
			async paginate(page) {
	            this.gotoPage(page);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async search(term) {
	            this.setSearch(term);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async sortList(key) {
	            this.sortKey = key;
	            this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
	            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
	        async updateList(limit) {
	            this.setPaginationLimit(limit);
	            await this.getData();
                this.setPagination(this.meta.pagination);
	        },
		    async reload() {
		    	await this.getData();
                this.setPagination(this.meta.pagination);
                this.open = false;
		    },
		    delete(holidayId) {
		    	return this.deleteHoliday(holidayId);
		    },
		    showEditDialogoue(options) {
		    	this.openHolidayModal(options);
		    },
		    showDeleteConfirmation(holidayId, holidayName) {
                    const title = 'Are you sure you want to delete this holiday?';
                    const msg = `${holidayId} ${holidayName}`;
                    this.confirmDialog(title, msg, 'Yes', 'No', 'sm')
                        .then(({ok}) => {
                            if (ok) {
								this.delete(holidayId).then(() => this.reload());
								this.notifyDialog('error', 'Successfully deleted!');
							}
                        });

		    }
		},
		components: {
			Select2,
			DataTable,
			PageHeader,
			PageContent,
			ModalDialog,
			CreateHolidayModal,
			BackButton
		},
		mixins: [
			ModalDialogMixin,
			DataTableMixin,
			AlertMixin
		]
	}
</script>
