<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="back-btn-wrapper col-md-12">
                                <back-button :text="'Back'" :route="doTriggerBack"></back-button>
                                <back-button
                                    v-if="!(showMainMenu == 'true')"
                                    :text="'Go to Main'"
                                    :route="'index'"
                                    style="margin-left: 10px;">
                                </back-button>
                            </div>
                            <div class="col-sm-12 col-md-7 mt-5">                                
                                <div class="dataTable_buttons">
                                    <Can I="add" a="work_from_home_requests">
                                        <button type="button" @click="openModalForm('create')" tag="button" class="btn btn-primary">File a Request</button>
                                    </Can>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5">
								<a
								href="#"
								title="Refresh Requests"
                      			@click.prevent="refreshList"
								>
									<span class="refresh">
										<i v-if="loading" class="fa fa-spinner fa-spin"></i>
										<i v-else class="la la-refresh"></i>
									</span>
								</a>
							</div>
                        </div>
                        <div id="noSearch">
                            <data-table
                                :columns="data.columns"
                                :pagination="config.pagination"
                                @sort="sortList($event)"
                                @select="updateList($event)"
                                @search="search($event)"
                                @prev="paginate('prev')"
                                @next="paginate('next')"
                                @page="paginate($event)"
                            >
                                <!-- BEGIN STATUS DATA -->
                                <tbody v-if="wfhRequests.length">
                                    <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(request, index) in wfhRequests"
                                    :key="request.id">
                                    <td>{{ [request.start_date, "YYYY-MM-DD"] | moment("MMM D, YYYY") }}</td>
                                    <td>{{ [request.end_date, "YYYY-MM-DD"] | moment("MMM D, YYYY") }}</td>
                                    <td><div v-html="request.reason"></div></td>
                                    <td>{{ request.notified_at ? "Sent" : "Pending" }}</td>
                                    <td>
                                        <a href="#" class="action-button" title="Edit Work From Home Request" @click="openModalForm('edit', request)">
                                            <i class="la la-pencil"></i>
                                        </a> 
                                    </td>
                                    </tr>
                                </tbody>
                                <!-- END STATUS DATA -->
                            </data-table>
                        </div>
                    </div>
                </div>
            </div>
            
          
            <create-work-from-home v-if="open" :openModal="open" @success="reload" @close="closeModal" :info="form"></create-work-from-home>
            <edit-work-from-home v-if="editOpen" :openModal="editOpen" @success="reload" @close="editCloseModal" :info="form"></edit-work-from-home>
            <!-- END MODAL DIALOG -->
        </page-content>
    </div><!-- BEGIN MODAL DIALOG -->
</template>
<style scoped>
	.refresh {
		float: right;
		font-size: 25px;
		padding: 10px;
    }


</style>
<style>
    #noSearch #search-field, #noSearch .search-icon  {
        display:none
    }

    .modal {
        max-width: 600px;
        margin: 61px auto!important;
    }

    .modal-backdrop {
        padding: 0!important;
        width: 100vw!important;
        height: 100%;
    }

    @media screen and (max-width: 576px) and (min-width: 413px) {
        .row.content-row.d-flex.align-items-center > div:first-child {
            display: none!important;
        }
    }

    @media screen and (max-width: 430px) {
        .modal-header {
            flex-direction: column!important;
            align-items: flex-start!important;
        }

        .modal-header h4 {
            margin: 0 0 10px 0!important;
        }
    }

    @media screen and (max-width: 414px) {
        .modal-backdrop {
            width: 100vw!important;
        }

        .modal {
            max-width: 410px!important;
        }
    }

    @media screen and (max-width: 375px) {
        .modal {
            max-width: 392px!important;
        }
    }
</style>

<script>
    //Components
    import PageHeader from '@components/page-header.vue';
    import PageContent from '@components/page-content.vue';
    import DataTable from '@components/datatable.vue';
    import Select2 from '@components/select2.vue';
    import FlatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import SaveButton from '@components/form/button.vue';
    import BackButton from '@components/back-button.vue';

    //Models
    import { Employee } from '@common/model/Employee';

    //Modals
    import ModalDialog from '@components/modal-dialog.vue';
    import CreateWorkFromHome from '@views/pages/work-from-home/_modals/create-work-from-home.vue';
    import EditWorkFromHome from '@views/pages/work-from-home/_modals/edit-work-from-home.vue';

    //Mixins
    import DataTableMixin from '@common/mixin/DataTableMixin';
    import EmployeeMixin from '@common/mixin/EmployeeMixin';
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
    import DatePickerMixin from '@common/mixin/DatePicker';
    import ObjectHelperMixin from '@common/mixin/ObjectHelperMixin';

    import { mapGetters, mapActions } from 'vuex';
    import _ from 'lodash';

    export default {
        components: {
            PageHeader,
            PageContent,
            DataTable,
            ModalDialog,
            CreateWorkFromHome,
            EditWorkFromHome,
            Select2,
            FlatPickr,
            SaveButton,
            BackButton
        },
        mixins: [
            DataTableMixin,
            EmployeeMixin,
            ModalDialogMixin,
            ObjectHelperMixin,
            DatePickerMixin,
        ],
        data() {
            let sortKey = 'employee_no';
	        let columns = [
	            { label: 'Start Date', key: 'start_date', sortKey: 'start_date', width: '15%', sortable: true },
	            { label: 'End Date', key: 'end_date', sortKey: 'end_date', width: '15%', sortable: true },
                { label: 'Reason', key: 'reason', sortKey: 'reason', width: '40%', sortable: true },
                { label: 'Status', key: 'notified_at', sortKey: 'notified_at', width: '10%', sortable: true },
                { label: 'Action', key: 'action', sortKey: 'action', width: '10%', sortable: false },
	        ];
            let sortOrder = {
                id: 'desc'
            };

            columns.forEach((col) => {
                sortOrder[col.sortKey] = 'desc';
            });

            return {
                pageClass: 'ks-content-nav',
                title: 'Work From Home Request',
                sortKey: 'id',
                sortOrder: sortOrder,
                open: false,
                editOpen: false,
                pageLimit: 10,
                loading: false,
                data: {
                    columns: columns,
                    rows: []
                },
                option: {
                    // height: 'auto',
                    // bottom: 'auto'
                },
                formData: {
                    employee_id: '',
                    start_date: '',
                    end_date: '',
                    reason: '',
                },
                validation: [
                    { path: 'start_date', name: 'start_date', rule: 'required', msg: {required: 'The start date field is required'} },
                    { path: 'end_date', name: 'end_date', rule: 'required', msg: {required: 'The end date field is required'} },
                    { path: 'reason', name: 'reason', rule: 'required', msg: {required: 'The reason field is required'} },
	            ],
                listedDates: [],
                showMainMenu: '',
                isConflictDate: false,
                hasDBError: false,
                dbError: [],
                form:{}
            }
        },
        mounted() {
            this.createdBulkLoad();
        },
        computed: {
            ...mapGetters({
                loggedInUser: 'auth/data',
                loggedInEmployee: 'employees/logged_in_employee',
                wfhRequests: 'workFromHome/list',
                meta:'workFromHome/meta',
            }),
            valid: function() {
                let valid = true;

                // check validation form validation set rule
                _.each(this.validation, (form) => {
                    // break validation rule
                    let rules = form.rule.split('|');

                    // validate accordingly
                    _.each(rules, (rule) => {
                        if (rule == 'required') {
                            if (_.isEmpty(_.get(this.formData, form.path))) {
                                valid = false;
                                return;
                            }
                        }
                    });

                    if (!valid) {
                        return;
                    }
                });

                return valid;
            },
            disableDates() {
                let disabledDates = [];
                let results = [];

                _.each(this.wfhRequests, (req) => {
                    let dates = this.getDatesByDateRange(req.start_date, req.end_date);

                    disabledDates = dates.concat(disabledDates);
                });

                return disabledDates;
            },
            splitDate() {
                let dates = this.listedDates.toString().split(',');
                let vm = this;
                let dateFinal = [];

                dates.forEach(function(i) {
                    dateFinal.push(vm.$moment(i).format('MMM DD, YYYY'));
                });

                return dateFinal.join('<br>');
            },
            isEmployee() {
                const employeeRoleId = 3;
                const index = _.findIndex(this.loggedInUser.data.roles.data, ['role_id', employeeRoleId]);

                return index !== -1;
            },
            doTriggerBack() {
                let page = 'index';
                if (this.showMainMenu == 'true') {
                    page = 'index';
                } else {
                    if(this.isEmployee) {
                        page = 'time-management';
                    }
                    if (this.loggedInUser.data.hasOwnProperty('activeClientId')) {
                        page = 'manage-reports';
                    }
                    if (this.isUserAdmin(this.loggedInUser)) {
                        page = 'manage-employees';
                    }
                }
                return page;
            }
        },
        created: function(){
            let urlParams = new URLSearchParams(window.location.search);
            let myParam = urlParams.get('direct');
            let year = new Date().getFullYear();
            let month = new Date().getMonth() + 1;
            let day = new Date().getDate();

            let date = year + '-' + month + '-' + day;
            this.showMainMenu = myParam;

            this.formData.start_date = date;
            this.formData.end_date = date;

            $(window).resize(function(){
                if($(this).width() <= 414){
                    $('meta[name=viewport]').attr("content", "width=device-width, initial-scale=1.2");
                }
                else {
                    $('meta[name=viewport]').attr("content", "width=device-width, initial-scale=1");
                }
            });
        },
        methods: {
            ...mapActions({
                getLoggedInEmployee: 'employees/getLoggedInEmployee',
                saveWfhRequest: 'workFromHome/saveRequest',
                getWfhRequest: 'workFromHome/getWfhList',
            }),
            async createdBulkLoad() {
                let params = {
                    user_id: this.loggedInUser.data.id,
                    include: 'workFromHomeRequests',
                };
                await this.getLoggedInEmployee(params);
                await this.getWfhRequest(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id , orderBy: ['id|desc']}));
                this.setPagination(this.meta.pagination);
            },
            async search(term) {
                this.setSearch(term);
                await this.getWfhRequest(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
                this.setPagination(this.meta.pagination);
            },
            async reload() {
                await this.getWfhRequest(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
		    	this.setPagination(this.meta.pagination);
                this.open = false;
                this.editOpen = false;
            },
            async paginate(page) {
                this.gotoPage(page);
                await this.getWfhRequest(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
	            this.setPagination(this.meta.pagination);
            },
            async updateList(pageLimit) {
                this.setPaginationLimit(pageLimit);
                await this.getWfhRequest(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
                this.setPagination(this.meta.pagination);
            },
            async setPaginate(page) {
                this.gotoPage(page);
                await this.getWfhRequest(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
                this.setPagination(this.meta.pagination);
            },
            async refreshList() {
				this.loading = true;
				await this.getWfhRequest(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
				this.setPagination(this.meta.pagination);
				this.loading = false;
            },
            async sortList(key) {
                this.sortKey = key;
                this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
                this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);

                await this.getWfhRequest(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
                this.setPagination(this.meta.pagination);
            },
            openModalForm(formAction, record=null) {
                if (formAction == 'create') {
                    this.open = true;
                    this.form.key = formAction;
                    this.form.name = 'Request Work From Home';
                    this.form.employee_id = this.loggedInEmployee.id;
                }
                if (formAction == 'edit') {
                    this.editOpen = true;
                    this.form.key = formAction;
                    this.form.name = 'Edit Request Work From Home';
                    this.form.employee_id = this.loggedInEmployee.id;
                    this.form.record = record;
                }
            },
            closeModal() {
                this.open = false;
                this.loading = false;
            },
            editCloseModal() {
                this.editOpen = false;
                this.loading = false;
            },
            today() {
                const today = new Date();
                return moment(today).format('YYYY-MM-DD');
            },
        },
    }
</script>
