<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="back-btn-wrapper col-md-12">
                                <back-button
                                    :text="'Go to Main'"
                                    :route="'index'"
                                    style="margin-left: 10px;">
                                </back-button>
                            </div>
                            <div class="col-sm-12 col-md-7 mt-5">
                                <div class="dataTable_buttons">
                                    <button type="button" @click="openModalForm('export')" tag="button" class="btn btn-primary">Export</button>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 mt-5 text-right pr-5">
                              <a href="#" title="Refresh Requests" @click.prevent="refreshList">
                                <span class="refresh">
                                  <i v-if="loading" class="fa fa-spinner fa-spin"></i>
                                  <i v-else class="la la-refresh"></i>
                                </span>
                              </a>
                            </div>
                        </div>
                        <!-- BEGIN LEAVE CREDIT TYPES TABLE -->
                        <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            @sort="sortList($event)"
                            @select="updateList($event)"
                            @search="search($event)"
                            @prev="setPaginate('prev')"
                            @next="setPaginate('next')"
                            @page="setPaginate($event)">

                            <tbody>
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(workFromHomeRequest, index) in workFormHomeRequests"
                                    :key="workFromHomeRequest.id">
                                    <td>{{ workFromHomeRequest.employee_no }}</td>
                                    <td>{{ workFromHomeRequest.employee_name }}</td>
                                    <td>{{workFromHomeRequest.projects}}</td>
                                    <td>{{ workFromHomeRequest.positions }}</td>
                                    <td>{{ [workFromHomeRequest.start_date, "YYYY-MM-DD"] | moment("MMM D, YYYY") }}</td>
                                    <td>{{ [workFromHomeRequest.end_date, "YYYY-MM-DD"] | moment("MMM D, YYYY") }}</td>
                                    <td><div v-html="workFromHomeRequest.reason"></div></td>
                                </tr>
                                
                            </tbody>
                        </data-table>
                    </div>
                </div>
            </div>
        </page-content>
        <export-work-from-home v-if="exportOpen" :openModal="exportOpen" @success="reload" @close="exportCloseModal" :info="form"></export-work-from-home>
    </div>
</template>

<script>

    // Components
    import PageHeader from '@components/page-header.vue';
    import PageContent from '@components/page-content.vue';
    import DataTable from '@components/datatable.vue';
    import Select2 from '@components/select2.vue';
    import BackButton from '@components/back-button.vue';

    // Mixins
    import DataTableMixin from '@common/mixin/DataTableMixin';
    import ObjectHelperMixin from '@common/mixin/ObjectHelperMixin';

    // Libraries
    import { mapActions, mapGetters } from 'vuex';

    // Modals
    import ExportWorkFromHome from '@views/pages/work-from-home/_modals/export-work-from-home.vue';

    export default {
        data() {
            let sortKey = 'start_date';
            let sortOrder = {};
            let columns = [
                { label: 'Employee Number', key: 'employee_no', sortKey: 'employee_no', width: '10%', sortable: true },
                { label: 'Name', key: 'fullname', sortKey: 'fullname', width: '20%', sortable: true },
                { label: 'Project', key: 'projects', sortKey: 'projects', width: '15%', sortable: false },
                { label: 'Position', key: 'employee.positions.job_title', sortKey: 'employee.positions.job_title', width: '15%', sortable: false },
                { label: 'Start Date', key: 'start_date', sortKey: 'start_date', width: '10%', sortable: true },
                { label: 'End Date', key: 'end_date', sortKey: 'end_date', width: '10%', sortable: true },
                { label: 'Reason', key: 'reason', sortKey: 'reason', width: '30%', sortable: true },
            ];

            columns.forEach(function(col) {
                sortOrder[col.sortKey] = 'desc'
            });

            return {
                title: 'Work From Home Report',
                pageClass: 'ks-content-nav',
                sortKey: sortKey,
                sortOrder: sortOrder,
                pageLimit: 50,
                loading: false,
                exportOpen: false,

                data: {
                    columns:columns,
                    rows: []
                },
                form:{}
            }
        },
        async created() {
            this.setSorting(`${this.sortKey}|${this.sortOrder[this.sortKey]}`);
            await this.getWorkFromHomeRequests(this.getParams());
            this.setPagination(this.meta.pagination);
        },
        computed: {
            ...mapGetters({
                loggedInUser: 'auth/data',
                loggedInEmployee: 'employees/logged_in_employee',
                workFormHomeRequests: 'workFromHome/list',
                meta: 'workFromHome/meta',
            }),
        },
        methods: {
            ...mapActions({
                getWorkFromHomeRequests: 'workFromHome/getWfhList',
            }),
            async setPaginate(page) {
                this.gotoPage(page);
                await this.getWorkFromHomeRequests(this.getParams());
                this.setPagination(this.meta.pagination);
            },
            async search(term) {
                this.gotoPage();
                this.setSearch(term);
                await this.getWorkFromHomeRequests(this.getParams());
                this.setPagination(this.meta.pagination);
            },
            async sortList(key) {
                this.sortKey = key;
                this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
                this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
                await this.getWorkFromHomeRequests(this.getParams());
                this.setPagination(this.meta.pagination);
            },
            async updateList(pageLimit) {
                this.setPaginationLimit(pageLimit);
                await this.getWorkFromHomeRequests(this.getParams());
                this.setPagination(this.meta.pagination);
            },
            async reload() {
                await this.getWorkFromHomeRequests(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
                this.setPagination(this.meta.pagination);
            },
            async refreshList() {
                this.loading = true;
                await this.getWorkFromHomeRequests(_.merge(this.getParams(),{employee_id: this.loggedInEmployee.id}));
                this.setPagination(this.meta.pagination);
                this.loading = false;
            },
            openModalForm(formAction, record=null) {
                if (formAction == 'export') {
                    this.exportOpen = true;
                    this.form.key = formAction;
                    this.form.name = this.title;
                    this.form.employee_id = this.loggedInEmployee.id;
                }
            },
            exportCloseModal() {
                this.exportOpen = false;
                this.loading = false;
            },
        },
        components: {
            Select2,
            DataTable,
            PageHeader,
            PageContent,
            ExportWorkFromHome,
            BackButton,
        },
        mixins: [
            DataTableMixin,
            ObjectHelperMixin,
        ],
    }
</script>
