<template>
	<modal-dialog v-show="openModal" :options="option" :title="info.name" @close="closeModal">
		<template slot="button">
            <save-button :loading="loading" :options="button" @action="save" :disabled="!isValid">{{info.name}}</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" :class="{'has-error': errors.has('title') || hasSSerror}">
                                <label>Title<span class="error">*</span></label>
                                <input type="text" v-validate="'required'" ref="title" name="title" class="form-control" v-model="positionData.job_title" @keyup="resetSSError"/>
                                <span v-show="errors.has('title')" class="help-block form-error">{{ errors.first('title') }}</span>
                                <span v-show="hasSSerror" class="help-block form-error">{{ ssError }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea name="description" class="form-control" v-model="positionData.job_description" rows="5"></textarea>
                            </div>
                        </div>
						<div class="col-sm-12">
                            <div class="form-group">
                                <label>Type<span class="error">*</span></label>	
								<select2 
									name="type"	
									:options="typeSelection"
									:value="positionData.type"
									@select="positionData.type = $event" />
									<span v-show="errors.has('type')" class="help-block form-error">{{ errors.first('type') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<script>
	import _ from 'lodash';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import Select2 from '@components/select2.vue';

	import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import AlertMixin from '@common/mixin/AlertMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		props: {
			info: { type: Object, required: true}
		},
		data() {
			return {
				valid:false,
				option: { width: '500px' },
	            positionData: {id: '', job_title: '',job_description: '', type: ''},
	            button: { class: 'btn btn-primary',type: 'button' },
	            loading: false,
	            manualInput : false,
	            validation: [
	                { path: 'job_title', name: 'job_title', rule: 'required', msg: {required: 'The title field is required'} },
	            ],
	            hasSSerror: false,
	            ssError: null,
				positionDBVal:'',
				typeSelection: [
                    {id: '1', text: 'Developer'},
                    {id: '2', text: 'Tester'},
					{id: '3', text: 'Manager'},
					{id: '4', text: 'Creative'},
					{id: '5', text: 'Leadership'},
					{id: '6', text: 'Administrative'},
                ],
			}
		},
		computed: {
			...mapGetters({
				position:'jobPositions/position',
			}),
			isValid() {
				let valid = true;
				_.each(this.validation, (form) => {
					let rules = form.rule.split('|')
					// validate accordingly
	                _.each(rules, (rule) => {
	                    if (rule == 'required') {
	                        if (this.isEmpty(_.get(this.positionData, form.path))) {
	                            valid = false;
	                            return;
	                        }
	                    }
	                });

	                if (!valid) return;
				})
				return valid;
			}
		},
		async created() {
			if (!_.isUndefined(this.info.position)) {
				await this.fetchPosition(this.info.position);
				this.positionData = this.position;
				this.positionData.type = await (_.findIndex(this.typeSelection, { 'text': this.position.type }))+1;
				this.positionDBVal = this.position.job_title;
			} 
		},
		methods: {
			...mapActions({
				savePosition: 'jobPositions/savePosition',
				fetchPosition: 'jobPositions/getJobPosition',
                searchPositionByJobTitle: 'jobPositions/searchPositionByJobTitle'
			}),
			async save() {
				this.loading = true;

                // This will check if the position was previously added. If exists, this will restore the soft-deleted
			    await this.searchPositionByJobTitle(this.positionData.job_title);
			   if(this.position.length && this.position[0].deleted_at){
			        this.positionData.id = this.position[0].id;
                }

				this.hasSSerror = false;
				this.ssError = '';
				this.errors.clear();
				this.savePosition(this.positionData).then(() => {
					this.$emit('success');
					setTimeout(() => {
						this.closeModal();
						this.loading = false;
						this.positionData = {};
						this.notifyDialog('success', 'Successfully saved!');
					},150);
				}).catch((e) => {
					this.loading = false;
					this.hasSSerror = true;
					this.ssError = e.response.data.message.job_title[0];
				});
			},
			resetSSError(event) {
				if(event.target.value.trim() != this.positionDBVal) {
					this.hasSSerror = false;
					this.ssError = '';
				}
			}
		},
		components: {
	        GenerateButton,
	        SaveButton,
			ModalDialog,
			Select2
	    },
	    mixins: [
	    	DataTableMixin,
	        ModalDialogMixin,
			StringHelperMixin,
			AlertMixin
	    ]
	}
</script>
