<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container feedback">
                        <div class="back-btn-wrapper mb-4">
							<back-button :text="'Back'" :route="'index'"></back-button>
						</div>
                        <div v-if="loading" class="loader"></div>
                        <template v-else>
                            <div v-for="element in formElements" :key="element.id" class="row">
                                <field-component :data="element" @update="updateElementValue"></field-component>
                            </div>
                            <div class="mt-2">
                                <save-button :loading="isLoading"  @action="submit" :disabled="!valid">Send</save-button>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>

<script>
    // libraries
    import _ from 'lodash';

    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import FieldComponent from '@components/form/field-component.vue';
    import SaveButton from '@components/form/button';

    import { mapActions, mapGetters } from 'vuex'
    import AlertMixin from "@common/mixin/AlertMixin";

    export default {
        components: {
            PageHeader,
            PageContent,
            BackButton,
            FieldComponent,
            SaveButton
        },
        mixins:[
            AlertMixin
        ],
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Your feedback on something, matters to everything.',
                isLoading: false,
                formElements: {
                    data: []
                },
                loading: false,
            }
        },
        created() {
            this.initialize();
        },
        computed: {
            ...mapGetters({
                currentUser: 'auth/data',
                feedbackCategoriesData: 'feedbackCategories/data',
            }),
            valid() {
                return this.errors.items.length ? false : true;
            }
        },
        methods: {
            ...mapActions({
                getFeedbackCategories: 'feedbackCategories/getFeedbackCategories',
                saveFeedback: 'feedbacks/saveFeedback',
            }),
            async initialize() {
                this.loading = true;
                this.formElements = [];

                await this.getFeedbackCategories({query: {take: 99999, names: 'name', orderBy:['name|asc']}});
                let feedbackCat = this.feedbackCategoriesData;
                let feedbackCatOptions = [];

                feedbackCat.forEach((cat) => {
                    feedbackCatOptions.push(
                        {
                            value: cat.id,
                            text: cat.name
                        }
                    );
                });
                feedbackCatOptions = _.orderBy(feedbackCatOptions, ['text'],['asc']); // Sort feedbackCatOptions, ASC
                this.formElements = [
                    {
                        type: "select",
                        id: 'category_id',
                        label: 'Category',
                        value:'',
                        class: 'col-md-12', 
                        is_required: true,
                        is_hidden: false,
                        options:  feedbackCatOptions
                    },
                    {
                        type: "wysiwyg",
                        id: 'feedback',
                        label: 'Feedback',
                        value:'',
                        class: 'col-md-12',
                        is_required: true,
                        is_hidden: false                       
                    },
                    {
                        type: "checkbox",
                        id: 'is_anonymous',
                        label: '',
                        value:[],
                        class: 'col-md-12',
                        is_required: 0,
                        is_hidden: false,                        
                        options:  [{ value:'send_as_anonymous', text: 'Send as anonymous'}],
                    }
                ];
                this.loading = false;
            },
            updateElementValue(id, value) {
                _.each(this.formElements, (el) => {
                    if(el.id === id) {
                        el.value = value;
                    }
                });
            },
            async submit() {
                const user_id = this.currentUser.data.id;
                const formValues = _.map(this.formElements, form => ({
                    [form.id]: form.value,
                }));
                let data = {...formValues[0], ...formValues[1], user_id};

                if (formValues[2].is_anonymous.length) {
                    delete data.user_id;
                }

                await this.saveFeedback(data);
                this.notifyDialog('success', 'Thank you!', 'Your feedback has been saved!');
                this.initialize();
            }
        }
    }
</script>
