<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <div class="back-btn-wrapper mb-4">
                                    <back-button :text="'Back'" :route="'index'"></back-button>
                                </div>
                            </div>
                        </div>
                        <data-table
                                :columns="data.columns"
                                :sortKey="sortKey"
                                :sortOrder="sortOrder"
                                :pagination="config.pagination"
                                :searchOptions="searchOptions"
                                :searchSuggestLimit="7"
                                :showSearch="true"
                                :searchPlaceholder="searchTxt"
                                :userFriendlyMode="true"
                                @sort="sortList($event)"
                                @select="updateList($event)"
                                @search="search($event)"
                                @prev="setPaginate('prev')"
                                @next="setPaginate('next')"
                                @page="setPaginate($event)">
                            <tbody>
                            <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    style="cursor: pointer"
                                    v-for="(feedback, index) in feedbackResponsesData"
                                    :key="feedback.id">

                                <td>{{ getEmployeeName(feedback) }}</td>
                                <td><div v-html="feedback.feedback"></div></td>
                                <td>{{ feedback.catname }}</td>
                                <td>{{ dateFormat(feedback.date_submitted) }}</td>
                                <td align="center">
                                    <a href="javascript:;" class="action-button" title="View Feedback details" @click="showResponseDetails(feedback.id)">
                                        <i class="la la-file-text-o"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </data-table>
                    </div>
                </div>
            </div>
        </page-content>
        <feedback-details-modal v-if="opendetails" :feedbackResponse="feedbackData" :openModal="opendetails" @success="opendetails=false" @close="opendetails=false"></feedback-details-modal>
    </div>
</template>

<script>
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import DataTable from '@components/datatable.vue'

    //Modals
    import ModalDialog from '@components/modal-dialog.vue';
    import FeedbackDetailsModal from '@views/pages/feedback-entry/_modals/feedback-details.vue';

    import { mapActions, mapGetters } from 'vuex';

    // Mixins
    import DataTableMixin from '@common/mixin/DataTableMixin';
    import DateMixin from '@common/mixin/DateMixin';

    export default {
        data() {
            let sortOrder = {};
            let sortKey = 'date_submitted';
            let columns = [
                { label: 'Sender', key: 'full_name', sortKey: 'full_name', width: '20%', sortable: true },
                { label: 'Feedback', key: 'feedback', sortKey: 'feedback', width: '40%', sortable: false },
                { label: 'Category', key: 'catname', sortKey: 'catname', width: '20%', sortable: true },
                { label: 'Date Submitted', key: 'date_submitted', sortKey: 'date_submitted', width: '15%', sortable: true },
                { label: 'Action', key: 'action', sortKey: '', width: '5%', sortable: false }
            ];

            columns.forEach(function(col) {
                sortOrder[col.sortKey] = 'desc'
            });

            return {
                pageClass: 'ks-content-nav',
                title: 'Feedback Responses',
                searchTxt: 'Search Name or Category',
                sortKey:sortKey,
                sortOrder:sortOrder,
                pageLimit: 10,
                searchOptions: [],
                data: {
                    columns:columns
                },
                opendetails: false,
            }
        },
        components: {
            BackButton,
            PageContent,
            PageHeader,
            DataTable,
            ModalDialog,
            FeedbackDetailsModal
        },
        mixins: [
            DataTableMixin,
            DateMixin
        ],
        async created() {
            let key = 'date_submitted';
            this.sortKey = key;
            this.sortOrder[key] = this.sortOrder[key] == 'desc' ? 'desc' : 'asc';
            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
            
            await this.setPaginationLimit(this.limit);
            await this.getFeedbacks({query:this.getParams()});
            this.setPagination(this.meta.pagination);
            await this.getFeedbackCategories({query: {take: 99999, names: 'name, id'}});
            await _.each(this.feedbackCategoriesData, (key) => {
                this.searchOptions.push(key.name);
            });

        },
        computed: {
            ...mapGetters({
                feedbackResponsesData: 'feedbacks/data',
                feedbackRecord: 'feedbacks/feedback',
                feedbackCategoriesData: 'feedbackCategories/data',
                meta: 'feedbacks/meta'
            }),
            feedbackData: function(){
                return this.feedbackRecord
            }
        },
        methods: {
            ...mapActions({
                getFeedbacks: 'feedbacks/getFeedbacks',
                getFeedback: 'feedbacks/getFeedback',
                getFeedbackCategories: 'feedbackCategories/getFeedbackCategories',
            }),
            async reload(){
                let key = 'date_submitted';
                this.sortKey = key;
                this.sortOrder[key] = this.sortOrder[key] == 'desc' ? 'desc' : 'asc';
                this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
                await this.getFeedbacks({query:this.getParams()});
                this.setPagination(this.meta.pagination);
                this.opendetails = true;
            },
            async setPaginate(page) {
                this.gotoPage(page);
                await this.getFeedbacks({query:this.getParams()});
                this.setPagination(this.meta.pagination);
            },
            async search(term) {
                this.setSearch(term);
                await this.getFeedbacks({query:this.getParams()});
                this.setPagination(this.meta.pagination);
            },
            dateFormat(date) {
                return this.formatDate(new Date(date), "LLL");
            },
            getEmployeeName(feedbackRecord) {
              return feedbackRecord.full_name ? feedbackRecord.full_name : "Anonymous";
            },
            getCategoryName(catId) {
                let category = '';
                this.feedbackCategoriesData.forEach((cat) => {
                    if(cat.id == catId) {
                        category = cat.name;
                    }
                })
                return category
            },
            async sortList(key) {
                this.sortKey = key;
                this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
                this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);

                await this.getFeedbacks({query:this.getParams()});
                this.setPagination(this.meta.pagination);
            },
            async updateList(pageLimit) {
                this.setPaginationLimit(pageLimit);
                await this.getFeedbacks({query:this.getParams()});
                this.setPagination(this.meta.pagination);
            },
            async showResponseDetails(responseId) {
                await this.getFeedback(responseId);
                this.feedbackRecord.empName = this.getEmployeeName(this.feedbackRecord);
                this.feedbackRecord.catName = this.getCategoryName(this.feedbackRecord.category_id);
                this.feedbackRecord.dateSubmitted = this.dateFormat(this.feedbackRecord.created_at);
                this.opendetails = true;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .back-btn-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
    .action-button {
        font-size: 20px;
    }    
</style>
<style>
    #autosuggest__input {
        border: 1px solid #dee0e1 !important;
        margin-left: 24px;
    }
</style>
