<template>
    <modal-dialog v-show="openModal" :options="option" :title="modal_title" :closeButtonText="closeBtnTxt" @close="closeModal">
        <template slot="body">
            <div class="showStatusBody">
                <div class="row">
                    <table class="table table-striped table-bordered dataTable" width="100%" role="grid" aria-described-by="ks-datatable-info">
                       
                        <tbody>
                            <tr :class="'odd'"
                                style="cursor: pointer">

                                <td>Sender</td>
                                <td>{{feedbackResponse.empName}}</td>
                            </tr>
                            <tr :class="'even'"
                                style="cursor: pointer">

                                <td>Category</td>
                                <td>{{feedbackResponse.catName}}</td>
                            </tr>
                            <tr :class="'odd'"
                                style="cursor: pointer">

                                <td>Feedback</td>
                                <td><div v-html="feedbackResponse.feedback"></div></td>
                            </tr>
                            <tr :class="'even'"
                                style="cursor: pointer">

                                <td>Date Submitted</td>
                                <td>{{feedbackResponse.dateSubmitted}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>

<script type="text/javascript">
    //Components
    import ModalDialog from '@components/modal-dialog.vue';

    //Mixins
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';

    export default {
        props: {
            feedbackResponse: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                option: {
                    height: 'auto',
                    width: '800px',
                    bottom: 'auto'
                },
                closeBtnTxt: 'Close',
                modal_title: 'Feedback Response Details: '
            }
        },
        computed: {
        },
        async created (){

        },
        methods: {
        },
        components: {
            ModalDialog
        },
        mixins: [
            ModalDialogMixin
        ]
    }
</script>
