@import "../config/ui";

/* BEGIN UIKIT TOOLTIP */
.tooltip { 
    font-family: $ks-base-font-name;
    font-size: 13px;
    opacity: 1 !important;
  
    &.in {
        opacity: 1;
    }
}

.tooltip.tooltip-top .tooltip-inner::before, .tooltip.bs-tether-element-attached-bottom .tooltip-inner::before {
    border-top-color: #09a143 !important;
}

.tooltip.tooltip-right .tooltip-inner::before, .tooltip.bs-tether-element-attached-left .tooltip-inner::before {
    border-right-color: #09a143 !important;
}

.tooltip.tooltip-bottom .tooltip-inner::before, .tooltip.bs-tether-element-attached-top .tooltip-inner::before {
    border-bottom-color: #09a143 !important;
}

.tooltip.tooltip-left .tooltip-inner::before, .tooltip.bs-tether-element-attached-right .tooltip-inner::before {
    border-left-color: #09a143 !important;
}

.tooltip-inner {
    max-width: 450px;
    padding: 10px 21px;
    background-color: #ebf4ed;
    border-radius: 3px;
    opacity: 1 !important;
    border: 1px solid #09a143;
    color:#333;
}

/* END UIKIT TOOLTIP */