<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container">
                        <div class="back-btn-wrapper mb-4">
							<back-button :text="'Go to Main'" :route="'index'"></back-button>
						</div>
                        <div class="row">
                            <fs-form-step-wizard
                                v-if="formStepWizardSettings"
                                :settings="formStepWizardSettings"
                                @submit="submitForm"                            
                                @navigate-pages="getCurrentPage"
                            >
                                <div v-if="!submitted && page == 1" class="row p-4">
                                    <field-component v-for="element in formStepWizardSettings.pages[0].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                </div>
                                <div v-if="!submitted && page == 2" class="row p-4">
                                    <field-component v-for="element in formStepWizardSettings.pages[1].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                                </div>
                                <div v-if="submitted" class="row p-4">
                                    <h3 class="col-md-12 thank-you">Thank You!</h3>
                                    <p class="col-md-12 text-center my-4 text-secondary h6 display-inline">We have received the details of your request and will review it shortly.
                                        For further inquiry, you may contact us! </p>
                                    <a href="tel:9135534510" class="mx-auto btn btn-success btn-lg call-us" role="button" aria-pressed="true">Call Us</a>
                                </div>
                            </fs-form-step-wizard>
                        </div>
                    </div>
                </div>
            </div>
        </page-content>
    </div>
</template>
<style lang="scss">
    h3.thank-you {
        background: transparent !important;
        color: #4aaf4f !important;
    }
    .call-us {
        background: #4cb050 !important;
        padding: 12px 60px !important;
        border-radius: 5px;
    }
</style>
<script>
    // libraries
    import _ from 'lodash';

    // Mixin
    import EmployeeMixin from "@common/mixin/EmployeeMixin";
    import AlertMixin from "@common/mixin/AlertMixin";
    import DownloadMixin from "@common/mixin/DownloadMixin";

    // Components
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import FsFormStepWizard from '@components/form/fs-form-step-wizard.vue';
    import BackButton from "@components/back-button";
    import FieldComponent from '@components/form/field-component.vue';
    import SaveButton from '@components/form/button';

    import { mapActions, mapGetters } from 'vuex'

    //Models
    import { CreativeServiceFile } from '@common/model/CreativeServiceFile';
    

    export default {
        components: {
            PageHeader,
            PageContent,
            FsFormStepWizard,
            BackButton,
            FieldComponent,
            SaveButton
        },
        mixins:[
            AlertMixin,
            EmployeeMixin
        ],
        data() {
            return {
                pageClass: 'ks-content-nav',
                title: 'Creative Team multi-media services',
                isLoading: false,
                formStepWizardSettings: {},
                page: null,
                loading: false,
                submitted: false,
                hidePocFields: null,
                fileUpload: {
                    folder: 'creative-services',
                    name:'test.pdf',
                    medium: null,
                    medium_type: 'file',
                    old_id: '',
                    old_cv: ''
                },
                imageTypes:['JPEG', 'PNG', 'JPG'],
                fileTypes:['PDF', 'DOCX', 'DOC', 'JPEG', 'PNG', 'JPG', 'PSD']
            }
        },
        created() {
            this.initialize();
        },
        computed: {
            ...mapGetters({
                currentUser: 'auth/data'
            })
        },
        methods: {
            ...mapActions({
                saveCreativeServiceApplicants: 'creativeServiceApplicants/saveCreativeServiceApplicant',
                saveCreativeService: 'creativeServices/saveCreativeService',
            }),
            checkSelectedFile(currentFile){
                if(currentFile.name!=''){
                    let extension = currentFile.name.split('.');
                    if(this.fileTypes.indexOf(extension[1].toUpperCase())>=0) {
                        return true;
                    }
                }
                return false;
            },
            getMediumType(currentFile){
                if(currentFile !=''){
                    let extension = currentFile.split('.');
                    if(this.imageTypes.indexOf(extension[1].toUpperCase())>=0) {
                        return 'image';
                    }
                }
                return 'file';
            },
            async submitFile(currentfileUpload){
                    return new Promise((resolve) => {
                        this.loading = true;
                        const creativeServiceFile = new CreativeServiceFile();

                        setTimeout(function(){
                            let $ = jQuery;
                            $("span#uploading-notification").show(200);
                        },15000);

                        try{
                            creativeServiceFile.save(currentfileUpload).then(() => {
                                resolve(true);
                            });
                        }catch(e){
                            const title = 'Error!';
                            const msg = 'An unexpected error has occurred while uploading your resume, please try again.';
                            this.confirmDialog(title, msg, 'Close', '', 'sm');
                            resolve(false);
                        }
                });
            },
            async initialize() {
                let _minDate =  this.getDateNow();

                this.formStepWizardSettings = {
                    form_id: 'creative_services',
                    form_title: 'Creative Services Request Form',
                    stepsClickable: false,
                    pages: [                            
                        {
                            page_id: 1, 
                            page_name: 'Requester info', 
                            page_stepIcon:'',
                            formElements: [
                                {
                                    type: "text",
                                    id: 'full_name',
                                    label: 'Name',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'company',
                                    label: 'Company Name',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "email",
                                    id: 'email',
                                    label: 'Email',
                                    value: '',
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "date",
                                    id: 'needed_at',
                                    label: 'When do you need this project completed?',
                                    value: '',
                                    minDate: _minDate,
                                    maxDate: '',
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "radio",
                                    id: 'primary',
                                    label: 'Are you the primary POC for this project?',
                                    value: '',
                                    class: 'col-md-12',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                            { value:'yes', text: 'Yes'},
                                            { value:'no', text: 'No'}
                                        ]
                                },
                                {
                                    type: "text",
                                    id: 'poc_name',
                                    label: 'Name of POC',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: true
                                },
                                {
                                    type: "email",
                                    id: 'poc_email',
                                    label: 'Email Of POC',
                                    value: '',
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: true
                                },
                                    {
                                    type: "textarea",
                                    id: 'overview',
                                    label: 'Tell us about your project (Please give as much detail as posible)',
                                    value: '',
                                    class: 'col-md-12 textarea-card',
                                    is_required: true,
                                    is_hidden: false
                                },
                            ]
                        },
                        {
                            page_id: 2, 
                            page_name: 'Finish', 
                            page_stepIcon:'la la-paper-plane',
                            formElements: [
                                {
                                    type: "checkbox",
                                    id: 'project',
                                    label: 'WHAT KIND OF PROJECT IS THIS?',
                                    value: [],
                                    class: 'col-md-6 pr-md-0 checkbox-card card-header-bg-green text-center',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'content_writing', text: 'Content Writing'},
                                        { value:'web_design', text: 'Web Design'},
                                        { value:'graphic_design', text: 'Graphic Design'},
                                        { value:'video', text: 'Video'},
                                        { value:'illustration', text: 'Illustration'},
                                        { value:'what_kind_other', text: 'Other'},
                                    ]
                                },
                                {
                                    type: "checkbox",
                                    id: 'purpose',
                                    label: 'WHERE IS THIS GOING?',
                                    value: [],
                                    class: 'col-md-6 pl-md-0 checkbox-card card-header-bg-gray text-center',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'web', text: 'Web'},
                                        { value:'mobile_app', text: 'Mobile App'},
                                        { value:'print', text: 'Print'},
                                        { value:'website_blog', text: 'Website Blog'},
                                        { value:'where_going_other', text: 'Other'},
                                    ]
                                },
                                {
                                    type: "dragdrop-file",
                                    id: 'file',
                                    label: 'PLEASE UPLOAD ANY ASSETS NEEDED FOR THIS PROJECT',
                                    value: [],
                                    class: 'col-md-12 dragdrop-card text-center',                                            
                                    is_required: false,
                                    is_hidden: false
                                },
                            ]
                        }
                    ]
                }               
            },
            getCurrentPage(pageNumber) {
                this.page = pageNumber;
            },
            updateElementField(id, value) {
                // Get user's response for Are you a POC...        
                if(id === 'primary') {
                    this.hidePocFields = null;

                    if(value === 'no') {
                        this.hidePocFields = false;
                    } if(value === 'yes') {
                        this.hidePocFields = true;
                    }
                }

                this.formStepWizardSettings.pages.forEach((page) => {
                    page.formElements.forEach((el) => {
                        
                        // Show/Hide POC' Name & POC's Email
                        if((el.id === 'poc_name' || el.id === 'poc_email') && this.hidePocFields !== null) {
                            el.is_hidden = this.hidePocFields;
                        }

                        // Update field value
                        if(el.id === id) { 
                            el.value = value;                            
                        }
                    });
                });
            },
            async submitForm(){
                await this.doSubmit();
                this.submitted = true;
            },
            async doSubmit() {
                let infoToSave = {};
                let infoDetailToSaveTemp = {};
                let infoDetailToSave = {};
                let idNotIncluded = ["full_name", "email", "poc_name", "poc_email"];
                let newPromises = [];
                let savedData = {};
                let filesToUpload = {};
                let filesToUploadTemp = [];

                _.each(this.formStepWizardSettings.pages, (page) => { 
                    page.formElements.forEach((el) => {
                        if (idNotIncluded.indexOf(el.id) < 0) {
                            let txt_value = "";
                            
                            if (el.type == "checkbox") {
                                let optArray = el.options;
                                let array_value = [];
                                if (el.value.length > 0) {
                                    optArray.forEach((item) => {
                                        el.value.forEach((itm) => {
                                            if (item.value == itm) {
                                                array_value.push(item.text);
                                            }
                                        });
                                    });
                                    txt_value = JSON.stringify(array_value);
                                }
                            } else {
                                txt_value = el.value;
                            }
                            if(el.id != "primary" && el.id != "file") {
                                infoToSave[el.id] = txt_value;
                            }
                            if (el.id == "file") {
                                filesToUploadTemp  = el.value;
                            }
                        } else {
                            infoDetailToSaveTemp[el.id] = el.value;
                        }
                    });                    
                });
                if (!this.hidePocFields) {
                    infoDetailToSave = [
                        {
                            full_name: infoDetailToSaveTemp.full_name,
                            email: infoDetailToSaveTemp.email,
                            primary: 1
                        },
                        {
                            full_name: infoDetailToSaveTemp.poc_name,
                            email: infoDetailToSaveTemp.poc_email,
                            primary: 0
                        }
                    ];
                } else {
                    infoDetailToSave = [
                        {
                            full_name: infoDetailToSaveTemp.full_name,
                            email: infoDetailToSaveTemp.email,
                            primary: 1
                        }
                    ];
                }
                savedData = await this.saveCreativeService(infoToSave);
                if (filesToUploadTemp.length > 0) {
                    filesToUploadTemp.forEach((file) => {
                        let tempfileUpload = {};
                        this.fileUpload.name = file.name;
                        this.fileUpload.medium = file.encoded;
                        this.fileUpload.medium_type = this.getMediumType(file.name);
                        tempfileUpload = this.fileUpload;
                        tempfileUpload.creative_service_id = savedData.data.id;
                        if (file.status != 'error') {
                            newPromises.push(this.submitFile(tempfileUpload));
                        }
                    });
                }
                infoDetailToSave.forEach((row) => {
                    row.creative_service_id = savedData.data.id;
                    newPromises.push(this.saveCreativeServiceApplicants(row));
                });
                Promise.all(newPromises).then((res) => {
					setTimeout(() => {
                        this.notifyDialog('success', 'Successfully saved!');
                    },150);
                });
            }
        },
        beforeDestroy() {
            this.formStepWizardSettings = [];
        }
    }
</script>
