<template>
    <div>
        <page-header :title="title"></page-header>
        <page-content :pageClass="pageClass">
            <div class="ks-nav-body">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <div class="back-btn-wrapper">
                                    <back-button :text="'Back'" :route="'index'"></back-button>
                                </div>
                                
                            </div>
                        </div>
                        <data-table
                            :columns="data.columns"
                            :sortKey="sortKey"
                            :sortOrder="sortOrder"
                            :pagination="config.pagination"
                            :searchOptions="searchOptions"
                            :searchSuggestLimit="7"
                            :showSearch="true"
                            :searchPlaceholder="searchTxt"
                            :userFriendlyMode="true"
                            @sort="sortList($event)"
                            @search="search($event)"
                            @prev="setPaginate('prev')"
                            @next="setPaginate('next')"
                            @page="setPaginate($event)">
                            <tbody>
                                <tr
                                    :class="index % 2 == 0 ? 'even' : 'odd'"
                                    v-for="(response, index) in responses"
                                    :key="response.id">

                                    <td>{{ response.company }}</td>
                                    <td>{{ response.project }}</td>
                                    <td>{{ response.purpose }}</td>
                                    <td>{{ dateFormat(response.created_at) }}</td>
                                    <td>{{ dateFormat(response.needed_at)}}</td>
                                    <td>
                                        <span class="text-danger" v-if="response.status == 'declined'">{{ response.status}}</span>
                                        <span class="text-success" v-else-if="response.status == 'approved'">{{ response.status}}</span>
                                        <span class="text-secondary" v-else>{{ response.status}}</span>
                                    </td>
                                    <td align="center">
                                        <button class="btn btn-info" @click="showFormRequest(response.id)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </data-table>
                    </div>
                </div>
            </div>
            <!-- BEGIN WORK DETAIL DIALOG -->
	        <creative-request-entry-modal :option="option" :responseData="responseData" :openModal="open" @success="reload" :info="form" @close="open = false" ></creative-request-entry-modal>
	        <!-- END WORK DETAIL DIALOG -->
        </page-content>
    </div>
</template>

<script>
    import PageHeader from "@components/page-header";
    import PageContent from "@components/page-content";
    import BackButton from "@components/back-button";
    import DataTable from '@components/datatable.vue';
    import ModalDialog from '@components/modal-dialog.vue';
    import CreativeRequestEntryModal from '@views/pages/creative-request/_modals/creative-request-entry.vue';

    import { mapActions, mapGetters } from 'vuex';

    // Mixins
    import DataTableMixin from '@common/mixin/DataTableMixin';
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
    import DateMixin from '@common/mixin/DateMixin';

    //Models
    import { CreativeServiceFile } from '@common/model/CreativeServiceFile';


    export default {
        data() {
            let sortOrder = {};
            let sortKey = 'date_submitted';
            let columns = [
                { label: 'Company', key: 'company', sortKey: 'company', width: '15%', sortable: true },
                { label: 'Project', key: 'project', sortKey: 'project', width: '15%', sortable: true },
                { label: 'Purpose', key: 'purpose', sortKey: 'purpose', width: '20%', sortable: false },
                { label: 'Date Submitted', key: 'date_submitted', sortKey: 'date_submitted', width: '8%', sortable: true },
                { label: 'Date Needed', key: 'needed_at', sortKey: 'needed_at', width: '8%', sortable: false },
                { label: 'Status', key: 'status', sortKey: 'status', width: '5%', sortable: true },
                { label: 'Action', key: 'action', sortKey: '', width: '5%', sortable: false },
            ];
            columns.forEach(function(col) {
                sortOrder[col.sortKey] = 'desc'
            });

            return {
                pageClass: 'ks-content-nav',
                title: 'Creative Requests',
                searchTxt: 'Search',
                responseData: {},
                projectsData: [
                    "Web Design",
                    "Graphic Design",
                    "Content Writing",
                    "Illustration",
                    "Video",
                    "Other"
                ],
                purposeData: [
                    "Web",
                    "Mobile App",
                    "Print",
                    "Website Blog",
                    "Advertisement"
                ],
                tempFileData:[],
                sortKey:sortKey,
                sortOrder:sortOrder,
                pageLimit: 10,
                open: false,
                data: {
                    columns:columns
                },
                form:{
                    name: 'Creative Request'
                },
                option:{
                    width: '800px',
                    height: 'auto',
                    minHeight: '700px',
                    maxHeight: '800px',
                    bottom: '0',
                    overflowY: 'auto'                    
                },
                formResponse: {},
                searchOptions: []
            }
        },
        components: {
            BackButton,
            PageContent,
            PageHeader,
            ModalDialog,
            CreativeRequestEntryModal,
            DataTable
        },
        mixins: [
            DataTableMixin,
            DateMixin
        ],
        async created() {
            
            let key = 'created_at';
            let tempSearchOpt = [];
            this.sortKey = key;
            this.sortOrder[key] = 'desc';
            this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
            tempSearchOpt = await this.projectsData.concat(this.purposeData);

            await this.setPaginationLimit(this.limit);
            await this.getCreativeServices({query:this.getParams()});

            this.setPagination(this.meta.pagination);

            await _.each(tempSearchOpt, (key) => {
                this.searchOptions.push(key);
            });
        },
        computed: {
            ...mapGetters({
                creativeServices: 'creativeServices/data',
                creativeService: 'creativeServices/creativeService',
                creativeServiceApplicants: 'creativeServiceApplicants/data',
                meta: 'creativeServices/meta'
            }),
            responses: function(){
                let currentResponses = this.creativeServices;
                let newResponses = [];
                currentResponses.forEach((resp) => {
                    let row = resp;
                    let ctr = 0;
                    if(row.status == '') {
                        row.status = 'open';
                    }
                    newResponses.push(row);
                });
                return newResponses;
            }
        },
        methods: {
            ...mapActions({
                getCreativeServices: 'creativeServices/getCreativeServices',
                getCreativeService: 'creativeServices/getCreativeService',
                getCreativeServiceApplicants: 'creativeServiceApplicants/getCreativeServiceApplicants',
            }),
            dateFormat(date) {
                return this.formatDate(new Date(date), "LLL");
            },
            async setPaginate(page) {
                this.gotoPage(page);
                await this.getCreativeServices({query:this.getParams()});
                this.setPagination(this.meta.pagination);
            },
            async search(term) {
                this.gotoPage();
                this.setSearch(term);
                await this.getCreativeServices({query:this.getParams()});
                this.setPagination(this.meta.pagination);
            },
            async sortList(key) {
                this.sortKey = key;
                this.sortOrder[key] = this.sortOrder[key] == 'asc' ? 'desc' : 'asc';
                this.setSorting(`${this.sortKey}|${this.sortOrder[key]}`);
                await this.getCreativeServices({query:this.getParams()});
                this.setPagination(this.meta.pagination);
            },
            async updateList(pageLimit) {
                this.setPaginationLimit(pageLimit);
                await this.getCreativeServices({query:this.getParams()});
                this.setPagination(this.meta.pagination);
            },
            async showFormRequest(responseId) {
                this.open = true;
                let responseResult = {};
                let detailInfo = [];
                let detailCtr = 0;
                let uploadedFiles = [];
                await this.getCreativeService(responseId);
                await this.getCreativeServiceApplicants({query: {creative_service_id: this.creativeService.id}});
                uploadedFiles = await CreativeServiceFile.get({creative_service_id: this.creativeService.id});
                console.log(uploadedFiles);
                responseResult = this.creativeService;
                detailInfo = this.creativeServiceApplicants;
                responseResult.primary_name = '';
                responseResult.primary_email = '';
                responseResult.secondary_name = '';
                responseResult.secondary_email = '';
                responseResult.files = [];
                if (uploadedFiles.data.length > 0) {
                    responseResult.files = uploadedFiles.data;
                }
                detailInfo.forEach((detailRow) => {
                    detailCtr = detailCtr + 1;
                    if (detailRow.primary == 1) {
                        responseResult.primary_name = detailRow.full_name;
                        responseResult.primary_email = detailRow.email;
                    } else {
                        responseResult.secondary_name = detailRow.full_name;
                        responseResult.secondary_email = detailRow.email;
                    }
                });
                responseResult.detailsLen = detailCtr;
                this.responseData = responseResult;
            },
            async reload() {
		    	await this.getCreativeServices({query:this.getParams()});
                this.setPagination(this.meta.pagination);
                this.open = false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .back-btn-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    .action-button {
        font-size: 20px;
    }
</style>
