<template>
    <div class="fs-page col-lg-12 col-md-12 col-sm-12">                  
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-12 textsize">{{ clientInfo.company }}'s Team Builder</div>        
            <p class="col-12"><i class="la la-map-marker"></i> {{ clientInfo.location }}</p> 
            <CarouselResources
                :loading="loading"
                :rows="carouselData"
                :headerTitle="'Client Team'"
                :isTeamBuilder="true"
                :withHeader="false">
            </CarouselResources>
        </div>
    </div>
</template>

<style>
    body {
        position: relative;
        height: 100%;
    }
</style>

<style lang="scss" scoped>
    .fs-page-left, .fs-page-right {
        position: relative;
    }
    .fs-page-right {
        .row > .col {
            margin: 1em 0;
        }
    }
    .client-time {
        margin-top: 10px;
    }
    .filter-position {
        display: inline;
    }
    .editable {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .fs-profile-photo {
        .fs-info-flex.flex-row {
            margin: 0 0 5px;
            padding: 0 1rem 0;
            a {
                width: 100%;
            }
        }
    }
    .fs-company-header {
        .fs-company-name {
            font-size: 20px;
            margin-bottom: 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .fs-company-location {
            margin: -10px 0 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .fs-company-content {
        margin: 10px 0 0;
    }
    .ks-nav-body {
        padding: 0 30px 0!important;
    }
    .client-url {
        color: #25628F!important;
        cursor: pointer;
    }
    .action-button {
        font-size: 20px;
    }
    .fs-back-link {
        padding-top: 15px;
         a {
            color: #333;
        }
    }
    .delete {
        color: #fff;
    }
    .tab-item {
        padding: 15px 43px 0px 15px;
        height: 110px;
        margin-bottom: 20px;
        overflow-y: auto;
    }
    .client-details {
        padding-top: 15px!important;
    }
    .card-header {
        position: relative;
        top: 6px!important;
    }
    .card-block {
        padding-bottom: 5px!important;
    }
    .fs-accord {
        padding-top: 15px!important;
    }
    .profile-photo {
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatar {
        width: 100%;
    }
    table#fs-company-details {
        tbody {
            tr td {
                padding: 0!important;
                &.fs-company-label {
                    color: #868583;
                    font-weight: bold;
                    padding: 0!important;
                    label {
                        width: 150px;
                        margin: 0!important;
                    }
                }
            }
        }
    }
    .nav-link {
        display: block;
        padding: 0.5rem 1rem 0.5rem 0rem;
        color: #868583;
        font-weight: bold;
    }
    .ks-nav-tabs {
        width: 147px;
    }
    .flex-row.filter-position {
        display: flex;
        align-items: center;
    }
    .clear_filters{
        color: #25628F!important;
        cursor: pointer;
        font-size: 10px;
    }
    .add_filter{
        color: #25628F!important;
        cursor: pointer;
    }
    .close_filter{
        color: white !important;
        border: 1px solid;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 24px;
        z-index: 1;
        background: gray;
        padding: 1px 4px 1px 3px;
        font-size: 9px;
        cursor: pointer;
        display: none;
    }
    .filters-container{
        display: flex;
        align-items: center;
    }
    .filter-element{
        position: relative;
    }
    .filter-element:hover .close_filter{
        display: block;
    }
    .filter-by {
        padding-left: 8px;
    }
    .nav-tabs a {
        padding: 10px;
    }
    .fs-client-time {
        text-align: center;
        border: 1px solid #dee0e1;
        border-radius: 0.5rem;
        margin: 0.5em 0 0;
        padding: 1rem;
        font-size: 0.9rem;
        label {
            font-weight: 600;
            margin: 0;
        }
        span {
            display: block;
        }
    }
    .content-section {
        .content-section-child {
            flex: 0 0 100%;
            display: flex;
            flex-flow: row wrap;
            .content-section-child-header {
                flex: 0 0 100%;
                background: #949494;
                color: #fff !important;
                vertical-align: middle;
                padding: 0.4rem;
                display: flex;
                align-items: center;
                font-size: 0.9em;
                .fs-content-section-child-title {
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-size: 1.5em!important;
                }
                .fs-content-section-child-icon {
                    text-align: right;
                    padding-right: 0;
                    font-size: 1.5em;
                    i.la, i.fa {
                        color: #fff;
                    }
                }
            }
            .content-section-child-data {
                background: #eeeeee;
                margin: 0.5em;
                padding: 1.5rem;
                flex: auto;
                position: relative;
                .content-section-child-data-loading {
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    background: #5a59596e;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 3rem;
                        color: #fff;
                    }
                }
            }
        }
    }
    .fs-resources-content {
        width: 100%;
        height: 50px;
        border: 1px solid #dee0e1;
        border-radius: 0.5rem;
        text-align: center;
        padding: 1rem;
    }
    .fs-custom-table {
        font-size: 15px;
        letter-spacing: 0.5px;
        width: 100%;
        tr {
            &.remarks-form {
                td {
                    padding: 5px 0!important;
                }
            }
            td {
                &:not(:first-child) {
                    padding-left: 20px;
                }
                p {
                    margin-bottom: 0.7rem!important;
                }
            }
        }
    }
    .fs-highlighted-text {
        font-weight: 600;
    }
    textarea {
        resize: none;
        width: 100%;
    }
    @media (max-width: 1530px) {
        .fs-container {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-width: 319px;
            width: 100%;
        }
    }
    @media (max-width: 850px) {
        .col-12.textsize {
            font-size: 25px;
        }
    }
    @media (max-width: 767px) {
        .col-12.textsize {
            font-size: 20px;
        }
    }
    @media (max-width: 450px) {
        .col-12.textsize {
            font-size: 17px;
        }
    }
    .client-contact-login {
        width: 100%;
        margin-top: 10px;
    }
    .textsize {
        font-size: 28px;
        font-weight: 600;
        color: #007840;
    }
</style>

<script>

import CarouselResources from '@components/carousel-resources.vue';
import PageContent from '@components/page-content.vue';

import EDBMixin from '@common/mixin/EDBMixin';

import { mapActions, mapGetters } from 'vuex';

import _ from 'lodash';

export default {
    components: {
        CarouselResources,
        PageContent,
    },
    mixins: [
        EDBMixin
    ],
    data() {
        return {
            loading: false,
            clientInfo: {},
            clientPhoto: `/assets/img/logos/default-corporate-image.png`,
            clientStatus: [
                "Active",
                "End Contract",
                "Prospect"
            ],
            carouselData: [],
            include: ['resources.employee', 'resources.employee.positions', 'resources.employee.photo', 'resources.employee.skills'],
        };
    },
    computed: {
        ...mapGetters({
            client: 'clients/client',
            projects: 'clientProjects/data',
            clientTeamBuilder: 'clientTeamBuilder/data',
        }),
    },
    async created() {
        if (this.$route.params.id > 0) {
            this.loading = true;
            if(_.isEmpty(this.client)) {
                await this.getClient(this.$route.params.id);
            }

            this.clientInfo = this.client;

            await this.getClientProjects({
                query: _.merge({
                    client_id: this.$route.params.id,
                    include: this.include.join(',')
                })
            });
            /* Currently Assigned Resource assigned in project */
            this.carouselData = this.resourceCarousel(this.projects).map(obj => ({ ...obj, bucket_status: 'Assigned'}));

            /* Getting the suggested/selected/assigned in projects */
            this.carouselData = _.concat(this.carouselData, this.client.employeeSelected.data.map((emp) => {
                                                                emp.employee.data.bucket_status = this.jsUcFirst(emp.status);
                                                                emp.employee.data.bucket_caption_status = this.jsUcFirst(emp.status_caption);
                                                                return emp.employee.data
                                                            }));
                                                        
            this.loading = false;
        }
        else {
            this.$router.push('/search/clients?redirectTo=smart-team-builder');
        }
    },
    methods: {
        ...mapActions({
            getClientProjects: 'clientProjects/getClientProjects',
        }),
        resourceCarousel(projects) {
            let carouselArray = [];
            let data = {};

            if(projects.length > 0) {
                for(let index in projects) {
                    let resourceData = projects[index].resources.data;
                    if(resourceData.length > 0) {
                        for(let subIndex in resourceData) {
                            let exists = !!data[resourceData[subIndex]['employee_id']]
                            if (!exists) {
                                data[resourceData[subIndex]['employee_id']] = [resourceData[subIndex]['employee'].data]
                                carouselArray.push(resourceData[subIndex]['employee'].data);
                            }
                        }
                    }
                }
            }

            return _.orderBy(carouselArray, 'first_name');
        },
    },
    watch: {
    },
}
</script>