<template>
    <div class="wizard-content">
        <div class="row">
            <div class="col col-sm-12">
                <div v-if="loading">
                    <div class="loader"></div>
                </div>
                <CarouselResources
                v-else
                    :rows="updatedBucketCarouselData"
                    :headerTitle="'Updated Resources'"
                    :isTeamBuilder="true">
                </CarouselResources>
            </div>
            <br/>
            <div class="col-sm-12 mt-2">
                <h5>Would you like to send the updated list of resources to client's email?</h5>
                <div class="form-fields form-group">
                    <div class="custom-control custom-radio ks-radio ks-success">
                        <input id="r1" name="radio" type="radio" class="custom-control-input" v-model="isSendAccess"  @click='checkAll()' :value="1">
                        <label class="custom-control-label" for="r1">Yes</label>
                    </div>
                    <div class="checkbox-fields"> 
                        <div v-for="contact in clientContacts" :key="contact.id">
                            <input type="checkbox" :value="contact.email" v-model="select" @change='updateCheckall()' />
                            <label for="email1" >{{contact.name ? contact.name+',': ''}} {{contact.email}}</label>
                        </div>
                    </div> 
                    <div class="custom-control custom-radio ks-radio ks-success">
                        <input id="r2" name="radio" type="radio" class="custom-control-input" v-model="isSendAccess" :value="0" >
                        <label class="custom-control-label" for="r2">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .wizard-content {
        padding: 0 20px;
        width: 100%;

        .form-fields {
            padding: 10px;

            .ks-radio > .custom-control-input:checked ~ .custom-control-label:after {
                left: -23px;
            }

            .checkbox-fields {
                padding: 20px 20px 10px;

                .custom-checkbox {
                    padding-bottom: 10px;

                    .custom-control-input:checked ~ .custom-control-label:after {
                        left: -23px;
                        color: #50ae55;
                    }
                }
            }
        }
   }
   .loader {
       text-align: center;
   }
</style>

<script>

import CarouselResources from '@components/carousel-resources.vue';

import { mapActions, mapGetters, mapState } from 'vuex';

import _ from 'lodash';

export default {
    components: {
        CarouselResources,
    },
    data() {
        return {
            updatedBucketCarouselData: [],
            isSendAccess: 1,
            clientContacts: [],
            // select: [],
            suggestedIds:[],
            updatedIds:[],
            currentIds:[],
            loading: false
        };
    },
    computed: {
        ...mapGetters({
            employees: 'employees/data',
            suggestedResource: 'clientTeamBuilder/suggestedResource',
            updatedBucket: 'clientTeamBuilder/updatedBucket',
            client: 'clients/client'
        }),

        select: {
            set(select) {
                this.sendClientNotification(select);
            },
            get() {
                return this.$store.state.clientTeamBuilder.clientNotification;
            }
        }
    },
    async created() {
        this.loading = true;
        let query = {
            take: 99999, 
            include: 'skills,positions,photo'
        }
        await this.getEmployees({query: query});

        this.suggestedIds = this.suggestedResource.map(a => a.employee_id); 
        this.updatedBucketCarouselData = this.employees.filter(employee => this.suggestedIds.includes(employee.id)).map(obj => ({ ...obj, bucket_status: 'Suggested'}));
        
        this.updatedIds = this.updatedBucket.map(a => a.employee_id); 
        this.updatedBucketCarouselData = _.concat(this.updatedBucketCarouselData, this.employees.filter(employee => this.updatedIds.includes(employee.id)).map(obj => ({ ...obj, bucket_status: 'Removed'})));

        this.currentIds = this.client.employeeSelected.data.filter(a => !this.updatedIds.includes(a.employee.data.id))
                                                            .filter(b => !this.suggestedIds.includes(b.employee.data.id))
                                                            .map(a => a.employee.data.id);
        this.updatedBucketCarouselData = _.concat(this.updatedBucketCarouselData, this.employees.filter(employee => this.currentIds.includes(employee.id)));

        this.clientContacts = this.client.contacts.data;    

        this.checkAll();
        
        this.loading = false;
    },
    methods: {
        ...mapActions({
            getEmployees: 'employees/getEmployees',
            addStepLastData: 'wizardClientProspects/triggerStepLastAddData',
            sendClientNotification: 'clientTeamBuilder/sendClientNotification',
        }),

        checkAll: function(){
            this.select = [];
            for (var key in this.clientContacts) {
                this.select.push(this.clientContacts[key].email);
            } 
        },

        updateCheckall: function() {
            if(this.select.length == 0){
                this.isSendAccess = 0;
            }
            else{
                 this.isSendAccess = 1;
            }
        },
    },
    watch: {
        isSendAccess(newValue) {
            if(newValue == 0) {
                this.select = [];
            }
        },
    },
}
</script>