<template>
	<div>
		<div class="ks-nav-body">
			<div class="ks-nav-body-wrapper">
				<div class="container-fluid">
					<ClientTeamBuilderBucketCarousel
						:rows="resourcesData"
						:headerTitle="currentResource"
						:loading="loading"
						:isHybrid=true
						v-on:suggestEmp="suggestEmp"
						v-on:unsuggestEmp="unsuggestEmp"
						v-on:updateStatus="updateStatus"
					></ClientTeamBuilderBucketCarousel>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.ks-page-header-fixed .ks-page-content .ks-page-content-body {
		padding-top: 0!important;
		margin-top: 21px;
	}

</style>

<style lang="scss">
//Animation - Keyframes
	@mixin animation ($animationName, $animationTime) {
		-webkit-animation: #{$animationName} #{$animationTime};
		-moz-animation: #{$animationName} #{$animationTime};
		animation: #{$animationName} #{$animationTime};
	}

	@mixin keyframes ($animationName) {
		@-webkit-keyframes #{$animationName} {
			@content;
		}

		@-moz-keyframes #{$animationName} {
			@content;
		}

		@keyframes #{$animationName} {
			@content;
		}
	}

	@include keyframes(animateShow) {
		0% {
			visibility: hidden;
			opacity: 0;
			transform: translateY(150px);
			filter: blur(10px);
		}
		100% {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
			filter: blur(0);
		}
	}

	@include keyframes(animateHide) {
		0% {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			filter: blur(10px);
		}
		95% {
			visibility: hidden;
			opacity: 0;
			transform: translateX(25%);
			filter: blur(0);
		}
		100% {
			visibility: hidden;
			opacity: 0;
			transform: translateY(150px);
			filter: blur(0);
		}
	}


	@include keyframes(animateButtonShow) {
		0% {
			visibility: hidden;
			opacity: 0;
			transform: translateX(100%);
			filter: blur(10px);
		}
		100% {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			filter: blur(0);
		}
	}
	@include keyframes(animateButtonHide) {
		0% {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			filter: blur(10px);
		}
		95% {
			visibility: hidden;
			opacity: 0;
			transform: translateX(100%);
			filter: blur(0);
		}
		100% {
			visibility: hidden;
			opacity: 0;
			transform: translateX(-100%);
			filter: blur(0);
		}
	}
	.smart-team-builder-modal {
		.done {
			&.show {
				@include animation(animateButtonShow, 0.5s);
				animation-fill-mode: forwards;
			}
		}
		button[type="button"].btn.btn-danger {
			@include animation(animateButtonShow, 0.5s);
			animation-fill-mode: forwards;

			&[disabled]{
				@include animation(animateButtonHide, 0.5s);
				animation-fill-mode: forwards;
			}
		}
	}
	//Show/hide questions
	.question-wrapper {
		z-index: 1;
		> div {
			> .row {
				position: absolute;
				top: 0;
				width: 100%;
				opacity: 0;
				visibility: hidden;

      			@include animation(animateHide, 0.5s);
				animation-fill-mode: forwards;
			}

			.show {
      			@include animation(animateShow, 0.5s);
				animation-fill-mode: forwards;
			}
		}
	}
</style>

<script>
	// components
	import PageHeader from '@components/page-header.vue';
	import PageContent from '@components/page-content.vue';
	import DataTable from '@components/datatable.vue';
	import ModalDialog from '@components/modal-dialog.vue';
	import Select2 from '@components/select2.vue';
	import EmployeeForm from '@views/pages/employee/_forms/employee.vue';
	import ClientTeamBuilderBucketCarousel from '@components/employee-carousel.vue';

	// mixins
	import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
	import BuilderHelperMixin from '@common/var/team-builder';
	import WizardMixin from '@common/mixin/WizardMixin';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		components: {
			Select2,
			DataTable,
			PageHeader,
			PageContent,
			ModalDialog,
			ClientTeamBuilderBucketCarousel
		},
		mixins: [
			ModalDialogMixin,
			DataTableMixin,
			AlertMixin,
			BuilderHelperMixin,
			WizardMixin,
		],
		data() {
			return {
				pageClass: 'ks-content-nav',
                loading: false,
	            open: false,
	            form: {
	                key: '',
	                name: ''
	            },
	            modal: {
	                width: '500px',
	                height: '400px'
				},
				resourcesData: [],
				queryResourceType: [],
				projectManagerPosition: [6],
				testersPosition: [40,43],
				contentsPosition: [33,34,35],
				creativePosition: [30,31,49,55],
                wizardStepName: 'team-builder-bucket',
			}
		},
		async created() {
			this.loading = true;

			await this.getData();
		},
		watch: {
			currentResource: {
				handler: 'getData'
			}
		},
		computed: {
			...mapGetters({
				clientId: 'wizardClientProspects/step_1',
				currentResource: 'clientTeamBuilder/currentResource',
				suggestedResource: 'clientTeamBuilder/suggestedResource',
				countSelected: 'clientTeamBuilder/countSelected'
			}),
		},
		methods : {
			...mapActions({
				getAvailableEmployees: 'clientTeamBuilder/getEmployeeAvailables',
				saveSuggestedResource: 'clientTeamBuilder/saveSuggestedResource',
				removeSuggestedResource: 'clientTeamBuilder/removeSuggestedResource',
				saveUpdatedBucketStatus: 'clientTeamBuilder/saveUpdatedBucketStatus',
				initializeSuggestedResource: 'clientTeamBuilder/initializeSuggestedResource',
				initializeCountSelected: 'clientTeamBuilder/initializeCountSelected',
				incrementCountSelected: 'clientTeamBuilder/incrementCountSelected'
			}),
			async getData() {
				this.loading = true;
				this.initializeCountSelected();

				const query = {
					clientTeam: [this.clientId],
					take: 99999,
					include: 'skills, photo, positions, clientTeambuilderBucket',
				};

				if(this.currentResource != "Developers") {
					switch (this.currentResource) {
						case "Project Managers":
							query.resourceTypes = '6';
							break;

						case "Tester":
							query.resourceTypes = '40,43';
							break;

						case "Content":
							query.resourceTypes = '33,34,35';
							break;

						case "Creative Services":
							query.resourceTypes = '30,31,49,55';
							break;
					}
				} 

				await this.getAvailableEmployees(query).then((results) => {
					this.resourcesData = results;
					if(this.resourcesData.length == 0) {
						 // Sends a count if there are no returned employees in order to proceed on next.
						this.incrementCountSelected(1);
					}
				});

				this.loading = false
			},

			getButtons(stats) {
				let labels = {}
				labels = _.find(this.teamBuilderLabels, (labelList) => {
					return labelList.status === stats
				})

				return labels
			},

			suggestEmp (resource) {
				let suggestedResource = {
						client_id: this.clientId,
						employee_id: resource.id,
						job_position_id: resource.positions.data[0].position_id,
						status: 'suggested'
					}
				this.saveSuggestedResource(suggestedResource);
			},

			unsuggestEmp (id) {
				this.removeSuggestedResource(id);
			},

			updateStatus (status, id, empId) {
				let updatedStatus = {
					id: id,
					employee_id: empId,
					status: status
				}

				this.saveUpdatedBucketStatus(updatedStatus);
            },
            wizardBeforeChange() {
                this.passDataToWizard('Test123');

                return true;
            },
		}
	}
</script>
