<template>
	<div>
		<div class="ks-nav-body">
			<div class="ks-nav-body-wrapper">
				<div class="container-fluid">
					<ClientTeamBuilderBucketCarousel
						:rows="resourcesData" 
						:headerTitle="resourceTitle"
						:loading="loading"
						@selectEmp="selectEmp"
						@unselectEmp="unselectEmp"
						@declineEmp="declineEmp"
						@undeclineEmp="undeclineEmp">
					</ClientTeamBuilderBucketCarousel>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	//Components
	import RouteWizard from '@components/route-wizard';
	// components
	import ModalDialog from '@components/modal-dialog.vue';
	import ClientTeamBuilderBucketCarousel from '@components/employee-carousel.vue';
	
	// mixins
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
	import { mapActions, mapGetters } from 'vuex';

	import _ from 'lodash';

	export default {		
		components: {
			ModalDialog,
			ClientTeamBuilderBucketCarousel
		},
		mixins: [
			ModalDialogMixin,
			AlertMixin
		],
		data() {
			return {
				pageClass: 'ks-content-nav',
                loading: false,
	            open: false,
	            form: {
	                key: '',
	                name: ''
	            },
	            modal: {
	                width: '500px',
	                height: '400px'
				},
				resourcesData: [],
				choiceTypes: ['Developers', 'Testers'],
				developerCategories: ['Mobile', 'Web'],
				testerCategories: ['Manual', 'Automation']
			}
		},
		computed:{
			...mapGetters({
				currentUser: 'auth/data',
				resources: 'clientTeamBuilder/suggestedResource',
				resourceTitle: 'clientTeamBuilder/resourceTitle',
				availableResource: 'clientTeamBuilder/formattedAvailable',
				addedTechnology: 'clientTeamBuilder/clientChosenTechnology'
			}),
		},
		created(){
			this.getData();
		},
		methods: {
			...mapActions({
				getAvailableEmployees: 'clientTeamBuilder/getAvailableEmployees',
				setSelectedResource: 'clientTeamBuilder/setSelectedResource',
				removeSelectedResource: 'clientTeamBuilder/removeSelectedResource',
			}),
			openResourceModal(formOptions) {
				this.form = formOptions
				this.open = true
			},
			async getData(){
				this.loading = true;
				
				const query = {
					build: true,
					clientTeam: [this.currentUser.data.activeClientId],
					take: 99999,
					include: 'topSkills, photo, positions, clientTeambuilderBucket',
					resourceTypes: this.jsSingularAndLcFirst(this.resourceTitle),
				};

				if(this.choiceTypes.includes(this.resourceTitle)) {
					let categories = Object.keys(this.addedTechnology);
					let skillTechs = [];
					categories.forEach(category => {
						if (this.resourceTitle == 'Developers') {
							skillTechs.push(this.addedTechnology[category]);
							if (this.developerCategories.includes(category)) {
								skillTechs.push(this.addedTechnology[category]);
							}
						} else {
							skillTechs.push(this.addedTechnology[category]);
							if (this.testerCategories.includes(category)) {
								skillTechs.push(this.addedTechnology[category]);
							}
						}
					});

					query.additionalSkills = skillTechs;
				}

				await this.getAvailableEmployees(query).then((results) => {
					let tempSelectedEmployeesIds = this.resources.map(emp => emp.employee.data.id);	
					let tempResources = [];				
					_.each(this.availableResource, (resource) => {
						if (!_.includes(tempSelectedEmployeesIds, resource.employee_id)) {
							tempResources.push(resource);
						}
					});
					this.resourcesData = this.resources.concat(tempResources);
				});

				this.loading = false;
			},
			selectEmp(resource){
				let selectedResource = ('client_teambuilder_bucket_id' in resource)
					? {
						client_teambuilder_bucket_id: resource.client_teambuilder_bucket_id,
					} : {
						client_id: this.currentUser.data.activeClientId,
						employee_id: resource.employee_id,
						job_position_id: resource.job_position_id,
					};
				selectedResource.status = 'selected';
				this.setSelectedResource(selectedResource);
			},
			unselectEmp(resource){
				let unselectedResource = ('client_teambuilder_bucket_id' in resource)
					? {
						client_teambuilder_bucket_id: resource.client_teambuilder_bucket_id,
					} : {
						employee_id: resource.employee_id
					};

				unselectedResource.status = 'suggested';

				this.removeSelectedResource(unselectedResource);
			},
			declineEmp(resource){
				let declineResource = ('client_teambuilder_bucket_id' in resource)
					? {
						client_teambuilder_bucket_id: resource.client_teambuilder_bucket_id,
					} : {
						client_id: this.currentUser.data.activeClientId,
						employee_id: resource.employee_id,
						job_position_id: resource.job_position_id,
					};

				declineResource.status = 'declined';
				
				this.removeSelectedResource(declineResource);
			},
			undeclineEmp(resource){
				let undeclineResource = ('client_teambuilder_bucket_id' in resource)
					? {
						client_teambuilder_bucket_id: resource.client_teambuilder_bucket_id,
					} : {
						employee_id: resource.employee_id
					};

				undeclineResource.status = 'suggested';

				this.removeSelectedResource(undeclineResource);
			},
			jsSingularAndLcFirst(string) {
				return (string.charAt(0).toLowerCase() + string.slice(1)).slice(0, -1);
			}
		
		},
		watch: {
			resourceTitle: {
				handler: 'getData'
			}
		},
	}
</script> 