<template>
    <div>
        <div v-if="loading" class="loader"></div>
        <div v-else>
            <route-wizard
                :routes="routes"
                :resourceTypes="resourceTypes"
                ref="client_wizard"
                :currentRouteName="currentRouteName"
                :menuRoute="menuRoute"
                :beforeChange="beforeChange"
                :beforeChangeResource="beforeChangeResource"
                :finishButton="finishButton"
                :showCompleteUpdate="showCompleteUpdate"
                :menuName="menuName"
                :completingRoute="completingRoute"
                @pageChange="pageChange"
                @save="save">
            </route-wizard> 
        </div>
    </div>
</template>
<style>
    body {
        position: relative;
        height: 100%;
    }
</style>
<style lang="scss" scoped>
    .fs-page-left, .fs-page-right {
        position: relative;
    }
    .fs-page-right {
        .row > .col {
            margin: 1em 0;
        }
    }
    .client-time {
        margin-top: 10px;
    }
    .filter-position {
        display: inline;
    }
    .editable {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .fs-profile-photo {
        .fs-info-flex.flex-row {
            margin: 0 0 5px;
            padding: 0 1rem 0;
            a {
                width: 100%;
            }
        }
    }
    .fs-company-header {
        min-height: 70px;
        .fs-company-name {
            font-size: 25px;
            margin-bottom: 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .fs-company-location {
            margin: -10px 0 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .fs-company-content {
        margin: 10px 0 0;
    }
    .ks-nav-body {
        padding: 0 30px 0!important;
    }
    .client-url {
        color: #25628F!important;
        cursor: pointer;
    }
    .action-button {
        font-size: 20px;
    }
    .fs-back-link {
        padding-top: 15px;
         a {
            color: #333;
        }
    }
    .delete {
        color: #fff;
    }
    .tab-item {
        padding: 15px 43px 0px 15px;
        height: 110px;
        margin-bottom: 20px;
        overflow-y: auto;
    }
    .client-details {
        padding-top: 15px!important;
    }
    .card-header {
        position: relative;
        top: 6px!important;
    }
    .card-block {
        padding-bottom: 5px!important;
    }
    .fs-accord {
        padding-top: 15px!important;
    }
    .profile-photo {
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatar {
        width: 100%;
    }
    table#fs-company-details {
        tbody {
            tr td {
                padding: 0!important;
                &.fs-company-label {
                    color: #868583;
                    font-weight: bold;
                    padding: 0!important;
                    label {
                        width: 150px;
                        margin: 0!important;
                    }
                }
            }
        }
    }
    .nav-link {
        display: block;
        padding: 0.5rem 1rem 0.5rem 0rem;
        color: #868583;
        font-weight: bold;
    }
    .ks-nav-tabs {
        width: 147px;
    }
    .flex-row.filter-position {
        display: flex;
        align-items: center;
    }
    .clear_filters{
        color: #25628F!important;
        cursor: pointer;
        font-size: 10px;
    }
    .add_filter{
        color: #25628F!important;
        cursor: pointer;
    }
    .close_filter{
        color: white !important;
        border: 1px solid;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 24px;
        z-index: 1;
        background: gray;
        padding: 1px 4px 1px 3px;
        font-size: 9px;
        cursor: pointer;
        display: none;
    }
    .filters-container{
        display: flex;
        align-items: center;
    }
    .filter-element{
        position: relative;
    }
    .filter-element:hover .close_filter{
        display: block;
    }
    .filter-by {
        padding-left: 8px;
    }
    .nav-tabs a {
        padding: 10px;
    }
    .fs-client-time {
        text-align: center;
        border: 1px solid #dee0e1;
        border-radius: 0.5rem;
        margin: 0.5em 0 0;
        padding: 1rem;
        font-size: 0.9rem;
        label {
            font-weight: 600;
            margin: 0;
        }
        span {
            display: block;
        }
    }
    .content-section {
        .content-section-child {
            flex: 0 0 100%;
            display: flex;
            flex-flow: row wrap;
            .content-section-child-header {
                flex: 0 0 100%;
                background: #949494;
                color: #fff !important;
                vertical-align: middle;
                padding: 0.4rem;
                display: flex;
                align-items: center;
                font-size: 0.9em;
                .fs-content-section-child-title {
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-size: 1.5em!important;
                }
                .fs-content-section-child-icon {
                    text-align: right;
                    padding-right: 0;
                    font-size: 1.5em;
                    i.la, i.fa {
                        color: #fff;
                    }
                }
            }
            .content-section-child-data {
                background: #eeeeee;
                margin: 0.5em;
                padding: 1.5rem;
                flex: auto;
                position: relative;
                .content-section-child-data-loading {
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    background: #5a59596e;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 3rem;
                        color: #fff;
                    }
                }
            }
        }
    }
    .fs-resources-content {
        width: 100%;
        height: 50px;
        border: 1px solid #dee0e1;
        border-radius: 0.5rem;
        text-align: center;
        padding: 1rem;
    }
    .fs-custom-table {
        font-size: 15px;
        letter-spacing: 0.5px;
        width: 100%;
        tr {
            &.remarks-form {
                td {
                    padding: 5px 0!important;
                }
            }
            td {
                &:not(:first-child) {
                    padding-left: 20px;
                }
                p {
                    margin-bottom: 0.7rem!important;
                }
            }
        }
    }
    .fs-highlighted-text {
        font-weight: 600;
    }
    textarea {
        resize: none;
        width: 100%;
    }
    @media (max-width: 1530px) {
        .fs-container {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-width: 319px;
            width: 100%;
        }
    }

    .client-contact-login {
        width: 100%;
        margin-top: 10px;
    }

</style>
<script>
//Components
import RouteWizard from '@components/route-wizard';
// mixins
import AlertMixin from '@common/mixin/AlertMixin';

import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        const baseRoute = '/wizard-smart-team-builder';
        return {
            currentRouteName: 'Client Team',
            menuRoute: '/manage-clients',
            loading: false,
            menuName: 'Back to Menu',
            startIndex: 0,
            finishButton: 'Finish',
            countSelectedHolder: 0,
            routes: [
                {
                    route_name: 'Client Team',
                    route_uri: `${baseRoute}/client-team-builder`,
                },
                {
                    route_name: 'Choose the type of resource to build',
                    route_uri: `${baseRoute}/type-of-resource`,
                },
            ],
            resourceIndex: -1,
            showCompleteUpdate: false,
            clientInfo: {},
            completingRoute: '/wizard-smart-team-builder/review-and-send',
        };
    },
    computed: {
        ...mapGetters({
            client:'clients/client',
            currentStep: 'wizardClientProspects/current_step',
            resourceTypes: 'clientTeamBuilder/resourceTypes',
            countSelected: 'clientTeamBuilder/countSelected',
            suggestedResource: 'clientTeamBuilder/suggestedResource',
            updatedBucket: 'clientTeamBuilder/updatedBucket',
            clientNotification: 'clientTeamBuilder/clientNotification',
        }),
    },
    components: {
        RouteWizard,
    },
    async created() {
        if (this.$route.params.id > 0) {
            this.loading = true;
            await this.initializeCurrentRoute(this.$router.currentRoute.matched[1].path);
            await this.getClient(this.$route.params.id);
            this.setCurrentStep(-1);
            this.initializeResourceTypes();
            this.initializeSuggestedResource();
            this.initializeUpdatedBucket();
            this.setClientId(this.$route.params.id);   
            this.loading = false; 
        }
        else {
            this.$router.push('/search/clients?redirectTo=smart-team-builder')
        }
        
    },
    mixins: [
        AlertMixin,
    ],
    methods: {
        ...mapActions({
            getClient: 'clients/getClient',
            setCurrentStep: 'wizardClientProspects/setCurrentStep',
            setCurrentResourcePage: 'clientTeamBuilder/setCurrentResourcePage',
            initializeResourceTypes: 'clientTeamBuilder/initializeResourceTypes',
            initializeSuggestedResource: 'clientTeamBuilder/initializeSuggestedResource',
            initializeCurrentRoute: 'clientTeamBuilder/initializeCurrentRoute',
            initializeUpdatedBucket: 'clientTeamBuilder/initializeUpdatedBucket',
            setClientId: 'wizardClientProspects/addStep1Data',
            saveTeamBuilder: 'clientTeamBuilder/saveTeamBuilder'
        }),

        pageChange(prevIndex, nextIndex) {
            this.setCurrentStep(nextIndex);
            const lastStep = this.routes.length;

            if ((lastStep - 1) >= nextIndex) {
                this.currentRouteName = this.routes[nextIndex].route_name;
            } else {
                this.resourceIndex = nextIndex - this.routes.length;
                
                if ((this.resourceTypes.length - 1) >= this.resourceIndex) {
                    this.setCurrentResourcePage(this.resourceTypes[this.resourceIndex].route_resource);
                    this.currentRouteName = this.resourceTypes[this.resourceIndex].route_name;
                } else {
                    this.currentRouteName = "Finishing Up...";
                }
                this.showCompleteUpdate = (this.resourceIndex >= this.resourceTypes.length -1 );
            }
        },
        beforeChange() {
            return true;
        },
        beforeChangeResource() {
            return true;
        }, 
        async save() {
            if (this.finishButton == 'Finish') { 
                if(this.suggestedResource.length > 0 || this.updatedBucket.length > 0) {
                    let teamBuilderResource = {
                        suggestedResource: this.suggestedResource,
                        updatedBucket: this.updatedBucket,
                        clientNotification: this.clientNotification
                    };

                    await this.saveTeamBuilder(teamBuilderResource).then(() => {
                        this.$router.push('/wizard-smart-team-builder/talent-selected');
                        this.finishButton = 'Done';
                    });
                }
                else {
                    this.$refs.client_wizard.backToMenu();
                }
            
            } else if (this.finishButton == 'Done') {
                this.$refs.client_wizard.backToMenu();
            }
        },
    },

}
</script>
