<template>
    <modal-dialog v-show="openModal" :options="option" :title="info.name" :confirmCancel="true" @close="closeModal">
    <template slot="button">
        <div class="action-wrapper">
            <save-button  :loading="loading" @action="save" :disabled="!valid">Save</save-button>
        </div>
    </template>
    <template slot="body">
        <div class="row">
            <field-component v-for="element in formElements" :key="element.id" :data="element" @update="updateElementValue"></field-component>
        </div>
    </template>
    </modal-dialog>
</template>
<style>
  body div.v-dialogs{
      position: relative;
      z-index: 9999;
  }
  div.modal-backdrop div[role='dialog'] header span{
        width: auto!important;
    }
    div.modal-backdrop div[role='dialog'] header span div.action-wrapper{
        float: right !important;
    }

  .modal-backdrop .modal {
    width: 847px!important;
    height: auto!important;
    overflow-y: auto;
  }
  .modal #modalDescription {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .action-wrapper {
    display: inline-block;
  }
  .preview-label {
    vertical-align: top;
    font-weight: bold;
    width: 8em;
    margin: 0;
  }
  .preview {
    padding-bottom: 1em;
  }
  .email-wrapper {
    display: inline-block;
  }
  .preview-row {
    padding-bottom: 1em;
  }
  .elseCondition {
    color: red;
  }
  .error {
    font-size:9px;
  }
  textarea {
    min-height: 100px;
    overflow: auto;
  }
  .custom-checkbox {
    padding:5px;
    margin-left: 17px;
    min-width: 200px;
  }
  .attach-listing {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .attach-listing li {
    display: block;
  }
</style>

<script>
	import _ from 'lodash';

//Components
import SaveButton from '@components/form/button.vue';
import FieldComponent from '@components/form/field-component.vue';
import ModalDialog from '@components/modal-dialog.vue';

import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
import StringHelperMixin from '@common/mixin/StringHelperMixin';
import AlertMixin from '@common/mixin/AlertMixin';

//Modal
import { Faq } from '@common/model/Faq';

import { mapActions, mapGetters } from 'vuex';
import jQuery from 'jquery';

export default {
    props: {
      info: { type: Object, required: true }
    },
    data() {
        return {
            option: { width: '800px' },
            button: { class: 'btn btn-primary',type: 'button' },
            loading: false,
            manualInput : false,
            formElements: {},
            form: {
                content: '',
                todo: '',
                roadblocks: '',
                remarks: '',
                subject: '',
                employee_id: '',
                send_to: {},
                report_template_id: 0,
                client_project_id: 0,
                report_date: ''
            },
            editorOptions : {
                hideModules: {
                    forcePlainTextOnPaste: true, image:true, code: true, removeFormat: false
                },
                maxHeight:'400px'
            },
        };
    },
    computed: {
        ...mapGetters({
            currentUser: 'auth/data',
            faq: 'faqs/faq',
            meta: 'faqs/meta',
        }),
        valid: function() {
            let errorCtr = 0;
            this.formElements.forEach((elem) => {
                if (elem.is_required) {
                  let answer = elem.value;
                    if (answer instanceof Array) {
                        if (answer.length <= 0) {
                            errorCtr++;
                        }
                    } else {
                        if (answer == '') {
                            errorCtr++;
                        }
                    }
                }
            });
            return errorCtr == 0 ? true : false;
        },
        infoFaq: function() {
            if(this.info.faq)
              return {id: this.info.faq.id,
                      question: this.info.faq.question,
                      answer: this.info.faq.answer};
            else
              return {id: '', question: '', answer: ''}
        }
    },
    async created() {
        this.initializeForm();
    },
    methods: {
      ...mapActions({
          getFaqs: 'faqs/getFaqs',
          getFaq: 'faqs/getFaq',
      }),
      initializeForm() {
          this.formElements = [
          {
            type: "hidden",
            id: 'id',
            label: 'id',
            value: this.infoFaq.id,
            is_required: false,
            is_hidden: false
          },
          {
            type: "tiptap",
            id: 'question',
            label: 'Question:',
            value: this.infoFaq.question,
            class: 'col-md-12',
            is_required: true,
            is_hidden: false,
            external_error_msg: '',
          },
          {
            type: "tiptap",
            id: 'answer',
            label: 'Answer:',
            value: this.infoFaq.answer,
            class: 'col-md-12',
            is_required: true,
            is_hidden: false,
            external_error_msg: '',
          },
        ];
      },
      async updateElementValue(id, value) {
          this.formElements.forEach((element) => {
              if(element.id == id)
                  element.value = value;
          });
      },
      async save() {
          let data = {};
          this.formElements.forEach((e) => {
            if(e.id == 'id' && e.value == '') {
                return;
            }
            data[e.id] = e.value;
          });

          this.loading = true;
          let faq = new Faq({ id: data['id'] });

          await faq.save(data).then((res) => {
              this.$emit('success', res);
              this.closeModal();
          }).catch((e) => {
              let d = e.response.data.message;
              this.formElements.forEach((e) => {
                  if(e.id == 'question' && d.question){
                      e.external_error_msg = d.question[0];
                  }

                  if(e.id == 'answer' && d.answer){
                      e.external_error_msg = d.answer[0];
                  }
              })
              this.loading = false;
          });
      },
      extractText(s) {
          var span = document.createElement('span');
          span.innerHTML = s;
          return span.textContent || span.innerText;
      },
    },
    components: {
        SaveButton,
        FieldComponent,
        ModalDialog,
    },
    mixins: [
        ModalDialogMixin,
        StringHelperMixin,
        AlertMixin
    ]
  }
</script>
