<template>
    <modal-dialog v-show="openModal" :options="option" :title="info.name" @close="closeModal">
        <template slot="button">
            <save-button :loading="loading" :options="button" @action="save" :disabled="!valid">{{ modal_save }}</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="add-resource-input form-group">
                        <label>Projects</label>
                        <select2
                            :options="info.projects"
                            :hideSearchBox="false"
                            class="form-control2"
                            placeholder="Search Project"
                            @select="selectedProjectId = $event">
                        </select2>
                    </div>
                </div>
            </div>
        </template>
    </modal-dialog>
</template>
<style scoped>
    .card-body {
        padding: 9px 20px 9px 11px;
    }
    hr {
        background-color: #dedbdb;
    }
</style>
<style>
    .add-resource-input > .vue-tags-input .tag.valid, .add-resource-input > .vue-tags-input .tag.invalid {
        display: none;
    }
    .v-dialog.active, .v-dialog:target {
        z-index: 10000 !important;
    }
    .resources-scroll {
        min-height: 70px;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .resources-form {
        margin-top: 1em;
    }
    .add-resource-input .autocomplete {
        max-height: 130px;
        overflow-y: auto;
        position: absolute;
    }
</style>
<script type="text/javascript">
    import _ from 'lodash';
    //Components
    import SaveButton from '@components/form/button.vue';
    import ModalDialog from '@components/modal-dialog.vue';
    import Select2 from '@components/select2.vue';
    //Mixins
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
    import AlertMixin from '@common/mixin/AlertMixin';
    import { mapActions, mapGetters } from 'vuex';
    export default {
        props: {
            info: { type: Object, required: false}
        },
        data() {
            return {
                option: {
                    height: 'auto',
                    width: '600px',
                    bottom: 'auto'
                },
                modal_save : 'Save',
                loading: false,
                button: {
                    class: 'btn btn-primary',
                    type: 'button'
                },
                selectedProjectId: 0
            }
        },
        computed: {
            valid: function() {
                let valid = true;
                if(this.selectedProjectId == 0){
                    valid = false;
                }
                return valid;
            }
        },
        methods:{
            ...mapActions({
                saveResource: 'employeeClientProjects/saveResource',
                saveSelectedClient: 'clientTeamBuilder/saveSelectedResource',
            }),
            async save(){
                await this.saveSelectedClient({
                    status: 'assigned',
                    employee_id: this.info.employee.id

                });

                await this.saveResource({
                    client_project_id : this.selectedProjectId,
                    employee_id: this.info.employee.id
                });
                this.$emit('success');
                this.notifyDialog('success', 'Successfully saved!');
            }
        },
        components: {
            SaveButton,
            ModalDialog,
            Select2
        },
        mixins: [
            ModalDialogMixin,
            AlertMixin
        ]
    }
</script>