<template>
    <modal-dialog v-show="openModal" :options="option" :title="info.name" @close="closeModal">
        <template slot="button">
            <save-button :loading="loading" :options="button" @action="save" :disabled="noChangesMade">{{ modal_save }}</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12 enable-client-login-container">

                    <data-table
                        :columns="data.columns"
                        :showSearch="false"
                        :showFilter="false"
                        :showPagination="false">

                        <tbody v-if="contacts">
                            <tr
                                :class="index % 2 == 0 ? 'even' : 'odd'"
                                v-for="(contact,index) in contacts"
                                :key="contact.id">

                                <td class="text-center">
                                    <span class="custom-control custom-checkbox">
                                        <input type="checkbox" :name="'view_'+index+'_'+contact.id" :id="'view_'+index+'_'+contact.id" class="custom-control-input" v-model="contact.user.can_login"/>
                                        <label :for="'view_'+index+'_'+contact.id" class="custom-control-label"></label>
                                    </span>
                                </td>
                                <td class="text-center">{{ contact.name }}</td>
                                <td class="text-center">{{ contact.email }}</td>
                                <td class="text-center">{{ contact.contact_no }}</td>
                            </tr>
                        </tbody>
                    </data-table>

                </div>
            </div>
        </template>
    </modal-dialog>
</template>
<style scoped>	
	span.custom-control.custom-checkbox {
		padding: 0 !important;
		width: 18px !important;
		height: 18px !important;
		display: inline-block;
	}
	.custom-control-label {
		position: absolute !important;
		width: 18px !important;
		height: 18px !important;
		top: 0 !important;
		left: 0 !important;
        cursor: pointer;
	}
	.custom-control-label::before {
		left: 0 !important;
	}	
</style>
<style>
	.enable-client-login-container div.dataTables_wrapper .row:first-child {
		display: none !important;
	}
</style>
<script type="text/javascript">
    import _ from 'lodash';
    import $ from 'jquery';

    //Components
    import SaveButton from '@components/form/button.vue';
    import ModalDialog from '@components/modal-dialog.vue';
    import DataTable from '@components/datatable.vue';
    
    //Mixins
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
    import AlertMixin from '@common/mixin/AlertMixin';


    import { mapActions, mapGetters } from 'vuex';


    export default {
        props: {
            info: { type: Object, required: false}
        },
        data() {
            let columns = [
				{ label: 'Enable', key: 'Enable', width: '15%', sortable: false, text_align: 'text-center'},
				{ label: 'Name', key: 'Name', width: '30%', sortable: false, text_align: 'text-center' },
				{ label: 'Email', key: 'Email', width: '30%', sortable: false, text_align: 'text-center' },
				{ label: 'Phone Number', key: 'Phone Number', width: '25%', sortable: false, text_align: 'text-center' }
			];
            return {
                data: {
					columns: columns
				},
                option: {
                    height: 'auto',
                    width: '700px',
                    bottom: 'auto'
                },
                modal_save : 'Save',
                loading: false,
                button: {
                    class: 'btn btn-primary',
                    type: 'button'
                },
                contacts: [],
                users: [],
                previousData: []

            }
        },
        computed: {
            ...mapGetters({
                client:'clients/client',
				loggedInUser: 'auth/data',
				roles: 'roles/role',
            }),

            noChangesMade(){
                let changeMade = this.getChangedUsers();
                return changeMade.length > 0 ? false : true;
            }
        },
        async created(){
            this.contacts = this.client.contacts ? this.client.contacts.data : [];
            this.getUser();
            this.previousData = this.contacts.map(a => a.user.can_login);
        },
        methods:{
            ...mapActions({
				saveUser: 'users/saveUser',
                saveContact: 'clientContacts/saveContact',
                addUserRole: 'userRoles/saveUserRole',
                saveUserRolePermission: 'userRolePermissions/saveUserRolePermission',
                addContactUser: 'addContactUser/addContactUser'
            }),
            getUser(){
                _.each(this.contacts, (contact, index) => {
                    let row = { 
                        id: contact.user ? contact.user.id : 0,
                        can_login: contact.user ? contact.user.can_login : 0,
                    };
                    contact.user = row;
                });
            },

            getChangedUsers(){
                let changedUsers = [];
                _.each(this.previousData, (data, index) => {
                    if(data != this.contacts[index].user.can_login){
                        changedUsers.push(this.contacts[index]);
                    }
                });
                return changedUsers;
            },
            async save(){
                let updateUsers = this.getChangedUsers();
                this.loading = true;
                let promises = [];
                await this.addContactUser(updateUsers);
                this.$emit('success');
                this.closeModal();
                this.loading = false;
                this.notifyDialog('success', 'Successfully saved!');
            },


            async addClientRole(userId) {
                let userRole = {display_name: 'Client', id: 5, is_enabled: true};

                this.addUserRole({
                    is_enabled: userRole.is_enabled, 
                    user_id: userId, 
                    role_id: userRole.id 
                }).then((res) => {
                    this.saveDefaultUserRolePermission(userRole, res.data.id);
                })
            },

            saveDefaultUserRolePermission(permission, userRoleId){
                _.each(this.roles, (role) => {
                    if(role.id == permission.id){
                        _.each(role.permissions.data, (element) => {
                            this.saveUserRolePermission({
                                id:'',
                                can_add: element.can_add,
                                can_delete: element.can_delete,
                                can_edit: element.can_edit,
                                can_view: element.can_view,
                                resource_id: element.resource_id,
                                user_role_id: userRoleId
                            })
                        })
                    }
                })
            },

        },
        components: {
            SaveButton,
            ModalDialog,
            DataTable
        },
        mixins: [
            ModalDialogMixin,
            AlertMixin
        ]
    }
</script>