<template>
	<modal-dialog v-show="openModal" :options="option" title="Client Checklist Details" @close="closeModal">
		<template slot="button">
            <save-button :loading="btnLoading" :options="button" @action="save" :disabled="errors.count() > 0 || !isValid">Save</save-button>
        </template>
         <template slot="body">
            <div v-if="loading">
                <div class="loader"></div>
            </div>
            <div v-else>
                <div v-if="info.name == 'contract_signed'">
                    <h5 style="text-align:center;">Contract Signed</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('date_of_contract')}">
                                        <label>Date of Contract<span class="error">*</span></label>
                                        <flat-pickr
                                            class="form-control"
                                            name="date_of_contract"
                                            v-validate="'required'"
                                            placeholder="Select a date"
                                            v-model="checklistDetails.date_occurred"
                                            :config="getConfig(true, false, { allowInput:true })"/>
                                        <span v-show="errors.has('date_of_contract')" class="help-block form-error">{{ replaceText(errors.first('date_of_contract'), 'date_of_contract', 'Date of Contract') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('client_signatory')}">
                                        <label>Client Signatory<span class="error">*</span></label>
                                        <input v-validate="'required'" name="client_signatory" type="text" placeholder="Enter Client Signatory" v-model="checklistDetails.client_signatory" class="form-control"/>
                                        <span v-show="errors.has('client_signatory')" class="help-block form-error">{{ replaceText(errors.first('client_signatory'), 'client_signatory', 'Client Signatory') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': fileUpload.medium_type == 'error' || fileExceed }">
                                        <label>Attach copy of contract (Optional)</label>
                                        <div class="file-upload">
                                            <div class="file-select">
                                                <div class="file-select-button">Choose File</div>
                                                <div class="file-select-name">{{ fileUpload.name}}</div> 
                                                <input type="file" @change="handleFileUpload($event)" accept=".jpg, .jpeg, .png, .pdf, .csv, .doc, .docx">
                                            </div>
                                        </div>
                                        <span v-show="fileUpload.medium_type == 'error'" class="help-block form-error">File format not accepted (Please choose png/jpg/jpeg/csv/pdf/doc/docx files)</span>
                                        <span v-show="fileExceed" class="help-block form-error">File size should not be more than 5MB</span>
                                    </div>
                                    <div class="preview" v-show="showImage || showPDF || showFile">
                                        <img v-show="showImage" class="image-preview" :src="imageFile" alt="Image Upload"/>
                                        <iframe v-show="showPDF" class="pdf-preview" :src="pdfFile" frameborder="0" scrolling="no" width="400" height="600"></iframe>
                                        <a v-show="showFile" class="file-preview" :href="docFile" target="_blank">Download File</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div v-else-if="info.name == 'initial_deposit'">
                    <h5 style="text-align:center;">Initial Deposit</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('date_of_deposit')}">
                                        <label>Date of Deposit<span class="error">*</span></label>
                                        <flat-pickr
                                            class="form-control"
                                            name="date_of_deposit"
                                            v-validate="'required'"
                                            placeholder="Select a date"
                                            v-model="checklistDetails.date_occurred"
                                            :config="getConfig(true, false, { allowInput:true })"/>
                                        <span v-show="errors.has('date_of_deposit')" class="help-block form-error">{{ replaceText(errors.first('date_of_deposit'), 'date_of_deposit', 'Date of Deposit') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-else-if="info.name == 'start_guide'">
                    <h5 style="text-align:center;">Client Start Guide</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('date_sent')}">
                                        <label>Date Sent<span class="error">*</span></label>
                                        <flat-pickr
                                            class="form-control"
                                            name="date_sent"
                                            v-validate="'required'"
                                            placeholder="Select a date"
                                            v-model="checklistDetails.date_occurred"
                                            :config="getConfig(true, false, { allowInput:true })"/>
                                        <span v-show="errors.has('date_sent')" class="help-block form-error">{{ replaceText(errors.first('date_sent'), 'date_sent', 'Date Sent') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('sent_by')}">
                                        <label>Sent by:<span class="error">*</span></label>
                                        <input  v-validate="'required'" name="sent_by" type="text" placeholder="Enter Sent by" v-model="checklistDetails.sent_by" class="form-control"/>
                                        <span v-show="errors.has('sent_by')" class="help-block form-error">{{ replaceText(errors.first('sent_by'), 'sent_by', 'Sent By') }}</span>
                                    </div>
                                </div>
                            <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('sent_to')}">
                                        <label>Sent to:<span class="error">*</span></label>
                                        <input v-validate="'required'" name="sent_to" type="text" placeholder="Enter Sent to" v-model="checklistDetails.sent_to" class="form-control"/>
                                        <span v-show="errors.has('sent_to')" class="help-block form-error">{{ replaceText(errors.first('sent_to'), 'sent_to', 'Sent To') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': (errors.has('start_guide_copy') || fileUpload.medium_type == 'error'  || fileExceed ) }">
                                        <label>Attach copy of start guide<span class="error">*</span></label>
                                        <div class="file-upload">
                                            <div class="file-select">
                                                <div class="file-select-button">Choose File</div>
                                                <div class="file-select-name">{{ fileUpload.name}}</div> 
                                                <input type="file" v-validate="'required'" name="start_guide_copy" @change="handleFileUpload($event)" accept=".jpg, .jpeg, .png, .pdf, .csv, .doc, .docx">
                                            </div>
                                        </div>
                                        <span v-show="errors.has('start_guide_copy')" class="help-block form-error">{{ replaceText(errors.first('start_guide_copy'), 'start_guide_copy', 'File') }}</span>
                                        <span v-show="fileUpload.medium_type == 'error'" class="help-block form-error">File format not accepted (Please choose png/jpg/jpeg/csv/pdf/doc/docx files)</span>
                                        <span v-show="fileExceed" class="help-block form-error">File size should not be more than 5MB</span>
                                    </div>
                                    <div class="preview" v-show="showImage || showPDF || showFile">
                                        <img v-show="showImage" class="image-preview" :src="imageFile" alt="Image Upload"/>
                                        <iframe v-show="showPDF" class="pdf-preview" :src="pdfFile" frameborder="0" scrolling="no" width="400" height="600"></iframe>
                                        <a v-show="showFile" class="file-preview" :href="docFile" target="_blank">Download File</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-else-if="info.name == 'introductory_call'">
                    <h5 style="text-align:center;">Introductory Call</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('date_of_call')}">
                                        <label>Date of Call<span class="error">*</span></label>
                                        <flat-pickr
                                            class="form-control"
                                            name="date_of_call"
                                            v-validate="'required'"
                                            placeholder="Select a date"
                                            v-model="checklistDetails.date_occurred"
                                            :config="getConfig(true, false, { allowInput:true })"/>
                                        <span v-show="errors.has('date_of_call')" class="help-block form-error">{{ replaceText(errors.first('date_of_call'), 'date_of_call', 'Date of Call') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('attendees')}">
                                        <label>Attendees<span class="error">*</span></label>
                                        <input v-validate="'required'" name="attendees" type="text" placeholder="Enter Attendees" v-model="checklistDetails.attendees" class="form-control"/>
                                        <span v-show="errors.has('attendees')" class="help-block form-error">{{ replaceText(errors.first('attendees'), 'attendees', 'Attendees') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('Notes')}">
                                        <label>Notes from the call<span class="error">*</span></label>
                                        <textarea v-validate="'required'" placeholder="Enter Notes" v-model="checklistDetails.notes" name="Notes" class="form-control" rows="5"></textarea>
                                        <span v-show="errors.has('Notes')" class="help-block form-error">{{ replaceText(errors.first('Notes'), 'Notes', 'Notes') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': fileUpload.medium_type == 'error'  || fileExceed }">
                                        <label>Attached Meeting Notes File(Optional)</label>
                                        <div class="file-upload">
                                            <div class="file-select">
                                                <div class="file-select-button">Choose File</div>
                                                <div class="file-select-name">{{ fileUpload.name}}</div> 
                                                <input type="file" v-validate="'required'" name="start_guide_copy" @change="handleFileUpload($event)" accept=".jpg, .jpeg, .png, .pdf, .csv, .doc, .docx">
                                            </div>
                                        </div>
                                        <span v-show="fileUpload.medium_type == 'error'" class="help-block form-error">File format not accepted (Please choose png/jpg/jpeg/csv/pdf/doc/docx files)</span>
                                        <span v-show="fileExceed" class="help-block form-error">File size should not be more than 5MB</span>
                                    </div>
                                    <div class="preview" v-show="showImage || showPDF || showFile">
                                        <img v-show="showImage" class="image-preview" :src="imageFile" alt="Image Upload"/>
                                        <iframe v-show="showPDF" class="pdf-preview" :src="pdfFile" frameborder="0" scrolling="no" width="400" height="600"></iframe>
                                        <a v-show="showFile" class="file-preview" :href="docFile" target="_blank">Download File</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-else-if="info.name == 'team_emails_sent'">
                    <h5 style="text-align:center;">Team Emails to Clients</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('date')}">
                                        <label>Date<span class="error">*</span></label>
                                        <flat-pickr
                                            class="form-control"
                                            name="date"
                                            v-validate="'required'"
                                            placeholder="Select a date"
                                            v-model="checklistDetails.date_occurred"
                                            :config="getConfig(true, false, { allowInput:true })"/>
                                        <span v-show="errors.has('date')" class="help-block form-error">{{ replaceText(errors.first('date'), 'date', 'Date') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-else-if="info.name == 'first_week_check_up'">
                    <h5 style="text-align:center;">First Week Checkup</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('date')}">
                                        <label>Date<span class="error">*</span></label>
                                        <flat-pickr
                                            class="form-control"
                                            name="date"
                                            v-validate="'required'"
                                            placeholder="Select a date"
                                            v-model="checklistDetails.date_occurred"
                                            :config="getConfig(true, false, { allowInput:true })"/>
                                        <span v-show="errors.has('date')" class="help-block form-error">{{ replaceText(errors.first('date'), 'date', 'Date') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('feedback')}">
                                        <label>Comments/Feedback from client<span class="error">*</span></label>
                                        <textarea v-validate="'required'" placeholder="Enter Comments" v-model="checklistDetails.client_feedback" name="feedback" class="form-control"  rows="5"></textarea>
                                        <span v-show="errors.has('feedback')" class="help-block form-error">{{ replaceText(errors.first('feedback'), 'feedback', 'Feedback') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('Notes')}">
                                        <label>Notes<span class="error">*</span></label>
                                        <textarea v-validate="'required'" placeholder="Enter Notes" v-model="checklistDetails.notes" name="Notes" class="form-control"  rows="5"></textarea>
                                        <span v-show="errors.has('Notes')" class="help-block form-error">{{ replaceText(errors.first('Notes'), 'Notes', 'Notes') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-else-if="info.name == 'first_month_check_up'">
                    <h5 style="text-align:center;">First Month Checkup</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('date')}">
                                        <label>Date<span class="error">*</span></label>
                                        <flat-pickr
                                            class="form-control"
                                            name="date"
                                            v-validate="'required'"
                                            placeholder="Select a date"
                                            v-model="checklistDetails.date_occurred"
                                            :config="getConfig(true, false, { allowInput:true })"/>
                                        <span v-show="errors.has('date')" class="help-block form-error">{{ replaceText(errors.first('date'), 'date', 'Date') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('feedback')}">
                                        <label>Comments/Feedback from client<span class="error">*</span></label>
                                        <textarea v-validate="'required'" placeholder="Enter Comments" v-model="checklistDetails.client_feedback" name="feedback" class="form-control"  rows="5"></textarea>
                                        <span v-show="errors.has('feedback')" class="help-block form-error">{{ replaceText(errors.first('feedback'), 'feedback', 'Feedback') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" :class="{'has-error': errors.has('Notes')}">
                                        <label>Notes<span class="error">*</span></label>
                                        <textarea v-validate="'required'" placeholder="Enter Notes" v-model="checklistDetails.notes" name="Notes" class="form-control"  rows="5"></textarea>
                                        <span v-show="errors.has('Notes')" class="help-block form-error">{{ replaceText(errors.first('Notes'), 'Notes', 'Notes') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template> 
    </modal-dialog>
</template>

<style scoped>
    .file-upload {
        display: block;
        text-align: center;
        font-size: 12px;
    }
    .file-upload .file-select {
        display: block;
        border: 2px solid #d7f6de;
        color: #28a745;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        text-align: left;
        background: #FFFFFF;
        overflow: hidden;
        position: relative;
    }
    .file-upload .file-select .file-select-button {
        background: #d7f6de;
        padding: 0 10px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
    }
    .file-upload .file-select .file-select-name {
        line-height: 40px;
        display: inline-block;
    }
    .file-upload .file-select:hover {
        border-color: #28a745;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
    .file-upload .file-select:hover .file-select-button {
        background: #28a745;
        color: #FFFFFF;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
    .file-upload .file-select input[type=file] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .preview {
        text-align: center;
    }
</style>


<script>
    import _ from 'lodash';
    import $ from 'jquery';

	//Components
	import GenerateButton from '@components/form/button.vue';
	import SaveButton from '@components/form/button.vue';
	import ModalDialog from '@components/modal-dialog.vue';
    import FlatPickr from 'vue-flatpickr-component';

	import DataTableMixin from '@common/mixin/DataTableMixin'
	import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
	import StringHelperMixin from '@common/mixin/StringHelperMixin';
	import AlertMixin from '@common/mixin/AlertMixin';
    import DatePickerMixin from '@common/mixin/DatePicker';
    import AssetMixin from '@common/mixin/AssetMixin';

    import { Asset } from '@common/model/Asset';
	import { mapActions, mapGetters } from 'vuex';

	export default {
		props: {
			info: { type: Object, required: true}
		},
		data() {
			return {
				option: { width: '500px' },
	            button: { class: 'btn btn-primary',type: 'button' },
                btnLoading: false,
                loading: false,
                manualInput : false,
                checklistDetails: {
                    id: 0,
                    client_id: this.$route.params.id,
                    asset_id: null,
                    step: this.info.name,
                    date_occurred: '',
                    client_signatory: '',
                    sent_by: '',
                    sent_to: '',
                    attendees: '',
                    client_feedback: '',
                    notes: '',
                   
                },
                fileUpload: {
                    folder: 'client-onboarding-checklist',
                    assetable_id: 0,
                    type: 9,
                    assetable_type: 'client-onboarding-checklists',
                    name: 'No file chosen...',
                    medium: null,
                    medium_type: null,
                },
                showFile: false,
                showImage: false,
                showPDF: false,
                fileExceed: false,
                existingFile: false,
                imageFile: null,
                pdfFile: null,
                docFile: null
			}
		},
		computed: {
			...mapGetters({
				checklistData: 'clientOnboardingChecklist/data'
			}),
            isValid() {
                let valid = true;
                switch(this.info.name){
                    case 'contract_signed':
                        if (_.isEmpty(this.checklistDetails.date_occurred) || _.isEmpty(this.checklistDetails.client_signatory) || (this.fileUpload != null && this.fileUpload.medium_type == 'error') || this.fileExceed ) {
                            valid = false;
                            return;
                        }
                        break;
                    case 'initial_deposit':
                        if (_.isEmpty(this.checklistDetails.date_occurred)) {
                            valid = false;
                            return;
                        }
                        break;
                    case 'start_guide':
                        if (_.isEmpty(this.checklistDetails.date_occurred) || _.isEmpty(this.checklistDetails.sent_by) || _.isEmpty(this.checklistDetails.sent_to) || _.isEmpty(this.fileUpload.medium) || this.fileUpload.medium_type == 'error' || this.fileExceed) {
                            valid = false;
                            return;
                        }
                        break;
                    case 'introductory_call':
                        if (_.isEmpty(this.checklistDetails.date_occurred) || _.isEmpty(this.checklistDetails.attendees) || _.isEmpty(this.checklistDetails.notes) || (this.fileUpload != null && this.fileUpload.medium_type == 'error') || this.fileExceed) {
                            valid = false;
                            return;
                        }
                        break;
                    case 'team_emails_sent':
                        if (_.isEmpty(this.checklistDetails.date_occurred)) {
                            valid = false;
                            return;
                        }
                        break;
                    case 'first_week_check_up':
                        if (_.isEmpty(this.checklistDetails.date_occurred) || _.isEmpty(this.checklistDetails.client_feedback) || _.isEmpty(this.checklistDetails.notes)) {
                            valid = false;
                            return;
                        }
                        break;
                    case 'first_month_check_up':
                        if (_.isEmpty(this.checklistDetails.date_occurred) || _.isEmpty(this.checklistDetails.client_feedback) || _.isEmpty(this.checklistDetails.notes)) {
                            valid = false;
                            return;
                        }
                        break;
                    default:
                        break;

                }
				return valid;
            }
		},
		async created() {
            this.loading = true;
            await this.getData();
            this.loading = false;
        },
		methods: {
			...mapActions({
                getChecklist:'clientOnboardingChecklist/getChecklist',
                saveChecklist:'clientOnboardingChecklist/saveChecklist',
            }),
            async save() {
                this.btnLoading = true;
                this.saveChecklist(this.checklistDetails).then((res) => {
                    this.checklistDetails.id = res.data.id;
                    if (this.fileUpload.medium_type != null && this.fileUpload.medium_type != 'error') {
                        this.fileUpload.assetable_id = res.data.id;
                        const asset = new Asset();
                        asset.save(this.fileUpload).then((res2) => {
                            this.checklistDetails.asset_id = res2.data.id;
                            this.saveChecklist(this.checklistDetails);
                        });
                    }

                    if (this.info.step == this.info.name) {
                        this.$emit('success',this.info.name);
                    }

                    this.closeModal();
                    this.btnLoading = false;
                    this.notifyDialog('success', 'Successfully saved!');
                }).catch((error) => {
                    this.closeModal();
                    this.btnLoading = false;
                    this.notifyDialog('error', 'Error saving!');
                });
                
            },
            async getData(){
                await this.getChecklist({
                    query: { client_id: this.$route.params.id , step: this.info.name }
                });
                this.checklistDetails = this.checklistData ? this.checklistData : this.checklistDetails;
                this.fileUpload.name = this.checklistDetails.asset ? this.checklistDetails.asset.asset_name : this.fileUpload.name;
                this.existingFile = this.checklistDetails.asset ? true : false;
            },
            replaceText(str, look, replace){
                if(str!=null && str!=''){
                    return str.replace(look,replace);
                } return "";
            },
            handleFileUpload(e){
                let uploadedFiles = e.target.files || e.dataTransfer.files;
                let reader = new FileReader();

                this.showImage = this.showPDF = this.showFile = this.fileExceed = false;
                this.imageFile = this.pdfFile = this.docFile = null;
                if (!uploadedFiles.length){
                    this.fileUpload.medium = null;
                    this.fileUpload.medium_type = null;
                    this.fileUpload.name = 'No file chosen...';
                    return;
                }

                this.fileUpload.name = uploadedFiles[0].name;
                reader.readAsDataURL(uploadedFiles[0]);
                reader.onload = (e) => {
                    switch(uploadedFiles[0].name.split('.').pop().toLowerCase()){
                        case 'jpg':
                        case 'jpeg':
                        case 'png':
                            this.fileUpload.medium_type = 'image';
                            this.imageFile = e.target.result;
                            // $('.image-preview').attr('src', e.target.result);
                            this.showImage = true;
                            break;
                        case 'pdf':
                            this.fileUpload.medium_type = 'file';
                            this.pdfFile = URL.createObjectURL(uploadedFiles[0]);
                            // $('.pdf-preview').attr('src',URL.createObjectURL(uploadedFiles[0]));
                            this.showPDF = true;
                            break;
                        case 'csv':
                        case 'doc':
                        case 'docx':
                            this.fileUpload.medium_type = 'file';
                            this.docFile = URL.createObjectURL(uploadedFiles[0]);
                            // $('.file-preview').attr('href',URL.createObjectURL(uploadedFiles[0]));
                            this.showFile = true;
                            break;
                        default:
                            this.fileUpload.medium_type = 'error';
                            return;
                            break;
                    }
                    this.fileUpload.medium = e.target.result;
                };
                
                if ((uploadedFiles[0].size / 1024 / 1024) > 5 ) {
                    this.fileExceed = true;
                    return;
                }
            }
        },
        watch: {
            existingFile: function(val){
                if (val) {
                    let path = window.location.origin + this.getAssetPath(this.checklistDetails.asset.path);
                    switch (this.checklistDetails.asset.asset_name.split('.').pop().toLowerCase()){
                        case 'jpg':
                        case 'jpeg':
                        case 'png':
                            this.imageFile = path;
                            this.showImage = true;
                            break;
                        case 'pdf':
                            this.pdfFile = path;
                            this.showPDF = true;
                            break;
                        case 'csv':
                        case 'doc':
                        case 'docx':
                            this.docFile = path;
                            this.showFile = true;
                            break;
                        default:
                            break;
                    }
                }
            } 
        },
		components: {
	        GenerateButton,
	        SaveButton,
            ModalDialog,
            FlatPickr
	    },
	    mixins: [
	    	DataTableMixin,
	        ModalDialogMixin,
			StringHelperMixin,
            AlertMixin,
            DatePickerMixin,
            AssetMixin
	    ]
	}
</script>
