<template>
    <modal-dialog v-show="openModal" :options="option" :assignedProjects="this.assignedProjects" :title="this.title"  @close="closeModal"> {{title}}
        <template slot="button">
            <save-button :loading="loading" :options="button" @action="assign" :disabled="!noChangesMade">{{ (this.title === 'Select Project to Assign') ? modal_assign : modal_unassign }}</save-button>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-sm-12 enable-client-login-container">

                    <data-table
                        :columns="data.columns"
                        :showSearch="false"
                        :showFilter="false"
                        :showPagination="false">

                        <tbody v-if="this.title === 'Select Project to Assign'">
                            <tr
                                :class="index % 2 == 0 ? 'even' : 'odd'"
                                v-for="(project,index) in projects"
                                :key="project.id">

                                <td class="text-center">
                                    <span class="custom-control custom-checkbox">
                                        <input type="checkbox" 
                                            :value="project.id" 
                                            :id="project.id" 
                                            class="custom-control-input" 
                                            v-model="selectedProjects"/>
                                        <label :for="project.id" class="custom-control-label"></label>
                                    </span>
                                </td>
                                <td class="text-center">{{ project.project_name }}</td>
                                <td class="text-center">
                                    <span class="user-profile" v-if="project.start_date">{{ formatDate(project.start_date,'MM/DD/YYYY') }}</span>
                                    <span class="user-profile" v-else>TBD</span>
                                </td>
                                
                                <!-- <td class="text-center">{{ getResource(project.resources) }}</td> -->
                            </tr>
                        </tbody>

                        
                        <tbody v-else>
                            <tr 
                                :class="index % 2 == 0 ? 'even' : 'odd'"
                                v-for="(clientProject,index) in this.assignedProjects"
                                :key="clientProject.id">

                                <td class="text-center">
                                    <span class="custom-control custom-checkbox">
                                        
                                        <input type="checkbox" 
                                            :value="clientProject.id" 
                                            :id="clientProject.id" 
                                            class="custom-control-input" 
                                            v-model="selectedProjects"/>
                                        <label :for="clientProject.id" class="custom-control-label"></label>
                                    </span>
                                </td>
                                <td class="text-center">{{ clientProject.project_name }}</td>
                                <td class="text-center">
                                    <span class="user-profile" v-if="clientProject.start_date">{{ formatDate(clientProject.start_date,'MM/DD/YYYY') }}</span>
                                    <span class="user-profile" v-else>TBD</span>
                                </td>
                        
                                 <!-- <td class="text-center">{{ getResource(clientProject.resources) }}</td>  -->
                            </tr>
                        </tbody>
                    </data-table>

                </div>
            </div>
        </template>
    </modal-dialog>
</template>
<style scoped>	
	span.custom-control.custom-checkbox {
		padding: 0 !important;
		width: 18px !important;
		height: 18px !important;
		display: inline-block;
	}
	.custom-control-label {
		position: absolute !important;
		width: 18px !important;
		height: 18px !important;
		top: 0 !important;
		left: 0 !important;
        cursor: pointer;
	}
	.custom-control-label::before {
		left: 0 !important;
	}	
</style>
<style>
	.enable-client-login-container div.dataTables_wrapper .row:first-child {
		display: none !important;
	}
</style>
<script type="text/javascript">
    import _ from 'lodash';
    import $ from 'jquery';

    //Components
    import SaveButton from '@components/form/button.vue';
    import ModalDialog from '@components/modal-dialog.vue';
    import DataTable from '@components/datatable.vue';
    
    //Mixins
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';
    import AlertMixin from '@common/mixin/AlertMixin';
    import DateMixin from '@common/mixin/DateMixin';

    import { mapActions, mapGetters } from 'vuex';


    export default {
        props: {
            title: {
                type: String,
                required: true
            },
            assignedProjects: {
                type: Array
            }
        },
        data() {
            let columns = [
				{ label: 'Choose', key: 'Choose', width: '15%', sortable: false, text_align: 'text-center'},
				{ label: 'Project Name', key: 'Project Name', width: '30%', sortable: false, text_align: 'text-center' },
                { label: 'Start Date', key: 'Start Date', width: '30%', sortable: false, text_align: 'text-center' },
                // { label: 'Resources', key: 'Resources', width: '30%', sortable: false, text_align: 'text-center', },
			];
            return {
                data: {
					columns: columns
				},
                option: {
                    height: 'auto',
                    width: '700px',
                    bottom: 'auto'
                },
                modal_assign : 'Assign',
                modal_unassign : 'Unassign',
                loading: false,
                button: {
                    class: 'btn btn-primary',
                    type: 'button'
                },
                selectedProjects: [],
                //selectedUnassignProjects : []
            }
        },
        computed: {
            ...mapGetters({
                client:'clients/client',
				projects: 'clientProjects/data',
            }),

            noChangesMade(){
                return this.selectedProjects.length > 0;
            }
        },
        methods:{
            ...mapActions({
				saveUser: 'users/saveUser',
                saveContact: 'clientContacts/saveContact',
                addUserRole: 'userRoles/saveUserRole',
                saveUserRolePermission: 'userRolePermissions/saveUserRolePermission',
                addContactUser: 'addContactUser/addContactUser'
            }),
            getResource(val) {
                return val.data.length;
            },
            assign(){
                this.$emit('assign', this.selectedProjects, this.title);
                this.closeModal();
            },
        },
        components: {
            SaveButton,
            ModalDialog,
            DataTable,
        },
        mixins: [
            ModalDialogMixin,
            AlertMixin,
            DateMixin
        ]
    }
</script>