<template>
    <div class="s-tabs-container ks-tabs-default ks-tabs-no-separator ks-full ks-light main-page">
        <div class="header-form bg-info">
            <div class="comp-logo-container">                
                <a href="http://www.fullscale.io" target="_blank"><img src="/images/fs-logo-white.png" alt="FULL SCALE" class="comp-logo" /></a>
            </div>
        </div>
        <div class="container">
            <fs-form-step-wizard
                v-if="formStepWizardSettings != null"
                :settings="formStepWizardSettings"                
                @submit="submitForm"
                @navigate-pages="getCurrentPage"
            >                   
                <div v-if="!submitted && page == 1" class="row p-4">
                    <field-component v-for="element in formStepWizardSettings.pages[0].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                </div>
                <div v-if="!submitted && page == 2" class="row p-4">
                    <field-component v-for="element in formStepWizardSettings.pages[1].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                </div>

                <div v-if="submitted" class="row p-4">
                    <p class="col-md-12 text-center thank-text text-secondary display-inline">
                        Thank you for answering the survey.<br>
                        We will review and someone at Full Scale will reach out to you soon.
                    </p>
                </div>
            </fs-form-step-wizard>
        </div>     
    </div>
</template>

<style lang="scss">
    .form-header{
        height: 200px!important;
        max-width: 100%!important;
        width: 100%!important;
    }
    div.header-form{
        height: 60px!important;
        max-width: 100%!important;
        width: 100%!important;
        position: fixed!important;
        top: 0px;
        left: 0px;
        z-index: 2;
        box-shadow: 0 4px 4px -1px #999999;
        -moz-box-shadow: 0 4px 4px -1px #999999;
        -webkit-box-shadow: 0 4px 4px -1px #999999;
        div, .comp-logo-container{
            width: 1000px;
            position: relative;
            margin: 0 auto;
            span{
                width: 223px!important;
                position: relative;
                top: 12px!important;
                left: -7px!important;
                z-index: 1;
                color: #FFFFFF;

                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 29px;
            }
            .comp-logo {
                width: 108px;
            }
        }
    }
</style>

<style lang="scss">
    .plabel {
        p {
            font-weight: 700;
            margin-top: 2px !important;
        }
    }
   
    .custom-control.custom-control-inline.custom-checkbox {
        width: 100px !important;
    }
    .thank-text {
        font-size: 16px;
        font-weight: 900;
    }
</style>
<script>
    // Mixins
    import LoaderMixin from '@common/mixin/LoaderMixin';
    
    // Components
    import FsFormStepWizard from '@components/form/fs-form-step-wizard.vue';
    import FieldComponent from '@components/form/field-component.vue';

    // Models
    import { User } from '@common/model/User';
    import { Asset } from '@common/model/Asset';
    import OAuth from '@common/oauth/OAuth';
    import { mapActions, mapGetters } from 'vuex';

    // Library
    import _ from 'lodash';

    export default {
        components: {
            FsFormStepWizard,
            FieldComponent,
        },
        mixins: [
            LoaderMixin,
        ],
        data() {            
            return {
                formStepWizardSettings: null,
                page: null,
                submitted: false,
                hideCompanyDoOther: null,
                hideSignatoryFields: null,
                hideReferrer: null,
                formData: [],
                companyNames: [],
                companyDo: [],
                companyDoOther: [],
            }    
        },
        async created() {
            await this.generateToken(true);
            await this.getCompanies({query: {take: 99999}});

            this.clients.forEach((row) => {
                this.companyNames.push(row.company);
            })

            this.initialize();
            this.hideLoader();
        },
        computed: {
            ...mapGetters({
                clients:'clients/search',
                contact: 'clients/contact',
                client:'clients/client',
                timezones: 'timezones/formatted',
            }),
        },
        methods: {
            ...mapActions({
                getCompanies: 'clients/getCompanies',
                saveClient: 'clients/saveClient',
                fetchClient: 'clients/getClient',
                saveContact: 'clientContacts/saveContact',
                getTimezones: 'timezones/getTimezones',
            }),
            async generateToken(flag){
                let self = this;
                if (flag) {
                    await OAuth.tokenize().then(response => {
                        self.loading = false;
                        if (response == true) {
                            self.invalid = false;
                        } else {
                            this.$router.push('/login');
                        }
                    });
                } else {
                    await OAuth.logout().then(() => {
                        let $ = jQuery;
                        $(document).ready(function(){
                            setTimeout(function(){
                                localStorage.removeItem('vuex');
                                localStorage.removeItem('auth_token');
                            },300);
                        });
                    });
                }
            },
            initialize() {

                this.formStepWizardSettings = {
                    form_id: 'agency_parnter_survey',
                    form_title: 'Agency Partner Survey',
                    form_description: 'Getting Started',
                    submit_button_text: 'Submit',
                    pages: [                                                
                        {
                            page_id: 1, 
                            page_name: 'Getting Started', 
                            page_stepIcon:'la la-play',
                            formElements: [
                                {
                                    type: "paragraph",                                   
                                    label: 'What is the name of your business?',
                                    class: 'col-md-6 plabel',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'company',
                                    label: '',
                                    placeholder: 'Business name',
                                    value: '',
                                    class: 'col-md-6',
                                    existing_records: this.companyNames,
                                    check_duplicate: true,
                                    is_required: true,
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "line-break",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'What is your business address?',
                                    class: 'col-md-6 plabel',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'street',
                                    label: '',
                                    value: '',
                                    placeholder: 'Street',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "paragraph",                                    
                                    label: '',
                                    class: 'col-md-6',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'city',
                                    label: '',
                                    placeholder: 'City',
                                    value: '',
                                    class: 'col-md-2',
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "text",
                                    id: 'state',
                                    label: '',
                                    placeholder: 'State',
                                    value: '',
                                    class: 'col-md-2',
                                    is_required: false,
                                    is_hidden: false
                                },
                                {
                                    type: "text",
                                    id: 'zip',
                                    label: '',
                                    placeholder: 'Zip',
                                    value: '',
                                    class: 'col-md-2',
                                    is_required: false,
                                    is_hidden: false
                                },
                                {
                                    type: "line-break",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'What is your business phone?',
                                    class: 'col-md-6 plabel',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'contact_no',
                                    label: '',
                                    placeholder: 'Business Phone',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "line-break",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Who is the primary contact we can reach out to?',
                                    class: 'col-md-6 plabel',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'title',
                                    label: '',
                                    placeholder: 'Title',
                                    value: '',
                                    class: 'col-md-2',
                                    is_required: false,
                                    is_hidden: false
                                },
                                {
                                    type: "text",
                                    id: 'name',
                                    label: '',
                                    placeholder: 'Enter name',
                                    value: '',
                                    class: 'col-md-4',
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "line-break",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'What is email of the primary contact?',
                                    class: 'col-md-6 plabel',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "email",
                                    id: 'email',
                                    label: '',
                                    placeholder: 'Enter e-mail address',
                                    value: '',
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "line-break",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph", 
                                    label: 'Is the primary contact is also the signatory for legal document?',
                                    class: 'col-md-6 plabel',
                                    is_hidden: false,                                           
                                },
                                {   
                                    type: "radio",
                                    id: 'primary_contact_is_signatory',
                                    label: '',
                                    value: [],
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options: [
                                        {value: 'yes', text: 'Yes'},
                                        {value: 'no', text: 'No'}
                                    ]
                                },
                                {
                                    type: "line-break",
                                    name: 'signatory-fields',
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph", 
                                    name: 'signatory-fields',                                   
                                    label: "What is signatory's fullname?",
                                    class: 'col-md-6 plabel',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'signatory_fullname',
                                    label: '',
                                    name: 'signatory-fields',
                                    placeholder: "Enter name",
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: false,
                                    is_hidden: true
                                },
                                {
                                    type: "line-break",
                                    name: 'signatory-fields',
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph", 
                                    name: 'signatory-fields',                                   
                                    label: "What is signatory's email?",
                                    class: 'col-md-6 plabel',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "email",
                                    id: 'signatory_email',
                                    label: '',
                                    name: 'signatory-fields',
                                    placeholder: "Enter e-mail address",
                                    value: '',
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: true
                                },
                            ]
                        },
                        {
                            page_id: 2, 
                            page_name: 'Finishing Up', 
                            page_stepIcon: 'la la-paper-plane',
                            formElements: [
                                {   
                                    type: "checkbox",
                                    id: 'company_do',
                                    label: 'What does your company do?',
                                    value: [],
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    show_asterisk: false,
                                    options: [
                                        {value: 'software', text: 'Software'},
                                        {value: 'marketing', text: 'Marketing'},
                                        {value: 'staffing', text: 'Staffing'},
                                        {value: 'other', text: 'Other'},
                                    ]
                                },
                                {
                                    type: "tags-input",
                                    id: 'company_do_other',
                                    label: '',
                                    placeholder: 'Enter Other',
                                    value: [],
                                    class: 'col-md-6',
                                    is_required: false,
                                    is_hidden: true
                                },
                               {
                                    type: "line-break",
                                    class: 'col-md-12'
                                },
                                {   
                                    type: "radio",
                                    id: 'referred_by_someone',
                                    label: 'Were you referred by someone?',
                                    value: [],
                                    class: 'col-md-12',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    show_asterisk: false,
                                    options: [
                                        {value: 'yes', text: 'Yes'},
                                        {value: 'no', text: 'No'}
                                    ]
                                },
                                {
                                    type: "text",
                                    id: 'referred_by',
                                    label: '',
                                    placeholder: 'Enter name',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: true
                                }
                            ]
                        }
                    ]
                }               
            },
            getCurrentPage(pageNumber) {
                this.page = pageNumber;
            },
            updateElementField(id, value) { 
                if (id == 'company_do') {
                    this.hideCompanyDoOther = null;

                    if (value.includes('other')) {
                        this.hideCompanyDoOther = false;
                    } else {
                        this.hideCompanyDoOther = true;
                    }
                }

                if (id == 'referred_by_someone') {
                    this.hideReferrer = null;
                    this.hideReferrer = value == 'yes' ? false : true;
                }

                if (id == 'primary_contact_is_signatory') {
                    this.hideSignatoryFields = null;
                    this.hideSignatoryFields = value == 'no' ? false : true;
                }

                this.formStepWizardSettings.pages.forEach((page) => {
                    page.formElements.forEach((el) => {
                        // check if element id is company_do_other
                        if (el.id == 'company_do_other' && this.hideCompanyDoOther != null) {
                            if (this.hideCompanyDoOther == false) {
                                this.$set(el, 'value', []);
                            } 
                            el.is_hidden = this.hideCompanyDoOther;
                        }

                        // check if element id is referrer
                        if (el.id == 'referred_by' && this.hideReferrer != null) { 
                            el.is_hidden = this.hideReferrer;
                        }

                        // check if element name is signatory-fields
                        if (el.name == 'signatory-fields' && this.hideSignatoryFields != null) { 
                            el.is_hidden = this.hideSignatoryFields;
                        }

                        // Update field value, don't alter or remove. Always put at the bottom
                        if (el.id === id) { 
                            el.value = value;                            
                        }
                    });
                });

                this.collectFormData(id, value);
            },
            collectFormData(id, value) {
                this.formValues = {};

                this.formStepWizardSettings.pages.forEach((page) => {
                    page.formElements.forEach((el) => {
                        if (el.value != undefined) {
                            if (el.id == 'company_do'&& id == 'company_do') {
                                let _compDo = [];

                                el.options.forEach(option => {
                                    if (value.includes(option.value)) {
                                        if (option.text !== 'Other') {
                                            _compDo.push(option.text);
                                        }
                                    } else {
                                        this.companyDoOther = [];
                                    }
                                })

                                this.companyDo = _compDo;
                            }

                            if (el.id == 'company_do_other' && id == 'company_do_other') {
                                this.companyDoOther = value;
                            } 
                            
                            this.formValues[el.id] = el.value;
                        }
                    });
                    
                }); 
                
                this.formValues.company_do = this.companyDo.concat(this.companyDoOther);
            },
            async submitForm(){
                await this.generateToken(true);

                let clientInfo = {};
                let clientContact = {};
                let clientContactsData = [];
                let signatoryContact = {};
                let tempCompanyDoOther = this.formValues.company_do_other;
                clientContact.title = this.formValues.title;
                clientContact.name = this.formValues.name;
                clientContact.contact_no = this.formValues.contact_no;
                clientContact.email = this.formValues.email;
                clientContact.is_signatory = 0;

                if (this.formValues.primary_contact_is_signatory == 'yes') {
                    clientContact.is_signatory = 1;
                }
                clientContactsData.push(clientContact);
                if (this.formValues.primary_contact_is_signatory == 'no') {
                    signatoryContact.title = null;
                    signatoryContact.name = this.formValues.signatory_fullname;
                    signatoryContact.contact_no = null;
                    signatoryContact.email = this.formValues.signatory_email;
                    signatoryContact.is_signatory = 1;  
                    clientContactsData.push(signatoryContact);                  
                }
                
                clientInfo.company = this.formValues.company;
                clientInfo.is_partner = 1;
                clientInfo.zone_id = 390;
                clientInfo.timezone = 'America/Chicago';
                clientInfo.referred_by = '';
                clientInfo.location = this.formValues.street + ' ' + this.formValues.city + ' ' + this.formValues.state + ' ' + this.formValues.zip;

                let tempCompanyDo = [];
                let tempMerged = [];
                tempCompanyDo = this.formValues.company_do;

                if(tempCompanyDo.length > 0) {
                    clientInfo.company_do = tempCompanyDo.join(', ');
                }

                if(this.formValues.referred_by_someone == 'yes') {
                    clientInfo.referred_by = this.formValues.referred_by;
                } else {
                    if(this.formValues.referred_by_someone == 'no') {
                        clientInfo.referred_by = 'No';
                    }
                }

                this.saveClient(clientInfo).then((res) => {
                    let promises = [];
                    clientContactsData.forEach((contactRow) => {
                        contactRow.client_id = this.client.id;
                        promises.push(this.saveContact(contactRow));
                    })
                    Promise.all(promises).then((res3) => {
                        this.$emit('success');
                        this.loading = false;
                    });
                });

                this.submitted = true;
            },
        }
    }
</script>