<template>
    <div class="s-tabs-container ks-tabs-default ks-tabs-no-separator ks-full ks-light main-page">
        <div class="header-form bg-info">
            <div class="comp-logo-container">                
                <a href="http://www.fullscale.io" target="_blank"><img src="/images/fs-logo-white.png" alt="FULL SCALE" class="comp-logo" /></a>
            </div>
        </div>
        <div class="container">
            <fs-form-step-wizard
                v-if="formStepWizardSettings != null"
                :settings="formStepWizardSettings"                
                @submit="submitForm"
                @navigate-pages="getCurrentPage"
            >   
                
                <div v-if="!submitted && page == 1" class="row p-4">
                    <field-component v-for="element in formStepWizardSettings.pages[0].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                </div>
                <div v-if="!submitted && page == 2" class="row p-4">
                    <field-component v-for="element in formStepWizardSettings.pages[1].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                </div>
                <div v-if="!submitted && page == 3" class="row p-4">
                    <field-component v-for="element in formStepWizardSettings.pages[2].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                </div>
                <div v-if="!submitted && page == 4" class="row p-4">
                    <field-component v-for="element in formStepWizardSettings.pages[3].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                </div>
                <div v-if="!submitted && page == 5" class="row p-4">
                    <field-component v-for="element in formStepWizardSettings.pages[4].formElements" :key="element.id" :data="element" @update="updateElementField"></field-component>
                </div>

                <div v-if="submitted" class="row p-4">
                    <p class="col-md-12 text-center my-4 h5 display-inline">
                        Thank you for taking the time to tell us more about yourself!
                    </p>
                    <p class="col-md-12 text-center text-secondary display-inline">
                        As one of the fastest growing companies in the city, we get a lot of applications. <br>
                        So please be patient if our outreach isn’t immediate. <br><br>
                        If you would like to speed up the process, we would like to encourage you to start taking our skills assessments.<br>
                        Each assessment takes 30-60 minutes to complete.
                    </p>
                    <div class="text-center">
                        <skills-logo
                            v-for="(exam) in hackerRankExamsWithTestUrl" 
                            :key="exam.id"                                   
                            :skill="{ key: exam.skill_id, value: exam.skill_name }"
                            :title="`Take  ` + exam.skill_name + ` Assessment`"
                            @logoClick="skillLogoClicked(exam.test_url)"
                        >
                        </skills-logo>
                    </div>
                </div>
            </fs-form-step-wizard>
        </div>     
    </div>
</template>

<style lang="scss">
    .form-header{
        height: 200px!important;
        max-width: 100%!important;
        width: 100%!important;
    }
    div.header-form{
        height: 60px!important;
        max-width: 100%!important;
        width: 100%!important;
        position: fixed!important;
        top: 0px;
        left: 0px;
        z-index: 2;
        box-shadow: 0 4px 4px -1px #999999;
        -moz-box-shadow: 0 4px 4px -1px #999999;
        -webkit-box-shadow: 0 4px 4px -1px #999999;
        div, .comp-logo-container{
            width: 1000px;
            position: relative;
            margin: 0 auto;
            span{
                width: 223px!important;
                position: relative;
                top: 12px!important;
                left: -7px!important;
                z-index: 1;
                color: #FFFFFF;

                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 29px;
            }
            .comp-logo {
                width: 108px;
            }
        }
    }
    .has-sub {
        margin-bottom: -18px;
    }
    hr {
        margin-top: 0;
    }
    .text-top label.custom-control-label span {
        position: absolute;
        top: -18px;
        left: -18px;
    }
    .custom-control-inline.custom-checkbox label {
        min-width: 240px;
        margin-bottom: 3px;
    }
    .input-group-text {
        min-width: 190px;
    }

    .div-container {
        button {
            padding-left: 51px;
            margin-bottom: 6px;
            span.number {
                font-size: 22px;
                position: absolute;
                left: 0px;
                top: 0px;
                background: #f2f3f5;
                width: 44px;
                border-radius: 20px 0 0 20px;
                height: 36px;
            }
        }
        button.btn-outline-info {
            color: #e6e611;
            background-color: transparent;
            background-image: none;
            border-color: #e6e611;
        } 
        button.btn-outline-primary {
            color: #007840;
            background-color: transparent;
            background-image: none;
            border-color: #007840;
        } 
        button:hover {
            cursor: default !important;
        }
    }
</style>

<script>
    // Mixins
    import LoaderMixin from '@common/mixin/LoaderMixin';
    import EmployeeMixin from '@common/mixin/EmployeeMixin';
    import StringHelperMixin from '@common/mixin/StringHelperMixin';
    import DateMixin from '@common/mixin/DateMixin';
    import ModalDialogMixin from '@common/mixin/ModalDialogMixin';

    // Components
    import FsFormStepWizard from '@components/form/fs-form-step-wizard.vue';
    import FieldComponent from '@components/form/field-component.vue';
    import SkillEntryBox from '@components/skill-entry-box.vue';
    import SkillsLogo from '@components/skills-logo.vue';
    import OAuth from '@common/oauth/OAuth';
    // Models
    import { User } from '@common/model/User';
    import { Asset } from '@common/model/Asset';
    import { EmployeeJobPosition } from '@common/model/EmployeeJobPosition';
    import { EmployeeStatus } from '@common/model/EmployeeStatus';
    import { JobPosition } from '@common/model/JobPosition';
    import { Employee } from '@common/model/Employee';

    import { mapActions, mapGetters } from 'vuex';
    import _ from 'lodash';

    export default {
        data() {            
            return {
                formStepWizardSettings: null,
                page: null,
                submitted: false,
                finish: false,
                hideAccomplishmentYes: null,
                hideCertificationTrainingYes: null,
                hideTop5Skills: null,
                hideHowSoonAvailableExplain: null,
                hideAssessmentEmailUsed: null,
                hideReferredBy: null,
                hideWebsites: null,
                top5SkillsOptions: [],
                supportQuestionLabel: '',                
                skillEntryBoxValidated: false,
                skillOptions: [],
                skillMinusSelectedOptions: [],
                applicantPhone: '',
                applicantEmail: '',
                applicantAltEmail: '',
                isAnyShiftSelected: false,
                bestWayToContactOptions: [],
                top5Skills: [],
                hackerRankExamsWithTestUrl: [],
                employeeTblRecord: [],
                typePositionExperienceSelected: [],
                resumeFileData: [],
                fileUpload:{
                    folder: 'resume',
                    assetable_id: '1',
                    type: 2,
                    assetable_type: 'employees',
                    name:'Test.pdf',
                    medium: null,
                    medium_type: 'file',
                    old_id: '',
                    old_cv: ''
                },
                invalidFileType: false,
                employeeAcademic:{employee_id: ''},
                employeeTopSkills: [],
                employeeOtherSkills: {employee_id: ''},
                employeeOtherDetails:{},
                employeeCharacteristics: [],
                employeeShift: [],
                groupSettingOptions: [],
                fileTypeNeed: ".PDF, .DOCX, .DOC, .pdf, .doc, .docx",
                fileTypes:['PDF', 'DOCX', 'DOC'],
                imageTypes:['JPEG', 'PNG', 'JPG'],
                dataToSave: []

            }
        },
        async created() {
            await this.generateToken(true);
            await this.getCategories({query: {take: 9999, disableDefaultIncludes: 1}});
            await this.getSkills({query: {take: 99999}});
            await this.getPositionTypes({query: {take: 99999}});           
            await this.getHackerRankExams({query: {take: 99999, include: 'skill'}});
            this.initialize();
            this.hideLoader();
        },
        computed: {
            ...mapGetters({
                positionTypes: 'positionTypes/formatted',
                employeePositionTypes: 'employeePositionTypes/formatted',
                categories: 'categories/formatted',
                skills: 'skills/formatted',
                hackerRankExams: 'hackerRankTest/formatted',
            }),
        },
        methods: {
            ...mapActions({
                getPositionTypes: 'positionTypes/getPositionTypes',
                getEmployeePositionTypes: 'employeePositionTypes/getEmployeePositionTypes',
                getCategories: 'categories/getCategories',
                getSkills: 'skills/getSkills',
                getHackerRankExams: 'hackerRankTest/getTests',
                saveEmployeePositionTypes: 'employeePositionTypes/saveEmployeePositionType',
                saveEmployeeAcademics: 'employeeAcademics/saveEmployeeAcademic',
                saveEmployeeTopSkill: 'employeeSkills/saveEmployeeSkill',
                saveEmployeeOtherSkill: 'empOtherSkills/saveEmployeeOtherSkill',
                saveEmployeeDetails: 'employeeOtherDetails/saveEmployeeOtherDetail',
                saveEmpCharacteristics: 'employeeCharacteristics/saveEmployeeCharacteristic',
                saveEmpTimeShift: 'employeeWorkShifts/saveEmployeeWorkShift'
            }),
            initialize() {
                this.skillOptions = _.map(this.skills, item => ({
                    value: item.id,
                    text: item.role || item.text
                }));

                this.skillMinusSelectedOptions = this.skillOptions;

                // Remove exam/skill without test url
                this.hackerRankExamsWithTestUrl = this.hackerRankExams.filter((item) => { 
                    return item.test_url.replace(/\s/g, '') !== "" && item.skill_id;
                })

                this.typeOfPosition =  _.map(this.positionTypes, item => (
                    {
                        id: item.id,
                        checkbox_label: item.text,
                        description: item.description,
                        class: 'col-md-6',
                        value: [],
                        options:  [
                            { value: null, text: 'Select year of experience', disabled: true },
                            { value: 'none', text: 'None' },
                            { value: '1to2_years', text: '1-2 years'},
                            { value: '3to5_years', text: '3-5 years' },
                            { value: '5plus_years', text: '5+ years' },
                            { value: '10plus_years', text: '10+ years' }
                        ] 
                    }
                ));

                this.formStepWizardSettings = {
                    form_id: 'applicant_onboarding',
                    form_title: 'Applicant Onboarding',
                    submit_button_text: 'Submit my Application',
                    pages: [                                                
                        {
                            page_id: 1, 
                            page_name: 'Basic Info', 
                            page_stepIcon:'la la-user',
                            formElements: [
                                {
                                    type: "text",
                                    id: 'first_name',
                                    label: 'First Name',
                                    description: '',
                                    value: '',
                                    class: 'col-md-4',
                                    is_required: true,
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "text",
                                    id: 'middle_name',
                                    label: 'Middle Name',
                                    value: '',
                                    class: 'col-md-4',
                                    is_required: false,
                                    is_hidden: false
                                },
                                {
                                    type: "text",
                                    id: 'last_name',
                                    label: 'Last Name',
                                    value: '',
                                    class: 'col-md-4',
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "phone",
                                    id: 'contact_no',
                                    label: 'Contact Number',
                                    value: '',
                                    class: 'col-md-4',
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "email",
                                    id: 'email',
                                    label: 'Email',
                                    value: '',
                                    class: 'col-md-4',                                            
                                    is_required: true,
                                    is_hidden: false
                                },
                                {
                                    type: "line-break",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "checkbox-select",
                                    id: 'type_of_position',
                                    label: 'What type of position would you like to apply for?',
                                    value: [],
                                    class: 'col-md-12',                                            
                                    is_required: true,
                                    is_hidden: false,
                                     group_setting: this.typeOfPosition
                                },
                                {
                                    type: "file",
                                    id: 'resume',
                                    label: 'Please Upload Your CV or Portfolio Items',
                                    value: [],
                                    filetype_accepted: this.fileTypeNeed,
                                    max_size: 10,
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: false
                                },  
                            ]
                        },
                        {
                            page_id: 2, 
                            page_name: 'Education, Accolades, Certifications', 
                            page_stepIcon: 'la la-mortar-board',
                            formElements: [
                                {
                                    type: "paragraph",                                    
                                    label: 'Tell Us a Little Bit More About Your Training or Education',
                                    class: 'col-md-12 lead text-center mb-4',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "select",
                                    id: 'college_degree',
                                    label: 'Do you have a college degree?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                    options: [
                                        { value: 'yes', text: 'Yes'},
                                        { value: 'no', text: 'No'}
                                    ]
                                },
                                {
                                    type: "line-break",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "select",
                                    id: 'accomplishment',
                                    label: 'Do you have any academic accomplishments that you would like to mention?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                    options: [
                                        { value: 'yes', text: 'Yes'},
                                        { value: 'no', text: 'No'}
                                    ]
                                },
                                {
                                    type: "textarea",
                                    id: 'accomplishment_yes',
                                    label: 'What are those?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: false,
                                    is_hidden: true,                                           
                                },
                                {
                                    type: "select",
                                    id: 'certification_training',
                                    label: 'Do you have any certifications or special training?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                    options: [
                                        { value: 'yes', text: 'Yes'},
                                        { value: 'no', text: 'No'}
                                    ]
                                },
                                {
                                    type: "textarea",
                                    id: 'certification_training_yes',
                                    label: 'What are those?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: false,
                                    is_hidden: true,                                           
                                }
                            ]
                        },
                        {
                            page_id: 3, 
                            page_name: 'Skills & Self Assessment', 
                            page_stepIcon:'la la-wrench',
                            formElements: [
                                {
                                    type: "paragraph",                                    
                                    label: 'We have a few questions that will help us get to know you better',
                                    class: 'col-md-12 lead text-center mb-4',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "select-multiple",
                                    id: 'skills_selected_top5',
                                    label: "Do you have experience with any of the following? Choose your 5 top skills",
                                    value: [],
                                    class: 'col-md-12',
                                    is_required: true,
                                    is_hidden: false,
                                    max: 5,
                                    options: this.skillMinusSelectedOptions
                                },
                                {   
                                    type: "checkbox-select",
                                    id: 'top5_skills',
                                    label: 'Rate your ability from 1-10',
                                    value: [],
                                    class: 'col-md-12',                                            
                                    is_required: true,
                                    is_hidden: true,
                                    group_setting: []
                                },
                                {
                                    type: "select-multiple",
                                    id: 'skills_selected_other_skills',
                                    label: "Select as many skills as you feel comfortable working with",
                                    value: [],
                                    class: 'col-md-12',
                                    is_required: false,
                                    is_hidden: false,
                                    options:  [
                                       // skillMinusSelectedOptions will be appended here
                                    ]
                                },
                                {
                                    type: "select",
                                    id: 'took_assessment',
                                    label: 'Have you taken any of our skills assessments yet?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                    options: [
                                        { value: 'yes', text: 'Yes'},
                                        { value: 'no', text: 'No'}
                                    ]
                                },
                                {
                                    type: "email",
                                    id: 'assessment_email_used',
                                    label: 'What email did you use to register?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: true
                                },
                            ]
                        },
                        {
                            page_id: 4, 
                            page_name: 'Characteristics', 
                            page_stepIcon:'la la-heart',
                            formElements: [
                                {
                                    type: "paragraph",                                    
                                    label: 'Tell us a little more about yourself',
                                    class: 'col-md-12 lead text-center',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'This helps us understand how you see yourself fitting in with our team',
                                    class: 'col-md-12 text-center text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "container",                                    
                                    content: `
                                        <div class="text-center">
                                            <div class="ks-items-block">
                                                <button class="btn btn-outline-primary ks-rounded"><span class="number">5</span>Exceptional</button>
                                                <button class="btn btn-outline-success ks-rounded"><span class="number">4</span>Above Average</button>
                                                <button class="btn btn-outline-info ks-rounded"><span class="number">3</span>Average</button>
                                                <button class="btn btn-outline-warning ks-rounded"><span class="number">2</span>Satisfactory</button>
                                                <button class="btn btn-outline-danger ks-rounded"><span class="number">1</span>Unsatisfactory</button>
                                            </div>
                                        </div>
                                    `,
                                    class: 'col-md-12',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Relevant Experience',
                                    class: 'col-md-9 h6 mt-4 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'How relevant is your experience related to what you are applying for?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: 'b55b3f2e-4836-4d5b-bd8b-5379dfa157c0',
                                    id: 'relevant_experience',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Software Development',
                                    class: 'col-md-9 h6 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'How do you rate your total experience in the software idustry?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: 'b55b3f2e-4836-4d5b-bd8b-5379dfa157c0',
                                    id: 'software_development',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Communication',
                                    class: 'col-md-9 h6 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'How are your english language skills, both spoken and written overall?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: '00461824-2632-4aaf-b580-4794268e6cbd',
                                    id:'communication',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Attitude and/or Likability',
                                    class: 'col-md-9 h6 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Would your current or past co-workers say you had a good attitude? Are likable?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: 'a027517b-8aac-4111-bd71-e8803f1b7101',
                                    id:'attitude_likability',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Critical Thinking',
                                    class: 'col-md-9 h6 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'How do you rate your ability to speak up when you see or spot problems?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: '503896d3-9635-4e80-b060-eeb3bbb9b779',
                                    id:'critical_thinking',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Problem Solving',
                                    class: 'col-md-9 h6 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'How do you rate your ability to solve problems others find?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: '425771d8-f2e9-486d-bbd0-25c45a7c3ee1',
                                    id:'problem_solving',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Leadership',
                                    class: 'col-md-9 h6 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Do you consider yourself to be a leader?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: '7cc18419-f74b-4a3f-b05c-f27510a5685d',
                                    id:'leadership',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Versatility',
                                    class: 'col-md-9 h6 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Are you able to perform or willing do assume different roles on a team?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: 'b8b6bcd4-13a8-46b5-a1d9-4f0b8296cae9',
                                    id:'vertisatility',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                                {
                                    type: "horizontal-rule",
                                    class: 'col-md-12'
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Passion',
                                    class: 'col-md-9 h6 has-sub',
                                    is_hidden: false,                   
                                },
                                {
                                    type: "paragraph",                                    
                                    label: 'Are you passionate about software, technology and career growth?',
                                    class: 'col-md-9 text-muted',
                                    is_hidden: false,                                           
                                },
                                {
                                    type: "radio",
                                    name: '996c530a-b038-4ab3-92c1-2976db190839',
                                    id:'passion',
                                    label: '',
                                    value: '',
                                    class: 'col-md-3 text-top text-muted',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'5', text: '5'},
                                        { value:'4', text: '4'},
                                        { value:'3', text: '3'},
                                        { value:'2', text: '2'},
                                        { value:'1', text: '1'},
                                    ]
                                },
                            ]
                        },
                        {
                            page_id: 5, 
                            page_name: 'Availability', 
                            page_stepIcon: 'la la-calendar',
                            formElements: [
                                {
                                    type: "select",
                                    id: 'how_soon_available',
                                    label: 'How soon would you be available to start work?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                    options: [
                                        { value: 'immediately', text: 'Immediately'},
                                        { value: 'thirty_days_from_now', text: '30 Days from now'},
                                        { value: 'sixty_days_from_now', text: '60 Days from now'}
                                    ]
                                },
                                {
                                    type: "text",
                                    id: 'how_soon_available_explain',
                                    label: 'Can you briefly explain why you need so long?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: true,                                           
                                },
                                {
                                    type: "checkbox",
                                    id: 'shift',
                                    label: 'Which of the following shifts would you be able/willing to work?',
                                    description: '(Multiple choices acceptable)',
                                    value: [],
                                    class: 'col-md-6',                                            
                                    is_required: true,
                                    is_hidden: false,
                                    options:  [
                                        { value:'start_4_to_6_am', text: 'Morning Shift: Starts @4-6AM' },
                                        { value:'start_3_to_5_pm', text: 'Mid Shift: Starts @3-5PM' },
                                        { value:'start_6_or_later_pm', text: 'Night Shift: Starts @6PM or Later' },
                                        { value:'any_shift', text: 'Any Shift' }
                                    ]
                                },
                                {
                                    type: "select",
                                    id: 'best_way_to_contact',
                                    label: 'What is the best way to reach you?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                    options: [
                                        { value: 1, text: 'PHP' },
                                        { value: 2, text: '.NET' },
                                    ]
                                },
                                {
                                    type: "select",
                                    id: 'fs_employee_reffered',
                                    label: 'Are you applying because a Full Scale employee referred you?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                    options: [
                                        { value:'yes', text: 'Yes' },
                                        { value: 'no', text: 'No' },
                                    ]
                                },
                                {
                                    type: "text",
                                    id: 'referred_by',
                                    label: "Great, what is his/her name?",
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: true,
                                },
                                {
                                    type: "select-multiple",
                                    id: 'what_brings',
                                    label: "So, what brings you here?",
                                    value: [],
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: true,
                                    max: 1,
                                    options: [
                                        { value: '2', text: 'Social Media' },
                                        { value: '3', text: 'Job Portal' },
                                        { value: '4', text: 'Word of Mouth' },
                                        { value: '5', text: 'Walk-In' },
                                    ]
                                },
                                {
                                    type: "text",
                                    id: 'what_brings_website',
                                    label: 'What website?',
                                    description: '',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: true,                                           
                                },
                                {
                                    type: "text",
                                    id: 'expected_salary',
                                    label: 'What salary are you seeking?',
                                    value: '',
                                    class: 'col-md-6',
                                    is_required: true,
                                    is_hidden: false,
                                }
                            ]
                        },
                    ]
                }               
            },
            getCurrentPage(pageNumber) {
                this.page = pageNumber;
            },
            transformFilename(filename) {
                filename = filename.replace('#','sharp');
                filename = filename.replace('++','plusplus');
                return filename.split(' ').join('_').toLowerCase();
            },
            skillLogoClicked(url) { 
                window.open(url, '_blank');
            },
            updateElementField(id, value) {
                // Get accomplishment user's response   
                if (id === 'accomplishment') {
                    this.hideAccomplishmentYes = null;

                    if (value == 'no') {
                        this.hideAccomplishmentYes = true;
                    } 
                    
                    if (value == 'yes') {
                        this.hideAccomplishmentYes = false;
                    }
                }

                // Get certification and training user's response    
                if (id === 'certification_training') {
                    this.hideCertificationTrainingYes = null;

                    if (value == 'no') {
                        this.hideCertificationTrainingYes = true;
                    } 
                    
                    if (value == 'yes') {
                        this.hideCertificationTrainingYes = false;
                    }
                }

                // Get certification and training user's response    
                if (id === 'skills_selected_top5') {
                    this.hideTop5Skills = null;

                    if (value.length >= 1) {
                        this.hideTop5Skills = false;
                    } else {
                        this.hideTop5Skills = true;
                        value = [];
                    }

                    this.top5SkillsOptions = [];

                    value.forEach(skill => {
                        if (skill.name !== undefined) {
                            let fieldId = skill.name;
                                fieldId = fieldId.replace(/ /g,"_");
                            
                            this.top5SkillsOptions.push(
                                { 
                                    id: fieldId,
                                    value: skill.value,
                                    checkbox_label: skill.name,
                                    description: '',
                                    class: 'col-md-6',
                                    options: [
                                        { value: null, text: 'Rate your ability', disabled: true },
                                        { value: '1', text: '1' },
                                        { value: '2', text: '2' },
                                        { value: '3', text: '3' },
                                        { value: '4', text: '4' },
                                        { value: '5', text: '5' },
                                        { value: '6', text: '6' },
                                        { value: '7', text: '7' },
                                        { value: '8', text: '8' },
                                        { value: '9', text: '9' },
                                        { value: '10', text: '10' }
                                    ]
                                }
                            );
                        }
                    });

                    // Update skillMinusSelectedOptions when adding or removing skill
                    this.skillMinusSelectedOptions =_.clone(this.skillOptions);
                    
                    let c = 0;
                    this.top5SkillsOptions.forEach(item => { 
                        item.value = [{ checkbox: true, index: c, select: null }];
                        
                        if (_.find(this.skillMinusSelectedOptions, {text: item.checkbox_label})) {
                            _.remove(this.skillMinusSelectedOptions, {text: item.checkbox_label})
                        }

                        c++;
                    })
                 }

                // Get have you took assessment before user's response
                if (id === 'took_assessment') {
                    this.hideAssessmentEmailUsed = null;

                    if (value == 'no') {
                        this.hideAssessmentEmailUsed = true;
                    }

                    if (value == 'yes') {
                        this.hideAssessmentEmailUsed = false;
                    }
                }

                // Check How soon would be available response
                if (id === 'how_soon_available') {
                    this.hideHowSoonAvailableExplain = null;

                    if (value == 'sixty_days_from_now') {
                        this.hideHowSoonAvailableExplain = false;
                    } else {
                        this.hideHowSoonAvailableExplain = true;
                    }
                }

                // Shift response
                let shiftValue = [];
                if (id === 'shift') { 
                    shiftValue = value;
                    if (value.indexOf('any_shift') !== -1) {
                        this.isAnyShiftSelected = true;
                    } else {
                        this.isAnyShiftSelected = false;
                    }
                } 

                // Get contact number, email, and alt email entered
                if (id === 'contact_no') {
                    this.applicantPhone = value;
                }

                if (id === 'email') {
                    this.applicantEmail = value;
                }

                if (id === 'assessment_email_used') {
                    this.applicantAltEmail = value;
                }

                // Get So what brings you here user's response
                if (id === 'what_brings') {
                     this.hideWebsites = null;
                    
                    if (value[0].value == '2' || value[0].value == '3' && value[0].value != undefined) {
                        this.hideWebsites = false;
                    } else {
                        this.hideWebsites = true;
                    }
                }

                // Get have you took assessment before user's response
                if (id === 'fs_employee_reffered') {
                    this.hideReferredBy = null;

                    if (value == 'no') {
                        this.hideReferredBy = true;
                    }

                    if (value == 'yes') {
                        this.hideReferredBy = false;
                    }
                }

                this.formStepWizardSettings.pages.forEach((page) => {
                    page.formElements.forEach((el) => {
                        if (el.id != undefined) {
                        // Show/Hide Permanent Address fields
                        if (el.id === 'accomplishment_yes' && this.hideAccomplishmentYes !== null) {
                            el.is_hidden = this.hideAccomplishmentYes;
                        }

                        // Show/Hide What brings you here support question
                        if ( el.id === 'certification_training_yes' && this.hideCertificationTrainingYes !== null) {
                            el.is_hidden = this.hideCertificationTrainingYes;
                        }

                        // Show/Hide top 5 skills with score
                        if ( el.id === 'top5_skills' && this.hideTop5Skills !== null) {
                            el.is_hidden = this.hideTop5Skills;
                            el.group_setting = this.top5SkillsOptions;
                        }
                        
                        // Show/Hide top 5 skills with score
                        if ( el.id === 'skills_selected_other_skills' && this.top5SkillsChanged !== null) {
                            el.options = this.skillMinusSelectedOptions;
                            //this.top5SkillsChanged = false;
                        }

                        // Show/Hide What email did you use to register
                        if ( el.id === 'assessment_email_used' && this.hideAssessmentEmailUsed !== null) {
                            el.is_hidden = this.hideAssessmentEmailUsed;
                        }

                        // Show/Hide What brings you here support question
                        if ( el.id === 'how_soon_available_explain' && this.hideHowSoonAvailableExplain !== null) {
                            el.is_hidden = this.hideHowSoonAvailableExplain;
                        }

                        // Set emails and contact as dropdown options
                        if (el.id === 'best_way_to_contact') { 
                            let options = [];
                            let myContact = '';
                            let myEmail = '';
                           
                            options.push(
                                { value: 'by_contact' , text: this.applicantPhone !== '' ? 'My Phone: ' + this.applicantPhone : 'My Phone' },
                                { value: 'by_email' , text: this.applicantEmail !== '' ? 'My Email: ' + this.applicantEmail : 'My Email' }
                            );

                            if (this.applicantAltEmail !== '') {
                                options.push({ value: 'by_alt_email' , text: 'My Alt. Email: ' + this.applicantAltEmail });
                            }

                            this.$set(el, 'options', options);
                        } 
                        
                        // Shift response
                        if (el.id == 'shift') {
                            if (this.isAnyShiftSelected) {                                 
                                el.options.forEach((opt) => { 
                                    if (opt.value == 'any_shift') {
                                        this.$set(opt, 'disabled', false);
                                    } else {
                                        this.$set(opt, 'disabled', true);                                                                               
                                    }
                                }) 
                            } else {                        
                                el.options.forEach((opt) => {
                                    if (opt.value == 'any_shift' && shiftValue.length > 0) {
                                        this.$set(opt, 'disabled', true);
                                    } else {
                                        this.$set(opt, 'disabled', false);                                                                               
                                    }
                                })
                            }
                        }

                        // Show/Hide Who referred you or What brings you here
                        if ( el.id === 'referred_by' && this.hideReferredBy !== null) {
                            el.is_hidden = this.hideReferredBy;
                        }

                        if ( el.id === 'what_brings' && this.hideReferredBy !== null) {
                            el.is_hidden = !this.hideReferredBy; 
                        }

                        // Show/Hide What brings you here
                        if ( el.id === 'what_brings_website' && this.hideWebsites !== null) {
                            el.is_hidden = this.hideWebsites;
                        }

                        // Update field value, don't alter
                        if (el.id === id) { 
                            el.value = value;                            
                        }
                        }
                    });
                });
            },
            async submitForm(){
                await this.generateToken(true);
                let employeeTableFields = ['first_name', 'last_name', 'middle_name', 'contact_no', 'email'];
                let characteristicsRecords = ['relevant_experience', 'software_development', 'communication', 'attitude_likability', 'critical_thinking', 'problem_solving', 'leadership', 'vertisatility', 'passion'];
                let tempEmployeeTopSkills = [];
                this.formStepWizardSettings.pages.forEach((page) => {
                    page.formElements.forEach((el) => {
                        if(employeeTableFields.includes(el.id)) {
                            if(el.type == 'phone') {
                                this.employeeTblRecord[el.id] = el.countryCode + el.value;
                            } else {
                                this.employeeTblRecord[el.id] = el.value;
                            }
                        } else if (characteristicsRecords.includes(el.id)) {
                            let tempChars = {
                                characteristic_id: el.name,
                                rate: el.value
                            }
                            this.employeeCharacteristics.push(tempChars);
                        } else if (el.id == 'type_of_position') {
                            let tempTypePosition = el.value;
                            tempTypePosition.forEach((selectedTypePosition) => {
                                let numYearsPosition = 'None';
                                if (selectedTypePosition.select == '1to2_years') {
                                    numYearsPosition = '1-2 years';
                                }
                                if (selectedTypePosition.select == '3to5_years') {
                                    numYearsPosition = '3-5 years';
                                }
                                if (selectedTypePosition.select == '5plus_years') {
                                    numYearsPosition = '5+ years';
                                }
                                if (selectedTypePosition.select == '10plus_years') {
                                    numYearsPosition = '10+ years';
                                }
                                let typePositionSelected = {
                                    employee_id: '',
                                    position_type_id: selectedTypePosition.id,
                                    experience: numYearsPosition
                                };
                                this.typePositionExperienceSelected.push(typePositionSelected);
                            });
                        } else {
                            if (el.id == 'resume') {
                                let tempFiles = el.value;
                                tempFiles.forEach((curfile) => {
                                    this.resumeFileData.push(curfile);
                                }) 
                            }
                            if (el.id == 'college_degree') {
                                let academeVal = 0;
                                if (el.value == 'yes'){
                                    academeVal = 1;
                                }
                                this.employeeAcademic['degree_holder'] = academeVal;
                            } 
                            if (el.id == 'certification_training_yes') {
                                let tempCertYesTxt = 'N/A';
                                if (el.value != '') {
                                    tempCertYesTxt = el.value;
                                }
                                this.employeeAcademic['academic_accomplishment'] = tempCertYesTxt;
                            }
                            if (el.id == 'accomplishment_yes') {
                                let tempAccompYesTxt = 'N/A';
                                if (el.value != '') {
                                    tempAccompYesTxt = el.value;
                                }
                                this.employeeAcademic['certification'] = tempAccompYesTxt;
                            }
                            if (el.id == 'skills_selected_top5') {
                                let topSkillsChecked  = el.value;
                                topSkillsChecked.forEach((skill) => {
                                    let topSkillInfo = {
                                        employee_id: '',
                                        skill_id: skill.value,
                                        skill_name: skill.name,
                                        proficiency: '',
                                        checked_top_skill: 1
                                    }
                                    tempEmployeeTopSkills.push(topSkillInfo);
                                })
                            }
                            if (el.id == 'skills_selected_other_skills') {
                                let otherSkillsChecked  = el.value;
                                let arrSkill = [];
                                otherSkillsChecked.forEach((otherSkill) => {
                                    arrSkill.push(otherSkill.name);
                                })
                                this.employeeOtherSkills.description = arrSkill.join();
                            }
                            if (el.id == 'top5_skills') {
                                let top5_skills  = el.value;
                                tempEmployeeTopSkills.forEach((tmpSkill) => {
                                    let skillFound = 0;
                                    let proficient = 0;
                                    let topSkillData = {
                                        employee_id: '',
                                        skill_id: tmpSkill.skill_id,
                                        checked_top_skill: 1
                                    }
                                    top5_skills.forEach((skill) => {
                                        if(skill.id == tmpSkill.skill_name) {
                                            skillFound = 1;
                                            proficient = skill.select;
                                        }
                                    })
                                    if (skillFound > 0) {
                                         topSkillData.proficiency =  proficient;  
                                    }
                                    this.employeeTopSkills.push(topSkillData);
                                })  
                                
                            }
                            if (el.id == 'took_assessment') {
                                let tookAssessment  = 0;
                                if (el.value == 'yes') {
                                    tookAssessment  = 1;
                                }
                                this.employeeOtherDetails.skill_assessment = tookAssessment;
                            }
                            if (el.id == 'assessment_email_used') {
                                if (el.value != '') {
                                    this.employeeTblRecord['email']  = el.value;
                                }
                            }
                            if (el.id == 'how_soon_available') {
                                this.employeeOtherDetails.availability = 'immediately';
                                if (el.value == 'thirty_days_from_now') {
                                    this.employeeOtherDetails.availability = '30 days';
                                }
                                if (el.value == 'sixty_days_from_now') {
                                    this.employeeOtherDetails.availability = '60 days';
                                }
                            }
                            if (el.id == 'how_soon_available_explain') {
                                this.employeeOtherDetails.availability_note = '';
                                if (el.value != '') {
                                    this.employeeOtherDetails.availability_note = el.value;
                                }
                            }
                            if (el.id == 'referred_by') {
                                this.employeeOtherDetails.referred_by_employee_id = '';
                                this.employeeOtherDetails.referral_details = '';
                                if (el.value != '') {
                                    this.employeeOtherDetails.referral_details = el.value;
                                }
                            }
                            if (el.id == 'what_brings') {
                                this.employeeOtherDetails.referral_type_id = '';
                                if (el.value != '') {
                                    this.employeeOtherDetails.referral_type_id  = el.value;
                                }
                            }
                            if (el.id == 'what_brings_website') {
                                if (el.value != '') {
                                    this.employeeOtherDetails.referral_details  = el.value;
                                }
                            }
                            if (el.id == 'best_way_to_contact') {
                                if (el.value != '') {
                                    let prefcon = 'phone';
                                    if (el.value == 'by_email') {
                                        prefcon = 'email';
                                    }
                                    this.employeeOtherDetails.preferred_contact  = prefcon;
                                }
                            }
                            if (el.id == 'expected_salary') {
                                this.employeeOtherDetails.expected_salary = '';
                                if (el.value != '') {
                                    this.employeeOtherDetails.expected_salary  = el.value;
                                }
                            }
                            if (el.id == 'shift') {
                                let tempShift = el.value;
                                tempShift.forEach((shiftDesire) => {
                                    let shiftID = 1
                                    let tmpShift = {}
                                    if(shiftDesire == 'start_4_to_6_am') {
                                        shiftID = 4
                                    }
                                    if(shiftDesire == 'start_3_to_5_pm') {
                                        shiftID = 2
                                    }
                                    if(shiftDesire == 'start_6_or_later_pm') {
                                        shiftID = 3
                                    }
                                    if (shiftDesire =='any_shift') {
                                        shiftID = 0
                                    }
                                    tmpShift = {
                                        employee_id: '',
                                        shift_id: shiftID
                                    }
                                    this.employeeShift.push(tmpShift);
                                })
                            }
                        } 
                    });
                })
                let username = this.formattedUsername();
                let email = username + '@fullscale.io';
                let new_employee_no = '';    
                this.$set(this.employeeTblRecord, 'unique_str', new_employee_no.replace('-','').toLowerCase() + Math.random().toString(36).substring(2, 9));
                
                await User.get({applicant: 'any', username: username, email: email}).then((res) => {
                    if (res.data[0] && res.data[0].id) {
                        // It was agreed to instead leave the username and email as NULL if there's conflict.
                        // We'll get back to this once we're on user management module.
                        username = '';
                        email = '';
                        /** Mike 01-10-2019 Matt wants profile card to use hash instead of first/sur names in profile card URL **/
                        // insert unique username for employee incase the username/employee selected is already existing in the DB
                        //this.$set(data, 'unique_str', new_employee_no.replace('-','').toLowerCase() + Math.random().toString(36).substring(2, 9));
                    }
                });

                let userData = {
                    user_name: username,
                    email: email,
                    password: 'fullscale',
                    can_login: 0
                };

                let user = new User();

                await user.save(userData).then((res) => {
                    this.$set(this.employeeTblRecord,'employee_no', new_employee_no);
                    this.$set(this.employeeTblRecord,'date_hired', this.formatDate(new Date(), "YYYY-MM-DD 00:00:00"));
                    this.$set(this.employeeTblRecord,'user_id', res.data.id);
                    this.saveApplicant(this.employeeTblRecord);
                });
                
                this.submitted = true;
            },
            formattedUsername() {
                return (this.employeeTblRecord.first_name.charAt(0) + this.employeeTblRecord.last_name).toLowerCase()
            },
            async getAvailableEmployeeNo(){
                let freshNo = '';
                await this.generateEmployeeNo().then((newEmpNo) => {
                    freshNo = newEmpNo;
                });
                return freshNo;
            },
            async generateToken(flag){
                let self = this;
                if (flag) {
                    await OAuth.tokenize().then(response => {
                        self.loading = false;
                        if (response == true) {
                            self.invalid = false;
                        } else {
                            this.$router.push('/login');
                        }
                    });
                } else {
                    await OAuth.logout().then(() => {
                        let $ = jQuery;
                        $(document).ready(function(){
                            setTimeout(function(){
                                localStorage.removeItem('vuex');
                                localStorage.removeItem('auth_token');
                            },300);
                        });
                    });
                }
            },
            saveApplicant(data) {
                let newPromises = [];
                const employee = new Employee();
                let returnedEmployeeId =  '';
                this.resumeFileData.forEach((currentFile) => {
                     if (currentFile.status != 'error') {
                        this.fileUpload.name = currentFile.name;
                        this.fileUpload.medium = currentFile.encoded;
                        this.fileUpload.medium_type = this.getMediumType(currentFile.name);
                     }
                })
                if(this.fileUpload.medium != null && this.checkSelectedFile()){
                    employee.save(data).then((res) => {
                        returnedEmployeeId = res.data.id;
                        this.submitFile(returnedEmployeeId).then(() => {
                            this.saveApplicantStatus(returnedEmployeeId);
                            this.saveEmployeePositionType(returnedEmployeeId);
                            this.saveEmployeeAcademic(returnedEmployeeId);
                            this.saveEmployeeTopSkills(returnedEmployeeId);
                            this.saveEmployeeOtherSkills(returnedEmployeeId); 
                            this.saveEmployeeOtherDetails(returnedEmployeeId);
                            this.saveEmployeeCharacteristic(returnedEmployeeId);
                            this.saveEmployeeTimeShift(returnedEmployeeId);
                            Promise.all(this.dataToSave).then((res) => {
                                this.generateToken(false);
                            }).catch((e) => {
                                console.log(e, 'error');
                            });
                        });
                    });
                } else {
                    const title = 'Unable to proceed';
                    const msg = 'No resume have been selected. Please select your resume and try again';
                    this.confirmDialog(title, msg, 'Close', '', 'sm');
                }
            },
            saveApplicantStatus(employeeId){
                 let employeeStatusData = {
                    employee_id: employeeId,
                    status_id: 3, // - for exam status
                    user_id: this.employeeTblRecord.user_id //This was fetched after adding savign the users data
                }
                this.dataToSave.push(this.saveEmployeeStatus(employeeStatusData));
            },
            saveEmployeeStatus(employeeData){
                let employeeStat = new EmployeeStatus();
                return employeeStat.save(employeeData);
            },
            saveEmployeePositionType(employeeId) {
                let empPositionTypes = this.typePositionExperienceSelected;
                empPositionTypes.forEach((empPositionType) => {
                    empPositionType.employee_id = employeeId;
                    this.dataToSave.push(this.saveEmployeePositionTypes(empPositionType));
                })
            },
            saveEmployeeAcademic(employeeId) {
                let empAcademic = this.employeeAcademic;
                empAcademic.employee_id = employeeId;
                this.dataToSave.push(this.saveEmployeeAcademics(empAcademic));
            },
            saveEmployeeTopSkills(employeeId) {
                let empSkills = this.employeeTopSkills;
                if (empSkills.length > 0) {
                    empSkills.forEach((empTopSkill) => {
                        empTopSkill.employee_id = employeeId;
                        this.dataToSave.push(this.saveEmployeeTopSkill(empTopSkill));
                    })
                }
            },
            saveEmployeeOtherSkills(employeeId) {
                let empOtherSkills = this.employeeOtherSkills;
                empOtherSkills.employee_id = employeeId;
                this.dataToSave.push(this.saveEmployeeOtherSkill(empOtherSkills));
            },
            saveEmployeeOtherDetails(employeeId) {
                let empOtherDetails = this.employeeOtherDetails;
                empOtherDetails.employee_id = employeeId;
                this.dataToSave.push(this.saveEmployeeDetails(empOtherDetails));
            },
            saveEmployeeCharacteristic(employeeId) {
                let empCharacters = this.employeeCharacteristics;
                empCharacters.forEach((character) => {
                    character.employee_id = employeeId;
                    this.dataToSave.push(this.saveEmpCharacteristics(character));
                })
            },
            saveEmployeeTimeShift(employeeId) {
                let empShifts = this.employeeShift;
                empShifts.forEach((shift) => {
                    shift.employee_id = employeeId;
                    this.dataToSave.push(this.saveEmpTimeShift(shift));
                })
            },
            checkSelectedFile(){
                if(this.fileUpload.name != ''){
                    let extension = this.fileUpload.name.split('.');
                    if(this.fileTypes.indexOf(extension[1].toUpperCase())>=0) {
                        return true;
                    }
                }
                return false;
            },
            getMediumType(currentFile){
                if(currentFile !=''){
                    let extension = currentFile.split('.');
                    if(this.imageTypes.indexOf(extension[1].toUpperCase())>=0) {
                        return 'image';
                    }
                }
                return 'file';
            },
            submitFile(returnedEmployeeId) {
                return new Promise((resolve) => {
                    this.fileUpload.assetable_id = returnedEmployeeId;
                    this.loading = true;
                    const asset = new Asset();

                    setTimeout(function(){
                        let $ = jQuery;
                        $("span#uploading-notification").show(200);
                    },15000);

                    try{
                        asset.save(this.fileUpload).then(() => {
                            resolve(true);
                        });
                    }catch(e){
                        const title = 'Error!';
                        const msg = 'An unexpected error has occurred while uploading your resume, please try again.';
                        this.confirmDialog(title, msg, 'Close', '', 'sm');
                        resolve(false);
                    }
                });
            },
        },
        components: {
            FsFormStepWizard,
            FieldComponent,
            SkillEntryBox,
            SkillsLogo
        },
        mixins: [
            LoaderMixin,
            ModalDialogMixin,
            EmployeeMixin,
            StringHelperMixin,
            DateMixin 
        ]
    }
</script>