<template>
    <div class="main-container">
        <div class="top-nav-header bg-info">
            <div class="comp-logo-container row">
                <div class="col-sm-12 col-md-3">
                    <img class="comp-logo" :src="fullScaleLogo" :alt="organizationShortNameAllCaps"/>
                </div>
                <div class="col-sm-12 col-md-9 fs-page-title">
                    <h1 class="form-title">{{ formTitle }}</h1>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="form-content">
                <div class="hide">
                    <h1 class="form-title">{{ formTitle }}</h1>
                </div>
                <form-wizard-display
                    v-if="!loadingData"
                    :id="`fs-client-onboarding`"
                    :tabs="tabContents"
                    :finishButton="`Submit`"
                    :onClick="validate"
                    @save="save"
                    @updatePageCtr="changePageCtr">
                    <template v-for="(questions, allQuestionIndex) in allQuestions" v-slot:[slotName(allQuestionIndex)]>
                        <div class="wizard-container" :key="allQuestionIndex">
                            <div class="wizard-header-child">
                                <h2>{{ getTabTitle(slotName(allQuestionIndex)) }}</h2>
                            </div>
                            <div class="wizard-content">
                                <div class="holder" v-if="!loadingBtn">
                                    <div v-for="(question, index) in questions" :key="index">
                                        <div class="row" v-if="pageCounter == allQuestionIndex && questionShowOrHide(question.id,question.form_label)">
                                            <div
                                                class="fs-question-label col-sm-12 mt-3 mb-3"
                                                :id="'question_' + question.id"
                                                :class="question.type == 'short_text' ? 'col-md-6' : ''">
                                                <h5 :class="questionValidation(errors, question)" :data="'question_' + question.id">
                                                    {{ question.description }} <span class="error required-indicator" v-show="question.required">*</span>
                                                </h5>
                                            </div>
                                            <div class="col col-sm-12 col-md-6 mt-3" v-if="question.type == 'short_text'">
                                                <div v-if="question.form_label == 'business_address'">
                                                    <complete-address-input
                                                        ref="business_address"
                                                        v-model="formResponse[ allQuestionIndex + formDelimeter + question.id + formDelimeter + index ]"
                                                        :error="errors.first(question.display_name)"
                                                        :class="{ error: errors.has(question.display_name) }"
                                                        :breakDown="addressBreakdown"
                                                        :questionId="question.id"
                                                        :form-label="question.form_label"
                                                        :form-key="allQuestionIndex + formDelimeter + question.id + formDelimeter + index"
                                                        @breakdown="setAddressBreakdown"
                                                    >
                                                    </complete-address-input>
                                                </div>
                                                <div v-else>
                                                    <input
                                                        type="text"
                                                        v-model="formResponse[ allQuestionIndex + formDelimeter + question.id + formDelimeter + index ]"
                                                        v-validate="validateShortText(question.required, question.form_label)"
                                                        data-vv-validate-on="blur|change"
                                                        :form-label="question.form_label"
                                                        :form-key="allQuestionIndex + formDelimeter + question.id + formDelimeter + index"
                                                        :id="'input_question_' + question.id"
                                                        :name="question.display_name"
                                                        :placeholder="rightPlaceholder(question.form_label)"
                                                        :class="{ error: errors.has(question.display_name) }">
                                                    <div>
                                                        <span class="form-error" v-if="errors.has(question.display_name)" :data="'question_' + question.id">
                                                            {{ errors.first(question.display_name) }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-sm-5 col-md-4 technology"
                                                v-else
                                                v-for="(choices, c_index) in question.questionChoices.data"
                                                :key="c_index">
                                                <div class="custom-control custom-radio input-response" v-if="question.type == 'single_response'">
                                                    <input
                                                        type="radio"
                                                        class="custom-control-input"
                                                        :id="question.id + index + '-' + c_index"
                                                        :name="question.display_name"
                                                        :form-label="question.form_label"
                                                        :form-key="allQuestionIndex + formDelimeter + question.id + formDelimeter + index"
                                                        v-bind:value="choices"
                                                        v-model="formResponse[ allQuestionIndex + formDelimeter + question.id + formDelimeter + index ]"
                                                        v-validate="{ required: question.required }"
                                                        @click="singleResponse(question.id, question.form_label, (allQuestionIndex + formDelimeter + question.id + formDelimeter + index))"
                                                        @change="controlQuestion(question.id, choices.display_sequence,question.form_label)">
                                                    <label class="custom-control-label" :for="question.id + index + '-' + c_index">
                                                        {{ choices.description }}
                                                    </label>
                                                </div>
                                                <div
                                                    v-if="question.type == 'multiple_response'"
                                                    class="custom-control custom-checkbox input-response">
                                                    <input
                                                        type="checkbox"
                                                        class="custom-control-input"
                                                        :id="question.id + index + '-' + c_index"
                                                        :name="question.display_name"
                                                        :true-value="choices"
                                                        :form-label="question.form_label"
                                                        :form-key="allQuestionIndex + formDelimeter + question.id + formDelimeter + index + formDelimeter + choices.id"
                                                        @click="exclusiveResponse((allQuestionIndex + formDelimeter + question.id + formDelimeter + index + formDelimeter + choices.id))"
                                                        v-model="formResponse[ allQuestionIndex + formDelimeter + question.id + formDelimeter + index + formDelimeter + choices.id ]"
                                                        v-validate="{ required: question.required }">
                                                    <label class="custom-control-label" :for="question.id + index + '-' + c_index">
                                                        {{ choices.description }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12" v-if="displayOthersChoice(question.form_label)">
                                                <div class="custom-control custom-checkbox input-response">
                                                    <input
                                                        type="checkbox"
                                                        class="custom-control-input"
                                                        v-model="canSearch[question.form_label]"
                                                        v-validate="{ required: question.required }"
                                                        :id="`others_` + question.form_label"
                                                        :name="question.display_name"
                                                        :form-label="question.form_label"
                                                        :form-key="question.form_label"
                                                        @click="clearTextField(allQuestionIndex, question, index)">
                                                    <label class="custom-control-label" :for="`others_` + question.form_label">
                                                        <strong>Others</strong>
                                                    </label>
                                                </div>
                                                <tags-input
                                                    id="search-vue-tags"
                                                    placeholder="Enter others"
                                                    v-model="formResponse[ allQuestionIndex + formDelimeter + question.id + formDelimeter + index ]"
                                                    v-if="canSearch[question.form_label]"
                                                    v-validate="{ required: question.required }"
                                                    :form-label="question.form_label"
                                                    :form-key="allQuestionIndex + formDelimeter + question.id + formDelimeter + index"
                                                    :name="`Others`"
                                                    :existing-tags="formatTagsToArray(data[question.form_label])"
                                                    :typeahead="true"
                                                    :wrapper-class="`form-control input_others_question_` + question.id"
                                                    @initialized="formatSearchChoice(question)"/>
                                                <span
                                                    class="form-error"
                                                    :data="'question_' + question.id"
                                                    v-show="errors.has(`Others`) && checkTagsInput(allQuestionIndex, question, index)">{{ errors.first(`Others`) }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-else class="loader"></div>
                            </div>
                        </div>
                    </template>
                </form-wizard-display>
                <div v-else class="loader"></div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">

    .holder > div:last-child .row {
        margin-bottom: 10px;
    }


    @mixin form-error {
        color: red !important;
    }
    .form-error {
        @include form-error();
    }
    .wizard-progress-with-circle {
        padding: 0 20px;
    }
    #search-vue-tags {
        .tags-input {
            height: 100%;
            width: 100%;
            .tags-input-badge {
                font-size: 1em !important;
            }
        }
    }
    .vue-form-wizard.xs .wizard-icon-circle {
        width: 40px !important;
        height: 40px !important;
        outline: none;
    }
    .wizard-progress-with-circle {
        padding: 0 20px;
    }
    .vue-form-wizard .wizard-card-footer{
        margin-top: 0px !important;
    }
    .vue-form-wizard.xs .wizard-navigation .wizard-progress-with-circle{
        top: 25px !important;
    }
    .custom-checkbox {
        > .custom-control-input ~ .custom-control-label:after {
            font-family: "LineAwesome";
            content: "\F17B";
            font-size: 0;
        }
    }

    .wizard-content {
        & .tags-input-typeahead-item-default,.tags-input-typeahead-item-highlighted-default{
            font-size: 12px !important;
            font-weight: 500;
            margin-top: 5px;
        }
    }
</style>

<style lang="scss" scoped>
    input {
        padding-top: 19px;
        padding-bottom: 19px;
    }

    @media screen and (max-width: 574px) {
        .col.technology {
            min-width: 175px;
            max-width: 175px;
        }

        .col.technology:nth-child(odd) {
            left: 40px;
        }
    }

    @media screen and (max-width: 510px) {
        .col.technology:nth-child(odd) {
            left: 0;
        }
    }

    @media screen and (min-height: 721px) {
        .wizard {
            &-content {
                /*max-height: 632px!important;*/
            }
        }
    }

    @media screen and (max-height: 720px) {
        .wizard {
            &-content {
                /*max-height: 350px!important;*/
            }
        }
    }

     @media screen and (max-width: 768px) {
         input {
            padding-top: 19px;
            padding-bottom: 19px;
        }
    }

    /*
        ::::::::::::: Responsive Font ::::::::::::::::::::::
    */

    /* Extra small devices (portrait phones, less than 576px) */
        .form-title {
            font-size: 20px;
         }

         /* Large devices (desktops, 992px and up) */
         @media screen and (min-width: 320px) and (max-width: 1199px) {
            .form-title {
               font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1199 - 320)));
            }
         }

         /* Extra large devices (large desktops, 1200px and up) */
         @media screen and (min-width: 1200px) {
            .form-title {
               font-size: 36px;
            }
         }



    span.form-error {
        position: absolute;
    }
    .main-container {
        top: 0px;
        left: 0px !important;
        position: relative;
    }
    .form-container {
        width: 100%!important;
        height: 100%;
        max-height: 100%;
        max-width: 1100px;
        padding: 0 10px;
        position: relative;
        margin: 0 auto;
        top: 0px;
        .form-title {
            margin-top: 15px!important;
            // font-size: 32px;
            color: #555;
        }
    }
    .top-nav-header {
        height: 60px !important;
        max-width: 100% !important;
        width: 100% !important;
        position: fixed !important;
        top: 0px;
        left: 0px;
        z-index: 1;
        box-shadow: 0 4px 4px -1px #999999;
        -moz-box-shadow: 0 4px 4px -1px #999999;
        -webkit-box-shadow: 0 4px 4px -1px #999999;
        div,
        .comp-logo-container {
            width: 1050px;
            position: relative;
            margin: 0 auto;
            span {
                width: 223px !important;
                position: relative;
                top: 12px !important;
                left: -7px !important;
                z-index: 1;
                color: #ffffff;

                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 29px;
            }
            .comp-logo {
                width: 108px;
            }
            .form-title {
                line-height: 3.5rem;
                color: #fff;
            }
        }
    }
    .custom-control.custom-checkbox {
        margin-top: 0.7em;
    }
    .required-indicator{
        margin-left: 1px;
    }
    .custom-control-label {
        cursor: pointer;
    }
    div > label.custom-control-label::after {
        left: -23px !important;
    }
    .required-indicator {
        margin-left: 1px;
    }
    .input-response {
        padding-bottom: 5px !important;
    }
    .card-header {
        justify-content: flex-start !important;
        padding: 15px 15px 15px 15px !important;
        background-color: #eeeeee !important;
        cursor: auto!important;
        h4 {
            position: relative;
            margin-top: 7px !important;
        }
    }
    .main-container .card .card-header {
        background-color: #eeeeee !important;
    }
    .main-container .card .fs-accordion-content {
        background-color: #ffffff !important;
    }
    .main-container input[type="text"] {
        height: 30px;
        border: 1px solid #dddddd;
        width: 100%;
        padding-left: 7px;
    }
    .main-container input[type="text"]::placeholder {
        color: #cccccc;
        font-style: italic;
    }
    .card-block {
        max-height: 477px;
        overflow-x: auto;
    }
    .wizard {
        &-container {
            position: relative;
            max-width: 1100px;
            width: 100%;
            margin: 0 auto;
            box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.75);
            overflow: hidden;
        }
        &-header-child {
            background-color: #4caf50;
            text-align: left;
            padding: 10px 15px;
            h2 {
                padding: 0;
                margin: 0;
                color: #fff;
                text-transform: capitalize;
                font-size: 1.8rem;
            }
        }
        &-content {
            position: relative;
            padding: 15px 20px;
            /* max-height: 390px;*/
            /*overflow-y: auto;*/
            h5 { margin: 0; }
            .row { margin-bottom: 10px; }
        }
        &-card-footer {
            background-color: #4caf50!important;
            text-align: center!important;
            padding: 20px;
            span { width: 100%; }
        }
        &-btn {
            min-height: 50px;
            height: auto;
            font-size: 24px;
            background-color: rgb(37, 98, 143);
            border-color: rgb(37, 98, 143);
            color: white;
            max-width: 100%;
            overflow-wrap: break-word;
            white-space: normal;
        }
    }
    .hide {
        display: none;
        text-align: center;
        padding: 15px;
    }
    @media only screen and (max-width: 768px) {
        span.form-error {
            position: relative;
            font-size: 15px!important;
        }
        .top-nav-header div,.comp-logo-container {
            width: 100%!important;
            text-align: center;
            >div {
                top: -15px!important;
                img { width: 155px!important;}
            }
        }
        .form-container {
            max-width: 100%!important;
            padding: 0;
        }
        .fs-page-title { display: none; }
        .hide { display: block; }
        .wizard {
            &-header-child { text-align: center; }
            &-content {
                max-height: 100%!important;
                .holder .row {
                    div.col-md-6,
                    div.col-sm-4,
                    .fs-question-label {
                        max-width: 100%!important;
                        flex: 0 0 100%;
                        h5 { font-size: 18px; }
                    }
                    // .mt-3 { margin-top: 0.5rem!important; }
                    // .mb-3 { margin-bottom: 0.5rem!important; }
                }
            }
            &-container {
                max-height: 100%!important;
                min-height: 100%!important;
            }
        }
        .main-container input[type="text"] {
            max-width: 100%!important;
            font-size: 16px;
        }
    }

    // // max-height: 398px!important;
</style>

<script type="text/javascript">
    //Components
    import OAuth from "@common/oauth/OAuth";
    import FormWizardDisplay from '@components/form-wizard-display.vue';
    import TagsInput from '@voerro/vue-tagsinput';
    import '@voerro/vue-tagsinput/dist/style.css';
    import CompleteAddressInput from '@components/complete-address-input.vue';

    //Mixins
    import LoaderMixin from "@common/mixin/LoaderMixin";

     //Models
    import { User } from "@common/model/User";

    import { mapGetters, mapActions } from "vuex";

    import _ from "lodash";
    import jQuery from "jquery";

    export default {
        components: {
            OAuth,
            FormWizardDisplay,
            TagsInput,
            CompleteAddressInput,
        },
        mixins: [
            LoaderMixin,
        ],
        directives: {},
        data() {
            let labels = [
                'service_need',
                'tech_require',
                'remote_team_exp_type',
                'remote_team_exp_country'
            ];
            let search = {};
            let data = {};

            _.each(labels, (lb) => {
                search[lb] = false;
                data[lb] = {};
            });

            return {
                loadingData: true,
                loadingBtn: false,
                formDelimeter: '_',
                formResponse: {},
                formTitle: "A Few Quick Questions",
                qHide: {
                    controlShow: [],
                },
                pageCounter: 1,
                canSearch: search,
                data: data,
                labels: labels,
                workTypes: [
                    'Software Testing', 'L3/L4Support', 'Level 3/4 Support',
                    'Technical Support', 'Technical Writing', 'Content Writing',
                    'Software Configuration Management', 'DevOps', 'Web Development',
                    'Web Design', 'Database Administration', 'System Administration',
                    'Lead Generation', 'Virtual Specialist', 'Virtual Engineer'
                ],
                countries: [
                    'India', 'China', 'Malaysia', 'Thailand', 'Indonesia',
                    'Egypt', 'Philippines', 'Chile', 'Jordan', 'Vietnam',
                    'Mexico', 'Brazil', 'Bulgaria', 'United States', 'Ghana',
                    'Sri Lanka', 'Tunisia', 'Estonia', 'Romania', 'Pakistan',
                    'Lithuania', 'Latvia', 'Costa Rica', 'Jamaica', 'Mauritius',
                    'Senegal', 'Argentina', 'Canada', 'United Arab Emirates', 'Morocco',
                    'United Kingdom', 'Czech Republic', 'Russia', 'Germany', 'Singapore',
                    'Uruguay', 'Hungary', 'Poland', 'South Africa', 'Slovakia',
                    'France','Ukraine', 'Panama', 'Turkey', 'Spain',
                    'New Zealand', 'Australia', 'Ireland', 'Israel', 'Portugal',
                    'Belarus',
                ],
                exclusives: [
                    {
                        exclusive: '2_21_1_199',
                        uncheck: [ '2_21_1_197', '2_21_1_198' ]
                    },
                    {
                        exclusive: '2_22_2_204',
                        uncheck: [ '2_22_2_200', '2_22_2_201', '2_22_2_202', '2_22_2_203' ]
                    },
                    {
                        exclusive: '5_27_1_225',
                        uncheck: [ '5_27_1_222', '5_27_1_223', '5_27_1_224' ]
                    }
                ],
                addressBreakdown: {},
            };
        },
        computed: {
            ...mapGetters({
                organizationShortNameAllCaps: "appSettings/getShortNameTextAllCaps",
                fullScaleLogo: "appSettings/getFullScaleLogo",
                allQuestions: "allQuestions/data",
                tabContents: "allQuestions/formatted",
                skills: 'skills/formatted',
            }),
        },
        mounted() {
            this.hideLoader();
        },
        async created() {
            this.$validator.extend('complete_address', {
                getMessage: field => 'The address must be complete.',
                validate: (value, [testProp]) => {
                    const validateNotEmpty = !_.isEmpty(value);
                    const validateNoEmptyAddressField = value
                        .split(",")
                        .filter(input => /^ *$/.test(input) )
                        .length === 0

                    return (validateNotEmpty && validateNoEmptyAddressField);
                }
            });
            await this.generateToken(true);
            await this.getAllQuestions({
                query: {
                    group: true,
                    category_id: 2,
                    take: 100,
                }
            });

            await this.getSkills({query: {take: 99999}});
            await this.setSearchData();
            this.loadingData = false;
            await this.generateToken(false);
        },
        methods: {
            ...mapActions({
                setAuth: "auth/setAuthData",
                getAllQuestions: "allQuestions/getAllQuestions",
                saveResponses: "allQuestionResponses/saveResponses",
                setAuth: "auth/setAuthData",
                getSkills: 'skills/getSkills',
            }),
            formatTagsToArray(tags) {
                const formatted = Object.keys(tags).map(key => (
                    { key, value: tags[key] }
                ));
                return formatted;
            },
            displayOthersChoice(label) {
                return _.indexOf(this.labels, label) != -1;
            },
            formatSearchChoice(question) {
                let vm = this;
                let label = question.form_label;
                let choices = question.questionChoices.data;

                _.each(choices, (choice) => {
                    delete vm.data[label][choice.description];
                });
            },
            clearTextField(allGroupId, question, idx) {
                let delimeter = this.formDelimeter;
                let qId = question.id;

                if (!this.canSearch[question.form_label]) {
                    delete this.formResponse[ allGroupId + delimeter + qId + delimeter + idx ];
                }

                setTimeout(() => {
                    $('.input_others_question_' + qId + ' input').focus();
                }, 100);
            },
            checkTagsInput(allGroupId, question, idx) {
                let delimeter = this.formDelimeter;
                let values = this.formResponse[ allGroupId + delimeter + question.id + delimeter + idx ];
                let result = true;

                if(!_.isUndefined(values)) {
                    result = values.length ? false : true;
                }

                return result;
            },
            async setSearchData() {
                let vm = this;

                // format skills
                await _.each(this.skills, (skill) => {
                    vm.data.tech_require[skill.text] = skill.text;
                });

                // format countries
                await _.each(this.countries, (country) => {
                    vm.data.remote_team_exp_country[country] = country;
                });

                // format work types
                await _.each(this.workTypes, (type) => {
                    vm.data.service_need[type] = type;
                    vm.data.remote_team_exp_type[type] = type;
                });
            },
            async generateToken(flag) {
                let self = this;

                if (flag) {
                    await OAuth.tokenize().then(response => {
                        self.loading = false;
                        if (response == true) {
                            self.invalid = false;
                            User.me(true).then(res => {
                                // redirect to dashboard
                                self.setAuth(res);
                            });
                        } else {
                            this.$router.push("/login");
                        }
                    });
                } else {
                    await OAuth.logout().then(() => {
                        let $ = jQuery;
                        $(document).ready(function() {
                            setTimeout(function() {
                                localStorage.removeItem("vuex");
                                localStorage.removeItem("auth_token");
                            }, 300);
                        });
                    });
                }
            },
            async save() {
                let self = this;
                self.loadingBtn = true;
                let responses = this.setResponses();
                this.loadingBtn = true;
                await this.generateToken(true);
                await this.saveResponses(responses).then(res => {
                    self.closeDialog();
                }).catch(e => {
                    self.loadingBtn = false;
                });

                self.loadingBtn = false;
                await this.generateToken(false);
            },
            setResponses() {
                let self = this;
                let results = [];

                 _.each(self.formResponse, function(response, key) {// `choice` can be an object or string or false

                     if (_.isEmpty(response) || _.isEmpty(key)) {
                         return;
                     }

                     let [gqId, qId, qIdx, cId]   = key.split(self.formDelimeter);

                     let question                = self.allQuestions[gqId][qIdx];
                     let qCategory               = question.questionCategory;

                     if (_.includes(self.labels, question.form_label) && _.isArray(response) ) { // Format 'others' responses
                         response = _.map(response, 'value');
                     }

                    results.push({
                        "all_question_category_id":         qCategory.id,
                        "all_question_category_name":       qCategory.name,
                        "all_question_id":                  question.id,
                        "all_question_description":         question.description,
                        "all_question_type":                question.type,
                        "all_question_form_label":          question.form_label,
                        "all_question_choice_id":           (typeof response === 'object') ? response.id : null, // `response` is object of choices if not input text response type
                        "all_question_choice_description":  (typeof response === 'object') ? response.description : null,
                        "response":                         (typeof response === 'string') ? response : _.join(response,', '),
                    });
                });

                return results;
            },
            closeDialog() {
                this.loadingBtn = false;
                this.$router.push("/thankyou/onboarding");
            },
            setColumns(rows) {
                let count = rows.length;
                let klass = '';

                if(count > 8 && count < 30) {
                    klass = 'columns: 4;';
                } else if (count > 30) {
                    klass = 'columns: 5;';
                } else {
                    klass = '';
                }

                return klass;
            },
            groupQuestionAnswers(question) {
                let list        = [];
                let groups      = [];
                let results     = [];
                let groupName   = "";
                let others      = "Others";
                let choices     = question.questionChoices.data;

                if (question.group_choices) {
                    choices.forEach(value => {
                        groupName = value.group[0];
                        if (!_.isUndefined(groupName)) {
                            if (_.indexOf(groups, groupName) < 0) {
                                groups.push(groupName);
                            }
                        }

                        groups.sort();
                        groups = groups.filter((name) => { return name != others });
                        groups.push(others);
                    });

                    groups.forEach(group => {
                        list = _.filter(choices, (choice) => { return choice.group[0] === group });
                        results.push({ group_name: group, choices: _.sortBy(list, 'description') });
                    });
                }

                return results;
            },
            controlQuestion(qid, sequence, formLabel) {
                if (formLabel == 'remote_team_exp') {
                    if (sequence == 1) {
                        this.qHide.controlShow[formLabel] = true;
                        this.pageScroll($('#question_' + qid).offset().top);
                        $('.wizard-content').animate(
                            {scrollTop: $(document).height()},
                            'slow',
                        );
                    } else if (sequence == 2) {
                        this.qHide.controlShow[formLabel] = false;
                    }
                } else if (formLabel == 'legal_document') {
                    if (sequence == 1) {
                        this.qHide.controlShow[formLabel] = false;
                    } else if (sequence == 2){
                        this.qHide.controlShow[formLabel] = true;
                        this.pageScroll($('#question_' + qid).offset().top);
                        $('.wizard-content').animate(
                            {scrollTop: $(document).height()},
                            'slow',
                        );
                    }
                }
            },
            questionShowOrHide(qId,form) {
                let qIds = ['remote_team_exp_type','remote_team_exp_country']; // this is the ids included in hidding questions
                let qIds2 = ['signatory_contact_name', 'signatory_email_add'];
                let isHide = true;

                if (qIds.includes(form)) {
                    isHide = this.qHide.controlShow['remote_team_exp'];
                } else if (qIds2.includes(form)) {
                    isHide = this.qHide.controlShow['legal_document'];
                }

                return isHide;

            },
            rightPlaceholder(form_label) {
                let placeholder = 'Enter here';

                if (form_label == 'company_name') {
                    placeholder = 'example: My Company LLC';
                } else if (form_label == 'business_address') {
                    placeholder = 'Street Name, City, State, Zip Code';
                } else if (form_label == 'business_phone') {
                    placeholder = 'Enter phone/mobile number';
                } else if (form_label == 'primary_contact' || form_label == 'signatory_contact_name') {
                    placeholder = 'Enter name';
                } else if (form_label == 'email_address_primary_contact' || form_label == 'signatory_email_add') {
                    placeholder = 'Enter email address';
                }

                return placeholder;
            },
            slotName(index) {
                return `tab${index}`;
            },
            getTabTitle(slot) {
                let content = _.find(this.tabContents, (tab) => {
                    return tab.content === slot;
                })

                return content.title;
            },
            validate() {
                if (this.pageCounter == 1) {
                    return this.validateBusinessAddress();
                }

                let elementID = '';
                return this.$validator.validate().then(isValid => {
                    if(!isValid) {
                        elementID = document.querySelector('.form-error').attributes.data.textContent;
                        this.pageScroll($('#' + elementID).offset().top - 70);
                        document.getElementById('input_' + elementID).focus();
                    }

                    return isValid;
                });
            },
            changePageCtr(nextPageNumber) {
                this.pageScroll($('#fs-client-onboarding').offset().top);
                this.pageCounter = nextPageNumber + 1;
            },
            validateShortText(isRequired, formLabel) {
                let validateProperty = "";

                validateProperty += 'required: ' + isRequired;

                if (formLabel == 'email_address_primary_contact' || formLabel == 'signatory_email_add') {
                    validateProperty += '|email';
                }

                if (formLabel == "business_phone") {
                    validateProperty += '|numeric';
                }

                return validateProperty;
            },
            questionValidation(errors, question) {
                let choicesCount = question.questionChoices.data.length;
                let errorCollection = errors.collect(question.display_name).length;

                return (errorCollection >= choicesCount) && question.type != 'short_text' ? 'form-error' : '';
            },
            pageScroll(n) {
                $('html, body').animate({ scrollTop: n }, 'slow');
            },
            exclusiveResponse(id){
                let   cleared = false;

                /** This will clear other non-exclusive checkboxes **/
                _.each(this.exclusives, (obj) => {
                    if(id == obj.exclusive){
                        cleared = true;
                        _.each(obj.uncheck, (obj2) => {
                            this.formResponse[obj2] = '';
                        });
                    }
                });

                /** This will clear the exclusive checkbox when other non-exclusive checkbox is checked **/
                if(!cleared){
                    console.log("Cleared exclusive");
                    _.each(this.exclusives, (obj) => {
                        _.each(obj.uncheck, (obj2) => {
                            if(id == obj2){
                                this.formResponse[obj.exclusive] = '';
                            }
                        });
                    });
                }
            },
            singleResponse(qid, label, modelKey){
                const vm = this;
                if(label == 'legal_document'){
                    const t1 = $("input[form-label='signatory_contact_name']").attr('form-key');
                    const t2 = $("input[form-label='signatory_email_add']").attr('form-key');
                    setTimeout(function(){
                        if(vm.formResponse[modelKey].description.toUpperCase() == 'YES'){
                            vm.formResponse[t1] = [];
                            vm.formResponse[t2] = [];
                        }
                    }, 200);
                }
            },
            setAddressBreakdown(address) {
                this.addressBreakdown = address;
            },
            async validateBusinessAddress() {
                const isBusinessAddressValid = await _.head(this.$refs.business_address).validate();
                if (!isBusinessAddressValid) {
                    const elementID = document.querySelector('.form-error').attributes.data.textContent;
                    this.pageScroll($('#' + elementID).offset().top - 70);
                    document.querySelector('#input_' + elementID + '.error').focus();
                }

                let elementID = '';
                const otherFields = this.$validator.validate().then(isValid => {
                    if(!isValid) {
                        elementID = document.querySelector('.form-error').attributes.data.textContent;
                        this.pageScroll($('#' + elementID).offset().top - 70);

                        if (typeof document.querySelector('.form-error').attributes.business_address === 'undefined') {
                            document.getElementById('input_' + elementID).focus();
                        }
                    }

                    return isValid;
                });

                return isBusinessAddressValid && otherFields;
            },
        }
    };
</script>
