<template>
    <div class="s-tabs-container ks-tabs-default ks-tabs-no-separator ks-full ks-light main-page">
        <div class="header-form bg-info">
            <div>
                <!--<span>FULLSCALE</span>-->
            </div>
        </div>
        <div class="main-form">
            <div>
                <img src="/images/fs-logo.png"/>
            </div>
            <div class="form-title">
                <span>{{ displayMessage }}</span>
            </div>

        </div>
    </div>
</template>

<style lang="scss" scoped>
    body{
        padding-top: 0px!important;
    }
    .form-title {
        margin: 90px auto 0!important;
        position: relative;
        text-align: center;
        width: 80%;
        padding: 20px;
        span {
            font-size: 17pt;
            font-weight: 700;
            color: #444;
            position: relative;
        }
    }
    .main-form {
        width: 100%!important;
        position: relative;
        top: 60px;
        text-align: center;
        img{
            position: relative;
            width: 320px;
        }
    }
    .form-header {
        height: 200px!important;
        max-width: 100%!important;
        width: 100%!important;
    }
    div.header-form {
        height: 60px!important;
        max-width: 100%!important;
        width: 100%!important;
        position: fixed!important;
        top: 0px;
        left: 0px;
        z-index: 1;
        box-shadow: 0 4px 4px -1px #999999;
        -moz-box-shadow: 0 4px 4px -1px #999999;
        -webkit-box-shadow: 0 4px 4px -1px #999999;
        div {
            width: 1000px;
            position: relative;
            margin-left: 50%;
            left: -500px!important;
            span {
                width: 223px!important;
                position: relative;
                top: 12px!important;
                left: -7px!important;
                z-index: 1;
                color: #FFFFFF;

                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 29px;
            }
        }
    }
    .main-page {
        top: 0px;
        left: 0px!important;
        position: relative;
    }
    @media only screen and (max-width: 768px) {
        .form-title { width: 100%!important; }
    }
</style>

<script type="text/javascript">
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                page: this.$route.params.page,
                msgs: [
                    { 
                        page: 'undefined',
                        msg: 'Thank you. This confirms that we have received your information.'
                    },
                    { 
                        page: 'onboarding',                     
                        msg: 'Thank you for helping us gather the information we need to get your account and team setup. We will review your needs and someone at Full Scale will reach out to you soon.'
                    }
                ]
            }
        },
        computed : {
            ...mapGetters({
                organizationShortName: 'appSettings/getShortNameText',
            }),
            displayMessage() {
                let displaymsg = '';
                let currentPage = _.isUndefined(this.page) ? "undefined" : this.page;

                displaymsg = _.find(this.msgs, function(msg) {
                    return msg.page === currentPage
                });
                
                return displaymsg.msg
            }
        }
    }
</script>
