<template>
    <!-- BEGIN-HEADER -->
    <nav class="navbar ks-navbar">
        <!-- BEGIN HEADER INNER -->
        <!-- BEGIN LOGO -->
        <div class="navbar-brand">
            <Can I="view" a="navigation_sidebar_action">
                <!-- BEGIN RESPONSIVE SIDEBAR TOGGLER -->
            <a href="#" class="ks-sidebar-toggle" @click="triggerSidebar()">
                    <i class="ks-icon la la-bars" aria-hiden="true"></i>
                </a>
                <a href="#" class="ks-sidebar-mobile-toggle">
                    <i class="ks-icon la la-bars" aria-hidden="true"></i>
                </a>
            </Can>
            <!-- END RESPONSIVE SIDEBAR TOGGLER -->
            <div class="ks-navbar-logo">
                <a href="/" class="ks-logo"><img :src="fullScaleLogo" :alt="organizationShortNameAllCaps" class="comp-logo" /></a>
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN MENUS -->
        <div class="ks-wrapper">
            <nav class="nav navbar-nav">
                <!-- BEGIN NAVBAR MENU -->
                <div class="ks-navbar-menu">

                </div>
                <!-- END NAVBAR MENU -->
                <!-- BEGIN NAVBAR ACTIONS -->
                <div class="ks-navbar-actions">
                    <Can I="view" a="employee_search_bar">
                        <search-form></search-form>
                    </Can>
                    <!-- BEGIN NAVBAR MESSAGES -->
                   <!--  <navbar-messages></navbar-messages> -->
                    <!-- END NAVBAR MESSAGES -->
                    <!-- BEGIN NAVBAR NOTIFICATIONS -->
                    <Can I="view" a="notifications">
                        <navbar-notifications></navbar-notifications>
                    </Can>
                    <!-- END NAVBAR NOTIFICATIONS -->
                    <!-- BEGIN NAVBAR USER -->
                    <navbar-user></navbar-user>
                    <!-- END NAVBAR USER -->
                </div>
                <!-- END NAVBAR ACTIONS -->
            </nav>
        </div>
        <!-- END MENUS -->
        <!-- END HEADER INNER -->
    </nav>
    <!-- END HEADER -->
</template>

<style lang="scss" scoped>
    .ks-navbar{
            min-width: 300px;
    }
    .ks-navbar-actions {
        padding-right: 20px !important;
    }
    .comp-logo {
        width: 108px;
    }
    a:hover.ks-logo {
       cursor: pointer;
       text-decoration:none;
    }

    @media only screen and (max-width : 780px) {
        .ks-navbar-actions {
        display: contents !important;
        }
    }

    @media only screen and (max-width : 520px) {
        form.ks-search-form {
        display: none;
        }
    }
</style>

<script>
    import SearchForm from '@components/search-form.vue'
    import NavbarMessages from '@components/navbar-messages.vue'
    import NavbarNotifications from '@components/navbar-notifications.vue'
    import NavbarUser from '@components/navbar-user.vue'
    import { mapGetters, mapActions } from 'vuex';
    import $ from 'jquery';

    export default {
        components: {
            SearchForm,
            NavbarMessages,
            NavbarNotifications,
            NavbarUser
        },
        mounted() {
            let commonJs = document.createElement('script');
            commonJs.setAttribute('src', '/js/common.min.js');
            commonJs.defer = true;
            document.body.appendChild(commonJs);   

            $('.ks-sidebar-toggle, .ks-sidebar-mobile-toggle').click(function() {
                $('body').toggleClass('close-sidebar ks-sidebar-compact');
            });
        },
        computed : {
            ...mapGetters({
                organizationShortNameAllCaps: 'appSettings/getShortNameTextAllCaps',
                fullScaleLogo: 'appSettings/getFullScaleLogo',
            }),
        },
        methods: {
            ...mapActions({
                triggerSidebar: 'appSettings/triggerSidebar'
            }),
        }
    }
</script>

