<template>
    <div class="container-grid" id="portfolio">
        <div class="profile-column background-primary">
            <div class="profile-box">
                <h4 class="d-block d-sm-none text-center text-white mb-5">{{ position(employee.data.positions.data) }}</h4>
                <img id="arrow-up" src="/images/arrow-up.png"/>
                <div class="image-circle">
                    <img
                        v-if="photos"
                        class="profile-picture"
                        :src="photo(employee.data)"
                        :alt="employee.data.first_name + ' ' + getLastnameInitial(employee.data.last_name)">
                    <div v-if="assets.video_profile" class="overlay" @click="showProfileVideo">
                        <span class="icon" title="Profile Video">
                            <i class="fa fa-play"></i>
                        </span>
                    </div>
                </div>
                <!-- change to something dynamic! (from db) needs -->
                <img v-if="assets.video_profile" class="curve-image" src="../../../public/assets/img/video.png">
            </div>
            <div class="employee-overview">
                <div v-if="employee.data.summary" class="employee-overview-child mt-0">
                    <span class="about-skill-sprited my-3"></span>
                    <div class="about--me text-justify">{{ employee.data.summary }}</div>
                </div>
                <div v-if="skills" class="employee-overview-child">
                    <span class="employee-skillbar-sprited my-3"></span>
                    <div class="">
                        <div id="skills" class="skills-card row">
                            <div class="skill-card col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3 v-if="this.hackerRankTestResult.length > 0">Full Scale Certifications</h3>

                                <div class="skill" v-for="(hrTest, index) in this.hackerRankTestResult" :key="index">
                                    <h4  v-if="hrTest.actual_score >= 50 && hrTest.skillName != ''">{{ hrTest.skillName }}</h4>
                                    <div v-if="hrTest.actual_score >= 50 && hrTest.skillName != ''" class="progress">
                                        <div class="progress-bar" :style="{ width: hrTest.actual_score + '%'}"></div>
                                        <span class="rating">{{ hrTest.actual_score }} %</span>
                                    </div>
                                </div>
                            </div>
                            <div v-if="employee.data.skills.data.length > 0" class="skill-card self-assessment col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3>Assessments</h3>
                                <div class="skill" v-for="(skill, index) in employee.data.skills.data" :key="index">
                                    <h4 v-if="skill.proficiency  >= 5 && skill.proficiency <= 10">{{ skill.name }}</h4>
                                    <div v-if="skill.proficiency >= 5 && skill.proficiency <= 10" class="progress">
                                        <div class="progress-bar" :style="{ width: calculateSkillPercentage(skill.proficiency) }"></div>
                                        <span class="rating">{{ skill.proficiency }}/10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-section" :style="!assets.video_banner ? 'min-height:520px' : ''">
            <div class="video-wrapper">
                <video v-if="assets.video_banner" id="video-background" autoplay muted loop plays-inline>
                    <source :src="assets.video_banner" type="video/mp4">
                </video>
            </div>
            <div class="banner-positioning">
                <div class="banner-section-child  banner-logo">
                    <!-- change to something dynamic needs -->
                    <img src="../../../public/assets/img/logos/full-scale-header-logo.png">
                </div>
                <div class="banner-section-child banner-info">
                    <h1 class="banner-name">
                        <span class="name-color-primary">{{ getFirstNameMaxofTwo(employee.data.first_name) | upperCase }}</span>
                        <span class="name-color-secondary">{{ getLastnameInitial(employee.data.last_name) | upperCase }}</span>
                    </h1>
                    <h2 v-if="positions" class="banner-position">
                        {{ position(employee.data.positions.data) }}
                    </h2>
                    <h3 v-if="locations" class="banner-location">
                        {{ employee.data.location.data ? location(employee.data.location.data) : '' }}
                    </h3>
                </div>
                <div v-if="shift" class="text-center mb-0 d-none d-md-block">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                            <h5 class="bg-secondary text-white text-center mb-0 border border-secondary p-2">AVAILABLE SHIFTS</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 mb-0">
                                    <div class="shift-time border border-secondary rounded-bottom">
                                        <div class="t-cell"
                                        v-for="(shift, index) in employee.data.shift.data" :key="index"
                                        >
                                            <p class="m-0 pt-1 pb-1">
                                                {{ removeMinutes(shift.time.ph.start) }} - {{ removeMinutes(shift.time.ph.end) }}, PHT
                                            </p>
                                            <p class="m-0 pt-1 pb-1">
                                                {{ removeMinutes(shift.time.cst.start) }} - {{ removeMinutes(shift.time.cst.end) }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="shift" class="text-center mb-0 d-block d-md-none">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                            <h5 class="bg-secondary text-white text-center mt-sm-5 mb-0 border-secondary p-2">AVAILABLE SHIFTS</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 mb-0">
                                    <div class="shift-time border border-secondary rounded-bottom">
                                        <div class="t-cell"
                                        v-for="(shift, index) in employee.data.shift.data" :key="index"
                                        >
                                            <p class="m-0 pt-1 pb-1">
                                                {{ removeMinutes(shift.time.ph.start) }} - {{ removeMinutes(shift.time.ph.end) }}, PHT
                                            </p>
                                            <p class="m-0 pt-1 pb-1">
                                                {{ removeMinutes(shift.time.cst.start) }} - {{ removeMinutes(shift.time.cst.end) }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section">
            <div v-if="workExperiences" class="content-section-child work-experience">
                <div class="content-section-child-header"><i class="la la-suitcase"></i> WORK EXPERIENCE</div>
                <div
                    v-for="(experience, index) in employee.data.sortedWorkExperiences"
                    :key="index"
                    class="content-section-child-data"
                    :class="{ 'first-child': index === 0, 'last-child': index === employee.data.workExperiences.data.length - 1 }">
                    <div v-if="experience.current" class="content-section-child-data-duration">
                        Started at {{ experience.company_name }}: {{ formatDate(experience.start_date, 'MMMM YYYY')}}
                    </div>
                    <div v-else class="content-section-child-data-duration">
                        {{ formatDate(experience.start_date, 'MMM YYYY')}} - {{ formatDate(experience.end_date, 'MMM YYYY') }}
                    </div>
                    <div class="content-section-child-data-description">
                        <h3 class="d-none d-sm-block">{{ experience.job_title }}</h3>
                        <h3 class="d-block d-sm-none">{{ experience.job_title }}</h3>
                        <h4>{{ experience.company_name }}</h4>
                        <p>{{ experience.description }}</p>
                    </div>
                </div>
            </div>
            <div v-if="educations" class="content-section-child education">
                <div class="content-section-child-header"><i class="la la-mortar-board"></i> EDUCATION</div>
                <div
                    v-for="(education, index) in getEducationData(employee.data)"
                    :key="index"
                    class="content-section-child-data"
                    :class="{'first-child': index === 0, 'last-child': index === employee.data.workExperiences.data.length - 1}">
                    <div class="content-section-child-data-duration">
                        {{ education.is_present == 1 ? 'Present' : 'Year '+education.year_completed }}
                    </div>
                    <div class="content-section-child-data-description">
                        <h3>{{ education.school_university }}</h3>
                        <h4>{{ education.course_degree }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <div class="address">
                <i class="la la-map-marker"></i>
                <h3>8900 State Line Road, Suite 100, Leawood KS</h3>
            </div>
            <div class="email">
                <i class="la la-envelope"></i>
                <h3><a href="mailto:sales@fullscale.io">sales@fullscale.io</a></h3>
            </div>
            <div class="telephone">
                <i class="la la-phone"></i>
                <h3><a href="tel:9135534510">913 553 4510</a></h3>
            </div>
        </div>
        <div id="ks-izi-modal-video" class="ks-izi-modal" style="display: none;"></div>
    </div>
</template>

<style>
    div#app > div#portfolio {
        position: relative;
    }
    body.ks-navbar-fixed {
        padding-top: 0px;
    }
    div#app {
        overflow-x: hidden;
    }
    .video-js .vjs-tech {
        left: -20px;
    }
    .video-js {
        overflow: hidden;
    }
</style>
<style lang="scss" scoped>
    /* default style, mobile devices */
    .background-primary {
        background-color: #15a049;
    }
    .video-wrapper {
        position: absolute;
        overflow: hidden;
        width: auto;
        height: 100%;
        right: 0;
        bottom: 0;
    }
    video#video-background {
        position: relative;
        overflow: hidden;
        width: auto;
        max-height: 100%;
        padding: 0;
        margin-right: 1%;
        float: right;
        bottom: 0;
    }
    .banner-positioning {
        position: relative;
        width: 100%;
        padding: 2rem;
    }
    .container-grid {
        display: grid;
        min-width: 100%;
        min-height: 100%;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            "banner"
            "profile"
            "main"
            "footer";
    }
    .profile-column {
        grid-area: profile;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        padding-top: 20%;
    }
    .social-panel {
        flex: 0 0 10%;
        display: none;
        flex-flow: row wrap;
        height: 15%;
        max-height: 15%;
        position: absolute;
        align-content: flex-start;
    }
    .social-panel-child {
        flex: 0 0 100%;
        padding: 0;
    }
    .social-panel-child i {
        color: #fff;
        font-size: 2em;
        font-weight: 700;
    }
    .fb-panel i {
        position: absolute;
        top: 27px;
        left: 15px;
        z-index: 1;
    }
    .linkedin-panel i {
        position: absolute;
        top: 87px;
        left: 10px;
        z-index: 1;
    }
    .youtube-panel i {
        position: absolute;
        top: 147px;
        left: 10px;
        z-index: 1;
    }
    .icon-panel:hover .rhombus {
        -webkit-box-shadow: 5px -4px 19px -5px #000;
    }
    .rhombus {
        width: 45px;
        height: 60px;
        margin-top: 0;
        -webkit-transform: rotate(67.5deg) skewX(45deg) scaleY(0.70711);
        transform: rotate(90.5deg) skewX(24deg) scaleY(0.70711);
        position: relative;
        top: 10px;
        background: #5dac31;
    }
    .profile-box {
        position: relative;
        flex: 0 0 80%;
        margin-left: 10%;
        height: auto !important;
        min-height: 270px;
    }
    .banner-info-extended {
        text-align: center;
        width:100%;
        display: none;
    }
    .banner-info-extended .banner-position,
    .banner-info-extended .banner-location {
        color: #fff !important;
    }
    .banner-info-extended .section-child-shift {
        display: grid;
        width: 82%;
        margin: 0 auto;
        grid-template-columns: 0fr 0.5fr 5.5fr 0fr;
    }
    .image-circle {
        overflow: hidden;
        height: 190px;
        width: 190px;
        border-radius: 100%;
        border: 4px solid #fff;
        margin: 0 auto;
        background-position: -5px -4px;
        position: relative;
        z-index: 1;
    }
    .profile-picture {
        background: #d1d1d1;
        display: block;
        height: auto;
        object-fit: cover;
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background: rgba(255,255,255, 0.3);
    }
    .overlay .icon {
        color: #438b2d;
        font-size: 4.5rem;
        position: absolute;
        top: 53%;
        left: 53%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }
    span i.fa-play-circle:hover {
        color: #495057;
        cursor: pointer;
    }
    .image-circle:hover .overlay {
        opacity: 1;
    }
    .curve-image {
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: center;
        top: -48px;
        left: 0px;
    }
    .employee-overview {
        flex: 0 0 80%;
        margin-left: 10%;
        display: flex;
        flex-flow: row wrap;
        color: #fff;
        padding-top: 20px !important;
    }
    .employee-overview-child {
        margin-top: 10%;
        flex: 0 0 100%;
    }
    span.about-skill-sprited {
        display: block;
        height: 50px;
        width: 50px;
        background: url("../../../public/assets/img/sprited-icons.png") no-repeat;
        background-position: -6px -1px;
        background-size: cover;
    }
    span.about-skill-sprited:before {
        content: 'ABOUT';
        color: #fff;
        font-size: 20px;
        vertical-align: -webkit-baseline-middle;
        position: relative;
        top: 10px;
        left: 50px;
    }
    .about--me {
        font-size: 14px;
    }
    #arrow-up {
        position: absolute;
        top: 170px;
        right: 0;
    }
    i {
        font-size: 24px;
        margin-right: 5px;
    }
    span.employee-skillbar-sprited  {
        display: block;
        height: 50px;
        width: 50px;
        background: url("../../../public/assets/img/sprited-icons.png") no-repeat;
        background-position: -6px -57px;
        background-size: cover;
    }
    span.employee-skillbar-sprited:before {
        content: 'SKILLS';
        color: #fff;
        font-size: 20px;
        vertical-align: -webkit-baseline-middle;
        position: relative;
        top: 10px;
        left: 50px;
    }
    h3.employee-overview-child-header {
        text-align: center;
        color: #fff;
    }
    h4.child-label {
        color: #fff;
    }
    .bar {
        height: 12px;
        margin: 2px 2px;
        position: absolute;
    }
    .skills-card {
        width: 100%;
        margin: 0 auto 25px auto;
        position: relative;
        line-height: 2em;
        padding: 0;
        background: #dedede;
        border-radius: 5px;
        h3 {
            width: 100%;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            min-height: 40px;
        }
        .skill-card {
            min-height: 40px;
            .skill {
                h4 {
                    font-size: 16px;
                    color: #333;
                }
                .progress {
                    margin-bottom: 24px;
                    background: #fff;
                    .progress-bar {
                        background-color: #349165;
                        border-bottom: 1px solid #fff;
                    }
                    .rating {
                        position: absolute;
                        font-size: 11px; /* make responsive */
                        font-weight: 500;
                        color: #222;
                        margin-top: -5px;
                        right: 20px;
                    }
                    .rating-full {
                        position: absolute;
                        font-size: 11px; /* make responsive */
                        font-weight: 500;
                        color: #ffffff;
                        margin-top: -5px;
                        right: 6px;
                    }
                }
            }
            h3 {
                width: 100%;
                text-align: center;
                margin: 30px auto 24px;
                text-transform: uppercase;
                min-height: 40px;
                position: relative;
                font-size: 20px;
                color: #21a53f;
            }
        }
        .skill-card.self-assessment {
            background: #c5c5c5 !important;
            border-radius: 0 0 5px 5px;

            .skill {
                h4 {
                    color: #333;
                }
                .progress {
                    .progress-bar {
                        background-color: #349165;
                    }
                }
            }
            h3 {
                color: #333;
            }
        }
    }
    .content-section-child-data {
        border-top: 1px solid #fff;
        h3 {
            color: #28a745 !important;
            font-size: 20px;
        }
        h4 {
            font-style: italic;
            font-weight: 600;
            color: #111;
            font-size: 16px;
        }
    }
    .banner-section {
        width: 101%;
        grid-area: banner;
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        /* use gif passed from employee instead from this url */
        background: url("../../../public/assets/img/banner-cover.png") no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
    }
    .banner-section-child.banner-logo {
        margin: 0%;
    }
    .banner-section-child.banner-info {
        margin: 10% 20% 3% 0%;
    }
    .banner-section-child {
        flex: 0 0 55%;
    }
    .banner-section-child img {
        object-fit: contain;
        width:80%;
    }
    h1.banner-name {
        font-size: 3em;
        font-weight: 700;
        letter-spacing: 2px;
    }
    h2.banner-position {
        font-size: 1.5em;
        font-weight: 600;
    }
    h3.banner-location {
        font-size: 1.25em;
        font-weight: 600;
    }
    span.name-color-secondary {
        color: #007840;
    }
    span.name-color-light {
        color: #fff;
    }
    .section-child-shift {
        display: grid;
        grid-template-rows: 5fr 5fr;
        grid-template-columns: 0fr 0.5fr 7.5fr 1fr;
        align-items: center;
        grid-template-areas:
            "shiftTitle . shiftTime ."
            "shiftTitle . shiftTime .";
    }
    .shift-title {
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: #000000;
    }
    .shift-time {
        font-size: 1em;
        font-weight: 600;
        display: table;
        height: 40px;
        width: 100%;
    }
    .t-cell {
        display: table-cell;
        vertical-align: middle;
    }
    span.rotate-shift {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 1px;
        color: #fff;
        padding: 0 3px 2px 0;
        text-align: center;
    }
    .content-section {
        grid-area: main;
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        align-self: start;
    }
    .content-section-child {
        flex: 0 0 100%;
        display: flex;
        flex-flow: row wrap;
    }
    .content-section-child-header {
        flex: 0 0 100%;
        background: #111;
        color: #fff;
        vertical-align: middle;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 2% 0 2% 2.5%;
        display: flex;
        align-items: center;
    }
    .content-section-child-data {
        flex: 0 0 98%;
        display: flex;
        flex-flow: row wrap;
        margin-left: 1%;
        margin-right: 1%;
        background: #eeedee;
    }
    .first-child {
        background: #dddcdd;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .last-child {
        margin-bottom: 1%;
    }
    .content-section-child-data-duration {
        flex: 100%;
        padding: 15px;
        color: #858585;
        font-weight: normal;
        font-size: 2vh;
        padding-top: 25px;
    }
    .content-section-child-data-description {
        flex:68%;
        padding: 3%;
    }
    .footer-section {
        grid-area: footer;
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        vertical-align: bottom;
        margin: 1%;
        align-items: stretch;
    }
    .footer-section div {
        border-right: 2px solid #007840;
        padding: 1%;
    }
    .footer-section div i {
        color: #007840;
        font-size: 1em;
        vertical-align: -webkit-baseline-middle;
        margin-right: 1%;
        font-weight:700;
    }
    .footer-section div h3 {
        font-size: 0.8em;
        display: inline-block;
        vertical-align: bottom;
        margin: 0;
    }
    .footer-section div:last-child {
        border-right: none;
    }
    .address {
        flex: 0 0 31%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .email {
        flex: 0 0 31%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .email a {
        color: #333;
    }
    .telephone {
        flex: 0 0 31%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .telephone a {
        color: #333;
    }
    /* for large desktop devices */
    @media (min-width: 1824px) {
        .container-grid {
            display: grid;
            grid-template-columns: 15fr 20fr 50fr 15fr;
        }
        .profile-column {
            padding-top: 25%;
        }
        .profile-box {
            margin-bottom: 0;
        }
        h1.banner-name {
            font-size: 4em;
        }
        h2.banner-position {
            font-size: 1.7em;
        }
        h3.banner-location {
            font-size: 1.25em;
        }
        .section-child-shift {
            grid-template-rows: 5fr 5fr;
            grid-template-columns: 0fr 0.5fr 16.5fr;
            grid-template-areas:
                "shiftTitle . shiftTime"
                "shiftTitle . shiftTime";
        }
        span.rotate-shift {
            font-size: 1.5em; /* make responsive */
            letter-spacing: 1px; /* make responsive */
        }
        .content-section-child-header {
            font-size: 18px; /* make responsive */
            letter-spacing: 2px;
            padding: 1% 0 1% 2.5%;
        }
        .content-section-child-data-duration {
            font-size: 18px; /* make responsive */
        }
        .footer-section div i {
            font-size: 2em;
        }
        .footer-section div h3 {
            font-size: 1.3em;
        }
    }
    /* medium screen desktop */
    @media (min-width: 1250px) {
        .footer-section div i {
            font-size: 1.2em;
        }
        .footer-section div h3 {
            font-size: 1em;
        }
    }
    @media (max-width: 1191px) {
        .banner-section-child.banner-info {
            margin: 0;
        }
    }
    /* small screen desktop */
    @media (min-width: 1080px) {
        .container-grid {
            display: grid;
            grid-template-columns: 10fr 30fr 50fr 10fr;
        }
        .profile-box {
            height: 14%;
        }
        .address {
            flex: 0 0 50%;
        }
        .email {
            flex: 0 0 25%;
        }
        .telephone {
            flex: 0 0 25%;
        }
    }
    @media (min-width: 769px) and (max-width: 850px) {
        video#video-background {
            bottom: -10%;
        }
    }
    @media (min-width: 769px) {
        .container-grid {
            display: grid;
            grid-template-rows: max-content 1fr max-content;
            grid-template-columns: 0fr 33fr 56fr 0fr;
            grid-template-areas:
                ". profile banner ."
                ". profile main ."
                ". profile footer .";
        }
        .profile-box {
            margin-bottom: 0%;
        }
        .content-section-child-data{
            flex: 0 0 100%;
        }
        .content-section-child-data-duration {
            flex: 0 0 28%;
            color: #858585;
            background: none;
        }
        .content-section-child-data-description p {
            white-space: pre-line;
        }
        .content-section-child-data-description[data-v-faf6b022] {
            flex: 0 0 68%;
            padding: 2%;
        }
        .banner-positioning {
            width: 63%;
            padding-left: 1.5rem !important;
        }
    }
    @media(max-width: 768px) {
        .video-wrapper {
            display: none;
        }
        .banner-section > video {
            display: none !important;
        }
         .banner-section{
            min-height: 450px;
        }
        .employee-overview-child {
            margin-top: 5%;
        }
        .skills-card .skill .progress {
            margin-bottom: 10% !important;
        }
        .banner-section-child img {
            width: 55%;
        }
        .banner-section-child.banner-info {
            margin-right: 12rem;
        }
        .content-section-child-data-description p {
            white-space: pre-line;
        }
    }
    @media(max-width:576px){
        .banner-section{
            min-height: 400px;
        }
        #arrow-up {
            top: 230px;
        }
    }
    @media(max-width:500px){
        .banner-section{
            min-height: 400px;
        }
        .content-section-child-data h3{
            color: #28a745 !important;
        }
    }
    @media(max-width:425px) {
        .banner-positioning .banner-position,
        .banner-positioning .banner-location,
        .banner-positioning .section-child-shift {
            display: none;
        }
        .container-grid > .banner-section {
            min-height: 300px !important;
        }
        .banner-section-child.banner-logo,
        .banner-section-child.banner-info {
            margin: 0;
        }
        .banner-positioning {
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            background: rgba(228, 228, 228, 0.39);
            bottom: 0;
            padding-bottom: 20px !important;
        }
        .banner-info-extended {
            display: block;
        }
        h1.banner-name {
            margin-bottom: 0;
        }
        .section-child-shift .shift-time {
            position: relative;
            z-index: 0;
        }
        .section-child-shift .shift-title {
            position: relative;
            z-index: 1;
            left: 12px;
        }
        .content-section-child-data h3 {
            color: #28a745 !important;
        }
        #arrow-up {
            top: 230px;
        }
    }
    @media(max-width:400px){
        .content-section-child-data h3{
            color: #28a745 !important;
        }
        #arrow-up {
            top: 230px;
        }
    }
    @media(max-width:320px){
        div#portfolio {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-width: 319px;
            width: 100%;
        }
        #arrow-up {
            top: 230px;
        }
    }
    @keyframes animateBar {
        0% {transform: translateX(-100%);}
        100% {transform: translateX(0);}
    }
</style>

<script>
    import { EmployeeProfile } from "@common/model/EmployeeProfile";
    import { Asset } from "@common/model/Asset";
    import ProfileInfo from "@components/profile-info.vue";
    import ProfileTitle from "@components/profile-title.vue";
    import ProgressBarNumber from "@components/progress-bar-number.vue";
    import SkillsAndProficiencyMixin from "@common/mixin/SkillsAndProficiencyMixin";
    import DateMixin from "@common/mixin/DateMixin";
    import EmployeeMixin from "@common/mixin/EmployeeMixin";
    import EmployeeEducationMixin from "@common/mixin/EmployeeEducationMixin";
    import LoaderMixin from "@common/mixin/LoaderMixin";
    import jQuery from 'jquery';
    import iziModal from 'izimodal/js/iziModal.min';
    import 'izimodal/css/iziModal.css';
    import _ from "lodash";

    export default {
        components: {
            ProfileInfo,
            ProfileTitle,
            ProgressBarNumber,
            Asset
        },
        mixins: [
            SkillsAndProficiencyMixin,
            DateMixin,
            EmployeeMixin,
            EmployeeEducationMixin,
            LoaderMixin
        ],
        data() {
            return {
                employee: {
                    data: {
                        educations: [],
                        first_name: "",
                        last_name: "",
                        gender: "",
                        positions: [],
                        portfolios: [],
                        workExperiences: [],
                        sortedWorkExperiences: [],
                        skills: [],
                        languages: [],
                        photo: [],
                        hackerRankTestResult: [],
                        summary: "",
                        shift: {
                            data: {
                                shift: "",
                                time: {
                                    cst: {
                                        end: "",
                                        start: ""
                                    },
                                    ph: {
                                        end: "",
                                        start: ""
                                    }
                                }
                            }
                        },
                        location: ""
                    }
                },
                assets: {
                    video_banner: '',
                    video_profile: '',
                    photo_banner: ''
                },
                include: [
                    "positions",
                    "photo",
                    "workExperiences",
                    "skills",
                    "languages",
                    "educations",
                    "portfolios",
                    "department",
                    "user",
                    "shift",
                    "location",
                    "hackerRankTestResult.hackerRankTest.skill"
                ]
            };
        },
        async created() {
            const username = this.$route.params.username;

            await EmployeeProfile.get({
                username: username,
                include: this.include.join(",")
            }).then(res => {
                this.employee = res;
                let hackerRankTestResults = this.employee.data.hackerRankTestResult.data;
                let tempSkillId = '';
                let tempScore = 0;
                let tempSkillIds = [];
                let selfAssessment = [];
                let tempSelfAssessment = []

                if (this.employee.data.skills.data.length) {
                    tempSelfAssessment = this.employee.data.skills.data.splice(0, this.employee.data.skills.data.length);

                    hackerRankTestResults.forEach((data) => {
                        if (this.nestedObjhasProperty(data,'hackerRankTest.data.skill')) {
                            if ((tempSkillId != data.hackerRankTest.data.skill.data.id)) {
                                 if (data.percent_score >= 50) {
                                    tempSkillIds.push(data.hackerRankTest.data.skill.data.id);
                                    tempSkillId = data.hackerRankTest.data.skill.data.id;
                                }
                            }
                        }
                    });

                    tempSelfAssessment.forEach((data) => {
                        if (!tempSkillIds.includes(data.skill_id)) {
                            selfAssessment.push(data);
                        }
                    });

                    this.employee.data.skills.data = selfAssessment;
                }

                this.assets.video_profile = this.getAssetURL(res.data.photo, 6);
                this.assets.video_banner = this.getAssetURL(res.data.photo, 7);
                this.photo_banner = this.getAssetURL(res.data.photo, 8);
                this.employee.data.sortedWorkExperiences = _.orderBy(this.employee.data.workExperiences.data, ['end_date'], ['desc']);
                this.hackerRankTestResultTransform();
            });
        },
        mounted() {
            this.hideLoader();
        },
        computed: {
            educations() {
                return this.employee.data.educations.data &&
                this.employee.data.educations.data.length
                    ? true
                    : false;
            },
            photos() {
                return this.employee.data.photo.data ? true : false;
            },
            positions() {
                return this.employee.data.positions.data &&
                this.employee.data.positions.data.length
                    ? true
                    : false;
            },
            portfolios() {
                return this.employee.data.portfolios.data &&
                this.employee.data.portfolios.data.length
                    ? true
                    : false;
            },
            skills() {
                return this.hackerRankTestResult && this.hackerRankTestResult.length > 0 ||
                this.employee.data.skills.data && this.employee.data.skills.data.length > 0
                    ? true
                    : false;
            },
            languages() {
                return this.employee.data.languages.data &&
                this.employee.data.languages.data.length
                    ? true
                    : false;
            },
            workExperiences() {
                return this.employee.data.workExperiences.data &&
                this.employee.data.workExperiences.data.length
                    ? true
                    : false;
            },
            summary() {
                return this.employee.data.summary != "" ? true : false;
            },
            shift() {
                return this.employee.data.shift.data.length
                    ? true
                    : false;
            },
            locations() {
                return this.employee.data.location &&
                this.employee.data.location.data
                    ? true
                    : false;
            }
        },
        methods: {
            removeMinutes(time) {
                let hr = time.split(":");
                let g  = time.split(" ");
                let tz  = time.split(",");

                if (tz.length == 2) {
                    return hr[0] + ' ' + g[1] + ' ' + tz[1];
                } else {
                   return hr[0] + ' ' + g[1];
                }
            },
            getAssetURL(assets, type){
                let id = 0;
                let url = '';
                assets.data.forEach((data) => {
                    if(data.type == type){
                        if(data.id > id){
                            id = data.id;
                            url = data.path;
                        }
                    }
                });
                return url;
            },
            getFirstNameMaxofTwo(firstname) {
                var fName = firstname.split(" ");
                return (fName.length > 1) ? fName[0]+" "+fName[1] : firstname;
            },
            getLastnameInitial(fullname) {
                return typeof fullname[0] !== "undefined"
                    ? fullname[0] + "."
                    : fullname;
            },
            calculateSkillPercentage(proficiency) {
                var width = 0;
                width = (proficiency / 10) * 100 -1 ;
                return width + "%";
            },
            showProfileVideo() {
                let $ = jQuery;
                $.fn.iziModal = iziModal;
                $("#ks-izi-modal-video").iziModal({
                    headerColor: '#000',
                    title: this.getFirstNameMaxofTwo(this.employee.data.first_name) + "'s Video Profile",
                    icon: 'icon-settings_system_daydream',
                    overlayClose: true,
                    fullscreen: true,
                    openFullscreen: false,
                    autoOpen: false,
                    closeOnEscape: true,
                    iframe: true,
                    iframeHeight: 400,
                    iframeURL: this.assets.video_profile,
                    transitionIn: 'bounceInDown',
                    transitionOut: 'bounceOutUp'
                });
                $('#ks-izi-modal-video').iziModal('open');
            },
            hackerRankTestResultTransform(){
                let tests = this.employee.data.hackerRankTestResult.data;
                let testsArray = [];
                let tempSkillId = '';
                let tempSkillTests = [];
                let tempScore = 0;
                let tempTestsArray = [];
                let testLength = tests.length;

                tests.forEach((data) => {
                    if (this.nestedObjhasProperty(data,'hackerRankTest.data.skill')) {
                        let flagger = false;
                        let tempScore = 0;

                        if (tempSkillTests.length > 0) {
                             tempSkillTests.forEach((tempData) => {
                                 if (data.hackerRankTest.data.skill.data.id == tempData.hackerRankTest.data.skill.data.id) {
                                     flagger = true;
                                     tempScore = tempData.percent_score;
                                 }
                             });
                        }

                        if (!flagger) {
                            tempTestsArray.push(data);
                            tempSkillTests.push(data);
                        }
                    }
                });

                tempTestsArray.forEach((data) => {
                    if (data.percent_score >= 50) {
                        testsArray.push({
                            skillName: this.nestedObjhasProperty(data,'hackerRankTest.data.skill') ? data.hackerRankTest.data.skill.data.name : "", // if 'tag' is not set in HackerRank, set  to empty
                            actual_score: data.percent_score,
                            scoreRangeIn1To10: Math.round(data.percent_score / 10)
                        });
                    }
                });
                this.hackerRankTestResult = testsArray;
            }
        },
        filters: {
            upperCase: function (value) {
                if (!value) return '';
                value = value.toString().trim();
                return value.toUpperCase();
            }
        }
    };
</script>
